Repository oppia/oppia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prasanna08, @DubeySandeep, @kevinlee12, @nithusha21, @apb7, @aks681, @seanlip, @ankita240796, @brianrodri, @AllanYangZhou, @bansalnitish, @vojtechjelinek

.github/CODEOWNERS:

# Per-directory ownership and automatic assignment for pull requests.

# The paths to the directory/files must be relative to the location of this
# file. Wildcards such as '**', '!' are not allowed. Only glob style patterns
# are allowed. For information about supported glob patterns please refer
# https://docs.python.org/2/library/glob.html.

# Note: The e2e test files are owned by both the dev workflow and QA teams.
# - The QA team will do an initial review to verify the PR's test coverage. They
#   will then ask the dev workflow team for a final review.
# - The dev workflow team will review the code quality to see if the e2e tests
#   can be optimized further.

# Answer classification team.
/core/controllers/classifier*.py @prasanna08
/core/domain/classifier*.py @prasanna08
/core/storage/classifier/ @prasanna08
/core/templates/dev/head/domain/classifier/ @prasanna08
/extensions/classifiers/ @prasanna08


# Audio and Translation team.
/core/controllers/translator*.py @DubeySandeep
/core/templates/dev/head/pages/exploration-editor-page/translation-tab/ @DubeySandeep


# Collection project.
/core/controllers/collection*.py @kevinlee12
/core/domain/collection*.py @kevinlee12
/core/storage/collection/ @kevinlee12
/core/templates/dev/head/domain/collection/ @kevinlee12
/core/templates/dev/head/pages/collection_editor/ @kevinlee12
/core/templates/dev/head/pages/collection-player-page/ @kevinlee12


# Dashboard pages.
/core/controllers/creator_dashboard*.py @nithusha21
/core/domain/activity*.py @nithusha21
/core/domain/learner_playlist_services*.py @nithusha21
/core/domain/learner_progress*.py @nithusha21
/core/domain/subscription_services*.py @nithusha21
/core/templates/dev/head/domain/creator_dashboard/ @nithusha21
/core/templates/dev/head/domain/learner_dashboard/ @nithusha21
/core/templates/dev/head/pages/learner-dashboard-page/ @nithusha21
/core/templates/dev/head/pages/notifications-dashboard-page/ @nithusha21
/core/templates/dev/head/pages/creator-dashboard-page/ @nithusha21
/core/templates/dev/head/pages/email-dashboard-page/ @nithusha21


# Dev workflow team.
/scripts/ @apb7


# Exploration project.
/core/controllers/editor*.py @DubeySandeep
/core/domain/exp*.py @DubeySandeep
/core/domain/fs*.py @aks681
/core/domain/param_domain*.py @aks681
/core/domain/rating_services*.py @DubeySandeep
/core/domain/state_domain*.py @aks681
/core/domain/summary_services*.py @aks681
/core/domain/value_generators_domain*.py @seanlip
/core/storage/exploration/ @aks681
/core/templates/dev/head/domain/editor/ @DubeySandeep
/core/templates/dev/head/domain/exploration/ @DubeySandeep
/core/templates/dev/head/domain/state/ @aks681
/core/templates/dev/head/domain/state_card/ @aks681
/core/templates/dev/head/pages/exploration-editor-page/exploration-editor-tab/ @DubeySandeep
/core/templates/dev/head/pages/exploration-editor-page/history-tab/ @DubeySandeep
/core/templates/dev/head/pages/exploration-editor-page/preview-tab/ @aks681
/core/templates/dev/head/pages/exploration-editor-page/settings-tab/ @DubeySandeep
/core/templates/dev/head/pages/exploration_player/ @aks681
/core/templates/dev/head/pages/state-editor/ @aks681
/core/templates/dev/head/components/state/ @aks681


# Forms pages.
/core/templates/dev/head/components/forms/ @DubeySandeep


# Global components.
/core/templates/dev/head/components/common-layout-directives/alert-message/ @ankita240796
/core/templates/dev/head/components/common-layout-directives/attribution-guide/ @ankita240796
/core/templates/dev/head/components/common-layout-directives/background-banner/ @ankita240796
/core/templates/dev/head/components/button-directives/exploration-embed-modal/ @ankita240796
/core/templates/dev/head/components/common-layout-directives/loading-dots/ @ankita240796
/core/templates/dev/head/components/profile-link-directives/ @ankita240796
/core/templates/dev/head/components/common-layout-directives/promo-bar/ @ankita240796
/core/templates/dev/head/components/common-layout-directives/sharing-links/ @ankita240796
/core/templates/dev/head/components/button-directives/social-buttons/ @ankita240796
/core/templates/dev/head/components/summary-tile-directives/ @ankita240796


# Global stylesheet.
/core/templates/dev/head/css/oppia.css @ankita240796


# Interaction project.
/core/domain/customization_args_util*.py @seanlip
/core/domain/interaction_registry*.py @seanlip
/core/domain/obj_services*.py @seanlip
/core/templates/dev/head/domain/objects/ @kevinlee12
/core/templates/dev/head/expressions/ @seanlip
/extensions/dependencies/ @seanlip
/extensions/interactions/ @kevinlee12
/extensions/objects/ @seanlip
/extensions/value_generators/ @seanlip



# Lesson Analytics team.
/core/domain/action_registry*.py @brianrodri
/core/domain/calculation_registry*.py @brianrodri
/core/domain/event_services*.py @brianrodri
/core/domain/playthrough_issue_registry*.py @brianrodri
/core/domain/stats*.py @brianrodri
/core/domain/visualization_registry*.py @brianrodri
/core/storage/statistics/ @brianrodri
/core/templates/dev/head/domain/statistics/ @brianrodri
/core/templates/dev/head/pages/exploration-editor-page/improvements-tab/ @brianrodri
/core/templates/dev/head/pages/exploration-editor-page/statistics-tab/ @brianrodri
/extensions/actions/ @brianrodri
/extensions/answer_summarizers/ @brianrodri
/extensions/issues/ @brianrodri
/extensions/visualizations/ @brianrodri


# Library page.
/core/controllers/library*.py @kevinlee12
/core/domain/recommendations*.py @seanlip
/core/domain/search_services*.py @kevinlee12
/core/templates/dev/head/pages/library-page/ @kevinlee12


# Navigation bar project.
/core/templates/dev/head/domain/sidebar/ @nithusha21
/core/templates/dev/head/components/button-directives/create-button/ @nithusha21
/core/templates/dev/head/components/common-layout-directives/side-navigation-bar/ @nithusha21
/core/templates/dev/head/components/common-layout-directives/top-navigation-bar/ @nithusha21


# New structures team.
# Question project.
/core/controllers/question*.py @aks681
/core/domain/question*.py  @aks681
/core/storage/question/ @aks681
/core/templates/dev/head/domain/question/ @aks681
/core/templates/dev/head/pages/question-editor-page/ @aks681
/core/templates/dev/head/pages/questions-list-page/ @aks681

# Skill project.
/core/controllers/skill*.py @aks681
/core/domain/skill*.py  @aks681
/core/storage/skill/ @aks681
/core/templates/dev/head/domain/skill/ @aks681
/core/templates/dev/head/pages/skill-editor-page/ @aks681

# Story project.
/core/controllers/story*.py @aks681
/core/domain/story*.py  @aks681
/core/storage/story/ @aks681
/core/templates/dev/head/domain/story/ @aks681
/core/templates/dev/head/pages/story-editor-page/ @aks681

# Topic project.
# Instead of * we have used _* to avoid topics_and_skills_dashboard related files.
/core/controllers/topic_*.py @aks681
/core/domain/topic*.py @aks681
/core/storage/topic/ @aks681
/core/templates/dev/head/domain/topic/ @aks681
/core/templates/dev/head/domain/topic_viewer @aks681
/core/templates/dev/head/pages/topic-editor-page/ @aks681
/core/templates/dev/head/pages/topic-viewer-page/ @aks681

# Topics and skills dashboard project.
/core/controllers/topics_and_skills_dashboard.py @aks681
/core/templates/dev/head/domain/topics_and_skills_dashboard/ @aks681
/core/templates/dev/head/pages/topics-and-skills-dashboard-page/ @aks681


# Infrastructure.
/core/domain/email*.py @aks681
/core/platform/ @seanlip


# Miscellaneous.
/core/domain/__init__.py @DubeySandeep
/core/domain/config*.py @seanlip
<<<<<<< HEAD
/core/templates/dev/head/pages/about/ @seanlip
/core/templates/dev/head/pages/privacy-page/ @seanlip
=======
/core/templates/dev/head/pages/about-page/ @seanlip
/core/templates/dev/head/pages/privacy/ @seanlip
>>>>>>> modularity-restructure
/core/templates/dev/head/pages/terms/ @seanlip
/core/templates/dev/head/pages/tests/ @seanlip
/core/templates/dev/head/domain/utilities/ @DubeySandeep


# Restricted pages.
/core/controllers/admin*.py @seanlip
/core/domain/moderator_services*.py @seanlip
/core/templates/dev/head/pages/admin/ @seanlip
/core/templates/dev/head/pages/moderator-page/ @seanlip


# QA team.
/core/tests/ @apb7 @nithusha21


# Rich text editor team.
/core/domain/rte_component_registry*.py @AllanYangZhou @bansalnitish
/core/templates/dev/head/components/ck-editor-helpers/ck-editor-rte/ck-editor-rte.directive.ts @AllanYangZhou @bansalnitish
/extensions/rich_text_components/ @AllanYangZhou @bansalnitish
/extensions/ckeditor_plugins/ @AllanYangZhou @bansalnitish


# Suggestion and feedback team.
# Suggestion project.
/core/controllers/suggestion*.py @nithusha21
/core/domain/suggestion*.py @nithusha21
/core/storage/suggestion/ @nithusha21
/core/templates/dev/head/domain/suggestion/ @nithusha21
/core/templates/dev/head/pages/show-suggestion-editor-pages/ @nithusha21

# Feedback project.
/core/controllers/feedback*.py @nithusha21
/core/domain/feedback*.py @nithusha21
/core/storage/feedback/ @nithusha21
/core/templates/dev/head/domain/feedback_message/ @nithusha21
/core/templates/dev/head/domain/feedback_thread/ @nithusha21
/core/templates/dev/head/pages/exploration-editor-page/feedback-tab/ @nithusha21


# Simple pages.
/core/templates/dev/head/pages/contact-page/ @vojtechjelinek
/core/templates/dev/head/pages/donate-page/ @vojtechjelinek
/core/templates/dev/head/pages/error-page/ @vojtechjelinek
/core/templates/dev/head/pages/get_started/ @vojtechjelinek
/core/templates/dev/head/pages/topic-landing-page/ @vojtechjelinek
/core/templates/dev/head/pages/maintenance-page/ @vojtechjelinek
/core/templates/dev/head/pages/preferences-page/ @vojtechjelinek
/core/templates/dev/head/pages/signup/ @vojtechjelinek
/core/templates/dev/head/pages/splash-page/ @vojtechjelinek
/core/templates/dev/head/pages/teach-page/ @vojtechjelinek
/core/templates/dev/head/pages/thanks-page/ @vojtechjelinek


# Speed Improvement team.
/app.yaml @vojtechjelinek
/core/templates/dev/head/pages/base.html @vojtechjelinek
/core/templates/dev/head/pages/footer_js_libs.html @vojtechjelinek
/core/templates/dev/head/pages/header_css_libs.html @vojtechjelinek
/core/templates/dev/head/pages/header_js_libs.html @vojtechjelinek


# Typings.
/typings @ankita240796


# User’s profile page.
/core/templates/dev/head/domain/user/ @kevinlee12
/core/templates/dev/head/pages/profile-page/ @kevinlee12


# Critical files.
#
# IMPORTANT NOTE: Please ensure that these files are always located at the end
# of the CODEOWNERS file, since later rows override earlier ones. For details,
# see the example at the bottom of this page:
#
#     https://help.github.com/en/articles/about-code-owners
#
/core/domain/dependency_registry*.py @seanlip
/core/domain/html*.py @seanlip
/core/domain/rights_manager*.py @seanlip
/core/domain/role_services*.py @seanlip
/core/storage/ @seanlip
/core/domain/user*.py @seanlip
/export/ @seanlip
/manifest.json @seanlip @vojtechjelinek
/scripts/install_third_party.sh @seanlip @vojtechjelinek
/.github/CODEOWNERS @seanlip

add AutoplayedVideosService to required pages
  core/templates/dev/head/components/rich_text_components.html
  core/templates/dev/head/pages/creator_dashboard/CreatorDashboard.ts
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.ts
  core/templates/dev/head/pages/exploration_player/ExplorationPlayer.ts
  core/templates/dev/head/pages/topic_editor/TopicEditor.ts
Owners: @aks681

Convert error page
  core/templates/dev/head/pages/donate/donate-page.directive.html
  core/templates/dev/head/pages/error/Error.ts
  core/templates/dev/head/pages/error/error-page.directive.html
  core/templates/dev/head/pages/error/error.html
Owners: none

Sharing links
  core/templates/dev/head/components/share/SharingLinksDirective.ts
  core/templates/dev/head/components/share/sharing_links_directive.html
Owners: none

Side navigation bar
  core/templates/dev/head/components/side_navigation_bar/SideNavigationBarDirective.ts
  core/templates/dev/head/components/side_navigation_bar/side_navigation_bar_directive.html
Owners: none

Social buttons
  core/templates/dev/head/components/social_buttons/SocialButtonsDirective.ts
Owners: none

e2e test
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForLearnerLocalViewService.ts
Owners: none

Top navigation bar
  core/templates/dev/head/components/top_navigation_bar/TopNavigationBarDirective.ts
  core/templates/dev/head/components/top_navigation_bar/top_navigation_bar_directive.html
Owners: none

Address issues with using user properties for assertions
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Owners: @seanlip

resolve linting issues
  core/storage/user/gae_models.py
Owners: @seanlip

add linting for webpack stuff
  core/templates/dev/head/pages/about/about.html
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/collection_editor/collection_editor.html
  core/templates/dev/head/pages/collection_player/collection_player.html
  core/templates/dev/head/pages/contact/contact.html
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/donate/donate.html
  core/templates/dev/head/pages/email_dashboard/email_dashboard.html
  core/templates/dev/head/pages/error/error.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/pages/get_started/get_started.html
  core/templates/dev/head/pages/landing/stewards/landing_page_stewards.html
  core/templates/dev/head/pages/landing/topic_landing_page.html
  core/templates/dev/head/pages/learner_dashboard/learner_dashboard.html
  core/templates/dev/head/pages/library/library.html
  core/templates/dev/head/pages/maintenance/maintenance.html
  core/templates/dev/head/pages/moderator/moderator.html
  core/templates/dev/head/pages/notifications_dashboard/notifications_dashboard.html
  core/templates/dev/head/pages/practice_session/practice_session.html
  core/templates/dev/head/pages/preferences/preferences.html
  core/templates/dev/head/pages/profile/profile.html
  core/templates/dev/head/pages/signup/signup.html
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/splash/splash.html
  core/templates/dev/head/pages/splash/splash_at0.html
  core/templates/dev/head/pages/splash/splash_at1.html
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/teach/teach.html
  core/templates/dev/head/pages/tests/jinja_escaping.html
  core/templates/dev/head/pages/thanks/thanks.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  core/templates/dev/head/pages/topic_viewer/topic_viewer.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/topics_and_skills_dashboard.html
  scripts/pre_commit_linter.py
Owners: @seanlip, @vojtechjelinek, @kevinlee12, @aks681, @apb7

Add tests for re-publishing private exp/col
  core/domain/learner_progress_services_test.py
Owners: @nithusha21

Bug fix
  core/templates/dev/head/domain/skill/EditableSkillBackendApiService.ts
  core/templates/dev/head/domain/skill/EditableSkillBackendApiServiceSpec.ts
Owners: @aks681

Fix loading dots
  core/templates/dev/head/components/loading/LoadingDotsDirective.ts
Owners: none

Circular Image
  core/templates/dev/head/components/summary_tile/CircularImageDirective.ts
  core/templates/dev/head/components/summary_tile/circular_image_directive.html
Owners: none

Collection summary tile
  core/templates/dev/head/components/summary_tile/CollectionSummaryTileDirective.ts
  core/templates/dev/head/components/summary_tile/collection_summary_tile_directive.html
Owners: none

Revert "rename all folders within collection_editor"
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/collection_editor/editor_tab/CollectionLinearizerService.ts
  core/templates/dev/head/pages/collection_editor/editor_tab/CollectionLinearizerServiceSpec.ts
  core/templates/dev/head/pages/collection_editor/editor_tab/collection-editor-tab.directive.html
  core/templates/dev/head/pages/collection_editor/editor_tab/collection-editor-tab.directive.ts
  core/templates/dev/head/pages/collection_editor/editor_tab/collection-editor-tab.module.ts
  core/templates/dev/head/pages/collection_editor/editor_tab/collection-node-creator/collection-node-creator.directive.html
  core/templates/dev/head/pages/collection_editor/editor_tab/collection-node-creator/collection-node-creator.directive.ts
  core/templates/dev/head/pages/collection_editor/editor_tab/collection-node-creator/collection-node-creator.module.ts
  core/templates/dev/head/pages/collection_editor/editor_tab/collection-node-editor/collection-node-editor.directive.html
  core/templates/dev/head/pages/collection_editor/editor_tab/collection-node-editor/collection-node-editor.directive.ts
  core/templates/dev/head/pages/collection_editor/editor_tab/collection-node-editor/collection-node-editor.module.ts
  core/templates/dev/head/pages/collection_editor/history_tab/collection-history-tab.directive.html
  core/templates/dev/head/pages/collection_editor/history_tab/collection-history-tab.directive.ts
  core/templates/dev/head/pages/collection_editor/history_tab/collection-history-tab.module.ts
  core/templates/dev/head/pages/collection_editor/settings_tab/collection-details-editor/collection-details-editor.directive.html
  core/templates/dev/head/pages/collection_editor/settings_tab/collection-details-editor/collection-details-editor.directive.ts
  core/templates/dev/head/pages/collection_editor/settings_tab/collection-details-editor/collection-details-editor.module.ts
  core/templates/dev/head/pages/collection_editor/settings_tab/collection-permissions-card/collection-permissions-card.directive.html
  core/templates/dev/head/pages/collection_editor/settings_tab/collection-permissions-card/collection-permissions-card.directive.ts
  core/templates/dev/head/pages/collection_editor/settings_tab/collection-permissions-card/collection-permissions-card.module.ts
  core/templates/dev/head/pages/collection_editor/settings_tab/collection-settings-tab.directive.html
  core/templates/dev/head/pages/collection_editor/settings_tab/collection-settings-tab.directive.ts
  core/templates/dev/head/pages/collection_editor/settings_tab/collection-settings-tab.module.ts
  core/templates/dev/head/pages/collection_editor/statistics_tab/collection-statistics-tab.directive.ts
  core/templates/dev/head/pages/maintenance/maintenance.html
Owners: @seanlip, @vojtechjelinek, @kevinlee12

Collection player and collection editor
  core/templates/dev/head/pages/collection_editor/CollectionEditor.ts
  core/templates/dev/head/pages/collection_editor/collection-editor-page.directive.html
  core/templates/dev/head/pages/collection_editor/collection_editor.html
  core/templates/dev/head/pages/collection_player/CollectionPlayer.ts
  core/templates/dev/head/pages/collection_player/collection-player-page.directive.html
  core/templates/dev/head/pages/collection_player/collection_player.html
Owners: @kevinlee12

Story summary tile
  core/templates/dev/head/components/summary_tile/StorySummaryTileDirective.ts
  core/templates/dev/head/components/summary_tile/story_summary_tile_directive.html
Owners: none

Version diff visualization
  core/templates/dev/head/components/VersionDiffVisualizationDirective.ts
  core/templates/dev/head/components/version_diff_visualization_directive.html
Owners: none

Hint and Solutions button
  core/templates/dev/head/components/HintAndSolutionButtonsDirective.ts
  core/templates/dev/head/components/hint_and_solution_buttons_directive.html
Owners: none

Summary list header
  core/templates/dev/head/components/SummaryListHeaderDirective.ts
  core/templates/dev/head/components/summary_list_header_directive.html
Owners: none

Html select
  core/templates/dev/head/components/forms/HtmlSelectDirective.ts
  core/templates/dev/head/components/forms/html_select_directive.html
Owners: @DubeySandeep

rename admin page
  core/controllers/admin.py
  core/domain/email_manager.py
  core/templates/dev/head/pages/admin-page/AdminRouterService.ts
  core/templates/dev/head/pages/admin-page/AdminRouterServiceSpec.ts
  core/templates/dev/head/pages/admin-page/AdminTaskManagerService.ts
  core/templates/dev/head/pages/admin-page/AdminTaskManagerServiceSpec.ts
  core/templates/dev/head/pages/admin-page/activities-tab/admin-dev-mode-activities-tab/admin-dev-mode-activities-tab.directive.html
  core/templates/dev/head/pages/admin-page/activities-tab/admin-dev-mode-activities-tab/admin-dev-mode-activities-tab.directive.ts
  core/templates/dev/head/pages/admin-page/activities-tab/admin-dev-mode-activities-tab/admin-dev-mode-activities-tab.module.ts
  core/templates/dev/head/pages/admin-page/activities-tab/admin-prod-mode-activities-tab/admin-prod-mode-activities-tab.directive.html
  core/templates/dev/head/pages/admin-page/activities-tab/admin-prod-mode-activities-tab/admin-prod-mode-activities-tab.directive.ts
  core/templates/dev/head/pages/admin-page/activities-tab/admin-prod-mode-activities-tab/admin-prod-mode-activities-tab.module.ts
  core/templates/dev/head/pages/admin-page/admin-navbar/admin-navbar.directive.html
  core/templates/dev/head/pages/admin-page/admin-navbar/admin-navbar.directive.ts
  core/templates/dev/head/pages/admin-page/admin-navbar/admin-navbar.module.ts
  core/templates/dev/head/pages/admin-page/admin.controller.ts
  core/templates/dev/head/pages/admin-page/admin.mainpage.html
  core/templates/dev/head/pages/admin-page/admin.module.ts
  core/templates/dev/head/pages/admin-page/config-tab/admin-config-tab.directive.html
  core/templates/dev/head/pages/admin-page/config-tab/admin-config-tab.directive.ts
  core/templates/dev/head/pages/admin-page/config-tab/admin-config-tab.module.ts
  core/templates/dev/head/pages/admin-page/jobs-tab/admin-jobs-tab.directive.html
  core/templates/dev/head/pages/admin-page/jobs-tab/admin-jobs-tab.directive.ts
  core/templates/dev/head/pages/admin-page/jobs-tab/admin-jobs-tab.module.ts
  core/templates/dev/head/pages/admin-page/misc-tab/admin-misc-tab.directive.html
  core/templates/dev/head/pages/admin-page/misc-tab/admin-misc-tab.directive.ts
  core/templates/dev/head/pages/admin-page/misc-tab/admin-misc-tab.module.ts
  core/templates/dev/head/pages/admin-page/roles-tab/admin-roles-tab.directive.ts
  core/templates/dev/head/pages/admin-page/roles-tab/admin-roles-tab.module.ts
  core/templates/dev/head/pages/admin-page/roles-tab/roles-graph/role-graph.directive.html
  core/templates/dev/head/pages/admin-page/roles-tab/roles-graph/role-graph.directive.ts
  core/templates/dev/head/pages/admin-page/roles-tab/roles-graph/role-graph.module.ts
  core/templates/dev/head/pages/admin-page/roles-tab/roles-tab.directive.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/maintenance/maintenance.html
Owners: @seanlip, @aks681, @vojtechjelinek

Select2 Dropdown
  core/templates/dev/head/components/forms/Select2DropdownDirective.ts
Owners: @DubeySandeep

Schema based bool editor
  core/templates/dev/head/components/forms/schema_editors/SchemaBasedBoolEditorDirective.ts
  core/templates/dev/head/components/forms/schema_editors/schema_based_bool_editor_directive.html
Owners: @DubeySandeep

Creator Dashboard
  core/templates/dev/head/pages/creator_dashboard/CreatorDashboard.ts
  core/templates/dev/head/pages/creator_dashboard/creator-dashboard-page.directive.html
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
Owners: none

Fix publication test
  core/tests/protractor_utils/general.js
Owners: @apb7, @nithusha21

Schema based editor
  core/templates/dev/head/components/forms/schema_editors/SchemaBasedEditorDirective.ts
  core/templates/dev/head/components/forms/schema_editors/schema_based_editor_directive.html
Owners: @DubeySandeep

rename folders one by one
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/collection_editor/editor-tab/CollectionLinearizerService.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/CollectionLinearizerServiceSpec.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-editor-tab.directive.html
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-editor-tab.directive.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-editor-tab.module.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-creator/collection-node-creator.directive.html
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-creator/collection-node-creator.directive.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-creator/collection-node-creator.module.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-editor/collection-node-editor.directive.html
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-editor/collection-node-editor.directive.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-editor/collection-node-editor.module.ts
  core/templates/dev/head/pages/maintenance/maintenance.html
Owners: @seanlip, @vojtechjelinek, @kevinlee12

Schema based expressioneditor
  core/templates/dev/head/components/forms/schema_editors/SchemaBasedExpressionEditorDirective.ts
  core/templates/dev/head/components/forms/schema_editors/schema_based_expression_editor_directive.html
Owners: @DubeySandeep

Schema based float editor
  core/templates/dev/head/components/forms/schema_editors/SchemaBasedFloatEditorDirective.ts
  core/templates/dev/head/components/forms/schema_editors/schema_based_float_editor_directive.html
Owners: @DubeySandeep

Schema based primitive viewer
  core/templates/dev/head/components/forms/schema_viewers/SchemaBasedPrimitiveViewerDirective.ts
  core/templates/dev/head/components/forms/schema_viewers/schema_based_primitive_viewer_directive.html
Owners: @DubeySandeep

Schema based int editor
  core/templates/dev/head/components/forms/schema_editors/SchemaBasedIntEditorDirective.ts
  core/templates/dev/head/components/forms/schema_editors/schema_based_int_editor_directive.html
Owners: @DubeySandeep

Schema based viewer
  core/templates/dev/head/components/forms/schema_viewers/SchemaBasedViewerDirective.ts
  core/templates/dev/head/components/forms/schema_viewers/schema_based_viewer_directive.html
Owners: @DubeySandeep

Schema based html viewer
  core/templates/dev/head/components/forms/schema_viewers/SchemaBasedHtmlViewerDirective.ts
  core/templates/dev/head/components/forms/schema_viewers/schema_based_html_viewer_directive.html
Owners: @DubeySandeep

Schema based html editor
  core/templates/dev/head/components/forms/schema_editors/SchemaBasedHtmlEditorDirective.ts
  core/templates/dev/head/components/forms/schema_editors/schema_based_html_editor_directive.html
Owners: @DubeySandeep

Schema based unicode editor
  core/templates/dev/head/components/forms/schema_editors/SchemaBasedUnicodeEditorDirective.ts
  core/templates/dev/head/components/forms/schema_editors/schema_based_unicode_editor_directive.html
Owners: @DubeySandeep

Schema based unicode viewer
  core/templates/dev/head/components/forms/schema_viewers/SchemaBasedUnicodeViewerDirective.ts
  core/templates/dev/head/components/forms/schema_viewers/schema_based_unicode_viewer_directive.html
Owners: @DubeySandeep

Answer group editor
  core/templates/dev/head/components/state/AnswerGroupEditorDirective.ts
  core/templates/dev/head/components/state/answer_group_editor_directive.html
Owners: @aks681

Email Dashboard
  core/templates/dev/head/pages/email_dashboard/EmailDashboard.ts
  core/templates/dev/head/pages/email_dashboard/email-dashboard-page.directive.html
  core/templates/dev/head/pages/email_dashboard/email_dashboard.html
Owners: none
