Repository oppia/oppia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prasanna08, @DubeySandeep, @kevinlee12, @nithusha21, @apb7, @aks681, @seanlip, @ankita240796, @brianrodri, @AllanYangZhou, @bansalnitish, @vojtechjelinek

Address code review
  core/domain/exp_services_test.py
Owners: @DubeySandeep

Move cleanup logic out of ModelValidator class
  core/domain/cleanup_user_subscriptions_model_one_off.py
  core/domain/prod_validation_jobs_one_off.py
Owners: none

fix some tests
  core/tests/karma.conf.ts
  extensions/dependencies/code_repl_prediction.html
  extensions/dependencies/text_input_prediction.html
  scripts/start.sh
  tsconfig.json
Owners: @apb7, @nithusha21, @seanlip

fix linter
  scripts/pre_commit_linter.py
Owners: @apb7

Fix in top nav
  core/templates/dev/head/components/top_navigation_bar/TopNavigationBarDirective.ts
Owners: none

Convert about controller to directive
  core/templates/dev/head/components/top_navigation_bar/TopNavigationBarDirective.ts
  core/templates/dev/head/pages/about/About.ts
  core/templates/dev/head/pages/about/AboutDirective.ts
  core/templates/dev/head/pages/about/about.html
  core/templates/dev/head/pages/about/about_directive.html
Owners: @seanlip

Update test
  core/controllers/pages_test.py
Owners: none

other work
  core/controllers/email_dashboard.py
  core/templates/dev/head/App.ts
  core/templates/dev/head/domain/topic/EditableTopicBackendApiService.ts
  core/templates/dev/head/domain/topic/TopicRightsBackendApiService.ts
  core/templates/dev/head/pages/email_dashboard/email_dashboard_result.html
  core/templates/dev/head/pages/story_editor/StoryEditor.ts
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/topic_editor/TopicEditor.ts
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  scripts/start.sh
  tsconfig.json
  webpack.config.ts
Owners: @aks681, @apb7

Debug cke
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-rte/ck-editor-rte.directive.ts
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-widgets/ck-editor-widgets.initializer.ts
Owners: @AllanYangZhou, @bansalnitish

Debug cke
  core/templates/dev/head/components/ck-editor-rte.directive.ts
  core/templates/dev/head/components/ck-editor-widgets.initializer.ts
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/maintenance-page/maintenance-page.mainpage.html
Owners: @seanlip, @vojtechjelinek

remove extra files
  core/templates/dev/head/components/ck-editor-rte.directive.ts
  core/templates/dev/head/components/ck-editor-widgets.initializer.ts
Owners: none

Debug cke
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-rte/ck-editor-rte.directive.ts
Owners: @AllanYangZhou, @bansalnitish

Fix #6582: Set card title to inherit the width of the parent (#6715)
  core/templates/dev/head/css/oppia.css
Owners: @ankita240796

Fix #6582: Set card title to inherit the width of the parent (#6715)
  core/templates/dev/head/css/oppia.css
Owners: @ankita240796

Change extra ctrl to
  core/templates/dev/head/components/state/AnswerGroupEditorDirective.ts
  core/templates/dev/head/components/state/HintEditorDirective.ts
  core/templates/dev/head/components/state/OutcomeDestinationEditorDirective.ts
  core/templates/dev/head/components/state/OutcomeEditorDirective.ts
  core/templates/dev/head/components/state/RuleEditorDirective.ts
  core/templates/dev/head/components/state/RuleTypeSelectorDirective.ts
  core/templates/dev/head/components/state/SolutionExplanationEditorDirective.ts
Owners: @aks681

e2e tests
  core/controllers/collection_editor.py
  core/controllers/pages.py
  core/templates/dev/head/pages/collection_editor/CollectionEditor.ts
  core/templates/dev/head/pages/collection_editor/collection_editor.html
  core/templates/dev/head/pages/tests/console_errors.html
  core/tests/protractor_utils/general.js
  webpack.config.ts
Owners: @kevinlee12, @seanlip, @apb7, @nithusha21

Modularize question player
  core/templates/dev/head/App.ts
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-widgets/ck-editor-widgets.initializer.ts
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-widgets/ck-editor-widgets.module.ts
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/pages/maintenance-page/maintenance-page.mainpage.html
  core/templates/dev/head/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/dev/head/pages/question-player-page/question-player-page.directive.html
  core/templates/dev/head/pages/question-player-page/question-player-page.directive.ts
  core/templates/dev/head/pages/question-player-page/question-player-page.module.ts
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.mainpage.html
  core/templates/dev/head/pages/story-editor-page/story-editor-page.mainpage.html
  core/templates/dev/head/pages/tests/form_builder_test_page.html
  core/templates/dev/head/pages/topic-editor-page/topic-editor-page.mainpage.html
Owners: @seanlip, @vojtechjelinek, @aks681

e2e tests
  assets/constants.js
  core/templates/dev/head/components/summary_tile/ExplorationSummaryTileDirective.ts
  core/templates/dev/head/pages/exploration_player/LearnerViewInfo.ts
Owners: @aks681

dev mode
  assets/constants.js
Owners: none

Address code review
  core/domain/cleanup_user_subscriptions_model_one_off.py
  core/jobs_registry.py
Owners: none

e2e tests
  core/templates/dev/head/components/forms/schema_editors/SchemaBasedCustomEditorDirective.ts
Owners: @DubeySandeep

e2e tests
  extensions/interactions/CodeRepl/CodeRepl.html
  extensions/interactions/LogicProof/LogicProof.html
  extensions/interactions/MultipleChoiceInput/MultipleChoiceInput.html
  extensions/interactions/PencilCodeEditor/PencilCodeEditor.html
  extensions/interactions/TextInput/TextInput.html
  tsconfig.json
Owners: @kevinlee12

Fetch only exploration models from subscribers
  core/domain/cleanup_user_subscriptions_model_one_off.py
  core/domain/prod_validation_jobs_one_off.py
Owners: none

Added backend unit test
  core/domain/cleanup_user_subscriptions_model_one_off.py
  core/domain/cleanup_user_subscriptions_model_one_off_test.py
Owners: none

Fix outcome dest editor
  core/templates/dev/head/components/state/OutcomeDestinationEditorDirective.ts
Owners: @aks681

Address review comments
  scripts/pre_commit_linter.py
Owners: @apb7

Localisation updates from https://translatewiki.net.
  assets/i18n/diq.json
  assets/i18n/tr.json
Owners: none

Added cke script tag
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/maintenance-page/maintenance-page.mainpage.html
Owners: @seanlip, @vojtechjelinek

rename all folders within collection_editor
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/collection_editor/editor-tab/CollectionLinearizerService.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/CollectionLinearizerServiceSpec.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-editor-tab.directive.html
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-editor-tab.directive.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-editor-tab.module.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-creator/collection-node-creator.directive.html
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-creator/collection-node-creator.directive.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-creator/collection-node-creator.module.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-editor/collection-node-editor.directive.html
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-editor/collection-node-editor.directive.ts
  core/templates/dev/head/pages/collection_editor/editor-tab/collection-node-editor/collection-node-editor.module.ts
  core/templates/dev/head/pages/collection_editor/history-tab/collection-history-tab.directive.html
  core/templates/dev/head/pages/collection_editor/history-tab/collection-history-tab.directive.ts
  core/templates/dev/head/pages/collection_editor/history-tab/collection-history-tab.module.ts
  core/templates/dev/head/pages/collection_editor/settings-tab/collection-details-editor/collection-details-editor.directive.html
  core/templates/dev/head/pages/collection_editor/settings-tab/collection-details-editor/collection-details-editor.directive.ts
  core/templates/dev/head/pages/collection_editor/settings-tab/collection-details-editor/collection-details-editor.module.ts
  core/templates/dev/head/pages/collection_editor/settings-tab/collection-permissions-card/collection-permissions-card.directive.html
  core/templates/dev/head/pages/collection_editor/settings-tab/collection-permissions-card/collection-permissions-card.directive.ts
  core/templates/dev/head/pages/collection_editor/settings-tab/collection-permissions-card/collection-permissions-card.module.ts
  core/templates/dev/head/pages/collection_editor/settings-tab/collection-settings-tab.directive.html
  core/templates/dev/head/pages/collection_editor/settings-tab/collection-settings-tab.directive.ts
  core/templates/dev/head/pages/collection_editor/settings-tab/collection-settings-tab.module.ts
  core/templates/dev/head/pages/collection_editor/statistics_tab/collection-statistics-tab.directive.ts
  core/templates/dev/head/pages/maintenance/maintenance.html
Owners: @seanlip, @vojtechjelinek, @kevinlee12

Attribution guide
  core/templates/dev/head/components/attribution_guide/AttributionGuideDirective.ts
  core/templates/dev/head/components/attribution_guide/attribution_guide_directive.html
Owners: none

Background banner
  core/templates/dev/head/components/background/BackgroundBannerDirective.ts
  core/templates/dev/head/components/background/background_banner_directive.html
Owners: none

Create button
  core/templates/dev/head/components/create_button/CreateActivityButtonDirective.ts
  core/templates/dev/head/components/create_button/create_activity_button_directive.html
Owners: none

Loading
  core/templates/dev/head/components/loading/LoadingDotsDirective.ts
Owners: none

Profile link image
  core/templates/dev/head/components/profile_link/ProfileLinkImageDirective.ts
  core/templates/dev/head/components/profile_link/profile_link_image_directive.html
Owners: none

Profile link text
  core/templates/dev/head/components/profile_link/ProfileLinkTextDirective.ts
  core/templates/dev/head/components/profile_link/profile_link_text_directive.html
Owners: none

Promo bar
  core/templates/dev/head/components/promo/PromoBarDirective.ts
  core/templates/dev/head/components/promo/promo_bar_directive.html
Owners: none

e2e tests
  core/templates/dev/head/components/state/RuleEditorDirective.ts
  core/templates/dev/head/pages/exploration_editor/feedback_tab/ThreadTableDirective.ts
  core/templates/dev/head/pages/exploration_player/LearnerViewInfo.ts
  core/templates/dev/head/pages/library/SearchBarDirective.ts
  core/templates/dev/head/pages/preferences/Preferences.ts
  core/templates/dev/head/pages/profile/Profile.ts
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForEditorViewService.ts
  core/tests/protractor_utils/general.js
  webpack.config.ts
Owners: @aks681, @apb7, @nithusha21

e2e tests
  core/templates/dev/head/pages/skill_editor/SkillEditorNavbarDirective.ts
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/topic_editor/TopicEditor.ts
Owners: none

Convert Donate page
  core/templates/dev/head/pages/donate/Donate.ts
  core/templates/dev/head/pages/donate/donate-page.directive.html
  core/templates/dev/head/pages/donate/donate.html
Owners: none

e2e tests
  core/templates/dev/head/components/rich_text_components.html
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForLearnerLocalViewService.ts
Owners: none

.github/CODEOWNERS:

# Per-directory ownership and automatic assignment for pull requests.

# The paths to the directory/files must be relative to the location of this
# file. Wildcards such as '**', '!' are not allowed. Only glob style patterns
# are allowed. For information about supported glob patterns please refer
# https://docs.python.org/2/library/glob.html.

# Note: The e2e test files are owned by both the dev workflow and QA teams.
# - The QA team will do an initial review to verify the PR's test coverage. They
#   will then ask the dev workflow team for a final review.
# - The dev workflow team will review the code quality to see if the e2e tests
#   can be optimized further.

# Answer classification team.
/core/controllers/classifier*.py @prasanna08
/core/domain/classifier*.py @prasanna08
/core/storage/classifier/ @prasanna08
/core/templates/dev/head/domain/classifier/ @prasanna08
/extensions/classifiers/ @prasanna08


# Audio and Translation team.
/core/controllers/translator*.py @DubeySandeep
/core/templates/dev/head/pages/exploration-editor-page/translation-tab/ @DubeySandeep


# Collection project.
/core/controllers/collection*.py @kevinlee12
/core/domain/collection*.py @kevinlee12
/core/storage/collection/ @kevinlee12
/core/templates/dev/head/domain/collection/ @kevinlee12
/core/templates/dev/head/pages/collection_editor/ @kevinlee12
/core/templates/dev/head/pages/collection-player-page/ @kevinlee12


# Dashboard pages.
/core/controllers/creator_dashboard*.py @nithusha21
/core/domain/activity*.py @nithusha21
/core/domain/learner_playlist_services*.py @nithusha21
/core/domain/learner_progress*.py @nithusha21
/core/domain/subscription_services*.py @nithusha21
/core/templates/dev/head/domain/creator_dashboard/ @nithusha21
/core/templates/dev/head/domain/learner_dashboard/ @nithusha21
/core/templates/dev/head/pages/learner-dashboard-page/ @nithusha21
/core/templates/dev/head/pages/notifications-dashboard-page/ @nithusha21
/core/templates/dev/head/pages/creator-dashboard-page/ @nithusha21
/core/templates/dev/head/pages/email-dashboard-page/ @nithusha21


# Dev workflow team.
/scripts/ @apb7


# Exploration project.
/core/controllers/editor*.py @DubeySandeep
/core/domain/exp*.py @DubeySandeep
/core/domain/fs*.py @aks681
/core/domain/param_domain*.py @aks681
/core/domain/rating_services*.py @DubeySandeep
/core/domain/state_domain*.py @aks681
/core/domain/summary_services*.py @aks681
/core/domain/value_generators_domain*.py @seanlip
/core/storage/exploration/ @aks681
/core/templates/dev/head/domain/editor/ @DubeySandeep
/core/templates/dev/head/domain/exploration/ @DubeySandeep
/core/templates/dev/head/domain/state/ @aks681
/core/templates/dev/head/domain/state_card/ @aks681
/core/templates/dev/head/pages/exploration-editor-page/exploration-editor-tab/ @DubeySandeep
/core/templates/dev/head/pages/exploration-editor-page/history-tab/ @DubeySandeep
/core/templates/dev/head/pages/exploration-editor-page/preview-tab/ @aks681
/core/templates/dev/head/pages/exploration-editor-page/settings-tab/ @DubeySandeep
/core/templates/dev/head/pages/exploration_player/ @aks681
/core/templates/dev/head/pages/state-editor/ @aks681
/core/templates/dev/head/components/state/ @aks681


# Forms pages.
/core/templates/dev/head/components/forms/ @DubeySandeep


# Global components.
/core/templates/dev/head/components/common-layout-directives/alert-message/ @ankita240796
/core/templates/dev/head/components/common-layout-directives/attribution-guide/ @ankita240796
/core/templates/dev/head/components/common-layout-directives/background-banner/ @ankita240796
/core/templates/dev/head/components/button-directives/exploration-embed-modal/ @ankita240796
/core/templates/dev/head/components/common-layout-directives/loading-dots/ @ankita240796
/core/templates/dev/head/components/profile-link-directives/ @ankita240796
/core/templates/dev/head/components/common-layout-directives/promo-bar/ @ankita240796
/core/templates/dev/head/components/common-layout-directives/sharing-links/ @ankita240796
/core/templates/dev/head/components/button-directives/social-buttons/ @ankita240796
/core/templates/dev/head/components/summary-tile-directives/ @ankita240796


# Global stylesheet.
/core/templates/dev/head/css/oppia.css @ankita240796


# Interaction project.
/core/domain/customization_args_util*.py @seanlip
/core/domain/interaction_registry*.py @seanlip
/core/domain/obj_services*.py @seanlip
/core/templates/dev/head/domain/objects/ @kevinlee12
/core/templates/dev/head/expressions/ @seanlip
/extensions/dependencies/ @seanlip
/extensions/interactions/ @kevinlee12
/extensions/objects/ @seanlip
/extensions/value_generators/ @seanlip



# Lesson Analytics team.
/core/domain/action_registry*.py @brianrodri
/core/domain/calculation_registry*.py @brianrodri
/core/domain/event_services*.py @brianrodri
/core/domain/playthrough_issue_registry*.py @brianrodri
/core/domain/stats*.py @brianrodri
/core/domain/visualization_registry*.py @brianrodri
/core/storage/statistics/ @brianrodri
/core/templates/dev/head/domain/statistics/ @brianrodri
/core/templates/dev/head/pages/exploration-editor-page/improvements-tab/ @brianrodri
/core/templates/dev/head/pages/exploration-editor-page/statistics-tab/ @brianrodri
/extensions/actions/ @brianrodri
/extensions/answer_summarizers/ @brianrodri
/extensions/issues/ @brianrodri
/extensions/visualizations/ @brianrodri


# Library page.
/core/controllers/library*.py @kevinlee12
/core/domain/recommendations*.py @seanlip
/core/domain/search_services*.py @kevinlee12
/core/templates/dev/head/pages/library-page/ @kevinlee12


# Navigation bar project.
/core/templates/dev/head/domain/sidebar/ @nithusha21
/core/templates/dev/head/components/button-directives/create-button/ @nithusha21
/core/templates/dev/head/components/common-layout-directives/side-navigation-bar/ @nithusha21
/core/templates/dev/head/components/common-layout-directives/top-navigation-bar/ @nithusha21


# New structures team.
# Question project.
/core/controllers/question*.py @aks681
/core/domain/question*.py  @aks681
/core/storage/question/ @aks681
/core/templates/dev/head/domain/question/ @aks681
/core/templates/dev/head/pages/question-editor-page/ @aks681
/core/templates/dev/head/pages/questions-list-page/ @aks681

# Skill project.
/core/controllers/skill*.py @aks681
/core/domain/skill*.py  @aks681
/core/storage/skill/ @aks681
/core/templates/dev/head/domain/skill/ @aks681
/core/templates/dev/head/pages/skill-editor-page/ @aks681

# Story project.
/core/controllers/story*.py @aks681
/core/domain/story*.py  @aks681
/core/storage/story/ @aks681
/core/templates/dev/head/domain/story/ @aks681
/core/templates/dev/head/pages/story-editor-page/ @aks681

# Topic project.
# Instead of * we have used _* to avoid topics_and_skills_dashboard related files.
/core/controllers/topic_*.py @aks681
/core/domain/topic*.py @aks681
/core/storage/topic/ @aks681
/core/templates/dev/head/domain/topic/ @aks681
/core/templates/dev/head/domain/topic_viewer @aks681
/core/templates/dev/head/pages/topic-editor-page/ @aks681
/core/templates/dev/head/pages/topic-viewer-page/ @aks681

# Topics and skills dashboard project.
/core/controllers/topics_and_skills_dashboard.py @aks681
/core/templates/dev/head/domain/topics_and_skills_dashboard/ @aks681
/core/templates/dev/head/pages/topics-and-skills-dashboard-page/ @aks681


# Infrastructure.
/core/domain/email*.py @aks681
/core/platform/ @seanlip


# Miscellaneous.
/core/domain/__init__.py @DubeySandeep
/core/domain/config*.py @seanlip
<<<<<<< HEAD
/core/templates/dev/head/pages/about/ @seanlip
/core/templates/dev/head/pages/privacy-page/ @seanlip
=======
/core/templates/dev/head/pages/about-page/ @seanlip
/core/templates/dev/head/pages/privacy/ @seanlip
>>>>>>> modularity-restructure
/core/templates/dev/head/pages/terms/ @seanlip
/core/templates/dev/head/pages/tests/ @seanlip
/core/templates/dev/head/domain/utilities/ @DubeySandeep


# Restricted pages.
/core/controllers/admin*.py @seanlip
/core/domain/moderator_services*.py @seanlip
/core/templates/dev/head/pages/admin/ @seanlip
/core/templates/dev/head/pages/moderator-page/ @seanlip


# QA team.
/core/tests/ @apb7 @nithusha21


# Rich text editor team.
/core/domain/rte_component_registry*.py @AllanYangZhou @bansalnitish
/core/templates/dev/head/components/ck-editor-helpers/ck-editor-rte/ck-editor-rte.directive.ts @AllanYangZhou @bansalnitish
/extensions/rich_text_components/ @AllanYangZhou @bansalnitish
/extensions/ckeditor_plugins/ @AllanYangZhou @bansalnitish


# Suggestion and feedback team.
# Suggestion project.
/core/controllers/suggestion*.py @nithusha21
/core/domain/suggestion*.py @nithusha21
/core/storage/suggestion/ @nithusha21
/core/templates/dev/head/domain/suggestion/ @nithusha21
/core/templates/dev/head/pages/show-suggestion-editor-pages/ @nithusha21

# Feedback project.
/core/controllers/feedback*.py @nithusha21
/core/domain/feedback*.py @nithusha21
/core/storage/feedback/ @nithusha21
/core/templates/dev/head/domain/feedback_message/ @nithusha21
/core/templates/dev/head/domain/feedback_thread/ @nithusha21
/core/templates/dev/head/pages/exploration-editor-page/feedback-tab/ @nithusha21


# Simple pages.
/core/templates/dev/head/pages/contact-page/ @vojtechjelinek
/core/templates/dev/head/pages/donate-page/ @vojtechjelinek
/core/templates/dev/head/pages/error-page/ @vojtechjelinek
/core/templates/dev/head/pages/get_started/ @vojtechjelinek
/core/templates/dev/head/pages/topic-landing-page/ @vojtechjelinek
/core/templates/dev/head/pages/maintenance-page/ @vojtechjelinek
/core/templates/dev/head/pages/preferences-page/ @vojtechjelinek
/core/templates/dev/head/pages/signup/ @vojtechjelinek
/core/templates/dev/head/pages/splash-page/ @vojtechjelinek
/core/templates/dev/head/pages/teach-page/ @vojtechjelinek
/core/templates/dev/head/pages/thanks-page/ @vojtechjelinek


# Speed Improvement team.
/app.yaml @vojtechjelinek
/core/templates/dev/head/pages/base.html @vojtechjelinek
/core/templates/dev/head/pages/footer_js_libs.html @vojtechjelinek
/core/templates/dev/head/pages/header_css_libs.html @vojtechjelinek
/core/templates/dev/head/pages/header_js_libs.html @vojtechjelinek


# Typings.
/typings @ankita240796


# User’s profile page.
/core/templates/dev/head/domain/user/ @kevinlee12
/core/templates/dev/head/pages/profile-page/ @kevinlee12


# Critical files.
#
# IMPORTANT NOTE: Please ensure that these files are always located at the end
# of the CODEOWNERS file, since later rows override earlier ones. For details,
# see the example at the bottom of this page:
#
#     https://help.github.com/en/articles/about-code-owners
#
/core/domain/dependency_registry*.py @seanlip
/core/domain/html*.py @seanlip
/core/domain/rights_manager*.py @seanlip
/core/domain/role_services*.py @seanlip
/core/storage/ @seanlip
/core/domain/user*.py @seanlip
/export/ @seanlip
/manifest.json @seanlip @vojtechjelinek
/scripts/install_third_party.sh @seanlip @vojtechjelinek
/.github/CODEOWNERS @seanlip
