Repository oppia/oppia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seanlip, @BenHenning, @apb7, @vojtechjelinek, @hoangviet1993

change retrieve_commit to config_model2
  core/storage/config/gae_models_test.py
Owners: @BenHenning, @seanlip

Added StoryProgressModel (#5396)
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/storage/user/gae_models.py
Owners: @BenHenning, @seanlip

break long lines
  core/platform/app_identity/gae_app_identity_services_test.py
Owners: none

Filtering out files that are not supposed to be built
  scripts/build.py
  scripts/build_test.py
Owners: @apb7, @seanlip

change config_model names to retrieved_model when appropriate
  core/storage/config/gae_models_test.py
Owners: @BenHenning, @seanlip

.github/CODEOWNERS:

# Per-directory ownership and automatic assignment for pull requests.
/core/domain/html_cleaner.py @seanlip
/core/storage/ @BenHenning @seanlip
/core/tests/ @apb7 @seanlip
manifest.json @vojtechjelinek @hoangviet1993 @seanlip
/scripts/ @apb7 @seanlip
