Repository oppia/oppia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prasanna08, @DubeySandeep, @nithusha21, @apb7, @aks681, @ankita240796, @seanlip, @AllanYangZhou, @bansalnitish, @vojtechjelinek

.github/CODEOWNERS:

# Per-directory ownership and automatic assignment for pull requests.

# Note: The e2e test files are owned by both the dev workflow and QA teams.
# - The QA team will do an initial review to verify the PR's test coverage. They
#   will then ask the dev workflow team for a final review.
# - The dev workflow team will review the code quality to see if the e2e tests
#   can be optimized further.

# Answer classification team.
/core/controllers/classifier*.py @prasanna08
/core/domain/classifier*.py @prasanna08
/core/storage/classifier/ @prasanna08
/core/templates/domain/classifier/ @prasanna08
/extensions/classifiers/ @prasanna08


# Audio and Translation team.
/core/controllers/translator*.py @DubeySandeep
/core/templates/pages/exploration_editor/translation_tab/ @DubeySandeep


# Collection project.
# TODO(kevinlee12): Revert ownership to @kevinlee12 after 2019-04-10.
/core/controllers/collection*.py @nithusha21
/core/domain/collection*.py @nithusha21
/core/storage/collection/ @nithusha21
/core/templates/domain/collection/ @nithusha21
/core/templates/pages/collection_editor/ @nithusha21
/core/templates/pages/collection_player/ @nithusha21


# Dashboard frontend pages.
/core/controllers/creator_dashboard*.py @nithusha21
/core/templates/domain/creator_dashboard/ @nithusha21
/core/templates/domain/learner_dashboard/ @nithusha21
/core/templates/pages/creator_dashboard/ @nithusha21
/core/templates/pages/email_dashboard/ @nithusha21
/core/templates/pages/learner_dashboard/ @nithusha21
/core/templates/pages/notifications_dashboard/ @nithusha21


# Dev workflow team.
/scripts/ @apb7


# Exploration project.
/core/controllers/editor*.py @DubeySandeep
/core/domain/exp*.py @DubeySandeep
/core/storage/exploration/ @aks681
/core/templates/domain/editor/ @DubeySandeep
/core/templates/domain/exploration/ @DubeySandeep
/core/templates/domain/state/ @aks681
/core/templates/domain/state_card/ @aks681
/core/templates/pages/exploration_editor/editor_tab/ @DubeySandeep
/core/templates/pages/exploration_editor/history_tab/ @DubeySandeep
/core/templates/pages/exploration_editor/preview_tab/ @aks681
/core/templates/pages/exploration_editor/settings_tab/ @DubeySandeep
/core/templates/pages/exploration_player/ @aks681
/core/templates/pages/state_editor/ @aks681
/core/templates/components/state/ @aks681


# Forms pages.
/core/templates/components/forms/ @DubeySandeep


# Global components.
/core/templates/components/alerts/ @ankita240796
/core/templates/components/attribution_guide/ @ankita240796
/core/templates/components/background/ @ankita240796
/core/templates/components/embed_modal/ @ankita240796
/core/templates/components/loading/ @ankita240796
/core/templates/components/profile_link/ @ankita240796
/core/templates/components/promo/ @ankita240796
/core/templates/components/share/ @ankita240796
/core/templates/components/social_buttons/ @ankita240796
/core/templates/components/summary_tile/ @ankita240796


# Global stylesheet.
/core/templates/css/oppia.css @ankita240796


# Interaction project.
# TODO(kevinlee12): Revert ownership to @kevinlee12 after 2019-04-10 for the
# following directories:
# - /core/templates/domain/objects/
# - /extensions/interactions/
/core/templates/domain/objects/ @nithusha21
/core/templates/expressions/ @seanlip
/extensions/dependencies/ @seanlip
/extensions/interactions/ @nithusha21
/extensions/objects/ @seanlip
/extensions/value_generators/ @seanlip


# Lesson Analytics team.
# TODO(brianrodri): Revert ownership to @brianrodri after 2019-03-31.
/core/domain/stats*.py @seanlip
/core/storage/statistics/ @seanlip
/core/templates/domain/statistics/ @seanlip
/core/templates/pages/exploration_editor/improvements_tab/ @seanlip
/core/templates/pages/exploration_editor/statistics_tab/ @seanlip
/extensions/actions/ @seanlip
/extensions/answer_summarizers/ @seanlip
/extensions/issues/ @seanlip
/extensions/visualizations/ @seanlip


# Library page.
# TODO(kevinlee12): Revert ownership to @kevinlee12 after 2019-04-10.
/core/controllers/library*.py @nithusha21
/core/templates/pages/library/ @nithusha21


# Navigation bar project.
/core/templates/domain/sidebar/ @nithusha21
/core/templates/components/create_button/ @nithusha21
/core/templates/components/side_navigation_bar/ @nithusha21
/core/templates/components/top_navigation_bar/ @nithusha21


# New structures team.
# Question project.
/core/controllers/question*.py @aks681
/core/domain/question*.py  @aks681
/core/storage/question/ @aks681
/core/templates/domain/question/ @aks681
/core/templates/pages/question_editor/ @aks681
/core/templates/pages/questions_list/ @aks681

# Skill project.
/core/controllers/skill*.py @aks681
/core/domain/skill*.py  @aks681
/core/storage/skill/ @aks681
/core/templates/domain/skill/ @aks681
/core/templates/pages/skill_editor/ @aks681

# Story project.
/core/controllers/story*.py @aks681
/core/domain/story*.py  @aks681
/core/storage/story/ @aks681
/core/templates/domain/story/ @aks681
/core/templates/pages/story_editor/ @aks681

# Topic project.
# Instead of * we have used _* to avoid topics_and_skills_dashboard related files.
/core/controllers/topic_*.py @aks681
/core/domain/topic*.py @aks681
/core/storage/topic/ @aks681
/core/templates/domain/topic/ @aks681
/core/templates/domain/topic_viewer @aks681
/core/templates/pages/topic_editor/ @aks681
/core/templates/pages/topic_viewer/ @aks681

# Topics and skills dashboard project.
/core/controllers/topics_and_skills_dashboard.py @aks681
/core/templates/domain/topics_and_skills_dashboard/ @aks681
/core/templates/pages/topics_and_skills_dashboard/ @aks681


# Infrastructure.
/core/platform/ @seanlip


# Miscellaneous.
/core/templates/pages/about/ @seanlip
/core/templates/pages/privacy/ @seanlip
/core/templates/pages/terms/ @seanlip
/core/templates/pages/tests/ @seanlip
/core/templates/domain/utilities/ @DubeySandeep

# Restricted pages.
/core/controllers/admin*.py @seanlip
/core/templates/pages/admin/ @seanlip
/core/templates/pages/moderator/ @seanlip


# QA team.
/core/tests/ @apb7 @nithusha21


# Rich text editor team.
/core/templates/components/CkEditorRteDirective.js @AllanYangZhou @bansalnitish
/extensions/rich_text_components/ @AllanYangZhou @bansalnitish
/extensions/ckeditor_plugins/ @AllanYangZhou @bansalnitish


# Suggestion and feedback team.
# Suggestion project.
/core/controllers/suggestion*.py @nithusha21
/core/domain/suggestion*.py @nithusha21
/core/storage/suggestion/ @nithusha21
/core/templates/domain/suggestion/ @nithusha21
/core/templates/pages/suggestion_editor/ @nithusha21

# Feedback project.
/core/controllers/feedback*.py @nithusha21
/core/domain/feedback*.py @nithusha21
/core/storage/feedback/ @nithusha21
/core/templates/domain/feedback_message/ @nithusha21
/core/templates/domain/feedback_thread/ @nithusha21
/core/templates/pages/exploration_editor/feedback_tab/ @nithusha21


# Simple pages.
/core/templates/pages/contact/ @vojtechjelinek
/core/templates/pages/donate/ @vojtechjelinek
/core/templates/pages/error/ @vojtechjelinek
/core/templates/pages/get_started/ @vojtechjelinek
/core/templates/pages/landing/ @vojtechjelinek
/core/templates/pages/maintenance/ @vojtechjelinek
/core/templates/pages/preferences/ @vojtechjelinek
/core/templates/pages/signup/ @vojtechjelinek
/core/templates/pages/splash/ @vojtechjelinek
/core/templates/pages/teach/ @vojtechjelinek
/core/templates/pages/thanks/ @vojtechjelinek


# Speed Improvement team.
/app.yaml @vojtechjelinek

/core/templates/pages/base.html @vojtechjelinek
/core/templates/pages/footer_js_libs.html @vojtechjelinek
/core/templates/pages/header_css_libs.html @vojtechjelinek
/core/templates/pages/header_js_libs.html @vojtechjelinek


# Userâ€™s profile page.
# TODO(kevinlee12): Revert ownership to @kevinlee12 after 2019-04-10.
/core/templates/domain/user/ @nithusha21
/core/templates/pages/profile/ @nithusha21


# Critical files.
#
# IMPORTANT NOTE: Please ensure that these files are always located at the end
# of the CODEOWNERS file, since later rows override earlier ones. For details,
# see the example at the bottom of this page:
#
#     https://help.github.com/en/articles/about-code-owners
#
/manifest.json @seanlip @vojtechjelinek
/scripts/install_third_party.sh @seanlip @vojtechjelinek
/core/storage/ @seanlip
/core/domain/html*.py @seanlip
/export/ @seanlip
/.github/CODEOWNERS @seanlip

fix lints issues
  core/templates/pages/creator_dashboard/creator_dashboard.html
Owners: @nithusha21

script changed
  .circleci/config.yml
Owners: none

Removed wrong copy
  .circleci/config.yml
Owners: none

reverted
  .circleci/config.yml
Owners: none

Added commit log entry for topics and skills rights
  core/storage/skill/gae_models.py
  core/storage/topic/gae_models.py
Owners: @seanlip

fix tests issues
  core/templates/pages/admin/admin.html
  core/templates/pages/collection_editor/collection_editor.html
  core/templates/pages/exploration_editor/exploration_editor.html
  core/templates/pages/exploration_player/exploration_player.html
  core/templates/pages/skill_editor/skill_editor.html
  core/templates/pages/story_editor/story_editor.html
  core/templates/pages/tests/form_builder_test_page.html
  core/templates/pages/topic_editor/topic_editor.html
Owners: @seanlip, @nithusha21, @aks681

Fixed backend model issues
  core/controllers/question_editor.py
  core/controllers/suggestion_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/storage/question/gae_models.py
  core/storage/story/gae_models.py
  core/storage/topic/gae_models.py
  core/tests/test_utils.py
  feconf.py
Owners: @aks681, @nithusha21, @seanlip, @apb7

fixed backend errors
  core/storage/question/gae_models_test.py
  core/storage/story/gae_models_test.py
  core/storage/topic/gae_models_test.py
  core/tests/test_utils.py
Owners: @seanlip, @apb7, @nithusha21

lint
  core/storage/question/gae_models_test.py
  core/storage/story/gae_models_test.py
Owners: @seanlip

Fixed the backend issues with some new structure models (#6514)
  core/controllers/question_editor.py
  core/controllers/suggestion_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/tests/test_utils.py
  feconf.py
Owners: @aks681, @nithusha21, @seanlip, @apb7

Fixed the backend issues with some new structure models (#6514)
  core/controllers/question_editor.py
  core/controllers/suggestion_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/tests/test_utils.py
  feconf.py
Owners: @aks681, @nithusha21, @seanlip, @apb7

Fix part of #5134, more robust testing to schema_utils.py (#6432)
  schema_utils.py
  schema_utils_test.py
Owners: none

Fix part of #5134, more robust testing to schema_utils.py (#6432)
  schema_utils.py
  schema_utils_test.py
Owners: none

done some mistake in other PR which get reflected in this, so just fix it
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/suggestion_editor/creator_view_suggestion_modal_directive.html
Owners: none

remove response from cSuggestionModalForCreatorViewService
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForCreatorViewService.js
  core/templates/dev/head/pages/suggestion_editor/creator_view_suggestion_modal_directive.html
Owners: none

remove sending response for updating suggetsion
  core/controllers/suggestion.py
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForCreatorViewService.js
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForEditorViewService.js
  core/templates/dev/head/pages/suggestion_editor/editor_view_suggestion_modal_directive.html
Owners: @nithusha21

Fixed the backend issues with some new structure models (#6514)
  core/controllers/question_editor.py
  core/controllers/suggestion_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/tests/test_utils.py
  feconf.py
Owners: @aks681, @nithusha21, @seanlip, @apb7

Fixed issues with New Structures (#6506)
  core/controllers/topics_and_skills_dashboard_test.py
  core/templates/dev/head/components/state/outcome_editor_directive.html
  core/templates/dev/head/components/state/response_header_directive.html
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/domain/question/QuestionObjectFactory.js
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.js
  core/templates/dev/head/domain/topics_and_skills_dashboard/TopicsAndSkillsDashboardBackendApiService.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/add_answer_group_modal_directive.html
  core/templates/dev/head/pages/skill_editor/skill_editor_navbar_directive.html
  core/templates/dev/head/pages/state_editor/StateEditorService.js
  core/templates/dev/head/pages/state_editor/StateResponsesDirective.js
  core/templates/dev/head/pages/state_editor/StateSolutionEditorDirective.js
  core/templates/dev/head/pages/state_editor/state_solution_editor_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/SkillsListDirective.js
  core/templates/dev/head/pages/topics_and_skills_dashboard/merge_skill_modal_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/skills_list_directive.html
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  feconf.py
  main.py
Owners: @apb7, @nithusha21

add permission checking for suggestion related to question
  core/domain/suggestion_services.py
Owners: @nithusha21

Remove default param from question_Services, instead pass a constant
  assets/constants.js
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/reader_test.py
  core/controllers/topic_editor_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
Owners: @aks681

Made skill difficulty required and indexed
  core/storage/question/gae_models.py
Owners: @seanlip

Fixed two other tests that create question skill links
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/suggestion_registry.py
Owners: @nithusha21

modularity: creator dashboard, contact
  core/controllers/creator_dashboard.py
  core/controllers/pages.py
  core/templates/dev/head/App.js
  core/templates/dev/head/components/ExplorationCreationService.js
  core/templates/dev/head/components/create_button/CreateActivityButtonDirective.js
  core/templates/dev/head/pages/contact/contact.mainpage.html
  core/templates/dev/head/pages/creator_dashboard/create-activity-modal.directive.html
  core/templates/dev/head/pages/creator_dashboard/create-question-modal.directive.html
  core/templates/dev/head/pages/creator_dashboard/creator-dashboard.controller.js
  core/templates/dev/head/pages/creator_dashboard/creator-dashboard.controller.spec.js
  core/templates/dev/head/pages/creator_dashboard/creator-dashboard.mainpage.html
  core/templates/dev/head/pages/creator_dashboard/creator-dashboard.module.js
  core/templates/dev/head/pages/creator_dashboard/upload-activity-modal.directive.html
  core/tests/karma.conf.js
  scripts/build.py
Owners: @nithusha21, @apb7

modify pre-commit-linter
  scripts/pre_commit_linter.py
Owners: @apb7

Address minor comments
  core/controllers/reader.py
  core/templates/dev/head/domain/question/QuestionPlayerBackendApiService.js
Owners: none

Support question difficulty per skill (#6502)
  assets/constants.js
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/reader_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/suggestion_registry.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
Owners: @aks681, @nithusha21, @seanlip

Support question difficulty per skill (#6502)
  assets/constants.js
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/reader_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/suggestion_registry.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
Owners: @aks681, @nithusha21, @seanlip

batch of work
  core/templates/dev/head/pages/state_editor/StateHintsEditorDirective.js
  core/templates/dev/head/pages/state_editor/StateInteractionEditorDirective.js
  core/templates/dev/head/pages/state_editor/StateResponsesDirective.js
  core/templates/dev/head/pages/state_editor/StateSolutionEditorDirective.js
  core/templates/dev/head/pages/story_editor/StoryEditorNavbarBreadcrumbDirective.js
  core/templates/dev/head/pages/story_editor/StoryEditorNavbarDirective.js
  core/templates/dev/head/pages/story_editor/StoryEditorStateService.js
  core/templates/dev/head/pages/story_editor/main_editor/StoryEditorDirective.js
  core/templates/dev/head/pages/story_editor/main_editor/StoryNodeEditorDirective.js
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForCreatorView.js
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForCreatorViewService.js
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForEditorView.js
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForEditorViewService.js
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForLearnerLocalView.js
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForLearnerLocalViewService.js
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForLearnerView.js
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForLearnerViewService.js
  core/templates/dev/head/pages/topic_editor/TopicEditorNavbarBreadcrumbDirective.js
  core/templates/dev/head/pages/topic_editor/TopicEditorNavbarDirective.js
  core/templates/dev/head/pages/topic_editor/TopicEditorStateService.js
  core/templates/dev/head/pages/topic_editor/main_editor/StoriesListDirective.js
  core/templates/dev/head/pages/topic_editor/main_editor/TopicEditorTabDirective.js
  core/templates/dev/head/pages/topic_editor/questions/QuestionsTabDirective.js
  core/templates/dev/head/pages/topic_editor/subtopics_editor/SubtopicsListTabDirective.js
  core/templates/dev/head/pages/topics_and_skills_dashboard/SelectTopicsDirective.js
  core/templates/dev/head/pages/topics_and_skills_dashboard/SkillsListDirective.js
  core/templates/dev/head/pages/topics_and_skills_dashboard/TopicsAndSkillsDashboard.js
Owners: none

Added rules and fixed files.
  .stylelintrc
  core/templates/dev/head/components/share/sharing_links_directive.html
  core/templates/dev/head/css/.stylelintrc
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/exploration_player/conversation_skin_embed_directive.html
  core/templates/dev/head/pages/learner_dashboard/learner_dashboard.html
Owners: none
