Repository oppia/oppia, pull requests merged in 2018-05, with the labels that each got.

#4937 Improving the dev workflow: Milestone 1.1.1 Enable Pycodestyle rules and fix errors
  core/controllers/classifier_test.py
  core/controllers/collection_editor_test.py
  core/controllers/creator_dashboard_test.py
  core/controllers/editor_test.py
  core/controllers/pages.py
  core/domain/acl_decorators.py
  core/domain/classifier_domain.py
  core/domain/classifier_services_test.py
  core/domain/collection_domain.py
  core/domain/collection_services_test.py
  core/domain/email_manager_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/fs_domain.py
  core/domain/question_domain.py
  core/domain/stats_domain.py
  core/domain/stats_jobs_continuous.py
  core/domain/stats_jobs_one_off.py
  core/domain/stats_services_test.py
  core/domain/summary_services_test.py
  core/domain/user_jobs_continuous.py
  core/domain/user_jobs_continuous_test.py
  core/domain/user_query_jobs_one_off_test.py
  core/domain/user_services.py
  core/jobs.py
  core/platform/email/mailgun_email_services.py
  core/platform/search/gae_search_services.py
  core/storage/user/gae_models_test.py
  core/tests/performance_framework/perf_domain.py
  core/tests/test_utils_test.py
  extensions/answer_summarizers/models_test.py
  scripts/backend_tests.py
  scripts/common.py
  scripts/pre_commit_linter.py
  tox.ini
Labels: PR: LGTM

#4962 Remove currently unsupported site languages
  assets/constants.js
  core/domain/user_jobs_one_off.py
  core/jobs_registry.py
Labels: PR: for current release

#4960 Fix #4924: Fixed exploration count error.
  core/templates/dev/head/pages/learner_dashboard/LearnerDashboard.js
  core/templates/dev/head/pages/learner_dashboard/learner_dashboard.html
Labels: PR: for current release

#4943 Generalized Review System: Milestone 1 (part 1)
  core/platform/models.py
  core/storage/suggestion/__init__.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR: LGTM

#4970 Update privacy page.
  core/templates/dev/head/pages/privacy/privacy.html
Labels: PR: LGTM, PR: for current release

#4975 Remove additional unsupported site languages.
  assets/constants.js
  core/domain/user_jobs_one_off.py
Labels: PR: for current release

#4983 Added domain objects and services for Skills: Milestone 1.2 (Part 2)
  core/domain/collection_services.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/domain/story_domain.py
  core/domain/story_services.py
  core/storage/base_model/gae_models.py
  core/storage/skill/gae_models.py
  core/tests/test_utils.py
  feconf.py
Labels: PR: LGTM

#4981 Added domain objects and services for Topics: Milestone 1.2 (Part 1)
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/storage/topic/gae_models.py
  core/tests/test_utils.py
  feconf.py
Labels: PR: LGTM

#4992 Added update and delete for Skills
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/storage/skill/gae_models.py
  feconf.py
Labels: PR: LGTM
