Repository oppia/oppia, pull requests merged in 2018-03, with the labels that each got.

#4747 Fixes issue #4746 : Sidebar links not available on desktop view
  core/templates/dev/head/components/side_navigation_bar/side_navigation_bar_directive.html
Labels: PR: LGTM

#4257 Fix #4072 : Uses Initial few words as a feedback's subject
  assets/constants.js
  core/domain/feedback_jobs_one_off.py
  core/domain/feedback_jobs_one_off_test.py
  core/jobs_registry.py
  core/templates/dev/head/filters.js
  core/templates/dev/head/filtersSpec.js
  core/templates/dev/head/pages/exploration_player/FeedbackPopupDirective.js
Labels: PR: LGTM

#4769 Add missing dependency.
  core/templates/dev/head/services/SearchService.js
Labels: PR: LGTM, PR: for current release

#4772 Added $log dependency in missing places.
  core/templates/dev/head/pages/exploration_editor/feedback_tab/FeedbackTab.js
  core/templates/dev/head/pages/exploration_player/FeedbackPopupDirective.js
  core/templates/dev/head/pages/profile/Profile.js
Labels: PR: LGTM, PR: for current release

#4777 Fixed #4537: Navigating between admin pages on url change
  core/templates/dev/head/pages/admin/Admin.js
  core/templates/dev/head/pages/admin/AdminNavbarDirective.js
  core/templates/dev/head/pages/admin/admin_navbar_directive.html
Labels: PR: LGTM

#4782 Revert "Fixes #4530: Removes spaces and new lines from end of string in RTE. (#4748)"
  core/templates/dev/head/filters.js
  core/templates/dev/head/filtersSpec.js
  core/templates/dev/head/services/RteHelperService.js
Labels: PR: LGTM, PR: for current release

#4780 Fix #4778: Changed is_community_owned to make_community_owned.
  core/controllers/editor.py
  core/controllers/editor_test.py
Labels: PR: LGTM, PR: for current release

#4753 Fix #4367 : Prevent null-submission for MathExpressionInput interaction (Upgraded guppy 260da6--->b5055b)
  assets/overrides/guppy/oppia_symbols.json
  extensions/dependencies/guppy.html
  extensions/interactions/MathExpressionInput/directives/MathExpressionInput.js
  manifest.json
Labels: PR: LGTM

#4802 Fix #4776: possible race condition in audio preview in editor tab.
  core/templates/dev/head/components/forms/AudioPlayerDirective.js
  core/templates/dev/head/components/forms/audio_player_directive.html
  core/templates/dev/head/components/forms/audio_translations_editor_directive.html
Labels: PR: for current release

#4834 Fix git push error when branch has same name as directory.
  scripts/pre_push_hook.py
Labels: PR: LGTM
