Repository oppia/oppia, pull requests merged in 2018-07, with the labels that each got.

#5186 Update CODEOWNERS to include all storage models & add Sean as an owner
  CODEOWNERS
Labels: PR: LGTM

#5179 Fix #5177: Added migration function to ensure caption in images
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/html_cleaner.py
  core/domain/html_cleaner_test.py
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  feconf.py
Labels: PR: LGTM

#5196 Fix #5182: Added new folders to skip_files
  app.yaml
Labels: PR: LGTM

#5198 Added try catch in MigrationValidation for CKEditor
  core/domain/exp_jobs_one_off.py
Labels: PR: LGTM

#5207 Fix part of #5201: Remove jquery-ui-themes.
  manifest.json
Labels: PR: LGTM

#5190 Only enable Playthrough recording for Fractions collection
  assets/constants.js
  core/templates/dev/head/pages/exploration_player/PlaythroughService.js
  core/templates/dev/head/pages/exploration_player/PlaythroughServiceSpec.js
Labels: PR: LGTM

#5215 Fix #4166: SVMPredictionService, add desriptive comment explaining to why intercept is being added rather than substracting it from sum.
  extensions/classifiers/SVMPredictionService.js
Labels: PR: LGTM

#5211 Fix #5202: Moved topic and story validations to their respective objects
  core/templates/dev/head/domain/story/StoryContentsObjectFactory.js
  core/templates/dev/head/domain/story/StoryContentsObjectFactorySpec.js
  core/templates/dev/head/domain/story/StoryNodeObjectFactory.js
  core/templates/dev/head/domain/story/StoryNodeObjectFactorySpec.js
  core/templates/dev/head/domain/story/StoryObjectFactory.js
  core/templates/dev/head/domain/story/StoryObjectFactorySpec.js
  core/templates/dev/head/domain/story/StoryValidationService.js
  core/templates/dev/head/domain/story/StoryValidationServiceSpec.js
  core/templates/dev/head/domain/topic/SubtopicObjectFactory.js
  core/templates/dev/head/domain/topic/SubtopicObjectFactorySpec.js
  core/templates/dev/head/domain/topic/TopicObjectFactory.js
  core/templates/dev/head/domain/topic/TopicObjectFactorySpec.js
  core/templates/dev/head/domain/topic/TopicValidationService.js
  core/templates/dev/head/domain/topic/TopicValidationServiceSpec.js
  core/templates/dev/head/domain/utilities/LanguageUtilServiceSpec.js
  core/templates/dev/head/pages/story_editor/StoryEditorNavbarDirective.js
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/topic_editor/TopicEditorNavbarDirective.js
  core/templates/dev/head/pages/topic_editor/topic_editor.html
Labels: PR: LGTM

#5228 Updated the Migration function for CKEditor
  core/domain/html_cleaner.py
  core/domain/html_cleaner_test.py
Labels: PR: LGTM

#5227 Fix #5226: Fixed publish button issue.
  core/templates/dev/head/pages/exploration_editor/ExplorationSaveAndPublishButtonsDirective.js
Labels: PR: LGTM

#5233 Downgrade 404 logs to warnings.
  core/controllers/base.py
Labels: PR: LGTM, PR: for current release

#5241 Only append to the general error log for non-404 errors.
  core/controllers/base.py
Labels: PR: LGTM, PR: for current release

#5237 Fixes #5209 Removing preloading completely from preview mode.
  core/templates/dev/head/pages/exploration_player/PlayerServices.js
  extensions/interactions/ImageClickInput/directives/ImageClickInput.js
  extensions/rich_text_components/Image/directives/ImageDirective.js
Labels: PR: for current release

#5239 Allow machine learning classification in editor preview mode of exploration
  core/domain/exp_services.py
  core/domain/stats_domain.py
  core/domain/stats_domain_test.py
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.js
Labels: PR: LGTM

#5224 e2e refactor follow-up for PR#5139
  core/templates/dev/head/components/top_navigation_bar/top_navigation_bar_directive.html
  core/templates/dev/head/pages/exploration_player/feedback_popup_directive.html
  core/templates/dev/head/pages/moderator/Moderator.js
  core/tests/protractor/accessibility.js
  core/tests/protractor/collections.js
  core/tests/protractor/editorAndPlayer.js
  core/tests/protractor/learnerDashboard.js
  core/tests/protractor/stateEditor.js
  core/tests/protractor_utils/AdminPage.js
  core/tests/protractor_utils/CollectionEditorPage.js
  core/tests/protractor_utils/CreatorDashboardPage.js
  core/tests/protractor_utils/ExplorationEditorFeedbackTab.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
  core/tests/protractor_utils/LearnerDashboardPage.js
  core/tests/protractor_utils/LibraryPage.js
  core/tests/protractor_utils/PreferencesPage.js
  core/tests/protractor_utils/editor.js
  core/tests/protractor_utils/forms.js
  core/tests/protractor_utils/general.js
  core/tests/protractor_utils/users.js
  core/tests/protractor_utils/workflow.js
  extensions/rich_text_components/Collapsible/protractor.js
Labels: PR: LGTM

#5248 Fix #5040: Remove app.js from excluded_files
  scripts/pre_commit_linter.py
Labels: PR: LGTM

#5249 Add check for browser.waitForAngular calls
  core/tests/protractor_utils/general.js
  core/tests/protractor_utils/waitFor.js
  scripts/pre_commit_linter.py
Labels: PR: LGTM

#5250 e2e's extensions.js: Removing unconsumed console error entries
  core/tests/protractor/extensions.js
Labels: PR: LGTM

#5238 Tag prerequisite skill to answer group
  assets/constants.js
  core/templates/dev/head/app.js
  core/templates/dev/head/components/OutcomeDestinationEditorDirective.js
  core/templates/dev/head/components/OutcomeEditorDirective.js
  core/templates/dev/head/components/outcome_destination_editor_directive.html
  core/templates/dev/head/components/outcome_editor_directive.html
  core/templates/dev/head/pages/exploration_editor/editor_tab/ResponsesService.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/StateResponses.js
Labels: PR: LGTM

#5262 Fix #4838: Ternary operator scope creation
  .eslintrc
  core/templates/dev/head/components/StateGraphLayoutService.js
  core/templates/dev/head/components/forms/AudioTranslationsEditorDirective.js
  core/templates/dev/head/components/forms/FormBuilder.js
  core/templates/dev/head/filters.js
  extensions/interactions/LogicProof/directives/LogicProof.js
Labels: PR: LGTM

#5258 Some initial changes to use the new waitFor utility.
  core/templates/dev/head/pages/collection_editor/collection_editor_save_modal_directive.html
  core/templates/dev/head/pages/exploration_editor/exploration_save_modal_directive.html
  core/templates/dev/head/pages/skill_editor/skill_editor_save_modal_directive.html
  core/templates/dev/head/pages/story_editor/story_editor_save_modal_directive.html
  core/templates/dev/head/pages/topic_editor/topic_editor_save_modal_directive.html
  core/tests/protractor/accessibility.js
  core/tests/protractor/learnerDashboard.js
  core/tests/protractor/userJourneys.js
  core/tests/protractor_utils/AdminPage.js
  core/tests/protractor_utils/CollectionEditorPage.js
  core/tests/protractor_utils/CreatorDashboardPage.js
  core/tests/protractor_utils/ExplorationEditorHistoryTab.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/ExplorationEditorPage.js
  core/tests/protractor_utils/ExplorationEditorSettingsTab.js
  core/tests/protractor_utils/general.js
  core/tests/protractor_utils/waitFor.js
Labels: PR: LGTM

#5261 Fix #5071: Replace closeSubmenu with closeSubmenuIfNotMobile to make dropdown menu work
  core/templates/dev/head/components/top_navigation_bar/TopNavigationBarDirective.js
  core/templates/dev/head/components/top_navigation_bar/top_navigation_bar_directive.html
Labels: PR: LGTM, PR: for current release

#5269 Fixes travis build after merging #5155
  core/storage/suggestion/gae_models.py
Labels: PR: LGTM

#5267 Fixing Fraction Input weird padding.
  core/templates/dev/head/pages/exploration_player/tutor_card_directive.html
Labels: PR: LGTM, PR: for current release

#5272 Fixating position of preview tab's reset button to bottom right corner.
  core/templates/dev/head/pages/exploration_editor/preview_tab/preview_tab.html
Labels: PR: for current release

#5282 Fixing PieChartDirective console error
  core/templates/dev/head/pages/exploration_editor/statistics_tab/PieChartDirective.js
  core/tests/protractor/stateEditor.js
Labels: PR: LGTM

#5284 Remove some files that were skipped and caused math expression input to break.
  app.yaml
Labels: PR: LGTM, PR: for current release

#5278 Refactored ExplorationContextService
  core/templates/dev/head/components/CkEditorRteDirective.js
  core/templates/dev/head/components/SolutionEditorDirective.js
  core/templates/dev/head/components/VersionDiffVisualizationDirective.js
  core/templates/dev/head/components/forms/AudioTranslationsEditorDirective.js
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/exploration_editor/EditorNavigationDirective.js
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.js
  core/templates/dev/head/pages/exploration_editor/ExplorationSaveService.js
  core/templates/dev/head/pages/exploration_editor/ExplorationStatesService.js
  core/templates/dev/head/pages/exploration_editor/ExplorationStatesServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/ResponsesService.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/StateResponses.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/StateSolution.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/TrainingDataEditorPanelService.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/TrainingModalService.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/UnresolvedAnswersOverviewDirective.js
  core/templates/dev/head/pages/exploration_player/AudioPreloaderService.js
  core/templates/dev/head/pages/exploration_player/AudioPreloaderServiceSpec.js
  core/templates/dev/head/pages/exploration_player/ExplorationFooterDirective.js
  core/templates/dev/head/pages/exploration_player/ExplorationRecommendationsService.js
  core/templates/dev/head/pages/exploration_player/ExtractImageFilenamesFromStateServiceSpec.js
  core/templates/dev/head/pages/exploration_player/ImagePreloaderService.js
  core/templates/dev/head/pages/exploration_player/ImagePreloaderServiceSpec.js
  core/templates/dev/head/pages/exploration_player/LearnerViewInfo.js
  core/templates/dev/head/pages/exploration_player/PlayerServices.js
  core/templates/dev/head/pages/exploration_player/StatsReportingService.js
  core/templates/dev/head/pages/maintenance/maintenance.html
  core/templates/dev/head/services/AudioPlayerService.js
  core/templates/dev/head/services/ContextService.js
  core/templates/dev/head/services/ContextServiceSpec.js
  core/templates/dev/head/services/ExplorationContextService.js
  core/templates/dev/head/services/RteHelperService.js
  core/templates/dev/head/services/StateRulesStatsService.js
  core/templates/dev/head/services/StateRulesStatsServiceSpec.js
  core/templates/dev/head/services/StateTopAnswersStatsService.js
  core/templates/dev/head/services/StateTopAnswersStatsServiceSpec.js
  extensions/interactions/EndExploration/directives/EndExploration.js
  extensions/interactions/ImageClickInput/directives/ImageClickInput.js
  extensions/objects/templates/FilepathEditor.js
  extensions/objects/templates/ImageWithRegionsEditor.js
  extensions/rich_text_components/Image/directives/ImageDirective.js
  extensions/rich_text_components/Link/directives/LinkDirective.js
  extensions/rich_text_components/Video/directives/VideoDirective.js
Labels: PR: LGTM

#5293 Modified the questions backend
  core/controllers/creator_dashboard.py
  core/controllers/question.py
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/question_test.py
  core/domain/acl_decorators.py
  core/domain/acl_decorators_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/role_services.py
  core/domain/user_services.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/tests/test_utils.py
  feconf.py
  main.py
Labels: PR: LGTM

#5292 Math Expression Input e2e
  core/tests/protractor/extensions.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  extensions/interactions/MathExpressionInput/protractor.js
  extensions/interactions/protractor.js
Labels: PR: LGTM

#5289 Fixes #5260: Unable to type anything in the Math expression input box in mobile
  extensions/interactions/MathExpressionInput/directives/MathExpressionInput.js
Labels: PR: LGTM, PR: for current release

#5309 Create question editor (Part 1): Added frontend domain objects
  core/templates/dev/head/domain/question/EditableQuestionBackendApiService.js
  core/templates/dev/head/domain/question/EditableQuestionBackendApiServiceSpec.js
  core/templates/dev/head/domain/question/QuestionObjectFactory.js
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.js
Labels: PR: LGTM

#5294 Fix #5287: Deletes feedback content id while deleting interaction.
  core/templates/dev/head/app.js
  core/templates/dev/head/domain/exploration/ContentIdsToAudioTranslationsObjectFactory.js
  core/templates/dev/head/domain/exploration/ContentIdsToAudioTranslationsObjectFactorySpec.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/ResponsesService.js
  core/tests/protractor/editorAndPlayer.js
Labels: PR: for current release

#5311 Fix docstrings for acl_decorators
  core/domain/acl_decorators.py
Labels: PR: LGTM

#5312 Fix cast and improve output messages in stats job.
  core/domain/stats_jobs_continuous.py
Labels: PR: LGTM, PR: for current release

#5277 Add skill rights and unpublished skills
  core/controllers/skill_editor.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/acl_decorators.py
  core/domain/acl_decorators_test.py
  core/domain/role_services.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/storage/skill/gae_models.py
  core/templates/dev/head/domain/skill/SkillObjectFactory.js
  core/templates/dev/head/domain/skill/SkillRightsBackendApiService.js
  core/templates/dev/head/domain/skill/SkillRightsBackendApiServiceSpec.js
  core/templates/dev/head/domain/skill/SkillRightsObjectFactory.js
  core/templates/dev/head/domain/skill/SkillRightsObjectFactorySpec.js
  core/templates/dev/head/domain/topic/TopicRightsBackendApiServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/ExplorationStatesServiceSpec.js
  core/templates/dev/head/pages/skill_editor/SkillEditor.js
  core/templates/dev/head/pages/skill_editor/SkillEditorNavbarDirective.js
  core/templates/dev/head/pages/skill_editor/SkillEditorStateService.js
  core/templates/dev/head/pages/skill_editor/SkillEditorStateServiceSpec.js
  core/templates/dev/head/pages/skill_editor/editor_tab/SkillDescriptionEditorDirective.js
  core/templates/dev/head/pages/skill_editor/editor_tab/skill_description_editor_directive.html
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/skill_editor/skill_editor_navbar_directive.html
  core/templates/dev/head/pages/skill_editor/skill_editor_pre_publish_modal_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/TopicsAndSkillsDashboard.js
  core/templates/dev/head/pages/topics_and_skills_dashboard/topics_and_skills_dashboard.html
  feconf.py
  main.py
Labels: PR: LGTM

#5276 Fix #5253: Fixed hiding of Continue button when correctness footer is present
  core/templates/dev/head/pages/exploration_player/ConversationSkinDirective.js
  core/templates/dev/head/pages/exploration_player/correctness_footer_directive.html
Labels: PR: for current release

#5291 Convert all floating point numbers back to float from strings in received classifier data
  core/controllers/classifier.py
  core/controllers/classifier_test.py
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  feconf.py
Labels: PR: LGTM

#5328 Disable modify training data button until ML is enabled.
  core/templates/dev/head/components/AnswerGroupEditorDirective.js
  core/templates/dev/head/components/answer_group_editor_directive.html
Labels: PR: for current release

#5283 Dedup skill schema changes
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/storage/skill/gae_models.py
Labels: PR: LGTM

#5332 Fixes #5298: Add Oppia Foundation to sidebar
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/images/sidebar/oppia-foundation-logo.png
  core/templates/dev/head/components/side_navigation_bar/side_navigation_bar_directive.html
Labels: PR: LGTM

#5273 Fix suggestions subject not displayed
  core/controllers/feedback.py
  core/controllers/feedback_test.py
  core/controllers/learner_dashboard_test.py
  core/templates/dev/head/domain/feedback_thread/FeedbackThreadObjectFactory.js
  core/templates/dev/head/domain/feedback_thread/FeedbackThreadObjectFactorySpec.js
  core/templates/dev/head/domain/suggestion/SuggestionObjectFactory.js
  core/templates/dev/head/domain/suggestion/SuggestionObjectFactorySpec.js
  core/templates/dev/head/domain/suggestion/SuggestionThreadObjectFactory.js
  core/templates/dev/head/domain/suggestion/SuggestionThreadObjectFactorySpec.js
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_editor/feedback_tab/FeedbackTab.js
  core/templates/dev/head/pages/exploration_editor/feedback_tab/ThreadDataService.js
  core/templates/dev/head/pages/exploration_editor/feedback_tab/editor_view_suggestion_modal_directive.html
  core/templates/dev/head/pages/exploration_editor/feedback_tab/feedback_tab.html
  core/templates/dev/head/pages/exploration_editor/feedback_tab/thread_table_directive.html
  core/tests/protractor_utils/ExplorationEditorFeedbackTab.js
Labels: PR: for current release

#5318 Removed indentblock to allow indentation only for list elements
  core/templates/dev/head/components/CkEditorRteDirective.js
  manifest.json
Labels: PR: LGTM, PR: for current release

#5339 Fix #5315: Disable recording Learner Actions in preview mode
  core/templates/dev/head/pages/exploration_player/PlayerServices.js
Labels: PR: LGTM, PR: for current release

#5345 Manually Construct URL
  core/templates/dev/head/services/StateRulesStatsService.js
Labels: PR: LGTM, PR: for current release

#5320 Fix #5301: Disabled required spacing in the currency units in Number with Units interaction
  core/templates/dev/head/domain/objects/NumberWithUnitsObjectFactory.js
  core/templates/dev/head/domain/objects/NumberWithUnitsObjectFactorySpec.js
  extensions/interactions/NumberWithUnits/directives/number_with_units_help_modal_directive.html
  extensions/interactions/NumberWithUnits/static/NumberWithUnits.png
Labels: PR: for current release

#5347 Fix #5314: Reinstate failing Karma test.
  core/templates/dev/head/pages/exploration_editor/ExplorationStatesServiceSpec.js
Labels: PR: for current release

#5349 Refactor the delete-state-callback test.
  core/templates/dev/head/pages/exploration_editor/ExplorationStatesServiceSpec.js
Labels: PR: for current release

#5351 Fix variable declaration error while recording playthroughs
  core/templates/dev/head/pages/exploration_player/PlayerServices.js
Labels: PR: LGTM, PR: for current release

#5354 Fix #5336: Added brackets to valid url characters
  core/templates/dev/head/domain/utilities/UrlInterpolationService.js
  core/templates/dev/head/domain/utilities/UrlInterpolationServiceSpec.js
Labels: PR: LGTM, PR: for current release

#5350 Remove unused feconf constants
  feconf.py
Labels: PR: LGTM

#5356 Handle exploration reverts for ExplorationStatsModel
  core/domain/event_services.py
  core/domain/exp_services.py
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
  core/jobs_registry.py
Labels: PR: LGTM, PR: for current release

#5366 More fixes to stats jobs from running on test server.
  core/domain/stats_jobs_one_off.py
Labels: PR: for current release

#5382 Attempt to fix Chrome on Travis
  .travis.yml
  scripts/setup.sh
Labels: PR: LGTM

#5377 Production fixes for the stats job.
  core/domain/stats_jobs_one_off.py
  core/storage/statistics/gae_models.py
  scripts/install_frontend_tests_dependencies.sh
  scripts/setup.sh
Labels: PR: for current release

#5383 Add comment to .travis.yml
  .travis.yml
Labels: PR: LGTM

#5384 Updated Readme.
  README.md
Labels: PR: LGTM

#5372 Handle incoming None version events
  core/controllers/reader.py
  core/controllers/reader_test.py
Labels: PR: LGTM

#5385 Caching Chrome to prevent test timing out by Travis failing to download Chrome.
  .travis.yml
  scripts/install_chrome_on_travis.sh
  scripts/run_e2e_tests.sh
  scripts/setup.sh
Labels: PR: LGTM

#5388 Fix errors in the RegenerateMissingStatsModelsOneOffJob.
  core/domain/stats_jobs_one_off.py
Labels: PR: for current release

#5392 Unique session IDs for starts and quits
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
  core/templates/dev/head/pages/exploration_player/StatsReportingService.js
Labels: PR: LGTM, PR: for current release

#5394 Only log when versions are actually regenerated.
  core/domain/stats_jobs_one_off.py
Labels: PR: for current release
