Repository oppia/oppia, pull requests merged in 2018-09, with the labels that each got.

#5609 Misc fixes to image GAE/GCS migration
  core/domain/exp_jobs_one_off.py
  core/jobs_registry.py
Labels: PR: LGTM, PR: for current release

#5612 Fixes #5605: Correct CurrentInteractionService registration in DragAndDropSortInput
  extensions/interactions/DragAndDropSortInput/directives/DragAndDropSortInput.js
Labels: PR: LGTM, PR: for current release

#5615 Fixed code editor issue
  core/templates/dev/head/pages/exploration_player/TutorCardDirective.js
Labels: PR: for current release

#5619 Update Teach with Oppia form link.
  core/templates/dev/head/pages/teach/Teach.js
  core/templates/dev/head/pages/teach/teach.html
Labels: PR: LGTM

#5621 Update authors and changelog for v2.6.7
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/dev/head/pages/about/about.html
Labels: PR: for current release

#5626 Only Force Answer Resolution for Whitelisted Interaction IDs
  core/templates/dev/head/pages/exploration_editor/ExplorationWarningsService.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/UnresolvedAnswersOverviewDirective.js
Labels: devflow, frontend, important

#5624 Fix #5620: Add check for git conflict markers
  scripts/pre_commit_linter.py
Labels: PR: LGTM

#5622 Fix #5600: correctly align the translation progress label in Firefox
  core/templates/dev/head/pages/exploration_editor/translation_tab/translator_overview_directive.html
Labels: PR: LGTM

#5618 Fix part of #5002: Remove DEV_MODE from GLOBALS.
  assets/constants.js
  core/controllers/admin.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/classifier.py
  core/controllers/classifier_test.py
  core/controllers/editor.py
  core/controllers/translator.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_services.py
  core/domain/html_validation_service.py
  core/platform/app_identity/gae_app_identity_services.py
  core/platform/app_identity/gae_app_identity_services_test.py
  core/platform/image/gae_image_services.py
  core/platform/models.py
  core/templates/dev/head/app.js
  core/templates/dev/head/domain/utilities/UrlInterpolationService.js
  core/templates/dev/head/domain/utilities/UrlInterpolationServiceSpec.js
  core/templates/dev/head/pages/Base.js
  core/templates/dev/head/pages/admin/Admin.js
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/forum/Forum.js
  core/templates/dev/head/pages/maintenance/Maintenance.js
  core/tests/gae_suite.py
  core/tests/test_utils.py
  feconf.py
  scripts/pre_commit_linter.py
  scripts/run_e2e_tests.sh
  scripts/start.sh
  utils.py
Labels: PR: LGTM

#5657 Fix #5623 Move server launch to python
  gulpfile.js
  scripts/gulp-start-gae-devserver.js
  scripts/start.sh
Labels: PR: LGTM

#5643 Export schedule dispatch
  cron.yaml
  dispatch.yaml
  export/__init__.py
  export/acl_decorators.py
  export/app.yaml
  export/cloud_datastore_admin.py
Labels: PR: LGTM

#5681 Added one off job and validation job to populate last_updated field.
  core/domain/feedback_jobs_one_off.py
  core/jobs_registry.py
Labels: PR: for current release

#5698 Fix #5683: UI changes to new editors
  core/templates/dev/head/components/CkEditorRteDirective.js
  core/templates/dev/head/pages/skill_editor/editor_tab/SkillMisconceptionsEditorDirective.js
  core/templates/dev/head/pages/skill_editor/editor_tab/add_misconception_modal_directive.html
  core/templates/dev/head/pages/topic_editor/subtopics_editor/subtopics_list_tab_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/create_new_skill_modal_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/new_topic_name_editor_directive.html
Labels: PR: LGTM

#5637 #5445 Change image save path for ExplorationFileSystem to be consiste…
  core/controllers/editor.py
  core/controllers/resources.py
  core/controllers/resources_test.py
  core/controllers/translator.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/fs_services.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/jobs_registry.py
  core/templates/dev/head/pages/exploration_player/AudioPreloaderServiceSpec.js
  core/templates/dev/head/pages/exploration_player/ImagePreloaderServiceSpec.js
  core/templates/dev/head/services/AssetsBackendApiService.js
  core/templates/dev/head/services/AssetsBackendApiServiceSpec.js
  main.py
Labels: PR: LGTM
