Repository oppia/oppia, pull requests merged in 2018-12, with the labels that each got.

#5941 Fix #5933: Changed Code Editor Prompt in Test Exploration to be More Explicit
  data/explorations/all_interactions/all_interactions.yaml
Labels: PR: LGTM

#5947 Hide Playthrough Issues on Exploration Editor Stats Tab if Exploration is not Whitelisted
  core/controllers/editor.py
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.js
  core/templates/dev/head/pages/exploration_editor/statistics_tab/PlaythroughIssuesService.js
  core/templates/dev/head/pages/exploration_editor/statistics_tab/StatisticsTab.js
  core/templates/dev/head/pages/exploration_editor/statistics_tab/statistics_tab.html
Labels: PR: LGTM, PR: for current release

#5951 Small landing page changes based on feedback from Kefeh.
  core/templates/dev/head/pages/landing/stewards/Stewards.js
  core/templates/dev/head/pages/landing/stewards/landing_page_stewards.html
Labels: PR: for current release

#5965 Fix error while displaying suggestion threads on learner dashboard page
  core/controllers/learner_dashboard.py
Labels: PR: for current release

#5962 Fix #5039: Added continue button in preview mode
  extensions/interactions/Continue/directives/Continue.js
  extensions/interactions/Continue/directives/continue_interaction_directive.html
Labels: PR: LGTM

#6002 Fix false positive travis build
  scripts/pre_commit_linter.py
Labels: code-health

#6000 Fix code duplication in ExplorationPlayerStateService
  core/templates/dev/head/pages/exploration_player/ExplorationPlayerStateService.js
Labels: code-health

#6006 Fixes part of #4374: Add docstring in core/domain/feedback_jobs_continuous.py
  core/domain/feedback_jobs_continuous.py
Labels: PR: LGTM
