Repository oppia/oppia, pull requests merged in 2018-02, with the labels that each got.

#4670 Fix #4295: addresses review comments in #4659
  core/templates/dev/head/pages/exploration_player/AudioBarDirective.js
  core/templates/dev/head/pages/exploration_player/audio_bar_directive.html
Labels: PR: LGTM

#4681 Updated PULL_REQUEST_TEMPLATE to include #bugnum in explanation.
  PULL_REQUEST_TEMPLATE.md
Labels: PR: LGTM

#4633 Fix #4566: Dollar formatting issue
  core/templates/dev/head/filters.js
  core/templates/dev/head/filtersSpec.js
Labels: PR: LGTM

#4685 Only attach onended property of audio if current track is not null.
  core/templates/dev/head/services/AudioPlayerService.js
Labels: PR: LGTM, PR: for current release

#4696 Fix #4683: Altered positioning of help card to make it appropriate
  core/templates/dev/head/pages/exploration_player/SupplementalCardDirective.js
  core/templates/dev/head/pages/exploration_player/supplemental_card_directive.html
Labels: PR: for current release

#4694 Fix #4656: Fix spacing around links in rte
  extensions/rich_text_components/Link/directives/LinkDirective.js
  extensions/rich_text_components/Link/directives/link_directive.html
Labels: PR: LGTM

#4699 Add check for trailing whitespaces
  .eslintrc
  core/templates/dev/head/components/forms/schema_editors/SchemaBasedListEditorDirective.js
  core/templates/dev/head/components/promo/PromoBarDirective.js
  core/templates/dev/head/domain/classifier/AnswerClassificationResultObjectFactorySpec.js
  core/templates/dev/head/domain/classifier/ClassifierObjectFactorySpec.js
  core/templates/dev/head/domain/exploration/EditableExplorationBackendApiService.js
  core/templates/dev/head/domain/exploration/ExplorationObjectFactorySpec.js
  core/templates/dev/head/domain/exploration/OutcomeObjectFactorySpec.js
  core/templates/dev/head/domain/learner_dashboard/LearnerDashboardBackendApiServiceSpec.js
  core/templates/dev/head/domain/learner_dashboard/LearnerDashboardIdsBackendApiServiceSpec.js
  core/templates/dev/head/domain/sidebar/SidebarStatusServiceSpec.js
  core/templates/dev/head/pages/collection_editor/CollectionEditorNavbarDirective.js
  core/templates/dev/head/pages/exploration_editor/AutosaveInfoModalsService.js
  core/templates/dev/head/pages/exploration_editor/EditorStateService.js
  core/templates/dev/head/pages/exploration_editor/ExplorationTitleEditorDirective.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/InteractionDetailsCacheService.js
  core/templates/dev/head/pages/exploration_editor/feedback_tab/ThreadStatusDisplayServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/history_tab/CompareVersionsService.js
  core/templates/dev/head/pages/exploration_player/AudioBarDirective.js
  core/templates/dev/head/pages/exploration_player/AudioPreloaderService.js
  core/templates/dev/head/pages/exploration_player/AudioTranslationLanguageServiceSpec.js
  core/templates/dev/head/pages/preferences/Preferences.js
  core/templates/dev/head/services/CodeNormalizerService.js
  core/templates/dev/head/services/NestedDirectivesRecursionTimeoutPreventionService.js
  core/templates/dev/head/services/SchemaDefaultValueService.js
  core/templates/dev/head/services/SchemaUndefinedLastElementService.js
  core/templates/dev/head/services/stateful/BackgroundMaskService.js
  core/tests/protractor/accessibility.js
  core/tests/protractor/embedding.js
  core/tests/protractor/preferences.js
  core/tests/protractor/subscriptions.js
  core/tests/protractor/userManagement.js
  core/tests/protractor_utils/PreferencesPage.js
  core/tests/protractor_utils/SubscriptionDashboardPage.js
  extensions/classifiers/SVMPredictionServiceSpec.js
  extensions/classifiers/TextInputTokenizer.js
  extensions/classifiers/WinnowingPreprocessingService.js
  extensions/objects/templates/ImageWithRegionsEditor.js
Labels: PR: LGTM

#4695 Fix #4635 Make the Advanced feature settings(in creator mode) more intuitive
  core/templates/dev/head/pages/exploration_editor/settings_tab/settings_tab.html
Labels: PR: LGTM

#4703 Fix #4701: fixes rule descriptor for ListOfCodeEvaluation and SetOfNormalizedStrings
  core/templates/dev/head/filters.js
Labels: PR: LGTM

#4704 Add check for trailing white spaces in HTML files
  core/templates/dev/head/components/forms/html_select_directive.html
  core/templates/dev/head/components/social_buttons/social_buttons_directive.html
  core/templates/dev/head/pages/admin/roles_tab/roles_tab_directive.html
  core/templates/dev/head/pages/collection_player/collection_footer_directive.html
  core/templates/dev/head/pages/exploration_editor/exploration_title_editor_directive.html
  core/templates/dev/head/pages/exploration_player/audio_bar_directive.html
  core/templates/dev/head/pages/get_started/get_started.html
  extensions/objects/templates/image_with_regions_editor.html
  scripts/pre_commit_linter.py
Labels: PR: LGTM

#4720 Add check for consistent comma spacing
  .eslintrc
  core/templates/dev/head/domain/classifier/AnswerClassificationResultObjectFactorySpec.js
  core/templates/dev/head/domain/learner_dashboard/LearnerDashboardIdsBackendApiService.js
  core/templates/dev/head/pages/exploration_editor/feedback_tab/ThreadStatusDisplayServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/history_tab/CompareVersionsService.js
  core/templates/dev/head/pages/exploration_player/PlayerConstants.js
  core/templates/dev/head/services/stateful/FocusManagerServiceSpec.js
Labels: PR: LGTM

#4716 Fix #3606: For public explorations, default to the feedback page in the exploration editor if feedback exists.
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.js
  core/tests/protractor/explorationFeedback.js
  core/tests/protractor_utils/editor.js
Labels: PR: LGTM
