Repository oppia/oppia, pull requests merged in 2018-04, with the labels that each got.

#4806 Fixes part of #4057: Add test for EditabilityService
  core/templates/dev/head/services/EditabilityServiceSpec.js
Labels: PR: LGTM

#4860 Fix #4859: Fix residual comments in #4858
  core/domain/exp_domain.py
Labels: PR: for current release

#4865 Fix #4857: Fixed feedback message status behaviour
  core/templates/dev/head/pages/exploration_editor/feedback_tab/feedback_tab.html
Labels: PR: for current release

#4878 Fix#4875 - Removed dead zone
  core/templates/dev/head/css/oppia.css
Labels: PR: for current release

#4873 Fix#4872 - Feedback open for large numbers
  core/templates/dev/head/pages/exploration_editor/editor_navigation_directive.html
Labels: PR: for current release

#4879 Fix#4864 - On mobile, two icons are visible on the exploration/collection cards at the same time.
  core/templates/dev/head/domain/learner_dashboard/learner_dashboard_icons_directive.html
  core/templates/dev/head/pages/library/ActivityTilesInfinityGridDirective.js
  core/templates/dev/head/pages/library/activity_tiles_infinity_grid_directive.html
Labels: PR: LGTM, PR: for current release

#4894 Fix #4874: Fixed the layout of cards
  core/templates/dev/head/pages/library/activity_tiles_infinity_grid_directive.html
Labels: PR: for current release

#4891 Fix #4868: Fixed tutor card
  core/templates/dev/head/pages/exploration_player/conversation_skin_directive.html
  core/templates/dev/head/pages/exploration_player/progress_nav_directive.html
Labels: PR: for current release

#4881 Fix #4880: Adjusted the position of correctness footer
  core/templates/dev/head/pages/exploration_player/correctness_footer_directive.html
Labels: PR: LGTM, PR: for current release

#4900 Setup htmllint
  .htmllintrc
  core/templates/dev/head/components/summary_tile/exploration_summary_tile_directive.html
  extensions/interactions/CodeRepl/directives/code_repl_interaction_directive.html
  scripts/install_third_party.sh
  scripts/pre_commit_linter.py
Labels: PR: LGTM

#4899 Fix # 4884:Correctness footer appears on navigating on correct cards
  core/templates/dev/head/pages/exploration_player/ConversationSkinDirective.js
  core/templates/dev/head/pages/exploration_player/PlayerPositionService.js
  core/templates/dev/head/pages/exploration_player/ProgressNavDirective.js
  core/templates/dev/head/pages/exploration_player/conversation_skin_directive.html
Labels: PR: LGTM, PR: for current release

#4905 Revert "Fix #4781: Fixed zoom in Problem with code editor (#4783)"
  core/templates/dev/head/pages/exploration_player/conversation_skin_directive.html
  core/templates/dev/head/pages/exploration_player/progress_nav_directive.html
  core/templates/dev/head/pages/exploration_player/tutor_card_directive.html
Labels: PR: for current release

#4906 Fixes alignment of the correctness footer
  core/templates/dev/head/pages/exploration_player/correctness_footer_directive.html
  extensions/interactions/ItemSelectionInput/static/item_selection_input.css
Labels: PR: for current release

#4908 Simplify the fractions landing page.
  core/templates/dev/head/pages/landing/fractions/landing_page_teacher.html
Labels: PR: for current release

#4824 Fix #3287: Enable training data classification in answer classification service
  core/templates/dev/head/pages/exploration_player/AnswerClassificationService.js
  core/templates/dev/head/pages/exploration_player/AnswerClassificationServiceSpec.js
Labels: PR: LGTM
