Repository oppia/oppia, pull requests merged in 2018-06, with the labels that each got.

#4889 Fixes part of #4057: Added spec for InteractionDetailsCacheService
  core/templates/dev/head/pages/exploration_editor/editor_tab/InteractionDetailsCacheServiceSpec.js
Labels: PR: LGTM

#4994 Modify the interval calls for storing stats
  core/templates/dev/head/pages/exploration_player/StatsReportingService.js
Labels: PR: for current release

#5020 Include html strings in the output of Content Validation job
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
Labels: PR: LGTM, PR: for current release

#5023 Readability Improvements to save_new_linear_exp_with_state_names_and_interactions
  core/domain/exp_domain.py
  core/tests/test_utils.py
Labels: PR: LGTM, backend

#5016 Added test for unique model names and renamed SuggestionModel to GeneralSuggestionModel
  core/storage/storage_models_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR: LGTM

#5031 Exploration Migration to add skill_id and tagged_misconception_id fields
  core/controllers/editor_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services_test.py
  core/templates/dev/head/domain/exploration/AnswerGroupObjectFactory.js
  core/templates/dev/head/domain/exploration/OutcomeObjectFactory.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/StateEditor.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/StateResponses.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/TrainingDataServiceSpec.js
  core/templates/dev/head/pages/exploration_player/AnswerClassificationServiceSpec.js
  core/templates/dev/head/pages/exploration_player/ImagePreloaderServiceSpec.js
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/protractor/editorFeatures.js
  core/tests/test_utils.py
  data/explorations/all_interactions/all_interactions.yaml
  data/explorations/audio_test/audio_test.yaml
  extensions/interactions/CodeRepl/directives/CodeReplValidationServiceSpec.js
  extensions/interactions/Continue/directives/ContinueValidationServiceSpec.js
  extensions/interactions/EndExploration/directives/EndExplorationValidationServiceSpec.js
  extensions/interactions/FractionInput/directives/FractionInputValidationServiceSpec.js
  extensions/interactions/GraphInput/directives/GraphInputValidationServiceSpec.js
  extensions/interactions/ImageClickInput/directives/ImageClickInputValidationServiceSpec.js
  extensions/interactions/InteractiveMap/directives/InteractiveMapValidationServiceSpec.js
  extensions/interactions/ItemSelectionInput/directives/ItemSelectionInputValidationServiceSpec.js
  extensions/interactions/LogicProof/directives/LogicProofValidationServiceSpec.js
  extensions/interactions/MultipleChoiceInput/directives/MultipleChoiceInputValidationServiceSpec.js
  extensions/interactions/MusicNotesInput/directives/MusicNotesInputValidationServiceSpec.js
  extensions/interactions/NumericInput/directives/NumericInputValidationServiceSpec.js
  extensions/interactions/SetInput/directives/SetInputValidationServiceSpec.js
  extensions/interactions/TextInput/directives/TextInputValidationServiceSpec.js
  extensions/interactions/baseValidatorSpec.js
  feconf.py
Labels: PR: LGTM

#5027 Fix change dict list in ExplorationStateIdMapping job
  core/domain/exp_domain.py
  core/domain/exp_jobs_one_off.py
Labels: PR: for current release

#5013 Added controllers for topics, skills and stories: Part 1
  core/controllers/collection_editor_test.py
  core/controllers/creator_dashboard.py
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/controllers/story_editor.py
  core/controllers/story_editor_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/acl_decorators.py
  core/domain/role_services.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/topics_and_skills_dashboard.html
  core/tests/test_utils.py
  feconf.py
  main.py
Labels: PR: LGTM

#5038 Added deepcopy to change objects
  core/domain/skill_domain.py
  core/domain/story_domain.py
  core/domain/topic_domain.py
Labels: PR: LGTM

#5042 Improving the dev workflow: Add check for print statement
  scripts/pre_commit_linter.py
Labels: PR: LGTM

#5034 Fix part of #4347 Included docstrings in various functions in scrips/custom_lint_checks.py
  scripts/custom_lint_checks.py
Labels: PR: LGTM

#5030 Ammendments to image preloading.
  core/templates/dev/head/pages/exploration_player/ExtractImageFilenamesFromStateService.js
  core/templates/dev/head/pages/exploration_player/ImagePreloaderService.js
  extensions/interactions/ImageClickInput/directives/ImageClickInput.js
  extensions/rich_text_components/Image/directives/ImageDirective.js
Labels: PR: for current release

#5050 Added MigrationValidation one-off-job
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/html_cleaner.py
  core/domain/html_cleaner_test.py
  core/jobs_registry.py
  feconf.py
Labels: PR: LGTM

#5006 Fix part of #3836: Milestone 1, introduce new calculation to aggregate top unresolved answers.
  core/controllers/editor.py
  core/domain/stats_jobs_continuous.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
  core/storage/statistics/gae_models.py
  extensions/answer_summarizers/models.py
  extensions/answer_summarizers/models_test.py
  extensions/interactions/TextInput/TextInput.py
  feconf.py
  main.py
Labels: PR: LGTM

#5054 Fix for error in migration validation testing
  core/domain/html_cleaner.py
  core/domain/html_cleaner_test.py
Labels: PR: LGTM

#5062 Amendments to the image Preloading( error case)
  core/templates/dev/head/pages/exploration_player/ImagePreloaderService.js
  core/templates/dev/head/pages/exploration_player/ImagePreloaderServiceSpec.js
  core/templates/dev/head/services/AssetsBackendApiService.js
  extensions/rich_text_components/Image/directives/ImageDirective.js
Labels: PR: for current release

#5070 Minor improvements to html_cleaner.convert_to_text_angular for readability.
  core/domain/html_cleaner.py
Labels: PR: for current release

#4997 Added skills mastery model
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR: LGTM

#5080 Fix #5041 and #5033: Hide unresolved student answers when the exploration is private, since there is no data to show.
  core/templates/dev/head/pages/exploration_editor/editor_tab/UnresolvedAnswersOverviewDirective.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/editor_tab.html
  core/templates/dev/head/pages/exploration_editor/editor_tab/issues_overview.html
  core/templates/dev/head/pages/exploration_editor/editor_tab/unresolved_answers_overview_directive.html
Labels: PR: for current release

#5079 Split Backend Call API from the StateTopAnswerStatisticsService
  core/domain/stats_services.py
  core/templates/dev/head/domain/exploration/AnswerStatsObjectFactory.js
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.js
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/services/StateTopAnswersStatsBackendApiService.js
  core/templates/dev/head/services/StateTopAnswersStatsBackendApiServiceSpec.js
  core/templates/dev/head/services/StateTopAnswersStatsService.js
  core/templates/dev/head/services/StateTopAnswersStatsServiceSpec.js
Labels: PR: LGTM

#5096 Fixed a Docstring
  core/domain/exp_domain.py
Labels: PR: LGTM

#5025 Implementing QuestionSkillLink Model and Domain
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
Labels: PR: LGTM

#5101 Routine translations update.
  assets/i18n/el.json
  assets/i18n/fi.json
  assets/i18n/kab.json
  assets/i18n/kum.json
  assets/i18n/sr-ec.json
  assets/i18n/sv.json
Labels: PR: LGTM

#4985 Added migration function for Textangular - Milestone 1 (part 2)
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services_test.py
  core/domain/html_cleaner.py
  core/domain/html_cleaner_test.py
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/data/test_cases_for_rte.json
  feconf.py
Labels: PR: for current release

#5102 Fix #5044: Added a named constant for revert commit command
  core/domain/exp_domain.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_services.py
  core/storage/base_model/gae_models.py
Labels: PR: LGTM

#5091 Fix #5083: Audio needs update span disable for guest users.
  core/templates/dev/head/components/forms/AudioTranslationsEditorDirective.js
  core/templates/dev/head/components/forms/audio_translations_editor_directive.html
Labels: PR: for current release

#5113 Fix #5111: remove notification preferences card from non-editors.
  core/templates/dev/head/pages/exploration_editor/settings_tab/settings_tab.html
  scripts/install_third_party.sh
Labels: PR: LGTM

#5117 Fix #5114: Add node path to stylelint cmd args
  scripts/pre_commit_linter.py
Labels: PR: LGTM

#5116 Added notes to run single e2e and unit tests.
  scripts/run_e2e_tests.sh
  scripts/run_frontend_tests.sh
Labels: PR: LGTM

#5120 Fix #5115: fix backend load test for feedback threads
  core/tests/load_tests/feedback_thread_summaries_test.py
Labels: PR: LGTM

#5082 Fix part of #3968: ParamMetadataObjectFactory domain object
  core/templates/dev/head/domain/exploration/ParamMetadataObjectFactory.js
  core/templates/dev/head/domain/exploration/ParamMetadataObjectFactorySpec.js
  core/templates/dev/head/pages/exploration_editor/ParameterMetadataService.js
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
Labels: PR: LGTM

#5132 Set ENABLE_PLAYTHROUGHS to True
  core/domain/exp_services.py
  feconf.py
Labels: PR: for current release

#5146 Fix package installation on Travis
  scripts/install_third_party.sh
Labels: PR: LGTM

#5142 Create Topic Editor (Part 5): Added subtopic page editor
  core/controllers/topic_editor.py
  core/templates/dev/head/domain/topic/EditableTopicBackendApiService.js
  core/templates/dev/head/domain/topic/EditableTopicBackendApiServiceSpec.js
  core/templates/dev/head/domain/topic/SubtopicPageObjectFactory.js
  core/templates/dev/head/domain/topic/SubtopicPageObjectFactorySpec.js
  core/templates/dev/head/domain/topic/TopicUpdateService.js
  core/templates/dev/head/domain/topic/TopicUpdateServiceSpec.js
  core/templates/dev/head/pages/topic_editor/TopicEditor.js
  core/templates/dev/head/pages/topic_editor/TopicEditorStateService.js
  core/templates/dev/head/pages/topic_editor/TopicEditorStateServiceSpec.js
  core/templates/dev/head/pages/topic_editor/subtopics_editor/SubtopicsListTabDirective.js
  core/templates/dev/head/pages/topic_editor/subtopics_editor/subtopics_list_tab_directive.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/TopicsAndSkillsDashboard.js
Labels: PR: LGTM

#5148 Create Story Editor (Part 2): Add create and delete story functionalities
  core/controllers/story_editor.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/domain/story_domain.py
  core/domain/story_services.py
  core/templates/dev/head/components/StoryCreationService.js
  core/templates/dev/head/domain/story/EditableStoryBackendApiService.js
  core/templates/dev/head/domain/story/EditableStoryBackendApiServiceSpec.js
  core/templates/dev/head/domain/topic/EditableTopicBackendApiService.js
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/story_editor/StoryEditor.js
  core/templates/dev/head/pages/story_editor/StoryEditorNavbarBreadcrumbDirective.js
  core/templates/dev/head/pages/story_editor/StoryEditorNavbarDirective.js
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/story_editor/story_editor_navbar_breadcrumb_directive.html
  core/templates/dev/head/pages/story_editor/story_editor_navbar_directive.html
  core/templates/dev/head/pages/topic_editor/TopicEditorNavbarDirective.js
  core/templates/dev/head/pages/topic_editor/TopicEditorStateService.js
  core/templates/dev/head/pages/topic_editor/TopicEditorStateServiceSpec.js
  core/templates/dev/head/pages/topic_editor/main_editor/StoriesListDirective.js
  core/templates/dev/head/pages/topic_editor/main_editor/TopicEditorTabDirective.js
  core/templates/dev/head/pages/topic_editor/main_editor/delete_story_modal_directive.html
  core/templates/dev/head/pages/topic_editor/main_editor/new_story_title_editor_directive.html
  core/templates/dev/head/pages/topic_editor/main_editor/save_pending_changes_modal_directive.html
  core/templates/dev/head/pages/topic_editor/main_editor/stories_list_directive.html
  core/templates/dev/head/pages/topic_editor/main_editor/topic_editor_tab_directive.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  core/templates/dev/head/pages/topic_editor/topic_editor_navbar_directive.html
  feconf.py
  main.py
Labels: PR: LGTM

#5152 Create Story Editor (Part 3): Create Story Editor UI
  core/controllers/story_editor.py
  core/templates/dev/head/components/top_navigation_bar/TopNavigationBarDirective.js
  core/templates/dev/head/pages/story_editor/StoryEditor.js
  core/templates/dev/head/pages/story_editor/StoryEditorNavbarBreadcrumbDirective.js
  core/templates/dev/head/pages/story_editor/StoryEditorNavbarDirective.js
  core/templates/dev/head/pages/story_editor/StoryEditorStateService.js
  core/templates/dev/head/pages/story_editor/StoryEditorStateServiceSpec.js
  core/templates/dev/head/pages/story_editor/main_editor/StoryEditorDirective.js
  core/templates/dev/head/pages/story_editor/main_editor/story_editor_directive.html
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/story_editor/story_editor_navbar_breadcrumb_directive.html
  core/templates/dev/head/pages/story_editor/story_editor_navbar_directive.html
  core/templates/dev/head/pages/story_editor/story_editor_save_modal_directive.html
  core/templates/dev/head/services/contextual/UrlService.js
  core/templates/dev/head/services/contextual/UrlServiceSpec.js
  feconf.py
Labels: PR: LGTM
