Repository oppia/oppia, pull requests merged in 2019-07, with the labels that each got.

#7058 Fix #7007: Allows adding proper tags for the exploration by replacing parent with ctrl
  core/templates/dev/head/pages/exploration-editor-page/settings-tab/settings-tab.directive.html
Labels: CHANGELOG: Bug fixes, PR: LGTM, PR: for current release

#7059 Fixes #6736: Add pre-commit hook check for package-lock.json
  scripts/install_third_party.sh
  scripts/pre_commit_hook.py
  scripts/pre_push_hook.py
Labels: CHANGELOG: Development workflow, PR: LGTM

#7040 Fix #6888: Run tests split by classes
  core/domain/exp_jobs_one_off_test.py
  extensions/answer_summarizers/models_test.py
  scripts/backend_tests.py
Labels: CHANGELOG: Development workflow

#7056 Fix #6864: Fix console error in learner dashboard and empty suggestion modal
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.controller.ts
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.directive.html
Labels: CHANGELOG: Bug fixes, PR: LGTM, PR: for current release

#7063 Add Sean as backup for vojtechjelinek
  .github/CODEOWNERS
Labels: PR: LGTM

#7060 Fixes #5795: Adds null check and changes z-index value for "Restart From Beginning" button
  core/templates/dev/head/components/button-directives/hint-and-solution-buttons.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/preview-tab/preview-tab.directive.html
Labels: PR: LGTM

#6999 Fix part of #6550: Write tests for state_domain
  core/domain/exp_domain_test.py
  core/domain/exp_services_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
Labels: CHANGELOG: Testing coverage

#7057 Fix part of #6550: Write tests for admin.py
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/jobs_test.py
  core/tests/test_utils.py
Labels: CHANGELOG: Testing coverage

#7078 Fix backend tests on develop
  core/controllers/admin_test.py
Labels: important

#7077 Analytics Team Owner Handoff
  .github/CODEOWNERS
Labels: PR: LGTM

#7088 Revert "Upgrades Requests (#6965)"
  appengine_config.py
  core/tests/gae_suite.py
  manifest.json
Labels: CHANGELOG: Bug fixes

#7050 Fix #7016: Separate review test to pass/fail mode and add score bar for each skill
  core/templates/dev/head/components/question-directives/question-player/question-player.constants.ts
  core/templates/dev/head/components/question-directives/question-player/question-player.directive.html
  core/templates/dev/head/components/question-directives/question-player/question-player.directive.ts
  core/templates/dev/head/components/score-ring/score-ring.directive.html
  core/templates/dev/head/components/score-ring/score-ring.directive.ts
  core/templates/dev/head/pages/review-test-page/review-test-page.constants.ts
  core/templates/dev/head/pages/review-test-page/review-test-page.directive.ts
  core/templates/dev/head/pages/review-test-page/review-test-page.scripts.ts
Labels: CHANGELOG: New structures

#7094 Fix #7033: introduce a wait into the e2e test, and change how refreshing is done in the editor tab.
  core/tests/protractor_desktop/additionalEditorAndPlayerFeatures.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  scripts/run_e2e_tests.sh
Labels: CHANGELOG: Development workflow

#7101 Fix #6952: Adds a backend test to ensure that all storage models have audit jobs
  .github/CODEOWNERS
  core/domain/storage_model_audit_jobs_test.py
  core/storage/storage_models_test.py
Labels: CHANGELOG: Infrastructural changes

#7096 Fixes #7079: Update lexical analysis to path analysis
  scripts/backend_tests.py
Labels: CHANGELOG: Development workflow

#7105 Make pre-commit hook file executable
  scripts/pre_commit_hook.py
Labels: CHANGELOG: Development workflow

#7095 Fix part of #6550: Write tests for cron.py
  core/controllers/cron.py
  core/controllers/cron_test.py
Labels: CHANGELOG: Testing coverage

#6974 Serve static pages from app.yaml
  .github/CODEOWNERS
  .gitignore
  app_dev.yaml
  core/controllers/base_test.py
  core/controllers/pages.py
  core/controllers/pages_test.py
  core/templates/dev/head/pages/get-started-page/get-started-page.mainpage.html
  core/templates/dev/head/pages/splash-page/splash-page.mainpage.html
  core/templates/dev/head/pages/splash-page/splash_at0.html
  core/templates/dev/head/pages/splash-page/splash_at1.html
  core/templates/dev/head/pages/teach-page/teach-page.mainpage.html
  core/tests/protractor_desktop/navigation.js
  main.py
  scripts/build.py
  scripts/deploy.py
  scripts/start.sh
  webpack.config.ts
Labels: CHANGELOG: Updates to static pages

#7106 Fixes #6950: Fix ck editor fileoverview
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-rte.directive.ts
  scripts/build.py
Labels: CHANGELOG: Code health

#7108 Add log for error during blob construction
  core/templates/dev/head/services/AssetsBackendApiService.ts
Labels: CHANGELOG: Bug fixes

#7081 Fix part of #6550: Write tests for controllers/reader.py
  core/controllers/reader_test.py
Labels: CHANGELOG: Testing coverage

#7076 Fix part of #5799: Feedback card object factory
  core/templates/dev/head/domain/statistics/FeedbackImprovementCardObjectFactory.ts
  core/templates/dev/head/domain/statistics/FeedbackImprovementCardObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/SuggestionImprovementCardObjectFactory.ts
  core/templates/dev/head/domain/statistics/SuggestionImprovementCardObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/statistics-domain.constants.ts
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/services/thread-data.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/services/thread-data.service.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/feedback-improvement-card/feedback-improvement-card.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/feedback-improvement-card/feedback-improvement-card.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/improvements-tab.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/improvements-tab.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/suggestion-improvement-card/suggestion-improvement-card.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/suggestion-improvement-card/suggestion-improvement-card.directive.ts
  core/templates/dev/head/services/ImprovementCardService.ts
  core/templates/dev/head/services/ImprovementCardServiceSpec.ts
Labels: CHANGELOG: Improvements to editors and players, frontend

#7111 Make pre push hook executable
  scripts/pre_push_hook.py
Labels: CHANGELOG: Development workflow

#7112 Add clean to webpack config
  webpack.config.ts
Labels: CHANGELOG: Development workflow

#7067 Introduce Code-Climate to maintain coverage
  .circleci/config.yml
  .coveragerc
  .github/CODEOWNERS
  .github/README.md
  .gitignore
  scripts/run_backend_tests.sh
Labels: CHANGELOG: Development workflow

#7107 Add log for undefined interaction specs
  core/templates/dev/head/components/state-directives/answer-group-editor/answer-group-editor.directive.ts
Labels: CHANGELOG: Bug fixes

#7075 Fix #6348: Add functionality to start a practice session in the topic viewer
  core/controllers/topic_viewer.py
  core/controllers/topic_viewer_test.py
  core/templates/dev/head/pages/topic-viewer-page/practice-tab/practice-tab.directive.html
  core/templates/dev/head/pages/topic-viewer-page/practice-tab/practice-tab.directive.ts
  core/templates/dev/head/pages/topic-viewer-page/topic-viewer-page.controller.ts
  core/templates/dev/head/pages/topic-viewer-page/topic-viewer-page.directive.html
Labels: CHANGELOG: New structures, PR: LGTM

#7104 Serve other dynamic pages using transclusion components
  core/controllers/practice_sessions.py
  core/controllers/skill_editor.py
  core/controllers/story_editor.py
  core/controllers/topic_editor.py
  core/controllers/topic_viewer.py
  core/templates/dev/head/pages/practice-session-page/practice-session-page.controller.ts
  core/templates/dev/head/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.controller.ts
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.mainpage.html
  core/templates/dev/head/pages/story-editor-page/story-editor-page.mainpage.html
  core/templates/dev/head/pages/story-editor-page/story-editor-page.scripts.ts
  core/templates/dev/head/pages/topic-editor-page/topic-editor-page.controller.ts
  core/templates/dev/head/pages/topic-editor-page/topic-editor-page.mainpage.html
  core/templates/dev/head/pages/topic-viewer-page/topic-viewer-page.controller.ts
  core/templates/dev/head/pages/topic-viewer-page/topic-viewer-page.mainpage.html
  package-lock.json
  webpack.config.ts
Labels: CHANGELOG: Updates to static pages

#7110 Fix #5069: Remove $parent from codebase.
  core/templates/dev/head/components/forms/custom-forms-directives/apply-validation.directive.spec.ts
  core/templates/dev/head/components/forms/custom-forms-directives/apply-validation.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-bool-editor.directive.html
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-bool-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-choices-editor.directive.html
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-choices-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-custom-editor.directive.html
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-custom-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-editor.directive.html
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-float-editor.directive.html
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-float-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-html-editor.directive.html
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-html-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-int-editor.directive.html
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-int-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-unicode-editor.directive.html
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-unicode-editor.directive.ts
  core/templates/dev/head/components/forms/schema-viewers/schema-based-viewer.directive.html
  core/templates/dev/head/components/forms/schema-viewers/schema-based-viewer.directive.ts
  core/templates/dev/head/pages/collection-editor-page/navbar/collection-editor-navbar.directive.ts
  core/templates/dev/head/pages/collection-editor-page/settings-tab/collection-details-editor.directive.html
  core/templates/dev/head/pages/collection-editor-page/templates/collection-editor-pre-publish-modal.directive.html
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.directive.html
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/settings-tab/settings-tab.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/settings-tab/templates/moderator-unpublish-exploration-modal.template.html
  extensions/value_generators/models/generators_test.py
  extensions/value_generators/templates/RandomSelector.html
  extensions/value_generators/templates/RandomSelectorDirective.ts
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Code health

#7115 Fix lint issue in develop.
  core/controllers/topic_viewer.py
Labels: CHANGELOG: Bug fixes

#6814 Replace content_ids_to_audio_translations dict with RecordedVoiceovers object in topics and skills.
  core/controllers/concept_card_viewer_test.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/topic_editor_test.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_jobs_one_off_test.py
  core/domain/skill_services_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services_test.py
  core/domain/topic_domain_test.py
  core/domain/topic_services_test.py
  core/storage/topic/gae_models.py
  core/templates/dev/head/components/state-editor/state-content-editor/state-content-editor.directive.spec.ts
  core/templates/dev/head/domain/exploration/AudioTranslationObjectFactory.ts
  core/templates/dev/head/domain/exploration/AudioTranslationObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/ContentIdsToAudioTranslationsObjectFactory.ts
  core/templates/dev/head/domain/exploration/ContentIdsToAudioTranslationsObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/ExplorationObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/StatesObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/WrittenTranslationsObjectFactory.ts
  core/templates/dev/head/domain/question/EditableQuestionBackendApiService.ts
  core/templates/dev/head/domain/skill/ConceptCardObjectFactory.ts
  core/templates/dev/head/domain/skill/ConceptCardObjectFactorySpec.ts
  core/templates/dev/head/domain/skill/SkillObjectFactorySpec.ts
  core/templates/dev/head/domain/skill/SkillUpdateServiceSpec.ts
  core/templates/dev/head/domain/state/StateObjectFactory.ts
  core/templates/dev/head/domain/state_card/StateCardObjectFactorySpec.ts
  core/templates/dev/head/domain/topic/EditableTopicBackendApiServiceSpec.ts
  core/templates/dev/head/domain/topic/SubtopicPageContentsObjectFactory.ts
  core/templates/dev/head/domain/topic/SubtopicPageContentsObjectFactorySpec.ts
  core/templates/dev/head/domain/topic/SubtopicPageObjectFactorySpec.ts
  core/templates/dev/head/domain/topic/TopicUpdateService.ts
  core/templates/dev/head/domain/topic/TopicUpdateServiceSpec.ts
  core/templates/dev/head/pages/exploration-player-page/services/audio-translation-manager.service.spec.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.ts
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/dev/head/services/GenerateContentIdServiceSpec.ts
Labels: CHANGELOG: New structures

#7123 Fix #7120: Use app_dev.yaml for e2e test and performance test
  scripts/run_e2e_tests.sh
  scripts/run_performance_tests.sh
Labels: CHANGELOG: Bug fixes

#7117 Fix #7116: Mis-aligned fa-icons & Upgrades Font-awesome to 5.9.0
  app_dev.yaml
  core/templates/dev/head/css/oppia.css
  manifest.json
Labels: CHANGELOG: Bug fixes

#7129 Fix item selection input interaction on the release branch
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.controller.ts
Labels: CHANGELOG: Bug fixes, PR: LGTM, PR: for current release

#7137 Fixes: Build error in develop
  manifest.json
  package-lock.json
  scripts/third_party_size_check.py
Labels: CHANGELOG: Development workflow

#7118 Fix Part of #5799: Improve Styling of Feedback/Suggestion Improvement Cards
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/domain/statistics/PlaythroughImprovementCardObjectFactory.ts
  core/templates/dev/head/domain/statistics/PlaythroughImprovementCardObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/feedback-improvement-card/feedback-improvement-card.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/feedback-improvement-card/feedback-improvement-card.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/improvements-tab.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/playthrough-improvement-card/playthrough-improvement-card.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/suggestion-improvement-card/suggestion-improvement-card.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/suggestion-improvement-card/suggestion-improvement-card.directive.ts
Labels: CHANGELOG: Improvements to editors and players, CSS, frontend

#6916 Fix #6159: Regenerate missing stats models
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
Labels: CHANGELOG: Bug fixes

#7128 Fix #7127: Fix invalid html conversion process to avoid extra lines
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
Labels: CHANGELOG: Bug fixes, PR: for current release

#7142 Fix backend test issues on develop branch
  core/controllers/cron_test.py
  core/domain/stats_jobs_one_off_test.py
Labels: CHANGELOG: Bug fixes

#7144 Fix #7126: Removes html validation and associated tests
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
Labels: CHANGELOG: Bug fixes, PR: for current release

#7138 Fixes #6821: Fix frontend coverage
  core/tests/karma.conf.ts
  package-lock.json
  package.json
Labels: CHANGELOG: Code health

#7065 Upgrade ExplorationFeaturesService to Angular 8
  core/templates/dev/head/AppInit.ts
  core/templates/dev/head/components/state-editor/state-interaction-editor/state-interaction-editor.directive.spec.ts
  core/templates/dev/head/pages/about-page/about-page.mainpage.html
  core/templates/dev/head/pages/admin-page/admin-page.mainpage.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/contact-page/contact-page.mainpage.html
  core/templates/dev/head/pages/donate-page/donate-page.mainpage.html
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.mainpage.html
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-result.mainpage.html
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/services/learner-action-render.service.spec.ts
  core/templates/dev/head/pages/get-started-page/get-started-page.mainpage.html
  core/templates/dev/head/pages/landing-pages/stewards-landing-page/stewards-landing-page.mainpage.html
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.mainpage.html
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.mainpage.html
  core/templates/dev/head/pages/maintenance-page/maintenance-page.mainpage.html
  core/templates/dev/head/pages/moderator-page/moderator-page.mainpage.html
  core/templates/dev/head/pages/notifications-dashboard-page/notifications-dashboard-page.mainpage.html
  core/templates/dev/head/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/dev/head/pages/preferences-page/preferences-page.mainpage.html
  core/templates/dev/head/pages/privacy-page/privacy-page.mainpage.html
  core/templates/dev/head/pages/signup-page/signup-page.mainpage.html
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.mainpage.html
  core/templates/dev/head/pages/splash-page/splash-page.mainpage.html
  core/templates/dev/head/pages/story-editor-page/story-editor-page.mainpage.html
  core/templates/dev/head/pages/teach-page/teach-page.mainpage.html
  core/templates/dev/head/pages/terms-page/terms-page.mainpage.html
  core/templates/dev/head/pages/thanks-page/thanks-page.mainpage.html
  core/templates/dev/head/pages/topic-editor-page/topic-editor-page.mainpage.html
  core/templates/dev/head/pages/topic-viewer-page/topic-viewer-page.mainpage.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.mainpage.html
  core/templates/dev/head/services/ExplorationFeaturesService.ts
  core/templates/dev/head/services/PlaythroughServiceSpec.ts
Labels: CHANGELOG: Infrastructural changes

#7140 Fixes part of #6387: Remove tag_regex, invalid_parameter_names, show_trainable_unresolved_answers
  assets/constants.js
  core/controllers/collection_editor.py
  core/controllers/editor.py
  core/domain/collection_domain.py
  core/domain/exp_domain.py
  core/domain/user_services.py
  core/templates/dev/head/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/dev/head/domain/collection/CollectionValidationService.ts
  core/templates/dev/head/expressions/ExpressionSyntaxTreeService.ts
  core/templates/dev/head/pages/collection-editor-page/collection-editor-page.mainpage.html
  core/templates/dev/head/pages/collection-editor-page/settings-tab/collection-details-editor.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/unresolved-answers-overview/unresolved-answers-overview.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/dev/head/pages/exploration-editor-page/param-changes-editor/param-changes-editor.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-save.service.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-tags.service.ts
  core/templates/dev/head/pages/exploration-editor-page/settings-tab/settings-tab.directive.ts
  feconf.py
Labels: CHANGELOG: Code health

#7062 Fix #5975: Fixed fraction display for Playthroughs
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/issues/answer-submit-action.directive.html
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/issues/answer-submit-action.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/services/learner-action-render.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/services/learner-action-render.service.ts
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/templates/playthrough-modal.template.html
  core/templates/dev/head/services/PlaythroughIssuesService.ts
Labels: CHANGELOG: Statistics

#7147 Fix part of #5799: Add Action Buttons to Feedback and Suggestion Improvement Cards
  core/templates/dev/head/domain/statistics/FeedbackImprovementCardObjectFactory.ts
  core/templates/dev/head/domain/statistics/FeedbackImprovementCardObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/ImprovementActionButtonObjectFactory.ts
  core/templates/dev/head/domain/statistics/ImprovementActionButtonObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/PlaythroughImprovementCardObjectFactory.ts
  core/templates/dev/head/domain/statistics/PlaythroughImprovementCardObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/SuggestionImprovementCardObjectFactory.ts
  core/templates/dev/head/domain/statistics/SuggestionImprovementCardObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/feedback-improvement-card/feedback-improvement-card.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/improvements-tab.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/services/improvement-modal.service.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/suggestion-improvement-card/suggestion-improvement-card.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/templates/feedback-thread-modal.template.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/templates/suggestion-thread-modal.template.html
Labels: CHANGELOG: Improvements to editors and players, frontend, important

#7113 Fix part of #6550: Write tests for extensions/ and utils
  core/domain/visualization_registry_test.py
  core/tests/data/dummy_assets/assets/example1.yaml
  core/tests/data/dummy_assets/assets/example2.yaml
  extensions/answer_summarizers/models_test.py
  extensions/interactions/base.py
  extensions/interactions/base_test.py
  extensions/objects/models/objects_test.py
  extensions/rich_text_components/components_test.py
  extensions/value_generators/models/generators_test.py
  extensions/visualizations/models.py
  schema_utils_test.py
  utils.py
  utils_test.py
Labels: CHANGELOG: Testing coverage

#7154 Fixed an import error when running backend tests
  scripts/backend_tests.py
Labels: CHANGELOG: Bug fixes

#7155 Remove Bare Promises from the Frontend
  core/templates/dev/head/domain/statistics/PlaythroughImprovementCardObjectFactorySpec.ts
  core/templates/dev/head/services/CsrfTokenService.ts
  core/templates/dev/head/services/CsrfTokenServiceSpec.ts
  core/templates/dev/head/services/PlaythroughIssuesBackendApiService.ts
Labels: CHANGELOG: Code health, code-health, frontend

#7073 Fix #6853: Break each validation into its separate test function
  core/domain/classifier_domain_test.py
  core/domain/stats_domain_test.py
Labels: PR: LGTM

#7162 Fixes #7125: Fixed sidebar toggle
  core/templates/dev/head/base_components/BaseContentDirective.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#7163 Add vinitamurthi@ as owners for the questions project
  .github/CODEOWNERS
Labels: PR: LGTM

#7157 Fix #7087: Add log for "contains no units" SyntaxError
  extensions/interactions/NumberWithUnits/directives/NumberWithUnitsValidationService.ts
Labels: CHANGELOG: Infrastructural changes, PR: LGTM

#7152 Output lcov for frontend coverage
  .circleci/config.yml
  core/tests/karma.conf.ts
Labels: CHANGELOG: Code health

#7074 Fix #6576 and #6957 Frontend to set skill difficulty per skill in question creation. Also move skill ids to the payload
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/templates/dev/head/components/question-directives/questions-list/questions-list.constants.ts
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/domain/question/EditableQuestionBackendApiService.ts
  core/templates/dev/head/domain/question/question-domain.constants.ts
  core/templates/dev/head/domain/skill/SkillDifficultyObjectFactory.ts
  core/templates/dev/head/domain/skill/SkillDifficultyObjectFactorySpec.ts
  core/templates/dev/head/pages/topic-editor-page/modal-templates/select-skill-modal.template.html
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/SkillEditorPage.js
  core/tests/protractor_utils/TopicEditorPage.js
  main.py
Labels: CHANGELOG: New structures

#7164 Change source of htmllint-cli package
  package-lock.json
  package.json
Labels: CHANGELOG: Code health

#7036 Fix #4438: Implement draft upgrade functions
  .github/CODEOWNERS
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
Labels: CHANGELOG: Improvements to editors and players

#7150 Fix part of #6550: Write tests for stats_jobs_one_off
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
Labels: CHANGELOG: Testing coverage

#7179 Add Kevin to travis notifications
  .travis.yml
Labels: CHANGELOG: Code health

#7172 Fixes #7167: Move npm audit to pre submit hook
  scripts/pre_commit_linter.py
  scripts/pre_push_hook.py
Labels: CHANGELOG: Code health

#7183 Fix #7161: Removes expression evaluation braces from i18n translation-values
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-float-editor.directive.html
  core/templates/dev/head/pages/about-page/about-page.directive.html
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.directive.html
  core/templates/dev/head/pages/exploration-player-page/learner-experience/tutor-card.directive.html
  core/templates/dev/head/pages/exploration-player-page/templates/information-card-modal.directive.html
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.directive.html
  extensions/interactions/GraphInput/directives/graph_input_short_response_directive.html
  extensions/interactions/ItemSelectionInput/directives/item_selection_input_interaction_directive.html
  extensions/interactions/LogicProof/directives/logic_proof_interaction_directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#7068 Serve some dynamic pages using transclusion components
  core/controllers/base_test.py
  core/controllers/collection_viewer.py
  core/controllers/library.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/templates/dev/head/base_components/BaseContentDirective.ts
  core/templates/dev/head/base_components/WarningLoaderDirective.ts
  core/templates/dev/head/base_components/base_content_directive.html
  core/templates/dev/head/base_components/warning_loader_directive.html
  core/templates/dev/head/pages/Base.ts
  core/templates/dev/head/pages/collection-editor-page/collection-editor-page.mainpage.html
  core/templates/dev/head/pages/collection-editor-page/collection-editor-page.scripts.ts
  core/templates/dev/head/pages/collection-player-page/collection-player-page.directive.ts
  core/templates/dev/head/pages/collection-player-page/collection-player-page.mainpage.html
  core/templates/dev/head/pages/collection-player-page/collection-player-page.scripts.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.controller.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.mainpage.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.controller.ts
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/dev/head/pages/library-page/library-page.directive.ts
  core/templates/dev/head/pages/library-page/library-page.mainpage.html
  core/templates/dev/head/pages/profile-page/profile-page.controller.ts
  core/templates/dev/head/pages/profile-page/profile-page.mainpage.html
  core/tests/protractor_desktop/navigation.js
  core/tests/protractor_utils/general.js
  feconf.py
  webpack.config.ts
Labels: CHANGELOG: Updates to static pages

#7191 Fix #7188: Resolve issues with learner dashboard and profile page
  core/templates/dev/head/base_components/BaseContentDirective.ts
  core/templates/dev/head/base_components/WarningLoaderDirective.ts
  core/templates/dev/head/base_components/base_content_directive.html
  core/templates/dev/head/base_components/warning_loader_directive.html
  core/templates/dev/head/pages/profile-page/profile-page.directive.html
  core/templates/dev/head/pages/profile-page/profile-page.mainpage.html
Labels: CHANGELOG: Bug fixes

#7102 Fix #7018: Display concept cards for failing skills at the end of review tests
  .github/CODEOWNERS
  core/controllers/acl_decorators.py
  core/controllers/concept_card_viewer.py
  core/controllers/concept_card_viewer_test.py
  core/templates/dev/head/components/concept-card/concept-card.directive.ts
  core/templates/dev/head/components/concept-card/concept-card.template.html
  core/templates/dev/head/components/question-directives/question-player/question-player.directive.html
  core/templates/dev/head/components/question-directives/question-player/question-player.directive.ts
  core/templates/dev/head/components/question-directives/question-player/review-and-retry-modal.template.html
  core/templates/dev/head/domain/skill/ConceptCardBackendApiService.ts
  core/templates/dev/head/domain/skill/ConceptCardBackendApiServiceSpec.ts
  core/templates/dev/head/domain/skill/skill-domain.constants.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  main.py
Labels: CHANGELOG: New structures

#7195 Serve some dynamic pages using transclusion components
  core/controllers/base_test.py
  core/controllers/collection_viewer.py
  core/controllers/library.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/templates/dev/head/pages/Base.ts
  core/templates/dev/head/pages/collection-editor-page/collection-editor-page.mainpage.html
  core/templates/dev/head/pages/collection-editor-page/collection-editor-page.scripts.ts
  core/templates/dev/head/pages/collection-player-page/collection-player-page.directive.ts
  core/templates/dev/head/pages/collection-player-page/collection-player-page.mainpage.html
  core/templates/dev/head/pages/collection-player-page/collection-player-page.scripts.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.controller.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.mainpage.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.controller.ts
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/dev/head/pages/library-page/library-page.directive.ts
  core/templates/dev/head/pages/library-page/library-page.mainpage.html
  core/templates/dev/head/pages/profile-page/profile-page.controller.ts
  core/templates/dev/head/pages/profile-page/profile-page.mainpage.html
  core/tests/protractor_desktop/navigation.js
  core/tests/protractor_utils/general.js
  feconf.py
  webpack.config.ts
Labels: CHANGELOG: Updates to static pages

#6844 Fix part of #6550: Write tests for domain/exp_services and domain/exp_domain
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_fetchers.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
Labels: CHANGELOG: Testing coverage

#7187 Serve Review_tests page using transclusion components
  core/controllers/review_tests.py
  core/templates/dev/head/pages/review-test-page/review-test-page.directive.ts
  core/templates/dev/head/pages/review-test-page/review-test-page.mainpage.html
  core/templates/dev/head/pages/review-test-page/review-test-page.scripts.ts
  webpack.config.ts
Labels: CHANGELOG: Updates to static pages

#7149 Fixes part of #6387: Remove default_twitter_share_message_editor and default_object_values from GLOBALS
  assets/constants.js
  core/controllers/creator_dashboard.py
  core/controllers/editor.py
  core/controllers/practice_sessions.py
  core/controllers/reader.py
  core/controllers/review_tests.py
  core/controllers/skill_editor.py
  core/controllers/topic_editor.py
  core/domain/config_domain.py
  core/templates/dev/head/components/common-layout-directives/common-elements/sharing-links.directive.ts
  core/templates/dev/head/components/state-directives/rule-editor/rule-editor.directive.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.controller.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.mainpage.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/dev/head/pages/exploration-editor-page/modal-templates/post-publish-modal.template.html
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-save.service.ts
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/dev/head/pages/exploration-player-page/layout-directives/learner-view-info.directive.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/dev/head/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.mainpage.html
  core/templates/dev/head/pages/topic-editor-page/topic-editor-page.mainpage.html
Labels: CHANGELOG: Code health, PR: LGTM

#7097 Upgrade AngularJS Material
  core/templates/dev/head/components/button-directives/hint-and-solution-buttons.directive.html
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/about-page/about-page.directive.html
  core/templates/dev/head/pages/admin-page/misc-tab/admin-misc-tab.directive.html
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.directive.html
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/templates/create-feedback-thread-modal.template.html
  core/templates/dev/head/pages/exploration-editor-page/modal-templates/post-publish-modal.template.html
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/state-translation/state-translation.directive.html
  core/templates/dev/head/pages/exploration-player-page/layout-directives/audio-bar.directive.html
  core/templates/dev/head/pages/exploration-player-page/layout-directives/exploration-footer.directive.html
  core/templates/dev/head/pages/exploration-player-page/layout-directives/progress-nav.directive.html
  core/templates/dev/head/pages/exploration-player-page/templates/flag-exploration-modal.template.html
  core/templates/dev/head/pages/exploration-player-page/templates/information-card-modal.directive.html
  core/templates/dev/head/pages/exploration-player-page/templates/take-break-modal.template.html
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.directive.html
  core/templates/dev/head/pages/profile-page/profile-page.directive.html
  core/templates/dev/head/pages/profile-page/profile-page.mainpage.html
  core/templates/dev/head/pages/teach-page/teach-page.directive.html
  core/templates/dev/head/pages/topic-editor-page/subtopics-list-tab/subtopics-list-tab.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/templates/new-topic-name-editor.template.html
  extensions/interactions/NumericInput/protractor.js
  extensions/interactions/TextInput/protractor.js
  manifest.json
Labels: CHANGELOG: Code health

#7175 Migrating to CK5: PR1-Rename the CK4 directives
  .github/CODEOWNERS
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-html-editor.directive.html
  core/templates/dev/head/components/question-directives/question-player/question-player.directive.ts
  core/templates/dev/head/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.directive.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.controller.ts
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.controller.ts
  core/templates/dev/head/pages/exploration-player-page/templates/exploration-player-suggestion-modal.directive.html
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.controller.ts
  core/templates/dev/head/pages/story-editor-page/story-editor-page.controller.ts
  core/templates/dev/head/pages/topic-editor-page/topic-editor-page.controller.ts
  core/templates/dev/head/tests/form_builder_test_page.html
  core/tests/build_sources/templates/base.html
  typings/custom-scope-defs.d.ts
Labels: CHANGELOG: Code health

#7199 Fix failing test in develop
  core/templates/dev/head/pages/review-test-page/review-test-page.mainpage.html
Labels: CHANGELOG: Bug fixes, PR: LGTM

#7200 Fix #7143: Removes imageFonts from MathJax
  app_dev.yaml
  core/templates/dev/head/mathjaxConfig.ts
Labels: PR: for current release

#7141 Fix #7019: Add skill_id to Misconception and replace tagged_misconception_id with tagged_skill_misconception_id in AnswerGroup
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services_test.py
  core/domain/skill_services.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/templates/dev/head/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/dev/head/components/question-directives/question-editor/question-editor.directive.ts
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/components/state-directives/answer-group-editor/answer-group-editor.directive.html
  core/templates/dev/head/components/state-directives/answer-group-editor/answer-group-editor.directive.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-editor.service.spec.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/dev/head/components/state-editor/state-responses-editor/state-responses.directive.html
  core/templates/dev/head/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/dev/head/domain/exploration/AnswerGroupObjectFactory.ts
  core/templates/dev/head/domain/exploration/InteractionObjectFactorySpec.ts
  core/templates/dev/head/domain/question/QuestionObjectFactory.ts
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/training-panel/training-data.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/services/translation-status.service.spec.ts
  core/templates/dev/head/pages/topic-editor-page/modal-templates/tag-misconception-modal.template.html
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/protractor_desktop/explorationHistoryTab.js
  feconf.py
Labels: CHANGELOG: New structures, PR: LGTM

#7213 Fix failing FE test on develop.
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.ts
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/dev/head/services/UserServiceSpec.ts
Labels: CHANGELOG: Bug fixes

#7206 Fix #7201: Allow users to add messages in feedback thread
  core/domain/feedback_services.py
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#7205 Fix #6621: Return default values when sessionStorage is not available
  core/templates/dev/head/components/common-layout-directives/common-elements/promo-bar.directive.ts
Labels: CHANGELOG: Bug fixes

#7130 Fix part of #5002 remove GCS_RESOURCE_BUCKET_NAME from GLOBALS
  core/controllers/base.py
  core/controllers/resources.py
  core/controllers/resources_test.py
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.mainpage.html
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/dev/head/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/dev/head/pages/review-test-page/review-test-page.mainpage.html
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.mainpage.html
  core/templates/dev/head/pages/topic-editor-page/topic-editor-page.mainpage.html
  core/templates/dev/head/services/AssetsBackendApiService.ts
  core/templates/dev/head/services/AssetsBackendApiServiceSpec.ts
  core/tests/build_sources/templates/base.html
  extensions/interactions/ImageClickInput/directives/OppiaInteractiveImageClickInputDirective.ts
  extensions/objects/templates/FilepathEditorDirective.ts
  extensions/objects/templates/ImageWithRegionsEditorDirective.ts
  extensions/rich_text_components/Image/directives/OppiaNoninteractiveImageDirective.ts
  feconf.py
  main.py
Labels: CHANGELOG: Code health

#7133 Fix part of #6550: Write tests for build.py
  core/tests/build_sources/assets/collection.svg
  core/tests/build_sources/assets/images/collection.svg
  core/tests/data/third_party/css/third_party.css
  scripts/build.py
  scripts/build_test.py
Labels: CHANGELOG: Testing coverage, PR: LGTM

#7186 Fix part of #6387: Remove GLOBALS from admin page
  core/controllers/admin.py
  core/templates/dev/head/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.directive.html
  core/templates/dev/head/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.directive.ts
  core/templates/dev/head/pages/admin-page/admin-page.directive.ts
  core/templates/dev/head/pages/admin-page/admin-page.mainpage.html
  core/templates/dev/head/pages/admin-page/config-tab/admin-config-tab.directive.ts
  core/templates/dev/head/pages/admin-page/jobs-tab/admin-jobs-tab.directive.ts
  core/templates/dev/head/pages/admin-page/roles-tab/admin-roles-tab.directive.ts
  core/templates/dev/head/pages/admin-page/services/admin-data.service.spec.ts
  core/templates/dev/head/pages/admin-page/services/admin-data.service.ts
Labels: CHANGELOG: Code health

#7225 Update authors and changelog for v2.8.4
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/dev/head/pages/about-page/about-page.directive.html
Labels: PR: LGTM, PR: for current release

#7052 Adding controllers, object factory and backend api service for learner answer details
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
  core/templates/dev/head/domain/statistics/LearnerAnswerDetailsBackendApiService.ts
  core/templates/dev/head/domain/statistics/LearnerAnswerDetailsBackendApiServiceSpec.ts
  core/templates/dev/head/domain/statistics/LearnerAnswerInfoObjectFactory.ts
  core/templates/dev/head/domain/statistics/LearnerAnswerInfoObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/statistics-domain.constants.ts
  feconf.py
  main.py
Labels: CHANGELOG: Improvements to editors and players

#7209 Fix #7071: Implement Boost Score functionality
  core/templates/dev/head/components/question-directives/question-player/question-player.constants.ts
  core/templates/dev/head/components/question-directives/question-player/question-player.directive.ts
Labels: CHANGELOG: New structures

#7230 Fix #7212: Address follow up comments from #7178.
  core/templates/dev/head/domain/classifier/AnswerClassificationResultObjectFactory.ts
  core/templates/dev/head/domain/classifier/ClassifierObjectFactory.ts
  core/templates/dev/head/domain/classifier/PredictionResultObjectFactory.ts
  core/templates/dev/head/domain/exploration/ExplorationDraftObjectFactory.ts
  core/templates/dev/head/domain/exploration/RuleObjectFactory.ts
  core/templates/dev/head/domain/exploration/WrittenTranslationObjectFactory.ts
  core/templates/dev/head/domain/topic/TopicRightsObjectFactory.ts
  core/templates/dev/head/services/ExplorationFeaturesService.ts
Labels: CHANGELOG: Code health

#7227 Adds temporary folder for checking ts files to gitignore
  .gitignore
  scripts/clean.sh
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Development workflow

#7235 Add project label bullet to the PR checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CHANGELOG: Development workflow, PR: LGTM

#7185 Fix #6618: Allow creator to copy exploration's "Link to share"
  core/templates/dev/head/pages/exploration-editor-page/modal-templates/post-publish-modal.template.html
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-save.service.ts
Labels: PR: LGTM

#7236 Transfer codeownership from apb7 to kevinlee12
  .github/CODEOWNERS
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7242 Change notification email for travis
  .travis.yml
Labels: CHANGELOG: Code health, PROJECT: Developer experience -- @kevinlee12

#7243 Fix #7239: $sce.trustAsResourceUrl is called after the url is constructed
  extensions/objects/templates/FilepathEditorDirective.ts
Labels: CHANGELOG: Bug fixes

#7193 Fix #7017: Backend changes for UserSkillMastery and add a handler for updating user skill mastery degree
  core/controllers/skill_mastery.py
  core/controllers/skill_mastery_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  feconf.py
  main.py
Labels: CHANGELOG: New structures

#7226 Update html validation jobs to produce exp_id in output
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
Labels: CHANGELOG: Infrastructural changes

#7151 Generate separate coverage reports for frontend and backend
  .circleci/config.yml
  .github/CODEOWNERS
  .github/README.md
  codecov.yml
Labels: CHANGELOG: Development workflow
