Repository oppia/oppia, pull requests merged in 2019-02, with the labels that each got.

#6192 Fix Content-Disposition headers being unicode instead of str.
  core/controllers/base.py
Labels: PR: for current release

#6195 Add None/deleted checks to DeleteIllegalPlaythroughsOneOffJob
  core/domain/stats_jobs_one_off.py
Labels: PR: for current release, backend, important

#6196 Fix #6194: Remove extraneous file.
  core/templates/dev/head/pages/exploration_editor/EditorStateService.js
Labels: PR: LGTM

#6216 Fix #6213: Add application_readable to directive htmls handler
  app.yaml
Labels: PR: LGTM

#6187 Fix#6188: Fix word-break in explorations
  core/templates/dev/head/components/forms/html_select_directive.html
  core/templates/dev/head/components/response_header_directive.html
  core/templates/dev/head/pages/exploration_editor/feedback_tab/feedback_tab.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/state_translation_directive.html
Labels: PR: for current release

#6239 Improvements to PlaythroughAudit
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR: for current release

#6259 Fix #6128: Successfully load mobile view in '/parents' page.
  core/templates/dev/head/pages/landing/stewards/landing_page_stewards.html
Labels: PR: for current release

#6249 One off job to validate exploration migration can be carried out successfully.
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
Labels: CHANGELOG: Infrastructural changes

#6273 Update changelog, authors and contributors for v2.7.3
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/dev/head/pages/about/about.html
Labels: PR: for current release

#6283 Delete old one-off jobs.
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/feedback_jobs_one_off.py
  core/domain/feedback_jobs_one_off_test.py
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
  core/jobs_registry.py
Labels: CHANGELOG: Code health

#6287 Adds codeowners for other projects.
  .github/CODEOWNERS
Labels: CHANGELOG: Infrastructural changes, PR: LGTM

#6175 Translation Script: Exploration migration including services for handling translation script.
  assets/constants.js
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/question_jobs_one_off_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.js
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/test_utils.py
  feconf.py
Labels: CHANGELOG: Infrastructural changes

#6289 Fixes #6282: Run front-end tests in pre-push hook, only if changes are made in JS files.
  scripts/pre_push_hook.py
Labels: CHANGELOG: Development workflow

#6263 Fix part of #5134: 100% coverage for core.platform.models
  core/platform/models.py
  core/platform/models_test.py
Labels: CHANGELOG: Testing coverage

#6231 Fix part of #5476: Add checks to detect spaces in docstring
  core/controllers/acl_decorators.py
  core/controllers/admin_test.py
  core/controllers/profile.py
  core/controllers/translator_test.py
  core/domain/exp_domain.py
  core/domain/exp_services_test.py
  core/domain/fs_domain_test.py
  core/domain/html_validation_service_test.py
  core/domain/user_jobs_continuous_test.py
  scripts/pre_commit_linter.py
  scripts/release_info.py
Labels: CHANGELOG: Development workflow

#6270 Removing scripts and include statements for popovers
  core/templates/dev/head/app.js
  core/templates/dev/head/pages/exploration_player/ConversationSkinDirective.js
  core/templates/dev/head/pages/exploration_player/FeedbackPopupDirective.js
  core/templates/dev/head/pages/exploration_player/InputResponsePairDirective.js
  core/templates/dev/head/pages/exploration_player/LearnerLocalNav.js
  core/templates/dev/head/pages/exploration_player/answer_popup_container_directive.html
  core/templates/dev/head/pages/exploration_player/conversation_skin_directive.html
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/pages/exploration_player/feedback_popup_container_directive.html
  core/templates/dev/head/pages/exploration_player/input_response_pair_directive.html
  core/templates/dev/head/pages/exploration_player/learner_local_nav.html
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Code health

#6258 Fix #4057 Make PlayerPositionService.js 100% test coverage
  core/templates/dev/head/pages/exploration_player/PlayerPositionServiceSpec.js
Labels: CHANGELOG: Testing coverage

#6308 Add issue template for server errors
  .github/ISSUE_TEMPLATE/server_error_template.md
Labels: CHANGELOG: Development workflow, PR: LGTM

#6305 Add a script for updating indexes. Move gcloud functions into a separate module.
  app.yaml
  scripts/common.py
  scripts/cut_release_branch.py
  scripts/deploy.py
  scripts/gcloud_adapter.py
  scripts/update_indexes.py
Labels: CHANGELOG: Development workflow

#6235 Fix #2306: Fixes signup issue when a new tab is opened
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/base.py
  core/controllers/base_test.py
  core/templates/dev/head/components/top_navigation_bar/TopNavigationBarDirective.js
  core/templates/dev/head/pages/profile/Profile.js
  core/templates/dev/head/pages/signup/Signup.js
  core/templates/dev/head/pages/signup/SignupSpec.js
  core/templates/dev/head/pages/signup/registration_session_expired_modal_directive.html
Labels: CHANGELOG: Bug fixes

#6234 Port back-end tests from Travis to CircleCI
  .circleci/config.yml
  .travis.yml
Labels: CHANGELOG: Development workflow

#6275 Fix part of #6254: Refactor for directives.js and filters.js
  core/templates/dev/head/directives.js
  core/templates/dev/head/directives/AngularHtmlBindDirective.js
  core/templates/dev/head/directives/FocusOnDirective.js
  core/templates/dev/head/directives/MathjaxBindDirective.js
  core/templates/dev/head/filters.js
  core/templates/dev/head/filters/CamelCaseToHyphensFilter.js
  core/templates/dev/head/filters/CapitalizeFilter.js
  core/templates/dev/head/filters/ConvertToPlainTextFilter.js
  core/templates/dev/head/filters/FormatRtePreviewFilter.js
  core/templates/dev/head/filters/FormatTimerFilter.js
  core/templates/dev/head/filters/GetAbbreviatedTextFilter.js
  core/templates/dev/head/filters/NormalizeWhitespaceFilter.js
  core/templates/dev/head/filters/NormalizeWhitespacePunctuationAndCaseFilter.js
  core/templates/dev/head/filters/ParameterizeRuleDescriptionFilter.js
  core/templates/dev/head/filters/RemoveDuplicatesInArrayFilter.js
  core/templates/dev/head/filters/ReplaceInputsWithEllipsesFilter.js
  core/templates/dev/head/filters/SummarizeNonnegativeNumberFilter.js
  core/templates/dev/head/filters/TruncateAndCapitalizeFilter.js
  core/templates/dev/head/filters/TruncateAtFirstEllipsisFilter.js
  core/templates/dev/head/filters/TruncateAtFirstLineFilter.js
  core/templates/dev/head/filters/TruncateFilter.js
  core/templates/dev/head/filters/TruncateInputBasedOnInteractionAnswerTypeFilter.js
  core/templates/dev/head/filters/UnderscoresToCamelCaseFilter.js
  core/templates/dev/head/filters/WrapTextWithEllipsisFilter.js
  core/templates/dev/head/filters/filtersSpec.js
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/collection_editor/collection_editor.html
  core/templates/dev/head/pages/collection_player/collection_player.html
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/pages/learner_dashboard/learner_dashboard.html
  core/templates/dev/head/pages/library/library.html
  core/templates/dev/head/pages/maintenance/maintenance.html
  core/templates/dev/head/pages/moderator/moderator.html
  core/templates/dev/head/pages/profile/profile.html
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/tests/form_builder_test_page.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  core/tests/build_sources/templates/base.html
Labels: CHANGELOG: Code health

#6328 Run lint tests on Travis until fixed on CircleCI
  .circleci/config.yml
  .travis.yml
Labels: CHANGELOG: Development workflow

#6332 Adds codeowners related to frontend pages.
  .github/CODEOWNERS
Labels: CHANGELOG: Development workflow

#6333 Remove google forum link.
  assets/sitemap.xml
  core/controllers/pages.py
  core/templates/dev/head/pages/footer.html
  core/templates/dev/head/pages/forum/Forum.js
  core/templates/dev/head/pages/forum/forum.html
  feconf.py
  main.py
Labels: CHANGELOG: Infrastructural changes

#6255 Fix #6210: Added an exploration whitelist
  assets/constants.js
  core/controllers/features.py
  core/controllers/features_test.py
  core/templates/dev/head/components/OutcomeDestinationEditorDirective.js
  core/templates/dev/head/components/OutcomeEditorDirective.js
  core/templates/dev/head/components/outcome_destination_editor_directive.html
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.js
  core/templates/dev/head/pages/state_editor/StateEditorService.js
  core/templates/dev/head/pages/state_editor/StateResponsesDirective.js
  core/templates/dev/head/services/ExplorationFeaturesService.js
Labels: CHANGELOG: Infrastructural changes

#6265 Fix #6214: Audio bar hides for auto-generated audio
  core/templates/dev/head/pages/exploration_player/AudioBarDirective.js
  core/templates/dev/head/pages/exploration_player/audio_bar_directive.html
Labels: CHANGELOG: Bug fixes
