Repository oppia/oppia, pull requests merged in 2019-04, with the labels that each got.

#6516 Fix #6494: Added check for style properties to have a space between the colon and the property value.
  .stylelintrc
  core/templates/dev/head/components/share/sharing_links_directive.html
  core/templates/dev/head/css/.stylelintrc
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/exploration_player/conversation_skin_embed_directive.html
  core/templates/dev/head/pages/learner_dashboard/learner_dashboard.html
Labels: CHANGELOG: Code health

#6540 Fix part of #5134: Make test coverage of core.storage.exploration.gae_models 100%
  core/storage/exploration/gae_models_test.py
Labels: PR: LGTM

#6543 Fix #6534: make MR jobs runnable on localhost.
  app.yaml
Labels: CHANGELOG: Development workflow

#6539 Fix #6538: Adds a proper title for landing pages.
  core/templates/dev/head/pages/landing/TopicLandingPage.js
  core/templates/dev/head/pages/landing/topic_landing_page.html
  core/templates/dev/head/services/PageTitleService.js
  core/templates/dev/head/services/PageTitleServiceSpec.js
Labels: CHANGELOG: Bug fixes

#6362 Fixes #5530: Update collection title after save and refresh
  core/controllers/collection_editor.py
  core/controllers/collection_editor_test.py
Labels: CHANGELOG: Improvements to editors and players

#6386 Fix #6321: Added checks to validate patterns in CODEOWNERS file.
  .github/CODEOWNERS
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Development workflow

#6467 Fixes part of #6387: Email constant fix
  core/controllers/profile.py
  core/templates/dev/head/pages/signup/Signup.js
  core/templates/dev/head/pages/signup/signup.html
Labels: CHANGELOG: Code health

#6503 UI related to the written translation project.
  assets/images/icons/translation_tab_mode_switch.png
  core/templates/dev/head/components/forms/mark_all_audio_and_translations_as_needing_update_modal_directive.html
  core/templates/dev/head/components/forms/mark_audio_as_needing_update_modal_directive.html
  core/templates/dev/head/domain/exploration/WrittenTranslationObjectFactory.js
  core/templates/dev/head/domain/exploration/WrittenTranslationObjectFactorySpec.js
  core/templates/dev/head/domain/exploration/WrittenTranslationsObjectFactory.js
  core/templates/dev/head/domain/utilities/LanguageUtilService.js
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/exploration_editor/MarkAllAudioAndTranslationsAsNeedingUpdateController.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/ExplorationEditorTab.js
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/AudioTranslationBarDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/StateTranslationDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/StateTranslationEditorDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/StateTranslationStatusGraphDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/TranslationLanguageService.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/TranslationStatusService.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/TranslationStatusServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/TranslationTabActiveModeService.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/TranslationTabActiveModeServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/TranslationTabDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/TranslatorOverviewDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/state_translation_directive.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/state_translation_editor_directive.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/translator_overview_directive.html
  core/templates/dev/head/pages/question_editor/QuestionEditorDirective.js
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/state_editor/state_properties/StateWrittenTranslationsService.js
  core/templates/dev/head/pages/topic_editor/topic_editor.html
Labels: CHANGELOG: Improvements to editors and players

#6472 Fix part of #6387: Remove globals ALLOWED_INTERACTIONS_CATEGORIES
  assets/constants.js
  core/controllers/creator_dashboard.py
  core/controllers/editor.py
  core/controllers/skill_editor.py
  core/controllers/topic_editor.py
  core/domain/interaction_registry.py
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/state_editor/StateInteractionEditorDirective.js
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  core/tests/build_sources/assets/constants.js
  feconf.py
Labels: CHANGELOG: Code health

#6569 Fix #6562: Removed G+ from the footer and Readme.md
  .github/README.md
  core/templates/dev/head/components/social_buttons/social_buttons_directive.html
Labels: CHANGELOG: Updates to static pages

#6567 Fix #6561: Corrected the "About-->Get Involved" link on the top navigation bar
  core/templates/dev/head/components/top_navigation_bar/top_navigation_bar_directive.html
Labels: CHANGELOG: Bug fixes

#6520 Fix #6418: Added Validation checks to avoid infinite loops explained in issue and comments
  extensions/interactions/ItemSelectionInput/directives/ItemSelectionInputValidationService.js
  extensions/interactions/ItemSelectionInput/directives/ItemSelectionInputValidationServiceSpec.js
Labels: CHANGELOG: Bug fixes, frontend

#6335 Fix part of #5134: Increased Coverage from 82% to 100% for core.platform.email.gae_email_services.py
  core/domain/email_manager.py
  core/platform/email/gae_email_services.py
  core/platform/email/gae_email_services_test.py
  feconf.py
Labels: CHANGELOG: Testing coverage

#6559 Removing the timeout multiplier, to get in sync with linting files.
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Development workflow

#6571 Fix few translation tab related issues.
  core/templates/dev/head/domain/exploration/WrittenTranslationsObjectFactory.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/ExplorationEditorTab.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/AudioTranslationBarDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/StateTranslationEditorDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/TranslatorOverviewDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/audio_translation_bar_directive.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/state_translation_editor_directive.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/translator_overview_directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#6617 Fixes existing lint issue in develop branch.
  core/templates/dev/head/pages/exploration_editor/translation_tab/StateTranslationEditorDirective.js
Labels: CHANGELOG: Bug fixes

#6455 Modified topic viewer page and few UI changes on topic editor page.
  core/templates/dev/head/pages/topic_editor/main_editor/topic_editor_tab_directive.html
  core/templates/dev/head/pages/topic_viewer/StoriesListDirective.js
  core/templates/dev/head/pages/topic_viewer/stories_list_directive.html
  core/templates/dev/head/pages/topic_viewer/topic_viewer.html
Labels: CHANGELOG: New structures

#6588 Added proper validation for written translations to allow translation in hinglish.
  core/domain/state_domain.py
Labels: PR: for current release

#6512 Fixes part of #6240: added e2e test for Adding a Bio in my profile (Preferences)
  core/templates/dev/head/pages/preferences/preferences.html
  core/tests/protractor_desktop/preferences.js
  core/tests/protractor_utils/PreferencesPage.js
Labels: CHANGELOG: Testing coverage

#6627 Fix broken interaction previews in the exploration editor
  extensions/interactions/DragAndDropSortInput/DragAndDropSortInput.html
  extensions/interactions/DragAndDropSortInput/directives/OppiaInteractiveDragAndDropSortInputDirective.js
  extensions/interactions/ImageClickInput/ImageClickInput.html
  extensions/interactions/ImageClickInput/directives/OppiaInteractiveImageClickInputDirective.js
  extensions/interactions/ItemSelectionInput/ItemSelectionInput.html
  extensions/interactions/ItemSelectionInput/directives/OppiaInteractiveItemSelectionInputDirective.js
Labels: CHANGELOG: Bug fixes, PR: for current release

#6575 Fix part of #6159: Fix revert exploration method
  core/domain/exp_services.py
  core/domain/stats_services_test.py
Labels: CHANGELOG: Bug fixes, PR: for current release

#6637 Update pycodestyle to version 2.5.0
  scripts/install_third_party.sh
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Development workflow

#6650 Introduce `linter_utils` module
  scripts/linter_utils.py
  scripts/linter_utils_test.py
Labels: backend
