Repository oppia/oppia, pull requests merged in 2019-12, with the labels that each got.

#8104 Disable audit tests
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
Labels: CHANGELOG: Development workflow, PR: LGTM, PROJECT: Developer experience -- @kevinlee12

#8102 Introduce Github Actions actions frontend tests
  .github/workflows/tests.yml
  core/tests/karma.conf.ts
  package.json
  yarn.lock
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8109 Upgrade eslint
  package.json
  yarn.lock
Labels: CHANGELOG: Development workflow, PR: LGTM

#8090 Fixed question image upload and added visibility of private pages to admins and TMs
  core/controllers/acl_decorators.py
  core/controllers/resources.py
  core/controllers/story_viewer_test.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/topic_viewer_test.py
  core/templates/dev/head/app.constants.ts
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.directive.ts
  core/templates/dev/head/services/context.service.spec.ts
  core/templates/dev/head/services/context.service.ts
  core/templates/dev/head/services/contextual/url.service.spec.ts
Labels: CHANGELOG: New structures

#8103 Upgrade Text Input Prediction Service and Text Input Tokenizer
  core/templates/dev/head/services/UpgradedServices.ts
  extensions/classifiers/text-input.tokenizer.spec.ts
  extensions/classifiers/text-input.tokenizer.ts
  extensions/interactions/TextInput/text-input-prediction.service.spec.ts
  extensions/interactions/TextInput/text-input-prediction.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8113 Fix admin navbar icons
  core/templates/dev/head/pages/admin-page/navbar/admin-navbar.directive.html
Labels: CHANGELOG: Bug fixes, PROJECT: Bug fixing team -- @nithusha21

#8005 Release Automation [Milestone 7]: Automation for initial release preparation
  .github/CODEOWNERS
  .gitignore
  release_constants.py
  scripts/common.py
  scripts/common_test.py
  scripts/install_third_party_libs.py
  scripts/pre_commit_linter.py
  scripts/release_scripts/__init__.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/release_scripts/gcloud_adapter.py
  scripts/release_scripts/gcloud_adapter_test.py
  scripts/release_scripts/generate_release_info.py
  scripts/release_scripts/generate_release_info_test.py
  scripts/release_scripts/generate_release_updates.py
  scripts/release_scripts/generate_release_updates_test.py
  scripts/release_scripts/initial_release_prep.py
  scripts/release_scripts/initial_release_prep_test.py
  scripts/release_scripts/restore_backup.py
  scripts/release_scripts/restore_backup_test.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_changelog_and_credits_test.py
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
  scripts/release_scripts/update_indexes.py
  scripts/release_scripts/update_indexes_test.py
  scripts/release_scripts/wrap_up_release.py
  scripts/release_scripts/wrap_up_release_test.py
  scripts/restore_backup_test.py
  scripts/script_import_test.py
Labels: CHANGELOG: Infrastructural changes

#7818 Migrating CsrfTokenService
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/csrf-token.service.spec.ts
  core/templates/dev/head/services/csrf-token.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8107 Remove extra one-off jobs
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/domain/email_jobs_one_off.py
  core/domain/email_jobs_one_off_test.py
  core/domain/feedback_jobs_one_off.py
  core/domain/feedback_jobs_one_off_test.py
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/jobs_registry.py
Labels: CHANGELOG: Infrastructural changes

#8106 Fixes: start.py can not run on Windows system
  scripts/build.py
  scripts/common.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/pre_commit_hook.py
  scripts/setup.py
  scripts/setup_test.py
  scripts/start.py
Labels: CHANGELOG: Development workflow

#8094 Migrating Context, LocalStorage Service to Angular
  core/templates/dev/head/domain/utilities/StopwatchObjectFactory.ts
  core/templates/dev/head/domain/utilities/StopwatchObjectFactorySpec.ts
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/context.service.spec.ts
  core/templates/dev/head/services/context.service.ts
  core/templates/dev/head/services/local-storage.service.spec.ts
  core/templates/dev/head/services/local-storage.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8021 Fix part of #6271: Update update_worked_examples to accept object as a parameter instead of dict
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
Labels: CHANGELOG: Infrastructural changes

#8120 Fixed a typo in fileoverview in unit tests of ClassroomBackendApiService
  core/templates/dev/head/domain/classroom/classroom-backend-api.service.spec.ts
Labels: CHANGELOG: Code health

#8131 Allowed empty misconception notes in skill editor
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.directive.html
Labels: CHANGELOG: New structures

#8008 Wipeout 3.4: Start using GAE user ID
  core/controllers/base.py
  core/controllers/reader_test.py
  core/domain/collection_jobs_one_off_test.py
  core/domain/collection_services_test.py
  core/domain/email_manager_test.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services_test.py
  core/domain/feedback_domain_test.py
  core/domain/fs_domain_test.py
  core/domain/interaction_registry_test.py
  core/domain/question_jobs_one_off_test.py
  core/domain/recommendations_services_test.py
  core/domain/rights_manager_test.py
  core/domain/search_services_test.py
  core/domain/skill_jobs_one_off_test.py
  core/domain/stats_services_test.py
  core/domain/story_jobs_one_off_test.py
  core/domain/summary_services_test.py
  core/domain/topic_jobs_one_off_test.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_query_jobs_one_off.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/platform/users/gae_current_user_services.py
  core/platform/users/gae_current_user_services_test.py
  core/storage/user/gae_models.py
  core/tests/test_utils.py
  feconf.py
Labels: CHANGELOG: Infrastructural changes, critical

#7992 Fix #5145: unifies from_backend_dict and from_dict methods in Playthrough and ExplorationIssue domain models
  core/controllers/editor.py
  core/controllers/reader.py
  core/domain/stats_domain.py
  core/domain/stats_domain_test.py
Labels: CHANGELOG: Code health, PROJECT: Lesson analytics -- @brianrodri

#8110 Upgrades state editor properties services
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-content.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-customization-args.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-hints.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-interaction-id.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-param-changes.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-property.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-recorded-voiceovers.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-solicit-answer-details.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-solution.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-written-translations.service.ts
  core/templates/dev/head/domain/exploration/InteractionObjectFactory.ts
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/services/translation-tab-active-content-id.service.spec.ts
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/state-rules-stats.service.spec.ts
  core/templates/dev/head/services/state-top-answers-stats.service.spec.ts
  core/templates/dev/head/services/utils.service.ts
  extensions/interactions/FractionInput/directives/fraction-input-rules.service.ts
  extensions/interactions/FractionInput/directives/fraction-input-validation.service.spec.ts
  extensions/interactions/FractionInput/directives/fraction-input-validation.service.ts
  extensions/interactions/GraphInput/directives/graph-input-rules.service.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-rules.service.spec.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-rules.service.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-rules.service.ts
  extensions/interactions/rules.spec.ts
Labels: CHANGELOG: Infrastructural changes, PROJECT: Angular Migration -- @bansalnitish

#8122 Added a 'link concept card' RTE button
  assets/rich_text_components_definitions.ts
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/dev/head/components/concept-card/concept-card.directive.ts
  core/templates/dev/head/components/concept-card/concept-card.template.html
  core/templates/dev/head/domain/skill/skill-domain.constants.ajs.ts
  core/templates/dev/head/domain/skill/skill-domain.constants.ts
  core/templates/dev/head/domain/utilities/EntityContextObjectFactory.ts
  core/templates/dev/head/domain/utilities/EntityContextObjectFactorySpec.ts
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/context.service.ts
  core/templates/dev/head/services/rte-helper.service.ts
  extensions/objects/models/objects.py
  extensions/objects/models/objects_test.py
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/protractor.js
  extensions/objects/templates/skill-selector-editor.directive.html
  extensions/objects/templates/skill-selector-editor.directive.ts
  extensions/rich_text_components/Concept/Concept.png
  extensions/rich_text_components/Concept/directives/concept.directive.html
  extensions/rich_text_components/Concept/directives/oppia-noninteractive-concept.directive.ts
  extensions/rich_text_components/Concept/protractor.js
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.directive.ts
  extensions/rich_text_components/components.py
  extensions/rich_text_components/components_test.py
  extensions/rich_text_components/richTextComponentsRequires.ts
  feconf.py
  main.py
  schema_utils_test.py
Labels: CHANGELOG: New structures

#8151 Update serialize-javascript and other js dependencies
  yarn.lock
Labels: CHANGELOG: Development workflow

#8141 Optimize the backend test runner
  scripts/run_backend_tests.py
Labels: CHANGELOG: Development workflow, PR: LGTM

#8148 Fix #6732: Remove files from tsconfig.json
  app_dev.yaml
  core/templates/dev/head/pages/header_css_libs.html
  extensions/ckeditor_plugins/pre/plugin.js
  scripts/build.py
  scripts/build_test.py
  tsconfig.json
Labels: CHANGELOG: Code health

#8153 Fix #8118: Ensuring use of 'pip2' or 'pip2.7' during installati…
  scripts/install_third_party_libs.py
  scripts/script_import_test.py
Labels: CHANGELOG: Development workflow

#8163 Make SkillEditorTest's private method to be public
  core/controllers/skill_editor_test.py
Labels: CHANGELOG: Code health

#8149 Fix #8126: Removed the error message for intermediate fraction expressions
  extensions/objects/templates/fraction-editor.directive.ts
Labels: CHANGELOG: Bug fixes

#8147 Fixes return type of Classroom backed api service to be TopicSummaryO…
  core/templates/dev/head/domain/classroom/classroom-backend-api.service.spec.ts
  core/templates/dev/head/domain/classroom/classroom-backend-api.service.ts
  core/templates/dev/head/pages/classroom-page/classroom-page.controller.ts
Labels: CHANGELOG: Infrastructural changes

#8135 Angular 8 Service Migration DebugInfo, TopicSummaryObjectFactory
  core/templates/dev/head/domain/topic/TopicSummaryObjectFactory.ts
  core/templates/dev/head/domain/topic/TopicSummaryObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/current-interaction.service.spec.ts
  core/templates/dev/head/services/debug-info-tracker.service.spec.ts
  core/templates/dev/head/services/debug-info-tracker.service.ts
Labels: CHANGELOG: Infrastructural changes, PROJECT: Angular Migration -- @bansalnitish

#8140 Fix #8127: Multiple response audio highlight issue fix
  core/templates/dev/head/pages/exploration-player-page/learner-experience/input-response-pair.directive.ts
Labels: CHANGELOG: Bug fixes

#8170 Lesson analytics temporary ownership handoff to seanlip
  .github/CODEOWNERS
Labels: CHANGELOG: Development workflow, PR: LGTM

#8136 Milestone 1 (1st PR) - Increase coverage for easy tests
  core/templates/dev/head/domain/statistics/PlaythroughImprovementTaskObjectFactorySpec.ts
  core/templates/dev/head/domain/suggestion/SuggestionThreadObjectFactory.ts
  core/templates/dev/head/domain/suggestion/SuggestionThreadObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/services/translation-language.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/services/translation-language.service.ts
Labels: CHANGELOG: Code health, PROJECT: QA team -- @nithusha21

#8162 Add simple e2e test for community dashboard page.
  .travis.yml
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.constants.ts
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.directive.html
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/communityDashboard.js
  core/tests/protractor_utils/CommunityDashboardPage.js
  core/tests/protractor_utils/CommunityDashboardTranslateTextTab.js
  scripts/run_e2e_tests.sh
Labels: CHANGELOG: Testing coverage

#8115 Upgrades BrowserCheck and LanguageUtil Service to Angular
  core/templates/dev/head/domain/utilities/browser-checker.service.ts
  core/templates/dev/head/domain/utilities/language-util.service.spec.ts
  core/templates/dev/head/domain/utilities/language-util.service.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8134 Fix part of #7427: Adds args, returns and raises in docstrings of utils.py
  utils.py
Labels: CHANGELOG: Code health

#8186 Reinstate test whose removal caused backend coverage to drop.
  core/domain/stats_domain_test.py
Labels: CHANGELOG: Development workflow

#8177 Upgrades ExplorationObjectFactory to Angular
  core/templates/dev/head/domain/exploration/ExplorationObjectFactory.ts
  core/templates/dev/head/domain/exploration/ExplorationObjectFactorySpec.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Development workflow

#8145 Fix #8023: Introduce direct coverage integration
  scripts/common.py
  scripts/install_third_party_libs.py
  scripts/run_backend_tests.py
  scripts/script_import_test.py
  scripts/setup_gae.py
Labels: CHANGELOG: Development workflow

#8183 Migrating AudioTranslationService, StateObject, Playertranscript
  core/templates/dev/head/domain/state_card/StateCardObjectFactory.ts
  core/templates/dev/head/domain/state_card/StateCardObjectFactorySpec.ts
  core/templates/dev/head/domain/utilities/language-util.service.ts
  core/templates/dev/head/pages/exploration-player-page/services/audio-translation-language.service.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/audio-translation-language.service.ts
  core/templates/dev/head/pages/exploration-player-page/services/player-transcript.service.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/player-transcript.service.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8137 Upgrade PythonProgramTokenizer and CodeReplPredictionService
  core/templates/dev/head/services/UpgradedServices.ts
  extensions/classifiers/python-program.tokenizer.spec.ts
  extensions/classifiers/python-program.tokenizer.ts
  extensions/interactions/CodeRepl/code-repl-prediction.service.spec.ts
  extensions/interactions/CodeRepl/code-repl-prediction.service.ts
Labels: PROJECT: Angular Migration -- @bansalnitish

#8091 Introduce message cache to threads
  core/controllers/feedback_test.py
  core/domain/feedback_domain.py
  core/domain/feedback_domain_test.py
  core/domain/feedback_jobs_continuous_test.py
  core/domain/feedback_jobs_one_off.py
  core/domain/feedback_jobs_one_off_test.py
  core/domain/feedback_services.py
  core/domain/feedback_services_test.py
  core/jobs_registry.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
Labels: CHANGELOG: Infrastructural changes, PR: LGTM, PROJECT: Data handling -- @seanlip

#8158 Fix part of #7450: Changed ConfigPropertyRegistryTests from private to public interface
  core/domain/config_domain.py
  core/domain/config_domain_test.py
Labels: CHANGELOG: Development workflow, PR: LGTM, PROJECT: Developer experience -- @kevinlee12

#8187 Update yarn version
  .yarnrc
  scripts/common.py
Labels: CHANGELOG: Development workflow

#8156 Fix part of #7450: modify private methods in html_validation_service files
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
Labels: PR: LGTM

#8176 Fix part of #7427: Add args, raises in base.py
  core/controllers/base.py
Labels: CHANGELOG: Development workflow

#8195 Upgrades CodeReplRulesService to Angular
  core/templates/dev/head/services/UpgradedServices.ts
  extensions/interactions/CodeRepl/directives/code-repl-rules.service.spec.ts
  extensions/interactions/CodeRepl/directives/code-repl-rules.service.ts
Labels: CHANGELOG: Development workflow

#8201 Fix part of #7450: Modify test method in InteractionUnitTests
  extensions/interactions/base_test.py
Labels: CHANGELOG: Development workflow, PR: LGTM, PROJECT: Developer experience -- @kevinlee12

#8204 Fix initial release prep script
  scripts/release_scripts/initial_release_prep.py
  scripts/release_scripts/initial_release_prep_test.py
Labels: CHANGELOG: Infrastructural changes

#8188 Angular Migration: SuggestionThreadObjectFactory and ExtractImageFilenamesFromStateService
  core/templates/dev/head/domain/suggestion/SuggestionObjectFactory.ts
  core/templates/dev/head/domain/suggestion/SuggestionThreadObjectFactory.ts
  core/templates/dev/head/domain/suggestion/SuggestionThreadObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-player-page/services/extract-image-filenames-from-state.service.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/extract-image-filenames-from-state.service.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8200 Angular Migrating PlayerPosition and TopicObjectFactory
  core/templates/dev/head/domain/topic/TopicObjectFactory.ts
  core/templates/dev/head/domain/topic/TopicObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-player-page/services/player-position.service.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/player-position.service.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8164 Milestone 1 (2nd PR) - Increase coverage for easy tests
  core/templates/dev/head/domain/statistics/FeedbackImprovementTaskObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/SuggestionImprovementTaskObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-editor-page/history-tab/services/compare-versions.service.spec.ts
Labels: CHANGELOG: Code health, PR: LGTM

#8139 Fix build.py is not working correctly on Windows
  scripts/build.py
  scripts/build_test.py
  scripts/common.py
  scripts/common_test.py
Labels: CHANGELOG: Development workflow, PR: LGTM, PROJECT: Developer experience -- @kevinlee12

#8222 Minor automation changes for branch cut
  .gitignore
  scripts/install_third_party_libs.py
  scripts/pre_commit_linter.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
  scripts/release_scripts/initial_release_prep.py
  scripts/release_scripts/initial_release_prep_test.py
Labels: CHANGELOG: Infrastructural changes

#8185 Fix #7429, #7659: Set model fields as required
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/takeout_service_test.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/jobs_registry.py
  core/storage/email/gae_models.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: CHANGELOG: Infrastructural changes, PROJECT: Data handling -- @seanlip

#8180 Milestone 1 (3rd PR) - Increase coverage for learner-answer-details-data.service.ts
  core/templates/dev/head/pages/exploration-editor-page/services/learner-answer-details-data.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/services/learner-answer-details-data.service.ts
Labels: CHANGELOG: Code health

#8198 Fix #8123
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8119 Fix part of #7427 Valid Return Args in main.py "CHANGELOG: Code health" Needs review.
  main.py
Labels: CHANGELOG: Code health, PROJECT: Developer experience -- @kevinlee12

#8224 Fix #8114: Fixing admin page navbar
  core/templates/dev/head/pages/admin-page/navbar/admin-navbar.directive.html
  core/templates/dev/head/pages/admin-page/navbar/admin-navbar.directive.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#8253 Report Topic names in addition to Entity id for the abbreviated_name audit job
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
Labels: CHANGELOG: New structures, PROJECT: Overall learner experience -- @aks681

#8240 Fix #8178: Remove fit-content from codebase
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/collection-editor-page/navbar/collection-editor-navbar.directive.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.directive.html
  core/templates/dev/head/pages/library-page/library-page.directive.html
  core/templates/dev/head/pages/library-page/search-results/search-results.directive.html
  core/templates/dev/head/pages/topic-viewer-page/topic-viewer-page.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#8227 Renames the 'concept' RTE element to 'skillreview'
  assets/constants.ts
  assets/rich_text_components_definitions.ts
  core/domain/rte_component_registry_test.py
  core/domain/topic_domain.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/templates/dev/head/services/rte-helper.service.ts
  extensions/rich_text_components/Skillreview/Skillreview.png
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.directive.ts
  extensions/rich_text_components/Skillreview/directives/skillreview.directive.html
  extensions/rich_text_components/Skillreview/protractor.js
  extensions/rich_text_components/components.py
  extensions/rich_text_components/components_test.py
  extensions/rich_text_components/richTextComponentsRequires.ts
Labels: CHANGELOG: New structures, PR: for current release

#8243 Fix #8007: Add one off job to regenerate skill opportunity models
  core/domain/opportunity_jobs_one_off.py
  core/domain/opportunity_jobs_one_off_test.py
  core/domain/opportunity_services.py
  core/jobs_registry.py
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
  core/tests/test_utils.py
Labels: CHANGELOG: Community contribution and dashboard

#8259 fixes #8258: fix .eslintrc file trailing commas and ordering.
  .eslintrc
Labels: CHANGELOG: Development workflow

#8245 Fix new structure editor issues
  core/templates/dev/head/components/rubrics-editor/rubrics-editor.directive.html
  core/templates/dev/head/components/rubrics-editor/rubrics-editor.directive.ts
  core/templates/dev/head/components/state-directives/outcome-editor/outcome-editor.directive.ts
  core/templates/dev/head/components/state-directives/response-header/response-header.directive.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.template.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#8233 Change chrome headless flags and modify voice test
  .circleci/config.yml
  .github/workflows/tests.yml
  core/templates/dev/head/domain/utilities/browser-checker.service.ts
  core/templates/dev/head/domain/utilities/language-util.service.spec.ts
  core/tests/karma.conf.ts
  scripts/run_frontend_tests.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12, critical

#8246 Migrate ExplorationFeaturesBackendApiService to angular and add tests
  core/templates/dev/head/services/exploration-features-backend-api.service.spec.ts
  core/templates/dev/head/services/exploration-features-backend-api.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8266 Upgrade node from v10.15.3 to v10.18.0.
  scripts/common.py
  scripts/pre_commit_linter.py
  scripts/pre_push_hook.py
  scripts/run_e2e_tests.sh
  scripts/typescript_checks.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8229 Angular Migration ConceptCardObjectFactory
  core/templates/dev/head/domain/skill/ConceptCardObjectFactory.ts
  core/templates/dev/head/domain/skill/ConceptCardObjectFactorySpec.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Infrastructural changes, PROJECT: Angular Migration -- @bansalnitish

#8264 Increase concurrent runs for CircleCI
  scripts/run_backend_tests.py
Labels: CHANGELOG: Development workflow, PR: LGTM

#8256 Fix ckeditor tableselection issue
  app_dev.yaml
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#8278 Remove master branch from Travis. Update CONTRIBUTING.md to match wiki home page.
  .github/CONTRIBUTING.md
  .travis.yml
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8121 Fix part of #8015: Return ReadOnlySubtopicPageData instead of ReadOnlySubtopicPageDict
  core/templates/dev/head/domain/subtopic_viewer/ReadOnlySubtopicPageObjectFactory.ts
  core/templates/dev/head/domain/subtopic_viewer/ReadOnlySubtopicPageObjectFactorySpec.ts
  core/templates/dev/head/domain/subtopic_viewer/subtopic-viewer-backend-api.service.spec.ts
  core/templates/dev/head/domain/subtopic_viewer/subtopic-viewer-backend-api.service.ts
  core/templates/dev/head/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.directive.ts
  core/templates/dev/head/pages/subtopic-viewer-page/subtopic-viewer-page.controller.ts
Labels: CHANGELOG: Infrastructural changes

#8276 Fixes #8265: Resolve comments from 8233
  .github/workflows/tests.yml
  core/templates/dev/head/domain/utilities/language-util.service.spec.ts
Labels: CHANGELOG: Development workflow

#8275 Increase browser timeout
  core/tests/karma.conf.ts
Labels: CHANGELOG: Development workflow

#8283 Use a mock for speechSynthesis to prevent flakiness in Karma tests.
  core/templates/dev/head/domain/utilities/language-util.service.spec.ts
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8279 Halt a protractor suite once the first test fails.
  .gitignore
  core/tests/protractor.conf.js
  package.json
  yarn.lock
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8261 Fixes #8260: Adding adminPage e2e test to travis.yml
  .travis.yml
Labels: CHANGELOG: Bug fixes

#8286 Try switching back to ChromeHeadless.
  core/tests/karma.conf.ts
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8291 Update release info script for new changelog labels
  .github/PULL_REQUEST_TEMPLATE.md
  scripts/release_scripts/generate_release_info.py
  scripts/release_scripts/generate_release_info_test.py
Labels: CHANGELOG: Infrastructural changes

#8057 Fix part of #7471: Frontend changes for question suggestion integration
  core/controllers/suggestion.py
  core/domain/question_domain.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/templates/dev/head/domain/opportunity/SkillOpportunityObjectFactory.ts
  core/templates/dev/head/domain/opportunity/SkillOpportunityObjectFactorySpec.ts
  core/templates/dev/head/domain/question/QuestionObjectFactory.ts
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.ts
  core/templates/dev/head/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.html
  core/templates/dev/head/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.ts
  core/templates/dev/head/pages/community-dashboard-page/modal-templates/question-suggestion-review.directive.html
  core/templates/dev/head/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.html
  core/templates/dev/head/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.ts
  core/templates/dev/head/pages/community-dashboard-page/services/contribution-and-review.service.spec.ts
  core/templates/dev/head/pages/community-dashboard-page/services/contribution-and-review.service.ts
  core/templates/dev/head/pages/community-dashboard-page/services/question-suggestion.service.ts
Labels: CHANGELOG: Community contribution and dashboard

#8292 Removes feconf.py.bak file after updating the feconf.py file while running e2e tests
  scripts/run_e2e_tests.sh
Labels: CHANGELOG: Code health

#8235 Fix #8214: non-null exploration version is passed in the stats calls
  core/templates/dev/head/App.ts
  core/templates/dev/head/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/exploration-player-state.service.ts
Labels: CHANGELOG: Bug fixes, PR: LGTM, PR: for current release

#8290 Fixes #8184: Force refresh and prevent submitting new message while one message is being submitted
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/services/improvement-modal.service.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/templates/suggestion-thread-modal.template.html
  core/templates/dev/head/pages/exploration-editor-page/suggestion-modal-for-editor-view/suggestion-modal-for-exploration-editor.service.ts
  core/tests/protractor_desktop/explorationImprovementsTab.js
  core/tests/protractor_utils/ExplorationEditorFeedbackTab.js
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#8234 Fix #8179: The voiceover error message doesn't get displayed in every tab.
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/state-translation/state-translation.directive.html
Labels: CHANGELOG: Translations, PR: for current release, audio-translation, frontend

#8220 Migrate ReadOnlyStoryNodeObjectFactory and StoryPlaythroughObjectFact…
  core/templates/dev/head/domain/story_viewer/ReadOnlyStoryNodeObjectFactory.ts
  core/templates/dev/head/domain/story_viewer/ReadOnlyStoryNodeObjectFactorySpec.ts
  core/templates/dev/head/domain/story_viewer/StoryPlaythroughObjectFactory.ts
  core/templates/dev/head/domain/story_viewer/StoryPlaythroughObjectFactorySpec.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8287 Fix part of #7450: Modify private method in collection_services_test
  core/domain/collection_services.py
  core/domain/collection_services_test.py
Labels: CHANGELOG: Code health

#8293 Fix continue button not working in presence of correctness feedback
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
Labels: CHANGELOG: Code health, PR: for current release

#8294 Fixes #8289: Adding profile features to travis and fixing the tests
  .travis.yml
  core/tests/protractor_desktop/profileFeatures.js
  core/tests/protractor_utils/ProfilePage.js
Labels: CHANGELOG: Bug fixes

#8288 Fix part of #7427 Add args, raises in exp_domain.py
  core/domain/exp_domain.py
Labels: CHANGELOG: Development workflow

#8298 Fix #7852: Update skulpt to v1.1.0 and get rid of the requirement to build it locally.
  extensions/interactions/skulpt.html
  manifest.json
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/pre_commit_linter.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/start.py
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8305 Update node packages
  yarn.lock
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8299 Reconfigure circleci cache
  .circleci/config.yml
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8280 Migrate StateTopAnswersStatsBackendApiService to angular
  core/templates/dev/head/services/state-top-answers-stats-backend-api.service.spec.ts
  core/templates/dev/head/services/state-top-answers-stats-backend-api.service.ts
Labels: CHANGELOG: Development workflow

#8306 Introduce Github Action for lint checks
  .github/workflows/lint.yml
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8304 Revert "Halt a protractor suite once the first test fails."
  .gitignore
  core/tests/protractor.conf.js
  package.json
  yarn.lock
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8309 Adds correct path for the dir in skip_files of app_dev.yaml
  app_dev.yaml
  scripts/third_party_size_check.py
Labels: CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#8317 Remove code climate coverage
  .circleci/config.yml
  .travis.yml
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8312 Move fileUploadFeatures and topicAndStoryEditor E2E tests to CircleCI
  .circleci/config.yml
  .travis.yml
Labels: CHANGELOG: Development workflow
