Repository oppia/oppia, pull requests merged in 2019-01, with the labels that each got.

#5991 Fix #5798: Introduce Improvements Tab to Exploration Editor
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/editor.py
  core/domain/config_domain.py
  core/templates/dev/head/pages/collection_editor/CollectionEditorNavbarBreadcrumbDirective.js
  core/templates/dev/head/pages/collection_editor/CollectionEditorNavbarDirective.js
  core/templates/dev/head/pages/collection_editor/collection_editor.html
  core/templates/dev/head/pages/collection_editor/collection_editor_navbar_directive.html
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/exploration_editor/EditorNavbarBreadcrumbDirective.js
  core/templates/dev/head/pages/exploration_editor/EditorNavigationDirective.js
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.js
  core/templates/dev/head/pages/exploration_editor/ExplorationFeaturesBackendApiService.js
  core/templates/dev/head/pages/exploration_editor/ExplorationFeaturesService.js
  core/templates/dev/head/pages/exploration_editor/ExplorationWarningsService.js
  core/templates/dev/head/pages/exploration_editor/RouterService.js
  core/templates/dev/head/pages/exploration_editor/editor_navigation_directive.html
  core/templates/dev/head/pages/exploration_editor/editor_tab/ExplorationEditorTab.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/UnresolvedAnswersOverviewDirective.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/unresolved_answers_overview_directive.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_editor/improvements_tab/ImprovementsTabDirective.js
  core/templates/dev/head/pages/exploration_editor/improvements_tab/improvements_tab_directive.html
  core/templates/dev/head/pages/exploration_editor/preview_tab/PreviewTab.js
  core/templates/dev/head/pages/exploration_editor/settings_tab/SettingsTab.js
  core/templates/dev/head/pages/skill_editor/SkillEditorNavbarDirective.js
  core/templates/dev/head/pages/skill_editor/SkillEditorRoutingService.js
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/skill_editor/skill_editor_navbar_directive.html
  core/templates/dev/head/pages/topic_editor/TopicEditorNavbarDirective.js
  core/templates/dev/head/pages/topic_editor/TopicEditorRoutingService.js
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  core/templates/dev/head/pages/topic_editor/topic_editor_navbar_directive.html
  core/templates/dev/head/services/ImprovementsService.js
  core/templates/dev/head/services/ImprovementsServiceSpec.js
  core/templates/dev/head/services/StateRulesStatsService.js
  core/templates/dev/head/services/StateRulesStatsServiceSpec.js
  main.py
Labels: full-stack, important

#6023 Fix part of #6024: Consolidate file-access
  scripts/pre_commit_linter.py
Labels: code-health, devflow

#6042 Fix #5978: Stewards page content alignment.
  core/templates/dev/head/pages/landing/stewards/landing_page_stewards.html
Labels: PR: for current release

#6057 Fix #6056: Makes the resize of text box vertical
  core/templates/dev/head/pages/exploration_editor/exploration_save_modal_directive.html
Labels: PR: LGTM

#5838 Fix #4829: Reduce code redundancy in backend testing
  core/controllers/admin_test.py
  core/controllers/base_test.py
  core/controllers/classifier_test.py
  core/controllers/collection_editor_test.py
  core/controllers/collection_viewer_test.py
  core/controllers/concept_card_viewer_test.py
  core/controllers/creator_dashboard_test.py
  core/controllers/custom_landing_pages_test.py
  core/controllers/editor_test.py
  core/controllers/email_dashboard_test.py
  core/controllers/feedback_test.py
  core/controllers/incoming_emails_test.py
  core/controllers/learner_dashboard_test.py
  core/controllers/learner_playlist_test.py
  core/controllers/library_test.py
  core/controllers/moderator_test.py
  core/controllers/pages_test.py
  core/controllers/profile_test.py
  core/controllers/question_editor_test.py
  core/controllers/reader_test.py
  core/controllers/resources_test.py
  core/controllers/skill_editor_test.py
  core/controllers/story_editor_test.py
  core/controllers/subscriptions_test.py
  core/controllers/suggestion_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topic_viewer_test.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/controllers/translator_test.py
  core/domain/acl_decorators_test.py
  core/domain/dependency_registry_test.py
  core/domain/email_manager_test.py
  core/domain/feedback_services_test.py
  core/domain/summary_services_test.py
  core/domain/user_services_test.py
  core/tests/test_utils.py
Labels: PR: LGTM

#6071 Fix #6064: Changes backdrop controls to static for exploration publish modal.
  core/templates/dev/head/pages/exploration_editor/ExplorationSaveService.js
Labels: PR: for current release

#6044 Fix part of #5591: Migrate Playthrough Feature Data into ExplorationFeaturesService
  core/controllers/editor.py
  core/controllers/features.py
  core/controllers/features_test.py
  core/controllers/reader.py
  core/domain/config_domain.py
  core/templates/dev/head/domain/statistics/LearnerActionObjectFactory.js
  core/templates/dev/head/domain/statistics/LearnerActionObjectFactorySpec.js
  core/templates/dev/head/pages/collection_editor/collection_editor.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_editor/statistics_tab/LearnerActionRenderServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/statistics_tab/StatisticsTab.js
  core/templates/dev/head/pages/exploration_player/ExplorationEngineService.js
  core/templates/dev/head/pages/exploration_player/ExplorationPlayerStateService.js
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/services/ExplorationFeaturesBackendApiService.js
  core/templates/dev/head/services/ExplorationFeaturesService.js
  core/templates/dev/head/services/PlaythroughIssuesBackendApiService.js
  core/templates/dev/head/services/PlaythroughIssuesService.js
  core/templates/dev/head/services/PlaythroughService.js
  core/templates/dev/head/services/PlaythroughServiceSpec.js
  core/tests/protractor_desktop/editorFeatures.js
  feconf.py
  main.py
Labels: code-health, full-stack

#6074 Fix #5923: Refactoring and clean up backend tests.
  core/domain/exp_domain_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
Labels: PR: LGTM

#6096 Fix #6078: Updating publish button after modal is dismissed.
  core/templates/dev/head/pages/exploration_editor/ExplorationSaveService.js
Labels: PR: for current release

#6109 Update authors and changelog for v2.7.2.
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/dev/head/pages/about/about.html
Labels: PR: LGTM, PR: for current release

#6098 Fixes part of #4057: Adding tests to increase coverage of OutcomeObjectFactory.js
  core/templates/dev/head/domain/exploration/OutcomeObjectFactorySpec.js
Labels: PR: LGTM

#6164 Routine update to translations.
  assets/i18n/ar.json
  assets/i18n/da.json
  assets/i18n/de.json
  assets/i18n/diq.json
  assets/i18n/es.json
  assets/i18n/eu.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/ko.json
  assets/i18n/my.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/ru.json
  assets/i18n/skr-arab.json
  assets/i18n/sr-ec.json
  assets/i18n/sv.json
  assets/i18n/tr.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR: LGTM

#6131 Fix #5975: Create One-off Job to Remove Invalid Playthroughs
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
  core/jobs_registry.py
Labels: backend, important

#6136 Fix #5019 : The continue button is now visible with long feedback
  core/templates/dev/head/pages/exploration_player/supplemental_card_directive.html
Labels: PR: LGTM
