Repository oppia/oppia, pull requests merged in 2019-11, with the labels that each got.

#7874 Wipeout 2.7: Reindex all children of BaseSnapshotMetadataModel
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/base_model/gae_models.py
Labels: CHANGELOG: Infrastructural changes, PROJECT: Data handling -- @seanlip

#7885 Fix #7381: Replace apply with applyAsync in top-navigation-bar.directive
  core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
Labels: CHANGELOG: Bug fixes, PR: LGTM, server errors

#7832 Fix part of #7427: Add valid args docstring for story_domain_test.py
  core/domain/story_domain_test.py
Labels: CHANGELOG: Code health, PR: LGTM

#7846 Changes to questions tab and rubrics editor
  core/templates/dev/head/components/question-directives/question-editor/question-editor.directive.ts
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/components/rubrics-editor/rubrics-editor.directive.html
  core/templates/dev/head/components/rubrics-editor/rubrics-editor.directive.ts
  core/templates/dev/head/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.html
  core/templates/dev/head/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.ts
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/dev/head/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.html
  core/templates/dev/head/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.ts
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.ts
  core/templates/dev/head/services/QuestionsListService.ts
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/SkillEditorPage.js
  core/tests/protractor_utils/TopicEditorPage.js
Labels: CHANGELOG: New structures

#7764 Fixes part of #6240: Mark correct answers after enabling correctness feedback
  core/templates/dev/head/components/state-directives/response-header/response-header.directive.html
  core/templates/dev/head/pages/exploration-editor-page/settings-tab/settings-tab.directive.html
  core/templates/dev/head/pages/exploration-player-page/layout-directives/correctness-footer.directive.html
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_desktop/extensions.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/ExplorationEditorSettingsTab.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
Labels: CHANGELOG: Code health

#7823 Wipeout 3.4: Start using GAE user ID
  core/controllers/base.py
  core/controllers/reader_test.py
  core/domain/collection_jobs_one_off_test.py
  core/domain/collection_services_test.py
  core/domain/email_manager_test.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services_test.py
  core/domain/feedback_domain_test.py
  core/domain/fs_domain_test.py
  core/domain/interaction_registry_test.py
  core/domain/question_jobs_one_off_test.py
  core/domain/recommendations_services_test.py
  core/domain/rights_manager_test.py
  core/domain/search_services_test.py
  core/domain/skill_jobs_one_off_test.py
  core/domain/stats_services_test.py
  core/domain/story_jobs_one_off_test.py
  core/domain/summary_services_test.py
  core/domain/topic_jobs_one_off_test.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_query_jobs_one_off.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/platform/users/gae_current_user_services.py
  core/platform/users/gae_current_user_services_test.py
  core/storage/user/gae_models.py
  core/tests/test_utils.py
  feconf.py
Labels: CHANGELOG: Infrastructural changes, PROJECT: Data handling -- @seanlip

#7886 Fix #6909: Add a polyfill for SVGElement.prototype.outerHTML
  core/templates/dev/head/App.ts
Labels: CHANGELOG: Bug fixes, server errors

#7881 Fix #7831: Added lint check for excessive new lines between function definitions
  core/controllers/base.py
  scripts/pylint_extensions.py
  scripts/pylint_extensions_test.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7895 Fix #7890: Add more explicit codeowners fix
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Development workflow, PR: LGTM, PROJECT: Developer experience -- @kevinlee12

#7891 Removed the concept of "private skills"
  .github/CODEOWNERS
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/templates/dev/head/components/entity-creation-services/skill-creation.service.ts
  core/templates/dev/head/components/review-material-editor/review-material-editor.directive.html
  core/templates/dev/head/components/review-material-editor/review-material-editor.directive.ts
  core/templates/dev/head/domain/skill/skill-rights-backend-api.service.spec.ts
  core/templates/dev/head/domain/skill/skill-rights-backend-api.service.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.html
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.ts
  core/templates/dev/head/pages/skill-editor-page/modal-templates/skill-editor-pre-publish-modal.directive.html
  core/templates/dev/head/pages/skill-editor-page/navbar/skill-editor-navbar.directive.html
  core/templates/dev/head/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.constants.ajs.ts
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.constants.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.template.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.directive.html
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/SkillEditorPage.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  feconf.py
  main.py
Labels: CHANGELOG: New structures

#7840 Fix #7794: Add warning when MIDI is unsupported in the browser
  extensions/interactions/MusicNotesInput/directives/oppia-interactive-music-notes-input.directive.ts
Labels: CHANGELOG: Bug fixes, server errors

#7905 Covered missing lines in skill_editor.py
  core/controllers/skill_editor_test.py
Labels: CHANGELOG: Testing coverage

#7856 Fix #7529: Adds a strict check for Outcome object before executing hasNonemptyFeedback
  core/templates/dev/head/components/state-directives/outcome-editor/outcome-editor.directive.ts
  core/templates/dev/head/components/state-editor/state-responses-editor/state-responses.directive.ts
Labels: CHANGELOG: Bug fixes, PROJECT: Bug fixing team -- @nithusha21, server errors

#7860 Fix part of #7450: Modify private methods calls in GenerateHashTests to public calls
  core/storage/email/gae_models_test.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7879 Fix #6738: changed direct usage of window.location
  core/templates/dev/head/components/common-layout-directives/navigation-bars/side-navigation-bar.directive.ts
Labels: CHANGELOG: Code health, PROJECT: Developer experience -- @kevinlee12

#7790 Release Automation [Milestone 4]: Add pre commit tests in deploy, automate hotfix branch creation
  core/tests/release_sources/feconf.txt
  core/tests/release_sources/invalid_constants_with_wrong_bucket_name.txt
  core/tests/release_sources/invalid_constants_with_wrong_dev_mode.txt
  core/tests/release_sources/tmp_unzip.tar.gz
  core/tests/release_sources/tmp_unzip.zip
  core/tests/release_sources/valid_constants.txt
  scripts/clean.py
  scripts/clean_test.py
  scripts/common.py
  scripts/common_test.py
  scripts/cut_release_or_hotfix_branch.py
  scripts/deploy.py
  scripts/deploy_test.py
  scripts/gcloud_adapter.py
  scripts/gcloud_adapter_test.py
  scripts/install_third_party.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/install_third_party_test.py
  scripts/pre_commit_hook.py
  scripts/pre_commit_hook_test.py
  scripts/pre_commit_linter.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  scripts/release_info.py
  scripts/release_info_test.py
  scripts/script_import_test.py
  scripts/setup.py
  scripts/setup_gae.py
  scripts/setup_gae_test.py
  scripts/setup_test.py
  scripts/update_configs.py
Labels: CHANGELOG: Infrastructural changes

#7894 Add more interaction types to the question editor and fix question mode detection in outcome editor
  assets/constants.ts
  core/templates/dev/head/components/state-directives/outcome-editor/outcome-editor.directive.ts
  extensions/interactions/interactionsQuestionsRequires.ts
Labels: CHANGELOG: New structures, PROJECT: Overall learner experience -- @aks681

#7898 Split flag for new structure viewers
  assets/constants.ts
  core/controllers/story_viewer.py
  core/controllers/story_viewer_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/templates/dev/head/domain/story/StoryContentsObjectFactory.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
Labels: CHANGELOG: New structures, PROJECT: Overall learner experience -- @aks681

#7777 Upgrades AlertsService and NormalizeWhiteSpaceFilter to Angular
  .github/CODEOWNERS
  core/templates/dev/head/App.ts
  core/templates/dev/head/filters/string-utility-filters/normalize-whitespace.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/normalize-whitespace.pipe.ts
  core/templates/dev/head/pages/admin-page/services/admin-router.service.spec.ts
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/alerts.service.spec.ts
  core/templates/dev/head/services/alerts.service.ts
  core/templates/dev/head/services/contextual/logger.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#7827 Migrating dateTimeFormatService and format-timer.pipe
  core/templates/dev/head/filters/format-timer.pipe.ts
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/date-time-format.service.spec.ts
  core/templates/dev/head/services/date-time-format.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#7920 Switch download source for CKEditor libs to GitHub for better stability.
  app_dev.yaml
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  manifest.json
Labels: CHANGELOG: Development workflow

#7834 Migration url service
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/contextual/url.service.spec.ts
  core/templates/dev/head/services/contextual/url.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#7889 Flipped the ENABLE_NEW_STRUCTURES_VIEWER flag
  assets/constants.ts
Labels: CHANGELOG: New structures, PROJECT: Overall learner experience -- @aks681

#7909 Added fields to skill editor
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/domain/topic_fetchers.py
  core/domain/topic_fetchers_test.py
  core/storage/skill/gae_models.py
  core/templates/dev/head/components/skill-selector/skill-selector.directive.html
  core/templates/dev/head/components/skill-selector/skill-selector.directive.ts
  core/templates/dev/head/domain/question/QuestionObjectFactory.ts
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.ts
  core/templates/dev/head/domain/skill/MisconceptionObjectFactory.ts
  core/templates/dev/head/domain/skill/MisconceptionObjectFactorySpec.ts
  core/templates/dev/head/domain/skill/SkillObjectFactory.ts
  core/templates/dev/head/domain/skill/SkillObjectFactorySpec.ts
  core/templates/dev/head/domain/skill/editable-skill-backend-api.service.spec.ts
  core/templates/dev/head/domain/skill/editable-skill-backend-api.service.ts
  core/templates/dev/head/domain/skill/skill-domain.constants.ajs.ts
  core/templates/dev/head/domain/skill/skill-domain.constants.ts
  core/templates/dev/head/domain/skill/skill-update.service.spec.ts
  core/templates/dev/head/domain/skill/skill-update.service.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.html
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.directive.html
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.directive.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.html
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.ts
  core/templates/dev/head/pages/skill-editor-page/modal-templates/add-misconception-modal.directive.html
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/dev/head/pages/story-editor-page/modal-templates/select-skill-modal.template.html
  core/templates/dev/head/pages/topic-editor-page/modal-templates/tag-misconception-modal.template.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/templates/merge-skill-modal.template.html
  core/tests/test_utils.py
  feconf.py
Labels: CHANGELOG: New structures, PROJECT: Overall learner experience -- @aks681

#7914 Remove DubeySandeep from codeowner for various miscellaneous projects.
  .github/CODEOWNERS
Labels: CHANGELOG: Code health, PR: LGTM

#7916 Release Automation [Milestone 6]: Automate backup restoration for migrations on backup server
  scripts/restore_backup.py
  scripts/restore_backup_test.py
Labels: CHANGELOG: Infrastructural changes

#7912 Release Automation [Milestone 5]: Add checks to ensure that travis and circleci are run before prod deployment, changelog generation for hotfixes
  core/tests/release_sources/UPDATED_CHANGELOG_FOR_REMOVAL_TEST
  release_constants.py
  scripts/clean_test.py
  scripts/common.py
  scripts/common_test.py
  scripts/cut_release_or_hotfix_branch.py
  scripts/deploy.py
  scripts/deploy_test.py
  scripts/gcloud_adapter_test.py
  scripts/generate_release_updates_test.py
  scripts/install_third_party_libs_test.py
  scripts/install_third_party_test.py
  scripts/pre_commit_hook_test.py
  scripts/pre_push_hook_test.py
  scripts/release_info_test.py
  scripts/script_import_test.py
  scripts/setup_gae_test.py
  scripts/setup_test.py
  scripts/typescript_checks_test.py
  scripts/update_changelog_and_credits.py
  scripts/update_changelog_and_credits_test.py
  scripts/update_configs_test.py
  scripts/wrap_release_test.py
Labels: CHANGELOG: Infrastructural changes

#7805 Migration extension tag assembler serivce
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/extension-tag-assembler.service.ts
  core/templates/dev/head/services/html-escaper.service.spec.ts
  core/templates/dev/head/services/html-escaper.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#7893 Wipeout 2.8: Add has_reference_to_user_id to remainig models
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/domain/email_jobs_one_off.py
  core/domain/email_jobs_one_off_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/jobs_registry.py
  core/storage/email/gae_models.py
  core/storage/email/gae_models_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/recommendations/gae_models.py
  core/storage/recommendations/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/skill/gae_models_test.py
  core/storage/storage_models_test.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  main_cron.py
Labels: CHANGELOG: Infrastructural changes, PROJECT: Data handling -- @seanlip

#7910 Question editor fixes
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/domain/question/QuestionObjectFactory.ts
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-node-editor.directive.html
Labels: CHANGELOG: New structures, PR: LGTM, PROJECT: Overall learner experience -- @aks681

#7924 Resolves ckeditor.js 404 issue on the community dashboard page
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.mainpage.html
Labels: CHANGELOG: Bug fixes, PR: LGTM

#7908 Fix part of #6482: button is disable until all requirements are fulfilled - fixed \o/
  core/templates/dev/head/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
Labels: CHANGELOG: Improvements to editors and players, PR: LGTM

#7921 Fix #7867: do client-side redirect for app pages.
  core/templates/dev/head/base-components/base-content.directive.ts
Labels: CHANGELOG: Updates to static pages

#7930 Fixes #7647: Subprocess check call conversion
  .travis.yml
  scripts/build.py
  scripts/common.py
  scripts/create_expression_parser.py
  scripts/cut_release_or_hotfix_branch.py
  scripts/install_chrome_on_travis.py
  scripts/install_third_party_libs.py
  scripts/run_backend_tests.py
  scripts/run_frontend_tests.py
  scripts/run_performance_tests.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7843 Voiceover application storage model and domain class
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: CHANGELOG: Improvements to editors and players, PR: LGTM, PROJECT: Audio and translations -- @DubeySandeep

#7934 Angular Services Migration combined
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/compute-graph.service.ts
  core/templates/dev/head/services/debouncer.service.ts
  core/templates/dev/head/services/generate-content-id.service.spec.ts
  core/templates/dev/head/services/generate-content-id.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#7941 Update tests according to the changes in #7930
  scripts/build.py
  scripts/common_test.py
  scripts/install_third_party_libs_test.py
  scripts/script_import_test.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7927 Fix #7906: Adds a check for errorCallback
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-data.service.ts
Labels: CHANGELOG: Bug fixes, server errors

#7907 Fix #7342: Replace ctrl.stateName with updated state name value
  core/templates/dev/head/components/state-directives/outcome-editor/outcome-destination-editor.directive.ts
  core/templates/dev/head/components/state-directives/outcome-editor/outcome-editor.directive.ts
  core/templates/dev/head/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-states.service.ts
Labels: CHANGELOG: Bug fixes, PROJECT: Bug fixing team -- @nithusha21, server errors

#7935 Migrating filters
  core/templates/dev/head/filters/string-utility-filters/capitalize.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/capitalize.pipe.ts
  core/templates/dev/head/filters/string-utility-filters/convert-to-plain-text.pipe.ts
  core/templates/dev/head/filters/string-utility-filters/get-abbreviated-text.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/get-abbreviated-text.pipe.ts
  core/templates/dev/head/filters/string-utility-filters/normalize-whitespace-punctuation-and-case.pipe.ts
  core/templates/dev/head/filters/string-utility-filters/replace-inputs-with-ellipses.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/replace-inputs-with-ellipses.pipe.ts
  core/templates/dev/head/filters/string-utility-filters/truncate-and-capitalize.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/truncate-and-capitalize.pipe.ts
  core/templates/dev/head/filters/string-utility-filters/truncate-at-first-ellipsis.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/truncate-at-first-ellipsis.pipe.ts
  core/templates/dev/head/filters/string-utility-filters/truncate-at-first-line.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/truncate-at-first-line.pipe.ts
  core/templates/dev/head/filters/string-utility-filters/truncate.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/truncate.pipe.ts
  core/templates/dev/head/filters/string-utility-filters/underscores-to-camel-case.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/underscores-to-camel-case.pipe.ts
  core/templates/dev/head/filters/string-utility-filters/wrap-text-with-ellipsis.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/wrap-text-with-ellipsis.pipe.ts
Labels: CHANGELOG: Infrastructural changes, PROJECT: Angular Migration -- @bansalnitish

#7947 Fix #7918: Run install_third_party_libs.py script before running e2e tests
  scripts/run_e2e_tests.sh
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7933 Fix #7926: Add polyfill for navigator.mediaDevices.getUserMedia
  core/templates/dev/head/App.ts
Labels: CHANGELOG: Bug fixes, PR: LGTM, server errors

#7839 Fix #6687: Write e2e tests for file upload process
  .travis.yml
  core/templates/dev/head/components/forms/custom-forms-directives/audio-file-uploader.directive.html
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/modal-templates/add-audio-translation-modal.template.html
  core/templates/dev/head/services/assets-backend-api.service.ts
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/voiceoverUploadFeatures.js
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
Labels: CHANGELOG: Testing coverage, PROJECT: QA team -- @nithusha21

#7949 Resolve audit errors
  package.json
  yarn.lock
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7954 Revert "Wipeout 3.4: Start using GAE user ID"
  core/controllers/base.py
  core/controllers/reader_test.py
  core/domain/collection_jobs_one_off_test.py
  core/domain/collection_services_test.py
  core/domain/email_manager_test.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services_test.py
  core/domain/feedback_domain_test.py
  core/domain/fs_domain_test.py
  core/domain/interaction_registry_test.py
  core/domain/question_jobs_one_off_test.py
  core/domain/recommendations_services_test.py
  core/domain/rights_manager_test.py
  core/domain/search_services_test.py
  core/domain/skill_jobs_one_off_test.py
  core/domain/stats_services_test.py
  core/domain/story_jobs_one_off_test.py
  core/domain/summary_services_test.py
  core/domain/topic_jobs_one_off_test.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_query_jobs_one_off.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/platform/users/gae_current_user_services.py
  core/platform/users/gae_current_user_services_test.py
  core/storage/user/gae_models.py
  core/tests/test_utils.py
  feconf.py
Labels: CHANGELOG: Bug fixes, PR: for current release

#7785 Fix #7784: Add type as a second parameter when contructing a blob
  core/templates/dev/head/services/assets-backend-api.service.spec.ts
  core/templates/dev/head/services/assets-backend-api.service.ts
Labels: CHANGELOG: Bug fixes, server errors

#7888 Fix part of #6240: Add e2e tests for testing navigation buttons in an exploration
  core/templates/dev/head/pages/exploration-player-page/layout-directives/progress-nav.directive.html
  core/tests/protractor_desktop/profileFeatures.js
  core/tests/protractor_utils/workflow.js
Labels: CHANGELOG: Testing coverage, PROJECT: QA team -- @nithusha21

#7952 Fix #6158: Log for interpolate url issue
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.directive.ts
Labels: CHANGELOG: Bug fixes, server errors

#7944 Upgrades NumberWithUnits related services to Angular
  core/templates/dev/head/domain/objects/NumberWithUnitsObjectFactory.ts
  core/templates/dev/head/domain/objects/NumberWithUnitsObjectFactorySpec.ts
  core/templates/dev/head/services/UpgradedServices.ts
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.directive.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-rules.service.spec.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-rules.service.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.spec.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.directive.ts
  extensions/interactions/rules.spec.ts
Labels: CHANGELOG: Development workflow

#7953 Fix skulpt install
  .travis.yml
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7978 Fix #6988: Remove fonts directory
  manifest.json
  scripts/build.py
Labels: CHANGELOG: Development workflow, PR: LGTM, PROJECT: Speed improvements -- @vojtechjelinek

#7942 Fix part of #5914: Add testing for nonexistent users in export_data
  core/storage/collection/gae_models_test.py
  core/storage/email/gae_models_test.py
  core/storage/exploration/gae_models_test.py
  core/storage/user/gae_models_test.py
Labels: CHANGELOG: New structures

#7929 Fix #7868: Added lint check for a newline above args in python doc string
  scripts/pylint_extensions.py
  scripts/pylint_extensions_test.py
Labels: CHANGELOG: Development workflow, PR: LGTM, PROJECT: Developer experience -- @kevinlee12

#7979 Resolve comments from PR 7953
  scripts/install_third_party_libs_test.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7948 Fix part of #7427: Addresses docstring issues in one of the files (prod_validation_jobs_one_off.py)
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7917 Fix #7849: Add background color when hovering over sign-button
  core/templates/dev/head/css/oppia.css
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#7997 Fix #7963: Adds margin for logic proof help lines
  extensions/interactions/LogicProof/directives/logic-proof-help-modal.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#7998 Rename gae_user_id to gae_id
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/storage/user/gae_models.py
Labels: CHANGELOG: Infrastructural changes, PR: for current release, PROJECT: Data handling -- @seanlip

#7940 Fixes 7939: Admin navbar misplaced fix
  core/templates/dev/head/pages/admin-page/navbar/admin-navbar.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#7986 Fix #7983: Minor CSS fixes
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.directive.html
  core/templates/dev/head/pages/story-editor-page/navbar/story-editor-navbar.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#7901 Fix Part of #6240: Subtopic Editor Drag and Drop Skills E2E Test
  core/templates/dev/head/pages/topic-editor-page/subtopics-list-tab/subtopics-list-tab.directive.html
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_utils/TopicEditorPage.js
  package.json
  yarn.lock
Labels: CHANGELOG: Testing coverage, PROJECT: QA team -- @nithusha21

#7945 Migration angular services: changes in human readable
  core/templates/dev/head/pages/exploration-editor-page/services/changes-in-human-readable-form.service.ts
  core/templates/dev/head/pages/exploration-editor-page/services/editor-first-time-events.service.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-diff.service.ts
  core/templates/dev/head/pages/interaction-specs.constants.ajs.ts
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/id-generation.service.spec.ts
  core/templates/dev/head/services/id-generation.service.ts
  core/templates/dev/head/services/site-analytics.service.ts
  typings/custom-window-defs.d.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8001 Fix #7967: ensure chapter editor validation failures are not cut off on right
  core/templates/dev/head/pages/story-editor-page/navbar/story-editor-navbar.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#8006 Resolve yarn audit
  package.json
  yarn.lock
Labels: CHANGELOG: Development workflow, PR: for current release, PROJECT: Developer experience -- @kevinlee12

#8011 Fix #7975: 'this' was out of scope in SidebarStatusService
  core/templates/dev/head/base-components/base-content.directive.ts
  core/templates/dev/head/pages/Base.ts
Labels: CHANGELOG: Bug fixes, PROJECT: Bug fixing team -- @nithusha21

#8017 Fix #7976: Changes to display the avatar of a different user
  core/templates/dev/head/pages/profile-page/profile-page.directive.html
Labels: CHANGELOG: Bug fixes, PROJECT: QA team -- @nithusha21

#8012 Add more explanation to the top of the run_backend_tests script.
  scripts/run_backend_tests.py
Labels: CHANGELOG: Development workflow, PR: LGTM, PROJECT: Developer experience -- @kevinlee12

#7999 Fix #7968: Adds missing language code in the exploration opportunity domain object
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
Labels: CHANGELOG: Community contribution and dashboard, PR: for current release

#8010 Fix #7124: add css to preferences-bio textarea
  core/templates/dev/head/pages/preferences-page/preferences-page.directive.html
Labels: CHANGELOG: Bug fixes

#7996 Fix #7960, #7995: Fix date, publish button
  core/templates/dev/head/pages/collection-editor-page/navbar/collection-editor-navbar.directive.html
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/date-time-format.service.spec.ts
  core/templates/dev/head/services/date-time-format.service.ts
  scripts/typescript_checks.py
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#8003 Fix #8002: Unused skills table text overflow fix
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
Labels: CHANGELOG: Bug fixes, PROJECT: Overall learner experience -- @aks681

#7904 Fix #7691: Card Basic Setting Alignment Fixed
  core/templates/dev/head/pages/exploration-editor-page/settings-tab/settings-tab.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#8033 Fix #8032: Truncate skill name to 35 characters for display
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.directive.html
  core/templates/dev/head/pages/skill-editor-page/navbar/skill-editor-navbar-breadcrumb.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.template.html
Labels: CHANGELOG: New structures, PR: for current release

#7857 Services required for voiceover application
  .github/CODEOWNERS
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/fs_domain.py
  core/domain/opportunity_services.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/role_services.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/voiceover_services.py
  core/domain/voiceover_services_test.py
  core/storage/email/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  feconf.py
  utils.py
  utils_test.py
Labels: CHANGELOG: Community contribution and dashboard

#7985 Fixes #7430: Added a directive to prevent title overflow from the exploration info box
  core/templates/dev/head/pages/exploration-player-page/layout-directives/learner-view-info.directive.ts
  core/templates/dev/head/pages/exploration-player-page/templates/information-card-modal.directive.html
Labels: CHANGELOG: Improvements to editors and players, PROJECT: Bug fixing team -- @nithusha21

#7972 Fixes part of #7450: removes all calls to user_services._save_user_settings from user_services_test.py
  core/domain/user_services_test.py
  core/tests/test_utils.py
Labels: CHANGELOG: Testing coverage, PROJECT: QA team -- @nithusha21

#8034 Fixes part of #5939: Custom pylint extension for checking division operator
  scripts/pre_commit_linter.py
  scripts/pylint_extensions.py
  scripts/pylint_extensions_test.py
Labels: CHANGELOG: Development workflow, PR: LGTM, PROJECT: Developer experience -- @kevinlee12

#8042 Empty rubric explanation allowed with placeholder
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/templates/dev/head/components/rubrics-editor/rubrics-editor.directive.html
  core/templates/dev/head/components/rubrics-editor/rubrics-editor.directive.ts
  core/templates/dev/head/pages/topic-editor-page/modal-templates/select-skill-and-difficulty-modal.template.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
Labels: CHANGELOG: New structures, PR: LGTM

#7971 Fixes (partially): oppia can not not run on Windows
  .gitignore
  core/tests/test_utils.py
  scripts/build.py
  scripts/common.py
  scripts/common_test.py
  scripts/deploy_test.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/pre_commit_hook.py
  scripts/pre_commit_hook_test.py
  scripts/pre_commit_linter.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  scripts/run_backend_tests.py
  scripts/run_frontend_tests.py
  scripts/setup.py
  scripts/setup_test.py
  scripts/start.py
  scripts/typescript_checks_test.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8050 Fix ordering in UpgradedServices file
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Bug fixes, PROJECT: Bug fixing team -- @nithusha21

#7760 Fix #6546: Preserve GIF Animation on resize and crop
  core/templates/dev/head/components/forms/custom-forms-directives/image-uploader.directive.ts
  extensions/objects/templates/filepath-editor.directive.ts
  package.json
  yarn.lock
Labels: CHANGELOG: Bug fixes, PROJECT: Overall learner experience -- @aks681

#7922 Fixes part of #6240: e2e tests for chapter create, edit, and delete
  core/templates/dev/head/base-components/warning-loader.directive.html
  core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/dev/head/components/skill-selector/skill-selector.directive.html
  core/templates/dev/head/domain/story/story-update.service.ts
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/dev/head/pages/story-editor-page/modal-templates/select-skill-modal.template.html
  core/templates/dev/head/pages/story-editor-page/navbar/story-editor-navbar.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topic-selector/topic-selector.directive.html
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_utils/ExplorationEditorPage.js
  core/tests/protractor_utils/StoryEditorPage.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  core/tests/protractor_utils/users.js
  core/tests/protractor_utils/workflow.js
Labels: CHANGELOG: Code health, PROJECT: QA team -- @nithusha21

#8051 Fix #8024: Decrease 'min-width' of feedback editor
  core/templates/dev/head/components/question-directives/question-editor/question-editor.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#8056 Resolves audit issues
  yarn.lock
Labels: CHANGELOG: Development workflow, PR: for current release, PROJECT: Developer experience -- @kevinlee12

#8044 Fix #7973: Fixes tutorial, navbar for small screens
  core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/exploration-editor-page/editor-navigation/editor-navigation.directive.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#8026 Fix #7974: Fix Lateral Scroll Bug on Learner Dashboard Mobile
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#8036 Wipeout 2.9: Check snapshot content models when looking for user_id
  core/storage/base_model/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/skill/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
Labels: CHANGELOG: Infrastructural changes, PROJECT: Data handling -- @seanlip

#8004 Add editable linked skills list to question editor
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/questions_list.py
  core/controllers/questions_list_test.py
  core/controllers/skill_editor.py
  core/controllers/topic_editor.py
  core/domain/skill_services.py
  core/templates/dev/head/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/components/skill-selector/select-skill-modal.template.html
  core/templates/dev/head/domain/question/QuestionSummaryForOneSkillObjectFactory.ts
  core/templates/dev/head/domain/question/QuestionSummaryForOneSkillObjectFactorySpec.ts
  core/templates/dev/head/domain/question/QuestionSummaryObjectFactory.ts
  core/templates/dev/head/domain/question/QuestionSummaryObjectFactorySpec.ts
  core/templates/dev/head/domain/question/editable-question-backend-api.service.ts
  core/templates/dev/head/domain/question/question-domain.constants.ts
  core/templates/dev/head/domain/topic/editable-topic-backend-api.service.spec.ts
  core/templates/dev/head/domain/topic/editable-topic-backend-api.service.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.ts
  core/templates/dev/head/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.html
  core/templates/dev/head/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.ts
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/dev/head/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.html
  core/templates/dev/head/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.ts
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/templates/merge-skill-modal.template.html
  core/templates/dev/head/services/questions-list.service.ts
  core/tests/protractor_utils/StoryEditorPage.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  main.py
Labels: CHANGELOG: New structures

#8054 Fix #8048: Fix refresher modal on small screens
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/exploration-player-page/templates/refresher-exploration-confirmation-modal.template.html
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#8045 Allow question linkage to skills outside topic during creation
  core/controllers/topic_editor.py
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.ts
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/dev/head/pages/topic-editor-page/modal-templates/select-skill-and-difficulty-modal.template.html
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.ts
Labels: CHANGELOG: New structures

#7602 Fix part of #6776: Frontend changes for listing skill opportunities on the Community Dashboard page.
  assets/constants.ts
  core/controllers/community_dashboard.py
  core/controllers/community_dashboard_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/opportunity_jobs_one_off_test.py
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/domain/topic_fetchers.py
  core/domain/topic_fetchers_test.py
  core/domain/voiceover_services.py
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.controller.ts
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.directive.html
  core/templates/dev/head/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.html
  core/templates/dev/head/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.ts
  core/templates/dev/head/pages/community-dashboard-page/services/contribution-and-review.services.ts
  core/templates/dev/head/pages/community-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/dev/head/pages/community-dashboard-page/services/contribution-opportunities.service.ts
  index.yaml
Labels: CHANGELOG: Community contribution and dashboard, PROJECT: Overall learner experience -- @aks681

#8062 Change ALL_LANGUAGE_CODES to SUPPORTED_CONTENT_LANGUAGES
  assets/constants.ts
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/subtopic_page_domain.py
  core/storage/user/gae_models.py
  core/templates/dev/head/domain/utilities/language-util.service.spec.ts
  core/templates/dev/head/domain/utilities/language-util.service.ts
  core/templates/dev/head/pages/collection-editor-page/settings-tab/collection-details-editor.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/modal-templates/exploration-metadata-modal.template.html
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-language-code.service.ts
  core/templates/dev/head/pages/exploration-editor-page/settings-tab/settings-tab.directive.html
  core/templates/dev/head/pages/library-page/search-bar/search-bar.directive.ts
  core/tests/build_sources/assets/constants.js
  utils.py
Labels: CHANGELOG: Code health, PR: LGTM

#7644 Fix part of #5914: Takeout Service
  .github/CODEOWNERS
  core/domain/takeout_service.py
  core/domain/takeout_service_test.py
Labels: CHANGELOG: New structures, PR: LGTM

#8058 Fix #8046: create command line flag for no automatic restart
  scripts/start.py
Labels: CHANGELOG: Development workflow

#8065 Fix small error in pre-commit hook to prevent .pyc file from being copied.
  scripts/pre_commit_hook.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8063 Fix #7994: Add frontend SkillOpportunity and ExplorationOpportunity object class
  .github/CODEOWNERS
  core/templates/dev/head/domain/opportunity/ExplorationOpportunitySummaryObjectFactory.ts
  core/templates/dev/head/domain/opportunity/ExplorationOpportunitySummaryObjectFactorySpec.ts
  core/templates/dev/head/domain/opportunity/SkillOpportunityObjectFactory.ts
  core/templates/dev/head/domain/opportunity/SkillOpportunityObjectFactorySpec.ts
  core/templates/dev/head/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.ts
  core/templates/dev/head/pages/community-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/dev/head/pages/community-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/dev/head/pages/community-dashboard-page/translation-opportunities/translation-opportunities.directive.ts
  core/templates/dev/head/pages/community-dashboard-page/voiceover-opportunities/voiceover-opportunities.directive.ts
Labels: CHANGELOG: Community contribution and dashboard

#8070 Update authors and changelog for v2.8.7
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/dev/head/pages/about-page/about-page.directive.html
Labels: PR: for current release

#8075 Fix #8068: Fix no-message in lint error for bad patterns issue.
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Development workflow, PR: LGTM, PROJECT: Developer experience -- @kevinlee12, critical

#7702 Fix part of #7643: Replace templateUrl with template in splash page
  core/templates/dev/head/I18nFooter.ts
  core/templates/dev/head/base-components/base-content.directive.ts
  core/templates/dev/head/base-components/warning-loader.directive.ts
  core/templates/dev/head/components/button-directives/create-activity-button.directive.ts
  core/templates/dev/head/components/button-directives/social-buttons.directive.ts
  core/templates/dev/head/components/common-layout-directives/common-elements/promo-bar.directive.ts
  core/templates/dev/head/components/common-layout-directives/navigation-bars/side-navigation-bar.directive.ts
  core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/dev/head/pages/OppiaFooterDirective.ts
  core/templates/dev/head/pages/splash-page/splash-page.controller.ts
  package.json
  yarn.lock
Labels: CHANGELOG: Updates to static pages

#7819 Fix part of #7471: Backend changes for question suggestion integration
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/opportunity_services.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  main.py
Labels: CHANGELOG: Community contribution and dashboard, PROJECT: Overall learner experience -- @aks681

#8022 Wipeout 4.1: Implement part of frontend wipeout
  .github/CODEOWNERS
  assets/constants.ts
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/templates/dev/head/pages/delete-account-page/delete-account-page.controller.ts
  core/templates/dev/head/pages/delete-account-page/delete-account-page.directive.html
  core/templates/dev/head/pages/delete-account-page/delete-account-page.mainpage.html
  core/templates/dev/head/pages/delete-account-page/delete-account-page.module.ts
  core/templates/dev/head/pages/delete-account-page/delete-account-page.scripts.ts
  core/templates/dev/head/pages/delete-account-page/templates/delete-account-modal.template.html
  core/templates/dev/head/pages/preferences-page/preferences-page.controller.ts
  core/templates/dev/head/pages/preferences-page/preferences-page.directive.html
  feconf.py
  main.py
  webpack.common.config.ts
Labels: CHANGELOG: Updates to static pages, PROJECT: Data handling -- @seanlip

#8087 Revert "Fixes (partially): oppia can not not run on Windows (#7971)"
  .gitignore
  core/tests/test_utils.py
  scripts/build.py
  scripts/common.py
  scripts/common_test.py
  scripts/deploy_test.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/pre_commit_hook.py
  scripts/pre_commit_hook_test.py
  scripts/pre_commit_linter.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  scripts/run_backend_tests.py
  scripts/run_frontend_tests.py
  scripts/setup.py
  scripts/setup_test.py
  scripts/start.py
  scripts/typescript_checks_test.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8064 Upgrades UrlInterpolationService to Angular
  core/templates/dev/head/components/button-directives/social-buttons.directive.ts
  core/templates/dev/head/components/common-layout-directives/navigation-bars/side-navigation-bar.directive.ts
  core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/dev/head/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/dev/head/components/summary-tile/collection-summary-tile.directive.ts
  core/templates/dev/head/components/summary-tile/story-summary-tile.directive.ts
  core/templates/dev/head/components/summary-tile/subtopic-summary-tile.directive.ts
  core/templates/dev/head/components/summary-tile/topic-summary-tile.directive.ts
  core/templates/dev/head/domain/utilities/url-interpolation.service.spec.ts
  core/templates/dev/head/domain/utilities/url-interpolation.service.ts
  core/templates/dev/head/pages/about-page/about-page.controller.ts
  core/templates/dev/head/pages/collection-player-page/collection-footer/collection-footer.directive.ts
  core/templates/dev/head/pages/collection-player-page/collection-player-page.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/exploration-footer.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/learner-view-info.directive.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/dev/head/pages/landing-pages/stewards-landing-page/stewards-landing-page.controller.ts
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.controller.ts
  core/templates/dev/head/pages/maintenance-page/maintenance-page.controller.ts
  core/templates/dev/head/pages/preferences-page/preferences-page.controller.ts
  core/templates/dev/head/pages/splash-page/splash-page.controller.ts
  core/templates/dev/head/pages/story-viewer-page/chapters-list/story-viewer-chapters-list.directive.ts
  core/templates/dev/head/pages/teach-page/teach-page.controller.ts
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/alerts.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#7989 Upgrades Validator, ImprovementDisplay, ExplorationHTMLFormatter, SolutionObjectFactory and InteractionObjectFactory to Angular
  core/templates/dev/head/domain/exploration/InteractionObjectFactory.ts
  core/templates/dev/head/domain/exploration/InteractionObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/SolutionObjectFactory.ts
  core/templates/dev/head/domain/exploration/SolutionObjectFactorySpec.ts
  core/templates/dev/head/domain/objects/NumberWithUnitsObjectFactory.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/improvements-tab.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/services/improvements-display.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/services/improvements-display.service.ts
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/exploration-html-formatter.service.spec.ts
  core/templates/dev/head/services/exploration-html-formatter.service.ts
  core/templates/dev/head/services/validators.service.spec.ts
  core/templates/dev/head/services/validators.service.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#8084 Fix date formatting
  core/templates/dev/head/services/date-time-format.service.spec.ts
  core/templates/dev/head/services/date-time-format.service.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#8066 Fixes part of #5939: Custom pylint extension to ensure that comments follow correct format.
  core/domain/user_jobs_one_off_test.py
  scripts/pre_commit_linter.py
  scripts/pre_push_hook.py
  scripts/pylint_extensions.py
  scripts/pylint_extensions_test.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#8069 Adds log for #6921 to track sequence of steps
  .github/CODEOWNERS
  core/templates/dev/head/pages/exploration-editor-page/preview-tab/preview-tab.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/services/router.service.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/dev/head/pages/exploration-player-page/services/current-interaction.service.ts
  core/templates/dev/head/services/debug-info-tracker.service.spec.ts
  core/templates/dev/head/services/debug-info-tracker.service.ts
Labels: CHANGELOG: Bug fixes, PR: LGTM, server errors

#8093 Upgrades StateObjectFactory and StatesObjectFactory to Angular
  core/templates/dev/head/domain/exploration/StatesObjectFactory.ts
  core/templates/dev/head/domain/exploration/StatesObjectFactorySpec.ts
  core/templates/dev/head/domain/state/StateObjectFactory.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Development workflow

#8095 Upgrades TextInputRules, TextInputValidation and PencilCodeEditorRule Service to Angular
  .github/CODEOWNERS
  core/templates/dev/head/pages/interaction-specs.constants.ts
  core/templates/dev/head/services/UpgradedServices.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-rules.service.spec.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-rules.service.ts
  extensions/interactions/TextInput/directives/text-input-rules.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-rules.service.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.ts
Labels: CHANGELOG: Development workflow

#8086 Adds Ga and Akan languages in supported audio langauge list
  assets/constants.ts
Labels: CHANGELOG: Translations

#8078 Fix #6847: Use absolute path to require html files
  .github/CODEOWNERS
  core/templates/dev/head/base-components/header.template.html
  core/templates/dev/head/pages/about-page/about-page.mainpage.html
  core/templates/dev/head/pages/admin-page/admin-page.mainpage.html
  core/templates/dev/head/pages/classroom-page/classroom-page.mainpage.html
  core/templates/dev/head/pages/collection-editor-page/collection-editor-page.mainpage.html
  core/templates/dev/head/pages/collection-player-page/collection-player-page.mainpage.html
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.mainpage.html
  core/templates/dev/head/pages/contact-page/contact-page.mainpage.html
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.mainpage.html
  core/templates/dev/head/pages/donate-page/donate-page.mainpage.html
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.mainpage.html
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-result.mainpage.html
  core/templates/dev/head/pages/error-pages/error-iframed.mainpage.html
  core/templates/dev/head/pages/error-pages/error-page.mainpage.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/dev/head/pages/get-started-page/get-started-page.mainpage.html
  core/templates/dev/head/pages/landing-pages/stewards-landing-page/stewards-landing-page.mainpage.html
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.mainpage.html
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.mainpage.html
  core/templates/dev/head/pages/library-page/library-page.mainpage.html
  core/templates/dev/head/pages/maintenance-page/maintenance-page.mainpage.html
  core/templates/dev/head/pages/moderator-page/moderator-page.mainpage.html
  core/templates/dev/head/pages/notifications-dashboard-page/notifications-dashboard-page.mainpage.html
  core/templates/dev/head/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/dev/head/pages/preferences-page/preferences-page.mainpage.html
  core/templates/dev/head/pages/privacy-page/privacy-page.mainpage.html
  core/templates/dev/head/pages/profile-page/profile-page.mainpage.html
  core/templates/dev/head/pages/review-test-page/review-test-page.mainpage.html
  core/templates/dev/head/pages/signup-page/signup-page.mainpage.html
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.mainpage.html
  core/templates/dev/head/pages/splash-page/splash-page.mainpage.html
  core/templates/dev/head/pages/story-editor-page/story-editor-page.mainpage.html
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.mainpage.html
  core/templates/dev/head/pages/subtopic-viewer-page/subtopic-viewer-page.mainpage.html
  core/templates/dev/head/pages/teach-page/teach-page.mainpage.html
  core/templates/dev/head/pages/terms-page/terms-page.mainpage.html
  core/templates/dev/head/pages/thanks-page/thanks-page.mainpage.html
  core/templates/dev/head/pages/topic-editor-page/topic-editor-page.mainpage.html
  core/templates/dev/head/pages/topic-viewer-page/topic-viewer-page.mainpage.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.mainpage.html
  core/templates/dev/head/tests/console_errors.html
  core/tests/build_sources/templates/base.html
  extensions/interactions/dependency_html.html
  package.json
  webpack.common.config.ts
  webpack.common.macros.ts
Labels: CHANGELOG: Code health
