Repository oppia/oppia, pull requests merged in 2019-06, with the labels that each got.

#6826 Fix 500 error when downloading old exploration versions.
  core/controllers/editor.py
  core/controllers/editor_test.py
Labels: CHANGELOG: Bug fixes

#6803 Upgrades uiSortable and jQuery
  assets/scripts/embedding_tests_dev_0.0.1.min.html
  assets/scripts/embedding_tests_dev_0.0.2.min.html
  assets/scripts/embedding_tests_dev_i18n_0.0.1.html
  core/templates/dev/head/pages/header_js_libs.html
  core/tests/karma.conf.ts
  manifest.json
  package-lock.json
Labels: CHANGELOG: Code health

#6710 Fix part of #6550: Write backend tests for skill_jobs_one_off, story_jobs_one_off, user_query_jobs_one_off , value_generators_domain, and visualization_registry
  core/domain/skill_jobs_one_off_test.py
  core/domain/story_jobs_one_off_test.py
  core/domain/user_query_jobs_one_off_test.py
  core/domain/value_generators_domain.py
  core/domain/value_generators_domain_test.py
  core/domain/visualization_registry.py
  core/domain/visualization_registry_test.py
  core/tests/build_sources/__init__.py
  core/tests/build_sources/extensions/__init__.py
  core/tests/gae_suite.py
  extensions/actions/AnswerSubmit/__init__.py
  extensions/actions/ExplorationQuit/__init__.py
  extensions/actions/ExplorationStart/__init__.py
  extensions/interactions/CodeRepl/__init__.py
  extensions/interactions/Continue/__init__.py
  extensions/interactions/DragAndDropSortInput/__init__.py
  extensions/interactions/EndExploration/__init__.py
  extensions/interactions/FractionInput/__init__.py
  extensions/interactions/GraphInput/__init__.py
  extensions/interactions/ImageClickInput/__init__.py
  extensions/interactions/InteractiveMap/__init__.py
  extensions/interactions/ItemSelectionInput/__init__.py
  extensions/interactions/LogicProof/__init__.py
  extensions/interactions/MathExpressionInput/__init__.py
  extensions/interactions/MultipleChoiceInput/__init__.py
  extensions/interactions/MusicNotesInput/__init__.py
  extensions/interactions/NumberWithUnits/__init__.py
  extensions/interactions/NumericInput/__init__.py
  extensions/interactions/PencilCodeEditor/__init__.py
  extensions/interactions/SetInput/__init__.py
  extensions/interactions/TextInput/__init__.py
  extensions/interactions/base_test.py
  extensions/issues/CyclicStateTransitions/__init__.py
  extensions/issues/EarlyQuit/__init__.py
  extensions/issues/MultipleIncorrectSubmissions/__init__.py
  extensions/value_generators/models/generators_test.py
Labels: CHANGELOG: Testing coverage

#6819 Fix part of #6550: Write tests for collection_domain
  core/domain/collection_domain.py
  core/domain/collection_domain_test.py
Labels: CHANGELOG: Testing coverage

#6828 Fix part of #4057: Add unit tests for lookupEnvs method of ExpressionSyntaxTreeService.ts
  core/templates/dev/head/expressions/ExpressionSyntaxTreeService.ts
  core/templates/dev/head/expressions/ExpressionSyntaxTreeServiceSpec.ts
Labels: CHANGELOG: Testing coverage, PR: LGTM

#6820 Fix #6806: Regressions in the Oppia navbars
  core/templates/dev/head/components/top_navigation_bar/TopNavigationBarDirective.ts
  core/templates/dev/head/css/oppia.css
Labels: CHANGELOG: Bug fixes

#6802 Fix part of #6550: Write tests for classifier, collection, email, feedback and user storage gae_models
  core/storage/classifier/gae_models_test.py
  core/storage/collection/gae_models_test.py
  core/storage/email/gae_models_test.py
  core/storage/feedback/gae_models_test.py
  core/storage/user/gae_models_test.py
Labels: CHANGELOG: Testing coverage, PR: LGTM

#6813 Score Ring component for the results page in practice sessions
  .github/CODEOWNERS
  core/templates/dev/head/components/score_ring/ScoreRingDirective.ts
  core/templates/dev/head/components/score_ring/score_ring_directive.html
Labels: CHANGELOG: New structures

#6837 Reduce the time for a PR to be classified as stale
  .github/stale.yml
Labels: CHANGELOG: Development workflow

#6836 Fix #6832: Fix issues with ctrl and $scope
  extensions/interactions/CodeRepl/directives/OppiaInteractiveCodeReplDirective.ts
  extensions/interactions/ImageClickInput/directives/OppiaInteractiveImageClickInputDirective.ts
  extensions/interactions/LogicProof/directives/OppiaInteractiveLogicProofDirective.ts
  extensions/objects/templates/ImageWithRegionsEditorDirective.ts
Labels: CHANGELOG: Bug fixes

#6840 Convert standalone controllers in LibraryFooter and ExplorationGraph to component directives
  .github/CODEOWNERS
  core/templates/dev/head/pages/OppiaFooterDirective.ts
  core/templates/dev/head/pages/about/About.ts
  core/templates/dev/head/pages/about/about.html
  core/templates/dev/head/pages/contact/Contact.ts
  core/templates/dev/head/pages/contact/contact.html
  core/templates/dev/head/pages/donate/Donate.ts
  core/templates/dev/head/pages/donate/donate.html
  core/templates/dev/head/pages/error/Error.ts
  core/templates/dev/head/pages/error/error.html
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.ts
  core/templates/dev/head/pages/exploration_editor/editor_tab/ExplorationGraph.ts
  core/templates/dev/head/pages/exploration_editor/editor_tab/ExplorationGraphDirective.ts
  core/templates/dev/head/pages/exploration_editor/editor_tab/editor_tab.html
  core/templates/dev/head/pages/exploration_editor/editor_tab/exploration_graph.html
  core/templates/dev/head/pages/exploration_editor/editor_tab/exploration_graph_directive.html
  core/templates/dev/head/pages/get_started/GetStarted.ts
  core/templates/dev/head/pages/get_started/get_started.html
  core/templates/dev/head/pages/library/Library.ts
  core/templates/dev/head/pages/library/LibraryFooterDirective.ts
  core/templates/dev/head/pages/library/library.html
  core/templates/dev/head/pages/library/library_footer_directive.html
  core/templates/dev/head/pages/oppia_footer_directive.html
  core/templates/dev/head/pages/preferences/Preferences.ts
  core/templates/dev/head/pages/preferences/preferences.html
  core/templates/dev/head/pages/privacy/privacy.html
  core/templates/dev/head/pages/profile/Profile.ts
  core/templates/dev/head/pages/profile/profile.html
  core/templates/dev/head/pages/splash/Splash.ts
  core/templates/dev/head/pages/splash/splash.html
  core/templates/dev/head/pages/splash/splash_at0.html
  core/templates/dev/head/pages/splash/splash_at1.html
  core/templates/dev/head/pages/teach/Teach.ts
  core/templates/dev/head/pages/teach/teach.html
  core/templates/dev/head/pages/terms/terms.html
  core/templates/dev/head/pages/thanks/Thanks.ts
  core/templates/dev/head/pages/thanks/thanks.html
Labels: CHANGELOG: Infrastructural changes

#6811 Fix part of #6550: Write tests for storage base_model, statistics and pages.py
  core/controllers/pages.py
  core/controllers/pages_test.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/statistics/gae_models_test.py
Labels: CHANGELOG: Testing coverage

#6839 Fix part of #6550: Write tests for domain/collection_services
  core/domain/collection_services.py
  core/domain/collection_services_test.py
Labels: CHANGELOG: Testing coverage

#6848 Fix a bug in the Question Player Directive
  core/templates/dev/head/pages/question_player/QuestionPlayerDirective.ts
Labels: CHANGELOG: New structures

#6835 Remove {{BEFORE_END_HEAD_TAG_HOOK}} from Base.html
  core/controllers/admin_test.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/domain/config_domain.py
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/header_js_libs.html
  feconf.py
  main.py
Labels: CHANGELOG: Code health, PR: LGTM

#6852 Fix #6851: Revert "Remove {{BEFORE_END_HEAD_TAG_HOOK}} from Base.html (#6835)"
  core/controllers/admin_test.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/domain/config_domain.py
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/header_js_libs.html
  feconf.py
  main.py
Labels: CHANGELOG: Bug fixes

#6856 Convert Learner Local Nav and Leaner Local Info in ExplorationPlayer to component directives.
  core/templates/dev/head/pages/exploration_player/ExplorationPlayer.ts
  core/templates/dev/head/pages/exploration_player/LearnerLocalNav.ts
  core/templates/dev/head/pages/exploration_player/LearnerLocalNavDirective.ts
  core/templates/dev/head/pages/exploration_player/LearnerViewInfo.ts
  core/templates/dev/head/pages/exploration_player/LearnerViewInfoDirective.ts
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/pages/exploration_player/learner_local_nav_directive.html
  core/templates/dev/head/pages/exploration_player/learner_view_info_directive.html
  core/templates/dev/head/pages/question_player/QuestionPlayerDirective.ts
Labels: CHANGELOG: Infrastructural changes

#6858 Eliminate editor_tab.html to merge into exploration_editor_tab.html
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.ts
  core/templates/dev/head/pages/exploration_editor/editor_tab/ExplorationEditorTabDirective.ts
  core/templates/dev/head/pages/exploration_editor/editor_tab/editor_tab.html
  core/templates/dev/head/pages/exploration_editor/editor_tab/exploration_editor_tab_directive.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_editor/feedback_tab/FeedbackTabDirective.ts
  core/templates/dev/head/pages/exploration_editor/history_tab/HistoryTabDirective.ts
  core/templates/dev/head/pages/exploration_editor/improvements_tab/ImprovementsTabDirective.ts
  core/templates/dev/head/pages/exploration_editor/preview_tab/PreviewTabDirective.ts
  core/templates/dev/head/pages/exploration_editor/settings_tab/SettingsTabDirective.ts
  core/templates/dev/head/pages/exploration_editor/statistics_tab/StatisticsTabDirective.ts
Labels: CHANGELOG: Infrastructural changes

#6719 Remove exploration from subscribers when it's deleted
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/user_jobs_continuous_test.py
  core/domain/user_jobs_one_off_test.py
Labels: PR: LGTM

#6809 Fixes #6298: Adds a condition to check length of input response pairs
  core/templates/dev/head/domain/state_card/StateCardObjectFactory.ts
  core/templates/dev/head/domain/state_card/StateCardObjectFactorySpec.ts
Labels: PR: LGTM

#6783 Generalized image storage
  core/controllers/editor.py
  core/controllers/resources.py
  core/controllers/voice_artist.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/fs_domain.py
  core/domain/fs_domain_test.py
  core/domain/fs_services.py
  core/domain/fs_services_test.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/jobs_registry.py
  core/storage/file/gae_models.py
  core/storage/file/gae_models_test.py
  main.py
Labels: CHANGELOG: Infrastructural changes, PR: LGTM, PR: for current release

#6830 Fix #6737: Remove state id mapping from the codebase
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/exploration/gae_models.py
  core/tests/test_utils.py
Labels: PR: for current release

#6831 Fix part of #6550: Write tests for domain/classifier_domain and domain/event_services
  core/domain/classifier_domain.py
  core/domain/classifier_domain_test.py
  core/domain/event_services.py
  core/domain/event_services_test.py
Labels: CHANGELOG: Testing coverage

#6859 Eliminate controller files for suggestion modals
  core/templates/dev/head/pages/creator_dashboard/CreatorDashboard.ts
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.ts
  core/templates/dev/head/pages/exploration_editor/feedback_tab/FeedbackTabDirective.ts
  core/templates/dev/head/pages/exploration_player/LearnerLocalNavDirective.ts
  core/templates/dev/head/pages/learner_dashboard/LearnerDashboard.ts
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForCreatorView.ts
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForEditorView.ts
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForLearnerLocalView.ts
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForLearnerView.ts
  core/templates/dev/head/pages/suggestion_editor/SuggestionModalForCreatorDashboardService.ts
  core/templates/dev/head/pages/suggestion_editor/SuggestionModalForExplorationEditorService.ts
  core/templates/dev/head/pages/suggestion_editor/SuggestionModalForExplorationPlayerService.ts
  core/templates/dev/head/pages/suggestion_editor/SuggestionModalForLearnerDashboardService.ts
  core/templates/dev/head/pages/suggestion_editor/creator_dashboard_suggestion_modal_directive.html
  core/templates/dev/head/pages/suggestion_editor/exploration_editor_suggestion_modal_directive.html
  core/templates/dev/head/pages/suggestion_editor/exploration_player_suggestion_modal_directive.html
  core/templates/dev/head/pages/suggestion_editor/learner_dashboard_suggestion_modal_directive.html
Labels: CHANGELOG: Infrastructural changes

#6788 Fix part of #6550: Write tests for gae_image_services and replaced PIL with Pillow
  appengine_config.py
  core/domain/exp_services_test.py
  core/domain/fs_domain.py
  core/platform/image/gae_image_services.py
  core/tests/gae_suite.py
  core/tests/test_utils.py
  scripts/install_third_party.sh
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Testing coverage

#6875 Fix backend tests on develop
  core/domain/exp_services_test.py
Labels: PR: LGTM, important

#6741 Fix part of #6550: Write tests for collection_viewer and translator
  core/controllers/collection_viewer.py
  core/controllers/resources_test.py
  core/controllers/voice_artist.py
  core/controllers/voice_artist_test.py
  core/tests/data/cafe.flac
Labels: CHANGELOG: Testing coverage

#6878 Fix backend tests on develop
  core/controllers/resources_test.py
Labels: important

#6870 Apply folders by feature to components/forms/validators/ and split tests.
  core/templates/dev/head/components/forms/custom-forms-directives/apply-validation.directive.spec.ts
  core/templates/dev/head/components/forms/custom-forms-directives/require-is-float.directive.spec.ts
  core/templates/dev/head/components/forms/custom-forms-directives/require-is-float.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-float-editor.directive.ts
  core/templates/dev/head/components/forms/validators/is-at-least.filter.spec.ts
  core/templates/dev/head/components/forms/validators/is-at-least.filter.ts
  core/templates/dev/head/components/forms/validators/is-at-most.filter.spec.ts
  core/templates/dev/head/components/forms/validators/is-at-most.filter.ts
  core/templates/dev/head/components/forms/validators/is-float.filter.spec.ts
  core/templates/dev/head/components/forms/validators/is-float.filter.ts
  core/templates/dev/head/components/forms/validators/is-integer.filter.spec.ts
  core/templates/dev/head/components/forms/validators/is-integer.filter.ts
  core/templates/dev/head/components/forms/validators/is-nonempty.filter.spec.ts
  core/templates/dev/head/components/forms/validators/is-nonempty.filter.ts
  core/templates/dev/head/components/question-directives/question-player/question-player.directive.ts
  core/templates/dev/head/pages/admin/AdminPageDirective.ts
  core/templates/dev/head/pages/creator_dashboard/CreatorDashboard.ts
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.ts
  core/templates/dev/head/pages/exploration_player/ExplorationPlayer.ts
  core/templates/dev/head/pages/moderator/Moderator.ts
  core/templates/dev/head/pages/skill_editor/SkillEditor.ts
  core/templates/dev/head/pages/story_editor/StoryEditor.ts
  core/templates/dev/head/pages/topic_editor/TopicEditor.ts
Labels: CHANGELOG: Infrastructural changes

#6679 Fix #6523: Invalidate Stats Cache for States when Interaction Type Changes
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/templates/dev/head/pages/exploration_editor/ExplorationStatesService.ts
  core/templates/dev/head/pages/exploration_editor/ExplorationStatesServiceSpec.ts
  core/templates/dev/head/pages/exploration_editor/statistics_tab/StatisticsTabDirective.ts
  core/templates/dev/head/services/StateRulesStatsService.ts
  core/templates/dev/head/services/StateRulesStatsServiceSpec.ts
  core/templates/dev/head/services/StateTopAnswersStatsBackendApiServiceSpec.ts
  core/templates/dev/head/services/StateTopAnswersStatsService.ts
  core/templates/dev/head/services/StateTopAnswersStatsServiceSpec.ts
  core/tests/test_utils.py
  feconf.py
  main.py
Labels: CHANGELOG: Bug fixes, PR: for current release, full-stack, important

#6877 Modify update_configs.py script to include constants.js as well.
  scripts/update_configs.py
  scripts/update_feconf.py
Labels: CHANGELOG: Infrastructural changes, PR: LGTM

#6854 Fix part of #6550: Write tests for domain/question_services
  core/domain/question_services.py
  core/domain/question_services_test.py
Labels: CHANGELOG: Testing coverage

#6886 Fix #6884: Update license link in README.
  .github/README.md
Labels: CHANGELOG: Development workflow

#6882 Fix part of #6732: Migrate RTCs to webpack
  .github/CODEOWNERS
  core/domain/rte_component_registry_test.py
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-widgets.initializer.ts
  core/templates/dev/head/components/ck-editor-helpers/rich-text-components.template.html
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  core/tests/karma.conf.ts
  extensions/rich_text_components/Collapsible/directives/OppiaNoninteractiveCollapsibleDirective.ts
  extensions/rich_text_components/Image/directives/OppiaNoninteractiveImageDirective.ts
  extensions/rich_text_components/Link/directives/OppiaNoninteractiveLinkDirective.ts
  extensions/rich_text_components/Math/directives/OppiaNoninteractiveMathDirective.ts
  extensions/rich_text_components/Tabs/directives/OppiaNoninteractiveTabsDirective.ts
  extensions/rich_text_components/Video/directives/OppiaNoninteractiveVideoDirective.ts
  extensions/rich_text_components/richTextComponentsRequires.ts
  tsconfig.json
  webpack.dev.config.ts
  webpack.prod.config.ts
Labels: CHANGELOG: Development workflow

#6845 Fix part of #5002: Remove isTopicManager and userIsLoggedIn
  core/controllers/base.py
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/AudioTranslationBarDirective.ts
  core/templates/dev/head/services/UserService.ts
  core/templates/dev/head/services/UserServiceSpec.ts
  core/tests/build_sources/templates/base.html
  core/tests/karma-globals.ts
Labels: CHANGELOG: Code health

#6744 Fix part of #6550: Write tests for controllers/email_dashboard
  core/controllers/email_dashboard.py
  core/controllers/email_dashboard_test.py
Labels: CHANGELOG: Testing coverage

#6846 Fix #6794: Add landing page for negative numbers and refactor landing page.
  assets/images/landing/maths/negative-numbers/negative_1.png
  assets/images/landing/maths/negative-numbers/negative_2.png
  assets/videos/landing/maths/negative-numbers/negative-numbers_video.mp4
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.controller.ts
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.mainpage.html
  feconf.py
Labels: CHANGELOG: Updates to static pages, PR: for current release

#6872 Fix #6897: fix issues with tile backgrounds and images
  core/templates/dev/head/components/summary-tile/collection-summary-tile.directive.html
  core/templates/dev/head/pages/collection-player-page/collection-player-page.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#6871 One off job to delete state ID mapping models from the datastore.
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/jobs_registry.py
Labels: CHANGELOG: Code health

#6842 Fix part of #6550: Write tests for domain/user_jobs_one_off
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_registry.py
Labels: CHANGELOG: Testing coverage

#6905 Apply folders by feature to Learner Dashboard.
  .github/CODEOWNERS
  core/controllers/learner_dashboard.py
  core/templates/dev/head/domain/learner_dashboard/LearnerPlaylistService.ts
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.controller.ts
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.mainpage.html
  core/templates/dev/head/pages/learner-dashboard-page/modal-templates/remove-activity-from-learner-dashboard-modal.template.html
  core/templates/dev/head/pages/learner-dashboard-page/suggestion-modal/learner-dashboard-suggestion-modal.directive.html
  core/templates/dev/head/pages/learner-dashboard-page/suggestion-modal/suggestion-modal-for-learner-dashboard.service.ts
  webpack.config.ts
Labels: CHANGELOG: Infrastructural changes

#6873 Fix part of #6550: Write tests for domain/topic_domain
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_services_test.py
Labels: CHANGELOG: Testing coverage

#6885 Fix part of #6732: Migrate visualizations to webpack
  core/controllers/editor.py
  core/domain/visualization_registry.py
  core/domain/visualization_registry_test.py
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.mainpage.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.mainpage.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  extensions/visualizations/OppiaVisualizationBarChartDirective.ts
  extensions/visualizations/OppiaVisualizationEnumeratedFrequencyTableDirective.ts
  extensions/visualizations/OppiaVisualizationFrequencyTableDirective.ts
  extensions/visualizations/visualizationsRequires.ts
  tsconfig.json
  webpack.dev.config.ts
  webpack.prod.config.ts
Labels: CHANGELOG: Development workflow

#6880 Remove Before End Hook from base.html
  assets/constants.js
  core/controllers/admin_test.py
  core/controllers/base.py
  core/domain/config_domain.py
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/header_js_libs.html
Labels: CHANGELOG: Code health

#6889 Fix part of #6732: Extensions objects webpack integration
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.controller.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.mainpage.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.controller.ts
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.controller.ts
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/dev/head/pages/practice-session-page/practice-session-page.controller.ts
  core/templates/dev/head/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.controller.ts
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.mainpage.html
  core/templates/dev/head/pages/story-editor-page/story-editor-page.controller.ts
  core/templates/dev/head/pages/story-editor-page/story-editor-page.mainpage.html
  core/templates/dev/head/pages/topic_editor/TopicEditor.ts
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/objectComponentsRequiresForPlayers.ts
  tsconfig.json
Labels: CHANGELOG: Development workflow

#6782 Fix part of #6550: Write tests for controllers/acl_decorators
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/base.py
  core/controllers/creator_dashboard_test.py
  core/controllers/editor_test.py
  core/controllers/question_editor_test.py
  core/controllers/resources_test.py
  core/controllers/skill_editor_test.py
  core/controllers/story_editor_test.py
  core/controllers/story_viewer_test.py
  core/controllers/topic_editor_test.py
  core/domain/topic_services.py
Labels: CHANGELOG: Testing coverage

#6874 Milestone 1.2 Serve more pages statically
  core/controllers/pages.py
  core/templates/dev/head/base_components/BaseContentDirective.ts
  core/templates/dev/head/pages/about-page/about-page.controller.ts
  core/templates/dev/head/pages/about-page/about-page.mainpage.html
  core/templates/dev/head/pages/get-started-page/get-started-page.mainpage.html
  core/templates/dev/head/pages/privacy-page/privacy-page.controller.ts
  core/templates/dev/head/pages/privacy-page/privacy-page.mainpage.html
  core/templates/dev/head/pages/splash-page/splash-page.controller.ts
  core/templates/dev/head/pages/splash-page/splash-page.mainpage.html
  core/templates/dev/head/pages/splash-page/splash_at0.html
  core/templates/dev/head/pages/splash-page/splash_at1.html
  core/templates/dev/head/pages/teach-page/teach-page.controller.ts
  core/templates/dev/head/pages/teach-page/teach-page.mainpage.html
  core/templates/dev/head/pages/terms-page/terms-page.controller.ts
  core/templates/dev/head/pages/terms-page/terms-page.mainpage.html
  feconf.py
  webpack.config.ts
Labels: CHANGELOG: Updates to static pages, PR: LGTM

#6849 Fix part of #6550: Write tests for controllers/editor
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/library.py
  core/controllers/practice_sessions.py
  core/controllers/resources_test.py
  main.py
Labels: CHANGELOG: Testing coverage

#6560 Fix #6449: Added check for CODEOWNERS to ensure that the most important rules are at the end.
  .github/CODEOWNERS
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Development workflow

#6908 Fix #6903: added required share link directive to exploration save service to force wrapping
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-save.service.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#6918 Fix #6917: Adds dependency to topic editor
  core/templates/dev/head/pages/topic-editor-page/topic-editor-page.controller.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#6855 Add backward linkage of story to the topic it belongs.
  core/controllers/reader_test.py
  core/controllers/story_editor_test.py
  core/controllers/story_viewer_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_viewer_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_jobs_one_off_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/tests/test_utils.py
  utils.py
  utils_test.py
Labels: CHANGELOG: New structures

#6822 Fix part of #6550: Write tests for controllers/suggestion
  core/controllers/acl_decorators.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
Labels: CHANGELOG: Testing coverage

#6924 Fix #6678: Add test for ensuring usage of angular.mock.inject
  scripts/pre_commit_linter.py
Labels: PR: LGTM

#6718 Fix #6572: Adds e2e test for written translation project
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.directive.html
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.directive.html
  core/tests/protractor_desktop/explorationTranslationTab.js
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
Labels: CHANGELOG: Testing coverage

#6942 Fix #6914: Remove unused setup code that is causing breakages on some systems.
  scripts/setup.sh
Labels: CHANGELOG: Development workflow, PR: LGTM

#6808 Added log for issue #6478
  core/templates/dev/head/pages/exploration-player-page/services/player-position.service.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#6935 Move SuggestionModalService to services/
  .github/CODEOWNERS
  core/templates/dev/head/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.service.ts
  core/templates/dev/head/pages/exploration-editor-page/suggestion-modal-for-editor-view/suggestion-modal-for-exploration-editor.service.ts
  core/templates/dev/head/pages/exploration-player-page/suggestion-modal-for-learner-local-view/suggestion-modal-for-exploration-player.service.ts
  core/templates/dev/head/pages/learner-dashboard-page/suggestion-modal/suggestion-modal-for-learner-dashboard.service.ts
  core/templates/dev/head/services/SuggestionModalService.ts
Labels: CHANGELOG: Infrastructural changes

#6947 Fix #6895: Fix feedback status selector not showing issue.
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/feedback-tab.directive.html
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/feedback-tab.directive.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#6907 Migrate standalone controllers in pages to component directives.
  core/controllers/custom_landing_pages_test.py
  core/controllers/pages_test.py
  core/templates/dev/head/pages/about-page/about-page.controller.ts
  core/templates/dev/head/pages/about-page/about-page.directive.html
  core/templates/dev/head/pages/about-page/about-page.mainpage.html
  core/templates/dev/head/pages/about-page/about-page.scripts.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.controller.spec.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.controller.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.directive.html
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.mainpage.html
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.scripts.ts
  core/templates/dev/head/pages/donate-page/donate-page.controller.ts
  core/templates/dev/head/pages/donate-page/donate-page.directive.html
  core/templates/dev/head/pages/donate-page/donate-page.mainpage.html
  core/templates/dev/head/pages/donate-page/donate-page.scripts.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.controller.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.directive.html
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.mainpage.html
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.scripts.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-result.controller.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-result.directive.html
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-result.mainpage.html
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-result.scripts.ts
  core/templates/dev/head/pages/error-pages/error-page.controller.ts
  core/templates/dev/head/pages/error-pages/error-page.directive.html
  core/templates/dev/head/pages/error-pages/error-page.mainpage.html
  core/templates/dev/head/pages/error-pages/error-page.scripts.ts
  core/templates/dev/head/pages/landing-pages/stewards-landing-page/stewards-landing-page.controller.ts
  core/templates/dev/head/pages/landing-pages/stewards-landing-page/stewards-landing-page.directive.html
  core/templates/dev/head/pages/landing-pages/stewards-landing-page/stewards-landing-page.mainpage.html
  core/templates/dev/head/pages/landing-pages/stewards-landing-page/stewards-landing-page.scripts.ts
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.controller.ts
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.directive.html
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.mainpage.html
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.scripts.ts
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.controller.ts
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.directive.html
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.mainpage.html
  core/templates/dev/head/pages/moderator-page/moderator-page.controller.ts
  core/templates/dev/head/pages/moderator-page/moderator-page.directive.html
  core/templates/dev/head/pages/moderator-page/moderator-page.mainpage.html
  core/templates/dev/head/pages/moderator-page/moderator-page.scripts.ts
  core/templates/dev/head/pages/notifications-dashboard-page/notifications-dashboard-page.controller.ts
  core/templates/dev/head/pages/notifications-dashboard-page/notifications-dashboard-page.directive.html
  core/templates/dev/head/pages/notifications-dashboard-page/notifications-dashboard-page.mainpage.html
  core/templates/dev/head/pages/notifications-dashboard-page/notifications-dashboard-page.scripts.ts
  core/templates/dev/head/pages/practice-session-page/practice-session-page.controller.ts
  core/templates/dev/head/pages/practice-session-page/practice-session-page.directive.html
  core/templates/dev/head/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/dev/head/pages/practice-session-page/practice-session-page.scripts.ts
  core/templates/dev/head/pages/preferences-page/preferences-page.controller.spec.ts
  core/templates/dev/head/pages/preferences-page/preferences-page.controller.ts
  core/templates/dev/head/pages/preferences-page/preferences-page.directive.html
  core/templates/dev/head/pages/preferences-page/preferences-page.mainpage.html
  core/templates/dev/head/pages/preferences-page/preferences-page.scripts.ts
  core/templates/dev/head/pages/splash-page/splash-page.controller.ts
  core/templates/dev/head/pages/splash-page/splash-page.directive.html
  core/templates/dev/head/pages/splash-page/splash-page.mainpage.html
  core/templates/dev/head/pages/splash-page/splash-page.scripts.ts
  webpack.config.ts
Labels: CHANGELOG: Infrastructural changes

#6948 Fix #6943: Fix code editor interaction issue in exploration player.
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.controller.ts
Labels: PR: for current release

#6954 Minor nit fixes
  core/templates/dev/head/pages/practice-session-page/practice-session-page.directive.html
  core/templates/dev/head/pages/splash-page/splash-page.directive.html
Labels: CHANGELOG: Bug fixes

#6945 Create a preliminary story viewer page
  .github/CODEOWNERS
  core/controllers/story_viewer.py
  core/controllers/story_viewer_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/domain/story/StoryNodeObjectFactorySpec.ts
  core/templates/dev/head/domain/story_viewer/ReadOnlyStoryNodeObjectFactory.ts
  core/templates/dev/head/domain/story_viewer/ReadOnlyStoryNodeObjectFactorySpec.ts
  core/templates/dev/head/domain/story_viewer/StoryPlaythroughObjectFactory.ts
  core/templates/dev/head/domain/story_viewer/StoryPlaythroughObjectFactorySpec.ts
  core/templates/dev/head/domain/story_viewer/StoryViewerBackendApiService.ts
  core/templates/dev/head/domain/story_viewer/StoryViewerBackendApiServiceSpec.ts
  core/templates/dev/head/pages/story-viewer-page/chapters-list/story-viewer-chapters-list.directive.html
  core/templates/dev/head/pages/story-viewer-page/chapters-list/story-viewer-chapters-list.directive.ts
  core/templates/dev/head/pages/story-viewer-page/navbar-breadcrumb/story-viewer-navbar-breadcrumb.directive.html
  core/templates/dev/head/pages/story-viewer-page/navbar-breadcrumb/story-viewer-navbar-breadcrumb.directive.ts
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.directive.html
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.directive.ts
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.mainpage.html
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.scripts.ts
  core/templates/dev/head/services/contextual/UrlService.ts
  core/templates/dev/head/services/contextual/UrlServiceSpec.ts
  feconf.py
  main.py
  webpack.config.ts
Labels: CHANGELOG: New structures

#6967 Fix part of #6346: Pass skill descriptions to the question player
  core/controllers/practice_sessions.py
  core/controllers/practice_sessions_test.py
  core/templates/dev/head/pages/practice-session-page/practice-session-page.controller.ts
Labels: CHANGELOG: New structures

#6958 Fix issues in collection pages
  core/templates/dev/head/pages/collection-editor-page/editor-tab/collection-editor-tab.directive.html
  core/templates/dev/head/pages/collection-editor-page/editor-tab/collection-node-editor.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#6944 Fix #6933: Fix modal and status issue in translation tab.
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.directive.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#6965 Upgrades Requests
  appengine_config.py
  core/tests/gae_suite.py
  manifest.json
Labels: CHANGELOG: Code health

#6929 Add linked_skill_ids to the Question model
  core/controllers/acl_decorators_test.py
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/controllers/suggestion_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/templates/dev/head/domain/question/EditableQuestionBackendApiService.ts
  core/tests/test_utils.py
  main.py
Labels: CHANGELOG: New structures

#6865 Fix #6262: Constrain the width of the tooltip so that it fits the screen (instead of overflowing)
  core/templates/dev/head/pages/exploration-editor-page/editor-navigation/editor-navigation.directive.html
Labels: CHANGELOG: Improvements to editors and players, PR: for current release

#6968 Separate constants in domain/ into individual files.
  core/templates/dev/head/domain/collection/CollectionUpdateService.ts
  core/templates/dev/head/domain/collection/collection-domain.constants.ts
  core/templates/dev/head/domain/editor/editor-domain.constants.ts
  core/templates/dev/head/domain/editor/undo_redo/BaseUndoRedoService.ts
  core/templates/dev/head/domain/objects/FractionObjectFactory.ts
  core/templates/dev/head/domain/objects/NumberWithUnitsObjectFactory.ts
  core/templates/dev/head/domain/objects/objects-domain.constants.ts
  core/templates/dev/head/domain/question/EditableQuestionBackendApiService.ts
  core/templates/dev/head/domain/question/PretestQuestionBackendApiService.ts
  core/templates/dev/head/domain/question/QuestionPlayerBackendApiService.ts
  core/templates/dev/head/domain/question/QuestionUpdateService.ts
  core/templates/dev/head/domain/question/question-domain.constants.ts
  core/templates/dev/head/domain/skill/ConceptCardBackendApiService.ts
  core/templates/dev/head/domain/skill/EditableSkillBackendApiService.ts
  core/templates/dev/head/domain/skill/SkillUpdateService.ts
  core/templates/dev/head/domain/skill/skill-domain.constants.ts
  core/templates/dev/head/domain/statistics/LearnerActionObjectFactory.ts
  core/templates/dev/head/domain/statistics/PlaythroughImprovementCardObjectFactory.ts
  core/templates/dev/head/domain/statistics/statistics-domain.constants.ts
  core/templates/dev/head/domain/story/EditableStoryBackendApiService.ts
  core/templates/dev/head/domain/story/StoryUpdateService.ts
  core/templates/dev/head/domain/story/story-domain.constants.ts
  core/templates/dev/head/domain/topic/EditableTopicBackendApiService.ts
  core/templates/dev/head/domain/topic/TopicRightsBackendApiService.ts
  core/templates/dev/head/domain/topic/TopicUpdateService.ts
  core/templates/dev/head/domain/topic/topic-domain.constants.ts
  core/templates/dev/head/domain/topic_viewer/TopicViewerBackendApiService.ts
  core/templates/dev/head/domain/topic_viewer/topic-viewer-domain.constants.ts
  core/templates/dev/head/domain/topics_and_skills_dashboard/TopicsAndSkillsDashboardBackendApiService.ts
  core/templates/dev/head/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-domain.constants.ts
Labels: CHANGELOG: Infrastructural changes

#6937 Fix part of #6550: Write tests for domain/suggestion_registry
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
Labels: CHANGELOG: Testing coverage

#6938 Upgrades isort webtest and pylint quotes
  core/controllers/base.py
  core/tests/gae_suite.py
  scripts/install_third_party.sh
  scripts/pre_commit_linter.py
  scripts/setup_gae.sh
Labels: CHANGELOG: Code health

#6898 Fix #6777: Pressing R prompts microphone only in translation tab.
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
Labels: CHANGELOG: Bug fixes, PR: LGTM

#6770 Upgrades jasmine, karma-webpack, webdriver-manager, covergae, pygithub & webpack to their latest version
  package-lock.json
  package.json
  scripts/backend_tests.py
  scripts/install_third_party.sh
  scripts/pre_commit_linter.py
  scripts/release_info.py
  scripts/run_backend_tests.sh
  scripts/setup_gae.sh
Labels: CHANGELOG: Code health

#6977 Fix backend tests on develop
  core/domain/suggestion_registry_test.py
Labels: CHANGELOG: Bug fixes, PR: for current release, backend, important

#6946 Fix part of #6550: Write tests for domain/exp_jobs_one_off
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
Labels: CHANGELOG: Testing coverage, PR: LGTM

#6971 Fix part of #6346: Add a state service to record the users progress in the question player (for score calculation)
  core/templates/dev/head/components/question-directives/question-player/services/question-player-state.service.spec.ts
  core/templates/dev/head/components/question-directives/question-player/services/question-player-state.service.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/dev/head/pages/exploration-player-page/services/hints-and-solution-manager.service.ts
Labels: CHANGELOG: New structures

#6850 [Milestone 1.1] Implement review test using question player
  .github/CODEOWNERS
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/controllers/review_tests.py
  core/controllers/review_tests_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/templates/dev/head/domain/question/QuestionPlayerBackendApiService.ts
  core/templates/dev/head/domain/question/QuestionPlayerBackendApiServiceSpec.ts
  core/templates/dev/head/domain/question/question-domain.constants.ts
  core/templates/dev/head/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/dev/head/pages/review-test-page/review-test-engine.service.spec.ts
  core/templates/dev/head/pages/review-test-page/review-test-engine.service.ts
  core/templates/dev/head/pages/review-test-page/review-test-page.constants.ts
  core/templates/dev/head/pages/review-test-page/review-test-page.directive.html
  core/templates/dev/head/pages/review-test-page/review-test-page.directive.ts
  core/templates/dev/head/pages/review-test-page/review-test-page.mainpage.html
  core/templates/dev/head/pages/review-test-page/review-test-page.scripts.ts
  core/templates/dev/head/services/ContextService.ts
  core/templates/dev/head/services/contextual/UrlService.ts
  core/templates/dev/head/services/contextual/UrlServiceSpec.ts
  feconf.py
  main.py
  package-lock.json
  webpack.config.ts
Labels: CHANGELOG: New structures

#6970 Fix part of #6550: Write tests for suggestion_services
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
Labels: CHANGELOG: Testing coverage

#6912 Upgrades Angular-audio, Mutagen and MidiJs
  appengine_config.py
  core/tests/gae_suite.py
  extensions/dependencies/midijs.html
  extensions/interactions/MusicNotesInput/directives/OppiaInteractiveMusicNotesInputDirective.ts
  manifest.json
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Code health

#6740 Fix part of #6550: Write tests for controllers/feedback.py
  core/controllers/feedback_test.py
Labels: CHANGELOG: Testing coverage

#6750 Fix part of #6550: Write tests for controllers/skill_editor and controllers/story_editor
  core/controllers/acl_decorators.py
  core/controllers/skill_editor_test.py
  core/controllers/story_editor.py
  core/controllers/story_editor_test.py
Labels: CHANGELOG: Testing coverage

#6857 Milestone 1.1, 1.2, 1.3: Add audit jobs and tests
  .github/CODEOWNERS
  core/domain/activity_domain.py
  core/domain/activity_domain_test.py
  core/domain/activity_services.py
  core/domain/change_domain.py
  core/domain/collection_domain.py
  core/domain/collection_domain_test.py
  core/domain/collection_services_test.py
  core/domain/config_domain.py
  core/domain/config_domain_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/fs_domain.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/recommendations_services.py
  core/domain/recommendations_services_test.py
  core/domain/rights_manager.py
  core/domain/rights_manager_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/suggestion_registry_test.py
  core/jobs_registry.py
  core/storage/activity/gae_models.py
  core/storage/base_model/gae_models.py
  core/storage/collection/gae_models.py
  feconf.py
Labels: CHANGELOG: Infrastructural changes

#6969 Upgrades node_modules @types definition of d3, google.visualization & selenium-webdriver
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/tests/gae_suite.py
  manifest.json
  package-lock.json
  package.json
  scripts/install_third_party.sh
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Code health

#6941 Upgrades hammer.js and waveSurferJs
  manifest.json
Labels: CHANGELOG: Code health

#6881 Fix #6792: Adding Exploration Titles to Collection Landing Page
  core/templates/dev/head/pages/collection-player-page/collection-player-page.directive.html
  core/templates/dev/head/pages/collection-player-page/collection-player-page.directive.ts
  core/templates/dev/head/pages/collection-player-page/collection-player-page.mainpage.html
Labels: CHANGELOG: Improvements to editors and players

#6925 Fix part of #6550: Write tests for stats_domain and stats_services
  core/domain/stats_domain_test.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
Labels: CHANGELOG: Testing coverage

#6815 Adding a LearnerAnswerDetailsModel
  core/domain/stats_domain.py
  core/domain/stats_domain_test.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
  core/storage/statistics/gae_models.py
  core/storage/statistics/gae_models_test.py
  feconf.py
Labels: CHANGELOG: Statistics, PR: LGTM

#6896 Fix part of #6550: Write tests for skill_domain and skill_services
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
Labels: CHANGELOG: Testing coverage

#6789 Migrating to Font-Awesome 5
  app.yaml
  core/templates/dev/head/components/button-directives/social-buttons.directive.html
  core/templates/dev/head/components/common-layout-directives/common-elements/sharing-links.directive.html
  core/templates/dev/head/components/ratings/rating-display/rating-display.directive.html
  core/templates/dev/head/components/ratings/rating-display/rating-display.directive.spec.ts
  core/templates/dev/head/components/ratings/rating-display/rating-display.directive.ts
  core/templates/dev/head/components/summary-tile/exploration-summary-tile.directive.html
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/domain/learner_dashboard/learner_dashboard_icons_directive.html
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.directive.html
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/templates/playthrough-modal.template.html
  core/templates/dev/head/pages/exploration-player-page/layout-directives/audio-bar.directive.html
  core/templates/dev/head/pages/exploration-player-page/layout-directives/progress-nav.directive.html
  core/templates/dev/head/pages/exploration-player-page/learner-experience/continue-button.directive.html
  core/templates/dev/head/pages/exploration-player-page/templates/information-card-modal.directive.html
  core/templates/dev/head/pages/topic-editor-page/editor-tab/stories-list.directive.html
  core/templates/dev/head/pages/topic-editor-page/subtopics-list-tab/subtopics-list-tab.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.html
  extensions/interactions/Continue/directives/continue_interaction_directive.html
  manifest.json
  scripts/build.py
Labels: CHANGELOG: Code health

#6973 Record completion after completing a story node in the story viewer
  core/controllers/story_viewer.py
  core/controllers/story_viewer_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/templates/dev/head/components/summary-tile/exploration-summary-tile.directive.ts
  core/templates/dev/head/domain/question/PretestQuestionBackendApiService.ts
  core/templates/dev/head/domain/story_viewer/StoryViewerBackendApiService.ts
  core/templates/dev/head/domain/story_viewer/StoryViewerBackendApiServiceSpec.ts
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.constants.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/dev/head/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/dev/head/pages/story-viewer-page/chapters-list/story-viewer-chapters-list.directive.html
  core/templates/dev/head/pages/story-viewer-page/chapters-list/story-viewer-chapters-list.directive.ts
  feconf.py
  main.py
Labels: CHANGELOG: New structures

#6963 Fix part of #6550: Write tests for summary_services and topic_jobs_one_off
  core/domain/summary_services.py
  core/domain/summary_services_test.py
  core/domain/topic_jobs_one_off_test.py
Labels: CHANGELOG: Testing coverage

#6926 Frontend changes such that creator can enable/disable solicit answer details feature for a state
  assets/constants.js
  core/domain/state_domain.py
  core/domain/stats_domain.py
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-editor.service.spec.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-solicit-answer-details.service.ts
  core/templates/dev/head/components/state-editor/state-editor.directive.html
  core/templates/dev/head/components/state-editor/state-editor.directive.ts
  core/templates/dev/head/components/state-editor/state-responses-editor/state-responses.directive.html
  core/templates/dev/head/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.html
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/services/change-list.service.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-states.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-states.service.ts
  feconf.py
Labels: CHANGELOG: Improvements to editors and players

#6998 Fix #6697: Fix backend test for story_services
  core/domain/story_services_test.py
Labels: CHANGELOG: Bug fixes

#6761 Fix part of #6550: Write tests for controllers/topic_editor
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  feconf.py
  main.py
Labels: CHANGELOG: Testing coverage

#6934 Milestone 1.3, 1.4 Serve remaining static pages statically
  core/controllers/creator_dashboard.py
  core/controllers/pages.py
  core/controllers/profile.py
  core/templates/dev/head/base_components/BaseContentDirective.ts
  core/templates/dev/head/pages/contact-page/contact-page.mainpage.html
  core/templates/dev/head/pages/contact-page/contact-page.scripts.ts
  core/templates/dev/head/pages/donate-page/donate-page.controller.ts
  core/templates/dev/head/pages/donate-page/donate-page.mainpage.html
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.controller.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.mainpage.html
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-result.controller.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-result.mainpage.html
  core/templates/dev/head/pages/landing-pages/stewards-landing-page/stewards-landing-page.controller.ts
  core/templates/dev/head/pages/landing-pages/stewards-landing-page/stewards-landing-page.mainpage.html
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.controller.ts
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.mainpage.html
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.controller.ts
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.mainpage.html
  core/templates/dev/head/pages/maintenance-page/maintenance-page.mainpage.html
  core/templates/dev/head/pages/moderator-page/moderator-page.controller.ts
  core/templates/dev/head/pages/moderator-page/moderator-page.mainpage.html
  core/templates/dev/head/pages/notifications-dashboard-page/notifications-dashboard-page.controller.ts
  core/templates/dev/head/pages/notifications-dashboard-page/notifications-dashboard-page.mainpage.html
  core/templates/dev/head/pages/preferences-page/preferences-page.controller.ts
  core/templates/dev/head/pages/preferences-page/preferences-page.mainpage.html
  core/templates/dev/head/pages/signup-page/signup-page.controller.ts
  core/templates/dev/head/pages/signup-page/signup-page.mainpage.html
  core/templates/dev/head/pages/thanks-page/thanks-page.controller.ts
  core/templates/dev/head/pages/thanks-page/thanks-page.mainpage.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.mainpage.html
  feconf.py
  webpack.config.ts
Labels: CHANGELOG: Updates to static pages

#7003 Fix part of #6550: Write tests for test_utils
  core/tests/test_utils.py
  core/tests/test_utils_test.py
Labels: CHANGELOG: Testing coverage

#6989 Domain object changes for topic, skill, question models
  core/controllers/concept_card_viewer_test.py
  core/controllers/editor_test.py
  core/controllers/feedback_test.py
  core/controllers/learner_dashboard_test.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/suggestion_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services_test.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/stats_jobs_continuous_test.py
  core/domain/stats_services_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services_test.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/jobs_registry.py
  core/templates/dev/head/domain/skill/SkillUpdateService.ts
  core/templates/dev/head/domain/skill/SkillUpdateServiceSpec.ts
  core/templates/dev/head/domain/topic/TopicUpdateService.ts
  core/templates/dev/head/domain/topic/TopicUpdateServiceSpec.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/tests/test_utils.py
  data/explorations/about_oppia.yaml
  data/explorations/binary_search/The Lazy Magician.yaml
  data/explorations/modeling_graphs/Graph Modeling.yaml
  data/explorations/modeling_graphs/assets/image/Asimplegraph_height_100_width_112.png
  data/explorations/multiples.yaml
  data/explorations/test_interactions/Test of expressions and interactions.yaml
  data/explorations/three_balls/Three Balls.yaml
  data/explorations/three_balls/assets/image/3balls_height_312_width_328.png
  extensions/rich_text_components/components.py
Labels: CHANGELOG: Infrastructural changes

#6966 Upgrades Angular static libraries
  app.yaml
  manifest.json
Labels: CHANGELOG: Code health

#6983 Fix part of #6550: Write tests for story_domain and story_services
  core/domain/story_domain_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
Labels: CHANGELOG: Testing coverage

#6987 Display review tests when viewing stories
  assets/constants.js
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/tests/build_sources/assets/constants.js
Labels: CHANGELOG: New structures

#6991 Audit jobs and tests for skill models
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/jobs_registry.py
Labels: CHANGELOG: Infrastructural changes

#6868 Retrain classifier models if they are not available for previous version of exploration states
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  core/domain/exp_services.py
Labels: CHANGELOG: Bug fixes

#6976 Fix part of #6550: Write tests for topic_services and gae_suite
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/tests/data/__init__.py
  core/tests/data/failing_tests.py
  core/tests/gae_suite.py
  core/tests/gae_suite_test.py
Labels: CHANGELOG: Testing coverage

#6922 Upgrades GAE Libraries
  app.yaml
  appengine_config.py
  core/tests/gae_suite.py
  manifest.json
  scripts/gcloud_adapter.py
  scripts/pre_commit_linter.py
  scripts/setup_gae.sh
Labels: CHANGELOG: Code health

#6992 Audit jobs and tests for question models
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/question/gae_models.py
Labels: CHANGELOG: Infrastructural changes, PR: LGTM

#6978 Fix part of #6550: Write tests for feedback_services
  core/domain/feedback_services.py
  core/domain/feedback_services_test.py
  core/templates/dev/head/domain/feedback_thread/FeedbackThreadSummaryObjectFactory.ts
  core/templates/dev/head/domain/feedback_thread/FeedbackThreadSummaryObjectFactorySpec.ts
Labels: CHANGELOG: Testing coverage

#6990 Audit jobs and tests for topic models
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/jobs_registry.py
Labels: CHANGELOG: Infrastructural changes, PR: LGTM

#6995 Audit jobs and tests for classifier, jobs, feedback and suggestion models
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/classifier/gae_models.py
  core/storage/feedback/gae_models.py
Labels: CHANGELOG: Infrastructural changes, PR: LGTM

#6936 Fix part of #6550: Write tests for rights_manager, subtopic_page_domain and subtopic_page_services
  core/controllers/acl_decorators.py
  core/domain/rights_manager.py
  core/domain/rights_manager_test.py
  core/domain/skill_services_test.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services_test.py
  core/domain/topic_services_test.py
Labels: CHANGELOG: Testing coverage, PR: LGTM

#6980 Fix part of #6550: Write tests for user_services
  core/domain/user_services.py
  core/domain/user_services_test.py
Labels: CHANGELOG: Testing coverage, PR: LGTM

#6861 Fix part of #6550: Write tests for domain/html_validation_service.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
Labels: CHANGELOG: Testing coverage

#7023 Fix #6887: Audit jobs and tests for user models and a new panel for prod jobs on admin tab
  core/controllers/admin.py
  core/domain/collection_services.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/jobs_registry.py
  core/templates/dev/head/pages/admin-page/admin-page.mainpage.html
  core/templates/dev/head/pages/admin-page/jobs-tab/admin-jobs-tab.directive.html
  core/templates/dev/head/pages/admin-page/jobs-tab/admin-jobs-tab.directive.ts
  core/tests/karma-globals.ts
Labels: CHANGELOG: Infrastructural changes

#7029 Remove frontend for question suggestions
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/domain/suggestion/QuestionSuggestionObjectFactory.ts
  core/templates/dev/head/domain/suggestion/SuggestionThreadObjectFactory.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.controller.ts
  core/templates/dev/head/pages/creator-dashboard-page/modal-templates/create-question-modal.directive.html
  core/templates/dev/head/pages/skill-editor-page/questions-tab/questions-tab.directive.ts
  core/templates/dev/head/pages/topic-editor-page/questions-tab/questions-tab.directive.html
  core/templates/dev/head/pages/topic-editor-page/questions-tab/questions-tab.directive.ts
Labels: CHANGELOG: New structures, PR: LGTM

#7032 Fix #7031: Add missing $ctrl
  extensions/interactions/ItemSelectionInput/directives/item_selection_input_interaction_directive.html
Labels: CHANGELOG: Bug fixes, PR: LGTM

#6927 Link multiple skills to one question and unify question list service
  .github/CODEOWNERS
  assets/constants.js
  core/controllers/acl_decorators.py
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/questions_list.py
  core/controllers/questions_list_test.py
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/controllers/suggestion_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/templates/dev/head/components/question-directives/question-player/question-player.directive.ts
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/domain/question/EditableQuestionBackendApiService.ts
  core/templates/dev/head/domain/question/EditableQuestionBackendApiServiceSpec.ts
  core/templates/dev/head/domain/question/QuestionBackendApiService.ts
  core/templates/dev/head/domain/question/QuestionBackendApiServiceSpec.ts
  core/templates/dev/head/domain/question/question-domain.constants.ts
  core/templates/dev/head/domain/skill/EditableSkillBackendApiService.ts
  core/templates/dev/head/domain/skill/EditableSkillBackendApiServiceSpec.ts
  core/templates/dev/head/domain/skill/skill-domain.constants.ts
  core/templates/dev/head/domain/topic/EditableTopicBackendApiService.ts
  core/templates/dev/head/domain/topic/TopicObjectFactory.ts
  core/templates/dev/head/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/dev/head/pages/skill-editor-page/questions-tab/questions-tab.directive.html
  core/templates/dev/head/pages/skill-editor-page/questions-tab/questions-tab.directive.ts
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/dev/head/pages/topic-editor-page/modal-templates/select-skill-modal.template.html
  core/templates/dev/head/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
  core/templates/dev/head/pages/topic-editor-page/questions-tab/questions-tab.directive.html
  core/templates/dev/head/pages/topic-editor-page/questions-tab/questions-tab.directive.ts
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.ts
  core/templates/dev/head/services/QuestionsListService.ts
  core/tests/build_sources/assets/constants.js
  feconf.py
  main.py
  package-lock.json
Labels: CHANGELOG: New structures, PR: LGTM

#6940 Upgrades code-mirror, browsermob-proxy and mouse-trap
  core/templates/dev/head/tests/form_builder_test_page.html
  core/tests/gae_suite.py
  core/tests/protractor_desktop/explorationHistoryTab.js
  core/tests/protractor_utils/ExplorationEditorHistoryTab.js
  core/tests/protractor_utils/forms.js
  extensions/dependencies/codemirror.html
  manifest.json
  package-lock.json
  package.json
  scripts/install_third_party.sh
Labels: CHANGELOG: Code health

#6981 Fix part of #5914: UserSettingsModel and UserSubscriptionsModel Takeout
  core/storage/base_model/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR: LGTM

#7051 Fix #7037: Add check for npm packages
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Code health

#7006 Fix part of #6550: Write tests for core/jobs
  .github/CODEOWNERS
  core/controllers/cron.py
  core/domain/cron_services.py
  core/domain/stats_jobs_continuous.py
  core/jobs.py
  core/jobs_test.py
Labels: CHANGELOG: Testing coverage, PR: LGTM

#7055 Fix browermobproxy version in pre-commit script
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Development workflow

#6825 Fix part of #5914: UserStatsModel Takeout
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: CHANGELOG: Infrastructural changes, PR: LGTM
