Repository oppia/oppia, pull requests merged in 2019-10, with the labels that each got.

#7720 Node updates
  package.json
  yarn.lock
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7719 Update thread status when suggestion is resolved
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/services/thread-data.service.ts
  core/tests/protractor_desktop/explorationImprovementsTab.js
Labels: CHANGELOG: Bug fixes, PR: for current release, frontend

#7724 Fix 7687: fixed library page tablet view
  core/templates/dev/head/pages/library-page/search-results/search-results.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#7717 Fix #7693: Navbar Menu highlight fix
  core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
Labels: CHANGELOG: Bug fixes, PR: LGTM, PR: for current release

#7723 Fix #6921: Add logger for _submitAnswer issue
  core/templates/dev/head/components/button-directives/hint-and-solution-buttons.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/progress-nav.directive.ts
  core/templates/dev/head/pages/exploration-player-page/services/current-interaction.service.ts
Labels: CHANGELOG: Bug fixes, server errors

#7726 Fix #7689: fixes the author dropdown menu in the footer
  core/templates/dev/head/pages/exploration-player-page/layout-directives/exploration-footer.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#7674 Upgrades adminRouter and reviewTestEngine Service to Angular
  core/templates/dev/head/pages/admin-page/admin-page.directive.ts
  core/templates/dev/head/pages/admin-page/navbar/admin-navbar.directive.ts
  core/templates/dev/head/pages/admin-page/services/admin-router.service.spec.ts
  core/templates/dev/head/pages/admin-page/services/admin-router.service.ts
  core/templates/dev/head/pages/review-test-page/review-test-engine.service.spec.ts
  core/templates/dev/head/pages/review-test-page/review-test-engine.service.ts
  core/templates/dev/head/services/RteHelperService.ts
Labels: CHANGELOG: Infrastructural changes

#7743 Fix: Mandatory pattern check message is missing from pre_commit_linter output
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7727 Fix #7441: Replace 'one' with explicit key '=1' for certain languages
  assets/i18n/ja.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: CHANGELOG: Bug fixes, server errors

#7744 Node updates
  package.json
  yarn.lock
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7666 Fix new structures editor UI issues
  core/controllers/questions_list.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/domain/question/EditableQuestionBackendApiService.ts
  core/templates/dev/head/domain/story/StoryNodeObjectFactory.ts
  core/templates/dev/head/domain/story/StoryNodeObjectFactorySpec.ts
  core/templates/dev/head/domain/summary/ExplorationSummaryBackendApiService.ts
  core/templates/dev/head/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.html
  core/templates/dev/head/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/dev/head/pages/topic-editor-page/modal-templates/select-skill-modal.template.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skill-selector/skill-selector.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skill-selector/skill-selector.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/templates/merge-skill-modal.template.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.directive.html
Labels: CHANGELOG: New structures, PROJECT: Overall learner experience -- @aks681

#7738 Fix #6158: Initialise $interval inside initSession method
  core/templates/dev/head/pages/exploration-player-page/services/stats-reporting.service.ts
Labels: CHANGELOG: Bug fixes, server errors

#7754 Fix #6338: Hide Voiceover buttons instead of disable.
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
Labels: CHANGELOG: Translations, audio-translation, frontend

#7742 Fix part of #6240: Write e2e tests for view explorations
  core/templates/dev/head/components/summary-tile/exploration-summary-tile.directive.html
  core/tests/protractor_desktop/profileFeatures.js
  core/tests/protractor_utils/CreatorDashboardPage.js
  core/tests/protractor_utils/ProfilePage.js
Labels: CHANGELOG: Code health, PROJECT: QA team -- @nithusha21

#7721 Fix #7681: HTML Select Option Styling
  core/templates/dev/head/components/forms/custom-forms-directives/html-select.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#7757 Fix issues with capitalize filter
  core/templates/dev/head/filters/format-rte-preview.filter.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#7758 Reverts tests for Improvement tab added in #7719
  core/tests/protractor_desktop/explorationImprovementsTab.js
Labels: CHANGELOG: Bug fixes, PR: for current release

#7513 Add functionality to add and review translation suggestion.
  core/controllers/community_dashboard.py
  core/controllers/community_dashboard_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/storage/suggestion/gae_models.py
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.controller.ts
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.directive.html
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.mainpage.html
  core/templates/dev/head/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.html
  core/templates/dev/head/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.ts
  core/templates/dev/head/pages/community-dashboard-page/login-required-message/login-required-message.directive.html
  core/templates/dev/head/pages/community-dashboard-page/login-required-message/login-required-message.directive.ts
  core/templates/dev/head/pages/community-dashboard-page/modal-templates/translation-modal.directive.html
  core/templates/dev/head/pages/community-dashboard-page/modal-templates/translation-suggestion-review.directive.html
  core/templates/dev/head/pages/community-dashboard-page/opportunities-list-item/opportunities-list-item.directive.html
  core/templates/dev/head/pages/community-dashboard-page/opportunities-list-item/opportunities-list-item.directive.ts
  core/templates/dev/head/pages/community-dashboard-page/opportunities-list/opportunities-list.directive.html
  core/templates/dev/head/pages/community-dashboard-page/opportunities-list/opportunities-list.directive.ts
  core/templates/dev/head/pages/community-dashboard-page/services/contribution-and-review.services.ts
  core/templates/dev/head/pages/community-dashboard-page/services/translate-text.service.ts
  core/templates/dev/head/pages/community-dashboard-page/translation-opportunities/translation-opportunities.directive.html
  core/templates/dev/head/pages/community-dashboard-page/translation-opportunities/translation-opportunities.directive.ts
  core/templates/dev/head/pages/community-dashboard-page/voiceover-opportunities/voiceover-opportunities.directive.html
  index.yaml
  main.py
Labels: CHANGELOG: Translations

#7697 Fix #7653: broadcast 'stateEditorInitialized' after state-editor has been initialized
  core/templates/dev/head/components/state-editor/state-content-editor/state-content-editor.directive.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/dev/head/components/state-editor/state-editor.directive.ts
  core/templates/dev/head/components/state-editor/state-hints-editor/state-hints-editor.directive.ts
  core/templates/dev/head/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/dev/head/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/dev/head/components/state-editor/state-solution-editor/state-solution-editor.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.ts
Labels: CHANGELOG: Bug fixes, PR: for current release, server errors

#7765 Fix #7381: add scope.applyAsync to fix inprog issue
  core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
Labels: CHANGELOG: Bug fixes, server errors

#7630 Wipeout 2.4: Add has_reference_to_user_id ot easy to implement…
  core/storage/activity/gae_models.py
  core/storage/activity/gae_models_test.py
  core/storage/audit/gae_models.py
  core/storage/audit/gae_models_test.py
  core/storage/base_model/gae_models_test.py
  core/storage/classifier/gae_models.py
  core/storage/classifier/gae_models_test.py
  core/storage/config/gae_models.py
  core/storage/config/gae_models_test.py
  core/storage/email/gae_models.py
  core/storage/email/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
  core/storage/file/gae_models.py
  core/storage/file/gae_models_test.py
  core/storage/job/gae_models.py
  core/storage/job/gae_models_test.py
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
  core/storage/recommendations/gae_models_test.py
  core/storage/statistics/gae_models.py
  core/storage/statistics/gae_models_test.py
  core/storage/storage_models_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/tests/test_utils.py
Labels: CHANGELOG: Infrastructural changes, PROJECT: Data handling -- @seanlip

#7768 Angular Migration of windowDimensionService
  core/templates/dev/head/App.ts
  core/templates/dev/head/pages/library-page/library-page.controller.spec.ts
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/contextual/WindowDimensionsService.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#7781 Fix #7780: Fix return code for frontend tests
  scripts/pre_push_hook.py
  scripts/run_frontend_tests.py
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7550 Fix part of #6776: Backend changes for listing skill opportunities on the Community Dashboard page.
  assets/constants.ts
  core/controllers/admin_test.py
  core/controllers/question_editor_test.py
  core/controllers/reader.py
  core/domain/opportunity_domain.py
  core/domain/opportunity_domain_test.py
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/question_fetchers.py
  core/domain/question_fetchers_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/skill_services.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
  core/templates/dev/head/pages/community-dashboard-page/services/contribution-opportunities.service.ts
Labels: CHANGELOG: Community contribution and dashboard

#7778 Fix part of #7427: Add valid args, return and raises for deploy.py
  scripts/deploy.py
Labels: CHANGELOG: Code health

#7787 Upgrades SidebarStatusService to Angular
  core/templates/dev/head/App.ts
  core/templates/dev/head/domain/sidebar/SidebarStatusService.ts
  core/templates/dev/head/domain/sidebar/SidebarStatusServiceSpec.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Development workflow

#7710 Upgrades camel case filter to Angular
  core/templates/dev/head/filters/string-utility-filters/camel-case-to-hyphens.pipe.spec.ts
  core/templates/dev/head/filters/string-utility-filters/camel-case-to-hyphens.pipe.ts
  core/templates/dev/head/services/ExtensionTagAssemblerService.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#7801 Fixes #7800 Display pointer on hovering over submenu
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.directive.html
Labels: CHANGELOG: Bug fixes

#7807 Fix #7670: Redirects user to editor page if log in is attempted from the editor page
  core/templates/dev/head/services/UserService.ts
Labels: CHANGELOG: Bug fixes

#7786 Added features to the questions list in topic and skill editors
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/questions_list.py
  core/controllers/questions_list_test.py
  core/controllers/suggestion_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/templates/dev/head/components/question-directives/modal-templates/change-question-difficulty-modal.template.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/domain/question/EditableQuestionBackendApiService.ts
  core/templates/dev/head/domain/question/EditableQuestionBackendApiServiceSpec.ts
Labels: CHANGELOG: New structures

#7792 Rename Statistics regeneration jobs to clarify the purpose of both jobs
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
  core/jobs_registry.py
Labels: CHANGELOG: Code health, PROJECT: Lesson analytics -- @brianrodri

#7815 Set default timezone to bypass configure time zone interaction
  ubuntu_dockerfile
Labels: CHANGELOG: Development workflow, devflow

#7820 Fix #7690: Refine fetching behavior of the improvements tab
  core/controllers/editor.py
  core/templates/dev/head/domain/statistics/PlaythroughImprovementTaskObjectFactory.ts
  core/templates/dev/head/domain/statistics/PlaythroughImprovementTaskObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-navigation/editor-navigation.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/improvements-tab.directive.html
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/services/improvement-modal.service.ts
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/templates/answer-details-modal.template.html
  core/templates/dev/head/services/ImprovementTaskServiceSpec.ts
  core/tests/protractor_desktop/explorationImprovementsTab.js
  core/tests/protractor_utils/ExplorationEditorImprovementsTab.js
Labels: CHANGELOG: Bug fixes, PR: LGTM, PR: for current release, full-stack

#7824 Fix part of #7450: Modify private methods in UserLastExplorationActivityOneOffJobTests
  core/domain/user_jobs_one_off_test.py
Labels: CHANGELOG: Code health

#7747 Wipeout 2.6: Add has_reference_to_user_id to QuestionSummaryMod…
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
Labels: CHANGELOG: Infrastructural changes, PROJECT: Data handling -- @seanlip

#7770 More fixes to the new structures editors
  .github/CODEOWNERS
  core/controllers/story_editor.py
  core/controllers/story_editor_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/controllers/topic_viewer.py
  core/controllers/topic_viewer_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/domain/topic_fetchers.py
  core/templates/dev/head/components/question-directives/modal-templates/change-question-difficulty-modal.template.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/dev/head/components/skill-selector/skill-selector.directive.html
  core/templates/dev/head/components/skill-selector/skill-selector.directive.ts
  core/templates/dev/head/domain/story/editable-story-backend-api.service.spec.ts
  core/templates/dev/head/domain/story/editable-story-backend-api.service.ts
  core/templates/dev/head/domain/topic/EditableTopicBackendApiService.ts
  core/templates/dev/head/domain/topic/EditableTopicBackendApiServiceSpec.ts
  core/templates/dev/head/domain/topic/TopicUpdateService.ts
  core/templates/dev/head/domain/topic/TopicUpdateServiceSpec.ts
  core/templates/dev/head/domain/topic/topic-domain.constants.ajs.ts
  core/templates/dev/head/domain/topic/topic-domain.constants.ts
  core/templates/dev/head/pages/skill-editor-page/modal-templates/add-misconception-modal.directive.html
  core/templates/dev/head/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.html
  core/templates/dev/head/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.ts
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/dev/head/pages/story-editor-page/modal-templates/select-skill-modal.template.html
  core/templates/dev/head/pages/story-editor-page/navbar/story-editor-navbar.directive.html
  core/templates/dev/head/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/dev/head/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/dev/head/pages/story-editor-page/services/story-editor-state.service.ts
  core/templates/dev/head/pages/topic-editor-page/modal-templates/select-skill-and-difficulty-modal.template.html
  core/templates/dev/head/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.html
  core/templates/dev/head/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.ts
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.ts
  core/templates/dev/head/pages/topic-editor-page/subtopics-list-tab/subtopics-list-tab.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.directive.html
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.html
Labels: CHANGELOG: New structures

#7779 Release Automation [Milestone 3]: Added automation for wrapping up the release
  .github/CODEOWNERS
  core/tests/release_sources/UPDATED_AUTHORS
  core/tests/release_sources/feconf.txt
  core/tests/release_sources/feconf_updates_with_extra_line.config
  core/tests/release_sources/invalid_feconf_updates.config
  core/tests/release_sources/invalid_release_mail_message.txt
  core/tests/release_sources/release_summary.md
  core/tests/release_sources/valid_feconf_updates.config
  core/tests/release_sources/valid_release_mail_message.txt
  feconf.py
  release_constants.py
  scripts/common.py
  scripts/common_test.py
  scripts/create_topological_sort_of_all_services.py
  scripts/cut_release_branch.py
  scripts/deploy.py
  scripts/generate_release_updates.py
  scripts/generate_release_updates_test.py
  scripts/release_info.py
  scripts/release_info_test.py
  scripts/typescript_checks.py
  scripts/update_changelog_and_credits.py
  scripts/update_changelog_and_credits_test.py
  scripts/update_configs.py
  scripts/update_configs_test.py
  scripts/wrap_release.py
  scripts/wrap_release_test.py
Labels: CHANGELOG: Infrastructural changes

#7829 More UI improvements to story and skill editors
  core/templates/dev/head/app.constants.ajs.ts
  core/templates/dev/head/app.constants.ts
  core/templates/dev/head/domain/skill/SkillObjectFactory.ts
  core/templates/dev/head/domain/skill/SkillObjectFactorySpec.ts
  core/templates/dev/head/domain/story/StoryContentsObjectFactory.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.directive.html
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.directive.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.ts
  core/templates/dev/head/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.directive.html
  core/templates/dev/head/pages/skill-editor-page/modal-templates/add-misconception-modal.directive.html
  core/templates/dev/head/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/dev/head/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
Labels: CHANGELOG: New structures

#7838 Fix part of #6975 New naming convention applied to 6 folders in /domain/
  core/templates/dev/head/domain/skill/concept-card-backend-api.service.spec.ts
  core/templates/dev/head/domain/skill/concept-card-backend-api.service.ts
  core/templates/dev/head/domain/skill/editable-skill-backend-api.service.spec.ts
  core/templates/dev/head/domain/skill/editable-skill-backend-api.service.ts
  core/templates/dev/head/domain/skill/skill-rights-backend-api.service.spec.ts
  core/templates/dev/head/domain/skill/skill-update.service.ts
  core/templates/dev/head/domain/statistics/learner-answer-details-backend-api.service.spec.ts
  core/templates/dev/head/domain/statistics/learner-answer-details-backend-api.service.ts
  core/templates/dev/head/domain/story/editable-story-backend-api.service.ts
  core/templates/dev/head/domain/story/story-update.service.ts
  core/templates/dev/head/domain/story_viewer/story-viewer-backend-api.service.spec.ts
  core/templates/dev/head/domain/story_viewer/story-viewer-backend-api.service.ts
  core/templates/dev/head/domain/subtopic_viewer/subtopic-viewer-backend-api.service.spec.ts
  core/templates/dev/head/domain/subtopic_viewer/subtopic-viewer-backend-api.service.ts
  core/templates/dev/head/pages/exploration-player-page/services/learner-answer-info.service.ts
Labels: CHANGELOG: Code health

#7837 Fix part of #7450: Modify private methods in DuplicateEmailTests
  core/domain/email_manager.py
  core/domain/email_manager_test.py
Labels: CHANGELOG: Development workflow

#7557 Fix #7229: Adds UI for editor navbar options in small screens
  core/templates/dev/head/pages/exploration-editor-page/editor-navigation/editor-navbar-breadcrumb.directive.html
  core/templates/dev/head/pages/exploration-editor-page/editor-navigation/editor-navigation.directive.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/dev/head/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.directive.html
Labels: CHANGELOG: Bug fixes

#7833 Updated instructions in ubuntu_dockerfile
  ubuntu_dockerfile
Labels: CHANGELOG: Code health, PR: LGTM

#7850 Fix #7663: Fixes collapsible block
  extensions/rich_text_components/Collapsible/directives/collapsible.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#7853 Fix #7802: Fix indexing of explorations after update
  core/controllers/editor_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#7841 Fix part of #7450: Modify private methods in BaseCalculationUnitTests
  extensions/answer_summarizers/models.py
  extensions/answer_summarizers/models_test.py
Labels: CHANGELOG: Development workflow

#7825 Migration background mask service
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/stateful/BackgroundMaskService.ts
  core/templates/dev/head/services/stateful/BackgroundMaskServiceSpec.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#7859 Add QuestionSummaryModelIndexesOneOffJob to job registry
  core/jobs_registry.py
Labels: CHANGELOG: Infrastructural changes, PR: LGTM, PROJECT: Data handling -- @seanlip

#7866 Fix #7855: Change e.message() to e.message
  extensions/interactions/MathExpressionInput/directives/math-expression-input-rules.service.ts
Labels: CHANGELOG: Bug fixes, PR: LGTM, server errors

#7821 Migrating deviceinfo service
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/contextual/DeviceInfoService.ts
Labels: CHANGELOG: Code health, PROJECT: Angular Migration -- @bansalnitish

#7813 Wipeout 2.5: Add has_reference_to_user_id to another models
  core/storage/activity/gae_models.py
  core/storage/activity/gae_models_test.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/classifier/gae_models.py
  core/storage/classifier/gae_models_test.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/config/gae_models.py
  core/storage/config/gae_models_test.py
  core/storage/email/gae_models_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
  core/storage/file/gae_models.py
  core/storage/file/gae_models_test.py
  core/storage/job/gae_models.py
  core/storage/job/gae_models_test.py
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/recommendations/gae_models.py
  core/storage/recommendations/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/skill/gae_models_test.py
  core/storage/statistics/gae_models.py
  core/storage/statistics/gae_models_test.py
  core/storage/storage_models_test.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/storage/suggestion/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/tests/test_utils.py
Labels: CHANGELOG: Infrastructural changes, PROJECT: Data handling -- @seanlip

#7767 Fixes #6240: adding e2e test for assigning and viewing roles
  core/templates/dev/head/pages/admin-page/roles-tab/role-graph.directive.html
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/adminTabFeatures.js
  core/tests/protractor_utils/AdminPage.js
Labels: CHANGELOG: Code health, PROJECT: QA team -- @nithusha21

#7766 Fix part of #6240 Add test for exploration stats on user profile
  core/templates/dev/head/pages/profile-page/profile-page.directive.html
  core/tests/protractor_desktop/profileFeatures.js
  core/tests/protractor_utils/ProfilePage.js
Labels: CHANGELOG: Code health, PROJECT: QA team -- @nithusha21

#7877 Fix #7873: Removes arrow function with function to resolve undefined `this` issue.
  core/templates/dev/head/services/SpeechSynthesisChunkerService.ts
Labels: CHANGELOG: Bug fixes, PR: for current release

#7871 Adds Ewe language for translation and voiceover.
  assets/constants.ts
Labels: CHANGELOG: Translations, PROJECT: Audio and translations -- @DubeySandeep

#7835 Migrated DocumentAttributeCustomization & MetatagCustomization
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/contextual/DocumentAttributeCustomizationService.ts
  core/templates/dev/head/services/contextual/MetaTagCustomizationService.ts
Labels: CHANGELOG: Development workflow, PROJECT: Angular Migration -- @bansalnitish

#7878 Fix #7869: Fixes collection page UI issues
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/collection-player-page/collection-footer/collection-footer.directive.html
  core/templates/dev/head/pages/collection-player-page/collection-player-page.directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release, PROJECT: Bug fixing team -- @nithusha21

#7844 Fix part of #6975 Apply the new naming convention to remaining directories
  core/templates/dev/head/components/button-directives/create-activity-button.directive.ts
  core/templates/dev/head/components/common-layout-directives/common-elements/attribution-guide.directive.ts
  core/templates/dev/head/domain/topic/editable-topic-backend-api.service.spec.ts
  core/templates/dev/head/domain/topic/editable-topic-backend-api.service.ts
  core/templates/dev/head/domain/topic/topic-rights-backend-api.service.spec.ts
  core/templates/dev/head/domain/topic/topic-rights-backend-api.service.ts
  core/templates/dev/head/domain/topic/topic-update.service.spec.ts
  core/templates/dev/head/domain/topic/topic-update.service.ts
  core/templates/dev/head/domain/topic_viewer/topic-viewer-backend-api.service.spec.ts
  core/templates/dev/head/domain/topic_viewer/topic-viewer-backend-api.service.ts
  core/templates/dev/head/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.spec.ts
  core/templates/dev/head/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/dev/head/domain/utilities/browser-checker.service.ts
  core/templates/dev/head/domain/utilities/language-util.service.spec.ts
  core/templates/dev/head/domain/utilities/language-util.service.ts
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.controller.ts
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/services/translation-language.service.ts
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/audio-bar.directive.ts
  core/templates/dev/head/pages/exploration-player-page/services/audio-preloader.service.ts
  core/templates/dev/head/pages/exploration-player-page/services/audio-translation-language.service.ts
  core/templates/dev/head/pages/exploration-player-page/services/exploration-engine.service.ts
  core/templates/dev/head/pages/library-page/search-bar/search-bar.directive.ts
  core/templates/dev/head/pages/preferences-page/preferences-page.controller.ts
  core/templates/dev/head/pages/topic-editor-page/editor-tab/topic-editor-stories-list.directive.ts
  core/templates/dev/head/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/dev/head/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.ts
  core/templates/dev/head/pages/topic-editor-page/subtopics-list-tab/subtopics-list-tab.directive.ts
  core/templates/dev/head/pages/topic-viewer-page/topic-viewer-page.controller.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.ts
  extensions/interactions/InteractiveMap/directives/oppia-interactive-interactive-map.directive.ts
Labels: CHANGELOG: Development workflow, PROJECT: Developer experience -- @kevinlee12

#7887 Routine update of translations.
  assets/i18n/ar.json
  assets/i18n/bn.json
  assets/i18n/da.json
  assets/i18n/diq.json
  assets/i18n/eo.json
  assets/i18n/es.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/hu.json
  assets/i18n/it.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/mk.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sv.json
  assets/i18n/tr.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR: LGTM
