Repository oppia/oppia, pull requests merged in 2019-03, with the labels that each got.

#6280 Fixes #5784 unhandled promise in the ng-audio library.
  manifest.json
Labels: CHANGELOG: Translations

#6320 Adds written translations domain object in frontend for state and question.
  core/templates/dev/head/domain/exploration/ExplorationObjectFactorySpec.js
  core/templates/dev/head/domain/exploration/StatesObjectFactorySpec.js
  core/templates/dev/head/domain/exploration/WrittenTranslationObjectFactory.js
  core/templates/dev/head/domain/exploration/WrittenTranslationObjectFactorySpec.js
  core/templates/dev/head/domain/exploration/WrittenTranslationsObjectFactory.js
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.js
  core/templates/dev/head/domain/question/QuestionUpdateService.js
  core/templates/dev/head/domain/question/QuestionUpdateServiceSpec.js
  core/templates/dev/head/domain/state/StateObjectFactory.js
  core/templates/dev/head/pages/collection_editor/collection_editor.html
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/exploration_editor/ChangeListService.js
  core/templates/dev/head/pages/exploration_editor/ExplorationStatesService.js
  core/templates/dev/head/pages/exploration_editor/ExplorationStatesServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/ExplorationEditorTabSpec.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/SolutionVerificationServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/StateNameEditorDirectiveSpec.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/TrainingDataServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_editor/history_tab/CompareVersionsServiceSpec.js
  core/templates/dev/head/pages/exploration_editor/statistics_tab/StateImprovementSuggestionServiceSpec.js
  core/templates/dev/head/pages/exploration_player/AnswerClassificationServiceSpec.js
  core/templates/dev/head/pages/exploration_player/AudioPreloaderServiceSpec.js
  core/templates/dev/head/pages/exploration_player/ExtractImageFilenamesFromStateServiceSpec.js
  core/templates/dev/head/pages/exploration_player/ImagePreloaderServiceSpec.js
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/state_editor/StateContentEditorDirectiveSpec.js
  core/templates/dev/head/pages/state_editor/StateInteractionEditorDirectiveSpec.js
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  core/templates/dev/head/services/StateTopAnswersStatsServiceSpec.js
Labels: CHANGELOG: Translations

#6327 Added subtopic_viewer (SubtopicPageDataHandler), which returns page contents for a subtopic.
  core/controllers/acl_decorators.py
  core/controllers/subtopic_viewer.py
  core/controllers/subtopic_viewer_test.py
  core/domain/subtopic_page_services.py
  core/domain/subtopic_page_services_test.py
  feconf.py
  main.py
Labels: CHANGELOG: New structures

#6352 Adds QA team as a codeowner for test files.
  .github/CODEOWNERS
Labels: CHANGELOG: Development workflow, PR: LGTM

#6357 Generalized landing page based on subject and topic.
  assets/images/fractions_landing/student/hero_bakery_combined.png
  assets/images/fractions_landing/student/hero_bakery_combined_mobile.png
  assets/images/fractions_landing/student/intro_matthew.svg
  assets/images/fractions_landing/student/lessons_lessons.svg
  assets/images/fractions_landing/student/storytelling_combined.png
  assets/images/fractions_landing/teachers/story_otter_combined.png
  assets/images/fractions_landing/teachers/storytelling_teacher_combined.png
  assets/images/landing/maths/fractions/matthew_fractions.png
  assets/images/landing/maths/fractions/matthew_paper.png
  assets/images/landing/maths/ratios/ratios_James.png
  assets/images/landing/maths/ratios/ratios_question.png
  assets/videos/landing/maths/fractions/fractions_video.mp4
  assets/videos/landing/maths/ratios/ratios_video.mp4
  core/controllers/custom_landing_pages.py
  core/controllers/custom_landing_pages_test.py
  core/templates/dev/head/pages/landing/TopicLandingPage.js
  core/templates/dev/head/pages/landing/fractions/Fractions.js
  core/templates/dev/head/pages/landing/fractions/landing_page_student.html
  core/templates/dev/head/pages/landing/fractions/landing_page_teacher.html
  core/templates/dev/head/pages/landing/topic_landing_page.html
  core/templates/dev/head/services/SiteAnalyticsService.js
  feconf.py
  main.py
Labels: CHANGELOG: Infrastructural changes

#6356 Fix #6301: fixes Dev-mode label showing up for a brief amount of time on page load.
  core/controllers/base_test.py
  core/templates/dev/head/pages/base.html
  core/tests/build_sources/templates/base.html
Labels: CHANGELOG: Bug fixes

#6334 Moved state related components in a separate dir.
  .github/CODEOWNERS
  core/templates/dev/head/components/state/AnswerGroupEditorDirective.js
  core/templates/dev/head/components/state/HintEditorDirective.js
  core/templates/dev/head/components/state/OutcomeDestinationEditorDirective.js
  core/templates/dev/head/components/state/OutcomeEditorDirective.js
  core/templates/dev/head/components/state/OutcomeFeedbackEditorDirective.js
  core/templates/dev/head/components/state/ResponseHeaderDirective.js
  core/templates/dev/head/components/state/RuleEditorDirective.js
  core/templates/dev/head/components/state/RuleTypeSelectorDirective.js
  core/templates/dev/head/components/state/SolutionEditorDirective.js
  core/templates/dev/head/components/state/SolutionExplanationEditorDirective.js
  core/templates/dev/head/components/state/answer_group_editor_directive.html
  core/templates/dev/head/components/state/hint_editor_directive.html
  core/templates/dev/head/components/state/outcome_destination_editor_directive.html
  core/templates/dev/head/components/state/outcome_editor_directive.html
  core/templates/dev/head/components/state/outcome_feedback_editor_directive.html
  core/templates/dev/head/components/state/response_header_directive.html
  core/templates/dev/head/components/state/rule_editor_directive.html
  core/templates/dev/head/components/state/solution_editor_directive.html
  core/templates/dev/head/components/state/solution_explanation_editor_directive.html
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
Labels: CHANGELOG: Code health

#6319 Fixes #6316: Refactor base.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/collection_editor/collection_editor.html
  core/templates/dev/head/pages/collection_player/collection_player.html
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/pages/learner_dashboard/learner_dashboard.html
  core/templates/dev/head/pages/library/library.html
  core/templates/dev/head/pages/preferences/preferences.html
  core/templates/dev/head/pages/profile/profile.html
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  extensions/interactions/CodeRepl/CodeRepl.html
  extensions/interactions/MultipleChoiceInput/MultipleChoiceInput.html
  extensions/interactions/PencilCodeEditor/PencilCodeEditor.html
  extensions/interactions/TextInput/TextInput.html
Labels: CHANGELOG: Code health

#6309 Replace google-map with openStreetMap in map interaction.
  core/templates/dev/head/app.js
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/exploration_player/supplemental_card_directive.html
  extensions/dependencies/dependencies_config.py
  extensions/dependencies/google_maps.html
  extensions/dependencies/ui_leaflet.html
  extensions/interactions/InteractiveMap/InteractiveMap.py
  extensions/interactions/InteractiveMap/directives/OppiaInteractiveInteractiveMapDirective.js
  extensions/interactions/InteractiveMap/directives/OppiaResponseInteractiveMapDirective.js
  extensions/interactions/InteractiveMap/directives/interactive_map_interaction_directive.html
  extensions/interactions/InteractiveMap/directives/interactive_map_response_directive.html
  extensions/interactions/InteractiveMap/static/marker-icon-2x.png
  extensions/interactions/InteractiveMap/static/marker-icon.png
  extensions/interactions/InteractiveMap/static/marker-shadow.png
  extensions/interactions/InteractiveMap/static/mascot-marker-icon.png
  extensions/objects/templates/CoordTwoDimEditor.js
  extensions/objects/templates/coord_two_dim_editor_directive.html
  manifest.json
  scripts/install_third_party.sh
  tsconfig.json
Labels: CHANGELOG: Improvements to editors and players

#6286 Fix #2584: Replace default text while inserting links with placeholder
  assets/rich_text_components_definitions.js
  core/domain/rte_component_registry_test.py
  extensions/objects/models/objects.py
  extensions/objects/templates/SanitizedUrlEditor.js
  extensions/objects/templates/sanitized_url_editor_directive.html
  schema_utils.py
  schema_utils_test.py
Labels: CHANGELOG: Improvements to editors and players

#6315 New Structures e2e tests
  .travis.yml
  core/templates/dev/head/components/state/RuleTypeSelectorDirective.js
  core/templates/dev/head/components/state/outcome_editor_directive.html
  core/templates/dev/head/components/state/rule_editor_directive.html
  core/templates/dev/head/pages/questions_list/questions_list_directive.html
  core/templates/dev/head/pages/skill_editor/editor_tab/add_misconception_modal_directive.html
  core/templates/dev/head/pages/skill_editor/editor_tab/add_worked_example_modal_directive.html
  core/templates/dev/head/pages/skill_editor/editor_tab/delete_misconception_modal_directive.html
  core/templates/dev/head/pages/skill_editor/editor_tab/delete_worked_example_modal_directive.html
  core/templates/dev/head/pages/skill_editor/editor_tab/skill_concept_card_editor_directive.html
  core/templates/dev/head/pages/skill_editor/editor_tab/skill_description_editor_directive.html
  core/templates/dev/head/pages/skill_editor/editor_tab/skill_misconceptions_editor_directive.html
  core/templates/dev/head/pages/skill_editor/questions_tab/question_editor_modal_directive.html
  core/templates/dev/head/pages/skill_editor/skill_editor_navbar_directive.html
  core/templates/dev/head/pages/skill_editor/skill_editor_pre_publish_modal_directive.html
  core/templates/dev/head/pages/story_editor/main_editor/delete_chapter_modal_directive.html
  core/templates/dev/head/pages/story_editor/main_editor/new_chapter_title_modal_directive.html
  core/templates/dev/head/pages/story_editor/main_editor/story_editor_directive.html
  core/templates/dev/head/pages/story_editor/main_editor/story_node_editor_directive.html
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/story_editor/story_editor_navbar_directive.html
  core/templates/dev/head/pages/topic_editor/main_editor/new_story_title_editor_directive.html
  core/templates/dev/head/pages/topic_editor/main_editor/stories_list_directive.html
  core/templates/dev/head/pages/topic_editor/main_editor/topic_editor_tab_directive.html
  core/templates/dev/head/pages/topic_editor/subtopics_editor/new_subtopic_title_modal_directive.html
  core/templates/dev/head/pages/topic_editor/subtopics_editor/subtopics_list_tab_directive.html
  core/templates/dev/head/pages/topic_editor/topic_editor_navbar_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/assign_skill_to_topic_modal_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/select_topics_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/skills_list_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/topics_list_directive.html
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/SkillEditorPage.js
  core/tests/protractor_utils/StoryEditorPage.js
  core/tests/protractor_utils/TopicEditorPage.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
Labels: CHANGELOG: Testing coverage, PR: for current release

#6288 Fixes #6226: Moves generating CKEditor widgets from app.js to separate file.
  core/templates/dev/head/app.js
  core/templates/dev/head/components/CkEditorWidgetsInitializer.js
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/pages/header_js_libs.html
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/tests/form_builder_test_page.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
Labels: CHANGELOG: Code health

#6291 Fix part of #5134: learner_playlist_services - fix grammar and whitespace
  core/domain/learner_playlist_services_test.py
Labels: CHANGELOG: Testing coverage

#6314 Fixed issues from intuitiveness testing on New Structures
  assets/constants.js
  core/controllers/admin.py
  core/controllers/concept_card_viewer_test.py
  core/controllers/editor_test.py
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/storage/topic/gae_models.py
  core/templates/dev/head/components/top_navigation_bar/TopNavigationBarDirective.js
  core/templates/dev/head/domain/question/QuestionObjectFactory.js
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.js
  core/templates/dev/head/domain/skill/ConceptCardObjectFactory.js
  core/templates/dev/head/domain/skill/SkillUpdateService.js
  core/templates/dev/head/domain/user/UserInfoObjectFactory.js
  core/templates/dev/head/domain/user/UserInfoObjectFactorySpec.js
  core/templates/dev/head/pages/questions_list/QuestionsListDirective.js
  core/templates/dev/head/pages/questions_list/questions_list_directive.html
  core/templates/dev/head/pages/skill_editor/editor_tab/skill_description_editor_directive.html
  core/templates/dev/head/pages/skill_editor/editor_tab/worked_example_editor_directive.html
  core/templates/dev/head/pages/topic_editor/topic_editor_navbar_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/SkillsListDirective.js
  core/templates/dev/head/pages/topics_and_skills_dashboard/skills_list_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/topics_and_skills_dashboard.html
  core/tests/build_sources/assets/constants.js
  core/tests/test_utils.py
Labels: CHANGELOG: New structures, PR: for current release

#6243 Fixes #6199: Hint tabs failed to open when active hint deleted
  core/templates/dev/head/pages/state_editor/StateHintsEditorDirective.js
Labels: CHANGELOG: Bug fixes

#6365 Fix part of #5002: Moved SITE_FEEDBACK_FORM_URL from GLOBALS to constants.js.
  assets/constants.js
  core/controllers/base.py
  core/controllers/base_test.py
  core/templates/dev/head/pages/Base.js
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/tests/jinja_escaping.html
  core/tests/build_sources/assets/constants.js
  core/tests/build_sources/templates/base.html
  core/tests/build_sources/templates/pages/Base.js
  feconf.py
Labels: CHANGELOG: Code health

#6392 Temporarily make seanlip owner of Analytics/Statistics
  .github/CODEOWNERS
Labels: PR: LGTM

#6241 Adds written translation property in skillContents and subtopic.
  core/controllers/concept_card_viewer_test.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/topic_editor_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_jobs_one_off_test.py
  core/domain/skill_services_test.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services_test.py
  core/domain/topic_domain_test.py
  feconf.py
Labels: CHANGELOG: Translations, PR: for current release

#6385 Added pending New Structures e2e tests
  core/templates/dev/head/pages/topic_editor/questions/select_skill_modal_directive.html
  core/templates/dev/head/pages/topic_editor/subtopics_editor/subtopic_editor_modal_directive.html
  core/templates/dev/head/pages/topic_editor/subtopics_editor/subtopics_list_tab_directive.html
  core/templates/dev/head/pages/topic_editor/topic_editor_navbar_directive.html
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_utils/SkillEditorPage.js
  core/tests/protractor_utils/TopicEditorPage.js
Labels: CHANGELOG: Testing coverage

#6306 Fix part of #5134: Increased Coverage from 89% to 100% for core.domain.email_manager.py
  core/domain/email_manager_test.py
Labels: CHANGELOG: Testing coverage

#6407 Removes unwanted validation check and related tests from exploration.
  core/domain/exp_domain.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
Labels: CHANGELOG: Bug fixes, PR: for current release

#6372 Fix #6370: Fix Title and Goal label alignment
  core/templates/dev/head/pages/exploration_editor/settings_tab/SettingsTab.js
  core/templates/dev/head/pages/exploration_editor/settings_tab/settings_tab.html
Labels: CHANGELOG: Improvements to editors and players

#6408 Make new model IDs only contain alphanumeric characters.
  utils.py
  utils_test.py
Labels: CHANGELOG: Infrastructural changes, PR: for current release

#6381 Fix #6377: Create Practice Sessions Page Skeleton
  core/controllers/practice_sessions.py
  core/controllers/practice_sessions_test.py
  core/templates/dev/head/pages/practice_session/PracticeSession.js
  core/templates/dev/head/pages/practice_session/practice_session.html
  core/templates/dev/head/services/contextual/UrlService.js
  core/templates/dev/head/services/contextual/UrlServiceSpec.js
  feconf.py
  main.py
Labels: CHANGELOG: New structures

#6401 Fixes part of #5002: Remove logoutUrl from HTML
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/creator_dashboard.py
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/learner_dashboard.py
  core/controllers/profile.py
  core/controllers/skill_editor.py
  core/controllers/story_editor.py
  core/controllers/topic_editor.py
  core/controllers/topics_and_skills_dashboard.py
  core/platform/users/gae_current_user_services.py
  core/platform/users/gae_current_user_services_test.py
  core/templates/dev/head/app.js
  core/templates/dev/head/components/top_navigation_bar/TopNavigationBarDirective.js
  core/templates/dev/head/pages/admin/Admin.js
  core/templates/dev/head/pages/admin/AdminNavbarDirective.js
  core/templates/dev/head/pages/admin/admin.html
  core/templates/dev/head/pages/admin/admin_navbar_directive.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/profile/Profile.js
  core/templates/dev/head/pages/signup/Signup.js
  core/templates/dev/head/services/UserService.js
  core/tests/build_sources/templates/base.html
  core/tests/test_utils.py
  feconf.py
  main.py
Labels: CHANGELOG: Code health

#6146 Fix #6100 : Added verbose and non verbose mode in the pre submit check
  .travis.yml
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Development workflow

#6304 Fix #6248 : Prevent guest and unauthorized users from drag-and-drop audio in translation tab.
  core/templates/dev/head/pages/exploration_editor/translation_tab/AudioTranslationBarDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/audio_translation_bar_directive.html
Labels: CHANGELOG: Translations, PR: LGTM, audio-translation, frontend

#6358 Fix #6325 : modify style of active and inactive submenus on learner dashboard
  core/templates/dev/head/pages/learner_dashboard/learner_dashboard.html
Labels: CHANGELOG: Bug fixes

#6384 Fixes #6205 : Disabled the reject button, enabled only when some review is entered.
  core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForEditorView.js
  core/templates/dev/head/pages/suggestion_editor/editor_view_suggestion_modal_directive.html
Labels: CHANGELOG: Bug fixes

#6399 Fixes #6316: Refactor base.html
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/library/library.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/topics_and_skills_dashboard.html
Labels: CHANGELOG: Code health

#6438 Reorder CODEOWNERS to ensure that the most important rules are at the end.
  .github/CODEOWNERS
Labels: CHANGELOG: Development workflow

#6437 Fix #6436: Adds removeDuplicatesInArray filter in exploration_player.
  core/templates/dev/head/pages/exploration_player/exploration_player.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#6420 Change the name of the schema_version field in story models.
  core/domain/skill_jobs_one_off_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_jobs_one_off.py
  core/domain/story_jobs_one_off_test.py
  core/domain/story_services.py
  core/storage/story/gae_models.py
  core/templates/dev/head/pages/story_editor/StoryEditorStateServiceSpec.js
  core/tests/test_utils.py
Labels: CHANGELOG: Infrastructural changes, PR: for current release

#6435 Fixes #6414: REQUIRE_PAYLOAD_CSRF_CHECK Flag Flipped in Error404Handler class.
  core/controllers/base.py
  core/controllers/base_test.py
Labels: CHANGELOG: Bug fixes

#6410 Fixed part of #5002: Removed iframed from GLOBALS
  core/templates/dev/head/components/attribution_guide/AttributionGuideDirective.js
  core/templates/dev/head/pages/Base.js
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/exploration_player/ExplorationFooterDirective.js
  core/tests/build_sources/templates/base.html
  core/tests/build_sources/templates/pages/Base.js
Labels: CHANGELOG: Code health

#6360 Fixes part of #5134 : Increasing the test coverage of subtopic_page_services.py from 64% to 100%.
  core/domain/subtopic_page_services.py
  core/domain/subtopic_page_services_test.py
Labels: CHANGELOG: Testing coverage

#6398 Added webhook links for Travis, CircleCI & Codecov
  .circleci/config.yml
  .travis.yml
Labels: CHANGELOG: Development workflow

#6355 Fix #6294: Upgrade BeautifulSoup version from 4.6.0 to 4.7.1
  appengine_config.py
  core/tests/gae_suite.py
  manifest.json
  scripts/pre_commit_linter.py
Labels: CHANGELOG: Infrastructural changes

#6415 Fixes part of #6387: Remove globals from library.html and preferences.html
  assets/constants.js
  core/controllers/admin.py
  core/controllers/library.py
  core/controllers/profile.py
  core/templates/dev/head/domain/utilities/LanguageUtilService.js
  core/templates/dev/head/domain/utilities/LanguageUtilServiceSpec.js
  core/templates/dev/head/pages/library/Library.js
  core/templates/dev/head/pages/library/LibraryFooter.js
  core/templates/dev/head/pages/library/LibrarySpec.js
  core/templates/dev/head/pages/library/SearchBarDirective.js
  core/templates/dev/head/pages/library/library.html
  core/templates/dev/head/pages/preferences/Preferences.js
  core/templates/dev/head/pages/preferences/preferences.html
  core/tests/build_sources/assets/constants.js
  feconf.py
  utils.py
Labels: CHANGELOG: Code health

#6470 Fixes #6426: Added regex check for exploration id & nodes now can be saved with null exploration ids.
  core/templates/dev/head/domain/story/StoryContentsObjectFactory.js
  core/templates/dev/head/pages/story_editor/main_editor/StoryNodeEditorDirective.js
  core/templates/dev/head/pages/story_editor/main_editor/story_node_editor_directive.html
Labels: CHANGELOG: Bug fixes, PR: for current release

#6166 Fixes part of #5898: Added Google Analytics for translation tab
  core/templates/dev/head/pages/exploration_editor/translation_tab/AudioTranslationBarDirective.js
  core/templates/dev/head/services/SiteAnalyticsService.js
Labels: CHANGELOG: Translations

#6463 Fix #6461: Changing error status for missing csrf_token from 500 to 401.
  core/controllers/base.py
  core/controllers/base_test.py
Labels: CHANGELOG: Bug fixes

#6395 Automate changelog generation in the release_info script
  scripts/install_third_party.sh
  scripts/release_info.py
Labels: CHANGELOG: Development workflow

#6363 Add option not to start browser window to start.sh
  scripts/start.sh
Labels: CHANGELOG: Development workflow

#6448 Fixes #4632: Fixes learn again-continue button
  core/templates/dev/head/pages/exploration_player/ConversationSkinDirective.js
Labels: CHANGELOG: Bug fixes

#6450 Fixes #4931: Fixes frozen editor tour
  core/templates/dev/head/pages/exploration_editor/ExplorationEditor.js
Labels: CHANGELOG: Bug fixes

#6466 Fix part of issue #6316: Remove some scripts from base.html which were not needed in it.
  core/templates/dev/head/pages/base.html
  core/templates/dev/head/pages/collection_editor/collection_editor.html
  core/templates/dev/head/pages/collection_player/collection_player.html
  core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html
  core/templates/dev/head/pages/exploration_editor/exploration_editor.html
  core/templates/dev/head/pages/exploration_player/exploration_player.html
  core/templates/dev/head/pages/learner_dashboard/learner_dashboard.html
  core/templates/dev/head/pages/library/library.html
  core/templates/dev/head/pages/moderator/moderator.html
  core/templates/dev/head/pages/preferences/preferences.html
  core/templates/dev/head/pages/signup/signup.html
  core/templates/dev/head/pages/skill_editor/skill_editor.html
  core/templates/dev/head/pages/story_editor/story_editor.html
  core/templates/dev/head/pages/tests/form_builder_test_page.html
  core/templates/dev/head/pages/topic_editor/topic_editor.html
Labels: CHANGELOG: Code health

#6506 Fixed issues with New Structures
  core/controllers/topics_and_skills_dashboard_test.py
  core/templates/dev/head/components/state/outcome_editor_directive.html
  core/templates/dev/head/components/state/response_header_directive.html
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/domain/question/QuestionObjectFactory.js
  core/templates/dev/head/domain/question/QuestionObjectFactorySpec.js
  core/templates/dev/head/domain/topics_and_skills_dashboard/TopicsAndSkillsDashboardBackendApiService.js
  core/templates/dev/head/pages/exploration_editor/editor_tab/add_answer_group_modal_directive.html
  core/templates/dev/head/pages/skill_editor/skill_editor_navbar_directive.html
  core/templates/dev/head/pages/state_editor/StateResponsesDirective.js
  core/templates/dev/head/pages/state_editor/StateSolutionEditorDirective.js
  core/templates/dev/head/pages/state_editor/state_properties/StateEditorService.js
  core/templates/dev/head/pages/state_editor/state_solution_editor_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/SkillsListDirective.js
  core/templates/dev/head/pages/topics_and_skills_dashboard/merge_skill_modal_directive.html
  core/templates/dev/head/pages/topics_and_skills_dashboard/skills_list_directive.html
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  feconf.py
  main.py
Labels: CHANGELOG: Bug fixes, PR: for current release

#6514 Fixed the backend issues with some new structure models
  core/controllers/question_editor.py
  core/controllers/suggestion_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/tests/test_utils.py
  feconf.py
Labels: PR: for current release

#6432 Fix part of #5134, more robust testing to schema_utils.py
  schema_utils.py
  schema_utils_test.py
Labels: CHANGELOG: Testing coverage

#6502 Support question difficulty per skill
  assets/constants.js
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/reader_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/suggestion_registry.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
Labels: PR: for current release

#6350 Fix #6322: Add IsProperSubsetOf to item-selection interaction
  data/explorations/all_interactions/all_interactions.yaml
  extensions/interactions/ItemSelectionInput/directives/ItemSelectionInputRulesService.js
  extensions/interactions/ItemSelectionInput/directives/ItemSelectionInputRulesServiceSpec.js
  extensions/interactions/ItemSelectionInput/directives/ItemSelectionInputValidationService.js
  extensions/interactions/ItemSelectionInput/directives/ItemSelectionInputValidationServiceSpec.js
  extensions/interactions/rule_templates.json
Labels: CHANGELOG: Improvements to editors and players

#6447 Fixes #6206: Fix enlargement of text in RTE
  core/templates/dev/head/css/oppia.css
Labels: CHANGELOG: Bug fixes

#6428 Fix part of #4057: Increase test coverage to 100% for HintObjectFactory.js and InteractionObjectFactory.js.
  core/templates/dev/head/domain/exploration/HintObjectFactorySpec.js
  core/templates/dev/head/domain/exploration/InteractionObjectFactorySpec.js
Labels: CHANGELOG: Testing coverage, PR: LGTM

#6526 Fix lint errors on develop
  core/domain/suggestion_registry.py
  core/templates/dev/head/pages/topics_and_skills_dashboard/SkillsListDirective.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
Labels: PR: for current release

#6290 Fix part of #5898: Aria model with test case
  core/templates/dev/head/pages/exploration_editor/translation_tab/AudioTranslationBarDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/TranslatorOverviewDirective.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/audio_translation_bar_directive.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/state_translation_directive.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/translator_overview_directive.html
  core/tests/protractor_desktop/ExplorationTranslationTab.js
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
Labels: CHANGELOG: Translations

#6340 Fix #5921: Adds e2e test for uploading audio in translation tab
  core/templates/dev/head/components/forms/audio_file_uploader_directive.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/add_audio_translation_modal_directive.html
  core/templates/dev/head/pages/exploration_editor/translation_tab/audio_translation_bar_directive.html
  core/tests/protractor_desktop/ExplorationTranslationTab.js
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
Labels: CHANGELOG: Translations

#6261 Added unit test for translation_tab/TranslationStatusService.js
  core/templates/dev/head/pages/exploration_editor/translation_tab/TranslationStatusServiceSpec.js
Labels: CHANGELOG: Testing coverage

#6518 Fixes #6181:Removed the exception which occured during clearing search index
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/domain/search_services_test.py
Labels: CHANGELOG: Bug fixes

#6535 Update authors and changelog for v2.8.0.
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/dev/head/pages/about/about.html
Labels: PR: for current release

#6373 Question Player Backend API Service
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/templates/dev/head/domain/question/QuestionPlayerBackendApiService.js
  core/templates/dev/head/domain/question/QuestionPlayerBackendApiServiceSpec.js
  feconf.py
  main.py
Labels: CHANGELOG: New structures
