Repository oppia/oppia, pull requests merged in 2020-11, with the labels that each got.

#11082 Wipeout 4.5: Add username confirmation field into the delete account modal
  assets/i18n/ar.json
  assets/i18n/en.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/kab.json
  assets/i18n/pt-br.json
  assets/i18n/tr.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  core/templates/pages/delete-account-page/delete-account-page.component.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.controller.spec.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.controller.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.template.html
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11103 Fix part of #10474: Cover I18nLanguageCodeService with strict checks
  core/templates/services/i18n-language-code.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10962 Fixes part of #9749: Migrates state-param-changes-editor.component to Angular
  core/templates/pages/exploration-editor-page/editor-tab/state-param-changes-editor/state-param-changes-editor.component.html
  core/templates/pages/exploration-editor-page/editor-tab/state-param-changes-editor/state-param-changes-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/state-param-changes-editor/state-param-changes-editor.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/param-changes-editor/param-changes-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/param-changes-editor/param-changes-editor.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#10813 Fix part of #8472 : Migrate TranslationTabActiveModeService to Angular8
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-mode.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-mode.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-status-graph/state-translation-status-graph.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.spec.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11099 Fix part of #10474: Added AutoplayedVideosService
  core/templates/services/autoplayed-videos.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11053 Fix part of #9749: Migrates collection-navbar.component.ts
  core/templates/App.ts
  core/templates/pages/collection-player-page/collection-navbar/collection-navbar.component.html
  core/templates/pages/collection-player-page/collection-navbar/collection-navbar.component.ts
  core/templates/pages/collection-player-page/collection-navbar/collection-navbar.directive.ts
  core/templates/pages/collection-player-page/collection-player-page.import.ts
  core/templates/pages/collection-player-page/collection-player-page.module.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11092 Fixes UI issues in the new viewer pages
  assets/i18n/en.json
  assets/i18n/fr.json
  assets/i18n/kab.json
  assets/i18n/pt-br.json
  assets/i18n/tr.json
  assets/i18n/zh-hant.json
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/components/summary-tile/story-summary-tile.directive.html
  core/templates/components/summary-tile/subtopic-summary-tile.directive.html
  core/templates/components/summary-tile/topic-summary-tile.directive.html
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/library-page/search-bar/search-bar.component.html
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.html
  core/templates/pages/story-viewer-page/navbar-breadcrumb/story-viewer-navbar-breadcrumb.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.mainpage.html
  core/templates/pages/subtopic-viewer-page/navbar-pre-logo-action/subtopic-viewer-navbar-pre-logo-action.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.component.html
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11102 Upgrade libs
  package.json
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11109 Adds new site languages Kabyle & Turkish
  assets/constants.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: LGTM

#10776 Rewriting the Extensions Suite
  core/tests/protractor_desktop/extensions.js
  core/tests/protractor_utils/ExplorationEditorPage.js
  core/tests/protractor_utils/ExplorationEditorSettingsTab.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
  core/tests/protractor_utils/LibraryPage.js
Labels: PR: LGTM

#11093 Add job to rename the ExplorationOpportunitySummaryModel properties
  app_dev.yaml
  core/domain/opportunity_domain.py
  core/domain/opportunity_domain_test.py
  core/domain/opportunity_jobs_one_off.py
  core/domain/opportunity_jobs_one_off_test.py
  core/domain/opportunity_services.py
  core/jobs_registry.py
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
  index.yaml
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#11120 Fix #11045: Revert codeownership change back to @nithusha21
  .github/CODEOWNERS
Labels: PR: LGTM

#11024 Fix #10552: Add test coverage for eslint checks
  .gitignore
  package.json
  scripts/linters/custom_eslint_checks/rules/break-after-parens.js
  scripts/linters/custom_eslint_checks/rules/break-after-parens.spec.js
  scripts/linters/custom_eslint_checks/rules/dependency-checks.js
  scripts/linters/custom_eslint_checks/rules/dependency-checks.spec.js
  scripts/linters/custom_eslint_checks/rules/test-message-style.js
  scripts/linters/pre_commit_linter.py
  scripts/run_custom_eslint_tests.py
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11122 Add RatioExpressionInput to android validation constants; Fix font size issues with classroom topic cards;
  core/domain/android_validation_constants.py
  core/domain/state_domain_test.py
  core/templates/components/summary-tile/topic-summary-tile.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11063 Misc. fixes for contributor dashboard email notifications
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/domain/email_manager.py
  index.yaml
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#10973 Fixes part of #10415: Refactoring story validators
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/story_validators.py
  core/domain/story_validators_test.py
Labels: PR: LGTM

#11080 Improve code health of test_utils
  .isort.cfg
  core/controllers/reader_test.py
  core/domain/takeout_service_test.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_test.py
  core/platform/app_identity/gae_app_identity_services_test.py
  core/platform/datastore/gae_datastore_services.py
  core/tests/test_utils.py
  core/tests/test_utils_test.py
  requirements.in
  requirements.txt
Labels: PR CHANGELOG: Cloud NDB Migration -- @brianrodri, dependencies

#11127 Fix issues with ExplorationSnapshotMetadataModelAuditOneOffJob due to large output
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#11077 Fixes part of #10415: Refactor email validators
  core/domain/email_validators.py
  core/domain/email_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
Labels: PR: LGTM

#11040 Fix part of #8472 : Migrate EditableQuestionBackendApiService to Angular8
  core/templates/components/question-directives/modal-templates/change-question-difficulty-modal.controller.spec.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.spec.ts
  core/templates/components/question-directives/question-player/services/question-player-state.service.spec.ts
  core/templates/components/question-directives/question-player/skill-mastery-modal.controller.spec.ts
  core/templates/components/skill-selector/merge-skill-modal.controller.spec.ts
  core/templates/components/skill-selector/select-skill-modal.controller.spec.ts
  core/templates/domain/learner_dashboard/learner-playlist.service.spec.ts
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/question/QuestionObjectFactorySpec.ts
  core/templates/domain/question/editable-question-backend-api.service.spec.ts
  core/templates/domain/question/editable-question-backend-api.service.ts
  core/templates/domain/question/question-update.service.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/services/question-suggestion.service.spec.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/question-validation.service.spec.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11086 Improve lesson attribution experience
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.html
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.ts
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.ts
  core/templates/domain/summary/exploration-summary-backend-api.service.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.html
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/attribution.service.spec.ts
  core/templates/services/attribution.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10944 Fix part of #5914: Add testing for Takeout export policies
  core/domain/takeout_service.py
  core/domain/takeout_service_test.py
  core/storage/activity/gae_models.py
  core/storage/audit/gae_models.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/classifier/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/config/gae_models.py
  core/storage/email/gae_models.py
  core/storage/email/gae_models_test.py
  core/storage/exploration/gae_models.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
  core/storage/improvements/gae_models.py
  core/storage/improvements/gae_models_test.py
  core/storage/job/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/question/gae_models.py
  core/storage/recommendations/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/statistics/gae_models.py
  core/storage/storage_models_test.py
  core/storage/story/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/topic/gae_models.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#11064 Fix part of #10798
  core/tests/protractor_utils/ContributorDashboardTranslateTextTab.js
Labels: PR: LGTM

#10378 Fix part of #8472: Migrate editable-story-backend-api.service.ts file to angular 8
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/story/StoryObjectFactory.ts
  core/templates/domain/story/editable-story-backend-api.service.spec.ts
  core/templates/domain/story/editable-story-backend-api.service.ts
  core/templates/domain/story/story-update.service.spec.ts
  core/templates/pages/story-editor-page/chapter-editor/chapter-editor-tab.component.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.spec.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
  core/templates/pages/story-editor-page/story-editor-page.component.spec.ts
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-story-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.spec.ts
  core/templates/pages/topic-editor-page/rearrange-skills-in-subtopics-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.spec.ts
  core/templates/pages/topic-editor-page/services/subtopic-validation.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.spec.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11071 Wipeout 8.14: Hard deletion for models marked as deleted and other small stuff
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/controllers/editor_test.py
  core/controllers/email_dashboard.py
  core/controllers/email_dashboard_test.py
  core/controllers/tasks.py
  core/domain/base_model_validators.py
  core/domain/base_model_validators_test.py
  core/domain/cron_services.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/rights_manager.py
  core/domain/skill_validators_test.py
  core/domain/story_validators_test.py
  core/domain/taskqueue_services.py
  core/domain/user_query_jobs_one_off.py
  core/domain/user_query_jobs_one_off_test.py
  core/domain/user_query_services.py
  core/domain/user_services.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/platform/datastore/gae_datastore_services.py
  core/storage/base_model/gae_models.py
  core/storage/improvements/gae_models.py
  cron.yaml
  main_cron.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#11119 Fix part of #10474: Cover Logger Service and Loader Service with strict checks
  core/templates/services/contextual/logger.service.spec.ts
  core/templates/services/loader.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11153 Remove codecov from README
  .github/README.md
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11135 Fixes Part of #8472: Migrate solution verification service
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/solution-verification.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/solution-verification.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/teach-oppia-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-panel.component.spec.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11031 Fix part of #4057: Added a test file for pencil-code-editor-validation.service.ts.
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR: LGTM

#11100 Fix part of #10474: Cover more files with strict checks
  core/templates/services/code-normalizer.service.ts
  core/templates/services/construct-translation-ids.service.spec.ts
  core/templates/services/id-generation.service.spec.ts
  tsconfig-strict.json
Labels: PR: LGTM

#11021 Fix part of #8472 Migrate learner answer info service to angular 8
  core/templates/domain/statistics/learner-answer-details-backend-api.service.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.ts
  core/templates/pages/exploration-player-page/services/answer-classification.service.ts
  core/templates/pages/exploration-player-page/services/learner-answer-info.service.spec.ts
  core/templates/pages/exploration-player-page/services/learner-answer-info.service.ts
Labels: PR: LGTM

#10995 Fix part of #10415: Refactor audit validators
  core/domain/audit_validators.py
  core/domain/audit_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
Labels: PR: LGTM

#11011 Fix part of #8668 Add JSDocs to window-ref.service.ts
  core/templates/services/contextual/window-ref.service.ts
Labels: PR: LGTM

#11139 Story viewer signup flow
  .circleci/config.yml
  assets/i18n/en.json
  core/controllers/story_viewer.py
  core/controllers/story_viewer_test.py
  core/templates/domain/story_viewer/story-viewer-domain.constants.ajs.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.component.spec.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.ts
  core/templates/services/user.service.spec.ts
  core/templates/services/user.service.ts
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/topicAndStoryViewer.js
  core/tests/protractor_utils/StoryEditorPage.js
  core/tests/protractor_utils/TopicAndStoryViewerPage.js
  core/tests/protractor_utils/TopicEditorPage.js
  core/tests/protractor_utils/users.js
  core/tests/protractor_utils/workflow.js
  extensions/objects/templates/skill-selector-editor.directive.html
  scripts/check_e2e_tests_are_captured_in_ci.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10997 Fix Part of #8472: Migrate EditableTopicBackendApiService to Angular 8
  core/templates/domain/topic/SubtopicPageObjectFactory.ts
  core/templates/domain/topic/TopicObjectFactory.ts
  core/templates/domain/topic/editable-topic-backend-api.service.spec.ts
  core/templates/domain/topic/editable-topic-backend-api.service.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-story-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.spec.ts
  core/templates/pages/topic-editor-page/rearrange-skills-in-subtopics-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.spec.ts
  core/templates/pages/topic-editor-page/services/subtopic-validation.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.ts
  core/templates/services/angular-services.index.ts
Labels: PR: LGTM

#11165 Show topics in the same order in classroom page as the config property
  core/controllers/classroom.py
  core/controllers/classroom_test.py
  core/templates/domain/classroom/classroom-backend-api.service.spec.ts
  core/templates/domain/classroom/classroom-backend-api.service.ts
  core/templates/domain/classroom/classroom-data.model.spec.ts
  core/templates/domain/classroom/classroom-data.model.ts
  core/templates/domain/topic/topic-summary.model.spec.ts
  core/templates/domain/topic/topic-summary.model.ts
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/classroom-page/classroom-page.component.spec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11141 Fix GeneralSuggestionModel validation issue on test server
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: Affects datastore layer, PR: LGTM

#11167 Adds licence metadata to HTML
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.html
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.ts
  core/templates/services/attribution.service.spec.ts
  core/templates/services/attribution.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11161 Add empty error callback for $uibModal.open() calls
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.controller.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.directive.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/suggestion-modal/suggestion-modal-for-learner-dashboard.service.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.ts
  core/templates/pages/skill-editor-page/services/question-creation.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10900 Fix Part of #8472: Migrate HintsAndSolutionManagerService to Angular 8
  core/templates/components/button-directives/hint-and-solution-buttons.directive.ts
  core/templates/pages/exploration-player-page/services/hints-and-solution-manager.service.spec.ts
  core/templates/pages/exploration-player-page/services/hints-and-solution-manager.service.ts
  core/templates/pages/exploration-player-page/templates/display-hint-modal.controller.spec.ts
  core/templates/pages/exploration-player-page/templates/display-solution-modal.controller.spec.ts
  core/templates/services/angular-services.index.ts
  core/tests/protractor_utils/ExplorationPlayerPage.js
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11168 Wipeout 8.16: Save the username of deleted user so it cannot be reused
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_domain.py
  core/domain/wipeout_domain_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/jobs_registry.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: for current release

#11171 Fix CommunityContributionStatsModel audit job issues
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM, PR: for current release

#11028 Fix part of #10474: Add strict checks to files
  core/templates/services/external-save.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11094 Fix #11032: Adds customization args content-id for state color status for voiceover
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.ts
  core/tests/protractor_desktop/explorationTranslationTab.js
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: LGTM, PR: for current release

#11169 Add one-off job for question suggestion migration
  core/controllers/suggestion.py
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/jobs_registry.py
  core/tests/test_utils.py
Labels: PR: LGTM, PR: for current release

#10830 Wipeout 9.1: Add tests for wipeout and modify the release for wipeout
  .circleci/config.yml
  assets/constants.ts
  core/controllers/profile_test.py
  core/domain/suggestion_jobs_one_off_test.py
  core/domain/user_services.py
  core/domain/wipeout_jobs_one_off.py
  core/domain/wipeout_service.py
  core/templates/pages/delete-account-page/delete-account-page.component.html
  core/templates/pages/delete-account-page/templates/delete-account-modal.template.html
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
  core/templates/pages/preferences-page/preferences-page.component.html
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/preferences.js
  core/tests/protractor_desktop/wipeout.js
  core/tests/protractor_utils/DeleteAccountPage.js
  core/tests/protractor_utils/PreferencesPage.js
  core/tests/protractor_utils/workflow.js
  scripts/check_e2e_tests_are_captured_in_ci.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM, PR: for current release

#11164 Fix #3341: Added confirmation modal in the customization args editing.
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
  core/templates/pages/exploration-editor-page/modal-templates/confirm-leave-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11148 Fix part of #10415: Extract config validators from prod_validator
  core/domain/config_validators.py
  core/domain/config_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
Labels: PR: LGTM

#11195 Increase taskqueue http request timeout
  core/platform/taskqueue/dev_mode_taskqueue_services.py
  core/platform/taskqueue/dev_mode_taskqueue_services_test.py
  feconf.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10967 Fixes part of #10415: Topic validator refractor
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/topic_validators.py
  core/domain/topic_validators_test.py
Labels: PR: LGTM

#11178 Fix part of #8472: Migrate translation language service to Angular
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/voiceover-opportunities/voiceover-opportunities.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-language.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-language.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11177 Fix Part of #8472: Migrate Topic Rights Backend API Service
  core/templates/domain/topic/topic-rights-backend-api.service.spec.ts
  core/templates/domain/topic/topic-rights-backend-api.service.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#10941 Fix part of #8472: Migrate thread-data.service.ts to Angular 8
  core/templates/domain/feedback_message/ThreadMessageObjectFactory.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data.service.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data.service.ts
  core/templates/pages/exploration-editor-page/suggestion-modal-for-editor-view/suggestion-modal-for-exploration-editor.service.ts
  core/templates/pages/profile-page/profile-page.component.spec.ts
  core/templates/services/angular-services.index.ts
  core/tests/protractor_desktop/additionalPlayerFeatures.js
  core/tests/protractor_desktop/extensions.js
  core/tests/protractor_utils/ExplorationEditorFeedbackTab.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/workflow.js
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11204 Fix hard-deletion cron job for versioned models
  core/controllers/cron_test.py
  core/domain/cron_services.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM, PR: for current release

#11147 Upgrade libraries
  .yarnrc
  core/domain/base_model_validators_test.py
  core/templates/pages/header_js_libs.html
  core/tests/gae_suite.py
  core/tests/karma.conf.ts
  extensions/interactions/LogicProof/static/js/tools/demonstration.html
  manifest.json
  package.json
  python_utils_test.py
  scripts/common.py
  scripts/linters/pre_commit_linter.py
  scripts/pre_commit_hook_test.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11110 Localisation updates from https://translatewiki.net.
  assets/i18n/ar.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/pt-br.json
  assets/i18n/tr.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR: LGTM

#11116 Fix part of #10415: Refactor classifier validators
  core/domain/classifier_validators.py
  core/domain/classifier_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11221 Fix #11083: add Ben back to codeowners, remove Sean temporarily, clean up TODOs
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11209 Fix part of #11202: Enable logging and add retry for create task
  .isort.cfg
  core/platform/taskqueue/cloud_taskqueue_services.py
  core/platform/taskqueue/cloud_taskqueue_services_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM, PR: for current release

#11211 Fix #11200: fix browser detection mismatch between frontend and backend
  core/templates/domain/utilities/browser-checker.service.spec.ts
  core/templates/domain/utilities/browser-checker.service.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#11115 Bug fixes: enable signup button after usernamehandler/data call has completed; login redirection must include search params
  core/templates/pages/signup-page/signup-page.component.html
  core/templates/pages/signup-page/signup-page.component.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/services/user.service.spec.ts
  core/templates/services/user.service.ts
  core/tests/puppeteer/lighthouse_setup.js
  puppeteer-login-script.js
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM, PR: for current release

#11239 Fix part of #8668: Document the service file with jsdoc
  core/templates/pages/exploration-player-page/services/number-attempts.service.ts
Labels: PR: LGTM

#11240 Removed Hudda as codeowner
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11172 Fix issue #10715 [Contributor Dashboard] Admin page UI issues
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.directive.ts
  core/templates/pages/admin-page/roles-tab/role-graph.directive.html
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#11068 Fix part of #10306: Added async keyword to asynchronous functions that return a promise.
  core/templates/domain/collection/collection-rights-backend-api.service.spec.ts
  core/templates/domain/collection/collection-rights-backend-api.service.ts
  core/templates/domain/collection/editable-collection-backend-api.service.spec.ts
  core/templates/domain/collection/editable-collection-backend-api.service.ts
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.directive.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.spec.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11243 Fix #11154: Modify additional rules indicator to show every time
  core/templates/components/state-directives/response-header/response-header.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11060 Migrate ReadOnlyExplorationBackendApiService to angular
  core/templates/domain/classifier/classifier.model.ts
  core/templates/domain/exploration/editable-exploration-backend-api.service.spec.ts
  core/templates/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/domain/exploration/read-only-exploration-backend-api.service.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navbar-breadcrumb.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/exploration-graph.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/exploration-graph-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/teach-oppia-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/test-interaction-panel/test-interaction-panel.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-panel.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/unresolved-answers-overview/unresolved-answers-overview.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-objective-editor/exploration-objective-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-title-editor/exploration-title-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/services/compare-versions.service.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/services/compare-versions.service.ts
  core/templates/pages/exploration-editor-page/improvements-tab/improvements-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/needs-guiding-responses-task.component.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-category.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-init-state-name.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-language-code.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-objective.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-param-changes.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-param-specs.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-states.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-tags.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-title.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-editor-page/services/graph-data.service.spec.ts
  core/templates/pages/exploration-editor-page/services/router.service.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/preview-summary-tile-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-submissions-issue.component.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/services/learner-action-render.service.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/statistics-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/statistics-tab.component.ts
  core/templates/pages/exploration-editor-page/statistics-tab/templates/state-stats-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-status-graph/state-translation-status-graph.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.spec.ts
  core/templates/pages/exploration-player-page/exploration-player-page.component.spec.ts
  core/templates/pages/exploration-player-page/exploration-player-page.component.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.directive.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.ts
  core/templates/pages/exploration-player-page/services/state-classifier-mapping.service.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/exploration-improvements.service.spec.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11166 Fix issue #10798 : Fixed End-to-End Tests with action.js and waitFor.js in ExplorationEditorFeedbackTab.js
  core/tests/protractor_utils/ExplorationEditorFeedbackTab.js
Labels: PR: LGTM

#11196 Fix #11096 and rest of classroom page issues
  core/templates/css/oppia.css
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.directive.ts
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.mainpage.html
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11258 Fix #11055: Modify validation for prereq skills
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_jobs_one_off.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/templates/domain/story/StoryContentsObjectFactory.ts
  core/templates/domain/story/StoryContentsObjectFactorySpec.ts
  core/templates/domain/story/story-validation.service.spec.ts
  core/templates/domain/story/story-validation.service.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/pages/story-editor-page/story-editor-page.component.spec.ts
  core/templates/pages/story-editor-page/story-editor-page.component.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#11251 Fixes #11155, #11156: Removed redundant rule for simplified value
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.spec.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#11213 /learn -> /learn/math redirection and "browse our lessons" button to redirect to classroom instead of library
  core/controllers/classroom.py
  core/controllers/classroom_test.py
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.html
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.spec.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.ts
  core/templates/pages/splash-page/splash-page.component.html
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/splash-page/splash-page.component.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
  main.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11201 Fix part of #9749 Remove circular image directive
  core/templates/components/profile-link-directives/circular-image.directive.html
  core/templates/components/profile-link-directives/circular-image.directive.ts
  core/templates/components/summary-tile/exploration-summary-tile.directive.html
  core/templates/components/summary-tile/exploration-summary-tile.directive.ts
  core/templates/css/oppia.css
  scripts/check_frontend_coverage.py
Labels: PR: LGTM

#11222 Fix part of #10415: Refactor question validators
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/question_validators.py
  core/domain/question_validators_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, stale

#11132 Fix of #10905 for not showing negative numbers in feedback notification
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11288 Upgrade pip-tools to 5.4.0
  scripts/common.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11262 Fix Part of #8472: Remove unused expression-type-parser service file and connected functions
  core/templates/expressions/expression-syntax-tree.service.ts
  core/templates/expressions/expression-type-parser.service.spec.ts
  core/templates/expressions/expression-type-parser.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98
