Repository oppia/oppia, pull requests merged in 2020-06, with the labels that each got.

#9396 Add QA Team Codeowner for all E2E Files
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9262 Allow adding images in the create skill modal
  .github/CODEOWNERS
  core/controllers/editor.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/exp_services.py
  core/domain/html_cleaner.py
  core/domain/html_cleaner_test.py
  core/domain/image_validation_services.py
  core/domain/image_validation_services_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/templates/app.constants.ajs.ts
  core/templates/app.constants.ts
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/components/entity-creation-services/skill-creation.service.ts
  core/templates/domain/skill/skill-creation-backend-api.service.spec.ts
  core/templates/domain/skill/skill-creation-backend-api.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.mainpage.html
  core/templates/services/context.service.ts
  core/templates/services/image-local-storage.service.spec.ts
  core/templates/services/image-local-storage.service.ts
  core/templates/services/request-interceptor.service.ts
  core/templates/services/services.constants.ts
  extensions/objects/templates/filepath-editor.directive.ts
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9389 Fix part of #8015: return CollectionRights rather than dict
  core/templates/domain/collection/CollectionRightsObjectFactory.ts
  core/templates/domain/collection/collection-rights-backend-api.service.spec.ts
  core/templates/domain/collection/collection-rights-backend-api.service.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.spec.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish, PR: LGTM

#9380 Fix part of #4057: Tests for editable-exploration-backend-api.service.ts, RecordedVoiceoversObjectFactory.ts, and topic-update.service.ts
  core/templates/domain/exploration/RecordedVoiceoversObjectFactorySpec.ts
  core/templates/domain/exploration/editable-exploration-backend-api.service.spec.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9365 Fix part of #7176: Remove any from RuleObjectFactory and introduce TypeChangeService
  core/templates/domain/exploration/RuleObjectFactory.ts
  core/templates/domain/exploration/RuleObjectFactorySpec.ts
  core/templates/domain/objects/NumberWithUnitsObjectFactory.ts
  core/templates/domain/objects/UnitsObjectFactory.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.ts
  extensions/interactions/GraphInput/directives/graph-detail.service.ts
  extensions/interactions/GraphInput/directives/graph-input-validation.service.spec.ts
  extensions/interactions/GraphInput/directives/graph-input-validation.service.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-validation.service.ts
  extensions/interactions/MathExpressionInput/directives/math-expression-input-validation.service.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-rules.service.ts
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#9315 Group library and collection e2e suites on circleCI
  .circleci/config.yml
  .travis.yml
  scripts/check_e2e_tests_are_captured_in_ci.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#9416 Adds all Angular services to UpgradedServices
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/services/UpgradedServices.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#9412 Migrate to mailchimp
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.controller.spec.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.controller.ts
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#8505 Wipeout 3.10: Add new field to rights models
  core/controllers/tasks_test.py
  core/domain/collection_services_test.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services_test.py
  core/domain/feedback_jobs_one_off.py
  core/domain/feedback_jobs_one_off_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/rights_manager.py
  core/domain/topic_domain_test.py
  core/domain/user_id_migration.py
  core/domain/user_id_migration_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/jobs_registry.py
  core/storage/audit/gae_models.py
  core/storage/audit/gae_models_test.py
  core/storage/classifier/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/email/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
  core/storage/question/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/statistics/gae_models.py
  core/storage/story/gae_models.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#9424 Fix part of #5914: Complete Takeout Frontend
  core/controllers/profile_test.py
  core/domain/takeout_service_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  core/templates/pages/preferences-page/preferences-page.component.html
  core/templates/pages/preferences-page/preferences-page.component.ts
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#9436 Fix #9417: No difficulty level to select for questions while creating question suggestion
  core/templates/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.ts
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#9393 Fix #9325: Broaden the types of classes run by scripts.run_backend_tests and addition of tests for pylint_extensions
  core/controllers/acl_decorators.py
  core/domain/config_services.py
  core/domain/event_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_services.py
  core/domain/story_fetchers.py
  core/domain/topic_domain.py
  core/domain/topic_fetchers.py
  core/domain/topic_services.py
  core/storage/classifier/gae_models.py
  core/storage/suggestion/gae_models.py
  scripts/common_test.py
  scripts/install_third_party.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
  scripts/pre_push_hook.py
  scripts/release_scripts/update_changelog_and_credits_test.py
  scripts/run_backend_tests.py
  scripts/run_e2e_tests.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#9299 Fix part of #8472: Upgrades StatsReportingService and MessengerService to Angular
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  core/templates/services/messenger.service.ts
  core/templates/services/playthrough.service.spec.ts
  core/templates/services/playthrough.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#9337 Fixes some question editor bugs
  .github/CODEOWNERS
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/components/question-directives/question-editor/question-editor.directive.html
  core/templates/components/question-directives/question-editor/question-editor.directive.ts
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.html
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.spec.ts
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.ts
  core/templates/components/question-directives/question-misconception-editor/tag-misconception-modal.controller.spec.ts
  core/templates/components/question-directives/question-misconception-editor/tag-misconception-modal.controller.ts
  core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.html
  core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.spec.ts
  core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.ts
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.directive.html
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.directive.ts
  core/templates/components/state-editor/state-content-editor/state-content-editor.directive.html
  core/templates/components/state-editor/state-content-editor/state-content-editor.directive.ts
  core/templates/components/state-editor/state-editor.directive.html
  core/templates/components/state-editor/state-editor.directive.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/question/QuestionObjectFactorySpec.ts
  core/templates/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-editor-modal.directive.html
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.html
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
  core/templates/pages/topic-editor-page/modal-templates/tag-misconception-modal.template.html
  core/templates/services/question-validation.service.spec.ts
  core/templates/services/question-validation.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9441 Fix #9372: Fix flaky backend test in admin_test.py
  core/controllers/admin_test.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/user_services.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#9333 Topic dashboard ui
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/classroom_test.py
  core/controllers/community_dashboard_test.py
  core/controllers/practice_sessions_test.py
  core/controllers/suggestion_test.py
  core/controllers/topic_viewer_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/opportunity_jobs_one_off_test.py
  core/domain/opportunity_services_test.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_fetchers_test.py
  core/domain/topic_jobs_one_off_test.py
  core/domain/topic_services_test.py
  core/domain/voiceover_services_test.py
  core/storage/topic/gae_models_test.py
  core/templates/components/entity-creation-services/topic-creation.service.ts
  core/templates/domain/topic/topic-creation-backend-api.service.spec.ts
  core/templates/domain/topic/topic-creation-backend-api.service.ts
  core/templates/domain/topics_and_skills_dashboard/NewlyCreatedTopicObjectFactory.ts
  core/templates/domain/topics_and_skills_dashboard/NewlyCreatedTopicObjectFactorySpec.ts
  core/templates/domain/topics_and_skills_dashboard/TopicsAndSkillsDashboardFilterObjectFactory.ts
  core/templates/domain/topics_and_skills_dashboard/TopicsAndSkillsDashboardFilterObjectFactorySpec.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-topic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/new-topic-name-editor.template.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.constants.ajs.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.constants.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.service.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/schema-default-value.service.spec.ts
  core/templates/services/schema-default-value.service.ts
  core/tests/protractor_desktop/classroomPageFileUploadFeatures.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  core/tests/test_utils.py
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9444 Fix #9442: Delete Un-Migrated E2E Test Code
  core/tests/protractor_utils/CommunityDashboardTranslateTextTab.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/ExplorationEditorSettingsTab.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
  core/tests/protractor_utils/LearnerDashboardPage.js
  core/tests/protractor_utils/StoryEditorPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9414 Cache the results from StateInteractionStatsService.computeStats
  core/templates/pages/exploration-editor-page/statistics-tab/statistics-tab.directive.ts
  core/templates/pages/exploration-player-page/services/answer-classification.service.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/state-interaction-stats.service.spec.ts
  core/templates/services/state-interaction-stats.service.ts
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri

#9392 Redesign story viewer
  core/controllers/admin.py
  core/templates/base-components/base-content.directive.html
  core/templates/base-components/base-content.directive.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/css/oppia.css
  core/templates/domain/story_viewer/ReadOnlyStoryNodeObjectFactory.ts
  core/templates/domain/story_viewer/ReadOnlyStoryNodeObjectFactorySpec.ts
  core/templates/pages/story-viewer-page/navbar-pre-logo-action/story-viewer-navbar-pre-logo-action.component.html
  core/templates/pages/story-viewer-page/navbar-pre-logo-action/story-viewer-navbar-pre-logo-action.component.spec.ts
  core/templates/pages/story-viewer-page/navbar-pre-logo-action/story-viewer-navbar-pre-logo-action.component.ts
  core/templates/pages/story-viewer-page/story-viewer-page.directive.html
  core/templates/pages/story-viewer-page/story-viewer-page.directive.ts
  core/templates/pages/story-viewer-page/story-viewer-page.mainpage.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9219 Update release credits structure and changelog PR creation
  core/templates/pages/about-page/about-page.component.html
  core/templates/pages/about-page/about-page.component.spec.ts
  core/templates/pages/about-page/about-page.component.ts
  core/templates/pages/about-page/about-page.constants.ajs.ts
  core/templates/pages/about-page/about-page.constants.ts
  core/templates/pages/about-page/about-page.module.ts
  core/tests/release_sources/about-page.component.html
  core/tests/release_sources/updated-about-page.component.html
  scripts/common.py
  scripts/common_test.py
  scripts/install_chrome_on_travis.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/release_scripts/generate_release_updates.py
  scripts/release_scripts/generate_release_updates_test.py
  scripts/release_scripts/initial_release_prep.py
  scripts/release_scripts/restore_backup.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_changelog_and_credits_test.py
  scripts/release_scripts/update_configs.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#9467 Fix incorrect escaping in backend.
  core/domain/html_cleaner.py
  core/domain/html_cleaner_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#9397 Redesign subtopic viewer
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/subtopic_viewer.py
  core/controllers/subtopic_viewer_test.py
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/domain/subtopic_viewer/ReadOnlySubtopicPageObjectFactory.ts
  core/templates/domain/subtopic_viewer/ReadOnlySubtopicPageObjectFactorySpec.ts
  core/templates/domain/subtopic_viewer/subtopic-viewer-backend-api.service.ts
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.directive.html
  core/templates/pages/subtopic-viewer-page/navbar-pre-logo-action/subtopic-viewer-navbar-pre-logo-action.component.html
  core/templates/pages/subtopic-viewer-page/navbar-pre-logo-action/subtopic-viewer-navbar-pre-logo-action.component.spec.ts
  core/templates/pages/subtopic-viewer-page/navbar-pre-logo-action/subtopic-viewer-navbar-pre-logo-action.component.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.controller.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.directive.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.mainpage.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.scripts.ts
  core/templates/services/UpgradedServices.ts
  main.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9420 Fix #9382: fix for bug default language on Oppia is not accurate on reload
  core/templates/I18nFooter.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#9470 Hide practice tab when questions are fewer than 5
  core/templates/pages/topic-viewer-page/topic-viewer-page.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9477 Change codeownership from Mariana to Nithesh
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9462 Fix maintenance mode
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/pages.py
  core/controllers/pages_test.py
  core/templates/pages/maintenance-page/maintenance-page.controller.ts
  core/templates/pages/maintenance-page/maintenance-page.mainpage.html
  core/tests/test_utils.py
  main.py
  scripts/build.py
  scripts/build_test.py
  scripts/common.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/start.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#9469 Fix issues in the story viewer and chapter player
  assets/constants.ts
  core/controllers/story_viewer.py
  core/controllers/story_viewer_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/templates/domain/story_viewer/ReadOnlyStoryNodeObjectFactory.ts
  core/templates/domain/story_viewer/ReadOnlyStoryNodeObjectFactorySpec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/pages/review-test-page/review-test-page.directive.ts
  core/templates/pages/review-test-page/review-test-page.mainpage.html
  core/templates/pages/story-viewer-page/story-viewer-page.directive.html
  core/templates/pages/story-viewer-page/story-viewer-page.directive.ts
  core/templates/pages/story-viewer-page/story-viewer-page.mainpage.html
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.directive.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.controller.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#9445 Milestone-1.3 and 1.4 add saving and editing functionality to svg editor
  assets/rich_text_components_definitions.ts
  core/domain/html_cleaner.py
  core/domain/html_cleaner_test.py
  core/domain/rte_component_registry_test.py
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/services/literally-canvas-helper.service.spec.ts
  core/templates/services/literally-canvas-helper.service.ts
  core/templates/services/rte-helper.service.ts
  core/tests/karma.conf.ts
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/templates/literally-canvas-diagram-editor.component.html
  extensions/objects/templates/literally-canvas-diagram-editor.component.spec.ts
  extensions/objects/templates/literally-canvas-diagram-editor.component.ts
  extensions/objects/templates/svg-filename-editor.component.html
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  extensions/objects/templates/svg-filename-editor.component.ts
  extensions/rich_text_components/Svgdiagram/Svgdiagram.png
  extensions/rich_text_components/Svgdiagram/directives/oppia-noninteractive-svgdiagram.component.spec.ts
  extensions/rich_text_components/Svgdiagram/directives/oppia-noninteractive-svgdiagram.component.ts
  extensions/rich_text_components/Svgdiagram/directives/svgdiagram.component.html
  extensions/rich_text_components/components.py
  extensions/rich_text_components/components_test.py
  extensions/rich_text_components/richTextComponentsRequires.ts
  feconf.py
  typings/custom-named-node-map-defs.d.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9475 Introduce core.storage.improvements models
  .github/CODEOWNERS
  core/controllers/profile_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/takeout_service_test.py
  core/jobs_registry.py
  core/platform/models.py
  core/storage/improvements/__init__.py
  core/storage/improvements/gae_models.py
  core/storage/improvements/gae_models_test.py
  feconf.py
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri

#9488 Mock the `modify_constants` in build tests
  scripts/build_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#9472 Fix issues in release scripts
  scripts/common.py
  scripts/common_test.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/release_scripts/initial_release_prep.py
  scripts/release_scripts/restore_backup.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_configs.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#9398 Add i18n translation service for angular code!
  .github/CODEOWNERS
  core/templates/App.ts
  core/templates/I18nFooter.ts
  core/templates/components/common-layout-directives/common-elements/background-banner.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/filters/translate.pipe.spec.ts
  core/templates/filters/translate.pipe.ts
  core/templates/pages/about-page/about-page.component.html
  core/templates/pages/about-page/about-page.component.spec.ts
  core/templates/pages/about-page/about-page.component.ts
  core/templates/pages/about-page/about-page.module.ts
  core/templates/pages/about-page/about-page.scripts.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/i18n-language-code.service.spec.ts
  core/templates/services/i18n-language-code.service.ts
  core/templates/services/translate.service.spec.ts
  core/templates/services/translate.service.ts
  core/templates/services/utils.service.spec.ts
  core/templates/services/utils.service.ts
  core/tests/karma.conf.ts
  package.json
  scripts/linters/general_purpose_linter.py
  webpack.common.config.ts
  yarn.lock
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#9489 Routine upgrade of libs
  package.json
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#9463 Fix part of #7176: Add types for Customization Args
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/domain/classroom/classroom-backend-api.service.ts
  core/templates/domain/topic/TopicSummaryObjectFactory.ts
  core/templates/services/compute-graph.service.ts
  core/templates/services/extension-tag-assembler.service.ts
  core/templates/services/improvements.service.spec.ts
  core/templates/services/improvements.service.ts
  core/templates/services/site-analytics.service.ts
  extensions/interactions/CodeRepl/directives/code-repl-validation.service.ts
  extensions/interactions/Continue/directives/continue-validation.service.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.ts
  extensions/interactions/EndExploration/directives/end-exploration-validation.service.ts
  extensions/interactions/GraphInput/directives/graph-input-validation.service.ts
  extensions/interactions/ImageClickInput/directives/image-click-input-validation.service.ts
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.directive.ts
  extensions/interactions/InteractiveMap/directives/interactive-map-validation.service.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-validation.service.ts
  extensions/interactions/LogicProof/directives/logic-proof-validation.service.ts
  extensions/interactions/MathExpressionInput/directives/math-expression-input-validation.service.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-validation.service.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-validation.service.ts
  extensions/interactions/MusicNotesInput/directives/oppia-interactive-music-notes-input.directive.ts
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.ts
  extensions/interactions/SetInput/directives/set-input-validation.service.ts
  extensions/interactions/customization-args-defs.ts
  scripts/linters/excluded_any_type_files.json
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#9504 FIx #8423: Check that functions with test_only in their names are only used in _test.py files.
  scripts/linters/python_linter.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9336 Milestone 1.2.1: Added math objects with validators.
  .github/CODEOWNERS
  core/domain/expression_parser.py
  core/domain/expression_parser_test.py
  extensions/objects/models/objects.py
  extensions/objects/models/objects_test.py
  extensions/objects/object_defaults.json
  schema_utils.py
  schema_utils_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9481 Introduce SortedTiles visualization for statistics
  core/domain/visualization_registry_test.py
  core/templates/pages/exploration-editor-page/statistics-tab/statistics-tab.directive.ts
  core/templates/services/state-interaction-stats.service.spec.ts
  core/templates/services/state-interaction-stats.service.ts
  extensions/visualizations/models.py
  extensions/visualizations/oppia-visualization-sorted-tiles.directive.html
  extensions/visualizations/oppia-visualization-sorted-tiles.directive.spec.ts
  extensions/visualizations/oppia-visualization-sorted-tiles.directive.ts
  extensions/visualizations/visualizationsRequires.ts
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri

#9484 Adds french as supported site language
  assets/constants.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#9423 Change subjects to event emitters
  core/templates/base-components/base-content.directive.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.directive.ts
  core/templates/pages/moderator-page/moderator-page.component.spec.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.component.spec.ts
  core/templates/pages/signup-page/signup-page.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.directive.ts
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/services/loader.service.spec.ts
  core/templates/services/loader.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#9479 Hybrid config
  .github/CODEOWNERS
  core/templates/base-components/oppia-root.directive.html
  core/templates/base-components/oppia-root.directive.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/filters/format-timer.pipe.ts
  core/templates/filters/string-utility-filters/camel-case-to-hyphens.pipe.ts
  core/templates/filters/string-utility-filters/normalize-whitespace-punctuation-and-case.pipe.ts
  core/templates/filters/string-utility-filters/normalize-whitespace.pipe.ts
  core/templates/pages/about-page/about-page.mainpage.html
  core/templates/pages/about-page/about-page.module.ts
  core/templates/pages/about-page/about-page.scripts.ts
  core/templates/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/exploration-player-page.scripts.ts
  core/templates/pages/profile-page/profile-page.mainpage.html
  core/templates/pages/profile-page/profile-page.module.ts
  core/templates/pages/profile-page/profile-page.scripts.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#9280 Added functionality to filter skills in the skill selector, based on subtopics and topics.
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.ts
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/components/skill-selector/merge-skill-modal.controller.ts
  core/templates/components/skill-selector/select-skill-modal.controller.ts
  core/templates/components/skill-selector/select-skill-modal.template.html
  core/templates/components/skill-selector/skill-selector.directive.html
  core/templates/components/skill-selector/skill-selector.directive.ts
  core/templates/css/oppia.css
  core/templates/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.html
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9459 Added newline check at end of file
  core/README.md
  core/templates/domain/feedback_message/ThreadMessageObjectFactorySpec.ts
  core/templates/filters/string-utility-filters/wrap-text-with-ellipsis.pipe.spec.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.directive.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.constants.ajs.ts
  core/templates/pages/story-viewer-page/navbar-pre-logo-action/story-viewer-navbar-pre-logo-action.component.ts
  core/templates/pages/subtopic-viewer-page/navbar-pre-logo-action/subtopic-viewer-navbar-pre-logo-action.component.ts
  core/templates/pages/topic-editor-page/modal-templates/questions-list-select-skill-and-difficulty-modal.controller.ts
  core/templates/services/contextual/document-attribute-customization.service.ts
  core/templates/services/contextual/window-ref.service.ts
  core/templates/services/suggestions.service.ts
  core/tests/release_sources/invalid_release_mail_message.txt
  core/tests/release_sources/valid_release_mail_message.txt
  extensions/interactions/CodeRepl/protractor.js
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.ts
  scripts/linters/codeowner_linter.py
  scripts/linters/css_linter.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/html_linter.py
  scripts/linters/js_ts_linter.py
  scripts/linters/linter_utils.py
  scripts/linters/pre_commit_linter.py
  scripts/linters/python_linter.py
  scripts/linters/third_party_typings_linter.py
  scripts/linters/third_party_typings_linter_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9503 Fix #6271: update_interaction_solution is accepting object instead of dict
  core/controllers/admin.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/tests/test_utils.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#9501 Transfer codeowners
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9520 Fix #9354 and other critical bugs
  .travis.yml
  app_dev.yaml
  core/controllers/community_dashboard.py
  core/controllers/community_dashboard_test.py
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.ts
  feconf.py
  main.py
  scripts/build.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9535 Fix CircleCI setup git config
  .circleci/config.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#9482 Disallow using eslint disable statement for camelcase
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/components/forms/custom-forms-directives/apply-validation.directive.ts
  core/templates/domain/exploration/SolutionObjectFactory.ts
  core/templates/domain/statistics/LearnerAnswerInfoObjectFactory.ts
  core/templates/domain/story/StorySummaryObjectFactory.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/pages/community-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/pages/exploration-editor-page/statistics-tab/services/state-improvement-suggestion.service.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/services/state-improvement-suggestion.service.ts
  core/templates/pages/exploration-player-page/services/exploration-recommendations.service.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  core/templates/services/playthrough.service.ts
  extensions/interactions/LogicProof/directives/logic-proof-rules.service.spec.ts
  extensions/interactions/LogicProof/directives/logic-proof-rules.service.ts
  extensions/interactions/TextInput/text-input-prediction.service.ts
  scripts/linters/general_purpose_linter.py
  typings/karma-fixtures.d.ts
  typings/math-expressions-defs-1.7.0.d.ts
  typings/skulpt-defs-1.1.0.d.ts
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9422 Milestone 1 - Testing components to get 100% coverage
  core/templates/pages/delete-account-page/delete-account-page.component.spec.ts
  core/templates/pages/donate-page/donate-page.component.spec.ts
  core/templates/pages/donate-page/donate-page.component.ts
  core/templates/pages/error-pages/error-page.component.spec.ts
  core/templates/pages/maintenance-page/maintenance-page.controller.spec.ts
  core/templates/pages/profile-page/profile-page.component.spec.ts
  core/templates/pages/profile-page/profile-page.component.ts
  core/templates/pages/thanks-page/thanks-page.component.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9474 Fix #9466: Adding thumbnail and fixing bugs
  .circleci/config.yml
  .travis.yml
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/templates/components/entity-creation-services/topic-creation.service.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.template.html
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.directive.html
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.directive.ts
  core/templates/domain/topic/topic-creation-backend-api.service.spec.ts
  core/templates/domain/topic/topic-creation-backend-api.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/delete-topic-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/delete-topic-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-topic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/delete-topic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.ts
  core/templates/services/image-local-storage.service.spec.ts
  core/templates/services/image-local-storage.service.ts
  core/tests/data/test2_svg.svg
  core/tests/protractor_desktop/classroomPageFileUploadFeatures.js
  core/tests/protractor_desktop/preferences.js
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_utils/PreferencesPage.js
  core/tests/protractor_utils/StoryEditorPage.js
  core/tests/protractor_utils/TopicEditorPage.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  core/tests/protractor_utils/workflow.js
  scripts/check_e2e_tests_are_captured_in_ci.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#9543 Fix part of #7450: private access in jobs test file
  core/jobs_test.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#9507 #Fix part of #8423: Added lint check to ensure that there are valid spaces and newlines
  core/templates/components/entity-creation-services/collection-creation.service.spec.ts
  python_utils.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/pre_commit_linter.py
  ubuntu_dockerfile
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9473 Redesign story viewer followup
  core/controllers/admin.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9573 Fix part of #8423: Added check to ensure that all TODO messages start with a capital letter
  core/controllers/reader.py
  core/domain/collection_services_test.py
  core/domain/event_services.py
  core/domain/exp_services_test.py
  core/domain/rights_manager.py
  core/domain/stats_domain.py
  core/storage/collection/gae_models.py
  core/storage/exploration/gae_models.py
  core/templates/domain/exploration/ExplorationObjectFactory.ts
  core/templates/pages/Base.ts
  core/templates/pages/exploration-editor-page/services/exploration-diff.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
  core/templates/pages/get-started-page/get-started-page.mainpage.html
  core/tests/protractor_utils/forms.js
  extensions/interactions/LogicProof/protractor.js
  extensions/interactions/LogicProof/static/js/complete.spec.ts
  extensions/interactions/LogicProof/static/js/tools/strings.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-rules.service.ts
  extensions/interactions/MusicNotesInput/directives/oppia-interactive-music-notes-input.directive.ts
  extensions/interactions/NumericInput/directives/numeric-input-rules.service.ts
  extensions/interactions/base.py
  scripts/linters/general_purpose_linter.py
  scripts/release_scripts/generate_release_info.py
  scripts/start.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9490 Score 100% in Chrome audits Admin, Classroom, About, Collection_Editor pages
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/i18n-footer.directive.html
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.directive.html
  core/templates/pages/admin-page/admin-page.mainpage.html
  core/templates/pages/admin-page/navbar/admin-navbar.directive.html
Labels: frontend

#9544 Fix part of #7176: Remove some more any types
  core/templates/domain/exploration/AnswerGroupObjectFactory.ts
  core/templates/domain/exploration/AnswerStatsObjectFactory.ts
  core/templates/domain/exploration/ExplorationDraftObjectFactory.ts
  core/templates/domain/exploration/LostChangeObjectFactorySpec.ts
  core/templates/domain/exploration/OutcomeObjectFactory.ts
  core/templates/domain/exploration/OutcomeObjectFactorySpec.ts
  core/templates/domain/exploration/ParamChangeObjectFactory.ts
  core/templates/domain/exploration/ParamChangesObjectFactory.ts
  core/templates/domain/exploration/ParamTypeObjectFactory.ts
  core/templates/domain/exploration/StatesObjectFactory.ts
  core/templates/domain/story_viewer/ReadOnlyStoryNodeObjectFactory.ts
  core/templates/domain/story_viewer/StoryPlaythroughObjectFactory.ts
  core/templates/domain/story_viewer/StoryPlaythroughObjectFactorySpec.ts
  core/templates/domain/story_viewer/story-viewer-backend-api.service.ts
  core/templates/domain/suggestion/SuggestionObjectFactory.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/answer-groups-cache.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/answer-groups-cache.service.ts
  core/templates/pages/exploration-editor-page/history-tab/services/compare-versions.service.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/services/version-tree.service.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/services/version-tree.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-diff.service.ts
  core/templates/pages/exploration-player-page/services/answer-classification.service.ts
  core/templates/services/local-storage.service.ts
  core/templates/services/state-interaction-stats.service.ts
  core/templates/services/state-top-answers-stats.service.spec.ts
  extensions/interactions/CodeRepl/directives/code-repl-validation.service.spec.ts
  extensions/interactions/Continue/directives/continue-validation.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.spec.ts
  extensions/interactions/EndExploration/directives/end-exploration-validation.service.spec.ts
  extensions/interactions/GraphInput/directives/graph-input-validation.service.spec.ts
  extensions/interactions/ImageClickInput/directives/image-click-input-validation.service.spec.ts
  extensions/interactions/InteractiveMap/directives/interactive-map-validation.service.spec.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-validation.service.spec.ts
  extensions/interactions/LogicProof/directives/logic-proof-validation.service.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-validation.service.spec.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-validation.service.spec.ts
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.spec.ts
  extensions/interactions/SetInput/directives/set-input-validation.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.spec.ts
  scripts/linters/excluded_any_type_files.json
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#9437 Fix #9409: Fix e2e flakes
  core/tests/protractor_desktop/explorationTranslationTab.js
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#9515 Introduce HighBounceRateTask domain object
  .github/CODEOWNERS
  core/templates/domain/improvements/HighBounceRateTaskObjectFactory.ts
  core/templates/domain/improvements/HighBounceRateTaskObjectFactorySpec.ts
  core/templates/domain/improvements/TaskEntryObjectFactory.ts
  core/templates/domain/improvements/TaskEntryObjectFactorySpec.ts
  core/templates/domain/improvements/improvements.constants.ts
  core/templates/domain/statistics/ExplorationStatsObjectFactory.ts
  core/templates/domain/statistics/ExplorationStatsObjectFactorySpec.ts
  core/templates/domain/statistics/StateStatsObjectFactory.ts
  core/templates/domain/statistics/StateStatsObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/statistics-tab.directive.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/exploration-stats-backend-api.service.spec.ts
  core/templates/services/exploration-stats-backend-api.service.ts
  core/templates/services/exploration-stats.service.spec.ts
  core/templates/services/exploration-stats.service.ts
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri, PR: LGTM

#9421 Fix #8668: added jsdoc to improve documentation and Fix #7165: adds type clarity
  core/templates/pages/exploration-player-page/services/audio-translation-language.service.ts
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9560 Fix #9565: Pass .timetuple() to time.mktime() in utils.get_time_in_millisecs
  utils.py
  utils_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#9510 Show rubrics info in the question editor and bug fixes
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/components/skill-selector/select-skill-modal.controller.ts
  core/templates/css/oppia.css
  core/templates/pages/collection-player-page/collection-player-page.directive.html
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-editor-modal.directive.html
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-review.directive.html
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.ts
  extensions/objects/templates/drag-and-drop-html-string-editor.directive.html
  extensions/objects/templates/drag-and-drop-html-string-editor.directive.ts
  extensions/value_generators/templates/random-selector.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#9400 Milestone 1.2.2: Added position-of-terms and math editor directives.
  .github/CODEOWNERS
  app_dev.yaml
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/services/guppy-configuration.service.spec.ts
  core/templates/services/guppy-configuration.service.ts
  extensions/interactions/MathExpressionInput/directives/oppia-interactive-math-expression-input.directive.ts
  extensions/interactions/guppy.html
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/templates/math-editor.component.html
  extensions/objects/templates/math-editor.component.spec.ts
  extensions/objects/templates/math-editor.component.ts
  extensions/objects/templates/position-of-terms-editor.component.html
  extensions/objects/templates/position-of-terms-editor.component.spec.ts
  extensions/objects/templates/position-of-terms-editor.component.ts
  manifest.json
  typings/guppy-defs-1759992a3885cb99d3ead04241f318a074c9f963.d.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9575 Introduce services layer for exploration improvement tasks
  .github/CODEOWNERS
  assets/constants.ts
  core/controllers/profile_test.py
  core/domain/improvements_domain.py
  core/domain/improvements_domain_test.py
  core/domain/improvements_services.py
  core/domain/improvements_services_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/takeout_service_test.py
  core/storage/improvements/gae_models.py
  core/storage/improvements/gae_models_test.py
  feconf.py
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri, PR: LGTM

#9577 Assign @srijanreddy98 ownership of angular-migration files to co-own those files with @basnalnitish
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#9505 Fix part of #8472: Migrate concept-card-backend-api-service to Angular 8
  core/templates/components/concept-card/concept-card.directive.ts
  core/templates/domain/skill/concept-card-backend-api.service.spec.ts
  core/templates/domain/skill/concept-card-backend-api.service.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/services/UpgradedServices.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish, PR: LGTM

#9387 Fix part of #8016: Added a separate backend api service for profile-page.controller.ts
  core/templates/App.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/pages/profile-page/profile-page-backend-api.service.spec.ts
  core/templates/pages/profile-page/profile-page-backend-api.service.ts
  core/templates/pages/profile-page/profile-page-domain.constants.ts
  core/templates/pages/profile-page/profile-page.component.spec.ts
  core/templates/pages/profile-page/profile-page.component.ts
  core/templates/pages/profile-page/profile-page.module.ts
  core/templates/services/UpgradedServices.ts
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek, PR: LGTM

#9614 Add 'merge to target' step for all circle ci tests
  .circleci/config.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9591 Fix #9557, #9559, #9540, #9558, #9567 - Fixed on window resize function, added migration to get_multi_skills and other UI changes
  core/domain/skill_services.py
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/components/summary-tile/exploration-summary-tile.directive.ts
  core/templates/components/summary-tile/story-summary-tile.directive.ts
  core/templates/components/summary-tile/subtopic-summary-tile.directive.ts
  core/templates/css/oppia.css
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.directive.html
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/exploration-graph.directive.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.directive.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.component.spec.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.component.ts
  core/templates/pages/library-page/library-page.directive.ts
  core/templates/pages/library-page/search-bar/search-bar.directive.html
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.directive.ts
  core/templates/pages/topic-viewer-page/info-tab/topic-info-tab.directive.spec.ts
  core/templates/pages/topic-viewer-page/info-tab/topic-info-tab.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-topic-modal.template.html
  core/templates/services/contextual/window-dimensions.service.spec.ts
  core/templates/services/contextual/window-dimensions.service.ts
  extensions/interactions/FractionInput/directives/fraction-input-interaction.directive.html
  extensions/interactions/NumberWithUnits/directives/number-with-units-interaction.directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#9604 Fix #9526 and #9527: Add protip about using dedicated mic for best results and fixes timer issue
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#9605 Standardize structure of visualization directives
  core/templates/pages/exploration-editor-page/statistics-tab/templates/state-stats-modal.controller.ts
  core/templates/pages/exploration-editor-page/statistics-tab/templates/state-stats-modal.template.html
  extensions/visualizations/enumerated-frequency-table.directive.html
  extensions/visualizations/frequency-table.directive.html
  extensions/visualizations/oppia-visualization-bar-chart.directive.ts
  extensions/visualizations/oppia-visualization-enumerated-frequency-table.directive.css
  extensions/visualizations/oppia-visualization-enumerated-frequency-table.directive.html
  extensions/visualizations/oppia-visualization-enumerated-frequency-table.directive.ts
  extensions/visualizations/oppia-visualization-frequency-table.directive.css
  extensions/visualizations/oppia-visualization-frequency-table.directive.html
  extensions/visualizations/oppia-visualization-frequency-table.directive.ts
  extensions/visualizations/oppia-visualization-sorted-tiles.directive.css
  extensions/visualizations/oppia-visualization-sorted-tiles.directive.html
  extensions/visualizations/oppia-visualization-sorted-tiles.directive.spec.ts
  extensions/visualizations/oppia-visualization-sorted-tiles.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri

#9563 Milestone 1 - Fully cover 10 inline controllers (part 2)
  core/templates/components/entity-creation-services/exploration-creation.service.ts
  core/templates/components/question-directives/question-player/question-player-concept-card-modal.controller.spec.ts
  core/templates/components/question-directives/question-player/skill-mastery-modal.controller.spec.ts
  core/templates/components/skill-selector/merge-skill-modal.controller.spec.ts
  core/templates/components/skill-selector/questions-list-select-skill-modal.controller.spec.ts
  core/templates/components/skill-selector/select-skill-modal.controller.spec.ts
  core/templates/pages/creator-dashboard-page/modal-templates/create-activity-modal.controller.spec.ts
  core/templates/pages/creator-dashboard-page/modal-templates/upload-activity-modal.controller.spec.ts
  core/templates/pages/creator-dashboard-page/modal-templates/upload-activity-modal.controller.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/moderator-unpublish-exploration-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/preview-summary-tile-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/suggestion-modal-for-editor-view/exploration-editor-suggestion-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/suggestion-modal-for-editor-view/exploration-editor-suggestion-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9598 Add svg editor using fabric js and replace literallyCanvas
  .github/CODEOWNERS
  app_dev.yaml
  assets/constants.ts
  assets/svg_diagram_editor/closed_polygon.svg
  assets/svg_diagram_editor/open_polygon.svg
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/services/literally-canvas-helper.service.spec.ts
  core/templates/services/literally-canvas-helper.service.ts
  core/templates/services/rte-helper.service.ts
  core/tests/karma.conf.ts
  extensions/objects/models/objects.py
  extensions/objects/templates/svg-filename-editor.component.html
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  extensions/objects/templates/svg-filename-editor.component.ts
  manifest.json
  package.json
  typings/custom-named-node-map-defs.d.ts
  yarn.lock
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9491 Fix #7450: fixed private method calls for the tests in draft_upgrade_services_test.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#9508 Milestone 1 - Testing components to get 100% coverage (part 2)
  core/templates/pages/community-dashboard-page/community-dashboard-page.component.spec.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.ts
  core/templates/pages/preferences-page/preferences-page.component.spec.ts
  core/templates/pages/preferences-page/preferences-page.component.ts
  core/templates/pages/signup-page/signup-page.component.spec.ts
  core/templates/pages/signup-page/signup-page.component.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9523 CI Test Organization
  .circleci/config.yml
  .travis.yml
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/check_e2e_tests_are_captured_in_ci_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9517 Added validation jobs for math expressions in Explorations and draft change lists.
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/jobs_registry.py
  extensions/interactions/base_test.py
  extensions/interactions/html_field_types_to_rule_specs.json
  feconf.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release, critical

#9626 Fix issue of showing new tips section and allowing audio recording to the guest users in translation tab
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/components/summary-tile/exploration-summary-tile.directive.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.directive.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.directive.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.directive.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.component.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.directive.ts
  core/templates/pages/topic-viewer-page/info-tab/topic-info-tab.directive.spec.ts
  core/templates/pages/topic-viewer-page/info-tab/topic-info-tab.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: LGTM, PR: for current release

#9596 Fix #7176: Remove rest of any types under the issue 7176
  core/controllers/topic_viewer.py
  core/controllers/topic_viewer_test.py
  core/templates/app.constants.ts
  core/templates/domain/exploration/LostChangeObjectFactory.ts
  core/templates/domain/statistics/LearnerActionObjectFactory.ts
  core/templates/domain/statistics/LearnerActionObjectFactorySpec.ts
  core/templates/domain/statistics/PlaythroughImprovementTaskObjectFactorySpec.ts
  core/templates/domain/statistics/PlaythroughIssueObjectFactory.ts
  core/templates/domain/statistics/PlaythroughIssueObjectFactorySpec.ts
  core/templates/domain/statistics/PlaythroughObjectFactorySpec.ts
  core/templates/domain/story/StorySummaryObjectFactory.ts
  core/templates/domain/topic/SubtopicPageObjectFactory.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.spec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.ts
  core/templates/services/playthrough-issues-backend-api.service.spec.ts
  core/templates/services/playthrough-issues-backend-api.service.ts
  core/templates/services/playthrough.service.spec.ts
  core/templates/services/playthrough.service.ts
  scripts/linters/excluded_any_type_files.json
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish, PR: LGTM

#9647 Update to cron.yaml
  cron.yaml
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#9554 Milestone 1 - Fully cover 10 inline controllers
  .github/CODEOWNERS
  core/templates/components/button-directives/exploration-embed-button-modal.controller.spec.ts
  core/templates/components/skills-mastery-list/skills-mastery-list-concept-card-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/templates/create-feedback-thread-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/modal-templates/revert-exploration-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/preview-tab/templates/preview-set-parameters-modal.controller.spec.ts
  core/templates/pages/learner-dashboard-page/modal-templates/remove-activity-from-learner-dashboard-modal.controller.spec.ts
  core/templates/pages/learner-dashboard-page/suggestion-modal/learner-dashboard-suggestion-modal.controller.spec.ts
  core/templates/pages/signup-page/modal-templates/license-explanation-modal.controller.spec.ts
  core/templates/pages/signup-page/modal-templates/registration-session-expired-modal.controller.spec.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#9623 Milestone 1 - Testing components to get 100% coverage (part 5)
  core/templates/pages/exploration-player-page/exploration-player-page.component.spec.ts
  core/templates/pages/practice-session-page/practice-session-page.component.spec.ts
  core/templates/pages/story-editor-page/story-editor-page.component.spec.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#9664 Update to cron.yaml
  cron.yaml
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#9668 Introduce GitHub actions to backend and linter
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9671 Remove lint checks and backend tests from circle CI
  .circleci/config.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9650 Changing topic-and-skills-dashboard-page controller to component and test it until 100% coverage
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.scripts.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#9529 Milestone 1 - Testing components/controllers to get 100% coverage (part 3)
  core/templates/App.ts
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/classroom-page/classroom-page.component.spec.ts
  core/templates/pages/classroom-page/classroom-page.component.ts
  core/templates/pages/classroom-page/classroom-page.controller.ts
  core/templates/pages/classroom-page/classroom-page.scripts.ts
  extensions/interactions/LogicProof/static/js/tools/logic-demo-test.controller.spec.ts
  extensions/interactions/LogicProof/static/js/tools/logic-demo-test.controller.ts
  extensions/interactions/LogicProof/static/js/tools/strings.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#9620 Milestone 1 - Testing components to get 100% coverage (part 4)
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#9597 Added a one-off job for math expression input validation.
  .isort.cfg
  appengine_config.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/jobs_registry.py
  core/tests/gae_suite.py
  manifest.json
  scripts/linters/pre_commit_linter.py
  scripts/run_backend_tests.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, critical

#9684 Container reorganization
  .circleci/config.yml
  .github/workflows/tests.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9553 Milestone 1.3 and 1.4: Add Algebraic Expression Input Interaction
  .github/CODEOWNERS
  assets/constants.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/filters/parameterize-rule-description.filter.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/guppy-configuration.service.spec.ts
  core/templates/services/guppy-configuration.service.ts
  core/templates/services/guppy-initialization.service.spec.ts
  core/templates/services/guppy-initialization.service.ts
  core/templates/services/interaction-rules-registry.service.spec.ts
  core/templates/services/interaction-rules-registry.service.ts
  core/templates/services/math-interactions.service.spec.ts
  core/templates/services/math-interactions.service.ts
  core/tests/build_sources/assets/constants.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  data/explorations/all_interactions/all_interactions.yaml
  extensions/interactions/AlgebraicExpressionInput/AlgebraicExpressionInput.py
  extensions/interactions/AlgebraicExpressionInput/AlgebraicExpressionInput.ts
  extensions/interactions/AlgebraicExpressionInput/__init__.py
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-interaction.component.html
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-response.component.html
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-rules.service.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-rules.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-short-response.component.html
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-validation.service.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-validation.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-response-algebraic-expression-input.component.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-response-algebraic-expression-input.component.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-short-response-algebraic-expression-input.component.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-short-response-algebraic-expression-input.component.ts
  extensions/interactions/AlgebraicExpressionInput/protractor.js
  extensions/interactions/AlgebraicExpressionInput/static/AlgebraicExpressionInput.png
  extensions/interactions/base_test.py
  extensions/interactions/customization-args-defs.ts
  extensions/interactions/guppy.html
  extensions/interactions/interaction_specs.json
  extensions/interactions/interactionsRequires.ts
  extensions/interactions/protractor.js
  extensions/interactions/rule_templates.json
  extensions/interactions/rules.spec.ts
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/protractor.js
  extensions/objects/templates/algebraic-expression-editor.component.html
  extensions/objects/templates/algebraic-expression-editor.component.spec.ts
  extensions/objects/templates/algebraic-expression-editor.component.ts
  extensions/objects/templates/math-editor.component.html
  extensions/objects/templates/math-editor.component.spec.ts
  extensions/objects/templates/math-editor.component.ts
  typings/karma-fixtures.d.ts
  typings/nerdamer-defs-1.1.4.d.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#9525 Upgrading the Skills dashboard UI
  assets/constants.ts
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/domain/topic_services_test.py
  core/storage/skill/gae_models.py
  core/storage/skill/gae_models_test.py
  core/templates/components/entity-creation-services/skill-creation.service.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.spec.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-domain.constants.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/assign-skill-to-topic-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/assign-skill-to-topic-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.constants.ajs.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.constants.ts
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  core/tests/protractor_utils/workflow.js
  feconf.py
  main.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#9658 Extend math expression parser.
  core/domain/expression_parser.py
  core/domain/expression_parser_test.py
  schema_utils_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9617 Allow images while creating questions.
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/templates/App.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.ts
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/domain/question/editable-question-backend-api.service.spec.ts
  core/templates/domain/question/editable-question-backend-api.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9390 Milestone 1.1: Added the new Math schema and migrations.
  assets/rich_text_components_definitions.ts
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/html_cleaner_test.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/question_domain.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/story_domain.py
  core/domain/story_jobs_one_off_test.py
  core/domain/story_services_test.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_services_test.py
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/jobs_registry.py
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.directive.ts
  core/templates/filters/parameterize-rule-description.filter.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/rte-helper.service.spec.ts
  core/templates/services/speech-synthesis-chunker.service.spec.ts
  core/templates/services/speech-synthesis-chunker.service.ts
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/test_utils.py
  extensions/objects/models/objects.py
  extensions/objects/models/objects_test.py
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/objectComponentsRequiresForPlayers.ts
  extensions/objects/protractor.js
  extensions/objects/templates/math-expression-content-editor.directive.html
  extensions/objects/templates/math-expression-content-editor.directive.ts
  extensions/rich_text_components/Math/directives/oppia-noninteractive-math.directive.ts
  extensions/rich_text_components/Math/protractor.js
  extensions/rich_text_components/components.py
  extensions/rich_text_components/components_test.py
  feconf.py
  schema_utils_test.py
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, critical

#9603 New UI for the topic editor.
  core/templates/components/summary-tile/subtopic-summary-tile.directive.html
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.directive.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.directive.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.template.html
  core/templates/pages/topic-editor-page/modal-templates/new-subtopic-title-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/new-subtopic-title-modal.template.html
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.html
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.ts
  core/templates/pages/topic-editor-page/modal-templates/subtopic-editor-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/subtopic-editor-modal.template.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.html
  core/templates/pages/topic-editor-page/services/entity-creation.service.spec.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.ts
  core/templates/pages/topic-editor-page/services/subtopic-validation-service.ts
  core/templates/pages/topic-editor-page/services/subtopic-validation.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-routing.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-routing.service.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.spec.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-preview-tab.component.html
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-preview-tab.component.ts
  core/templates/pages/topic-editor-page/subtopics-list-tab/subtopics-list-tab.directive.html
  core/templates/pages/topic-editor-page/subtopics-list-tab/subtopics-list-tab.directive.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.html
  core/templates/pages/topic-editor-page/topic-editor-page.component.ts
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.directive.html
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/TopicEditorPage.js
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#9644 Fix drag drop interaction bug
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/jobs_registry.py
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release, critical

#9657 Fix #9602 Add touch support to fabric js editor
  extensions/objects/templates/svg-filename-editor.component.html
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  extensions/objects/templates/svg-filename-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#9689 Suppress 40k lines of ENOSPC output in frontend tests. Build GitHub Actions only on pushes/PRs to develop or release branches.
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9621 Add live output for frontend tests
  scripts/run_frontend_tests.py
Labels: PR: LGTM

#9693 Fix the frontend flake
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9580 Fix for #9458: Typescript linter fails on relative import
  scripts/linters/general_purpose_linter.py
  scripts/linters/js_ts_linter.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#9601 Milestone 1 - Fully cover 10 inline controllers (part 4)
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.controller.spec.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.controller.ts
  core/templates/components/question-directives/modal-templates/change-question-difficulty-modal.controller.spec.ts
  core/templates/components/question-directives/modal-templates/change-question-difficulty-modal.controller.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.spec.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.spec.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-review-modal.controller.spec.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
  core/templates/pages/community-dashboard-page/modal-templates/translation-modal.controller.spec.ts
  core/templates/pages/community-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/translation-tab-busy-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/welcome-translation-modal.controller.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#9696 Fix #9691: Increase build time for nav-and-misc e2e test
  .circleci/config.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9699 Fixes #9697: Separate frontend and backend tests
  .github/workflows/backend_tests.yml
  .github/workflows/frontend_tests.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9700 Revert flaky frontend test
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9702 Update cron.yaml
  cron.yaml
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#9669 Setup oppiabot workflow
  .github/workflows/oppiabot.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#9672 Upgrading the Skill Editor UI
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/storage/question/gae_models.py
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.html
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/components/rubrics-editor/rubrics-editor.directive.html
  core/templates/components/rubrics-editor/rubrics-editor.directive.ts
  core/templates/domain/skill/skill-backend-api.service.spec.ts
  core/templates/domain/skill/skill-backend-api.service.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-preview-modal.controller.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-preview-modal.controller.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-preview-modal.template.html
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.html
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/pages/skill-editor-page/services/question-creation-service.spec.ts
  core/templates/pages/skill-editor-page/services/question-creation.service.ts
  core/templates/pages/skill-editor-page/services/skill-editor-routing.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-routing.service.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.html
  core/templates/pages/skill-editor-page/skill-editor-page.component.spec.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.html
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.controller.spec.ts
  core/templates/services/context.service.spec.ts
  core/templates/services/context.service.ts
  core/tests/protractor_utils/SkillEditorPage.js
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#9651 Milestone 1 - Separate remaining inline AngularJS modal controllers into new files and fully covered them
  core/templates/pages/exploration-editor-page/modal-templates/lost-changes-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/lost-changes-modal.controller.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-validation-fail-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-validation-fail-modal.controller.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.controller.ts
  core/templates/pages/exploration-editor-page/services/autosave-info-modals.service.spec.ts
  core/templates/pages/exploration-editor-page/services/autosave-info-modals.service.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview-concept-card-modal.controller.spec.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview-concept-card-modal.controller.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9662 Milestone 1 - Change maintenance-page controller to component
  core/controllers/base_test.py
  core/templates/pages/maintenance-page/maintenance-page.component.html
  core/templates/pages/maintenance-page/maintenance-page.component.spec.ts
  core/templates/pages/maintenance-page/maintenance-page.component.ts
  core/templates/pages/maintenance-page/maintenance-page.mainpage.html
  core/templates/pages/maintenance-page/maintenance-page.scripts.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9723 Update authors and changelog for v3.0.0
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: for current release

#9701 Fix frontend errors related to spying window inner width
  core/templates/domain/sidebar/sidebar-status.service.spec.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9646 Milestone 1 - Testing exploration-editor-page to get 100% coverage (part 6)
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9724 Remove extra spaces in changelog
  CHANGELOG
Labels: PR CHANGELOG: Release team -- @ankita240796

#9663 Fix part of #7165: Remove some more any types
  core/templates/components/graph-services/graph-layout.service.ts
  core/templates/domain/collection/CollectionObjectFactory.ts
  core/templates/domain/collection/collection-validation.service.spec.ts
  core/templates/domain/collection/collection-validation.service.ts
  core/templates/domain/exploration/HintObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/RecordedVoiceoversObjectFactory.ts
  core/templates/domain/exploration/SolutionObjectFactory.ts
  core/templates/domain/exploration/VoiceoverObjectFactory.ts
  core/templates/domain/exploration/WrittenTranslationsObjectFactory.ts
  core/templates/domain/objects/UnitsObjectFactory.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/state_card/StateCardObjectFactory.ts
  core/templates/domain/story/StoryContentsObjectFactory.ts
  core/templates/domain/story/StoryObjectFactory.ts
  core/templates/domain/story/StoryObjectFactorySpec.ts
  core/templates/domain/utilities/AudioLanguageObjectFactory.ts
  core/templates/domain/utilities/AudioLanguageObjectFactorySpec.ts
  core/templates/domain/utilities/language-util.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/interaction-details-cache.service.ts
  core/templates/pages/exploration-player-page/services/player-transcript.service.ts
  core/templates/services/autogenerated-audio-player.service.ts
  core/templates/services/compute-graph.service.ts
  core/templates/services/speech-synthesis-chunker.service.ts
  extensions/interactions/GraphInput/directives/graph-input-rules.service.ts
  extensions/interactions/GraphInput/directives/graph-input-validation.service.spec.ts
  extensions/interactions/GraphInput/directives/graph-utils.service.ts
  extensions/interactions/customization-args-defs.ts
  scripts/linters/excluded_any_type_files.json
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#9706 Fix #9587, Added mobile view for topics dashboard, skills dashboard and topic editor.
  .github/CODEOWNERS
  core/templates/App.ts
  core/templates/base-components/base-content.directive.ts
  core/templates/components/entity-creation-services/skill-creation.service.ts
  core/templates/components/entity-creation-services/topic-creation.service.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.template.html
  core/templates/components/skill-selector/select-skill-modal.template.html
  core/templates/components/skill-selector/skill-selector.directive.html
  core/templates/components/skill-selector/skill-selector.directive.ts
  core/templates/domain/bottom_navbar/bottom-navbar-status.service.spec.ts
  core/templates/domain/bottom_navbar/bottom-navbar-status.service.ts
  core/templates/domain/sidebar/sidebar-status.service.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.html
  core/templates/pages/topic-editor-page/topic-editor-page.component.ts
  core/templates/pages/topic-editor-page/topic-editor-page.mainpage.html
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/assign-skill-to-topic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-topic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/delete-skill-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/delete-topic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.mainpage.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.scripts.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.ts
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#9735 Update audio project codeowners
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9739 Remove flaky test block from voicever player suite
  core/tests/protractor_desktop/playVoiceovers.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9733 Fix #9722: Fixing skill modal opening twice bug, Adding reordering functionality and Unassigned topic filter
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/templates/components/entity-creation-services/skill-creation.service.ts
  core/templates/domain/topic/TopicObjectFactory.ts
  core/templates/domain/topic/topic-domain.constants.ajs.ts
  core/templates/domain/topic/topic-domain.constants.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.directive.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.service.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM
