Repository oppia/oppia, pull requests merged in 2020-10, with the labels that each got.

#10824 Fix appengine_config to monkeypatch versions for get_distribution
  .github/CODEOWNERS
  appengine_config.py
  appengine_config_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#10834 Update to release scripts to deploy cron.yaml
  release_constants.json
  scripts/release_scripts/deploy.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#10835 Fix transaction error in stats recording.
  core/domain/stats_jobs_one_off.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri, PR: LGTM

#10781 Fix part of #10306: added the async keyword in Email Dashboard data service
  core/templates/pages/email-dashboard-pages/email-dashboard-data.service.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-data.service.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.html
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.ts
Labels: PR: LGTM

#10764 Fix #10757: Add a check to validate the values of the counts of the CommunityContributionStatsModel
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#10799 Add one off jobs to fix issues with feedback model
  core/domain/exp_services.py
  core/domain/feedback_jobs_one_off.py
  core/domain/feedback_jobs_one_off_test.py
  core/domain/feedback_services.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#10595 Fix #9578: Change Blog icon from Blogger to Medium
  assets/images/sidebar/blogger.png
  assets/images/sidebar/blogger.webp
  assets/images/sidebar/medium.png
  assets/images/sidebar/medium.webp
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.directive.html
Labels: PR: LGTM

#10773 Fix part of #10772: Change 'expect model' to 'expected model' in ERROR_CATEGORY_FIELD_CHECK error messages.
  core/domain/activity_validators_test.py
  core/domain/base_model_validators.py
  core/domain/opportunity_validators.py
  core/domain/opportunity_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#10790 Gather usages of datastore_* modules into gae_datastore_services
  core/domain/activity_validators_test.py
  core/domain/opportunity_validators_test.py
  core/domain/prod_validators_test.py
  core/domain/takeout_domain_jobs_one_off_test.py
  core/platform/datastore/gae_datastore_services.py
  core/platform/datastore/gae_datastore_services_test.py
  core/tests/test_utils.py
Labels: PR: LGTM

#10806 Add NumericExpressionInput to android validation constants
  core/domain/android_validation_constants.py
  core/domain/state_domain_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10786 Gather usages of app_identity into gae_app_identity_services
  core/jobs.py
  core/platform/app_identity/gae_app_identity_services.py
  core/platform/app_identity/gae_app_identity_services_test.py
Labels: PR: LGTM

#10833 Delete the cloud_datastore_export app
  .github/CODEOWNERS
  cron.yaml
  dispatch.yaml
  export/__init__.py
  export/acl_decorators.py
  export/app.yaml
  export/cloud_datastore_admin.py
  release_constants.json
  scripts/linters/codeowner_linter.py
  scripts/release_scripts/deploy.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#10827 Add comments for migration jobs to clarify job deletion
  core/domain/prod_validation_jobs_one_off.py
  core/domain/recommendations_jobs_one_off.py
  core/domain/skill_jobs_one_off.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#10844 Fixes Part of #10700: Refactor state stats object factory
  core/templates/components/oppia-angular-root.component.ts
  core/templates/domain/statistics/ExplorationStatsObjectFactory.ts
  core/templates/domain/statistics/ExplorationStatsObjectFactorySpec.ts
  core/templates/domain/statistics/state-stats-model.ts
  core/templates/domain/statistics/state-stats.model.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/improvements-tab.component.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/exploration-improvements-task-registry.service.spec.ts
  core/templates/services/exploration-improvements-task-registry.service.ts
  core/templates/services/exploration-improvements.service.spec.ts
  core/templates/services/exploration-stats-backend-api.service.spec.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: gracehopperOSD

#10793 Add one off jobs to fix issues with question models
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#10775 Fix part of #8668: JSOC added for admin-router.services
  core/templates/pages/admin-page/services/admin-router.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10858 Gather all remaining ndb usages into gae_datastore_services and enforce it
  core/domain/base_model_validators.py
  core/domain/opportunity_validators.py
  core/domain/prod_validators.py
  core/domain/takeout_service.py
  core/platform/datastore/gae_datastore_services.py
  core/storage/activity/gae_models.py
  core/storage/audit/gae_models.py
  core/storage/base_model/gae_models.py
  core/storage/subtopic/gae_models.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_ndb.py
Labels: PR: Affects datastore layer

#10862 Fix 10861: Removal of version attribute from ModifiableUserData domain class
  core/domain/user_domain.py
  core/domain/user_domain_test.py
  core/domain/user_services_test.py
  core/domain/wipeout_service_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10664 Fix part of #10548: Classroom issues and miscellaneous fixes
  assets/constants.ts
  assets/i18n/en.json
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/review_tests_test.py
  core/controllers/story_editor_test.py
  core/controllers/story_viewer_test.py
  core/controllers/suggestion_test.py
  core/domain/opportunity_jobs_one_off_test.py
  core/domain/opportunity_services_test.py
  core/domain/opportunity_validators_test.py
  core/domain/prod_validators_test.py
  core/domain/state_domain_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/domain/voiceover_services_test.py
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/components/summary-tile/topic-summary-tile.directive.html
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/classroom-page/classroom-page.component.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.html
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.ts
  core/tests/test_utils.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10851 Fix part of #10474: Enable Strict type check for following services - CsrfTokenService, DateTimeFormatService
  core/templates/services/csrf-token.service.spec.ts
  core/templates/services/csrf-token.service.ts
  core/templates/services/date-time-format.service.spec.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR: gracehopperOSD

#10870 Fix #10098: Translation tab fixes
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#10873 Fixes part of #10619: Temporaily remove Nitish from codeowners
  .github/CODEOWNERS
Labels: PR: LGTM

#10761 Update terms to CC BY SA
  assets/i18n/ar.json
  assets/i18n/ast.json
  assets/i18n/bn.json
  assets/i18n/de.json
  assets/i18n/en.json
  assets/i18n/es.json
  assets/i18n/fi.json
  assets/i18n/fit.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/id.json
  assets/i18n/ja.json
  assets/i18n/kab.json
  assets/i18n/mk.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/tr.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  core/templates/pages/signup-page/modal-templates/license-explanation-modal.template.directive.html
  core/templates/pages/terms-page/terms-page.component.html
Labels: PR: LGTM

#10871 Suppress AppEnginePlatformWarning warning
  appengine_config.py
Labels: PR CHANGELOG: Server Errors -- @kevintab95

#10671 Fix part of #8742: Upgrade AssetsBackendApiService, AudioPreloaderService, and ImagePreloaderService
  core/templates/App.ts
  core/templates/app.constants.ts
  core/templates/domain/exploration/ExplorationObjectFactory.ts
  core/templates/domain/utilities/file-download-request.model.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/add-audio-translation-modal.controller.ts
  core/templates/pages/exploration-player-page/services/audio-preloader.service.spec.ts
  core/templates/pages/exploration-player-page/services/audio-preloader.service.ts
  core/templates/pages/exploration-player-page/services/image-preloader.service.spec.ts
  core/templates/pages/exploration-player-page/services/image-preloader.service.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/assets-backend-api.service.spec.ts
  core/templates/services/assets-backend-api.service.ts
  core/templates/services/rte-helper-modal.controller.ts
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#10752 Fix #10638: Adds a job to add xmlns attribute to math SVG images.
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/image_validation_services.py
  core/domain/image_validation_services_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10662 Fix #10460: Adds the learner view for the ratio input interaction
  core/templates/components/state-directives/rule-editor/rule-type-selector.directive.ts
  core/templates/domain/objects/RatioObjectFactory.ts
  core/templates/domain/objects/RatioObjectFactorySpec.ts
  core/templates/domain/objects/objects-domain.constants.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  data/explorations/all_interactions/all_interactions.yaml
  extensions/interactions/RatioExpressionInput/RatioExpressionInput.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.spec.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-response-ratio-expression-input.component.spec.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-response-ratio-expression-input.component.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-short-response-ratio-expression-input.component.spec.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-short-response-ratio-expression-input.component.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-interaction.component.html
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-response.component.html
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-rules.service.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-short-response.component.html
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.spec.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.ts
  extensions/interactions/RatioExpressionInput/protractor.js
  extensions/interactions/base_test.py
  extensions/interactions/legacy_interaction_specs/interaction_specs_stateV35.json
  extensions/interactions/legacy_interaction_specs/interaction_specs_stateV36.json
  extensions/interactions/protractor.js
  extensions/objects/protractor.js
  extensions/objects/templates/nonnegative-int-editor.directive.ts
  extensions/objects/templates/ratio-expression-editor.component.spec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10883 Complete release refactor by removing extra scripts
  .github/CODEOWNERS
  constants.py
  core/tests/release_sources/generated_release_summary.md
  core/tests/release_sources/invalid_app_dev.yaml
  core/tests/release_sources/invalid_constants_with_wrong_bucket_name.txt
  core/tests/release_sources/invalid_constants_with_wrong_dev_mode.txt
  core/tests/release_sources/valid_app_dev.yaml
  core/tests/release_sources/valid_constants.txt
  release_constants.json
  release_constants.py
  scripts/common.py
  scripts/common_test.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/release_scripts/gcloud_adapter.py
  scripts/release_scripts/gcloud_adapter_test.py
  scripts/release_scripts/generate_release_info.py
  scripts/release_scripts/generate_release_info_test.py
  scripts/release_scripts/generate_release_updates.py
  scripts/release_scripts/generate_release_updates_test.py
  scripts/release_scripts/initial_release_prep.py
  scripts/release_scripts/initial_release_prep_test.py
  scripts/release_scripts/restore_backup.py
  scripts/release_scripts/restore_backup_test.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_changelog_and_credits_test.py
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_indexes.py
  scripts/release_scripts/update_indexes_test.py
  scripts/release_scripts/wrap_up_release.py
  scripts/release_scripts/wrap_up_release_test.py
  scripts/script_import_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#10846 fix part of #10306 added async to createSkill
  core/templates/components/entity-creation-services/skill-creation.service.ts
  core/templates/domain/skill/skill-creation-backend-api.service.spec.ts
  core/templates/domain/skill/skill-creation-backend-api.service.ts
Labels: PR: LGTM, PR: gracehopperOSD

#10819 Fix help card hiding the submit button in e2e tests
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.directive.html
  core/tests/protractor_desktop/extensions.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#10878 Fix part of #10482: Removed debug mode from HTML linter
  scripts/linters/html_linter.py
  scripts/linters/html_linter_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10877 Fix #10802: Moved _check_http_request to general_purpose_linter
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/js_ts_linter.py
  scripts/linters/js_ts_linter_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10885 Fix #10779: Revert codeowners for contributor dashboard project to sagangwee.
  .github/CODEOWNERS
Labels: PR: LGTM

#10815 Added customization arg for Numeric Expression Input Interaction
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/question_domain.py
  core/domain/question_services_test.py
  core/domain/suggestion_registry.py
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactorySpec.ts
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  extensions/interactions/NumericExpressionInput/NumericExpressionInput.py
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-validation.service.spec.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-validation.service.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.spec.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.ts
  extensions/interactions/NumericExpressionInput/protractor.js
  extensions/interactions/customization-args-defs.ts
  extensions/interactions/interaction_specs.json
  feconf.py
  typings/tests/customization-args-defs-test.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10894 Fix #10891: Fixes moderator page issues
  core/templates/app.constants.ts
  core/templates/pages/moderator-page/moderator-page.component.html
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10782 Topics and skills dashboard e2e refactor
  core/templates/components/skill-selector/skill-selector.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/unassign-skill-from-topics-modal.template.html
  core/tests/protractor_desktop/classroomPageFileUploadFeatures.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/SkillEditorPage.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  core/tests/protractor_utils/workflow.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#10881 Fix part of #10306: added the async keyword in Learner Dashboard
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/domain/learner_dashboard/learner-dashboard-icons.directive.ts
  core/templates/domain/learner_dashboard/learner-dashboard-ids-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-ids-backend-api.service.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
Labels: PR: LGTM

#10771 Adds a browser.wait to e2e login method to wait for the login call to complete
  core/tests/protractor_utils/users.js
  core/tests/protractor_utils/waitFor.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#10869 Enforce index config for StringProperty and TextProperty
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_registry.py
  core/platform/datastore/gae_datastore_services.py
  core/platform/datastore/gae_datastore_services_test.py
  core/storage/exploration/gae_models.py
  core/storage/feedback/gae_models.py
  core/storage/improvements/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/statistics/gae_models.py
  core/storage/story/gae_models.py
Labels: PR: Affects datastore layer

#10794 Fixes #10811: Add one off jobs to fix issues with user models
  core/domain/base_model_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/subscription_services.py
  core/domain/subscription_services_test.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer

#10898 Replace Sean with Ben temporarily for codeowners
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10896 Fix outdated name in About page.
  assets/i18n/br.json
  assets/i18n/de.json
  assets/i18n/en.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/ja.json
  assets/i18n/kab.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/sv.json
  assets/i18n/tr.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#10890 Fix part of #10863: Replace overrides of put with _pre_put_hook
  core/jobs.py
  core/storage/email/gae_models.py
Labels: PR: LGTM

#10916 Update release constants to specify a single value for app yaml
  release_constants.json
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: for current release

#10486 Fix part of #8423: Add pylint check for a single space after keyword (`if`, `elif`, `while`, `yield`)
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10864 Wipeout 8.11: Various fixes
  assets/i18n/ar.json
  assets/i18n/en.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/kab.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/tr.json
  assets/i18n/zh-hant.json
  core/domain/base_model_validators.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_jobs_one_off.py
  core/domain/wipeout_jobs_one_off_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/storage/base_model/gae_models.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  core/templates/App.ts
  core/templates/pages/delete-account-page/delete-account-page.component.html
  core/tests/test_utils.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10903 Add AlgebraicExpressionInput and MathEquationInput interactions to android constants
  core/domain/android_validation_constants.py
  core/domain/state_domain_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10895 Fix #10633: Refactored linter to fail if one of the sub-linter fails and exit
  scripts/linters/css_linter.py
  scripts/linters/css_linter_test.py
  scripts/linters/js_ts_linter.py
  scripts/linters/js_ts_linter_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10867 Migrate QuestionsListService to Angular
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/domain/question/question-backend-api.service.spec.ts
  core/templates/domain/question/question-backend-api.service.ts
  core/templates/filters/format-rte-preview.pipe.spec.ts
  core/templates/filters/format-rte-preview.pipe.ts
  core/templates/filters/string-utility-filters/capitalize.pipe.ts
  core/templates/filters/string-utility-filters/convert-to-plain-text.pipe.ts
  core/templates/filters/string-utility-filters/truncate.pipe.ts
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.html
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.html
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/questions-list.service.spec.ts
  core/templates/services/questions-list.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#10907 Fixes part of #10415: Skill validator refractor
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/skill_validators.py
  core/domain/skill_validators_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#10841 Fix part of #10474: Cover CountVectorizerService
  extensions/classifiers/count-vectorizer.service.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR: gracehopperOSD

#10825 Fix part of #5914: Enable Takeout
  assets/constants.ts
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10770 Validates whether all the metadataSnapshot has a commitLog pair
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10334 Implement admin control panel for dynamic feature gating
  .github/CODEOWNERS
  assets/constants.ts
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_domain_test.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/admin-page/admin-page.constants.ts
  core/templates/pages/admin-page/admin-page.directive.html
  core/templates/pages/admin-page/admin-page.directive.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/admin-page/features-tab/admin-features-tab.component.html
  core/templates/pages/admin-page/features-tab/admin-features-tab.component.spec.ts
  core/templates/pages/admin-page/features-tab/admin-features-tab.component.ts
  core/templates/pages/admin-page/features-tab/admin-features-tab.constants.ts
  core/templates/pages/admin-page/navbar/admin-navbar.directive.html
  core/templates/pages/admin-page/navbar/admin-navbar.directive.ts
  core/templates/pages/admin-page/services/admin-data.service.spec.ts
  core/templates/pages/admin-page/services/admin-router.service.spec.ts
  core/templates/pages/admin-page/services/admin-router.service.ts
  core/templates/services/UpgradedServices.ts
Labels: PR: LGTM

#10938 Fix #10935: Fix import of $scope
  extensions/visualizations/oppia-visualization-enumerated-frequency-table.directive.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#10860 Fix part of #10687: Make it possible to get the top 5 suggestions that have been waiting longest for review per reviewer.
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#10912 Fix part of #10707: Update the counts stored in the CommunityContributionStatsModel in real time.
  core/domain/prod_validators_test.py
  core/domain/suggestion_jobs_one_off_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#10814 Fix Part of #8668: Add JsDocs to date-time-format file
  core/templates/services/date-time-format.service.ts
Labels: PR: LGTM

#10945 Fix part of #10474: Enable Strict type check for following services - AppService, ExpressionParserService, FeaturedTranslationLanguageObjectFactory
  core/templates/domain/opportunity/featured-translation-language.model.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10952 Fix part of #10415: Refactoring improvements
  core/domain/improvements_validators.py
  core/domain/improvements_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#10940 Fix #10934: Fix admin page UI
  core/templates/pages/admin-page/roles-tab/role-graph.directive.html
Labels: PR: LGTM, PR: for current release

#10950 Upgrade libs
  core/templates/services/keyboard-shortcut.service.spec.ts
  core/templates/services/keyboard-shortcut.service.ts
  core/tests/karma.conf.ts
  extensions/rich_text_components/Svgdiagram/protractor.js
  package.json
  webpack.common.config.ts
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10821 Add one off job to fix issues with exploration model
  core/domain/base_model_validators.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/prod_validators.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#10880 Fix 10772: correct receive typo.
  core/domain/state_domain.py
  core/domain/stats_services.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#10932 Fixes #10625, #10696 & #10910: Add checks to present old suggestions for the deleted opportunities
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/domain/voiceover_services.py
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM, PR: for current release

#10948 New structures UI bug fixes
  core/templates/components/profile-link-directives/profile-link-image-backend-api.service.ts
  core/templates/components/question-difficulty-selector/question-difficulty-selector.directive.html
  core/templates/components/summary-tile/story-summary-tile.directive.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.html
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10751 Fix #10629, #10532: Fixes all contributor dashboard page UI issues
  core/templates/components/ck-editor-helpers/ck-editor-copy-toolbar/ck-editor-copy-toolbar.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.directive.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
Labels: PR: LGTM, PR: for current release

#10953 Reduce complexity of playthrough-management in stats_services
  core/controllers/editor.py
  core/controllers/reader.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
  core/storage/statistics/gae_models.py
  core/storage/statistics/gae_models_test.py
  core/tests/test_utils.py
Labels: PR: LGTM

#10971 Fix #10897: Revert codeownership back to Sean.
  .github/CODEOWNERS
  core/templates/pages/admin-page/features-tab/admin-features-tab.component.spec.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10927 Remove creation of contribution model for migration bot
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/domain/exp_services_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.html
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.ts
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#10984 FIx #10915: Remove newlines from profile picture data URLs before rendering
  core/templates/components/profile-link-directives/profile-link-image-backend-api.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10983 Fix #10982: Make the regex in _get_plain_text_from_html_content_string method in suggestion_services.py simpler.
  core/domain/suggestion_services.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#10956 Fix #10955: Make the updates to the CommunityContributionStatsModel transactional in the PopulateContributionStatsOneOffJob
  core/domain/suggestion_jobs_one_off.py
  core/storage/suggestion/gae_models.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#10943 Fix #10687: Make it possible to notify Contributor Dashboard reviewers that there are suggestions waiting for review.
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/domain/config_domain.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/storage/email/gae_models.py
  cron.yaml
  feconf.py
  main_cron.py
  requirements.txt
  utils.py
  utils_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#10975 Fix issues in prod validation jobs
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#10978 Use merge-base when determining diffs in pre_push_hook
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10963 Fix #10707, #10969: Notify admins about bottlenecks on the Contributor Dashboard causing a longer review turnaround time
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/controllers/editor_test.py
  core/controllers/reader_test.py
  core/domain/config_domain.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/feedback_services_test.py
  core/domain/moderator_services_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/domain/user_query_jobs_one_off_test.py
  core/storage/email/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  cron.yaml
  feconf.py
  main_cron.py
  utils.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#10960 Fixes part of #10415: Refactor statistics validators
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/statistics_validators.py
  core/domain/statistics_validators_test.py
Labels: PR: LGTM

#10998 Fix workflows for changelog update PRs
  .github/workflows/frontend_tests.yml
  .github/workflows/lighthouse_accessibility.yml
  .github/workflows/lighthouse_performance.yml
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: for current release

#10990 Update authors and changelog for v3.0.4
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: for current release

#10985 Stop Caching Webpack Cache
  .travis.yml
Labels: PR CHANGELOG: QA Team -- @nithusha21

#11000 Transfer codeowners from @Showtim3 to @kevintab95
  .github/CODEOWNERS
Labels: PR: LGTM

#11001 Fix terms page path in update configs script
  scripts/release_scripts/update_configs.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#10965 Improvements to rating and feedback
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/services/learner-view-rating.service.ts
  core/tests/protractor_utils/ExplorationPlayerPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11008 Fix #9415: Adds feature to update version in package.json with each release
  core/tests/release_sources/mock_package.json
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_changelog_and_credits_test.py
Labels: PR CHANGELOG: Release team -- @nithusha21

#11009 Install Chrome 77 in e2e tests on Github Actions
  .github/workflows/e2e_tests.yml
Labels: PR: LGTM

#11012 Fix issues arising in prod: remove monkeypatched distname for google-api-core, add missing index, add retry mechanism for taskqueue
  appengine_config.py
  appengine_config_test.py
  core/platform/taskqueue/cloud_taskqueue_services.py
  core/platform/taskqueue/cloud_taskqueue_services_test.py
  core/platform/taskqueue/cloud_tasks_emulator.py
  index.yaml
  requirements.txt
Labels: PR CHANGELOG: Server Errors -- @kevintab95, PR: LGTM, PR: for current release

#10855 Fixes part of #10415: Refactor recommendation validators
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/recommendations_validators.py
  core/domain/recommendations_validators_test.py
Labels: PR: LGTM, PR: gracehopperOSD

#10987 Adds color to linter success and failure message
  scripts/linters/linter_utils.py
  scripts/linters/linter_utils_test.py
  scripts/linters/pre_commit_linter.py
  scripts/linters/pre_commit_linter_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11010 Fix part of #10306 adding async to playthrough-backend-api.service.ts and learner-answer-details-backend-api.service.ts
  core/templates/domain/statistics/learner-answer-details-backend-api.service.spec.ts
  core/templates/domain/statistics/learner-answer-details-backend-api.service.ts
  core/templates/domain/statistics/playthrough-backend-api.service.spec.ts
  core/templates/domain/statistics/playthrough-backend-api.service.ts
  core/templates/pages/exploration-player-page/services/learner-answer-info.service.spec.ts
  core/templates/pages/exploration-player-page/services/learner-answer-info.service.ts
  core/templates/services/playthrough.service.spec.ts
  core/templates/services/playthrough.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10705 Refactored the linter to log more helpful messages
  .eslintrc
  scripts/linters/custom_eslint_checks/rules/dependency-checks.js
  scripts/linters/custom_eslint_checks/rules/dependency-checks.spec.js
  scripts/linters/js_ts_linter.py
  scripts/linters/pre_commit_linter.py
  scripts/linters/pre_commit_linter_test.py
  scripts/linters/pylint_extensions.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10991 Fixes Part of #8472: Migrate Expression Interpolation Service
  core/templates/expressions/expression-interpolation.service.spec.ts
  core/templates/expressions/expression-interpolation.service.ts
  core/templates/filters/convert-html-to-unicode.filter.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-editor-page/services/parameter-metadata.service.spec.ts
  core/templates/pages/exploration-editor-page/services/router.service.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#10961 Fix part of #10463: Add profile picture verification job
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_registry.py
  core/tests/data/image_constants.py
  utils.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#11013 Fix #9281: Fixed solution summary header for drag and drop interaction.
  core/templates/domain/exploration/SolutionObjectFactory.ts
  core/templates/domain/exploration/SolutionObjectFactorySpec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11016 Fix #10306: Refactoring skill-rights-backend-api-service.ts and associated test files to use Async keyword
  core/templates/domain/skill/skill-rights-backend-api.service.spec.ts
  core/templates/domain/skill/skill-rights-backend-api.service.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
Labels: PR: LGTM

#11037 Fix backend test broken on develop
  core/domain/user_jobs_one_off_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10994 Fix 10178: Remove gae_id attribute from UserSettingsModel
  core/controllers/profile_test.py
  core/domain/prod_validators_test.py
  core/domain/takeout_service_test.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/jobs_registry.py
  core/storage/collection/gae_models_test.py
  core/storage/exploration/gae_models_test.py
  core/storage/feedback/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#11018 Fix #11006: Add google as known third-party library
  .isort.cfg
  core/platform/taskqueue/cloud_taskqueue_services_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10805 Fix part of #10474: Make typescript check strict
  core/templates/domain/email-dashboard/email-dashboard-query.model.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-data.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-rules.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-rules.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11036 Meta tag content fix
  core/controllers/topic_editor.py
  core/domain/story_jobs_one_off.py
  core/domain/story_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/story/gae_models.py
  core/storage/topic/gae_models.py
  core/templates/pages/terms-page/terms-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Affects datastore layer, PR: LGTM

#10939 Fix #10788 and add a 'Coming Soon' topic card to classroom page.
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/rich_text_components_definitions.ts
  core/controllers/classroom.py
  core/controllers/classroom_test.py
  core/templates/components/summary-tile/topic-summary-tile.directive.html
  core/templates/components/summary-tile/topic-summary-tile.directive.ts
  core/templates/css/oppia.css
  core/templates/domain/classroom/classroom-backend-api.service.spec.ts
  core/templates/domain/classroom/classroom-backend-api.service.ts
  core/templates/domain/classroom/classroom-data.model.spec.ts
  core/templates/domain/classroom/classroom-data.model.ts
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/classroom-page/classroom-page.component.spec.ts
  core/tests/protractor_desktop/classroomPageFileUploadFeatures.js
  extensions/rich_text_components/Link/directives/link.directive.html
  extensions/rich_text_components/Skillreview/directives/skillreview.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10632 Fix #10617: Refactor the js_ts_linter to run eslint checks on all files at once
  scripts/linters/js_ts_linter.py
  scripts/linters/js_ts_linter_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10928 fix ContributorDashboard Page.js
  core/tests/protractor_utils/ContributorDashboardPage.js
Labels: PR: LGTM

#11056 Custom e2e logging 2
  .github/CODEOWNERS
  .gitignore
  .isort.cfg
  app_dev.yaml
  auth.json.enc
  requirements.in
  requirements.txt
  scripts/common.py
  scripts/install_third_party_libs.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/pre_commit_linter.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR: LGTM

#11050 Fix part of #10951: Only allow creating users on the signup page
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/profile_test.py
  core/domain/email_manager_test.py
  core/storage/opportunity/gae_models.py
  core/templates/pages/signup-page/signup-page.component.ts
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10908 Fix Part of #8472: Migrate exploration-summary-backend-api.service.ts and exploration-id-validation.service.ts
  core/templates/domain/exploration/exploration-id-validation.service.spec.ts
  core/templates/domain/exploration/exploration-id-validation.service.ts
  core/templates/domain/summary/exploration-summary-backend-api.service.spec.ts
  core/templates/domain/summary/exploration-summary-backend-api.service.ts
  core/templates/pages/collection-editor-page/editor-tab/collection-node-creator.directive.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.spec.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11058 Fix part of #8472: Migrate admin-config-tab-backend-api.service.ts file to angular 8
  core/templates/pages/admin-page/services/admin-config-tab-backend-api.service.spec.ts
  core/templates/pages/admin-page/services/admin-config-tab-backend-api.service.ts
Labels: PR: LGTM

#11017 Fix part of #10474: Add strict checks to files
  core/templates/domain/objects/FractionObjectFactory.ts
  core/templates/domain/objects/FractionObjectFactorySpec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11072 Classroom page tweaks
  assets/i18n/en.json
  core/templates/components/summary-tile/topic-summary-tile.directive.html
  core/templates/pages/library-page/library-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11069 Wipeout 8.13: Fix deletion policies in various models
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/config/gae_models.py
  core/storage/config/gae_models_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/recommendations/gae_models.py
  core/storage/recommendations/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/skill/gae_models_test.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/storage/subtopic/gae_models.py
  core/storage/subtopic/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10958 Added 'async' keyword to asynchronous functions that return a promise in files
  core/templates/pages/admin-page/services/admin-data.service.ts
Labels: PR: LGTM

#11084 Remove self from codeowners while I'm on holiday
  .github/CODEOWNERS
Labels: PR: LGTM

#11074 Fix #11023: Improve robustness of platform parameter evaluation
  assets/constants.ts
  core/controllers/platform_feature_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_domain_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#11066 Fix part of #10306: Added async keyword to asynchronous functions that return a promise.
  core/templates/domain/email-dashboard/email-dashboard-backend-api.service.spec.ts
  core/templates/domain/email-dashboard/email-dashboard-backend-api.service.ts
  core/templates/domain/review_test/review-test-backend-api.service.spec.ts
  core/templates/domain/review_test/review-test-backend-api.service.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-data.service.ts
  core/templates/pages/review-test-page/review-test-page.component.spec.ts
  core/templates/pages/review-test-page/review-test-page.component.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11095 Fixes an alignment issue with 4:3 ratio images in the topic summary card
  core/templates/components/summary-tile/topic-summary-tile.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM
