Repository oppia/oppia, pull requests merged in 2020-02, with the labels that each got.

#8509 Increase angular timeout
  core/tests/protractor.conf.js
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8433 Fix part of #4057: Increase frontend test services from Milestone 2.2 (2nd PR)
  core/templates/dev/head/domain/exploration/ParamSpecObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/WrittenTranslationsObjectFactory.ts
  core/templates/dev/head/domain/exploration/WrittenTranslationsObjectFactorySpec.ts
  core/templates/dev/head/domain/state/StateObjectFactorySpec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8460 Fixes #8439. Buggy interaction with the author profiles element
  core/templates/dev/head/pages/exploration-player-page/layout-directives/exploration-footer.directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#8387 Milestone 2.1 (5th PR) - Increase coverage for three services
  core/templates/dev/head/services/local-storage.service.spec.ts
  core/templates/dev/head/services/local-storage.service.ts
  core/templates/dev/head/services/playthrough-issues-backend-api.service.spec.ts
  core/templates/dev/head/services/playthrough-issues-backend-api.service.ts
  core/templates/dev/head/services/user.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8537 Fix #8534: Revert commit related to failing test
  core/templates/dev/head/services/date-time-format.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8532 Update authors and changelog for v2.8.9
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/dev/head/pages/about-page/about-page.directive.html
Labels: PR CHANGELOG: Release team -- @ankita240796

#8543 Fix #7957: Convert e2e bash script to a Python script
  .circleci/config.yml
  .github/CODEOWNERS
  .gitignore
  .travis.yml
  core/tests/data/inplace_replace_test.json
  core/tests/gae_suite.py
  core/tests/protractor.conf.js
  core/tests/test_utils.py
  core/tests/test_utils_test.py
  scripts/common.py
  scripts/common_test.py
  scripts/install_chrome_on_travis.py
  scripts/install_chrome_on_travis_test.py
  scripts/install_third_party_libs.py
  scripts/pre_commit_linter.py
  scripts/run_backend_tests.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests.sh
  scripts/run_e2e_tests_test.py
  scripts/setup_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8526 Fix #6757: Add response headers to prevent caching of /userinfohandler
  core/controllers/profile.py
Labels: PR CHANGELOG: Server Errors -- @kevintab95, PR: LGTM, PR: for current release, server errors

#8533 Fix #8518: Add Security.txt
  app_dev.yaml
  assets/security.txt
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8438 Migrate StoryViewerBackendApiService to angular
  core/templates/dev/head/domain/story_viewer/story-viewer-backend-api.service.spec.ts
  core/templates/dev/head/domain/story_viewer/story-viewer-backend-api.service.ts
  core/templates/dev/head/domain/story_viewer/story-viewer-domain.constants.ajs.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/dev/head/pages/story-viewer-page/navbar-breadcrumb/story-viewer-navbar-breadcrumb.directive.ts
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8463 Fix part of #4057: Increase frontend test services from Milestone 2.2 (5th PR)
  .github/CODEOWNERS
  core/templates/dev/head/services/construct-translation-ids.service.spec.ts
  core/templates/dev/head/services/contextual/meta-tag-customization.service.spec.ts
  core/templates/dev/head/services/contextual/window-dimensions.service.spec.ts
  core/templates/dev/head/services/contextual/window-ref.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8535 Fixed delete card icon shown even when not editable
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/templates/modal-templates/exploration-graph-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#8554 Add swap to Google Fonts link
  core/templates/dev/head/pages/header_css_libs.html
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8562 Fix app.yaml generation
  scripts/build.py
  scripts/build_test.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: for current release

#8557 Upgrade ExpressionParserService to Angular
  .eslintignore
  core/templates/dev/head/expressions/expression-evaluator.service.spec.ts
  core/templates/dev/head/expressions/expression-evaluator.service.ts
  core/templates/dev/head/expressions/expression-interpolation.service.ts
  core/templates/dev/head/expressions/expression-parser.service.spec.ts
  core/templates/dev/head/expressions/expression-parser.service.ts
  core/templates/dev/head/expressions/expression-syntax-tree.service.ts
  core/templates/dev/head/expressions/expression-type-parser.service.spec.ts
  core/templates/dev/head/expressions/expression-type-parser.service.ts
  core/templates/dev/head/expressions/parser.js
  core/templates/dev/head/services/UpgradedServices.ts
  scripts/build.py
  scripts/check_frontend_coverage.py
  scripts/create_expression_parser.py
  scripts/pre_commit_linter.py
  tsconfig.json
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8572 Fix #7870: Corrrected the margin cutoff in translated content.
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#8452 Migrate PretestQuestionBackendApiService to angular
  core/templates/dev/head/domain/question/pretest-question-backend-api.service.spec.ts
  core/templates/dev/head/domain/question/pretest-question-backend-api.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8462 Migrate ClassroomBackendApiService to angular
  core/templates/dev/head/components/summary-tile/topic-summary-tile.directive.ts
  core/templates/dev/head/domain/classroom/classroom-backend-api.service.spec.ts
  core/templates/dev/head/domain/classroom/classroom-backend-api.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8495 Fix part of #4057: Add tests for ParamChangesObjectFactory.ts
  core/templates/dev/head/domain/exploration/ParamChangesObjectFactorySpec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8443 Fix part of #4057: Increase frontend test services from Milestone 2.2 (4th PR)
  .github/CODEOWNERS
  core/templates/dev/head/services/contextual/device-info.service.spec.ts
  core/templates/dev/head/services/contextual/device-info.service.ts
  core/templates/dev/head/services/contextual/document-attribute-customization.service.spec.ts
  core/templates/dev/head/services/contextual/logger.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8513 Fix part of #4057: Adds test for UserEmailPreferencesService
  core/templates/dev/head/pages/exploration-editor-page/services/user-email-preferences.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8556 Fix #8450: Customizing "Add Item" button text.
  extensions/interactions/SetInput/SetInput.py
  extensions/interactions/SetInput/directives/oppia-interactive-set-input.directive.ts
  extensions/interactions/interaction_specs.json
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8440 Fix part of #4057: Increase frontend test services from Milestone 2.2 (3rd PR)
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-correctness-feedback.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-property.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-property.service.ts
  core/templates/dev/head/pages/exploration-editor-page/services/graph-data.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8447 Fix part of #8016: add backend service for http requests in admin-config-tab directive
  core/templates/dev/head/pages/admin-page/config-tab/admin-config-tab.directive.ts
  core/templates/dev/head/pages/admin-page/services/admin-config-tab-backend-api.service.spec.ts
  core/templates/dev/head/pages/admin-page/services/admin-config-tab-backend-api.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#8542 Fix #8541: Fixing shape of footer elements
  core/templates/dev/head/components/question-directives/question-player/question-player.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8496 Only expose thread data through fetchThreads
  core/templates/dev/head/domain/statistics/FeedbackImprovementTaskObjectFactory.ts
  core/templates/dev/head/domain/statistics/FeedbackImprovementTaskObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/SuggestionImprovementTaskObjectFactory.ts
  core/templates/dev/head/domain/statistics/SuggestionImprovementTaskObjectFactorySpec.ts
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/feedback-tab.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/services/thread-data.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/services/thread-data.service.ts
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri

#8334 Fixes #8269: adding check for travis.yml and protractor.conf.js
  .github/CODEOWNERS
  .github/workflows/tests.yml
  core/tests/data/dummy_ci_tests/.dummy_travis.yml
  core/tests/data/dummy_ci_tests/.travis_has_extra_test.yml
  core/tests/data/dummy_ci_tests/dummy_protractor.conf.js
  core/tests/data/dummy_ci_tests/protractor_has_extra_test.conf.js
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/check_e2e_tests_are_captured_in_ci_test.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  utils.py
  utils_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8210 Fix part of #5914: Takeout Enforcement
  core/domain/takeout_service.py
  core/domain/takeout_service_test.py
  core/storage/activity/gae_models.py
  core/storage/audit/gae_models.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/classifier/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/config/gae_models.py
  core/storage/email/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/feedback/gae_models.py
  core/storage/job/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/question/gae_models.py
  core/storage/recommendations/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/statistics/gae_models.py
  core/storage/storage_models_test.py
  core/storage/story/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#8536 Fix #8449: Learn again button was surfaced incorrectly
  core/templates/dev/head/pages/exploration-player-page/learner-experience/continue-button.directive.html
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8613 Upgrading test script from bash to python
  core/tests/data/dummy_ci_tests/.dummy_travis.yml
  core/tests/data/dummy_ci_tests/.travis_has_extra_test.yml
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/check_e2e_tests_are_captured_in_ci_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8511 Fix #8193: Added callout to classroom page.
  assets/constants.ts
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/dev/head/pages/library-page/library-page.directive.html
  core/templates/dev/head/pages/library-page/library-page.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8551 Fix #8550: Contact link added
  core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/dev/head/pages/oppia_footer_directive.html
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8585 Adds Malay language to the suporrted audio languages
  assets/constants.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#8607 Attempt to fix flaky e2e tests
  core/tests/protractor_utils/users.js
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8477 Milestone 3.1 (1st PR) - Increase coverage for three services
  core/templates/dev/head/domain/exploration/ExplorationObjectFactory.ts
  core/templates/dev/head/domain/exploration/ExplorationObjectFactorySpec.ts
  core/templates/dev/head/domain/question/editable-question-backend-api.service.spec.ts
  core/templates/dev/head/domain/topic/editable-topic-backend-api.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8619 Fix #8608: Adds controllerAs for the map interaction
  extensions/interactions/InteractiveMap/directives/oppia-interactive-interactive-map.directive.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#8620 Fix #8610: Makes backdrop static for profile image upload/edit modal.
  core/templates/dev/head/pages/preferences-page/preferences-page.controller.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#8540 Fix part of #7643: Use webpack for more directives
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-bool-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-choices-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-custom-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-dict-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-expression-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-float-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-html-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-int-editor.directive.html
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-int-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-list-editor.directive.html
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-list-editor.directive.ts
  core/templates/dev/head/components/forms/schema-based-editors/schema-based-unicode-editor.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/audio-bar.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/correctness-footer.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/exploration-footer.directive.html
  core/templates/dev/head/pages/exploration-player-page/layout-directives/exploration-footer.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/feedback-popup.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/learner-local-nav.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/learner-view-info.directive.ts
  core/templates/dev/head/pages/exploration-player-page/layout-directives/progress-nav.directive.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/continue-button.directive.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/input-response-pair.directive.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/learner-answer-info-card.directive.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/supplemental-card.directive.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/tutor-card.directive.ts
  core/templates/dev/head/pages/exploration-player-page/services/fatigue-detection.service.ts
  core/templates/dev/head/pages/exploration-player-page/services/hint-and-solution-modal.service.ts
  core/templates/dev/head/pages/exploration-player-page/services/refresher-exploration-confirmation-modal.service.ts
  core/templates/dev/head/pages/exploration-player-page/suggestion-modal-for-learner-local-view/suggestion-modal-for-exploration-player.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#8590 Fixes #7643: Replace Template url to template in the objects directory
  extensions/objects/templates/boolean-editor.directive.ts
  extensions/objects/templates/code-string-editor.directive.ts
  extensions/objects/templates/coord-two-dim-editor.directive.ts
  extensions/objects/templates/drag-and-drop-html-string-editor.directive.ts
  extensions/objects/templates/drag-and-drop-positive-int-editor.directive.ts
  extensions/objects/templates/filepath-editor.directive.ts
  extensions/objects/templates/fraction-editor.directive.ts
  extensions/objects/templates/graph-editor.directive.ts
  extensions/objects/templates/graph-property-editor.directive.ts
  extensions/objects/templates/html-editor.directive.ts
  extensions/objects/templates/image-with-regions-editor.directive.ts
  extensions/objects/templates/int-editor.directive.ts
  extensions/objects/templates/list-of-sets-of-html-strings-editor.directive.ts
  extensions/objects/templates/list-of-tabs-editor.directive.ts
  extensions/objects/templates/list-of-unicode-string-editor.directive.ts
  extensions/objects/templates/logic-error-category-editor.directive.ts
  extensions/objects/templates/logic-question-editor.directive.ts
  extensions/objects/templates/math-latex-string-editor.directive.ts
  extensions/objects/templates/music-phrase-editor.directive.ts
  extensions/objects/templates/nonnegative-int-editor.directive.ts
  extensions/objects/templates/normalized-string-editor.directive.ts
  extensions/objects/templates/number-with-units-editor.directive.ts
  extensions/objects/templates/parameter-name-editor.directive.ts
  extensions/objects/templates/real-editor.directive.ts
  extensions/objects/templates/sanitized-url-editor.directive.ts
  extensions/objects/templates/set-of-html-string-editor.directive.ts
  extensions/objects/templates/set-of-unicode-string-editor.directive.ts
  extensions/objects/templates/skill-selector-editor.directive.ts
  extensions/objects/templates/unicode-string-editor.directive.ts
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek

#8581 Modified the story viewer UI
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/story_viewer.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/templates/dev/head/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.directive.html
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8621 Fix #8604. Topic Name Outlined in Red Until Abbreviated Name Entered
  core/templates/dev/head/components/entity-creation-services/topic-creation.service.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/templates/new-topic-name-editor.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8469 Fix part of #4057: Increase frontend test services from Milestone 2.2 (6th PR)
  .github/CODEOWNERS
  core/templates/dev/head/services/extension-tag-assembler.service.spec.ts
  core/templates/dev/head/services/extension-tag-assembler.service.ts
  core/templates/dev/head/services/schema-undefined-last-element.service.spec.ts
  core/templates/dev/head/services/suggestion-modal.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8560 Fix part of #4057: Increase frontend test services from Milestone 3.2 (2nd PR)
  core/templates/dev/head/combined-tests.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/services/solution-verification.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/services/editor-first-time-events.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-data.service.ts
  core/templates/dev/head/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8571 Fix part of #6240: Add audio translations for the state content
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/modal-templates/add-audio-translation-modal.template.html
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/explorationTranslationTab.js
  core/tests/protractor_desktop/voiceoverUploadFeatures.js
  core/tests/protractor_utils/CreatorDashboardPage.js
  core/tests/protractor_utils/ExplorationEditorPage.js
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8615 Fix part of #4057: Increase frontend test services from Milestone 3.2 (4th PR)
  core/templates/dev/head/services/navigation.service.spec.ts
  core/templates/dev/head/services/nested-directives-recursion-timeout-prevention.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8633 Fix #8596: Removes unexpected div focus from interaction preview bar.
  core/templates/dev/head/components/state-editor/state-interaction-editor/state-interaction-editor.directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#8629 Update actions/checkout version in Actions workflows
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8575 Fix part of #4057: Increase frontend test services from Milestone 2.2 (5th PR) - fix
  .github/CODEOWNERS
  core/templates/dev/head/pages/library-page/library-page.controller.spec.ts
  core/templates/dev/head/services/UpgradedServices.ts
  core/templates/dev/head/services/construct-translation-ids.service.spec.ts
  core/templates/dev/head/services/contextual/meta-tag-customization.service.spec.ts
  core/templates/dev/head/services/contextual/window-dimensions.service.spec.ts
  core/templates/dev/head/services/contextual/window-dimensions.service.ts
  core/templates/dev/head/services/contextual/window-ref.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8568 Fix comment in build script
  scripts/build.py
  scripts/build_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#8569 Milestone 3.2 (3th PR) - Increase coverage for three services
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-rights.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/services/exploration-rights.service.ts
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-routing.service.spec.ts
  core/templates/dev/head/services/debouncer.service.spec.ts
  core/templates/dev/head/services/debouncer.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8577 Fix issues with release automation
  scripts/common.py
  scripts/common_test.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/release_scripts/initial_release_prep.py
  scripts/release_scripts/initial_release_prep_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#8427 Migrates TopicViewerBackendApiService to Angular
  core/templates/dev/head/components/summary-tile/story-summary-tile.directive.ts
  core/templates/dev/head/domain/topic_viewer/topic-viewer-backend-api.service.spec.ts
  core/templates/dev/head/domain/topic_viewer/topic-viewer-backend-api.service.ts
  core/templates/dev/head/pages/topic-viewer-page/navbar-breadcrumb/topic-viewer-navbar-breadcrumb.directive.ts
  core/templates/dev/head/pages/topic-viewer-page/topic-viewer-page.controller.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8632 Fix part of #7643: Replace templateUrl with template
  extensions/rich_text_components/Collapsible/directives/oppia-noninteractive-collapsible.directive.ts
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.directive.ts
  extensions/rich_text_components/Link/directives/oppia-noninteractive-link.directive.ts
  extensions/rich_text_components/Math/directives/oppia-noninteractive-math.directive.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.directive.ts
  extensions/rich_text_components/Tabs/directives/oppia-noninteractive-tabs.directive.ts
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek

#8634 Fix #8600: Adds new placeholder message for feedback.
  assets/i18n/ar.json
  assets/i18n/ast.json
  assets/i18n/bn.json
  assets/i18n/br.json
  assets/i18n/bs.json
  assets/i18n/de.json
  assets/i18n/el.json
  assets/i18n/en.json
  assets/i18n/eo.json
  assets/i18n/es.json
  assets/i18n/fa.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/hi.json
  assets/i18n/hu.json
  assets/i18n/id.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/kab.json
  assets/i18n/ko.json
  assets/i18n/mk.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/sv.json
  assets/i18n/tr.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  core/templates/dev/head/pages/exploration-player-page/layout-directives/feedback-popup.directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM, PR: for current release

#8641 Fix #8598 Console Error when Recording Voiceover
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/services/voiceover-recording.service.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: for current release

#8616 Fix part of #4057: Increase frontend test services from Milestone 3.2 (5th PR)
  .github/CODEOWNERS
  core/templates/dev/head/services/questions-list.service.spec.ts
  core/templates/dev/head/services/schema-default-value.service.spec.ts
  core/templates/dev/head/services/schema-default-value.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8426 Migrated email-dashboard-data-service to Angular
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-data.service.spec.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-data.service.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.controller.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8649 Remove frontend tests for debouncer service
  core/templates/dev/head/services/debouncer.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8647 Fix #8645: Fixes reloading issue with roles tab
  core/templates/dev/head/pages/admin-page/roles-tab/role-graph.directive.html
  core/templates/dev/head/pages/admin-page/roles-tab/role-graph.directive.ts
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8378 Increase efficiency of SingleLineCommentChecker
  scripts/pylint_extensions.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8563 Upgrades SearchExplorationBackendApiService to Angular
  core/templates/dev/head/domain/collection/search-explorations-backend-api.service.spec.ts
  core/templates/dev/head/domain/collection/search-explorations-backend-api.service.ts
  core/templates/dev/head/pages/collection-editor-page/collection-editor-page.constants.ajs.ts
  core/templates/dev/head/pages/collection-editor-page/collection-editor-page.constants.ts
  core/templates/dev/head/pages/library-page/library-page.constants.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8480 Fix #6242 #7334: Change style of Playthrough buttons and made clickable area intuitive
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/issues/cyclic-transitions-issue.directive.html
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/issues/early-quit-issue.directive.html
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-issue.directive.html
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri

#8490 Fix stats regeneration job
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#8582 Fix part of #6271: Refactor Outcome update method to accept domain object instead of dict.
  core/controllers/admin.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8501 Angular8 Migration: Migrating SkillMasteryApiService
  core/templates/dev/head/domain/skill/skill-mastery-backend-api.service.spec.ts
  core/templates/dev/head/domain/skill/skill-mastery-backend-api.service.ts
  core/templates/dev/head/pages/practice-session-page/practice-session-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8605 Get id-generation.service.ts up to 100% coverage in order to fix CircleCI frontend job fails
  core/templates/dev/head/services/id-generation.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8655 Routine update of translations.
  assets/i18n/ar.json
  assets/i18n/ast.json
  assets/i18n/bn.json
  assets/i18n/br.json
  assets/i18n/bs.json
  assets/i18n/da.json
  assets/i18n/de.json
  assets/i18n/diq.json
  assets/i18n/el.json
  assets/i18n/eo.json
  assets/i18n/es.json
  assets/i18n/fa.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/hi.json
  assets/i18n/hu.json
  assets/i18n/id.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/kab.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/mk.json
  assets/i18n/ne.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/sv.json
  assets/i18n/tr.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  core/controllers/base_test.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8576 Fix #8534 wrong date string format from date-time-format.service.ts
  core/templates/dev/head/services/date-time-format.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#8295 Migrate AdminDataService to angular
  core/templates/dev/head/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.directive.ts
  core/templates/dev/head/pages/admin-page/admin-page.directive.ts
  core/templates/dev/head/pages/admin-page/config-tab/admin-config-tab.directive.ts
  core/templates/dev/head/pages/admin-page/jobs-tab/admin-jobs-tab.directive.ts
  core/templates/dev/head/pages/admin-page/roles-tab/admin-roles-tab.directive.ts
  core/templates/dev/head/pages/admin-page/services/admin-data.service.spec.ts
  core/templates/dev/head/pages/admin-page/services/admin-data.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8648 Fix part of #5296: Changed the default math input exploration.
  data/explorations/all_interactions/all_interactions.yaml
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8530 Fix part of #4057: Increase frontend test services from Milestone 3.2 (1st PR)
  core/templates/dev/head/domain/skill/skill-rights-backend-api.service.spec.ts
  core/templates/dev/head/domain/summary/exploration-summary-backend-api.service.spec.ts
  core/templates/dev/head/domain/summary/exploration-summary-backend-api.service.ts
  core/templates/dev/head/domain/utilities/browser-checker.service.spec.ts
  core/templates/dev/head/domain/utilities/browser-checker.service.ts
  core/templates/dev/head/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8673 fix #8603: fixing the invalid date in suggestion thread
  core/controllers/learner_dashboard.py
  core/controllers/learner_dashboard_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#8643 Fix part of #8472: Migrate SubtopicBackendService to Angular
  core/templates/dev/head/components/summary-tile/subtopic-summary-tile.directive.ts
  core/templates/dev/head/domain/subtopic_viewer/subtopic-viewer-backend-api.service.spec.ts
  core/templates/dev/head/domain/subtopic_viewer/subtopic-viewer-backend-api.service.ts
  core/templates/dev/head/domain/subtopic_viewer/subtopic-viewer-domain.constants.ajs.ts
  core/templates/dev/head/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish, PR: LGTM

#8663 Reduce bundle size and tidy up manifest
  core/templates/dev/head/AppInit.ts
  core/templates/dev/head/pages/about-page/about-page.module.ts
  core/templates/dev/head/pages/admin-page/admin-page.module.ts
  core/templates/dev/head/pages/classroom-page/classroom-page.module.ts
  core/templates/dev/head/pages/collection-editor-page/collection-editor-page.module.ts
  core/templates/dev/head/pages/collection-player-page/collection-player-page.module.ts
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.module.ts
  core/templates/dev/head/pages/community-dashboard-page/community-dashboard-page.scripts.ts
  core/templates/dev/head/pages/contact-page/contact-page.module.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.module.ts
  core/templates/dev/head/pages/delete-account-page/delete-account-page.module.ts
  core/templates/dev/head/pages/donate-page/donate-page.module.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-page.module.ts
  core/templates/dev/head/pages/email-dashboard-pages/email-dashboard-result.module.ts
  core/templates/dev/head/pages/error-pages/error-page.module.ts
  core/templates/dev/head/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/dev/head/pages/get-started-page/get-started-page.module.ts
  core/templates/dev/head/pages/landing-pages/stewards-landing-page/stewards-landing-page.module.ts
  core/templates/dev/head/pages/landing-pages/topic-landing-page/topic-landing-page.module.ts
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/dev/head/pages/library-page/library-page.module.ts
  core/templates/dev/head/pages/maintenance-page/maintenance-page.module.ts
  core/templates/dev/head/pages/moderator-page/moderator-page.module.ts
  core/templates/dev/head/pages/notifications-dashboard-page/notifications-dashboard-page.module.ts
  core/templates/dev/head/pages/pending-account-deletion-page/pending-account-deletion-page.module.ts
  core/templates/dev/head/pages/practice-session-page/practice-session-page.module.ts
  core/templates/dev/head/pages/preferences-page/preferences-page.module.ts
  core/templates/dev/head/pages/privacy-page/privacy-page.module.ts
  core/templates/dev/head/pages/profile-page/profile-page.module.ts
  core/templates/dev/head/pages/review-test-page/review-test-page.module.ts
  core/templates/dev/head/pages/signup-page/signup-page.module.ts
  core/templates/dev/head/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/dev/head/pages/splash-page/splash-page.module.ts
  core/templates/dev/head/pages/story-editor-page/story-editor-page.module.ts
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.module.ts
  core/templates/dev/head/pages/subtopic-viewer-page/subtopic-viewer-page.module.ts
  core/templates/dev/head/pages/teach-page/teach-page.module.ts
  core/templates/dev/head/pages/terms-page/terms-page.module.ts
  core/templates/dev/head/pages/thanks-page/thanks-page.module.ts
  core/templates/dev/head/pages/topic-editor-page/topic-editor-page.module.ts
  core/templates/dev/head/pages/topic-viewer-page/topic-viewer-page.module.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  core/templates/dev/head/tests/console_errors.module.ts
  core/tests/karma.conf.ts
  manifest.json
  package.json
  yarn.lock
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek, PR: LGTM

#8624 Fix #8602: Fetch the messages after updating the suggestion
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/services/thread-data.service.ts
  core/tests/protractor_desktop/explorationImprovementsTab.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#8659 Fixes part of #6240: Fix Flaky Exploration Card Finding
  core/tests/protractor_utils/CreatorDashboardPage.js
  core/tests/protractor_utils/waitFor.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8441 Fix part of #7176: Refactor dicts in frontend to have only camelCase keys for AutogeneratedAudioLanguageObjectFactory
  assets/constants.ts
  core/templates/dev/head/domain/utilities/AutogeneratedAudioLanguageObjectFactory.ts
  core/templates/dev/head/domain/utilities/AutogeneratedAudioLanguageObjectFactorySpec.ts
  core/templates/dev/head/domain/utilities/browser-checker.service.ts
  core/templates/dev/head/domain/utilities/language-util.service.spec.ts
  core/tests/build_sources/assets/constants.js
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8695 Fix #8694: Places CSS for the loading message in the correct place.
  core/templates/dev/head/pages/exploration-player-page/exploration-player-page.directive.html
  core/templates/dev/head/pages/exploration-player-page/layout-directives/learner-view-info.directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#8671 Fix #8157: Added a validator for long fractions.
  core/templates/dev/head/domain/objects/objects-domain.constants.ts
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#8686 Fixes #7847 Send dummy mail button in the admin page.
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/templates/dev/head/pages/admin-page/misc-tab/admin-misc-tab.directive.html
  core/templates/dev/head/pages/admin-page/misc-tab/admin-misc-tab.directive.ts
  main.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8654 Fixes #8578 Story chapters don't play without prerequisite skills
  core/domain/question_fetchers.py
  core/domain/question_fetchers_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8538 Fix #5690. Added modal to allow user to add commit message when saving an edit to a question.
  core/domain/question_services.py
  core/templates/dev/head/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/dev/head/components/question-directives/modal-templates/question-editor-save-modal.template.html
  core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#8691 Fix #5676: Remove gulp from project
  .github/CODEOWNERS
  gulpfile.js
  package.json
  scripts/start.py
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8203 Milestone 1 (1st PR) - Adding Audio Duration
  core/controllers/resources_test.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/topic_editor_test.py
  core/controllers/voice_artist.py
  core/controllers/voice_artist_test.py
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
  core/domain/question_domain.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services_test.py
  core/domain/suggestion_services_test.py
  core/domain/topic_services_test.py
  core/templates/dev/head/domain/exploration/ExplorationObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/RecordedVoiceoversObjectFactory.ts
  core/templates/dev/head/domain/exploration/RecordedVoiceoversObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/StatesObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/VoiceoverObjectFactory.ts
  core/templates/dev/head/domain/exploration/VoiceoverObjectFactorySpec.ts
  core/templates/dev/head/domain/state_card/StateCardObjectFactorySpec.ts
  core/templates/dev/head/domain/topic/SubtopicPageContentsObjectFactorySpec.ts
  core/templates/dev/head/domain/topic/topic-update.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/services/translation-status.service.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/audio-preloader.service.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/audio-translation-manager.service.spec.ts
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  data/explorations/audio_test/audio_test.yaml
  feconf.py
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: LGTM

#8715 Fix #8714: fixing stylelint
  .stylelintrc
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8716 Update yarn lock file
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8661 Add try/catch for debugging production job
  core/domain/exp_domain.py
  core/domain/stats_jobs_continuous.py
  core/domain/stats_jobs_continuous_test.py
  core/jobs.py
  core/jobs_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#8664 Fix#8368: Migrate to ndb.TextProperty
  core/storage/feedback/gae_models.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8690 Fix issues in release automation
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/release_scripts/gcloud_adapter_test.py
  scripts/release_scripts/generate_release_info_test.py
  scripts/release_scripts/generate_release_updates.py
  scripts/release_scripts/generate_release_updates_test.py
  scripts/release_scripts/initial_release_prep.py
  scripts/release_scripts/initial_release_prep_test.py
  scripts/release_scripts/restore_backup.py
  scripts/release_scripts/restore_backup_test.py
  scripts/release_scripts/update_changelog_and_credits_test.py
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
  scripts/release_scripts/update_indexes_test.py
  scripts/release_scripts/wrap_up_release_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#8727 Fix signup issues in e2e tests
  core/tests/protractor_utils/users.js
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8611 Fix #2967: Allow pasting of the complete Youtube video URL in RTE components
  assets/rich_text_components_definitions.ts
  core/templates/services/rte-helper.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#8638 Fix #8450: Customizing "Add Item" button text.
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/question_domain.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services_test.py
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  extensions/interactions/SetInput/SetInput.py
  extensions/interactions/SetInput/directives/oppia-interactive-set-input.directive.ts
  extensions/interactions/interaction_specs.json
  feconf.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681
