Repository oppia/oppia, pull requests merged in 2020-09, with the labels that each got.

#10489 Replace Exploration Statistics Tab with Additional Player Features in GitHub Actions E2E
  .github/workflows/e2e_tests.yml
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#9925 Fix formatting of linter messages
  scripts/concurrent_task_utils.py
  scripts/concurrent_task_utils_test.py
  scripts/linters/app_dev_linter.py
  scripts/linters/app_dev_linter_test.py
  scripts/linters/codeowner_linter.py
  scripts/linters/codeowner_linter_test.py
  scripts/linters/css_linter.py
  scripts/linters/css_linter_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/html_linter.py
  scripts/linters/html_linter_test.py
  scripts/linters/js_ts_linter.py
  scripts/linters/js_ts_linter_test.py
  scripts/linters/linter_utils.py
  scripts/linters/other_files_linter.py
  scripts/linters/other_files_linter_test.py
  scripts/linters/pre_commit_linter.py
  scripts/linters/pre_commit_linter_test.py
  scripts/linters/python_linter.py
  scripts/linters/python_linter_test.py
  scripts/linters/third_party_typings_linter.py
  scripts/linters/third_party_typings_linter_test.py
  scripts/linters/webpack_config_linter.py
  scripts/linters/webpack_config_linter_test.py
  scripts/run_backend_tests.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10492 Math interaction fixes
  core/templates/services/math-interactions.service.spec.ts
  core/templates/services/math-interactions.service.ts
  extensions/objects/templates/custom-osk-letters-editor.component.spec.ts
  extensions/objects/templates/custom-osk-letters-editor.component.ts
  extensions/objects/templates/set-of-algebraic-identifier-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10478 Svg editor UI improvements and bug fixes
  assets/rich_text_components_definitions.ts
  core/templates/services/rte-helper.service.spec.ts
  extensions/objects/templates/svg-filename-editor.component.html
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  extensions/objects/templates/svg-filename-editor.component.ts
  extensions/objects/templates/svg-filename-editor.constants.ajs.ts
  extensions/objects/templates/svg-filename-editor.constants.ts
  extensions/rich_text_components/Svgdiagram/Svgdiagram.png
  extensions/rich_text_components/Svgdiagram/protractor.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10481 Introduce fields 'not_applicable_misconception_ids' for questions and 'misconception_ids' for question summaries
  core/controllers/admin.py
  core/controllers/suggestion_test.py
  core/domain/prod_validators_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_fetchers.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/suggestion_jobs_one_off_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/question/QuestionObjectFactorySpec.ts
  core/tests/test_utils.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10488 Fix User Creation Flake in e2e tests
  core/templates/base-components/loading-message.component.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/tests/protractor_utils/users.js
  core/tests/protractor_utils/waitFor.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#10475 Allow images in question suggestions.
  core/controllers/resources.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/fs_domain.py
  core/domain/fs_domain_test.py
  core/domain/fs_services.py
  core/domain/fs_services_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/templates/app.constants.ajs.ts
  core/templates/app.constants.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts
  core/templates/pages/contributor-dashboard-page/services/question-suggestion.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/question-suggestion.service.ts
  core/templates/services/context.service.ts
  core/templates/services/services.constants.ts
  feconf.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#10461 Milestone 3.4: Achieve Lighthouse scores of 100 in topic and skill dashboard, topic editor, topic_viewer, and thanks page
  core/templates/pages/topic-editor-page/topic-editor-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.html
Labels: PR: LGTM

#10520 Update authors and changelog for v3.0.2
  CHANGELOG
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#10525 Fix backend test issues on develop branch
  core/controllers/suggestion_test.py
  core/domain/suggestion_registry_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10515 Changing text for uncategorized skills on the topic editor and removing skill button from subtopic editor.
  core/templates/components/question-directives/questions-list/questions-list.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10459 Adding interaction field to the Question Summary Model.
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services.py
  core/jobs_registry.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/templates/components/question-directives/questions-list/questions-list.directive.html
  core/templates/domain/question/QuestionSummaryForOneSkillObjectFactorySpec.ts
  core/templates/domain/question/QuestionSummaryObjectFactory.ts
  core/templates/domain/question/QuestionSummaryObjectFactorySpec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Affects datastore layer

#10500 Fix #10380: Remove golden zip file in Takeout controller level tests.
  core/controllers/profile_test.py
  core/tests/data/oppia_takeout_data.zip
  core/tests/test_utils.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#10507 Fix #10440: Improving the UI for exploration editor, question editor and fixing navbar bug
  core/templates/components/question-difficulty-selector/question-difficulty-selector.directive.html
  core/templates/components/question-directives/questions-list/questions-list.directive.html
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/components/version-diff-visualization/version-diff-visualization.directive.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/exploration-graph-modal.template.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.html
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.html
  core/tests/protractor_utils/SkillEditorPage.js
  core/tests/protractor_utils/TopicEditorPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10524 Fix #10499: Fixing no error is displayed for exploration in story.
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10430 Removed inline styling
  core/templates/components/ck-editor-helpers/customize-rte-component-modal.template.html
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.html
  core/templates/components/common-layout-directives/common-elements/background-banner.component.html
  core/templates/components/concept-card/concept-card.template.html
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.template.html
  core/templates/components/forms/custom-forms-directives/html-select.directive.html
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-float-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-int-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-list-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-unicode-editor.directive.html
  core/templates/components/question-directives/modal-templates/change-question-difficulty-modal.template.html
  core/templates/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.html
  core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.html
  core/templates/components/question-directives/question-player/question-player.directive.html
  core/templates/components/ratings/rating-display/rating-display.directive.html
  core/templates/components/ratings/rating-display/rating-display.directive.ts
  core/templates/components/review-material-editor/review-material-editor.directive.html
  core/templates/components/skill-mastery/skill-mastery.component.html
  core/templates/components/skills-mastery-list/skills-mastery-list.directive.html
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.directive.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.directive.html
  core/templates/components/state-editor/state-content-editor/state-content-editor.directive.html
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.html
  core/templates/pages/about-page/about-page.component.html
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.directive.html
  core/templates/pages/admin-page/activities-tab/admin-prod-mode-activities-tab.directive.html
  core/templates/pages/admin-page/admin-page.directive.html
  core/templates/pages/admin-page/config-tab/admin-config-tab.directive.html
  core/templates/pages/admin-page/jobs-tab/admin-jobs-tab.directive.html
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.html
  core/templates/pages/admin-page/navbar/admin-navbar.directive.html
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.directive.html
  core/templates/pages/admin-page/roles-tab/role-graph.directive.html
  core/templates/pages/contributor-dashboard-page/login-required-message/login-required-message.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review.directive.html
  core/templates/pages/donate-page/donate-page.component.html
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.html
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
  core/templates/pages/library-page/search-results/search-results.component.html
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.directive.html
  core/templates/pages/preferences-page/preferences-page.component.html
  core/templates/pages/profile-page/profile-page-navbar.component.html
  core/templates/pages/profile-page/profile-page.component.html
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.component.html
  core/templates/pages/terms-page/terms-page.component.html
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/delete-topic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10487 Create keyboard shortcut discovery modal
  core/templates/components/keyboard-shortcut-help/keyboard-shortcut-help-modal.component.html
  core/templates/components/keyboard-shortcut-help/keyboard-shortcut-help-modal.component.spec.ts
  core/templates/components/keyboard-shortcut-help/keyboard-shortcut-help-modal.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/services/context.service.ts
  core/templates/services/keyboard-shortcut.service.spec.ts
  core/templates/services/keyboard-shortcut.service.ts
Labels: PR: LGTM

#10536 Fix #10535: Use a variable for custom schema
  extensions/objects/templates/image-with-regions-editor.directive.html
  extensions/objects/templates/image-with-regions-editor.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10526 Fix #10219: Type checks for .d.ts files
  scripts/typescript_checks.py
  tsconfig.json
  typings/custom-window-defs.d.ts
  typings/guppy-defs-7509f31c3f6e1205763d605ab41098cf6ac9d738.d.ts
  typings/karma-fixtures.d.ts
  typings/nerdamer-defs-1.1.4.d.ts
  typings/pencil-code-embed-defs.d.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10435 Increasing coverage for the topic selector directive.
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/topic-selector.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/topic-selector.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#10534 Transfer files away from vojtechjelinek
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10509 Fix #9952: Removed the temporary model ExplorationMathRichTextInfo and corresponding one-off jobs
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/jobs_registry.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#10511 Wipeout 8.6: Add pseudonymous usernames
  core/domain/user_services.py
  core/domain/user_services_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10466 Wipeout 8.5: Delete exploration related models and remove old `JobModel`s
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/controllers/reader_test.py
  core/domain/cron_services.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/prod_validators_test.py
  core/domain/recommendations_jobs_one_off.py
  core/domain/recommendations_jobs_one_off_test.py
  core/domain/recommendations_services.py
  core/domain/recommendations_services_test.py
  core/jobs_registry.py
  core/storage/recommendations/gae_models.py
  core/storage/recommendations/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#10383 Fix #10383: Migrated comment checker to ITokenChecker
  .pylintrc
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10542 Remove Accessibility & Learner Suites from Actions
  .github/workflows/e2e_tests.yml
Labels: PR CHANGELOG: QA Team -- @nithusha21

#10458 Fix #10456: Improve naming by changing Scoring to Proficiency in UserContributionScoringModel and UserContributionScoring.
  core/controllers/creator_dashboard_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/domain/takeout_service_test.py
  core/domain/user_domain.py
  core/domain/user_domain_test.py
  core/jobs_registry.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: Affects datastore layer

#10523 Fix issues with release scripts
  scripts/common.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/release_scripts/gcloud_adapter.py
  scripts/release_scripts/gcloud_adapter_test.py
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#10332 Wipeout 8.4: Add `mentioned_user_ids` to RightsSnapshotMetadataModels
  core/controllers/acl_decorators_test.py
  core/controllers/base_test.py
  core/controllers/collection_editor_test.py
  core/controllers/creator_dashboard_test.py
  core/controllers/editor_test.py
  core/controllers/library_test.py
  core/controllers/suggestion_test.py
  core/controllers/tasks_test.py
  core/controllers/voice_artist_test.py
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/domain/change_domain.py
  core/domain/collection_domain.py
  core/domain/collection_services.py
  core/domain/collection_services_test.py
  core/domain/config_domain.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/exp_domain.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/interaction_jobs_one_off.py
  core/domain/platform_parameter_domain.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/question_domain.py
  core/domain/recommendations_jobs_one_off.py
  core/domain/recommendations_services.py
  core/domain/rights_domain.py
  core/domain/rights_domain_test.py
  core/domain/rights_manager.py
  core/domain/rights_manager_test.py
  core/domain/search_services.py
  core/domain/skill_domain.py
  core/domain/story_domain.py
  core/domain/subscription_services_test.py
  core/domain/subtopic_page_domain.py
  core/domain/suggestion_services_test.py
  core/domain/summary_services.py
  core/domain/summary_services_test.py
  core/domain/takeout_service_test.py
  core/domain/topic_domain.py
  core/domain/topic_jobs_one_off_test.py
  core/domain/user_jobs_continuous_test.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_services.py
  core/domain/voiceover_services.py
  core/domain/wipeout_service_test.py
  core/jobs_registry.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/topic/gae_models.py
  feconf.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10554 Fixing position of the question help box on mobile.
  core/templates/components/question-directives/questions-list/questions-list.directive.html
Labels: PR: LGTM

#10443 Rewrite the coreEditorAndPlayerFeatures Suite
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/ExplorationEditorSettingsTab.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
Labels: PR: LGTM

#10550 Fix part of #8423: Added lint to prohibit inline styling
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/ignored_style_tag_files.py
  scripts/linters/test_files/invalid_style_tag.html
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10562 Drop --skip-build and --skip-install from the first e2e test on Github actions
  .github/workflows/e2e_tests.yml
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10541 Fix part of #9632: Introduce/fix jobs for regenerating the missing stats of an Exploration
  core/domain/stats_domain.py
  core/domain/stats_domain_test.py
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR: Affects datastore layer, PR: LGTM

#10521 Fixed error message in math interactions.
  core/templates/services/math-interactions.service.spec.ts
  core/templates/services/math-interactions.service.ts
  extensions/interactions/guppy.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10517 Fix #10394: Shift PIN attribute to UserSettingsModel
  core/domain/prod_validators_test.py
  core/domain/takeout_service_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  core/tests/data/oppia_takeout_data.zip
  feconf.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10565 Adding requireindex as a dependency
  package.json
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10537 Milestone 3.5: Add Dynamic URLS to lighthouse and Reinstate admin pages
  .lighthouserc.js
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/tests/puppeteer/lighthouse_setup.js
  puppeteer-login-script.js
  scripts/run_lighthouse_tests.py
Labels: PR: LGTM

#10557 Change landing page links
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.spec.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10566 Adding test for story editor directive.
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.spec.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#10341 Create an index file for all angular services to help with testing angularjs code without using ugs.
  .eslintrc
  .github/CODEOWNERS
  core/templates/services/angular-services.index.ts
  scripts/linters/js_ts_linter.py
  scripts/linters/js_ts_linter_test.py
  scripts/linters/test_files/valid_ignored.service.ts
  scripts/linters/test_files/valid_unlisted.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#10392 Migrate topic-viewer-page.component.ts
  core/templates/components/summary-tile/story-summary-tile.directive.html
  core/templates/components/summary-tile/subtopic-summary-tile.directive.html
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.import.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#10544 Fix part of #8668: document logger and messenger services
  core/templates/services/contextual/logger.service.ts
  core/templates/services/messenger.service.ts
Labels: PR: LGTM

#10570 Remove unnecessary ids and update names for ids used for accessibility.
  core/templates/base-components/base-content.directive.html
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.html
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.directive.html
  core/templates/pages/admin-page/roles-tab/role-graph.directive.html
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.html
  core/templates/pages/preferences-page/preferences-page.component.html
  core/templates/services/keyboard-shortcut.service.spec.ts
  core/templates/services/keyboard-shortcut.service.ts
  core/tests/protractor/accessibility.js
  puppeteer-login-script.js
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#10060 Milestone 2 of ML pipeline migration
  .circleci/config.yml
  .github/CODEOWNERS
  .gitignore
  appengine_config.py
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/classifier.py
  core/controllers/classifier_test.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/domain/classifier_domain.py
  core/domain/classifier_domain_test.py
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/fs_domain.py
  core/domain/fs_services.py
  core/domain/fs_services_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/proto/README.md
  core/domain/proto/__init__.py
  core/jobs_registry.py
  core/storage/classifier/gae_models.py
  core/storage/classifier/gae_models_test.py
  core/templates/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/tests/gae_suite.py
  core/tests/test_utils.py
  feconf.py
  manifest.json
  prototool.yaml
  scripts/common.py
  scripts/install_third_party.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/install_third_party_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/pre_commit_linter.py
  scripts/run_backend_tests.py
  utils.py
Labels: PR CHANGELOG: Answer Classification -- @prasanna08, PR: LGTM

#10558 Fix part of #5914: Change export policy to per-field rather than per-model
  core/domain/takeout_service.py
  core/storage/activity/gae_models.py
  core/storage/audit/gae_models.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/classifier/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/config/gae_models.py
  core/storage/config/gae_models_test.py
  core/storage/email/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/improvements/gae_models.py
  core/storage/improvements/gae_models_test.py
  core/storage/job/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/question/gae_models.py
  core/storage/recommendations/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/statistics/gae_models.py
  core/storage/storage_models_test.py
  core/storage/story/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/topic/gae_models.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10529 Allow uploading and copying images in translation suggestion
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/fs_services.py
  core/domain/fs_services_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/templates/App.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.directive.html
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
  core/templates/services/image-local-storage.service.spec.ts
  core/templates/services/image-local-storage.service.ts
  extensions/objects/templates/filepath-editor.directive.ts
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  extensions/objects/templates/svg-filename-editor.component.ts
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.directive.ts
  extensions/rich_text_components/Math/directives/oppia-noninteractive-math.directive.ts
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#10576 Fix #10472: Add myself back as codeowners
  .github/CODEOWNERS
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#10580 Removed inline styling
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navbar-breadcrumb.component.html
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/exploration-graph.component.html
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.html
  core/templates/pages/exploration-editor-page/editor-tab/test-interaction-panel/test-interaction-panel.component.html
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-panel.component.html
  core/templates/pages/exploration-editor-page/editor-tab/unresolved-answers-overview/unresolved-answers-overview.component.html
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-modal.service.ts
  core/templates/pages/exploration-editor-page/modal-templates/exploration-save-modal.template.html
  core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.template.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/cyclic-transitions-issue.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/early-quit-issue.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-issue.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-submissions-issue.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/playthrough-issues.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/templates/playthrough-modal.template.html
  core/templates/pages/exploration-editor-page/statistics-tab/templates/state-stats-modal.template.html
  core/templates/pages/exploration-editor-page/suggestion-modal-for-editor-view/exploration-editor-suggestion-modal.template.html
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.html
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.html
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.html
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.directive.html
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.directive.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.html
  core/templates/pages/exploration-player-page/templates/exploration-player-suggestion-modal.directive.html
  core/templates/pages/learner-dashboard-page/suggestion-modal/learner-dashboard-suggestion-modal.directive.html
  core/templates/pages/review-test-page/review-test-page.component.html
  core/templates/pages/topic-editor-page/modal-templates/select-skill-and-difficulty-modal.template.html
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10573 Enables contributor dashboard page
  .circleci/config.yml
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/config_domain.py
  feconf.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/run_lighthouse_tests.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#10559 Add link to code change guidelines in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: LGTM

#10567 Fix part of #10491: Untag deleted misconceptions from questions
  core/controllers/suggestion_test.py
  core/domain/prod_validators_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_fetchers.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/skill_domain.py
  core/domain/skill_services.py
  core/domain/suggestion_jobs_one_off_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/question/QuestionObjectFactorySpec.ts
  core/tests/test_utils.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10581 Redirect to topic editor page if subtopic id is invalid
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.spec.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10586 Fix #10250: Revert codeowners for contributor dashboard project
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10585 Fix #10538: Revert CODEOWNER files back to @vojtechjelinek
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10583 Convert base-undo-redo service to a typescript class.
  core/templates/domain/editor/undo_redo/base-undo-redo.service.ts
  core/templates/domain/editor/undo_redo/question-undo-redo.service.ts
  core/templates/domain/editor/undo_redo/undo-redo.service.ts
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.directive.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/pages/story-editor-page/story-editor-page.component.spec.ts
  core/templates/pages/story-editor-page/story-editor-page.component.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#10592 Fix 10590: Update the naming of UserContributionScoringModel to UserContributionProficiencyModel in index.yaml.
  index.yaml
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM, PR: for current release

#10427 Introduce a unit test utils file to contain commonly used patterns in unit testing.
  core/templates/pages/collection-editor-page/settings-tab/collection-permissions-card.directive.spec.ts
  core/templates/tests/unit-test-utils.spec.ts
  core/templates/tests/unit-test-utils.ts
  scripts/check_frontend_coverage.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/ts_ignore_exceptions.json
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#10589 Remove manual check for feconf verification
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#10577 Disable inline styling.
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/components/skill-mastery/skill-mastery.component.html
  core/templates/components/skill-selector/skill-selector.directive.html
  core/templates/components/summary-tile/collection-summary-tile.directive.html
  core/templates/components/summary-tile/exploration-summary-tile.directive.html
  core/templates/components/summary-tile/story-summary-tile.directive.html
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/collection-editor-page/editor-tab/collection-node-creator.directive.html
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar-breadcrumb.directive.html
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.directive.html
  core/templates/pages/collection-editor-page/settings-tab/collection-details-editor.directive.html
  core/templates/pages/collection-player-page/collection-local-nav/collection-local-nav.directive.html
  core/templates/pages/collection-player-page/collection-player-page.directive.html
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.directive.html
  core/templates/pages/delete-account-page/delete-account-page.component.html
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.html
  core/templates/pages/exploration-editor-page/editor-tab/state-param-changes-editor/state-param-changes-editor.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/exploration-graph-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/teach-oppia-modal.template.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
  core/templates/pages/exploration-editor-page/exploration-objective-editor/exploration-objective-editor.component.html
  core/templates/pages/exploration-editor-page/exploration-title-editor/exploration-title-editor.component.html
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.html
  core/templates/pages/exploration-editor-page/param-changes-editor/param-changes-editor.component.html
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/statistics-tab.component.html
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-status-graph/state-translation-status-graph.component.html
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.html
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.directive.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.html
  core/templates/pages/exploration-player-page/learner-experience/continue-button.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.directive.html
  core/templates/pages/exploration-player-page/templates/answer-popup-container.template.html
  core/templates/pages/exploration-player-page/templates/information-card-modal.directive.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.html
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.component.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.directive.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
  extensions/interactions/GraphInput/directives/graph-viz.directive.html
  extensions/interactions/ImageClickInput/directives/image-click-input-interaction.directive.html
  scripts/linters/general_purpose_linter.py
  scripts/linters/ignored_style_tag_files.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10571 Separate lighthouse accessibility checks into a new suite
  .github/CODEOWNERS
  .github/workflows/lighthouse_accessibility.yml
  .github/workflows/lighthouse_performance.yml
  .lighthouserc-accessibility.js
  .lighthouserc.js
  core/tests/puppeteer/lighthouse_setup.js
  puppeteer-login-script.js
  scripts/run_lighthouse_tests.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#10502 Fix part of #9827: Update the way backend python libraries are installed.
  .circleci/config.yml
  .github/CODEOWNERS
  .github/workflows/backend_tests.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/eslint_tests.yml
  .github/workflows/frontend_tests.yml
  .github/workflows/lighthouse_accessibility.yml
  .github/workflows/lighthouse_performance.yml
  .github/workflows/lint.yml
  .travis.yml
  appengine_config.py
  core/controllers/base_test.py
  core/tests/data/third_party/requirements_test.txt
  core/tests/gae_suite.py
  manifest.json
  python_utils.py
  requirements.in
  requirements.txt
  scripts/common.py
  scripts/install_backend_python_libs.py
  scripts/install_backend_python_libs_test.py
  scripts/install_third_party.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_test.py
  scripts/linters/codeowner_linter.py
  scripts/linters/pre_commit_linter.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  scripts/regenerate_requirements.py
  scripts/regenerate_requirements_test.py
  scripts/run_backend_tests.py
  scripts/script_import_test.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#10615 Improving topics and skill dashboard mobile view
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-topic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10545 Adding loading screen to topic editor and story editor
  core/templates/pages/story-editor-page/story-editor-page.component.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10620 Fixes part of #10619: Temporaily remove Nitish from codeowners
  .github/CODEOWNERS
Labels: PR: LGTM

#10626 Update names for GitHub Actions workflows to be globally consistent.
  .github/workflows/backend_tests.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/frontend_tests.yml
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#10494 Fix part of #8423: Added new lint check to ensure correct frontend-tests message styling
  .eslintrc
  core/templates/components/ck-editor-helpers/ck-editor-copy-toolbar/ck-editor-copy-toolbar.component.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-name.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-property.service.spec.ts
  core/templates/domain/exploration/LostChangeObjectFactorySpec.ts
  core/templates/domain/feedback_thread/FeedbackThreadSummaryObjectFactorySpec.ts
  core/templates/domain/learner_dashboard/LearnerDashboardActivityIdsObjectFactorySpec.ts
  core/templates/domain/learner_dashboard/learner-playlist.service.spec.ts
  core/templates/domain/objects/FractionObjectFactorySpec.ts
  core/templates/domain/platform_feature/platform-feature-backend-api.service.spec.ts
  core/templates/domain/recommendations/exploration-recommendations-backend-api.service.spec.ts
  core/templates/domain/skill/SkillObjectFactorySpec.ts
  core/templates/domain/skill/skill-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.spec.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/voiceover-opportunities/voiceover-opportunities.component.spec.ts
  core/templates/pages/creator-dashboard-page/modal-templates/upload-activity-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/answer-groups-cache.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/services/compare-versions.service.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/improvements-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/services/editor-first-time-events.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-states.service.spec.ts
  core/templates/pages/exploration-editor-page/services/router.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-language.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.spec.ts
  core/templates/pages/exploration-player-page/services/prediction-algorithm-registry.service.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.component.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/rearrange-skills-in-subtopics-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/services/assets-backend-api.service.spec.ts
  core/templates/services/contextual/device-info.service.spec.ts
  core/templates/services/exploration-improvements.service.spec.ts
  core/templates/services/state-top-answers-stats.service.spec.ts
  core/tests/protractor/learnerFlow.js
  core/tests/protractor/libraryFlow.js
  core/tests/protractor/subscriptionsFlow.js
  core/tests/protractor_desktop/additionalEditorFeatures.js
  core/tests/protractor_desktop/additionalPlayerFeatures.js
  core/tests/protractor_desktop/collections.js
  core/tests/protractor_desktop/explorationFeedbackTab.js
  core/tests/protractor_desktop/explorationStatisticsTab.js
  core/tests/protractor_desktop/extensions.js
  core/tests/protractor_desktop/learnerDashboard.js
  core/tests/protractor_desktop/navigation.js
  core/tests/protractor_desktop/profileFeatures.js
  extensions/interactions/GraphInput/directives/graph-input-validation.service.spec.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input.spec.ts
  extensions/interactions/interaction-attributes-extractor.service.spec.ts
  scripts/linters/custom_eslint_checks/rules/test-message-style.js
  scripts/linters/custom_eslint_checks/rules/test-message-style.spec.js
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10623 Use preexisting pip functions with requirements
  requirements.in
  requirements.txt
  scripts/install_backend_python_libs.py
  scripts/install_backend_python_libs_test.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10643 Fix e2e issue in the topic and skill dashbaord page
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#10644 Upgrade libs
  core/templates/services/date-time-format.service.spec.ts
  package.json
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10659 Add helper function to provide all angular dependencies.
  core/templates/domain/statistics/ExplorationStatsObjectFactory.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.spec.ts
  core/templates/services/angular-services.index.ts
  core/templates/tests/unit-test-utils.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#10547 Fix #10546: Make it possible to query suggestions by language.
  core/controllers/creator_dashboard_test.py
  core/controllers/learner_dashboard_test.py
  core/domain/prod_validators_test.py
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/domain/takeout_service_test.py
  core/jobs_registry.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: Affects datastore layer, PR: LGTM, PR: for current release

#10669 Fix #10594, 10605 Exploration navbar bug, and modal closing on clicking outside.
  core/templates/components/entity-creation-services/story-creation.service.ts
  core/templates/components/entity-creation-services/topic-creation.service.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10241 Fix #10240: Implement domain requirements for android profiles
  core/domain/activity_jobs_one_off.py
  core/domain/role_services.py
  core/domain/role_services_test.py
  core/domain/takeout_service.py
  core/domain/takeout_service_test.py
  core/domain/user_domain.py
  core/domain/user_domain_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_domain.py
  core/domain/wipeout_domain_test.py
  core/domain/wipeout_jobs_one_off.py
  core/domain/wipeout_jobs_one_off_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10651 Fix #10477: Access AppConstants using dot-notation
  core/templates/components/forms/validators/is-url-fragment.filter.ts
  core/templates/domain/collection/collection-validation.service.ts
  core/templates/domain/topics_and_skills_dashboard/NewlyCreatedTopicObjectFactory.ts
  core/templates/services/math-interactions.service.ts
  core/templates/services/validators.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-validation.service.ts
  extensions/interactions/MathEquationInput/directives/math-equation-input-validation.service.ts
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#10424 Fix #861: Add text input rule validation.
  extensions/interactions/TextInput/directives/text-input-validation.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#10660 Fix part of #8472: Migrate ExpressionEvaluatorService to Angular 8
  core/templates/App.ts
  core/templates/expressions/expression-evaluator.service.spec.ts
  core/templates/expressions/expression-evaluator.service.ts
  core/templates/expressions/expression-syntax-tree.service.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#10661 Fix part of #8472: Migrate FocusManagerService to Angular 8
  core/templates/App.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/stateful/focus-manager.service.spec.ts
  core/templates/services/stateful/focus-manager.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#10584 Adding confirmation dialog before leaving browser.
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.spec.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.html
  core/templates/pages/story-editor-page/story-editor-page.component.spec.ts
  core/templates/pages/story-editor-page/story-editor-page.component.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.ts
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_utils/StoryEditorPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#10613 Delete feedbacks when exploration or topic is deleted
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/feedback_services.py
  core/domain/feedback_services_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/domain/wipeout_service.py
  core/storage/feedback/gae_models.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10692 Fix #10596: Fix error in showing links to explorations in moderator page
  core/templates/pages/moderator-page/moderator-page.component.html
  core/templates/pages/moderator-page/moderator-page.component.spec.ts
  core/templates/pages/moderator-page/moderator-page.component.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM, PR: for current release

#10622 Fix part of #9827: Fix bug where python libraries with added support for other packages are handled incorrectly.
  scripts/install_backend_python_libs.py
  scripts/install_backend_python_libs_test.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#10677 Slight changes to the lighthouse configs
  .lighthouserc-accessibility.js
  .lighthouserc.js
  core/tests/karma.conf.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10680 Convert error output in interaction validation job to unicode
  core/domain/interaction_jobs_one_off.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#10579 Page title and meta tag fixes
  core/controllers/story_viewer.py
  core/controllers/story_viewer_test.py
  core/controllers/topic_viewer.py
  core/controllers/topic_viewer_test.py
  core/templates/domain/story_viewer/StoryPlaythroughObjectFactory.ts
  core/templates/domain/story_viewer/StoryPlaythroughObjectFactorySpec.ts
  core/templates/domain/story_viewer/story-viewer-backend-api.service.spec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.spec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.ts
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/library-page.component.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.spec.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.spec.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/page-title.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10688 Fix part of #10687: Make it possible to retrieve the question and translation suggestions that have been waiting too long for review.
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#10693 Migrate Skill Backend Api Service to Angular
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/domain/editor/undo_redo/ChangeObjectFactory.ts
  core/templates/domain/skill/skill-backend-api.service.spec.ts
  core/templates/domain/skill/skill-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.controller.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/delete-misconception-modal.controller.spec.ts
  core/templates/pages/skill-editor-page/services/question-creation-service.spec.ts
  core/templates/pages/skill-editor-page/services/question-creation.service.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/question-opportunities-select-skill-and-difficulty-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/question-opportunities-select-skill-and-difficulty-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/services/angular-services.index.ts
  tsconfig-strict.json
  tsconfig.json
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#10683 Fixes part of #10548: UI/UX fixes in the classroom page
  assets/i18n/en.json
  core/templates/components/summary-tile/topic-summary-tile.directive.html
  core/templates/components/summary-tile/topic-summary-tile.directive.ts
  core/templates/css/oppia.css
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/classroom-page/classroom-page.component.ts
  core/templates/pages/classroom-page/classroom-page.import.ts
  core/templates/pages/classroom-page/classroom-page.mainpage.html
  core/templates/pages/library-page/search-bar/search-bar.component.html
  core/templates/pages/library-page/search-bar/search-bar.component.ts
  core/tests/protractor_utils/LibraryPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10679 Fix minor issues with release scripts
  scripts/common.py
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/release_scripts/gcloud_adapter.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#10694 Fix part of #9632: Improve debugability of stats_domain.ExplorationStats
  core/domain/stats_domain.py
  core/domain/stats_domain_test.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
  core/templates/domain/exploration/stats-reporting-backend-api.service.ts
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri, PR: for current release

#10695 Fixes for learning facing bugs
  core/templates/components/material.module.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/terms-page/terms-page.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10497 Fix part of #8423: Added lint check to disable multiline eslint-disable comments
  .eslintrc
  assets/constants.ts
  core/templates/combined-tests.spec.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-content-service.spec.ts
  core/templates/components/forms/custom-forms-directives/apply-validation.directive.ts
  core/templates/components/forms/custom-forms-directives/require-is-float.directive.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.spec.ts
  core/templates/components/question-directives/question-misconception-editor/tag-misconception-modal.controller.spec.ts
  core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-hints.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-param-changes.service.spec.ts
  core/templates/domain/exploration/ParamTypeObjectFactory.ts
  core/templates/domain/learner_dashboard/learner-dashboard-icons.directive.ts
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-domain.constants.ajs.ts
  core/templates/filters/translate.pipe.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/answer-groups-cache.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/interaction-details-cache.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/solution-validity.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data.service.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-status-display.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-states.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-editor-page/services/graph-data.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.constants.ajs.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/assets-backend-api.service.spec.ts
  core/templates/services/question-validation.service.spec.ts
  core/templates/services/user.service.spec.ts
  extensions/interactions/CodeRepl/protractor.js
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-rules.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.spec.ts
  extensions/interactions/ImageClickInput/directives/image-click-input-validation.service.spec.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-rules.service.spec.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-validation.service.spec.ts
  extensions/interactions/LogicProof/static/js/conversion.ts
  extensions/interactions/LogicProof/static/js/data.ts
  extensions/interactions/LogicProof/static/js/tools/logic-demo-test.controller.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-rules.service.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-validation.service.spec.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-validation.service.spec.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.spec.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-rules.service.spec.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-rules.service.ts
  extensions/interactions/rules.spec.ts
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  scripts/linters/custom_eslint_checks/rules/no-multiline-disable.js
  scripts/linters/custom_eslint_checks/rules/no-multiline-disable.spec.js
  typings/guppy-defs-7509f31c3f6e1205763d605ab41098cf6ac9d738.d.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10722 Remove duplicate job name in jobs_regsitry
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10673 Fix #10612: Fixing question editor UI issues.
  core/templates/components/question-directives/questions-list/questions-list.directive.html
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10704 Fix part of #10049: Remove deprecated fields: translator_ids & gae_user_id
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/exploration/gae_models.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer

#10672 Milestone 2 of ML pipeline migration
  .circleci/config.yml
  .github/CODEOWNERS
  .gitignore
  appengine_config.py
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/classifier.py
  core/controllers/classifier_test.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/domain/classifier_domain.py
  core/domain/classifier_domain_test.py
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/fs_domain.py
  core/domain/fs_services.py
  core/domain/fs_services_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/proto/README.md
  core/domain/proto/__init__.py
  core/jobs_registry.py
  core/storage/classifier/gae_models.py
  core/storage/classifier/gae_models_test.py
  core/templates/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/tests/gae_suite.py
  core/tests/test_utils.py
  feconf.py
  manifest.json
  prototool.yaml
  scripts/common.py
  scripts/install_backend_python_libs.py
  scripts/install_backend_python_libs_test.py
  scripts/install_third_party.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/install_third_party_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/pre_commit_linter.py
  scripts/run_backend_tests.py
  utils.py
Labels: PR CHANGELOG: Answer Classification -- @prasanna08

#10621 Implement part of #9827: Update webapp2 to support python3
  app_dev.yaml
  core/tests/gae_suite.py
  requirements.in
  requirements.txt
  scripts/linters/pre_commit_linter.py
  scripts/run_backend_tests.py
  scripts/setup_gae.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#10714 Add workaround for stateful Angular 8 Services
  core/templates/App.ts
  core/templates/components/button-directives/hint-and-solution-buttons.directive.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/pages/exploration-player-page/templates/exploration-player-suggestion-modal.controller.spec.ts
  core/templates/pages/exploration-player-page/templates/refresher-exploration-confirmation-modal.controller.spec.ts
  core/templates/services/UpgradedServices.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#10724 Fix part of #10474: Cover BrowserCheckerService and BackgroundMaskService with strict checks
  core/templates/domain/utilities/browser-checker.service.spec.ts
  core/templates/services/stateful/background-mask.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#10731 Fix #10608 Fixing skills dashboard pagination .
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10690 Fix 10649: The history tab in the exploration editor shows incorrect revisions.
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#10723 Adds new script and constants for release refactoring
  .github/CODEOWNERS
  release_constants.json
  scripts/release_scripts/repo_specific_changes_fetcher.py
  scripts/release_scripts/repo_specific_changes_fetcher_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#10505 Fix #10522: Add initialization at page startup for PlatformFeatureService
  core/templates/pages/about-page/about-page.module.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/classroom-page/classroom-page.module.ts
  core/templates/pages/collection-editor-page/collection-editor-page.module.ts
  core/templates/pages/collection-player-page/collection-player-page.module.ts
  core/templates/pages/contact-page/contact-page.module.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.module.ts
  core/templates/pages/delete-account-page/delete-account-page.module.ts
  core/templates/pages/donate-page/donate-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.module.ts
  core/templates/pages/error-pages/error-page.module.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/get-started-page/get-started-page.module.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.module.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.module.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/library-page/library-page.module.ts
  core/templates/pages/maintenance-page/maintenance-page.module.ts
  core/templates/pages/moderator-page/moderator-page.module.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.module.ts
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.module.ts
  core/templates/pages/practice-session-page/practice-session-page.module.ts
  core/templates/pages/preferences-page/preferences-page.module.ts
  core/templates/pages/privacy-page/privacy-page.module.ts
  core/templates/pages/profile-page/profile-page.module.ts
  core/templates/pages/review-test-page/review-test-page.module.ts
  core/templates/pages/signup-page/signup-page.module.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/pages/splash-page/splash-page.module.ts
  core/templates/pages/story-editor-page/story-editor-page.module.ts
  core/templates/pages/story-viewer-page/story-viewer-page.module.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.module.ts
  core/templates/pages/teach-page/teach-page.module.ts
  core/templates/pages/terms-page/terms-page.module.ts
  core/templates/pages/thanks-page/thanks-page.module.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.module.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  core/templates/services/platform-feature.service.spec.ts
  core/templates/services/platform-feature.service.ts
  core/templates/tests/console_errors.module.ts
Labels: PR: LGTM

#10734 Fix #10685 and #10636: CSS changes
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-interaction.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10729 Fix part of #10491: Frontend changes to mark optional misconceptions as inapplicable
  core/templates/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/components/question-directives/question-editor/question-editor.directive.html
  core/templates/components/question-directives/question-editor/question-editor.directive.ts
  core/templates/components/question-directives/questions-list/questions-list.directive.html
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/components/state-editor/state-editor.directive.html
  core/templates/components/state-editor/state-editor.directive.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.html
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/question/QuestionObjectFactorySpec.ts
  core/templates/domain/question/QuestionSummaryForOneSkillObjectFactorySpec.ts
  core/templates/domain/question/QuestionSummaryObjectFactory.ts
  core/templates/domain/question/QuestionSummaryObjectFactorySpec.ts
  core/templates/domain/question/question-domain.constants.ajs.ts
  core/templates/domain/question/question-domain.constants.ts
  core/templates/domain/question/question-update.service.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.spec.ts
  core/templates/pages/skill-editor-page/services/question-creation-service.spec.ts
  core/templates/services/question-validation.service.spec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10739 Fix #10597: Preferences UX fixes; enables remove icon and fixes dnd issue in mobile view for playlist items; fixes bullet points issue in subtopic editor
  .lighthouserc.js
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.mainpage.html
  core/templates/pages/preferences-page/preferences-page.component.html
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10706 Fix part of #10474: increased the coverage of strict checks
  core/templates/filters/string-utility-filters/camel-case-to-hyphens.pipe.spec.ts
  core/templates/services/audio-bar-status.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#10750 Fix #10748: Add relative path for the custom eslint module
  package.json
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10698 Fix #10697: Replace moment with dayjs and use proper lodash imports
  core/templates/domain/skill/skill-rights-backend-api.service.ts
  core/templates/services/date-time-format.service.spec.ts
  core/templates/services/date-time-format.service.ts
  core/templates/services/platform-feature.service.ts
  package.json
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_lodash_import.ts
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10674 Add more models to wipeout
  core/domain/activity_jobs_one_off.py
  core/domain/collection_jobs_one_off_test.py
  core/domain/collection_services.py
  core/domain/collection_services_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/rights_domain.py
  core/domain/rights_manager.py
  core/domain/rights_manager_test.py
  core/domain/suggestion_registry.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_domain.py
  core/domain/wipeout_domain_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/platform/models.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/skill/gae_models_test.py
  core/storage/storage_models_test.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/storage/user/gae_models.py
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.module.ts
  feconf.py
  utils.py
  utils_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#10760 fix backend test failure in suggestion_services_test
  core/domain/suggestion_services_test.py
Labels: PR: LGTM

#10703 Fix part of #10306: Added async keyword to asynchronous functions that return a promise.
  core/templates/components/entity-creation-services/collection-creation-backend-api.service.spec.ts
  core/templates/components/entity-creation-services/collection-creation-backend-api.service.ts
  core/templates/components/entity-creation-services/collection-creation.service.ts
  core/templates/components/profile-link-directives/profile-link-image-backend-api.service.spec.ts
  core/templates/components/profile-link-directives/profile-link-image-backend-api.service.ts
  core/templates/components/profile-link-directives/profile-link-image.component.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10708 Fix part of #10707: Create a model to keep track of the number suggestions that are currently in review and the number of reviewers.
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/jobs_registry.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: Affects datastore layer, PR: LGTM

#10745 Fixes #10625 and Fixes #10696 Adds check to make sure opportunities are not undefined
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#10730 Fix issues in audit jobs
  core/domain/base_model_validators.py
  core/domain/base_model_validators_test.py
  core/domain/interaction_jobs_one_off.py
  core/domain/interaction_jobs_one_off_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/storage/email/gae_models.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10564 Fix #10556: Added Math SVGs for demo explorations.
  data/explorations/root_linear_coefficient_theorem.yaml
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_130924_ji4wc82lll_height_2d731_width_36d59_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_131209_bn2zj4i2te_height_1d429_width_1d405_vertical_0d241.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_132540_jbva8gbc53_height_2d021_width_1d173_vertical_0d241.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_132759_wbixeo0y7j_height_2d731_width_39d105_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_133006_w144ga6wx8_height_2d731_width_37d879_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_133101_w95yopk5m9_height_2d731_width_33d057_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_133324_00rnxfeixu_height_2d968_width_56d92_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_133422_a8bz4ywoyi_height_2d731_width_16d251_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_133543_2upm7inrzr_height_2d85_width_37d969_vertical_0d715.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_133655_ou7e9pxilh_height_1d784_width_2d302_vertical_0d596.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_133755_mnzsrlo05g_height_1d784_width_2d302_vertical_0d596.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_133855_jhklfg01go_height_1d784_width_2d466_vertical_0d596.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_133958_w8wzb081od_height_2d731_width_25d559_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_134100_2931f8hu3e_height_2d139_width_3d898_vertical_0d596.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_134203_ob2se8mse4_height_2d731_width_32d565_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_134604_kjwad50w4g_height_2d258_width_10d408_vertical_0d715.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_134658_e5dg8ij01b_height_2d258_width_10d408_vertical_0d715.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_134757_f1uwdf95b2_height_2d258_width_10d408_vertical_0d715.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_134842_r40fdf6mk0_height_2d258_width_10d408_vertical_0d715.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_135011_dpupkuy4ou_height_2d731_width_36d59_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_135225_0gz4xvjk92_height_2d731_width_21d582_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_135312_mxctsqirp2_height_2d376_width_2d402_vertical_0d241.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_135422_87qht0r32f_height_2d376_width_2d402_vertical_0d241.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_144017_spjf7y0aym_height_1d429_width_1d34_vertical_0d241.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_144222_qonc2d8qgh_height_2d139_width_21d844_vertical_0d596.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_144401_1b7zx4oho0_height_1d784_width_12d505_vertical_0d596.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_144525_sn4diooumw_height_2d731_width_24d969_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_144605_6v3h6dslb9_height_2d139_width_23d597_vertical_0d596.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_144728_0wv3mw37oj_height_2d258_width_46d927_vertical_0d715.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_144914_08fk62lk4x_height_2d376_width_2d402_vertical_0d241.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_145032_kpinnt0x2d_height_2d731_width_21d582_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_145112_zdet2aoua9_height_2d376_width_6d584_vertical_0d596.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_145208_5bmpx75x83_height_2d376_width_6d584_vertical_0d596.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_145257_o9m38za85u_height_2d376_width_6d584_vertical_0d596.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_145457_e8wewljydb_height_2d731_width_14d388_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_145553_bpk4bpmcis_height_2d731_width_34d499_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_145644_k7kgyhp35x_height_2d494_width_17d962_vertical_0d36.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_145731_sug9iaaiaj_height_2d968_width_42d822_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_145820_opah350bca_height_2d968_width_42d822_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_145933_tv24zk1jjf_height_2d968_width_42d822_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/assets/image/mathImg_20200904_150030_q2zopa1qyw_height_2d731_width_21d329_vertical_0d833.svg
  data/explorations/root_linear_coefficient_theorem/root_linear_coefficient_theorem.yaml
  data/explorations/test_interactions/Test of expressions and interactions.yaml
  data/explorations/test_interactions/assets/image/mathImg_20200904_152727_0lz7a7ui3f_height_3d205_width_1d784_vertical_1d306.svg
  data/explorations/welcome.yaml
  data/explorations/welcome/assets/image/mathImg_20200904_151542_toclmk6i95_height_2d021_width_6d795_vertical_0d241.svg
  data/explorations/welcome/assets/image/mathImg_20200904_151657_43i02glydt_height_2d376_width_2d402_vertical_0d241.svg
  data/explorations/welcome/welcome.yaml
  feconf.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#10765 Revert "Milestone 2 of ML pipeline migration"
  .circleci/config.yml
  .github/CODEOWNERS
  .gitignore
  appengine_config.py
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/classifier.py
  core/controllers/classifier_test.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/domain/classifier_domain.py
  core/domain/classifier_domain_test.py
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/fs_domain.py
  core/domain/fs_services.py
  core/domain/fs_services_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/proto/README.md
  core/domain/proto/__init__.py
  core/jobs_registry.py
  core/storage/classifier/gae_models.py
  core/storage/classifier/gae_models_test.py
  core/templates/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/tests/gae_suite.py
  core/tests/test_utils.py
  feconf.py
  manifest.json
  prototool.yaml
  scripts/common.py
  scripts/install_backend_python_libs.py
  scripts/install_backend_python_libs_test.py
  scripts/install_third_party.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/install_third_party_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/pre_commit_linter.py
  scripts/run_backend_tests.py
  utils.py
Labels: PR CHANGELOG: Answer Classification -- @prasanna08

#10710 Fix part of #10709: Temporarily remove Hudda from codeowners
  .github/CODEOWNERS
Labels: PR: LGTM

#10759 Wipeout 8.8: Introduce wipeout utilities in the admin page
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/domain/wipeout_domain.py
  core/domain/wipeout_jobs_one_off.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/storage/user/gae_models.py
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.html
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.ts
  main.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10763 Add all release constants to wrap up release refactor
  release_constants.json
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#10785 Migrate usages of datastore_query.Cursor into gae_datastore_services
  core/domain/improvements_services.py
  core/platform/datastore/gae_datastore_services.py
  core/storage/base_model/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/question/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/user/gae_models.py
Labels: PR: LGTM

#10789 Make customization args modal have a static backdrop.
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10774 Fix part of #10707: Create a one off job to populate/regenerate the count values in the CommunityContributionStatsModel
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: Affects datastore layer, PR: LGTM

#10777 Update codeowners
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#10740 Localisation updates from https://translatewiki.net.
  assets/i18n/fr.json
  assets/i18n/tr.json
  assets/i18n/zh-hant.json
Labels: PR: LGTM

#10787 Fix part of #10250: Temporarily transfer codeowners for contributor dashboard project.
  .github/CODEOWNERS
Labels: PR: LGTM

#10784 Fixes #10528: Fixes audio bar placement
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.directive.html
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#10755 Adds links for chapters in the topic viewer page
  core/controllers/topic_editor.py
  core/controllers/topic_viewer.py
  core/controllers/topic_viewer_test.py
  core/templates/components/summary-tile/story-summary-tile.directive.html
  core/templates/components/summary-tile/story-summary-tile.directive.ts
  core/templates/domain/story/StorySummaryObjectFactory.ts
  core/templates/domain/story/StorySummaryObjectFactorySpec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.spec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.ts
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.spec.ts
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.ts
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  core/templates/services/UpgradedServices.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#10804 Fix #10604: Add validation indication for topic/story/subtopic creation modals
  core/templates/pages/topic-editor-page/modal-templates/create-new-story-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-story-modal.template.html
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-topic-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#10783 Fix blocking bugs: Fixes to topic viewer page and exploration player page
  core/templates/components/question-directives/question-player/question-player.directive.html
  core/templates/components/summary-tile/subtopic-summary-tile.directive.html
  core/templates/pages/exploration-player-page/layout-directives/correctness-footer.directive.html
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.directive.html
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.directive.ts
  core/templates/pages/story-viewer-page/navbar-pre-logo-action/story-viewer-navbar-pre-logo-action.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM, PR: for current release

#10762 Wipeout 8.9: Add support for wipeout to remaining models
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/rights_domain.py
  core/domain/rights_manager.py
  core/domain/subtopic_page_services.py
  core/domain/subtopic_page_services_test.py
  core/domain/takeout_domain_jobs_one_off.py
  core/domain/takeout_service_test.py
  core/domain/topic_services.py
  core/domain/user_services.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/jobs_registry.py
  core/platform/models.py
  core/storage/email/gae_models.py
  core/storage/subtopic/__init__.py
  core/storage/subtopic/gae_models.py
  core/storage/subtopic/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  core/tests/test_utils.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#10803 Fix #10709: Revert ownership to Hudda
  .github/CODEOWNERS
Labels: PR: LGTM

#10778 Fix part of #10306: Added "async" keyword to files in profile_page directory
  core/templates/pages/profile-page/profile-page-backend-api.service.spec.ts
  core/templates/pages/profile-page/profile-page-backend-api.service.ts
  core/templates/pages/profile-page/profile-page.component.spec.ts
  core/templates/pages/profile-page/profile-page.component.ts
Labels: PR: LGTM

#10797 Add one off jobs to fix issues with recommendation model
  core/domain/recommendations_jobs_one_off.py
  core/domain/recommendations_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer

#10791 Add one off jobs to fix skill model related issues
  core/domain/skill_jobs_one_off.py
  core/domain/skill_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#10817 Add flag to provide custom release data dir for deployment
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#10823 Changes default log level to 'error' for e2e tests
  core/controllers/base.py
  core/controllers/editor_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR CHANGELOG: QA Team -- @nithusha21
