Repository oppia/oppia, pull requests merged in 2020-12, with the labels that each got.

#11279 Fixes common e2e flakes
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.html
  core/tests/protractor_utils/ExplorationEditorHistoryTab.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
  core/tests/protractor_utils/SkillEditorPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11277 Add auto retry functionality to e2e script
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR: LGTM

#11275 Remove travis from the codebase
  .circleci/config.yml
  .github/CODEOWNERS
  .github/README.md
  .travis.yml
  core/tests/data/dummy_ci_tests/.dummy_travis.yml
  core/tests/data/dummy_ci_tests/.travis_has_extra_test.yml
  core/tests/data/dummy_ci_tests/e2e_actions_dummy.yml
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/check_e2e_tests_are_captured_in_ci_test.py
  scripts/install_chrome_on_travis.py
  scripts/install_chrome_on_travis_test.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/setup.py
  scripts/setup_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11284 Fix #11242: Show appropriate error message when skill deletion fails
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11290 Fix translation count issue for the exploration opportunity models
  core/domain/exp_domain_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM, PR: for current release

#11274 Add job to delete invalid suggestion models on server
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: Affects datastore layer, PR: LGTM, PR: for current release

#11224 Fixing Lesson info modal card
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.html
  core/templates/pages/exploration-player-page/templates/information-card-modal.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11126 Fixes part of #10798:Fixing End-to-End Tests for CollectionEditor.js
  core/tests/protractor_utils/CollectionEditorPage.js
Labels: PR: LGTM

#11246 Change Cloud Tasks from HTTP tasks to AppEngine tasks
  core/domain/taskqueue_services.py
  core/platform/taskqueue/cloud_taskqueue_services.py
  core/platform/taskqueue/cloud_taskqueue_services_test.py
Labels: PR CHANGELOG: Cloud NDB Migration -- @brianrodri, PR: LGTM

#11152 Fix part of #10415: Extract collection model validators from prod_validators to a new file
  core/domain/collection_validators.py
  core/domain/collection_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11305 Update authors and changelog for v3.0.5
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11052 Milestone 2 of ML pipeline migration
  .circleci/config.yml
  .github/CODEOWNERS
  .gitignore
  buf.gen.yaml
  buf.yaml
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/classifier.py
  core/controllers/classifier_test.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/domain/classifier_domain.py
  core/domain/classifier_domain_test.py
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  core/domain/classifier_validators.py
  core/domain/classifier_validators_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/fs_domain.py
  core/domain/fs_services.py
  core/domain/fs_services_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/jobs_registry.py
  core/storage/classifier/gae_models.py
  core/storage/classifier/gae_models_test.py
  core/templates/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/domain/exploration/read-only-exploration-backend-api.service.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/tests/test_utils.py
  feconf.py
  manifest.json
  proto/__init__.py
  scripts/common.py
  scripts/install_third_party.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/install_third_party_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/pre_commit_linter.py
  scripts/run_backend_tests.py
  utils.py
Labels: PR CHANGELOG: Answer Classification -- @prasanna08

#11191 Fixes Part of #8472: Migrate User Service to Angular 8
  .github/CODEOWNERS
  core/templates/I18nFooter.ts
  core/templates/components/button-directives/create-activity-button.directive.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/components/question-directives/question-player/question-player.directive.ts
  core/templates/components/skills-mastery-list/skills-mastery-list.directive.ts
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.directive.ts
  core/templates/components/summary-tile/collection-summary-tile.directive.ts
  core/templates/components/summary-tile/exploration-summary-tile.directive.ts
  core/templates/pages/admin-page/navbar/admin-navbar.directive.ts
  core/templates/pages/collection-player-page/collection-player-page.directive.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/login-required-message/login-required-message.component.spec.ts
  core/templates/pages/contributor-dashboard-page/login-required-message/login-required-message.component.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.ts
  core/templates/pages/creator-dashboard-page/modal-templates/create-activity-modal.controller.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.controller.spec.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.controller.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.directive.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/library-page.component.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.spec.ts
  core/templates/pages/library-page/search-results/search-results.component.spec.ts
  core/templates/pages/library-page/search-results/search-results.component.ts
  core/templates/pages/preferences-page/preferences-page.component.spec.ts
  core/templates/pages/preferences-page/preferences-page.component.ts
  core/templates/pages/signup-page/modal-templates/registration-session-expired-modal.controller.spec.ts
  core/templates/pages/signup-page/modal-templates/registration-session-expired-modal.controller.ts
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/splash-page/splash-page.component.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.spec.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/user-backend-api.service.spec.ts
  core/templates/services/user-backend-api.service.ts
  core/templates/services/user.service.spec.ts
  core/templates/services/user.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11298 Fix part of #10667: make alt text in image editor into paragraph text
  assets/rich_text_components_definitions.ts
  core/templates/services/rte-helper.service.spec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11252 Fix #11133 display '+1' icon and "Nowhere yet..." text
  core/templates/components/state-directives/response-header/response-header.directive.html
Labels: PR: LGTM

#11310 Fix #11309: Minor changes to the failing test
  core/tests/protractor_desktop/additionalPlayerFeatures.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11307 Adds Dari language for contents and translations.
  assets/constants.ts
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#11282 Fix #11163: Fix installation output to output correct error message.
  scripts/install_backend_python_libs.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11320 Removes run_in_transactions for suggestion and stats models and fixes translation issue in contributor dashboard page
  core/controllers/suggestion.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/stats_services.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#11324 Rewrite additional editor features
  core/tests/protractor_desktop/additionalEditorFeatures.js
  core/tests/protractor_utils/CreatorDashboardPage.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/ExplorationEditorSettingsTab.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
  core/tests/protractor_utils/users.js
  core/tests/protractor_utils/workflow.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#11238 Fix part of #9004: Record event measurements for Contributor Dashboard analytics
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
Labels: PR: LGTM

#11326 Fix promo bar breakage in production.
  core/templates/components/common-layout-directives/common-elements/promo-bar.directive.ts
  core/templates/domain/promo_bar/promo-bar.model.spec.ts
  core/templates/domain/promo_bar/promo-bar.model.ts
  core/templates/domain/user/user-info.model.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/services/promo-bar-backend-api.service.ts
  core/templates/services/user-backend-api.service.spec.ts
  core/templates/services/user-backend-api.service.ts
  core/templates/services/user.service.spec.ts
  core/templates/services/user.service.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#11335 Fix param editor: c.isCurrentlyInSettingsTab is not a function
  core/templates/pages/exploration-editor-page/editor-tab/state-param-changes-editor/state-param-changes-editor.component.html
  core/templates/pages/exploration-editor-page/param-changes-editor/param-changes-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/param-changes-editor/param-changes-editor.component.ts
Labels: PR: LGTM, PR: for current release

#11336 Move margin-bottom to conversation-skin-tutor-card-container
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
Labels: PR: for current release

#11271 Fixes issue #9992: Fixing the fin shaped portion of the blockquote element in the topic and skills dashboard and about page.
  core/templates/css/oppia.css
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
Labels: PR: LGTM

#11276 Fix part of #8472 : Migrate TopicUpdateService to Angular8
  core/templates/domain/collection/collection-update.service.spec.ts
  core/templates/domain/editor/undo_redo/base-undo-redo.service.ts
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/editor/undo_redo/undo-redo.service.spec.ts
  core/templates/domain/editor/undo_redo/undo-redo.service.ts
  core/templates/domain/skill/skill-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.spec.ts
  core/templates/pages/collection-editor-page/services/collection-linearizer.service.spec.ts
  core/templates/pages/collection-editor-page/templates/collection-editor-pre-publish-modal.controller.spec.ts
  core/templates/pages/story-editor-page/chapter-editor/chapter-editor-tab.component.spec.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11268 Fix part of #8472: Migrate story-editor-state.service.ts
  core/templates/domain/collection/collection-update.service.spec.ts
  core/templates/domain/skill/skill-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.spec.ts
  core/templates/pages/collection-editor-page/services/collection-linearizer.service.spec.ts
  core/templates/pages/collection-editor-page/templates/collection-editor-pre-publish-modal.controller.spec.ts
  core/templates/pages/story-editor-page/chapter-editor/chapter-editor-tab.component.spec.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11210 Fix #11157 and #10758: Adress comments from PRs
  core/domain/collection_domain.py
  core/domain/collection_domain_test.py
  core/domain/collection_jobs_one_off_test.py
  core/domain/collection_services.py
  core/domain/collection_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/rights_manager.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11332 Fixes part of #10474: Make typescript checks strict for service CreatorDashboardStatsObjectFactory
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11194 Fix part of #8472 Migrate response-service.ts to Angular 8
  core/templates/App.ts
  core/templates/components/question-directives/question-editor/question-editor.directive.ts
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.directive.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.directive.ts
  core/templates/components/state-directives/response-header/response-header.directive.ts
  core/templates/components/state-directives/rule-editor/rule-editor.directive.ts
  core/templates/components/state-directives/rule-editor/rule-type-selector.directive.ts
  core/templates/components/state-directives/solution-editor/solution-editor.directive.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.directive.ts
  core/templates/components/state-editor/state-content-editor/state-content-editor.directive.ts
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/components/state-editor/state-editor.directive.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/exploration-graph-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/test-interaction-panel/test-interaction-panel.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-panel.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/unresolved-answers-overview/unresolved-answers-overview.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/unresolved-answers-overview/unresolved-answers-overview.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/exploration-metadata-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/param-changes-editor/param-changes-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
Labels: PR: LGTM

#11019 Fix interaction customization args validation issues in LogicProof, AlgebraicExpressionInput, MathEquation
  assets/constants.ts
  extensions/objects/models/objects.py
  extensions/objects/models/objects_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: for current release

#11301 Fix to #10798 Refactor ExplorationPlayerPage.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
Labels: PR: LGTM

#11323 Add one-off job to wipe all ExplorationIssuesModel instances
  core/domain/stats_jobs_one_off.py
  core/domain/stats_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR: Affects datastore layer, PR: LGTM, PR: for current release

#11319 Fix #11300: Revert "Add job to delete invalid suggestion models on server"
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#11346 Fix #11334: Changes index -> version number in the history tab
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11294 Add page title field for Topics and minor changes to page titles
  assets/constants.ts
  core/controllers/topic_viewer.py
  core/controllers/topic_viewer_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_fetchers.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/storage/topic/gae_models.py
  core/templates/app.constants.ts
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/topic/TopicObjectFactory.ts
  core/templates/domain/topic/TopicObjectFactorySpec.ts
  core/templates/domain/topic/topic-domain.constants.ajs.ts
  core/templates/domain/topic/topic-domain.constants.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.spec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.ts
  core/templates/pages/classroom-page/classroom-page.component.spec.ts
  core/templates/pages/classroom-page/classroom-page.component.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.ts
  core/tests/protractor_desktop/classroomPageFileUploadFeatures.js
  core/tests/protractor_desktop/topicAndStoryViewer.js
  core/tests/protractor_utils/TopicEditorPage.js
  core/tests/test_utils.py
  utils.py
  utils_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11146 Add missing commit logs
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#11261 Fix #11142 and #11150: Update Takeout Docstrings and Clean Up
  core/domain/takeout_service_test.py
  core/storage/activity/gae_models.py
  core/storage/audit/gae_models.py
  core/storage/base_model/gae_models.py
  core/storage/classifier/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/config/gae_models.py
  core/storage/email/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/feedback/gae_models.py
  core/storage/improvements/gae_models.py
  core/storage/job/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/question/gae_models.py
  core/storage/recommendations/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/statistics/gae_models.py
  core/storage/storage_models_test.py
  core/storage/story/gae_models.py
  core/storage/subtopic/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/topic/gae_models.py
  core/storage/user/gae_models.py
  core/tests/test_utils.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#11357 Adds more info to the logs for #7951 server error
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
Labels: PR CHANGELOG: Server Errors -- @kevintab95, PR: LGTM

#11281 Wipeout 8.17: Fix remaining stuff from the audit
  .github/CODEOWNERS
  core/controllers/classifier_test.py
  core/domain/config_domain.py
  core/domain/config_services_test.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/user_services.py
  core/storage/activity/gae_models.py
  core/storage/audit/gae_models.py
  core/storage/base_model/gae_models.py
  core/storage/classifier/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/config/gae_models.py
  core/storage/email/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/feedback/gae_models.py
  core/storage/improvements/gae_models.py
  core/storage/job/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/recommendations/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/statistics/gae_models.py
  core/storage/storage_models_test.py
  core/storage/story/gae_models.py
  core/storage/subtopic/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/topic/gae_models.py
  core/storage/user/gae_models.py
  feconf.py
  schema_utils.py
  schema_utils_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11358 Drop ClassroomPage from Circle CI because it is present in Actions
  .circleci/config.yml
Labels: PR CHANGELOG: QA Team -- @nithusha21

#11117 Fix part of #10415: Refactor user validators
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/user_validators.py
  core/domain/user_validators_test.py
Labels: PR: LGTM

#11311 Fix part of #5914: Takeout E2E testing
  core/templates/pages/preferences-page/preferences-page.component.html
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/preferences.js
  core/tests/protractor_utils/PreferencesPage.js
  core/tests/protractor_utils/ProtractorConstants.js
  core/tests/protractor_utils/waitFor.js
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11348 Fix part of #4057: Adds frontend test cases for ExplorationRecommendationsService
  core/templates/pages/exploration-player-page/services/exploration-recommendations.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#11345 Fix part of #10415: Refactor suggestion validators
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/suggestion_validators.py
  core/domain/suggestion_validators_test.py
Labels: PR: LGTM

#11356 Fix part of #10720: Hide in review translation texts in contributor dashboard translation modal
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.directive.html
Labels: PR: LGTM, PR: for current release

#11349 Fix ck-editor lagging issue on contributor dashboard
  assets/constants.ts
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/opportunity_services.py
  core/templates/App.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.html
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.html
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
  feconf.py
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM, PR: for current release

#11299 Fix part of #10306: Added async keyword to functions that return a promise
  core/templates/domain/subtopic_viewer/subtopic-viewer-backend-api.service.spec.ts
  core/templates/domain/subtopic_viewer/subtopic-viewer-backend-api.service.ts
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.component.spec.ts
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.component.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.spec.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.ts
  core/templates/services/exploration-stats-backend-api.service.spec.ts
  core/templates/services/exploration-stats-backend-api.service.ts
  core/templates/services/exploration-stats.service.spec.ts
  core/templates/services/exploration-stats.service.ts
Labels: PR: don't merge - STALE BUILD

#11214 Fix part of #8472 Migrate skill-update-service.ts to Angular 8
  core/templates/domain/editor/undo_redo/base-undo-redo.service.ts
  core/templates/domain/editor/undo_redo/change.model.spec.ts
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/editor/undo_redo/undo-redo.service.ts
  core/templates/domain/skill/skill-update.service.spec.ts
  core/templates/domain/skill/skill-update.service.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11386 Fix part of #11043: Fix const/readonly usages in the codebase
  core/templates/App.ts
  core/templates/AppSpec.ts
  core/templates/app.constants.ajs.ts
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.ts
  core/templates/domain/exploration/ExplorationObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactorySpec.ts
  core/templates/domain/exploration/OutcomeObjectFactory.ts
  core/templates/domain/exploration/ParamChangesObjectFactory.ts
  core/templates/domain/exploration/StatesObjectFactory.ts
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/question/pretest-question-backend-api.service.ts
  core/templates/domain/skill/SkillObjectFactory.ts
  core/templates/domain/skill/SkillObjectFactorySpec.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/state_card/StateCardObjectFactory.ts
  core/templates/domain/story/StoryObjectFactory.ts
  core/templates/domain/topic/SubtopicObjectFactory.ts
  core/templates/domain/topic/TopicObjectFactory.ts
  core/templates/domain/topic/newly-created-story.model.ts
  core/templates/domain/utilities/audio-language.model.ts
  core/templates/domain/utilities/browser-checker.service.ts
  core/templates/domain/utilities/language-util.service.ts
  core/templates/domain/utilities/url-interpolation.service.ts
  core/templates/pages/admin-page/features-tab/admin-features-tab.component.spec.ts
  core/templates/pages/admin-page/features-tab/admin-features-tab.component.ts
  core/templates/pages/admin-page/features-tab/admin-features-tab.constants.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  core/templates/pages/interaction-specs.constants.ajs.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.spec.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.ts
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/splash-page/splash-page.component.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-story-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-story-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.controller.ts
  core/templates/pages/topic-editor-page/services/subtopic-validation-service.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.constants.ts
  core/templates/services/assets-backend-api.service.ts
  core/templates/services/contextual/url.service.ts
  core/templates/services/image-upload-helper.service.ts
  core/templates/services/site-analytics.service.ts
  scripts/linters/general_purpose_linter.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11391 Fix #11043: Fix const/readonly usages in the codebase
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/StatesObjectFactorySpec.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/state/StateObjectFactorySpec.ts
  core/templates/domain/utilities/language-util.service.spec.ts
  core/templates/domain/utilities/language-util.service.ts
  core/templates/domain/utilities/url-interpolation.service.spec.ts
  core/templates/domain/utilities/url-interpolation.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  core/templates/services/assets-backend-api.service.spec.ts
  core/templates/services/assets-backend-api.service.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11351 Fix #11181: Modified button css throughout codebase
  core/templates/css/oppia.css
  core/templates/pages/creator-dashboard-page/modal-templates/create-activity-modal.directive.html
  core/templates/pages/donate-page/donate-page.component.html
  core/templates/pages/exploration-editor-page/modal-templates/help-modal.template.html
  core/templates/pages/exploration-editor-page/modal-templates/post-publish-modal.template.html
  core/templates/pages/exploration-editor-page/modal-templates/welcome-modal.template.html
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/welcome-translation-modal.template.html
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.component.html
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#11400 ClassifierObjectFactory added to strict check
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11188 Migration (topic-editor-routing.service.ts) AngularJS to Angular 8
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-routing.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-routing.service.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.spec.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
  core/templates/services/angular-services.index.ts
  core/templates/tests/unit-test-utils.ts
  scripts/linters/js_ts_linter.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#11392 Fixes and improvements based on e2e failures in Circle CI
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.template.html
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11293 Refactor some try/excepts and remove unneeded one off jobs
  core/controllers/acl_decorators.py
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/email_dashboard.py
  core/controllers/email_dashboard_test.py
  core/controllers/reader.py
  core/controllers/resources.py
  core/controllers/skill_editor.py
  core/controllers/skill_mastery.py
  core/controllers/topic_editor.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/domain/story_jobs_one_off.py
  core/domain/story_jobs_one_off_test.py
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/domain/takeout_domain_jobs_one_off.py
  core/domain/takeout_domain_jobs_one_off_test.py
  core/jobs_registry.py
  jinja_utils.py
  python_utils.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#11365 Modify release scripts
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_changelog_and_credits_test.py
  scripts/release_scripts/update_configs.py
Labels: PR CHANGELOG: Release team -- @nithusha21, PR: LGTM

#11424 Update oppiabot github actions to latest version
  .github/workflows/oppiabot.yml
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11363 Fix #11140: Remove retrieval of `UserAuthDetailsModel`
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#11401 Fix part of #10720: Add check for loading data in translation modal.
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.directive.html
Labels: PR: don't merge - STALE BUILD, PR: for current release

#11263 Adds flaky e2e report and restart functionality
  .github/CODEOWNERS
  .gitignore
  .isort.cfg
  app_dev.yaml
  auth.json.enc
  requirements.in
  requirements.txt
  scripts/common.py
  scripts/flake_checker.py
  scripts/flake_checker_test.py
  scripts/install_third_party_libs.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/pre_commit_linter.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR: LGTM

#11241 Fixes issue #9044: No Side Scroll when making interaction
  core/templates/css/oppia.css
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#11355 Fix part of #8472 : Migrate SkillEditorStateService to Angular8
  core/templates/App.ts
  core/templates/domain/skill/skill-backend-api.service.spec.ts
  core/templates/domain/skill/skill-backend-api.service.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11443 Revert "Fix #11140: Remove retrieval of `UserAuthDetailsModel`"
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11448 Fix #11140: Remove retrieval of `UserAuthDetailsModel`
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11444 Card rte2
  core/templates/components/state-editor/state-content-editor/state-content-editor.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11407 Fix part of #11329: exploration-save-modal (remove: addclass and removeclass)
  core/templates/pages/exploration-editor-page/modal-templates/exploration-save-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/exploration-save-modal.controller.ts
  core/templates/pages/exploration-editor-page/modal-templates/exploration-save-modal.template.html
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#11458 Fix #11379: Fixed UI bug - code output hidden behind footer.
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11447 Fixes issue #11402: Fixing 'AUTHOR PROFILES' display in mobile view.
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.directive.html
Labels: PR: LGTM

#11436 Fix #11418 & #11415 and minor SEO improvements
  assets/sitemap.xml
  core/templates/components/question-directives/modal-templates/change-question-difficulty-modal.controller.spec.ts
  core/templates/components/question-directives/modal-templates/change-question-difficulty-modal.controller.ts
  core/templates/components/question-directives/modal-templates/change-question-difficulty-modal.template.html
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.spec.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/domain/question/editable-question-backend-api.service.spec.ts
  core/templates/domain/question/editable-question-backend-api.service.ts
  core/templates/pages/skill-editor-page/services/question-creation-service.spec.ts
  core/templates/pages/skill-editor-page/services/question-creation.service.ts
  core/templates/services/page-title.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD, PR: for current release

#11422 Fix #11394: Failed base64 image decoding (Takeout)
  core/controllers/profile.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM, PR: don't merge - STALE BUILD

#11459 Transfer codeownership of interaction files from @aks681 to @iamprayush.
  .github/CODEOWNERS
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11457 Fix part of #10474: Add files to strict check.
  core/templates/domain/exploration/AnswerStatsObjectFactorySpec.ts
  core/templates/pages/exploration-player-page/services/audio-translation-manager.service.spec.ts
  core/templates/pages/exploration-player-page/services/audio-translation-manager.service.ts
  extensions/interactions/ImageClickInput/directives/image-click-input-rules.service.spec.ts
  tsconfig-strict.json
Labels: PR: LGTM

#11449 Fix E2E Reporting
  scripts/flake_checker.py
  scripts/flake_checker_test.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11440 Fix part of #10474: Added strict checks for LogicProofRulesService
  extensions/interactions/LogicProof/directives/logic-proof-rules.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM, PR: don't merge - STALE BUILD

#11452 Fix part of #11462: Add platform layer for Firebase authentication services
  .isort.cfg
  core/domain/auth_domain.py
  core/domain/auth_domain_test.py
  core/domain/auth_validators.py
  core/domain/auth_validators_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/jobs_registry.py
  core/platform/auth/__init__.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
  core/platform/models.py
  core/platform/models_test.py
  core/storage/auth/__init__.py
  core/storage/auth/gae_models.py
  core/storage/auth/gae_models_test.py
  core/tests/test_utils.py
  core/tests/test_utils_test.py
  requirements.in
  requirements.txt
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#11490 Fix pylint taking infinite time to complete lint testing
  scripts/linters/python_linter.py
  scripts/linters/python_linter_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11291 Adds helpful pointers for new contributors in the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM, PR: don't merge - STALE BUILD

#11487 Fix #11430: Merge skill modal has styling issues
  core/templates/components/skill-selector/skill-selector.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11269 Fix #11179: Changed Font CSS
  core/templates/css/oppia.css
  core/templates/pages/get-started-page/get-started-page.mainpage.html
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/teach-page/teach-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: don't merge - STALE BUILD

#11408 Fix part of #8472 Migrate Fatigue Detection Service to Angular 8
  core/templates/components/shared-component.module.ts
  core/templates/pages/exploration-player-page/services/fatigue-detection-service.spec.ts
  core/templates/pages/exploration-player-page/services/fatigue-detection.service.ts
  core/templates/pages/exploration-player-page/templates/take-break-modal.component.html
  core/templates/pages/exploration-player-page/templates/take-break-modal.component.spec.ts
  core/templates/pages/exploration-player-page/templates/take-break-modal.component.ts
  core/templates/services/angular-services.index.ts
Labels: PR: don't merge - STALE BUILD

#11488 Routine update from translatewiki
  assets/i18n/fr.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/tr.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: don't merge - STALE BUILD

#11339 Fixes part of #10306: Added async keyword to functions that return a promise
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.ts
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#11493 Fix part of #10415: Refactor prod validators to be split into individual validators
  core/domain/job_validators.py
  core/domain/job_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
Labels: PR: don't merge - STALE BUILD

#11280 Fix part of #10667 to fix ”Save Draft” modal disappears when you click outside the modal.
  core/templates/components/entity-creation-services/exploration-creation.service.ts
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.directive.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.ts
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.ts
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.directive.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/unresolved-answers-overview/unresolved-answers-overview.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
  core/templates/pages/exploration-editor-page/suggestion-modal-for-editor-view/suggestion-modal-for-exploration-editor.service.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/pages/skill-editor-page/services/question-creation.service.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: don't merge - STALE BUILD

#11511 Implements an audit job (RuleInputToCustomizationArgsMappingOneOffJob) that validates rule inputs that match choices.
  core/domain/interaction_jobs_one_off.py
  core/domain/interaction_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: Affects datastore layer, PR: LGTM

#11500 Fix part of #11314: Add search stub for tests
  core/controllers/admin_test.py
  core/controllers/library.py
  core/controllers/library_test.py
  core/domain/collection_services.py
  core/domain/collection_services_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/improvements_validators_test.py
  core/domain/interaction_jobs_one_off_test.py
  core/domain/search_services.py
  core/domain/search_services_test.py
  core/domain/summary_services.py
  core/platform/models_test.py
  core/platform/search/elastic_search_services.py
  core/platform/search/elastic_search_services_test.py
  core/platform/search/gae_search_services.py
  core/platform/search/gae_search_services_test.py
  core/tests/test_utils.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#11445 Add a check for checking if files are sorted in tsconfig-strict.json
  scripts/linters/other_files_linter.py
  scripts/linters/other_files_linter_test.py
  scripts/linters/test_files/invalid_strict_ts_config.json
  scripts/linters/test_files/valid_strict_ts_config.json
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11316 Fixes issue #10727: Rename field `activity_ids` to `exploration_ids` in the `UserSubscriptionsModel`
  core/controllers/profile_test.py
  core/domain/exp_services.py
  core/domain/subscription_services.py
  core/domain/subscription_services_test.py
  core/domain/takeout_service_test.py
  core/domain/user_jobs_continuous.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_validators.py
  core/domain/wipeout_service_test.py
  core/jobs_registry.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#11492 Fix part of #11462: Add AuthService and AuthInterceptor for managing user authorization
  core/templates/services/angular-services.index.ts
  core/templates/services/auth-interceptor.service.spec.ts
  core/templates/services/auth-interceptor.service.ts
  core/templates/services/auth.service.spec.ts
  core/templates/services/auth.service.ts
  core/templates/tests/unit-test-utils.ts
  package.json
  scripts/linters/general_purpose_linter.py
  yarn.lock
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#11516 Fix #9708: Fixed Tweet Text
  assets/constants.ts
Labels: PR: LGTM

#11515 Fix #10263: Search Bar turns to white when moves to page middle
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/library-page/library-page.mainpage.html
  core/templates/pages/library-page/search-bar/search-bar.component.html
Labels: PR: LGTM

#11497 Adds the Telugu langauge for translation and voiceover
  assets/constants.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.spec.ts
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#11442 Add config to disallow contributors to suggest questions
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/config_domain.py
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.constants.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.directive.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.html
  core/tests/protractor_desktop/contributorDashboard.js
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: don't merge - STALE BUILD, PR: for current release

#11517 Fix blocking bugs #11399 and #11416
  core/domain/story_services.py
  core/templates/components/question-directives/question-player/question-player.directive.ts
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/splash-page/splash-page.component.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
  scripts/linters/general_purpose_linter.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11364 Modifications added for async keyword returning a promise
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.spec.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/delete-skill-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/delete-skill-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/unassign-skill-from-topics-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/unassign-skill-from-topics-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
  extensions/objects/templates/filepath-editor.directive.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11491 Added validation for an edge case in math interactions.
  core/templates/services/math-interactions.service.spec.ts
  core/templates/services/math-interactions.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11494 Fix part of #10474: Add typescript strict checks in ParamChangeObjectFactory
  core/templates/domain/exploration/ParamChangeObjectFactory.ts
  core/templates/domain/exploration/ParamChangeObjectFactorySpec.ts
  tsconfig-strict.json
Labels: PR: LGTM

#11508 Fix part of #10049: Remove `feedback_thread_ids`.
  core/domain/takeout_service_test.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR: Affects datastore layer, PR: LGTM

#11421 Refactor try/excepts in domain
  .isort.cfg
  core/domain/collection_domain.py
  core/domain/collection_domain_test.py
  core/domain/collection_services.py
  core/domain/collection_services_test.py
  core/domain/email_manager.py
  core/domain/exp_domain.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_services.py
  core/domain/html_validation_service.py
  core/domain/question_services.py
  core/domain/rating_services.py
  core/domain/recommendations_services.py
  core/domain/skill_jobs_one_off_test.py
  core/domain/skill_services.py
  core/domain/story_jobs_one_off_test.py
  core/domain/story_services.py
  core/domain/topic_services.py
  extensions/rich_text_components/components.py
  python_utils.py
  scripts/install_third_party_libs.py
  scripts/script_import_test.py
  utils.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11510 Use context manager to handle set-up/tear-down of GAE Server
  .isort.cfg
  scripts/common.py
  scripts/common_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/run_lighthouse_tests.py
  scripts/start.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11468 FIX(#10306): Added async keyword to Promise Returning functions in `core/templates/services/translate.service.ts`
  core/templates/services/translate.service.spec.ts
  core/templates/services/translate.service.ts
Labels: PR: LGTM

#11538 Fix #11536: pencil code editor inside interaction box
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-interaction.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#11145 Fixed End-to-End tests for CreatorDashboardPage.js
  core/tests/protractor_utils/CreatorDashboardPage.js
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#11554 Fix part of #11462: Use AuthClaims domain object as return value of authenticate_request
  core/domain/auth_domain.py
  core/domain/auth_domain_test.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri
