Repository oppia/oppia, pull requests merged in 2020-04, with the labels that each got.

#8952 Fix issues with release wrap up
  scripts/release_scripts/wrap_up_release.py
  scripts/release_scripts/wrap_up_release_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#8939 Fixes reported issues in community dashboard page
  core/storage/suggestion/gae_models.py
  core/templates/pages/community-dashboard-page/community-dashboard-page.constants.ts
  core/templates/pages/community-dashboard-page/community-dashboard-page.controller.ts
  core/templates/pages/community-dashboard-page/community-dashboard-page.directive.html
  core/templates/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.html
  core/templates/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.ts
  core/templates/pages/community-dashboard-page/modal-templates/translation-modal.directive.html
  core/templates/pages/community-dashboard-page/opportunities-list/opportunities-list.directive.html
  core/templates/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.ts
  core/templates/pages/community-dashboard-page/translation-opportunities/translation-opportunities.directive.ts
  core/templates/pages/community-dashboard-page/voiceover-opportunities/voiceover-opportunities.directive.ts
  index.yaml
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#8956 Fix #8955: Only fetch the summaries of threads referring to explorations
  core/controllers/learner_dashboard.py
  core/domain/feedback_services.py
  core/domain/feedback_services_test.py
  core/tests/load_tests/feedback_thread_summaries_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#8965 Adds http interceptor in all the modules
  core/templates/pages/about-page/about-page.module.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/classroom-page/classroom-page.module.ts
  core/templates/pages/collection-player-page/collection-player-page.module.ts
  core/templates/pages/community-dashboard-page/community-dashboard-page.module.ts
  core/templates/pages/contact-page/contact-page.module.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.module.ts
  core/templates/pages/delete-account-page/delete-account-page.module.ts
  core/templates/pages/donate-page/donate-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.module.ts
  core/templates/pages/error-pages/error-page.module.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/get-started-page/get-started-page.module.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.module.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.module.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/library-page/library-page.module.ts
  core/templates/pages/maintenance-page/maintenance-page.module.ts
  core/templates/pages/moderator-page/moderator-page.module.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.module.ts
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.module.ts
  core/templates/pages/preferences-page/preferences-page.module.ts
  core/templates/pages/privacy-page/privacy-page.module.ts
  core/templates/pages/profile-page/profile-page.module.ts
  core/templates/pages/review-test-page/review-test-page.module.ts
  core/templates/pages/signup-page/signup-page.module.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/pages/splash-page/splash-page.module.ts
  core/templates/pages/story-editor-page/story-editor-page.module.ts
  core/templates/pages/story-viewer-page/story-viewer-page.module.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.module.ts
  core/templates/pages/teach-page/teach-page.module.ts
  core/templates/pages/terms-page/terms-page.module.ts
  core/templates/pages/thanks-page/thanks-page.module.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.module.ts
  core/templates/tests/console_errors.module.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8915 Fix issue #4057: Add front-end tests for UnitsObjectFactory.ts
  core/templates/domain/objects/UnitsObjectFactorySpec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8969 Routine upgrade yarn packages
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8957 Fix #7402 & #8166: Enables community dashboard page
  .travis.yml
  app_dev.yaml
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/community_dashboard.py
  core/controllers/community_dashboard_test.py
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  feconf.py
  main.py
  scripts/build.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#8963 Fix InteractionAnswerSummariesMRJobManager handling of utf-8 strings
  core/domain/stats_jobs_continuous.py
  core/domain/stats_jobs_continuous_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#8960 Fix #8926: Drag and drop response order
  extensions/objects/templates/list-of-sets-of-html-strings-editor.directive.html
  extensions/objects/templates/list-of-sets-of-html-strings-editor.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#8967 Fix UI issues in community dashboard page
  core/templates/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-review.directive.html
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#8886 Migration of ExpressionSyntaxTreeService to Angular 8
  core/templates/expressions/expression-syntax-tree.service.spec.ts
  core/templates/expressions/expression-syntax-tree.service.ts
  core/templates/services/UpgradedServices.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8974 Move all wrap up steps to script
  release_constants.py
  scripts/release_scripts/initial_release_prep.py
  scripts/release_scripts/wrap_up_release.py
  scripts/release_scripts/wrap_up_release_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#8946 Split worked example into questions and answers in skill editor
  core/controllers/concept_card_viewer_test.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/domain/subtopic_page_domain.py
  core/templates/app.constants.ts
  core/templates/components/concept-card/concept-card.directive.ts
  core/templates/components/concept-card/concept-card.template.html
  core/templates/domain/skill/ConceptCardObjectFactory.ts
  core/templates/domain/skill/ConceptCardObjectFactorySpec.ts
  core/templates/domain/skill/SkillObjectFactorySpec.ts
  core/templates/domain/skill/WorkedExampleObjectFactory.ts
  core/templates/domain/skill/WorkedExampleObjectFactorySpec.ts
  core/templates/domain/skill/concept-card-backend-api.service.spec.ts
  core/templates/domain/skill/skill-backend-api.service.spec.ts
  core/templates/domain/skill/skill-update.service.spec.ts
  core/templates/domain/skill/skill-update.service.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/worked-example-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/worked-example-editor.directive.ts
  core/templates/pages/skill-editor-page/modal-templates/add-worked-example-modal.directive.html
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/generate-content-id.service.spec.ts
  core/templates/services/generate-content-id.service.ts
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_utils/SkillEditorPage.js
  extensions/objects/templates/skill-selector-editor.directive.html
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#8722 Fix #8730: Throw PageNotFoundException instead when trying to access an invalid topic
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8718 Fix #7440: Rename images located inside tabs and collapsible blocks.
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/question_domain.py
  core/domain/question_fetchers.py
  core/domain/question_jobs_one_off_test.py
  core/domain/state_domain_test.py
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  feconf.py
  scripts/linters/pylint_extensions.py
Labels: PR CHANGELOG: Server Errors -- @kevintab95

#8940 Removes unnecessary services from App.ts
  core/templates/App.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-feedback-thread-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-learner-answer-details-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-playthrough-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-suggestion-thread-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/pages/moderator-page/moderator-page.controller.spec.ts
  scripts/run_frontend_tests.py
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8984 Perform yarn routine upgrade
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8978 Fix #8966: Update expression-syntax-tree.service to use more typescript features
  core/templates/expressions/expression-syntax-tree.service.spec.ts
  core/templates/expressions/expression-syntax-tree.service.ts
  scripts/check_frontend_coverage.py
  tsconfig.json
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8907 Fix part of #8472: migrated playthrough-issues-backend-service files from angularjs to angular 8
  core/templates/services/UpgradedServices.ts
  core/templates/services/playthrough-issues-backend-api.service.spec.ts
  core/templates/services/playthrough-issues-backend-api.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish, PR: LGTM

#9002 Replace ui-utils with ui-validate since only this part of utils is used
  manifest.json
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8997 Improve typing of playthrough-issues-backend-api-service
  core/templates/services/playthrough-issues-backend-api.service.spec.ts
  core/templates/services/playthrough-issues-backend-api.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8976 Fix part of #5914: Complete Full Takeout on Backend
  core/domain/takeout_service_test.py
  core/storage/base_model/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/config/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/question/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/storage_models_test.py
  core/storage/story/gae_models.py
  core/storage/topic/gae_models.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#9019 Remove fork-ts-checker-webpack-plugin
  core/tests/karma.conf.ts
  package.json
  webpack.common.config.ts
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8793 Fix part of #4057: Added a test file for StateNameService.ts .
  core/templates/components/state-editor/state-editor-properties-services/state-name.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8811 Fix part of #4057: Added a test file for StateHintsService.ts .
  core/templates/components/state-editor/state-editor-properties-services/state-hints.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9031 Fix setup on Arch
  scripts/setup.py
  scripts/setup_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8986 Fix part of #8015: editable.question.backend.api.service.ts now returns a domain object …
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/domain/question/editable-question-backend-api.service.spec.ts
  core/templates/domain/question/editable-question-backend-api.service.ts
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#9025 Fix #857 : Update answer group rules when choices in multiple choice input interaction are deleted
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/components/forms/schema-based-editors/schema-based-list-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-list-editor.directive.ts
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  extensions/interactions/MultipleChoiceInput/protractor.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9023 Fix #9010: Add script import MathJax HTML
  core/templates/pages/exploration-player-page/exploration-player-page.mainpage.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#9039 Fix memcache flush issue
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
  scripts/release_scripts/gcloud_adapter.py
  scripts/release_scripts/gcloud_adapter_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#8991 Fix issue #4057: Increase frontend test coverage for RatingComputationService
  core/templates/components/ratings/rating-computation/rating-computation.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9043 Change code owner for qa
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#9055 Fix #9040: Preferences page width in mobile devices
  core/templates/pages/preferences-page/preferences-page.controller.ts
  core/templates/pages/preferences-page/preferences-page.directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM, PR: for current release

#9058 Fix #9003, #9013: Display fully un-truncated text for skill description in Submit Question tab and show placeholder for empty rubric explanation
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-editor-modal.directive.html
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-review.directive.html
  core/templates/pages/community-dashboard-page/opportunities-list-item/opportunities-list-item.directive.html
  core/templates/pages/community-dashboard-page/opportunities-list-item/opportunities-list-item.directive.ts
  core/templates/pages/community-dashboard-page/opportunities-list/opportunities-list.directive.html
  core/templates/pages/community-dashboard-page/opportunities-list/opportunities-list.directive.ts
  core/templates/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.html
  core/templates/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.ts
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM, PR: for current release

#8751 Milestone 2 - Adding Audio Duration
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#8985 Fix part of #6240: add e2e test for item selection interaction
  core/templates/components/forms/custom-forms-directives/html-select.directive.html
  core/tests/protractor_desktop/extensions.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/forms.js
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-interaction.directive.html
  extensions/interactions/ItemSelectionInput/protractor.js
  extensions/interactions/protractor.js
  extensions/objects/templates/set-of-html-string-editor.directive.html
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9032 The EndExploration card should not have any IDs added.
  core/domain/story_services.py
  core/domain/story_services_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9030 Fix part of #7450 use update exploration instead of save_exploration
  core/controllers/editor_test.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#8919 Fix Router Service unit test issues
  core/templates/pages/exploration-editor-page/services/router.service.spec.ts
  core/templates/pages/exploration-editor-page/services/router.service.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8961 Rework the contributors audit job to fix the models
  core/controllers/library_test.py
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/domain/collection_services.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/jobs_registry.py
  core/storage/collection/gae_models.py
  core/storage/exploration/gae_models.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#9070 Fixes bugs #9065, #9020, and #9038
  core/templates/pages/exploration-editor-page/feedback-tab/thread-table/thread-table.directive.html
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.directive.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#9072 Remove ngResource from manifest as it is not used anywhere
  core/templates/pages/about-page/about-page.module.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/classroom-page/classroom-page.module.ts
  core/templates/pages/collection-editor-page/collection-editor-page.module.ts
  core/templates/pages/collection-player-page/collection-player-page.module.ts
  core/templates/pages/community-dashboard-page/community-dashboard-page.module.ts
  core/templates/pages/contact-page/contact-page.module.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.module.ts
  core/templates/pages/delete-account-page/delete-account-page.module.ts
  core/templates/pages/donate-page/donate-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.module.ts
  core/templates/pages/error-pages/error-page.module.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/get-started-page/get-started-page.module.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.module.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.module.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/library-page/library-page.module.ts
  core/templates/pages/maintenance-page/maintenance-page.module.ts
  core/templates/pages/moderator-page/moderator-page.module.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.module.ts
  core/templates/pages/practice-session-page/practice-session-page.module.ts
  core/templates/pages/preferences-page/preferences-page.module.ts
  core/templates/pages/privacy-page/privacy-page.module.ts
  core/templates/pages/profile-page/profile-page.module.ts
  core/templates/pages/review-test-page/review-test-page.module.ts
  core/templates/pages/signup-page/signup-page.module.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/pages/splash-page/splash-page.module.ts
  core/templates/pages/story-editor-page/story-editor-page.module.ts
  core/templates/pages/story-viewer-page/story-viewer-page.module.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.module.ts
  core/templates/pages/teach-page/teach-page.module.ts
  core/templates/pages/terms-page/terms-page.module.ts
  core/templates/pages/thanks-page/thanks-page.module.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.module.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  core/templates/tests/console_errors.module.ts
  manifest.json
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek

#9060 Fix #8954: Add separate compilation config for circleci e2e tests
  .circleci/config.yml
  .github/CODEOWNERS
  package.json
  scripts/build.py
  scripts/build_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  webpack.terser.config.ts
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9068 Fix #8884: Select Admin Page Status Message by HTML Class
  core/templates/pages/admin-page/admin-page.directive.html
  core/tests/protractor_utils/AdminPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9080 Fix memcache url
  scripts/release_scripts/deploy.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#9077 Fix #9006 and #9009: Disallowed same chapter titles in stories and fixed empty names for downloaded yaml files
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#9067 Fix #8951: Fixed solution preview uniqueness indicator.
  core/templates/components/state-directives/solution-editor/solution-editor.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#9073 Fix #9045: Added customization arg warnings.
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#9075 Rework the contributors audit job to fix the models
  core/controllers/library_test.py
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/domain/collection_services.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/jobs_registry.py
  core/storage/collection/gae_models.py
  core/storage/exploration/gae_models.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#9062 Add an audit job to find all explorations using multichoice input interaction having invalid rules.
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8996 Fix part of #7450: modified email_manager.BulkEmailsTests to use public methods instead of private methods
  core/domain/email_manager.py
  core/domain/email_manager_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9054 Fix #9005: Cursor changes to a pointer for the delete icon
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#9071 Fix #9014, #9016: Adds cancel callback for suggestion review modal.
  core/templates/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.ts
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: for current release

#9089 Fix #9018: Capitalizes the tab name in comunity dashboard page
  core/templates/pages/community-dashboard-page/community-dashboard-page.constants.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-editor-modal.directive.html
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM, PR: for current release

#9056 Added a pre-publish validation for topics
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/classroom_test.py
  core/controllers/practice_sessions_test.py
  core/controllers/review_tests_test.py
  core/controllers/story_viewer_test.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topic_viewer_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_jobs_one_off_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/templates/domain/topic/TopicObjectFactory.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.ts
  core/tests/test_utils.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8866 Fix part of #7004: Use webpack to import ckeditor instead of script imports
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/pages/admin-page/admin-page.mainpage.html
  core/templates/pages/community-dashboard-page/community-dashboard-page.mainpage.html
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.mainpage.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/pages/moderator-page/moderator-page.mainpage.html
  core/templates/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/pages/review-test-page/review-test-page.mainpage.html
  core/templates/pages/skill-editor-page/skill-editor-page.mainpage.html
  core/templates/pages/story-editor-page/story-editor-page.mainpage.html
  core/templates/pages/topic-editor-page/topic-editor-page.mainpage.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.mainpage.html
  core/templates/third-party-imports/ckeditor.import.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek, PR: don’t merge - Testing needed

#9105 Add instructions for N/A
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#9059 Fix part of issue #7450: Changed email_manager_test.EmailRightsTest to use public method
  core/domain/email_manager.py
  core/domain/email_manager_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9083 Remove mathjs from manifest.json
  extensions/objects/templates/drag-and-drop-html-string-editor.directive.ts
  extensions/objects/templates/list-of-sets-of-html-strings-editor.directive.ts
  manifest.json
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9101 Fix #8993: Linter now catchs custom js/ts lint errors
  core/templates/third-party-imports/wave-surfer.import.ts
  scripts/linters/pre_commit_linter.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#9093 Username length audit job
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#9078 Replace ChangesInHumanReadableForm service to directive.
  core/templates/domain/exploration/LostChangeObjectFactory.ts
  core/templates/domain/exploration/LostChangeObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/changes-in-human-readable-form/changes-in-human-readable-form.directive.spec.ts
  core/templates/pages/exploration-editor-page/changes-in-human-readable-form/changes-in-human-readable-form.directive.ts
  core/templates/pages/exploration-editor-page/changes-in-human-readable-form/templates/changes-in-human-readable-form.directive.html
  core/templates/pages/exploration-editor-page/modal-templates/lost-changes-modal.template.html
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.template.html
  core/templates/pages/exploration-editor-page/services/autosave-info-modals.service.ts
  core/templates/pages/exploration-editor-page/services/changes-in-human-readable-form.service.ts
  core/templates/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#9029 Fix part of 8472: Upgrades QuestionCreation and QuestionBackendApi service to Angular
  core/templates/components/entity-creation-services/question-creation.service.ts
  core/templates/domain/question/question-backend-api.service.spec.ts
  core/templates/domain/question/question-backend-api.service.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/questions-list.service.spec.ts
  core/templates/services/questions-list.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#9090 Fix part of #8015: search-explorations-backend-api now returns an ExplorationMetadata object instead of a dictionary
  core/templates/domain/collection/search-explorations-backend-api.service.spec.ts
  core/templates/domain/collection/search-explorations-backend-api.service.ts
  core/templates/domain/exploration/ExplorationMetadataObjectFactory.ts
  core/templates/domain/exploration/ExplorationMetadataObjectFactorySpec.ts
  core/templates/pages/collection-editor-page/editor-tab/collection-node-creator.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#9046 Fix part of #8472: Migrate learner answer details
  core/templates/domain/statistics/learner-answer-details-backend-api.service.spec.ts
  core/templates/domain/statistics/learner-answer-details-backend-api.service.ts
  core/templates/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish, PR: LGTM

#9112 Tweak readme file
  .github/README.md
  NOTICE
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9028 Fix part of #7427: Added missing docstrings to core/domain/state_domain.py
  core/domain/state_domain.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8738 Fixes #5254 Shuffle multiple choice
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/question_domain.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services_test.py
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  extensions/interactions/MultipleChoiceInput/MultipleChoiceInput.py
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-interaction.directive.html
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.directive.ts
  extensions/interactions/MultipleChoiceInput/protractor.js
  extensions/interactions/interaction_specs.json
  feconf.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#9081 Fix #8758: add waitFor statement before accessing response tab element
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#9107 Fix #9106: Upgrade batch of libraries, fix frontend tests, and other small changes
  core/templates/AppSpec.ts
  core/templates/combined-tests.spec.ts
  core/templates/components/forms/forms-templates/mark-all-audio-and-translations-as-needing-update.controller.spec.ts
  core/templates/domain/exploration/StatesObjectFactorySpec.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/state/StateObjectFactorySpec.ts
  core/templates/services/contextual/logger.service.ts
  core/templates/services/rte-helper.service.ts
  core/tests/build_sources/extensions/python-program.tokenizer.spec.ts
  core/tests/build_sources/local_compiled_js/extensions/plugin.js
  core/tests/build_sources/local_compiled_js/templates/pages/Base.js
  core/tests/karma.conf.ts
  package.json
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, critical

#9116 Fix #9014, #9016: Add empty callback function when modal is cancelled
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM, PR: for current release

#9087 Changed character limits for the new editors and allowed saving of invalid exps in draft stories
  assets/rich_text_components_definitions.ts
  core/controllers/admin.py
  core/controllers/story_viewer_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/domain/android_validation_constants.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/templates/app.constants.ajs.ts
  core/templates/app.constants.ts
  core/templates/components/concept-card/concept-card.template.html
  core/templates/components/entity-creation-services/story-creation.service.ts
  core/templates/components/entity-creation-services/topic-creation.service.ts
  core/templates/css/oppia.css
  core/templates/domain/story/StoryContentsObjectFactory.ts
  core/templates/domain/story/StoryNodeObjectFactory.ts
  core/templates/domain/story/StoryNodeObjectFactorySpec.ts
  core/templates/domain/topic/TopicObjectFactory.ts
  core/templates/domain/topic/TopicObjectFactorySpec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/new-story-title-editor.template.html
  core/templates/pages/topic-editor-page/modal-templates/new-subtopic-title-modal.template.html
  core/templates/pages/topic-editor-page/modal-templates/subtopic-editor-modal.template.html
  core/templates/pages/topic-editor-page/subtopics-list-tab/subtopics-list-tab.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/new-topic-name-editor.template.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/services/rte-helper.service.spec.ts
  core/tests/protractor_desktop/classroomPageFileUploadFeatures.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#9096 Increase 100% coverage files that were fakely fully covered.
  core/templates/domain/editor/undo_redo/ChangeObjectFactorySpec.ts
  core/templates/domain/exploration/InteractionObjectFactorySpec.ts
  core/templates/domain/exploration/OutcomeObjectFactorySpec.ts
  core/templates/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/domain/objects/FractionObjectFactorySpec.ts
  core/templates/domain/question/QuestionSummaryObjectFactorySpec.ts
  core/templates/domain/skill/MisconceptionObjectFactorySpec.ts
  core/templates/domain/skill/RubricObjectFactorySpec.ts
  core/templates/domain/statistics/PlaythroughIssueObjectFactorySpec.ts
  core/templates/domain/topic/SubtopicPageContentsObjectFactorySpec.ts
  core/templates/domain/utilities/StopwatchObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/solution-validity.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data.service.spec.ts
  core/templates/services/alerts.service.spec.ts
  core/templates/services/alerts.service.ts
  extensions/classifiers/count-vectorizer.service.spec.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9128 Update authors and changelog for v2.9.2
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.directive.html
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#9118 Fix #9086 and #9100: Fix classroom e2e flakes
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.directive.html
  core/tests/protractor_utils/AdminPage.js
  core/tests/protractor_utils/TopicEditorPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9114 Fix part of #4057: Added a test file for exploration-param-changes.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-param-changes.service.spec.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9076 Fix part of #4057. Unit test for exploration-feature-service.ts
  core/templates/services/exploration-features.service.spec.ts
  core/templates/services/exploration-features.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9125 Fix part of #8472: Upgrades CollectionCreationBackendApiService to Angular
  core/templates/App.ts
  core/templates/components/entity-creation-services/collection-creation-backend-api.service.spec.ts
  core/templates/components/entity-creation-services/collection-creation-backend-api.service.ts
  core/templates/services/UpgradedServices.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish, PR: LGTM

#9129 Add a lint check for all jobs register in jobs_registry.py file
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/jobs_registry.py
  scripts/linters/linter_utils.py
  scripts/linters/linter_utils_test.py
  scripts/linters/python_linter.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9126 Fix #9121: Address review comments in #9087
  .github/CODEOWNERS
  assets/constants.ts
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/android_validation_constants_test.py
  core/domain/skill_domain.py
  core/domain/story_domain_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/templates/app.constants.ajs.ts
  core/templates/app.constants.ts
  core/templates/domain/story/story-update.service.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9110 Fix UI and UX issues in new structures editors and dashboard
  core/templates/components/entity-creation-services/skill-creation.service.ts
  core/templates/components/entity-creation-services/topic-creation.service.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.directive.html
  core/templates/pages/skill-editor-page/modal-templates/add-worked-example-modal.directive.html
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
  core/templates/pages/story-editor-page/modal-templates/story-editor-save-modal.template.html
  core/templates/pages/topic-editor-page/modal-templates/edit-topic-thumbnail-modal.template.html
  core/templates/pages/topic-editor-page/modal-templates/new-story-title-editor.template.html
  core/templates/pages/topic-editor-page/modal-templates/new-subtopic-title-modal.template.html
  core/templates/pages/topic-editor-page/modal-templates/subtopic-editor-modal.template.html
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-save-modal.template.html
  core/templates/pages/topic-editor-page/subtopics-list-tab/subtopics-list-tab.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/new-topic-name-editor.template.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/tests/protractor_desktop/classroomPageFileUploadFeatures.js
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  core/tests/protractor_utils/general.js
  core/tests/protractor_utils/waitFor.js
  core/tests/protractor_utils/workflow.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9122 Fixes issue #3369: Resize editor to avoid overflowing when creator uses longer responses
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9142 Introduce contextmanager for creating temporary directories
  scripts/linters/js_ts_linter.py
  scripts/linters/linter_utils.py
  scripts/linters/linter_utils_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9130 Add check for invalid emails
  AUTHORS
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.directive.html
  core/tests/release_sources/release_summary.md
  release_constants.py
  scripts/release_scripts/generate_release_info.py
  scripts/release_scripts/generate_release_info_test.py
  scripts/release_scripts/generate_release_updates.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_changelog_and_credits_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#8975 Fix part of #8015 : Domain object for topic-viewer-backend-api.service.ts
  core/controllers/topic_viewer.py
  core/controllers/topic_viewer_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/templates/domain/story/StorySummaryObjectFactory.ts
  core/templates/domain/story/StorySummaryObjectFactorySpec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.spec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.ts
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.spec.ts
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.ts
  core/templates/pages/topic-viewer-page/navbar-breadcrumb/topic-viewer-navbar-breadcrumb.directive.ts
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.directive.html
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.directive.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.controller.ts
  core/templates/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9151 Fix part of #9146: Combine methods in LearnerAnswerDetailsBackendApiService
  core/templates/domain/statistics/learner-answer-details-backend-api.service.ts
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#9108 Fix part of #4057: Added a test file for exploration-category-service.ts
  core/templates/pages/exploration-editor-page/services/exploration-category.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9133 Fix part of #5914: Complete Controller Layer of Takeout
  assets/constants.ts
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/domain/takeout_service_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  feconf.py
  main.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#9147 Add check for version length
  scripts/release_scripts/deploy.py
  scripts/release_scripts/deploy_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#9084 Fix #9079: Merge the target branch before running the tests on CircleCI
  .circleci/config.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9082 Fixes #7448: Adds a filter option to filter skills.
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9166 Transfer CODEOWNER of /core/tests to @nithusha21
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9181 Fix issues with merging of target branch on circleci
  .circleci/config.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#9183 Introduce ProdValidationAuditOneOffJobMetaClass
  core/domain/prod_validation_jobs_one_off.py
  core/domain/storage_model_audit_jobs_test.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#9187 Update meta-tags to align with better SEO standards
  webpack.common.config.ts
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#8725 Fix #8339: Improving end exploration UI
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9141 Fix #9134: Fixed bugs with the Drag-and-drop interaction
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.ts
  extensions/objects/templates/list-of-sets-of-html-strings-editor.directive.html
  extensions/objects/templates/list-of-sets-of-html-strings-editor.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9177 Update release scripts to address concerns around clarity of instructions
  scripts/release_scripts/generate_release_updates.py
  scripts/release_scripts/generate_release_updates_test.py
  scripts/release_scripts/update_configs.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#9188 Remove performance tests
  .github/CODEOWNERS
  core/tests/gae_suite.py
  core/tests/performance_framework/__init__.py
  core/tests/performance_framework/perf_domain.py
  core/tests/performance_framework/perf_services.py
  core/tests/performance_tests/__init__.py
  core/tests/performance_tests/base.py
  core/tests/performance_tests/collection_player_test.py
  core/tests/performance_tests/creator_dashboard_test.py
  core/tests/performance_tests/exploration_editor_test.py
  core/tests/performance_tests/exploration_player_test.py
  core/tests/performance_tests/library_test.py
  core/tests/performance_tests/profile_page_test.py
  core/tests/performance_tests/splash_test.py
  core/tests/performance_tests/test_config.py
  manifest.json
  scripts/install_third_party_libs.py
  scripts/linters/pre_commit_linter.py
  scripts/run_backend_tests.py
  scripts/run_performance_tests.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8519 Fix #8402: Adding replay button for lesson #8402
  .github/CODEOWNERS
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.directive.html
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.ts
  core/templates/services/audio-bar-status.service.spec.ts
  core/templates/services/audio-bar-status.service.ts
  core/templates/services/audio-player.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#9117 Fix part of #4057: Added a test file for exploration-tags-service.ts
  core/templates/pages/exploration-editor-page/services/exploration-tags.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#9161 Fix #9137: Changed google app engine path to be absolute path
  scripts/common.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12
