Repository oppia/oppia, pull requests merged in 2020-01, with the labels that each got.

#8097 Wipeout 3.5: User ID migration
  core/domain/user_id_migration.py
  core/domain/user_id_migration_test.py
  core/jobs_registry.py
  core/platform/models.py
  core/platform/models_test.py
  core/storage/activity/gae_models.py
  core/storage/audit/gae_models.py
  core/storage/audit/gae_models_test.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/classifier/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/config/gae_models.py
  core/storage/email/gae_models.py
  core/storage/email/gae_models_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
  core/storage/file/gae_models.py
  core/storage/job/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/recommendations/gae_models.py
  core/storage/recommendations/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/skill/gae_models_test.py
  core/storage/statistics/gae_models.py
  core/storage/storage_models_test.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: CHANGELOG: Infrastructural changes

#8316 Update yarn lock file
  yarn.lock
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8310 Fix part of #7450 Added new function to avoid calling a private method from user_query_jobs_one_off_test.py
  core/domain/user_query_jobs_one_off_test.py
  core/domain/user_services.py
Labels: CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8182 Wipeout 4.2: Implement pre deletion on the backend
  .github/CODEOWNERS
  core/controllers/base.py
  core/controllers/creator_dashboard.py
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/domain/collection_domain.py
  core/domain/collection_domain_test.py
  core/domain/collection_services.py
  core/domain/collection_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_fetchers.py
  core/domain/exp_fetchers_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/topic_domain_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/jobs_registry.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  core/templates/dev/head/pages/delete-account-page/delete-account-page.controller.ts
  core/templates/dev/head/pages/preferences-page/preferences-page.directive.html
  core/tests/test_utils.py
  feconf.py
  main.py
Labels: CHANGELOG: Infrastructural changes

#8323 Remove extra file pattern from karma conf
  core/tests/karma.conf.ts
Labels: CHANGELOG: Miscellaneous -- @ankita240796

#8270 Fix #8192: Added search bar to classroom page
  .circleci/config.yml
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/dev/head/pages/classroom-page/classroom-page.controller.ts
  core/templates/dev/head/pages/classroom-page/classroom-page.directive.html
  core/templates/dev/head/pages/classroom-page/classroom-page.module.ts
  core/templates/dev/head/pages/library-page/library-page.directive.html
  core/templates/dev/head/pages/library-page/library-page.mainpage.html
  core/templates/dev/head/pages/library-page/search-bar/search-bar.directive.html
  core/templates/dev/head/pages/library-page/search-bar/search-bar.directive.ts
  core/templates/dev/head/pages/library-page/search-results/search-results.directive.html
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/classroomPage.js
  core/tests/protractor_utils/ClassroomPage.js
  core/tests/protractor_utils/TopicEditorPage.js
Labels: CHANGELOG: Learner/Creator experience -- @aks681

#8251 Fixes #6601 modified checks for enabling and disabling the submit button in the suggestion modal
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/dev/head/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/dev/head/services/context.service.spec.ts
  core/templates/dev/head/services/context.service.ts
Labels: CHANGELOG: Learner/Creator experience -- @aks681

#8333 Decrease parallelization
  .circleci/config.yml
  scripts/run_backend_tests.py
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8325 Moved no-script tag to be injected using webpack
  core/templates/dev/head/base-components/base-content.directive.html
  core/templates/dev/head/base-components/no-script.template.html
  core/templates/dev/head/pages/footer_js_libs.html
Labels: CHANGELOG: Speed improvements -- @vojtechjelinek

#8268 Store trained classifier data on file system
  .gitignore
  core/controllers/classifier_test.py
  core/controllers/editor.py
  core/controllers/resources.py
  core/controllers/voice_artist.py
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/fs_domain.py
  core/domain/fs_domain_test.py
  core/domain/fs_services.py
  core/domain/fs_services_test.py
  core/domain/html_validation_service_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/jobs_registry.py
  core/platform/app_identity/gae_app_identity_services.py
  core/platform/app_identity/gae_app_identity_services_test.py
  core/platform/models.py
  core/platform/models_test.py
  core/storage/classifier/gae_models.py
  core/storage/classifier/gae_models_test.py
  core/storage/file/__init__.py
  core/storage/file/gae_models.py
  core/storage/file/gae_models_test.py
  utils.py
  utils_test.py
Labels: CHANGELOG: Data handling -- @vojtechjelinek

#8326 Migrate StorySummaryObjectFactory to angular
  core/templates/dev/head/domain/story/StorySummaryObjectFactory.ts
  core/templates/dev/head/domain/story/StorySummaryObjectFactorySpec.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Angular Migration -- @bansalnitish

#8303 Fix #8199: Adds 16:9 aspect ratio cropping for topic thumbnail
  core/templates/dev/head/components/forms/custom-forms-directives/thumbnail-uploader.directive.html
  core/templates/dev/head/components/forms/custom-forms-directives/thumbnail-uploader.directive.ts
  core/templates/dev/head/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/dev/head/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/dev/head/pages/topic-editor-page/modal-templates/edit-topic-thumbnail-modal.template.html
  core/tests/protractor_utils/TopicEditorPage.js
  package.json
  webpack.common.config.ts
  yarn.lock
Labels: CHANGELOG: Learner/Creator experience -- @aks681

#8335 Wipeout 4.3: Full deletion process
  .github/CODEOWNERS
  core/controllers/base.py
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_jobs_one_off.py
  core/domain/wipeout_jobs_one_off_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/platform/models.py
  core/platform/models_test.py
  core/storage/base_model/gae_models.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  cron.yaml
  main_cron.py
Labels: CHANGELOG: Data handling -- @vojtechjelinek

#8321 Fix #7041: Fixes race condition issue on editor page relead
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-hints.service.ts
  core/templates/dev/head/components/state-editor/state-editor-properties-services/state-name.service.ts
  core/templates/dev/head/components/state-editor/state-editor.directive.ts
  core/templates/dev/head/components/state-editor/state-hints-editor/state-hints-editor.directive.html
  core/templates/dev/head/components/state-editor/state-hints-editor/state-hints-editor.directive.ts
  core/templates/dev/head/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/dev/head/domain/exploration/StatesObjectFactory.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.directive.html
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/state-param-changes-editor/state-param-changes-editor.directive.ts
  core/tests/protractor_utils/ExplorationEditorMainTab.js
Labels: CHANGELOG: Bug fixes -- @nithusha21, server errors

#8343 Update codeowners
  .github/CODEOWNERS
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8319 Fix #8301: Implement delete_multi for exploration and collection right models
  core/domain/activity_services.py
  core/domain/activity_services_test.py
  core/domain/collection_services.py
  core/domain/collection_services_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/question_fetchers_test.py
  core/domain/wipeout_service.py
  core/storage/base_model/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
Labels: CHANGELOG: Data handling -- @vojtechjelinek

#8352 Fix backend tests
  core/domain/collection_services_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/wipeout_jobs_one_off_test.py
Labels: CHANGELOG: Bug fixes -- @nithusha21

#8337 Removed QuestionRights and SkillRights models
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/community_dashboard_test.py
  core/controllers/editor_test.py
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/controllers/suggestion_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/domain/user_id_migration.py
  core/domain/user_id_migration_test.py
  core/jobs_registry.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/skill/gae_models_test.py
  core/templates/dev/head/domain/skill/SkillRightsObjectFactory.ts
  core/templates/dev/head/domain/skill/SkillRightsObjectFactorySpec.ts
  core/templates/dev/head/domain/skill/skill-rights-backend-api.service.spec.ts
  core/templates/dev/head/domain/skill/skill-rights-backend-api.service.ts
  core/templates/dev/head/pages/skill-editor-page/navbar/skill-editor-navbar.directive.html
  core/templates/dev/head/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/dev/head/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts
  core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.directive.html
  core/tests/test_utils.py
Labels: CHANGELOG: Learner/Creator experience -- @aks681

#8358 Learner Dahsboard fix UI detail
  core/templates/dev/head/pages/learner-dashboard-page/learner-dashboard-page.directive.html
Labels: CHANGELOG: Bug fixes -- @nithusha21

#8367 Stop indexing the cached last_nonempty_message_text
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
Labels: CHANGELOG: Lesson analytics -- @brianrodri, PR: for current release

#8255 Fix part of #7450: Make private global function public
  core/domain/exp_services_test.py
Labels: CHANGELOG: Miscellaneous -- @ankita240796

#8281 Milestone 2.1 (1st PR) - Increase coverage for collection-rights-backend-api.service.ts and validators.service.ts
  core/templates/dev/head/domain/collection/collection-rights-backend-api.service.spec.ts
  core/templates/dev/head/services/validators.service.spec.ts
Labels: CHANGELOG: QA Team -- @nithusha21

#8376 Fixes #8371 Removing End interaction text.
  core/templates/dev/head/components/state-editor/state-interaction-editor/state-interaction-editor.directive.html
Labels: CHANGELOG: Bug fixes -- @nithusha21

#7931 Fix #7372: Added a cassifierTrainingJob.to_player_dict() function
  core/controllers/reader.py
  core/domain/classifier_domain.py
  core/domain/classifier_domain_test.py
  core/domain/exp_services.py
Labels: CHANGELOG: Miscellaneous -- @ankita240796

#8282 Tidy up feedback services
  core/controllers/creator_dashboard.py
  core/controllers/creator_dashboard_test.py
  core/controllers/learner_dashboard.py
  core/domain/feedback_domain.py
  core/domain/feedback_services.py
  core/domain/feedback_services_test.py
  core/domain/user_jobs_continuous.py
  core/domain/user_jobs_continuous_test.py
Labels: CHANGELOG: Miscellaneous -- @ankita240796

#8328 Fix #8049 Changed display of oppia-icon-accessibility-label
  core/templates/dev/head/css/oppia.css
Labels: CHANGELOG: Bug fixes -- @nithusha21

#7865 Fix #7661: Improvement icon notification in the navigation bar
  core/templates/dev/head/pages/exploration-editor-page/editor-navigation/editor-navigation.directive.html
  core/templates/dev/head/pages/exploration-editor-page/editor-navigation/editor-navigation.directive.ts
  core/templates/dev/head/services/improvement-task.service.spec.ts
  core/templates/dev/head/services/improvement-task.service.ts
Labels: CHANGELOG: Learner/Creator experience -- @aks681, PR: LGTM

#8101 Fix #7336: add getLastUpdateTime() methods to Improvement Tasks
  core/templates/dev/head/domain/statistics/AnswerDetailsImprovementTaskObjectFactory.ts
  core/templates/dev/head/domain/statistics/AnswerDetailsImprovementTaskObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/FeedbackImprovementTaskObjectFactory.ts
  core/templates/dev/head/domain/statistics/FeedbackImprovementTaskObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/LearnerAnswerDetailsObjectFactory.ts
  core/templates/dev/head/domain/statistics/LearnerAnswerDetailsObjectFactorySpec.ts
  core/templates/dev/head/domain/statistics/SuggestionImprovementTaskObjectFactory.ts
  core/templates/dev/head/domain/statistics/SuggestionImprovementTaskObjectFactorySpec.ts
Labels: CHANGELOG: Learner/Creator experience -- @aks681, PR: LGTM

#8386 Fix #7427: Added args in the docstring of core/jobs_registry.py
  core/jobs_registry.py
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8345 Milestone 2.1 (2nd PR) - Increase coverage for three services
  core/templates/dev/head/domain/learner_dashboard/LearnerDashboardActivityIdsObjectFactorySpec.ts
  core/templates/dev/head/domain/skill/editable-skill-backend-api.service.spec.ts
  core/templates/dev/head/domain/topic/topic-rights-backend-api.service.spec.ts
Labels: CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8116 Upgrades StateImprovement Service to Angular
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/services/state-improvement-suggestion.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/services/state-improvement-suggestion.service.ts
  core/templates/dev/head/services/UpgradedServices.ts
Labels: CHANGELOG: Angular Migration -- @bansalnitish

#8369 Changes codeowners for audio and translation and community contribution project.
  .github/CODEOWNERS
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8363 Fix new structures issues
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/acl_decorators.py
  core/controllers/reader.py
  core/controllers/story_viewer.py
  core/controllers/story_viewer_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/role_services.py
  core/templates/dev/head/components/rubrics-editor/rubrics-editor.directive.html
  core/templates/dev/head/components/rubrics-editor/rubrics-editor.directive.ts
  core/templates/dev/head/components/summary-tile/exploration-summary-tile.directive.ts
  core/templates/dev/head/domain/story_viewer/story-viewer-backend-api.service.spec.ts
  core/templates/dev/head/domain/story_viewer/story-viewer-backend-api.service.ts
  core/templates/dev/head/domain/story_viewer/story-viewer-domain.constants.ajs.ts
  core/templates/dev/head/domain/story_viewer/story-viewer-domain.constants.ts
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/dev/head/pages/exploration-player-page/services/exploration-recommendations.service.ts
  core/templates/dev/head/pages/story-viewer-page/chapters-list/story-viewer-chapters-list.directive.html
  core/templates/dev/head/pages/story-viewer-page/chapters-list/story-viewer-chapters-list.directive.ts
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.directive.html
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.directive.ts
  core/templates/dev/head/pages/story-viewer-page/story-viewer-page.mainpage.html
  feconf.py
  main.py
Labels: CHANGELOG: Learner/Creator experience -- @aks681, PR: for current release

#8344 Fix #7605: Remove GLOBALS.TRANSLATOR_PROVIDER_FOR_TEST from karma-globals.ts
  core/templates/dev/head/components/ratings/rating-display/rating-display.directive.spec.ts
  core/templates/dev/head/components/state-editor/state-content-editor/state-content-editor.directive.spec.ts
  core/templates/dev/head/domain/collection/collection-rights-backend-api.service.spec.ts
  core/templates/dev/head/domain/collection/editable-collection-backend-api.service.spec.ts
  core/templates/dev/head/domain/collection/read-only-collection-backend-api.service.spec.ts
  core/templates/dev/head/domain/collection/search-explorations-backend-api.service.spec.ts
  core/templates/dev/head/domain/exploration/editable-exploration-backend-api.service.spec.ts
  core/templates/dev/head/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/dev/head/domain/learner_dashboard/learner-playlist.service.spec.ts
  core/templates/dev/head/domain/question/editable-question-backend-api.service.spec.ts
  core/templates/dev/head/domain/question/pretest-question-backend-api.service.spec.ts
  core/templates/dev/head/domain/question/question-backend-api.service.spec.ts
  core/templates/dev/head/domain/story/editable-story-backend-api.service.spec.ts
  core/templates/dev/head/domain/topic/editable-topic-backend-api.service.spec.ts
  core/templates/dev/head/domain/topic/topic-rights-backend-api.service.spec.ts
  core/templates/dev/head/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.spec.ts
  core/templates/dev/head/pages/collection-editor-page/services/collection-editor-state.service.spec.ts
  core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.controller.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/editor-tab/training-panel/training-data.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/feedback-tab/services/thread-data.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/history-tab/services/compare-versions.service.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/answer-classification.service.spec.ts
  core/templates/dev/head/pages/library-page/library-page.controller.spec.ts
  core/templates/dev/head/pages/preferences-page/preferences-page.controller.spec.ts
  core/templates/dev/head/pages/signup-page/signup-page.controller.spec.ts
  core/templates/dev/head/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/dev/head/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/dev/head/tests/test.extras.ts
  extensions/interactions/CodeRepl/directives/code-repl.spec.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input.spec.ts
  tsconfig-for-compile-check.json
  tsconfig.json
Labels: CHANGELOG: Speed improvements -- @vojtechjelinek

#8248 Fix part of #8038: Creates a backend service for collection-creation.service.ts
  .github/CODEOWNERS
  core/templates/dev/head/components/entity-creation-services/collection-creation-backend-api.service.spec.ts
  core/templates/dev/head/components/entity-creation-services/collection-creation-backend-api.service.ts
  core/templates/dev/head/components/entity-creation-services/collection-creation.service.ts
Labels: CHANGELOG: Miscellaneous -- @ankita240796

#8407 Fix part of #8038: Creates a backend service for collection-creation.service.ts
  .github/CODEOWNERS
  core/templates/dev/head/components/entity-creation-services/collection-creation-backend-api.service.spec.ts
  core/templates/dev/head/components/entity-creation-services/collection-creation-backend-api.service.ts
  core/templates/dev/head/components/entity-creation-services/collection-creation.service.ts
Labels: CHANGELOG: Learner/Creator experience -- @aks681

#8411 Fix part of #7450: Tests private method through public interface
  core/domain/user_jobs_one_off_test.py
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8377 fixes#7427: added Args in Docstring of core/domain/story_domain.py py…
  core/domain/story_domain.py
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8418 Fix pylint linter decoding error.
  core/controllers/acl_decorators_test.py
  core/controllers/admin_test.py
  core/controllers/base.py
  core/controllers/community_dashboard_test.py
  core/controllers/concept_card_viewer_test.py
  core/controllers/feedback_test.py
  core/controllers/practice_sessions_test.py
  core/controllers/question_editor_test.py
  core/controllers/questions_list_test.py
  core/controllers/reader_test.py
  core/controllers/resources_test.py
  core/controllers/review_tests_test.py
  core/controllers/skill_editor_test.py
  core/controllers/skill_mastery_test.py
  core/controllers/story_editor_test.py
  core/controllers/story_viewer_test.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/suggestion_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topic_viewer_test.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/collection_services.py
  core/domain/collection_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_services_test.py
  core/domain/feedback_jobs_one_off.py
  core/domain/fs_domain_test.py
  core/domain/fs_services_test.py
  core/domain/html_validation_service_test.py
  core/domain/opportunity_jobs_one_off_test.py
  core/domain/opportunity_services_test.py
  core/domain/question_fetchers_test.py
  core/domain/question_jobs_one_off_test.py
  core/domain/question_services_test.py
  core/domain/skill_domain.py
  core/domain/skill_services_test.py
  core/domain/story_fetchers_test.py
  core/domain/story_jobs_one_off_test.py
  core/domain/story_services_test.py
  core/domain/suggestion_registry_test.py
  core/domain/topic_fetchers_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/domain/user_id_migration.py
  core/jobs_registry.py
  core/platform/app_identity/gae_app_identity_services_test.py
  core/storage/base_model/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/skill/gae_models_test.py
  core/storage/topic/gae_models_test.py
  scripts/pylint_extensions.py
  scripts/release_scripts/generate_release_info_test.py
  utils_test.py
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8421 Fix a lint issue with trailing whitespace in one file.
  core/domain/story_domain.py
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8412 Fix #7601: Remove separate typescript compilation
  .github/CODEOWNERS
  scripts/build.py
  scripts/build_test.py
  scripts/start.py
  scripts/typescript_checks.py
  tsconfig-for-compile-check.json
  tsconfig.json
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8413 Fix #8375: Add check for _submitAnswerFn
  core/templates/dev/head/pages/exploration-player-page/services/current-interaction.service.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/current-interaction.service.ts
Labels: CHANGELOG: Bug fixes -- @nithusha21, server errors

#8388 Revert commits from frontend test configuration changes.
  core/tests/karma.conf.ts
  tsconfig.json
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8430 Fix version
  package.json
  yarn.lock
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8429 change private methods to public
  core/domain/rte_component_registry_test.py
Labels: CHANGELOG: Miscellaneous -- @ankita240796

#8364 Fixes: 8350 Translation tab button text overflow
  core/templates/dev/head/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
Labels: CHANGELOG: Translations -- @DubeySandeep, PR: for current release

#8130 Add new CircleCI job in order to check if any fully covered frontend file has decreased after PR changes
  .circleci/config.yml
  .github/CODEOWNERS
  scripts/check_frontend_coverage.py
  scripts/check_frontend_coverage_test.py
  scripts/run_frontend_tests.py
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8425 Updates to automation scripts to resolve issues faced in previous releases
  release_constants.py
  scripts/release_scripts/generate_release_updates.py
  scripts/release_scripts/generate_release_updates_test.py
  scripts/release_scripts/update_changelog_and_credits.py
Labels: CHANGELOG: Release team -- @ankita240796

#8435 Fixes #8434: fixing one off jobs in prod_env
  scripts/build.py
Labels: CHANGELOG: Bug fixes -- @nithusha21

#8436 Fix #8384: Adds frontend skill validation
  core/templates/dev/head/domain/skill/SkillObjectFactory.ts
  core/templates/dev/head/domain/skill/SkillObjectFactorySpec.ts
Labels: CHANGELOG: Learner/Creator experience -- @aks681

#8453 Fix frontend test timeout
  core/tests/karma.conf.ts
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8302 Migrate ReviewTestBackendApiService to angular
  core/templates/dev/head/domain/review_test/review-test-backend-api.service.spec.ts
  core/templates/dev/head/domain/review_test/review-test-backend-api.service.ts
  core/templates/dev/head/domain/review_test/review-test-domain.constants.ajs.ts
Labels: CHANGELOG: Angular Migration -- @bansalnitish

#8459 Remove unused file from FE coverage
  scripts/check_frontend_coverage.py
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8365 Fix #8330: Add min selection message for interactions with radio buttons
  assets/i18n/en.json
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-interaction.directive.html
  extensions/interactions/ItemSelectionInput/static/item_selection_input.css
Labels: CHANGELOG: Bug fixes -- @nithusha21

#8374 Fix #8331: Add submit button for multiple choice interaction (mobile only)
  core/templates/dev/head/pages/exploration-player-page/layout-directives/progress-nav.directive.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-interaction.directive.html
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.directive.ts
  extensions/interactions/ItemSelectionInput/static/item_selection_input.css
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-interaction.directive.html
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.directive.ts
  extensions/interactions/MultipleChoiceInput/static/multiple_choice_input.css
Labels: CHANGELOG: Learner/Creator experience -- @aks681

#8373 Milestone 2.1 (3rd PR) - Increase coverage for three services
  core/templates/dev/head/domain/exploration/ParamSpecsObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/SolutionObjectFactorySpec.ts
  core/templates/dev/head/domain/skill/concept-card-backend-api.service.spec.ts
  core/templates/dev/head/services/exploration-html-formatter.service.ts
  scripts/check_frontend_coverage.py
Labels: CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8468 Revert "change private methods to public"
  core/domain/rte_component_registry_test.py
Labels: CHANGELOG: Miscellaneous -- @ankita240796

#8428 Fix #8403. Added shadow for nodes in collection view.
  core/templates/dev/head/pages/collection-player-page/collection-player-page.directive.html
Labels: CHANGELOG: Learner/Creator experience -- @aks681

#8457 Removed obsolete todo from PromoBar
  core/templates/dev/head/components/common-layout-directives/common-elements/promo-bar.directive.ts
Labels: CHANGELOG: Miscellaneous -- @ankita240796

#8455 Fixes part of #6240: Admin one off jobs
  core/templates/dev/head/pages/admin-page/jobs-tab/admin-jobs-tab.directive.html
  core/tests/protractor_desktop/adminTabFeatures.js
  core/tests/protractor_utils/AdminPage.js
Labels: CHANGELOG: QA Team -- @nithusha21

#8329 Adds readme to various folders
  .github/CODEOWNERS
  .gitignore
  assets/README.md
  core/README.md
  data/README.md
  extensions/README.md
  scripts/README.md
  scripts/clean.py
  scripts/clean_test.py
  scripts/common.py
  scripts/common_test.py
  scripts/setup.py
  typings/README.md
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8420 Fix #8400. Changed 'audio' text and added an icon.
  assets/i18n/en.json
  core/templates/dev/head/pages/exploration-player-page/layout-directives/audio-bar.directive.html
Labels: CHANGELOG: Learner/Creator experience -- @aks681

#8474 Modify release info generation for release summary to be generated independently
  scripts/release_scripts/generate_release_info.py
  scripts/release_scripts/generate_release_info_test.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_changelog_and_credits_test.py
Labels: CHANGELOG: Release team -- @ankita240796

#8473 Fix instructions in changelog updation
  scripts/release_scripts/update_changelog_and_credits.py
Labels: CHANGELOG: Release team -- @ankita240796

#8478 Fixed issue with the update_changelog release script
  scripts/release_scripts/generate_release_info.py
Labels: CHANGELOG: Release team -- @ankita240796

#8494 Adds codeowner for community dashboard and translation project
  .github/CODEOWNERS
Labels: CHANGELOG: Miscellaneous -- @ankita240796

#8486 Update installation section of README
  .github/README.md
Labels: CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#8467 Fix #7403. Changed mathjs imports to partial imports.
  core/templates/dev/head/domain/objects/UnitsObjectFactory.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-rules.service.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.ts
Labels: CHANGELOG: Angular Migration -- @bansalnitish

#8465 Fix #8464: Add a check for Error object in $exceptionHandler
  core/templates/dev/head/App.ts
Labels: CHANGELOG: Server Errors -- @kevintab95, server errors

#8361 Wipeout 3.6: User ID migration changes
  core/domain/user_id_migration.py
  core/domain/user_id_migration_test.py
  core/domain/user_services.py
  core/jobs.py
  core/jobs_registry.py
  core/jobs_test.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/email/gae_models.py
  core/storage/email/gae_models_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  feconf.py
Labels: CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#8483 Replace 'Admin' user_id with 'admin'
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/jobs_registry.py
Labels: CHANGELOG: Data handling -- @vojtechjelinek

#8481 Fix #8202: Delete GeneralFeedbackThreadUserModel that have user_id equal to None
  core/controllers/feedback.py
  core/domain/feedback_jobs_one_off.py
  core/domain/feedback_jobs_one_off_test.py
  core/jobs_registry.py
Labels: CHANGELOG: Data handling -- @vojtechjelinek

#8502 Increase the frontend tests timeout to 1 minute
  core/tests/karma.conf.ts
Labels: CHANGELOG: Developer experience -- @kevinlee12

#8379 Milestone 2.1 (4th PR) - Increase coverage for three services
  core/templates/dev/head/domain/utilities/language-util.service.ts
  core/templates/dev/head/pages/exploration-player-page/services/audio-translation-language.service.spec.ts
  core/templates/dev/head/pages/exploration-player-page/services/audio-translation-language.service.ts
  core/templates/dev/head/pages/exploration-player-page/services/state-classifier-mapping.service.spec.ts
  core/templates/dev/head/services/date-time-format.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: CHANGELOG: QA Team -- @nithusha21

#8454 Fix #8209. Fixed fraction input errors.
  extensions/objects/templates/fraction-editor.directive.html
  extensions/objects/templates/fraction-editor.directive.ts
Labels: CHANGELOG: Bug fixes -- @nithusha21

#8117 Fix #6433: Refactor open playthrough modal
  core/templates/dev/head/app.constants.ajs.ts
  core/templates/dev/head/app.constants.ts
  core/templates/dev/head/css/oppia.css
  core/templates/dev/head/pages/exploration-editor-page/improvements-tab/services/improvement-modal.service.ts
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-submissions-issue.directive.html
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-submissions-issue.directive.ts
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/services/learner-action-render.service.spec.ts
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/services/learner-action-render.service.ts
  core/templates/dev/head/pages/exploration-editor-page/statistics-tab/templates/playthrough-modal.template.html
  core/templates/dev/head/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/dev/head/services/playthrough-issues.service.ts
  scripts/check_frontend_coverage.py
Labels: CHANGELOG: Learner/Creator experience -- @aks681

#8466 Fix #8181: Change $apply to $applyAsync in Base.ts and library-page.directive.ts
  core/templates/dev/head/pages/Base.ts
  core/templates/dev/head/pages/library-page/library-page.directive.ts
Labels: CHANGELOG: Server Errors -- @kevintab95, PR: LGTM, server errors

#8432 Fix part of #4057: Increase frontend test services from Milestone 2.2 (1st PR)
  core/templates/dev/head/domain/classifier/PredictionResultObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/AnswerStatsObjectFactory.ts
  core/templates/dev/head/domain/exploration/AnswerStatsObjectFactorySpec.ts
  core/templates/dev/head/domain/exploration/ParamChangeObjectFactorySpec.ts
  scripts/check_frontend_coverage.py
Labels: CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8507 Adds interceptor for Angular
  .github/CODEOWNERS
  core/templates/dev/head/AppInit.ts
  core/templates/dev/head/services/request-interceptor.service.ts
Labels: CHANGELOG: Angular Migration -- @bansalnitish

#8515 Updates for renaming Changelog label
  .github/PULL_REQUEST_TEMPLATE.md
  scripts/release_scripts/generate_release_info_test.py
Labels: CHANGELOG: Release team -- @ankita240796

#8516 Updates for maintenance mode
  scripts/common.py
  scripts/common_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM
