Repository oppia/oppia, pull requests merged in 2020-03, with the labels that each got.

#8735 Fix typo in app_dev.yaml.
  app_dev.yaml
Labels: PR CHANGELOG: Release team -- @ankita240796

#8708 Fix #8601: Added label to the topbox.
  core/templates/pages/exploration-player-page/templates/exploration-player-suggestion-modal.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8733 Fix #7637: Set hoveredRegion inside onMouseMoveRegion if null
  extensions/objects/templates/image-with-regions-editor.directive.html
  extensions/objects/templates/image-with-regions-editor.directive.ts
Labels: PR CHANGELOG: Server Errors -- @kevintab95, PR: LGTM, server errors

#8742 Fix part of #1189 Added validation for numeric-input rule type IsInclusivelyBetween.
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8737 Fix #8660: Add tests for task count notif icon
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.directive.html
  core/tests/protractor_desktop/explorationImprovementsTab.js
  core/tests/protractor_utils/ExplorationEditorImprovementsTab.js
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri

#8757 Fixes #8754: Yarn execution changes
  .yarnrc
  scripts/common.py
  scripts/install_third_party_libs.py
  scripts/pre_push_hook.py
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8591 Part of #6271: Refactor update_interaction_hints method to accept a list of Hint objects, instead of a list of dictionaries.
  core/controllers/admin.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/tests/test_utils.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8756 Fix topic_id null in e2e test issue
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/classroomPage.js
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_utils/AdminPage.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  core/tests/protractor_utils/users.js
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  webpack.common.config.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8726 Fixes part of #8296: fixed rtl text on splash and about pages
  assets/i18n/ar.json
  core/templates/css/oppia.css
  core/templates/pages/about-page/about-page.controller.ts
  core/templates/pages/about-page/about-page.directive.html
  core/templates/pages/splash-page/splash-page.directive.html
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#8491 Fix #8487: Fixing wrong placement of checkbox
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#8524 Milestone 3.1 (2nd PR) - Increase coverage for three services
  core/templates/pages/exploration-player-page/services/image-preloader.service.spec.ts
  core/templates/services/assets-backend-api.service.spec.ts
  core/templates/services/assets-backend-api.service.ts
  core/templates/services/contextual/url.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8762 Fix #8761: Prevents logging of unhandled rejection errors with status code -1
  core/templates/App.ts
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, server errors

#8703 Fix #8702: Adds a cancel callback that removes the cancelled RTE element
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/services/rte-helper.service.ts
Labels: PR CHANGELOG: Server Errors -- @kevintab95, server errors

#8626 Fix part of #5914: Export data for GeneralVoiceoverApplicationModel and UserContributionsScoringModel
  core/domain/takeout_service_test.py
  core/storage/storage_models_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#8753 Increase coverage for learner-playlist.service.ts
  core/templates/domain/learner_dashboard/learner-playlist-modal.controller.spec.ts
  core/templates/domain/learner_dashboard/learner-playlist-modal.controller.ts
  core/templates/domain/learner_dashboard/learner-playlist.service.spec.ts
  core/templates/domain/learner_dashboard/learner-playlist.service.ts
  core/templates/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8675 Fix part of #4057: Increase frontend test services from Milestone 3.3 (2nd PR)
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data.service.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data.service.ts
  core/templates/services/search.service.spec.ts
  core/templates/services/search.service.ts
  core/templates/services/site-analytics.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8525 Milestone 3.1 (3rd PR) - Increase coverage for hints-and-solution-manager.service.ts
  core/templates/pages/exploration-player-page/services/hints-and-solution-manager.service.spec.ts
  core/templates/pages/exploration-player-page/services/hints-and-solution-manager.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8732 Increase frontend test controllers from Milestone 4 (1st PR)
  core/templates/pages/about-page/about-page.controller.spec.ts
  core/templates/pages/about-page/about-page.controller.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.controller.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.controller.ts
  core/templates/pages/splash-page/splash-page.controller.spec.ts
  core/templates/pages/splash-page/splash-page.controller.ts
  core/templates/pages/teach-page/teach-page.controller.spec.ts
  core/templates/pages/teach-page/teach-page.controller.ts
  core/templates/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8528 Increase coverage for notifications-dashboard-page.controller.ts and mark-all-audio-and-translations-as-needing-update.controller.ts
  core/templates/components/forms/forms-templates/mark-all-audio-and-translations-as-needing-update.controller.spec.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.controller.spec.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.controller.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8772 Fixes #6034: Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8747 Fix part of #8746: Move done/success buttons to the right
  core/templates/pages/exploration-editor-page/feedback-tab/templates/create-feedback-thread-modal.template.html
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
  core/templates/pages/topic-editor-page/modal-templates/new-story-title-editor.template.html
  core/templates/pages/topic-editor-page/modal-templates/new-subtopic-title-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/templates/new-topic-name-editor.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8750 Fix Part of #6240: Resolve PR #8571 Comments and Clean Up Voiceover Test Naming
  core/templates/components/forms/custom-forms-directives/audio-file-uploader.directive.html
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/add-audio-translation-modal.template.html
  core/tests/protractor_desktop/voiceoverUploadFeatures.js
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8657 Fix part of #8472: Migrates EditableCollectionBackendApiService and ReadOnlyCollectionBackendApiService to Angular
  core/templates/domain/collection/editable-collection-backend-api.service.spec.ts
  core/templates/domain/collection/editable-collection-backend-api.service.ts
  core/templates/domain/collection/read-only-collection-backend-api.service.spec.ts
  core/templates/domain/collection/read-only-collection-backend-api.service.ts
  core/templates/pages/collection-editor-page/collection-editor-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8774 Fix part of #8746: Story editor, viewer, practice session bug fixes
  core/controllers/topic_viewer.py
  core/controllers/topic_viewer_test.py
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/components/skill-selector/select-skill-modal.template.html
  core/templates/components/summary-tile/story-summary-tile.directive.html
  core/templates/pages/exploration-player-page/services/question-player-engine.service.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/story-viewer-page/story-viewer-page.directive.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.controller.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.directive.html
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#8636 Milestone 3.3 (1st PR) - Increase coverage for speech-synthesis-chunker.service.ts
  core/templates/services/speech-synthesis-chunker.service.spec.ts
  core/templates/services/speech-synthesis-chunker.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8775 Increase coverage for rte-helper.service.ts
  .github/CODEOWNERS
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/services/rte-helper-modal.controller.spec.ts
  core/templates/services/rte-helper-modal.controller.ts
  core/templates/services/rte-helper.service.spec.ts
  core/templates/services/rte-helper.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8788 Update title reference in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8785 Remove any from angular in all modules
  core/templates/pages/about-page/about-page.module.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/classroom-page/classroom-page.module.ts
  core/templates/pages/collection-editor-page/collection-editor-page.module.ts
  core/templates/pages/collection-player-page/collection-player-page.module.ts
  core/templates/pages/community-dashboard-page/community-dashboard-page.module.ts
  core/templates/pages/contact-page/contact-page.module.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.module.ts
  core/templates/pages/delete-account-page/delete-account-page.module.ts
  core/templates/pages/donate-page/donate-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.module.ts
  core/templates/pages/error-pages/error-page.module.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/get-started-page/get-started-page.module.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.module.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.module.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/library-page/library-page.module.ts
  core/templates/pages/maintenance-page/maintenance-page.module.ts
  core/templates/pages/moderator-page/moderator-page.module.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.module.ts
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.module.ts
  core/templates/pages/practice-session-page/practice-session-page.module.ts
  core/templates/pages/preferences-page/preferences-page.module.ts
  core/templates/pages/privacy-page/privacy-page.module.ts
  core/templates/pages/profile-page/profile-page.module.ts
  core/templates/pages/review-test-page/review-test-page.module.ts
  core/templates/pages/signup-page/signup-page.module.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/pages/splash-page/splash-page.module.ts
  core/templates/pages/story-editor-page/story-editor-page.module.ts
  core/templates/pages/story-viewer-page/story-viewer-page.module.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.module.ts
  core/templates/pages/teach-page/teach-page.module.ts
  core/templates/pages/terms-page/terms-page.module.ts
  core/templates/pages/thanks-page/thanks-page.module.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.module.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  core/templates/tests/console_errors.module.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8748 Migrate CollectionRightsBackendApiService to Angular 8
  core/templates/domain/collection/collection-rights-backend-api.service.spec.ts
  core/templates/domain/collection/collection-rights-backend-api.service.ts
  core/templates/pages/collection-editor-page/collection-editor-page.module.ts
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.directive.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish, PR: LGTM

#8792 Fix pylint linter errors
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/create_expression_parser.py
  scripts/pylint_extensions.py
  scripts/pylint_extensions_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8795 Fix part of #8746: Centralized the story view icons
  core/templates/pages/story-viewer-page/story-viewer-page.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#8699 Fix part of #6271: Improvise update_explanation method
  core/controllers/admin.py
  core/controllers/topics_and_skills_dashboard.py
  core/domain/skill_domain.py
  core/domain/skill_services.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8798 Fix part of #8746: Fixed topic viewer tab alignment
  core/templates/pages/topic-viewer-page/topic-viewer-page.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#8797 Turn improvements tab off by default
  core/controllers/admin_test.py
  core/domain/config_domain.py
Labels: PR CHANGELOG: Lesson analytics -- @brianrodri, PR: LGTM, PR: for current release

#8821 Fix frontend tests flakiness
  core/tests/karma.conf.ts
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8696 Fix part of #4057: Increase frontend test services from Milestone 3.3 (3st PR)
  core/templates/pages/exploration-editor-page/services/parameter-metadata.service.spec.ts
  core/templates/pages/exploration-editor-page/services/parameter-metadata.service.ts
  core/templates/pages/exploration-editor-page/services/router.service.spec.ts
  core/templates/pages/exploration-editor-page/services/router.service.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/playthrough-issues.service.spec.ts
  core/templates/services/playthrough-issues.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8669 Fix part of #5296: Added an audit job to find explorations with MathExpressionInput
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8723 Fix #8132: fixed the category and language bar selection divs.
  core/templates/pages/library-page/search-bar/search-bar.directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#8736 Increase frontend test controllers from Milestone 4 (2nd PR)
  core/templates/pages/email-dashboard-pages/email-dashboard-result.controller.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.controller.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.controller.spec.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.controller.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.controller.spec.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.controller.ts
  core/templates/pages/moderator-page/moderator-page.controller.spec.ts
  core/templates/pages/moderator-page/moderator-page.controller.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/contextual/window-dimensions.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8791 Increase coverage for suggestion-modal-for-creator-view.service.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.controller.spec.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.controller.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.service.spec.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8770 Remove any from numeric-input-validation.service.spec.ts
  .github/CODEOWNERS
  core/templates/app-type.constants.ts
  core/templates/app.constants.ts
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.spec.ts
  tsconfig.json
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish, PR: LGTM

#8771 Increase coverage for training-modal.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.service.ts
  core/templates/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8749 Fix part of #5914: Export data for BaseSnapshotMetadataModel
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#8837 Add wording to not trigger issue closure
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8639 Fixes #6240 E2E Tests for Code Editor Interaction
  core/templates/pages/exploration-editor-page/exploration-editor-page.directive.html
  core/tests/protractor_utils/forms.js
  extensions/interactions/CodeRepl/protractor.js
  extensions/interactions/protractor.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8729 Fix part of #4057: Increase frontend test services from Milestone 3.3 (4th PR)
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  core/templates/pages/exploration-editor-page/services/changes-in-human-readable-form.service.spec.ts
  core/templates/pages/exploration-editor-page/services/changes-in-human-readable-form.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.ts
  core/templates/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8712 Fix part of #6351: Add custom typing for PencilCodeEmbed
  typings/README.md
  typings/pencil-code-embed-defs.d.ts
  typings/third-party-defs.d.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#8431 Fix #8385: Add a error message if the exploration id entered is invalid
  core/templates/domain/exploration/exploration-id-validation.service.spec.ts
  core/templates/domain/exploration/exploration-id-validation.service.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#8776 Increase coverage for autosave-info-modals.service.ts
  core/templates/pages/exploration-editor-page/services/autosave-info-modals.service.spec.ts
  core/templates/pages/exploration-editor-page/services/autosave-info-modals.service.ts
  core/templates/pages/exploration-editor-page/services/lost-changes-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/lost-changes-modal.controller.ts
  core/templates/pages/exploration-editor-page/services/non-strict-validation-fail-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/non-strict-validation-fail-modal.controller.ts
  core/templates/pages/exploration-editor-page/services/version-mismatch-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/version-mismatch-modal.controller.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8846 Revert "Increase coverage for autosave-info-modals.service.ts"
  core/templates/pages/exploration-editor-page/services/autosave-info-modals.service.spec.ts
  core/templates/pages/exploration-editor-page/services/autosave-info-modals.service.ts
  core/templates/pages/exploration-editor-page/services/lost-changes-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/lost-changes-modal.controller.ts
  core/templates/pages/exploration-editor-page/services/non-strict-validation-fail-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/non-strict-validation-fail-modal.controller.ts
  core/templates/pages/exploration-editor-page/services/version-mismatch-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/version-mismatch-modal.controller.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8651 Added backend validation checks for explorations in a story
  .github/CODEOWNERS
  core/controllers/reader_test.py
  core/domain/android_validation_constants.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/new-topic-name-editor.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8805 Increase coverage for training-data-editor-panel.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel.service.ts
  core/templates/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8640 Fix #8614: Moved the site-feedback icon to the footer.
  core/templates/base-components/base-content.directive.html
  core/templates/base-components/base-content.directive.ts
  core/templates/css/oppia.css
  core/templates/pages/OppiaFooterDirective.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/pages/oppia_footer_directive.html
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8848 Fixes #8840: Add a space between because and they
  extensions/interactions/EndExploration/directives/oppia-interactive-end-exploration.directive.ts
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#8809 Updates for sending reminder to submit jobs
  release_constants.py
  scripts/release_scripts/generate_release_updates.py
  scripts/release_scripts/generate_release_updates_test.py
Labels: PR CHANGELOG: Release team -- @ankita240796

#8806 Fix test file for debouncer.service.ts
  core/templates/services/debouncer.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8825 Fix part of #4057: Added a test file for StateParamChangesService.ts
  core/templates/components/state-editor/state-editor-properties-services/state-param-changes.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8836 Navigation test migration
  .circleci/config.yml
  .travis.yml
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/run_e2e_tests.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8851 Reorganize Circleci tests run order
  .circleci/config.yml
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8859 Upgrade dependencies
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8860 Fix #7643: Replace templateUrl with template in /extensions
  extensions/rich_text_components/Video/directives/oppia-noninteractive-video.directive.ts
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek, PR: LGTM

#8724 Fixes #8709 Load dummy skill with questions
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.directive.html
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.directive.ts
  feconf.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8711 Fix #8586
  scripts/install_third_party_libs.py
  scripts/script_import_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8864 Speed up frontend tests
  core/templates/App.ts
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8796 Fix #8789 . Inconsistent Capitalization in Preferred Languages Dropdown
  assets/constants.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#8854 Adding services from #8729 that was reverted in #8844
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.ts
  core/templates/services/UpgradedServices.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8674 Fixes part of #8038. Https calls in frontend should only happen through skill-creation-backend-api.services
  core/templates/components/entity-creation-services/skill-creation.service.ts
  core/templates/domain/skill/skill-creation-backend-api.service.spec.ts
  core/templates/domain/skill/skill-creation-backend-api.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796, PR: LGTM

#8875 Share ownership over stats-related code
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8587 Fixes part of #8472 . Migrate AngularJS files to Angular 8 for SkillObjectFactory file
  core/templates/domain/exploration/RecordedVoiceoversObjectFactory.ts
  core/templates/domain/exploration/SubtitledHtmlObjectFactory.ts
  core/templates/domain/exploration/VoiceoverObjectFactory.ts
  core/templates/domain/skill/ConceptCardObjectFactory.ts
  core/templates/domain/skill/MisconceptionObjectFactory.ts
  core/templates/domain/skill/RubricObjectFactory.ts
  core/templates/domain/skill/SkillObjectFactory.ts
  core/templates/domain/skill/SkillObjectFactorySpec.ts
  core/templates/domain/skill/skill-update.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/services/UpgradedServices.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish, PR: LGTM

#8558 Fixes part of #4057.RuleObjectFactory test
  core/templates/domain/exploration/RuleObjectFactory.ts
  core/templates/domain/exploration/RuleObjectFactorySpec.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8832 Fix #8743 : Add Classroom option to top navbar and hide it under SHOW_CLASSROOM_CALLOUT flag
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8867 Replace codeowners for a few files
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8873 Completes the pending changes for #8639
  extensions/interactions/CodeRepl/protractor.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8617 Added the skillreview RTE element to explorations in stories
  assets/rich_text_components_definitions.ts
  core/controllers/editor.py
  core/controllers/story_editor_test.py
  core/domain/exp_services.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/components/concept-card/concept-card-modal.template.html
  core/templates/components/concept-card/concept-card.template.html
  core/templates/components/question-directives/question-player/question-player.directive.ts
  core/templates/components/skills-mastery-list/skills-mastery-list.directive.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.controller.ts
  core/templates/services/context.service.ts
  core/templates/services/rte-helper.service.spec.ts
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/test_utils.py
  extensions/objects/protractor.js
  extensions/objects/templates/skill-selector-editor.directive.html
  extensions/objects/templates/skill-selector-editor.directive.ts
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.directive.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.directive.ts
  extensions/rich_text_components/Skillreview/directives/skillreview.directive.html
  extensions/rich_text_components/Skillreview/protractor.js
  extensions/rich_text_components/components_test.py
  extensions/rich_text_components/protractor.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#8850 Fix #8815: Initialise Guppy symbols during exploration init
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  extensions/interactions/MathExpressionInput/directives/oppia-interactive-math-expression-input.directive.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#8881 Fix #8817: Fixes progress bar issue in firefox
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.directive.html
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.directive.html
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.directive.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#8894 Fix #8819: Remove highlight on hovering on disabled button
  core/templates/css/oppia.css
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#8896 Transfer codeowner for e2e test files to Chris
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8889 Fix #8888: Await Visible Confirmation Message on Role Update
  core/tests/protractor_utils/AdminPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8879 Fix #8877: Remove DebugInfoTrackerService from the codebase
  .github/CODEOWNERS
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.directive.spec.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.directive.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-editor-page/services/router.service.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/services/current-interaction.service.spec.ts
  core/templates/pages/exploration-player-page/services/current-interaction.service.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/debug-info-tracker.service.spec.ts
  core/templates/services/debug-info-tracker.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8656 Fixes #8625: Split linters to run for a specific file extension
  .circleci/config.yml
  .github/CODEOWNERS
  .github/workflows/lint.yml
  .pylintrc
  core/tests/protractor_desktop/embedding.js
  scripts/common.py
  scripts/concurrent_task_utils.py
  scripts/install_third_party_libs.py
  scripts/linters/__init__.py
  scripts/linters/codeowner_linter.py
  scripts/linters/css_linter.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/html_linter.py
  scripts/linters/js_ts_linter.py
  scripts/linters/linter_utils.py
  scripts/linters/linter_utils_test.py
  scripts/linters/pre_commit_linter.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
  scripts/linters/python_linter.py
  scripts/pre_commit_linter.py
  scripts/pre_push_hook.py
  scripts/run_backend_tests.py
  scripts/run_presubmit_checks.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8878 Fix #8826: Correct Continue Button Display Style to Fix Highlight Outline
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#8857 Add missing review comments from #8775
  core/templates/services/rte-helper-modal.controller.spec.ts
  core/templates/services/rte-helper.service.spec.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8906 Transfer codeowner for some LaCE team files to Kevin
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8892 Fix #8802: Google Chrome on Chromebook not displaying the Speech Synthesised Voiceover.
  assets/constants.ts
  core/templates/domain/utilities/browser-checker.service.spec.ts
  core/templates/domain/utilities/language-util.service.spec.ts
  core/templates/pages/exploration-player-page/services/audio-translation-language.service.spec.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, audio-translation, frontend

#8862 Reviewer assignment functionality for community contribution
  assets/constants.ts
  core/controllers/acl_decorators.py
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/community_dashboard.py
  core/controllers/community_dashboard_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/state_domain_test.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/takeout_service_test.py
  core/domain/user_domain.py
  core/domain/user_domain_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/storage/email/gae_models.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.directive.ts
  core/templates/pages/admin-page/roles-tab/role-graph.directive.html
  core/templates/pages/community-dashboard-page/community-dashboard-page.constants.ts
  core/templates/pages/community-dashboard-page/community-dashboard-page.controller.ts
  core/templates/pages/community-dashboard-page/community-dashboard-page.directive.html
  core/templates/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.html
  core/templates/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.directive.ts
  core/templates/services/user.service.spec.ts
  core/templates/services/user.service.ts
  feconf.py
  main.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#8917 Fix #7988: Align the Question content in the table
  core/templates/components/question-directives/questions-list/questions-list.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8918 Fix #8827, #8904 and #8903: Fixed highlight reset of feedback icon, visibility of dest state name in outcome editor and behavior of dropdown in 'Add Answer Group' modal
  core/templates/components/state-directives/outcome-editor/outcome-editor.directive.html
  core/templates/components/state-directives/rule-editor/rule-type-selector.directive.ts
  core/templates/css/oppia.css
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: for current release

#8900 Fix #8882: Fix collections suite flakiness
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.directive.html
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.ts
  core/tests/protractor_desktop/collections.js
  core/tests/protractor_utils/CollectionEditorPage.js
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8721 Fixes part of #8472 . Migrate AngularJS files to Angular 8 for SkillRightBackendApiService file
  core/templates/domain/skill/SkillRightsObjectFactory.ts
  core/templates/domain/skill/skill-rights-backend-api.service.spec.ts
  core/templates/domain/skill/skill-rights-backend-api.service.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8913 Fix path in restore backup script
  scripts/release_scripts/restore_backup.py
Labels: PR CHANGELOG: Release team -- @ankita240796, PR: LGTM

#8916 Fix part of #4057: Added test cases for question-backend-api.service.ts
  core/templates/domain/question/question-backend-api.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8799 Increase coverage for improvement-modal.service.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-confirmation-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-confirmation-modal.controller.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-feedback-thread-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-feedback-thread-modal.controller.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-learner-answer-details-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-learner-answer-details-modal.controller.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-modal.service.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-modal.service.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-playthrough-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-playthrough-modal.controller.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-suggestion-thread-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-suggestion-thread-modal.controller.ts
  core/templates/pages/exploration-editor-page/improvements-tab/templates/feedback-thread-modal.template.html
  core/templates/pages/exploration-editor-page/improvements-tab/templates/suggestion-thread-modal.template.html
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8898 Fix #8820: Fix margin for the exploration feedback so that it can be reached.
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#8922 Import wave-surfer using webpack instead of including it in third_party.js file
  .github/CODEOWNERS
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  core/templates/third-party-imports/wave-surfer.import.ts
  manifest.json
  scripts/check_frontend_coverage.py
  tsconfig.json
  typings/custom-window-defs.d.ts
  typings/third-party-defs.d.ts
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek

#8929 Remove angular-drag-and-drop-lists.min.js from header js imports
  core/templates/pages/header_js_libs.html
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek

#8807 Updates to provide only required services in App.ts
  core/templates/App.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/pages/moderator-page/moderator-page.controller.spec.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8588 Fixes part of #4057. Frontend test for ExplorationFeatureService
  core/templates/services/exploration-features.service.spec.ts
  core/templates/services/exploration-features.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8933 Revert "Updates to provide only required services in App.ts"
  core/templates/App.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/pages/moderator-page/moderator-page.controller.spec.ts
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8834 Fix #6757: Reload page when login_url is None
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/pages/community-dashboard-page/login-required-message/login-required-message.directive.ts
  core/templates/pages/profile-page/profile-page.controller.ts
  core/templates/pages/signup-page/signup-page.controller.ts
Labels: PR CHANGELOG: Server Errors -- @kevintab95, PR: LGTM, server errors

#8870 Fix #8869: Add innerHTML lint check
  .github/CODEOWNERS
  core/templates/App.ts
  core/templates/Polyfills.ts
  core/templates/pages/exploration-player-page/services/extract-image-filenames-from-state.service.ts
  extensions/interactions/CodeRepl/protractor.js
  extensions/interactions/Continue/protractor.js
  extensions/interactions/EndExploration/protractor.js
  extensions/interactions/FractionInput/protractor.js
  extensions/interactions/GraphInput/protractor.js
  extensions/interactions/LogicProof/protractor.js
  extensions/interactions/MathExpressionInput/protractor.js
  extensions/interactions/MultipleChoiceInput/protractor.js
  extensions/interactions/NumberWithUnits/protractor.js
  extensions/interactions/NumericInput/protractor.js
  extensions/interactions/PencilCodeEditor/directives/oppia-interactive-pencil-code-editor.directive.ts
  extensions/interactions/TextInput/protractor.js
  extensions/objects/protractor.js
  extensions/rich_text_components/Collapsible/protractor.js
  extensions/rich_text_components/Image/protractor.js
  extensions/rich_text_components/Link/protractor.js
  extensions/rich_text_components/Math/protractor.js
  extensions/rich_text_components/Skillreview/protractor.js
  extensions/rich_text_components/Tabs/protractor.js
  extensions/rich_text_components/Video/protractor.js
  scripts/linters/general_purpose_linter.py
  utils.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8937 Fix #8935: Fix lint errors
  scripts/concurrent_task_utils.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12

#8938 Revert "Fixes part of #4057. Frontend test for ExplorationFeatureService"
  core/templates/services/exploration-features.service.spec.ts
  core/templates/services/exploration-features.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#8936 Fix #8911: Fix issues with exploration state graph
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM, PR: for current release

#8763 Fixes part of #4057 and #8472: Migrates contribution opportunities backend api to angular 8 and creates a spec file for it.
  core/templates/pages/community-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/community-dashboard-page/services/contribution-opportunities-backend-api.service.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8925 Add contributors audit job
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#8899 Add frontend validation for explorations in the story editor
  core/controllers/admin_test.py
  core/controllers/community_dashboard_test.py
  core/controllers/story_editor.py
  core/controllers/story_editor_test.py
  core/controllers/suggestion_test.py
  core/domain/opportunity_jobs_one_off_test.py
  core/domain/opportunity_services_test.py
  core/domain/prod_validation_jobs_one_off_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/domain/topic_services_test.py
  core/domain/voiceover_services_test.py
  core/templates/domain/story/editable-story-backend-api.service.ts
  core/templates/domain/story/story-domain.constants.ajs.ts
  core/templates/domain/story/story-domain.constants.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
  feconf.py
  main.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#8905 Topic viewver backend api
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.spec.ts
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8941 Fix backend error in release branch
  core/domain/story_services_test.py
  core/templates/pages/exploration-editor-page/exploration-editor-page.controller.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#8353 Fix #8249: Surface skill difficulty/rubrics in question suggestion flow.
  assets/constants.ts
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/domain/skill/skill-backend-api.service.spec.ts
  core/templates/domain/skill/skill-backend-api.service.ts
  core/templates/pages/community-dashboard-page/contributions-and-review/contributions-and-review.directive.ts
  core/templates/pages/community-dashboard-page/modal-templates/question-suggestion-review.directive.html
  core/templates/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.ts
  core/templates/pages/community-dashboard-page/services/contribution-and-review.service.spec.ts
  core/templates/pages/community-dashboard-page/services/contribution-and-review.service.ts
  core/templates/pages/community-dashboard-page/services/question-suggestion.service.ts
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#8942 Update authors and changelog for v2.9.1
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.directive.html
Labels: PR CHANGELOG: Miscellaneous -- @ankita240796

#8943 Perform routine upgrade for yarn packages
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8934 Fix part of #4057: Adds frontend test cases to QuestionObjectFactory
  core/templates/domain/question/QuestionObjectFactorySpec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#8823 Remove any from url-interpolation.service.ts, url.service.ts and some other files
  core/templates/domain/utilities/browser-checker.service.ts
  core/templates/domain/utilities/url-interpolation.service.ts
  core/templates/services/contextual/url.service.ts
  core/templates/services/csrf-token.service.ts
  core/templates/services/exploration-features-backend-api.service.ts
  core/templates/services/request-interceptor.service.ts
  core/templates/services/utils.service.ts
  extensions/classifiers/python-program.tokenizer.ts
Labels: PR CHANGELOG: Angular Migration -- @bansalnitish

#8948 Fixes not loading opportunities in the community dashboard.
  core/templates/pages/community-dashboard-page/services/contribution-opportunities.service.ts
Labels: PR: LGTM

#8923 Fix #8920 adding check frontend coverage feature on pre push hook
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
Labels: PR CHANGELOG: Developer experience -- @kevinlee12, PR: LGTM

#8953 Upgrade major versions of libraries
  core/tests/protractor-browserstack.conf.js
  core/tests/protractor.conf.js
  package.json
  webpack.common.config.ts
  yarn.lock
Labels: PR CHANGELOG: Developer experience -- @kevinlee12
