Repository oppia/oppia, pull requests merged in 2021-12, with the labels that each got.

#14341 Fix #14339: Unblock translation review process from server error raised while fetching translations to review
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/feconf.py
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee

#14350 Add debugging to suggestions stats job
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14299 Fix part of #13956: remove python_utils.string_io() and python_utils.url_open()
  core/domain/recommendations_services.py
  core/platform/email/mailgun_email_services.py
  core/platform/email/mailgun_email_services_test.py
  core/python_utils.py
  core/python_utils_test.py
  core/utils.py
  core/utils_test.py
  scripts/build_test.py
  scripts/check_if_pr_is_low_risk.py
  scripts/check_if_pr_is_low_risk_test.py
  scripts/common_test.py
  scripts/install_third_party.py
  scripts/install_third_party_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/other_files_linter_test.py
  scripts/linters/python_linter.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
  scripts/servers.py
  scripts/servers_test.py
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @brianrodri

#14284 Fixed part of #13956: Remove python_utils.PRINT function
  core/python_utils.py
  core/tests/test_utils.py
  core/tests/test_utils_test.py
  scripts/build.py
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/check_frontend_test_coverage.py
  scripts/check_frontend_test_coverage_test.py
  scripts/check_if_pr_is_low_risk.py
  scripts/check_if_pr_is_low_risk_test.py
  scripts/clean.py
  scripts/common.py
  scripts/concurrent_task_utils.py
  scripts/concurrent_task_utils_test.py
  scripts/create_expression_parser.py
  scripts/create_topological_sort_of_all_services.py
  scripts/create_topological_sort_of_all_services_test.py
  scripts/flake_checker.py
  scripts/install_backend_python_libs.py
  scripts/install_backend_python_libs_test.py
  scripts/install_chrome_for_ci.py
  scripts/install_chrome_for_ci_test.py
  scripts/install_third_party.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/install_third_party_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/linter_utils.py
  scripts/linters/linter_utils_test.py
  scripts/linters/pre_commit_linter.py
  scripts/linters/pre_commit_linter_test.py
  scripts/linters/test_files/invalid_import_order.py
  scripts/pre_commit_hook.py
  scripts/pre_commit_hook_test.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/repo_specific_changes_fetcher.py
  scripts/release_scripts/repo_specific_changes_fetcher_test.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
  scripts/run_backend_tests.py
  scripts/run_custom_eslint_tests.py
  scripts/run_e2e_tests.py
  scripts/run_frontend_tests.py
  scripts/run_lighthouse_tests.py
  scripts/run_mypy_checks.py
  scripts/run_presubmit_checks.py
  scripts/run_tests.py
  scripts/servers.py
  scripts/setup.py
  scripts/setup_gae.py
  scripts/setup_gae_test.py
  scripts/setup_test.py
  scripts/start.py
  scripts/third_party_size_check.py
  scripts/typescript_checks.py
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @brianrodri

#14208 Fix Part of #13162: Add argument schema for ExplorationCompleteEventHandler, ExplorationMaybeLeaveHandler, SolutionHitEventHandler classes
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/handler_schema_constants.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14329 Fix #14305: Change Foundation Page Title
  assets/constants.ts
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/about-foundation-page/about-foundation-page.component.ts
  core/tests/protractor_desktop/navigation.js
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14357 Fix #14300 When the language is changed on the contributor dashboard, the view doesn't update for a while.
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
Labels: PR: LGTM, REVIEWERS: Please add changelog label

#14246 Fix part of #8016: Make Http Calls of question-suggestion-review-modal.controller.ts and translation-suggestion-review-modal.controller.ts through service component.
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
Labels: PR: LGTM, REVIEWERS: Please add changelog label

#14352 Use legacy cust args for v47 to v48 schema migration
  core/domain/exp_domain.py
  core/domain/interaction_registry.py
  core/domain/question_domain.py
  core/domain/state_domain.py
  extensions/interactions/legacy_interaction_specs_by_state_version/interaction_specs_state_v48.json
Labels: PR: for current release

#14137 Fix part of #10474: Typescript Strict Check for skill-backend-api.service.ts
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/skill/skill-backend-api.service.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/topic/TopicObjectFactory.ts
  core/templates/domain/topic/subtopic-page.model.ts
  core/templates/services/question-validation.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14346 Fix #14304: Removed navbar links linking pages to new tabs
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14278 Fix part of #8016: Migration of Exploration rights Service from AngularJS to Angular
  core/templates/pages/exploration-editor-page/services/exploration-category.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-category.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights-backend-api.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13678 Fix part of #13687: Convert dicts to domain objects as a part of normalization through schema validation.
  core/controllers/admin.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/editor.py
  core/controllers/moderator.py
  core/controllers/payload_validator.py
  core/controllers/payload_validator_test.py
  core/controllers/platform_feature_test.py
  core/controllers/reader.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_registry.py
  core/domain/platform_parameter_registry_test.py
  core/domain/stats_domain.py
  core/domain/stats_domain_test.py
  core/schema_utils.py
  core/schema_utils_test.py
Labels: PR: LGTM

#14374 Fixes part of #13956: python_utils.urllib_unquote
  core/controllers/resources.py
  core/python_utils.py
  core/python_utils_test.py
  core/utils.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#14221 Wipeout changes
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/email_dashboard_test.py
  core/controllers/voice_artist.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/rights_manager.py
  core/domain/rights_manager_test.py
  core/domain/wipeout_service_test.py
  core/jobs/batch_jobs/email_deletion_jobs.py
  core/jobs/batch_jobs/email_deletion_jobs_test.py
  core/jobs/io/ndb_io_test.py
  core/jobs/job_test_utils.py
  core/jobs/jobs_manager.py
  core/storage/email/gae_models.py
  core/storage/email/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#14378 Add languages: Hausa, Igbo, Yoruba
  assets/constants.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee, PR: Affects datastore layer

#14303 Fix part of #13956: Using Python3 urlrequest
  core/platform/email/mailgun_email_services.py
  core/platform/email/mailgun_email_services_test.py
  core/python_utils.py
  core/python_utils_test.py
  scripts/check_if_pr_is_low_risk.py
  scripts/install_third_party.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#14323 Fix part of #13162: Adds schemas for TopicsAndSkillsDashboardPageDataHandler, TopicAssignmentsHandler, SkillsDashboardPageDataHandler
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/handler_schema_constants.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14347 Fix part of issue #9749: migrate create new subtopic modal to angular component
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.controller.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.spec.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
  core/tests/protractor_utils/TopicEditorPage.js
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14359 Fix part of issue #9749: migrate setting-tab modals (delete, unpublish, reassign, ... ) to Angular Component
  core/templates/components/forms/schema-based-editors/schema-based-bool-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-custom-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/delete-exploration-modal.component.html
  core/templates/pages/exploration-editor-page/settings-tab/templates/delete-exploration-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/delete-exploration-modal.component.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/moderator-unpublish-exploration-modal.component.html
  core/templates/pages/exploration-editor-page/settings-tab/templates/moderator-unpublish-exploration-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/moderator-unpublish-exploration-modal.component.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/moderator-unpublish-exploration-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/moderator-unpublish-exploration-modal.controller.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/reassign-role-confirmation-modal.component.html
  core/templates/pages/exploration-editor-page/settings-tab/templates/reassign-role-confirmation-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/reassign-role-confirmation-modal.component.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/reassign-role-confirmation-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/reassign-role-confirmation-modal.controller.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/remove-role-confirmation-modal.component.html
  core/templates/pages/exploration-editor-page/settings-tab/templates/remove-role-confirmation-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/remove-role-confirmation-modal.component.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/remove-role-confirmation-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/transfer-exploration-ownership-modal.component.html
  core/templates/pages/exploration-editor-page/settings-tab/templates/transfer-exploration-ownership-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/transfer-exploration-ownership-modal.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14386 Fix popperJS
  dependencies.json
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: require post-merge sync to HEAD

#14381 Fix #14255 Added extra space at bottom of the story editor page
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14387 Fix a part of #14278 : Exploration rights Service small important change in code
  core/templates/pages/exploration-editor-page/services/exploration-rights-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights-backend-api.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14294 Implemented the new UI for the Learn (formerly Classroom) Tab of the navbar and fixes #13667
  assets/i18n/ar.json
  assets/i18n/diq.json
  assets/i18n/en.json
  assets/i18n/es.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/kab.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/sk.json
  assets/i18n/skr-arab.json
  assets/i18n/tr.json
  assets/i18n/uk.json
  assets/i18n/zh-hant.json
  assets/images/topnav/learn.png
  assets/images/topnav/learn.webp
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14318 FE Flake in Router Service
  core/templates/pages/exploration-editor-page/services/router.service.spec.ts
Labels: PR: LGTM

#13906 Fix Part of #9749: Migrates Creator-Dashboard-Page to Angular
  core/templates/components/shared-component.module.ts
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.mainpage.html
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.module.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.controller.spec.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.controller.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.directive.html
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.service.spec.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.service.ts
  core/templates/services/suggestion-modal.service.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14258 Implemented new UI changes in side Navigation bar
  assets/i18n/ab.json
  assets/i18n/ar.json
  assets/i18n/ast.json
  assets/i18n/bn.json
  assets/i18n/br.json
  assets/i18n/bs.json
  assets/i18n/da.json
  assets/i18n/de.json
  assets/i18n/diq.json
  assets/i18n/el.json
  assets/i18n/en.json
  assets/i18n/eo.json
  assets/i18n/es.json
  assets/i18n/eu.json
  assets/i18n/fa.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/hu.json
  assets/i18n/id.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/kab.json
  assets/i18n/ko.json
  assets/i18n/kum.json
  assets/i18n/lb.json
  assets/i18n/mk.json
  assets/i18n/ne.json
  assets/i18n/nl.json
  assets/i18n/oc.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sk.json
  assets/i18n/skr-arab.json
  assets/i18n/sv.json
  assets/i18n/tr.json
  assets/i18n/uk.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  assets/images/sidebar/learn-math-logo.png
  assets/images/sidebar/learn-math-logo.webp
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/tests/build_sources/assets/ab.json
  core/tests/protractor_mobile/navigation.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14274 Fix #14231: Added required strict typescript checks to import question-player-state-service
  core/templates/components/question-directives/question-player/services/question-player-state.service.spec.ts
  core/templates/components/question-directives/question-player/services/question-player-state.service.ts
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/skill/MisconceptionObjectFactory.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/services/question-validation.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14345 Implemented new UI for the 'Get Involved' Tab of the top navbar and fixes issue with keyboard navigation
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14236 Upgrade libraries
  .yarnrc
  core/controllers/base.py
  core/controllers/base_test.py
  core/domain/auth_domain.py
  core/domain/auth_services.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_service.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
  core/python_utils.py
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.spec.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.ts
  core/templates/services/exploration-html-formatter.service.spec.ts
  core/templates/services/exploration-html-formatter.service.ts
  core/templates/services/extension-tag-assembler.service.spec.ts
  core/templates/services/extension-tag-assembler.service.ts
  core/tests/test_utils.py
  requirements.in
  requirements.txt
  scripts/common.py
  scripts/install_third_party_libs.py
  scripts/release_scripts/update_changelog_and_credits_test.py
  scripts/script_import_test.py
  scripts/setup_gae.py
  stubs/firebase_admin/auth.pyi
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#14364 Updates cron time for pending review notification
  .github/workflows/pending-review-notification.yml
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14063 Fix #13162: Add schema and introduce new approach for saving multiple images in suggestion handler.
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/image_validation_services.py
  core/handler_schema_constants.py
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.ts
  core/utils.py
  core/utils_test.py
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#14396 Fix #14230: Strip whitespace when comparing translation content html and exploration content html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee, PR: don't merge - STALE BUILD

#14301 Fix part of #13956: remove python_utils.create_enum
  core/controllers/admin_test.py
  core/controllers/platform_feature_test.py
  core/domain/app_feedback_report_constants.py
  core/domain/app_feedback_report_domain.py
  core/domain/app_feedback_report_domain_test.py
  core/domain/app_feedback_report_services.py
  core/domain/app_feedback_report_services_test.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_domain_test.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_registry_test.py
  core/jobs/transforms/validation/base_validation.py
  core/platform/models.py
  core/platform/models_test.py
  core/python_utils.py
  core/python_utils_test.py
  core/storage/app_feedback_report/gae_models.py
  core/storage/app_feedback_report/gae_models_test.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Python Migration -- @brianrodri

#14420 Fix #14404: Fixes sidebar freezing behaviour
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  core/templates/services/sidebar-status.service.spec.ts
  core/templates/services/sidebar-status.service.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#14363 Fixed part of #8472: Migrated topic-editor-save-modal to Angular component
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-save-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-save-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-save-modal.component.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-save-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-save-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-save-modal.template.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.spec.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14429 Fix part of 9749: Migrate delete-answer-group-modal.template
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-answer-group-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-answer-group-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-answer-group-modal.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14410 Fix part of issue #9749: migrate welcome translation modal from angularjs to angular
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/welcome-translation-modal.component.html
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/welcome-translation-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/welcome-translation-modal.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/welcome-translation-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/welcome-translation-modal.controller.ts
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14411 Fix part of issue #9749: migrate translation-tab TranslationTabBusyModal, DeleteAudioTranslationModal from angularjs to angular
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/delete-audio-translation-modal.component.html
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/delete-audio-translation-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/delete-audio-translation-modal.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/delete-audio-translation-modal.template.html
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/translation-tab-busy-modal.component.html
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/translation-tab-busy-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/translation-tab-busy-modal.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/translation-tab-busy-modal.controller.spec.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14438 Implemented new navbar : Home navbar menu item
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/button-directives/create-activity-button.component.html
  core/templates/components/button-directives/create-activity-button.component.spec.ts
  core/templates/components/button-directives/create-activity-button.component.ts
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14421 Fixed part of #9749: Migrated revert-exploration-modal component
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/pages/exploration-editor-page/history-tab/modal-templates/revert-exploration-modal.component.html
  core/templates/pages/exploration-editor-page/history-tab/modal-templates/revert-exploration-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/modal-templates/revert-exploration-modal.component.ts
  core/templates/pages/exploration-editor-page/history-tab/modal-templates/revert-exploration-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/modal-templates/revert-exploration-modal.controller.ts
  core/templates/pages/exploration-editor-page/history-tab/modal-templates/revert-exploration-modal.template.html
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14320 Add e2e test to prevent supplemental cards regression
  core/tests/protractor_desktop/extensions.js
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#14457 Fix problems in pre push hook
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21, PR: don't merge - STALE BUILD

#14371 Fix #14330: Pass isLearnAgainButton input to the progress-nav component
  core/domain/state_domain.py
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.directive.html
Labels: PR: for current release

#14361 Add skill and story migration jobs
  core/domain/skill_services.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/feconf.py
  core/jobs/batch_jobs/skill_migration_jobs.py
  core/jobs/batch_jobs/skill_migration_jobs_test.py
  core/jobs/batch_jobs/story_migration_jobs.py
  core/jobs/batch_jobs/story_migration_jobs_test.py
  core/jobs/registry.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/collection/gae_models.py
  core/storage/config/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/question/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/story/gae_models.py
  core/storage/subtopic/gae_models.py
  core/storage/topic/gae_models.py
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#14369 Fix part of #14033: Type annotate Classifier and Classroom domain
  core/domain/classifier_domain.py
  core/domain/classifier_domain_test.py
  core/domain/classroom_domain.py
  core/feconf.py
  core/storage/classifier/gae_models_test.py
  scripts/install_third_party_libs.py
  scripts/run_mypy_checks.py
  scripts/script_import_test.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14442 Fix part of #14219: Add tests to completely cover scripts/common.py
  scripts/backend_tests_incomplete_coverage.txt
  scripts/common_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14311 Fix part of #10474: Make typescript checks strict for core/templates/components/graph-services/graph-layout.service.ts file
  core/templates/components/graph-services/graph-layout.service.spec.ts
  core/templates/components/graph-services/graph-layout.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14463 Fix #13680 Remove voice artists' role in the description text
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14466 Fix part of #14219: Add a test to complete gae_models coverage
  core/storage/activity/gae_models_test.py
  scripts/backend_tests_incomplete_coverage.txt
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#14445 Fix part of #14033: Type annotate improvements and feedback domain files
  core/domain/feedback_domain.py
  core/domain/feedback_domain_test.py
  core/domain/improvements_domain.py
  core/domain/improvements_domain_test.py
  core/storage/feedback/gae_models_test.py
  scripts/run_mypy_checks.py
Labels: PR: don't merge - STALE BUILD, PR CHANGELOG: Typing -- @vojtechjelinek

#14460 Fixes an issue where multiple calls where being made to the backend
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#14474 Fix part of #12912: Enables no-else-break pylint check
  .pylintrc
  core/domain/suggestion_services.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: don't merge - STALE BUILD

#14472 Add notes to the release coordinator page
  core/templates/domain/jobs/beam-job-run.model.ts
  core/templates/pages/release-coordinator-page/components/view-beam-job-output-dialog.component.html
  core/templates/pages/release-coordinator-page/release-coordinator-page.component.html
Labels: PR CHANGELOG: Release team -- @nithusha21, PR: don't merge - STALE BUILD

#14391 Fix #14389: Increase HTML length validation check limits
  core/templates/components/state-directives/hint-editor/hint-editor.component.spec.ts
  core/templates/components/state-directives/hint-editor/hint-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.html
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.spec.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14476 Fix part of #9749: Migrate save-pending-changes-modal.template
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/skill-editor-page/modal-templates/save-pending-changes-modal.component.html
  core/templates/pages/skill-editor-page/modal-templates/save-pending-changes-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/save-pending-changes-modal.component.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.spec.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.spec.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14454 Fix Part of #9749: Migrate delete-hint-modal.template, delete-interaction-modal.template, delete-last-hint-modal.template, delete-solution-modal.template into component
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.spec.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.ts
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.spec.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-hint-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-hint-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-hint-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-interaction-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-interaction-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-interaction-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-last-hint-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-last-hint-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-last-hint-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-solution-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-solution-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/delete-solution-modal.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14205 Add frontend test for schema-based-html-viewer.directive.ts
  core/templates/components/forms/schema-viewers/schema-based-html-viewer.directive.spec.ts
  core/templates/components/forms/schema-viewers/schema-based-html-viewer.directive.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14451 Fix part of #9749: Migrates topic-editor-send-mail, topic-editor-save, delete story modal
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/delete-story-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/delete-story-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/delete-story-modal.component.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-send-mail-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-send-mail-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-send-mail-modal.component.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-save-pending-changes-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/topic-save-pending-changes-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-save-pending-changes-modal.component.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.spec.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#14498 Fix breaking of navbar throughout all screen sizes
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14495 Fix part of #14219: 100% per-file backend test coverage for base.py
  core/controllers/base_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14434 Fix part of #14187: Cover current-interaction and language-util services fully
  core/templates/domain/utilities/language-util.service.spec.ts
  core/templates/pages/exploration-player-page/services/current-interaction.service.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#14467 Fixed part of #9749: Migrated Add Misconception modal
  core/templates/components/question-directives/questions-list/questions-list.component.spec.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/skill/MisconceptionObjectFactory.ts
  core/templates/domain/skill/MisconceptionObjectFactorySpec.ts
  core/templates/domain/skill/SkillObjectFactory.ts
  core/templates/domain/skill/SkillObjectFactorySpec.ts
  core/templates/domain/skill/skill-backend-api.service.spec.ts
  core/templates/domain/skill/skill-update.service.spec.ts
  core/templates/domain/skill/skill-update.service.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.component.html
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.component.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.controller.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.controller.ts
  core/templates/pages/skill-editor-page/modal-templates/delete-misconception-modal.component.spec.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar-breadcrumb.component.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/services/question-validation.service.spec.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14392 Fix #14011: Made misaligned subtopic tiles responsive
  core/templates/components/summary-tile/subtopic-summary-tile.component.html
  core/templates/css/oppia.css
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14513 Fix part of #10474 : Make typescript checks strict for base-components/base.module.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#14500 Fixed part of #9749: Migrated skill-rubrics-editor component
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.component.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14516 Fixed #14510: Fixed working of delete answer group modal component
  core/templates/components/shared-component.module.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#14488 Fix part of issue #9749: migrate forms-templates from AngularJS to Angular
  core/templates/components/forms/forms-templates/mark-all-audio-and-translations-as-needing-update-modal.component.html
  core/templates/components/forms/forms-templates/mark-all-audio-and-translations-as-needing-update-modal.component.spec.ts
  core/templates/components/forms/forms-templates/mark-all-audio-and-translations-as-needing-update-modal.component.ts
  core/templates/components/forms/forms-templates/mark-audio-as-needing-update-modal.component.html
  core/templates/components/forms/forms-templates/mark-audio-as-needing-update-modal.component.spec.ts
  core/templates/components/forms/forms-templates/mark-audio-as-needing-update-modal.component.ts
  core/templates/components/forms/shared-forms.module.ts
  core/templates/components/question-directives/question-editor/question-editor.component.spec.ts
  core/templates/components/question-directives/question-editor/question-editor.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14049 Migrate and encapsulate logic from conversation skin directive to ratings-and-recommendations component.
  .github/CODEOWNERS
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/components/smooth-height/smooth-height-animator.component.spec.ts
  core/templates/components/smooth-height/smooth-height-animator.component.ts
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.html
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.html
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.ts
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
  core/templates/pages/exploration-player-page/services/learner-view-rating.service.spec.ts
  core/templates/pages/exploration-player-page/services/player-position.service.ts
  core/templates/pages/library-page/library-page.component.html
  core/tests/protractor_utils/ExplorationPlayerPage.js
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14459 Fix part of #10474 : Make typescript checks strict for editable-topic-backend-api.service.ts
  core/templates/domain/topic/editable-topic-backend-api.service.spec.ts
  core/templates/domain/topic/editable-topic-backend-api.service.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek
