Repository oppia/oppia, pull requests merged in 2021-07, with the labels that each got.

#13274 Adds logic to handle request method
  core/controllers/base.py
  core/controllers/base_test.py
Labels: PR: LGTM

#13238 Fix #13142: Fix author profiles dropdown
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/shared-component.module.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/library-page/search-bar/search-bar.component.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM, PR: for current release

#13256 Fix part of #8472: Migrate services in exploration editor page
  core/templates/pages/exploration-editor-page/services/exploration-init-state-name.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-init-state-name.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-language-code.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-language-code.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-property.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-tags.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-tags.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13216 UI changes to library and story viewer page
  assets/i18n/ar.json
  assets/i18n/en.json
  assets/i18n/es.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/hi.json
  assets/i18n/kab.json
  assets/i18n/lb.json
  assets/i18n/my.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sk.json
  assets/i18n/tr.json
  assets/i18n/uk.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/summary-tile/story-summary-tile.component.html
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/library-page/library-page.mainpage.html
  core/templates/pages/library-page/search-bar/search-bar.component.html
  core/templates/pages/library-page/search-results/search-results.component.html
  core/templates/pages/splash-page/splash-page.component.html
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
  core/tests/protractor_mobile/navigation.js
  core/tests/protractor_utils/LibraryPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13258 Frontend tests for image-with-regions-editor.component
  extensions/objects/templates/image-with-regions-editor.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13222 Redesigning and Updating the Learner Dashboard Page Milestone-1.4
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.constants.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/community-lessons-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/community-lessons-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/community-lessons-tab.component.ts
Labels: PR: Affects datastore layer

#13257 Frontend tests for graph-viz.component
  extensions/interactions/GraphInput/directives/graph-viz.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#13181 Redesigning and Updating the Learner Dashboard Page Milestone-1.3
  assets/constants.ts
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/images/learner_dashboard/book.svg
  assets/images/learner_dashboard/paw.svg
  assets/images/learner_dashboard/star.svg
  core/controllers/learner_dashboard.py
  core/controllers/learner_dashboard_test.py
  core/domain/learner_progress_domain.py
  core/domain/learner_progress_domain_test.py
  core/domain/learner_progress_services.py
  core/domain/learner_progress_services_test.py
  core/domain/takeout_service_test.py
  core/domain/topic_fetchers.py
  core/templates/components/shared-component.module.ts
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
  core/templates/components/summary-tile/learner-story-summary-tile.component.spec.ts
  core/templates/components/summary-tile/learner-story-summary-tile.component.ts
  core/templates/domain/learner_dashboard/learner-dashboard-activity-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-activity-backend-api.service.ts
  core/templates/domain/learner_dashboard/learner-dashboard-activity-ids.model.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-activity-ids.model.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/domain/learner_dashboard/learner-dashboard-ids-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/non-existent-activities.model.spec.ts
  core/templates/domain/learner_dashboard/non-existent-activities.model.ts
  core/templates/domain/story/story-summary.model.spec.ts
  core/templates/domain/story/story-summary.model.ts
  core/templates/domain/topic/learner-topic-summary.model.spec.ts
  core/templates/domain/topic/learner-topic-summary.model.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-icons.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.constants.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/learner-dashboard-page/modal-templates/remove-activity-modal.component.spec.ts
  core/templates/pages/learner-dashboard-page/modal-templates/remove-activity-modal.component.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.ts
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer, PR: LGTM

#13074 Fix #13067, #13068, #12951 and #12857 - Moved language selector to navbar, fixed URLs and translations
  .github/CODEOWNERS
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/domain/exp_services.py
  core/templates/App.ts
  core/templates/base-components/i18n-language-selector.component.html
  core/templates/base-components/i18n-language-selector.component.ts
  core/templates/base-components/oppia-footer.component.html
  core/templates/components/button-directives/hint-and-solution-buttons.component.html
  core/templates/components/button-directives/hint-and-solution-buttons.component.spec.ts
  core/templates/components/button-directives/social-buttons.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/exploration-player-page/layout-directives/correctness-footer.component.html
  core/templates/pages/exploration-player-page/modals/display-hint-modal.component.html
  core/templates/pages/exploration-player-page/modals/display-hint-modal.component.spec.ts
  core/templates/pages/exploration-player-page/modals/flag-exploration-modal.component.html
  core/templates/pages/teach-page/teach-page.component.html
  core/templates/pages/teach-page/teach-page.component.ts
  core/tests/protractor_desktop/userJourneys.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13207 Milestone 1.3: Adds Blog Dashboard Controllers, Blog Admin page Controllers and blog-admin-backend-api service.
  .github/CODEOWNERS
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/blog_admin.py
  core/controllers/blog_admin_test.py
  core/controllers/blog_dashboard.py
  core/controllers/blog_dashboard_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/domain/blog_domain.py
  core/domain/blog_domain_test.py
  core/domain/blog_services.py
  core/domain/blog_services_test.py
  core/domain/config_domain.py
  core/domain/fs_domain.py
  core/domain/role_services.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/templates/domain/blog-admin/blog-admin-backend-api.service.spec.ts
  core/templates/domain/blog-admin/blog-admin-backend-api.service.ts
  core/templates/services/angular-services.index.ts
  core/tests/test_utils.py
  feconf.py
  main.py
  scripts/backend_test_shards.json
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13114 Fix #13088: Add pre-push checks for MyPy
  .github/workflows/python_type_checks.yml
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  scripts/run_mypy_checks.py
  scripts/run_mypy_checks_test.py
Labels: PR: LGTM

#13135 Fix Part of #10474: Enables strict typescript checks for some files - (6)
  core/templates/domain/feedback_message/feedback-message-summary.model.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/domain/story_viewer/read-only-story-node.model.spec.ts
  core/templates/domain/user/user-profile.model.spec.ts
  core/templates/domain/user/user-profile.model.ts
  core/templates/domain/utilities/stopwatch.model.spec.ts
  core/templates/domain/utilities/stopwatch.model.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-mode.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-mode.service.ts
  core/templates/pages/exploration-player-page/services/fatigue-detection.service.ts
  core/templates/pages/story-editor-page/services/story-editor-navigation.service.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-navigation.service.ts
  core/templates/services/contextual/document-attribute-customization.service.spec.ts
  core/templates/services/contextual/meta-tag-customization.service.spec.ts
  core/templates/services/request-interceptor.service.spec.ts
  core/templates/services/request-interceptor.service.ts
  extensions/classifiers/python-program.tokenizer.spec.ts
  extensions/classifiers/python-program.tokenizer.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview-concept-card-modal.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13231 Fix part of #11475 Migrate wipeout oneoff to task service
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/controllers/profile_test.py
  core/controllers/tasks.py
  core/domain/taskqueue_services.py
  core/domain/wipeout_jobs_one_off.py
  core/domain/wipeout_jobs_one_off_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: Affects datastore layer, PR: LGTM

#13275 Migrate disallow-flags regex checks to Eslint
  .eslintrc
  core/templates/services/UpgradedServices.ts
  scripts/linters/custom_eslint_checks/rules/disallow-flags.js
  scripts/linters/custom_eslint_checks/rules/disallow-flags.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_eslint_any_type.ts
  scripts/linters/test_files/invalid_eslint_camelcase.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13252 Migrate throw-related regex checks to Eslint
  .eslintrc
  core/tests/protractor_utils/forms.js
  extensions/interactions/LogicProof/static/js/student.ts
  extensions/interactions/LogicProof/static/js/teacher.ts
  extensions/interactions/LogicProof/static/js/tools/teacher2.ts
  scripts/linters/custom_eslint_checks/rules/no-to-throw.js
  scripts/linters/custom_eslint_checks/rules/no-to-throw.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_throw.ts
  scripts/linters/test_files/invalid_throw_with_string.ts
  scripts/linters/test_files/invalid_toThrow.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13246 Fix part of #10474: Enables strict typescript checks for some files - (9)
  core/templates/domain/classroom/classroom-backend-api.service.spec.ts
  core/templates/domain/objects/ratio.model.spec.ts
  core/templates/domain/objects/ratio.model.ts
  core/templates/domain/story_viewer/story-playthrough.model.spec.ts
  core/templates/domain/story_viewer/story-playthrough.model.ts
  core/templates/domain/topic/creator-topic-summary.model.spec.ts
  core/templates/domain/topic/creator-topic-summary.model.ts
  core/templates/domain/topics_and_skills_dashboard/newly-created-topic.model.spec.ts
  core/templates/pages/admin-page/services/admin-data.service.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/assign-skill-to-topic-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/select-topics.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/select-topics.component.ts
  extensions/interactions/CodeRepl/directives/code-repl-rules.service.spec.ts
  extensions/interactions/FractionInput/directives/fraction-input-rules.service.spec.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-rules.service.spec.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-rules.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13204 Fix Part of #10474: Enables strict typescript checks for some files - (8)
  core/templates/domain/email-dashboard/email-dashboard-backend-api.service.spec.ts
  core/templates/domain/exploration/state-interaction-stats-backend-api.service.spec.ts
  core/templates/domain/exploration/visualization-info.model.spec.ts
  core/templates/domain/exploration/visualization-info.model.ts
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.spec.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-filter.model.spec.ts
  core/templates/filters/string-utility-filters/wrap-text-with-ellipsis.pipe.spec.ts
  core/templates/services/auth.service.spec.ts
  core/templates/services/auth.service.ts
  core/templates/services/state-top-answers-stats.service.spec.ts
  core/templates/services/stateful/focus-manager.service.ts
  extensions/interactions/GraphInput/directives/oppia-response-graph-input.component.ts
  extensions/interactions/GraphInput/directives/oppia-short-response-graph-input.component.ts
  extensions/objects/templates/music-phrase-editor.component.ts
  extensions/objects/templates/position-of-terms-editor.component.ts
  extensions/rich_text_components/Collapsible/directives/oppia-noninteractive-collapsible.component.ts
  extensions/rich_text_components/Tabs/directives/oppia-noninteractive-tabs.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13178 Fix part of #10474: Enables strict typescript checks for some files - (7)
  .github/CODEOWNERS
  core/templates/components/button-directives/exploration-embed-button-modal.component.spec.ts
  core/templates/components/button-directives/exploration-embed-button-modal.component.ts
  core/templates/components/button-directives/hint-and-solution-buttons.component.spec.ts
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-content.service.spec.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-content.service.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-toolbar/ck-editor-copy-toolbar.component.spec.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-toolbar/ck-editor-copy-toolbar.component.ts
  core/templates/components/common-layout-directives/common-elements/alert-message.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/alert-message.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/components/skill-mastery/skill-mastery.component.spec.ts
  core/templates/components/skill-mastery/skill-mastery.component.ts
  core/templates/domain/skill/ConceptCardObjectFactory.ts
  core/templates/domain/skill/ConceptCardObjectFactorySpec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/creator-dashboard-page/modal-templates/upload-activity-modal.component.spec.ts
  core/templates/pages/creator-dashboard-page/modal-templates/upload-activity-modal.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/auth.service.spec.ts
  core/templates/services/context.service.spec.ts
  core/templates/services/context.service.ts
  core/templates/services/rte-helper-modal.controller.spec.ts
  core/templates/services/validators.service.spec.ts
  core/templates/services/validators.service.ts
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  extensions/objects/templates/svg-filename-editor.component.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.component.ts
  scripts/check_frontend_test_coverage.py
  scripts/linters/general_purpose_linter.py
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13302 Migrate lint check to prohibit the use of inject call
  .eslintrc
  scripts/linters/custom_eslint_checks/rules/no-inject.js
  scripts/linters/custom_eslint_checks/rules/no-inject.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_inject.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13271 Fix part of #11475: Delete UserStatsAggregator job
  core/controllers/creator_dashboard.py
  core/controllers/creator_dashboard_test.py
  core/domain/event_services.py
  core/domain/exp_services.py
  core/domain/user_jobs_continuous.py
  core/domain/user_jobs_continuous_test.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/jobs.py
  core/jobs_registry.py
  core/jobs_test.py
  scripts/backend_test_shards.json
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: don't merge - STALE BUILD

#13291 Disallow $parent and $broadcast angularJs property
  .eslintrc
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.spec.ts
  scripts/linters/custom_eslint_checks/rules/disallow-angularjs-properties.js
  scripts/linters/custom_eslint_checks/rules/disallow-angularjs-properties.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_broadcast_use.ts
  scripts/linters/test_files/invalid_parent.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13296 Fix #13295 - warning text is within the box
  core/templates/pages/story-editor-page/story-editor-page.component.html
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#13301 Migrate lint check to disallow innerHTML property.
  .eslintrc
  scripts/linters/custom_eslint_checks/rules/no-inner-html.js
  scripts/linters/custom_eslint_checks/rules/no-inner-html.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_innerhtml.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13206 Added unit tests for admin roles tab
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.html
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.spec.ts
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#13309 Fix #13173: Modify translation submission validation to check for custom tags
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: for current release

#13174 Fix #13172: Controller to initialize android specific structures (Milestone 1.2)
  .github/CODEOWNERS
  core/controllers/android_e2e_config.py
  core/controllers/android_e2e_config_test.py
  core/platform/search/elastic_search_services.py
  main.py
  scripts/backend_test_shards.json
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13176 Unit test for exploration creation service
  core/templates/components/entity-creation-services/exploration-creation-backend-api.service.ts
  core/templates/components/entity-creation-services/exploration-creation.service.spec.ts
  core/templates/components/summary-tile/story-summary-tile.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13287 Unit test for questions-list.component.ts
  core/templates/components/question-directives/questions-list/questions-list.component.html
  core/templates/components/question-directives/questions-list/questions-list.component.spec.ts
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.ts
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13300 Milestone 1.5 : Adds blog admin page frontend.
  .github/CODEOWNERS
  core/controllers/base.py
  core/controllers/blog_admin.py
  core/controllers/blog_admin_test.py
  core/templates/domain/blog-admin/blog-admin-backend-api.service.ts
  core/templates/pages/blog-admin-page/blog-admin-page.component.html
  core/templates/pages/blog-admin-page/blog-admin-page.component.spec.ts
  core/templates/pages/blog-admin-page/blog-admin-page.component.ts
  core/templates/pages/blog-admin-page/blog-admin-page.import.ts
  core/templates/pages/blog-admin-page/blog-admin-page.mainpage.html
  core/templates/pages/blog-admin-page/blog-admin-page.module.ts
  core/templates/pages/blog-admin-page/navbar/blog-admin-navbar.component.html
  core/templates/pages/blog-admin-page/navbar/blog-admin-navbar.component.spec.ts
  core/templates/pages/blog-admin-page/navbar/blog-admin-navbar.component.ts
  core/templates/pages/blog-admin-page/services/blog-admin-data.service.spec.ts
  core/templates/pages/blog-admin-page/services/blog-admin-data.service.ts
  core/templates/services/angular-services.index.ts
  main.py
  webpack.common.config.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13313 Fix part of #11475: Delete all references to continuous jobs
  core/controllers/release_coordinator.py
  core/controllers/release_coordinator_test.py
  core/controllers/tasks.py
  core/domain/event_services.py
  core/domain/event_services_test.py
  core/domain/feedback_services_test.py
  core/domain/taskqueue_services.py
  core/domain/taskqueue_services_test.py
  core/jobs.py
  core/jobs_registry.py
  core/jobs_test.py
  core/storage/job/gae_models.py
  core/storage/job/gae_models_test.py
  core/templates/domain/admin/computation-data.model.spec.ts
  core/templates/domain/admin/computation-data.model.ts
  core/templates/pages/release-coordinator-page/jobs-tab/jobs-tab.component.html
  core/templates/pages/release-coordinator-page/jobs-tab/jobs-tab.component.spec.ts
  core/templates/pages/release-coordinator-page/jobs-tab/jobs-tab.component.ts
  core/templates/pages/release-coordinator-page/services/release-coordinator-backend-api.service.spec.ts
  core/templates/pages/release-coordinator-page/services/release-coordinator-backend-api.service.ts
  queue.yaml
  tsconfig-strict.json
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13219 Fix part of #9749: Migrate Preferences page
  core/templates/components/material.module.ts
  core/templates/domain/utilities/language-util.service.ts
  core/templates/pages/preferences-page/form-fields/preferred-language-selector.component.html
  core/templates/pages/preferences-page/form-fields/preferred-language-selector.component.spec.ts
  core/templates/pages/preferences-page/form-fields/preferred-language-selector.component.ts
  core/templates/pages/preferences-page/form-fields/preferred-languages.component.html
  core/templates/pages/preferences-page/form-fields/preferred-languages.component.spec.ts
  core/templates/pages/preferences-page/form-fields/preferred-languages.component.ts
  core/templates/pages/preferences-page/form-fields/subject-interests.component.html
  core/templates/pages/preferences-page/form-fields/subject-interests.component.spec.ts
  core/templates/pages/preferences-page/form-fields/subject-interests.component.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.html
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.spec.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.controller.spec.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.controller.ts
  core/templates/pages/preferences-page/preferences-page.component.html
  core/templates/pages/preferences-page/preferences-page.component.spec.ts
  core/templates/pages/preferences-page/preferences-page.component.ts
  core/templates/pages/preferences-page/preferences-page.mainpage.html
  core/templates/pages/preferences-page/preferences-page.module.ts
  core/templates/pages/profile-page/profile-page.module.ts
  core/templates/services/user-backend-api.service.spec.ts
  core/templates/services/user-backend-api.service.ts
  core/templates/services/user.service.ts
  core/tests/protractor_desktop/preferences.js
  core/tests/protractor_utils/PreferencesPage.js
  core/tests/protractor_utils/general.js
  package.json
  yarn.lock
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13225 Adds schema for handlers concept_card_viewer & contributor_dashboard modules
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/concept_card_viewer.py
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/payload_validator.py
  core/controllers/payload_validator_test.py
  core/tests/test_utils.py
  schema_utils.py
  schema_utils_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#13263 Fix Part of #10474: Cover some files with TS strict checks - 6
  core/templates/domain/platform_feature/feature-status-summary.model.ts
  core/templates/pages/exploration-editor-page/services/editor-first-time-events.service.spec.ts
  core/templates/pages/exploration-editor-page/services/editor-first-time-events.service.ts
  core/templates/pages/learner-dashboard-page/suggestion-modal/learner-dashboard-suggestion-modal.component.ts
  core/templates/pages/learner-dashboard-page/suggestion-modal/suggestion-modal-for-learner-dashboard.service.spec.ts
  core/templates/pages/learner-dashboard-page/suggestion-modal/suggestion-modal-for-learner-dashboard.service.ts
  core/templates/services/bottom-navbar-status.service.spec.ts
  core/templates/services/platform-feature.service.spec.ts
  core/templates/services/platform-feature.service.ts
  core/templates/services/schema-undefined-last-element.service.spec.ts
  core/templates/services/schema-undefined-last-element.service.ts
  extensions/interactions/CodeRepl/directives/oppia-short-response-code-repl.component.ts
  extensions/interactions/Continue/directives/oppia-response-continue.component.spec.ts
  extensions/interactions/Continue/directives/oppia-response-continue.component.ts
  extensions/interactions/Continue/directives/oppia-short-response-continue.component.spec.ts
  extensions/interactions/Continue/directives/oppia-short-response-continue.component.ts
  extensions/interactions/FractionInput/directives/oppia-short-response-fraction-input.component.spec.ts
  extensions/interactions/ImageClickInput/directives/oppia-response-image-click-input.component.ts
  extensions/interactions/InteractiveMap/directives/oppia-short-response-interactive-map.component.ts
  extensions/interactions/LogicProof/directives/oppia-short-response-logic-proof.component.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-short-response-multiple-choice-input.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13269 Fix #13239 and #13171: Adding type annotations to root files and fix constants errors with mypy
  .isort.cfg
  .pylintrc
  android_validation_constants_test.py
  appengine_config.py
  appengine_config_test.py
  constants.py
  constants_test.py
  core/controllers/payload_validator.py
  feconf.py
  main.py
  main_cron.py
  main_taskqueue.py
  mypy_requirements.txt
  requirements.in
  requirements.txt
  schema_utils.py
  schema_utils_test.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
  scripts/run_mypy_checks.py
  utils.py
  utils_test.py
Labels: PR: Affects datastore layer, PR: LGTM

#13303 Frontend Unit Tests(3): Cover multiple component files
  extensions/interactions/GraphInput/directives/oppia-interactive-graph-input.component.spec.ts
  extensions/interactions/GraphInput/directives/oppia-response-graph-input.component.spec.ts
  extensions/interactions/GraphInput/directives/oppia-short-response-graph-input.component.spec.ts
  extensions/interactions/ImageClickInput/directives/oppia-response-image-click-input.component.spec.ts
  extensions/interactions/ImageClickInput/directives/oppia-short-response-image-click-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-response-multiple-choice-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-short-response-multiple-choice-input.component.spec.ts
  extensions/objects/templates/logic-error-category-editor.component.spec.ts
  extensions/objects/templates/normalized-string-editor.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13335 Fixes Typescript issue in oppia-short-response-mulitple-choice-input.component and mypy issue in schema_utils.py
  extensions/interactions/MultipleChoiceInput/directives/oppia-response-multiple-choice-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-short-response-multiple-choice-input.component.spec.ts
  schema_utils.py
Labels: PR: require post-merge sync to HEAD

#13223 Adds schema for handlers admin, classifier, & classroom modules
  assets/constants.ts
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/classifier.py
  core/controllers/classroom.py
  core/controllers/payload_validator.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer

#13159 Fix #13157: Storing the thumbnail size (in bytes) for Story
  assets/constants.ts
  core/controllers/android_e2e_config.py
  core/controllers/editor.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_fetchers.py
  core/domain/story_jobs_one_off.py
  core/domain/story_jobs_one_off_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/jobs_registry.py
  core/storage/story/gae_models.py
  core/templates/app.constants.ts
  core/templates/pages/topic-editor-page/modal-templates/question-opportunities-select-skill-and-difficulty-modal.controller.ts
  core/templates/services/assets-backend-api.service.ts
  core/tests/test_utils.py
Labels: PR: Affects datastore layer

#13255 pixels are perfectly fine when we upload the picture
  core/templates/components/forms/custom-forms-directives/thumbnail-display.component.ts
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.component.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
Labels: PR: LGTM

#13278 Milestone1.4 :Adding Blog HomePage Controllers.
  .github/CODEOWNERS
  core/controllers/blog_homepage.py
  core/controllers/blog_homepage_test.py
  core/domain/blog_services.py
  core/domain/blog_services_test.py
  core/storage/blog/gae_models.py
  core/storage/blog/gae_models_test.py
  feconf.py
  main.py
  scripts/backend_test_shards.json
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13224 Adds schema for handlers in moderator, collection_viewer & cron modules
  core/controllers/collection_editor_test.py
  core/controllers/collection_viewer.py
  core/controllers/cron.py
  core/controllers/moderator.py
  core/controllers/payload_validator.py
  core/domain/activity_domain.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#13132 Added unit tests for stats reporting service
  core/templates/pages/exploration-player-page/services/stats-reporting.service.spec.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13304 Fix Part of #10474: Cover some files with TS strict checks - 9
  core/templates/components/ratings/rating-computation/rating-computation.service.ts
  core/templates/domain/exploration/WrittenTranslationObjectFactory.ts
  core/templates/domain/exploration/WrittenTranslationsObjectFactory.ts
  core/templates/domain/exploration/WrittenTranslationsObjectFactorySpec.ts
  core/templates/expressions/expression-evaluator.service.ts
  core/templates/expressions/expression-syntax-tree.service.spec.ts
  core/templates/expressions/expression-syntax-tree.service.ts
  core/templates/filters/string-utility-filters/capitalize.pipe.spec.ts
  core/templates/filters/string-utility-filters/sort-by.pipe.spec.ts
  core/templates/filters/string-utility-filters/sort-by.pipe.ts
  extensions/objects/templates/drag-and-drop-positive-int-editor.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13233 Multiple users can make the changes to the exploration simultaneously when their changes are not conflicting. Milestone1.2
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/voice_artist_test.py
  core/domain/email_manager.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/templates/domain/exploration/LostChangeObjectFactory.ts
  core/templates/domain/exploration/LostChangeObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/changes-in-human-readable-form/changes-in-human-readable-form.component.html
  core/templates/pages/exploration-editor-page/changes-in-human-readable-form/changes-in-human-readable-form.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/modal-templates/lost-changes-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/lost-changes-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/lost-changes-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13283 Fix #12736: Restore codeowners
  .github/CODEOWNERS
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: LGTM

#13293 Fix Part of #10474: Cover some files with TS strict checks - 8
  core/templates/domain/objects/NumberWithUnitsObjectFactory.ts
  core/templates/domain/objects/NumberWithUnitsObjectFactorySpec.ts
  core/templates/domain/objects/fraction.model.ts
  core/templates/services/interaction-specs.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-validation.service.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-validation.service.ts
  extensions/interactions/CodeRepl/directives/code-repl-validation.service.spec.ts
  extensions/interactions/CodeRepl/directives/code-repl-validation.service.ts
  extensions/interactions/Continue/directives/continue-validation.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.ts
  extensions/interactions/EndExploration/directives/end-exploration-validation.service.spec.ts
  extensions/interactions/EndExploration/directives/end-exploration-validation.service.ts
  extensions/interactions/FractionInput/directives/fraction-input-validation.service.spec.ts
  extensions/interactions/FractionInput/directives/fraction-input-validation.service.ts
  extensions/interactions/GraphInput/directives/graph-input-validation.service.spec.ts
  extensions/interactions/GraphInput/directives/graph-input-validation.service.ts
  extensions/interactions/ImageClickInput/directives/image-click-input-validation.service.spec.ts
  extensions/interactions/ImageClickInput/directives/image-click-input-validation.service.ts
  extensions/interactions/InteractiveMap/directives/interactive-map-validation.service.spec.ts
  extensions/interactions/InteractiveMap/directives/interactive-map-validation.service.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-validation.service.spec.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-validation.service.ts
  extensions/interactions/LogicProof/directives/logic-proof-validation.service.spec.ts
  extensions/interactions/MathEquationInput/directives/math-equation-input-validation.service.spec.ts
  extensions/interactions/MathEquationInput/directives/math-equation-input-validation.service.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-validation.service.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-validation.service.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-rules.service.spec.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-rules.service.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-rules.service.spec.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.spec.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-rules.service.spec.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-validation.service.spec.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-validation.service.ts
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.spec.ts
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.ts
  extensions/interactions/SetInput/directives/set-input-validation.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-rules.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-rules.service.ts
  extensions/interactions/base-interaction-validation.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13345 Fix Firebase auth
  core/templates/services/auth.service.ts
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#13316 Fix language selection dropdown change detection issue
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: LGTM

#13339 Fix #12718: Use init-hook to fix command line calls to pylint
  .pylintrc
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13270 Fix Part of #10474: Cover some files with TS strict checks - 7
  core/templates/components/common-layout-directives/common-elements/promo-bar.component.ts
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.ts
  core/templates/domain/admin/job.model.spec.ts
  core/templates/domain/admin/job.model.ts
  core/templates/domain/exploration/exploration-metadata.model.spec.ts
  core/templates/domain/feedback_message/feedback-message-summary.model.ts
  core/templates/filters/string-utility-filters/truncate-at-first-line.pipe.spec.ts
  extensions/classifiers/text-input.tokenizer.spec.ts
  extensions/classifiers/text-input.tokenizer.ts
  extensions/interactions/LogicProof/directives/oppia-response-logic-proof.component.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-response-multiple-choice-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-response-multiple-choice-input.component.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-short-response-multiple-choice-input.component.spec.ts
  extensions/interactions/SetInput/directives/oppia-response-set-input.component.ts
  extensions/interactions/SetInput/directives/oppia-short-response-set-input.component.ts
  extensions/interactions/TextInput/directives/oppia-response-text-input.component.ts
  extensions/interactions/TextInput/directives/oppia-short-response-text-input.component.ts
  extensions/objects/templates/real-editor.component.ts
  extensions/objects/templates/set-of-translatable-html-content-ids-editor.component.ts
  extensions/objects/templates/subtitled-html-editor.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13120 Partnerships page
  .github/CODEOWNERS
  app_dev.yaml
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/images/general/partnerships_hero_image.png
  assets/images/icons/icon_call.png
  assets/images/icons/icon_change.png
  assets/images/icons/icon_form.png
  assets/sitemap.xml
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/material.module.ts
  core/templates/pages/partnerships-page/partnerships-page-root.component.html
  core/templates/pages/partnerships-page/partnerships-page-root.component.ts
  core/templates/pages/partnerships-page/partnerships-page.component.html
  core/templates/pages/partnerships-page/partnerships-page.component.spec.ts
  core/templates/pages/partnerships-page/partnerships-page.component.ts
  core/templates/pages/partnerships-page/partnerships-page.import.ts
  core/templates/pages/partnerships-page/partnerships-page.mainpage.html
  core/templates/pages/partnerships-page/partnerships-page.module.ts
  core/tests/protractor_desktop/navigation.js
  scripts/build.py
  webpack.common.config.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13192 Added unit tests for the following files.
  core/templates/domain/collection/collection-update.service.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-data.service.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/services/compare-versions.service.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/services/version-tree.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-diff.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-diff.service.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#13280 Resolving one of the Lighthouse Flakes
  core/tests/puppeteer/lighthouse_setup.js
Labels: PR: don't merge - STALE BUILD

#13284 Added unit tests for the following files
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.spec.ts
  core/templates/pages/collection-player-page/collection-player-page.directive.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13322 Add unit tests for question-player component
  core/templates/components/question-directives/question-player/question-player.component.html
  core/templates/components/question-directives/question-player/question-player.component.spec.ts
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/components/question-directives/question-player/question-player.directive.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/pages/practice-session-page/practice-session-page.component.ts
  core/templates/pages/review-test-page/review-test-page.component.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13323 Fix frontend coverage flake introduced in #13127
  core/templates/pages/library-page/search-bar/search-bar.component.spec.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: don't merge - STALE BUILD

#13175 Fix #13049: Introduce new attribute thumbnail_size_in_bytes for Topic models
  core/controllers/android_e2e_config.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_fetchers.py
  core/domain/topic_jobs_one_off.py
  core/domain/topic_jobs_one_off_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/jobs_registry.py
  core/storage/topic/gae_models.py
  core/tests/test_utils.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Affects datastore layer

#13319 Frontend Unit Tests(4): Cover multiple component files
  extensions/interactions/TextInput/directives/oppia-interactive-text-input.component.spec.ts
  extensions/interactions/TextInput/directives/oppia-response-text-input.component.spec.ts
  extensions/interactions/TextInput/directives/oppia-short-response-text-input.component.spec.ts
  extensions/objects/templates/boolean-editor.component.spec.ts
  extensions/objects/templates/drag-and-drop-positive-int-editor.component.spec.ts
  extensions/objects/templates/fraction-editor.component.spec.ts
  extensions/objects/templates/fraction-editor.component.ts
  extensions/objects/templates/graph-editor.component.spec.ts
  extensions/objects/templates/html-editor.component.spec.ts
  extensions/objects/templates/int-editor.component.spec.ts
  extensions/objects/templates/list-of-tabs-editor.component.spec.ts
  extensions/objects/templates/list-of-unicode-string-editor.component.spec.ts
  extensions/objects/templates/math-expression-content-editor.component.spec.ts
  extensions/objects/templates/nonnegative-int-editor.component.spec.ts
  extensions/objects/templates/number-with-units-editor.component.spec.ts
  extensions/objects/templates/sanitized-url-editor.component.spec.ts
  extensions/objects/templates/subtitled-html-editor.component.spec.ts
  extensions/rich_text_components/Collapsible/directives/oppia-noninteractive-collapsible.component.spec.ts
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.component.spec.ts
  extensions/rich_text_components/Link/directives/oppia-noninteractive-link.component.spec.ts
  extensions/rich_text_components/Link/directives/oppia-noninteractive-link.component.ts
  extensions/rich_text_components/Tabs/directives/oppia-noninteractive-tabs.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13242 Fix #13156: Introduce new attribute thumbnail_size_in_bytes for Subtopics
  core/controllers/admin_test.py
  core/controllers/classroom_test.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/learner_dashboard_test.py
  core/controllers/learner_goals_test.py
  core/controllers/practice_sessions_test.py
  core/controllers/reader_test.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/suggestion_test.py
  core/controllers/topic_viewer_test.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/learner_goals_services_test.py
  core/domain/learner_progress_services_test.py
  core/domain/opportunity_services_test.py
  core/domain/skill_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_fetchers.py
  core/domain/topic_jobs_one_off.py
  core/domain/topic_jobs_one_off_test.py
  core/domain/topic_services_test.py
  core/domain/voiceover_services_test.py
  core/jobs_registry.py
  feconf.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Affects datastore layer

#13332 Added prompt for mailchimp api key in the release process
  core/tests/release_sources/feconf.txt
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
Labels: PR CHANGELOG: Release team -- @nithusha21

#13317 Migrate "only allow imports relevant part of lodash" regex check to eslint
  .eslintrc
  scripts/linters/custom_eslint_checks/rules/import-lodash.js
  scripts/linters/custom_eslint_checks/rules/import-lodash.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_lodash_general_import.ts
  scripts/linters/test_files/invalid_lodash_specific_import.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13312 Fix #13158: Storing the thumbnail size (in bytes) for StoryNode
  core/controllers/android_e2e_config.py
  core/controllers/review_tests_test.py
  core/controllers/story_viewer_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_fetchers.py
  core/domain/story_jobs_one_off.py
  core/domain/story_jobs_one_off_test.py
  core/domain/story_services_test.py
  core/jobs_registry.py
  core/tests/release_sources/feconf.txt
  core/tests/test_utils.py
  feconf.py
  mypy_requirements.txt
Labels: PR: Affects datastore layer, PR: LGTM

#13318 Changing E2E Rerun Policies
  scripts/run_e2e_tests.py
Labels: PR: LGTM

#13343 Adds schema for collection_editor
  core/controllers/collection_editor.py
  core/controllers/collection_editor_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/payload_validator.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#13285 Fix #12184: Add domain layer and frontend changes for surfacing translation contribution stats
  core/controllers/contributor_dashboard_admin.py
  core/controllers/contributor_dashboard_admin_test.py
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_services.py
  core/storage/suggestion/gae_models.py
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.constants.ajs.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.constants.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-backend-api.service.ts
  cron.yaml
  main.py
  main_cron.py
  mypy_requirements.txt
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: Affects datastore layer

#13333 Fix #13119: Add Vojta back as a codeowner
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13340 Added unit tests for the following files
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.directive.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.spec.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13375 Migrate "disallow relative import in require" regex check to eslint
  .eslintrc
  scripts/linters/custom_eslint_checks/rules/no-relative-import.js
  scripts/linters/custom_eslint_checks/rules/no-relative-import.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_relative_import.js
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13342 Changes in the functions added in #13116
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13247 fixes part of #12792 implement the _get_change_domain_class for collection validation
  jobs/transforms/collection_validation.py
  jobs/transforms/collection_validation_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#13366 Added unit-tests and strict type checking for state-property.service
  core/templates/components/state-editor/state-editor-properties-services/state-property.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-property.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.ts
  scripts/check_frontend_test_coverage.py
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13353 Fix #13251: Temporarily remove StateTopAnswersStatsService initialization and registering of relevant callbacks
  assets/i18n/qqq.json
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/tests/protractor_desktop/explorationImprovementsTab.js
Labels: PR: LGTM

#13382 Improving e2e workflow files for release and translatewiki branches to function properly
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13273 fixes part of #12792 implement the _get_change_domain_class for config, question validation
  jobs/transforms/config_validation.py
  jobs/transforms/config_validation_test.py
  jobs/transforms/question_validation.py
  jobs/transforms/question_validation_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#13232 Adding Blog Models Validations: Part of Milestone 1.2
  jobs/blog_validation_errors.py
  jobs/blog_validation_errors_test.py
  jobs/blog_validation_jobs.py
  jobs/blog_validation_jobs_test.py
  jobs/registry.py
  jobs/transforms/base_validation_registry.py
  jobs/transforms/blog_validation.py
  jobs/transforms/blog_validation_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Affects datastore layer, PR: LGTM

#12975 Fix #12960: Add Spanish and Portuguese translation tips to contributor dashboard
  assets/constants.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#13396 Remove strict image filepath validation in the translation flow; minor bug fixes;
  core/templates/css/oppia.css
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
Labels: PR: LGTM

#13371 Refractors UrlInterpolationService to not return null at interpolateUrl
  core/templates/domain/utilities/url-interpolation.service.ts
  core/templates/services/assets-backend-api.service.spec.ts
  core/templates/services/assets-backend-api.service.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM

#13226 Fix part of #12688 add id relationshipsof for models: collection, exploration, feedback, question, topic
  jobs/transforms/collection_validation.py
  jobs/transforms/collection_validation_test.py
  jobs/transforms/exp_validation.py
  jobs/transforms/exp_validation_test.py
  jobs/transforms/feedback_validation.py
  jobs/transforms/feedback_validation_test.py
  jobs/transforms/question_validation.py
  jobs/transforms/question_validation_test.py
  jobs/transforms/topic_validation.py
  jobs/transforms/topic_validation_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13279 Fix #11881: Consolidate add/remove contribution rights controller handlers
  core/controllers/contributor_dashboard_admin.py
  core/controllers/contributor_dashboard_admin_test.py
  core/controllers/payload_validator.py
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.constants.ajs.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.constants.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-backend-api.service.ts
  main.py
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#13383 Fix wipeout on test and backup server
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#13400 Milestone 2.1 : Adding format heading drop-down to RTE.
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/components/forms/schema-based-editors/schema-based-html-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-html-editor.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13381 Fixing a flake in learnerDashboard.js
  core/templates/components/summary-tile/exploration-summary-tile.component.html
  core/tests/protractor_utils/LibraryPage.js
Labels: PR: don't merge - STALE BUILD

#13392 Fixed errors in goals tab
  core/templates/components/summary-tile/learner-story-summary-tile.component.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13405 Migrate "disallow HttpClient" regex check to eslint
  .eslintrc
  core/templates/components/shared-component.module.ts
  core/templates/pages/translate-loader.factory.spec.ts
  core/templates/pages/translate-loader.factory.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/request-interceptor.service.spec.ts
  scripts/linters/custom_eslint_checks/rules/disallow-httpclient.js
  scripts/linters/custom_eslint_checks/rules/disallow-httpclient.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_http_client_used.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13404 Remove unused templateUrl lint check
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_templateurl.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13372 hide logic Proof in front end
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
  core/tests/protractor_desktop/additionalPlayerFeatures.js
  extensions/interactions/CodeRepl/protractor.js
  extensions/interactions/protractor.js
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#13387 Fix #13148: Handle unicode translation suggestions correctly
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/question_domain.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/jobs_registry.py
  core/templates/domain/opportunity/translatable-content.model.ts
  core/templates/domain/opportunity/translatable-texts.model.spec.ts
  core/templates/domain/opportunity/translatable-texts.model.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
  core/templates/services/schema-default-value.service.ts
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  feconf.py
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: Affects datastore layer, PR: LGTM, PR: for current release

#13386 Fix part of #9749: Migrates Subtopic Summary Tile to Angular
  core/templates/components/shared-component.module.ts
  core/templates/components/summary-tile/subtopic-summary-tile.component.html
  core/templates/components/summary-tile/subtopic-summary-tile.component.ts
  core/templates/components/summary-tile/subtopic-summary-tile.directive.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.ts
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.component.html
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM, PR: don't merge - STALE BUILD

#13377 Adding message when skill is deleted in skill Review RTE
  core/templates/components/concept-card/concept-card.directive.ts
  core/templates/components/concept-card/concept-card.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13259 Fixing a flake in contributorDashboard.js
  core/tests/protractor_utils/ContributorDashboardTranslateTextTab.js
Labels: PR: LGTM

#13424 Migrate "disallow bypassSecurity" regex check to eslint
  .eslintrc
  core/templates/services/svg-sanitizer.service.spec.ts
  core/templates/services/svg-sanitizer.service.ts
  scripts/linters/custom_eslint_checks/rules/no-bypass-security-phrase.js
  scripts/linters/custom_eslint_checks/rules/no-bypass-security-phrase.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_bypass_flag.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13415 Fix part of #9749: Migrate Stewards landing page
  core/controllers/custom_landing_pages_test.py
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page-root.component.html
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page-root.component.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.component.html
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.component.spec.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.component.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.import.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.mainpage.html
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.module.ts
  webpack.common.config.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13428 Fix #12993: Restore @U8NWXD as codeowner
  .github/CODEOWNERS
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13430 Fix #13406: Clear currently played audio track when the card changes
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.ts
Labels: PR: for current release

#13367 Remove angularjs from 9 more pages
  core/controllers/base_test.py
  core/controllers/classroom_test.py
  core/controllers/profile_test.py
  core/controllers/release_coordinator_test.py
  core/templates/base-components/base-content.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/classroom-page/classroom-page-root.component.html
  core/templates/pages/classroom-page/classroom-page-root.component.ts
  core/templates/pages/classroom-page/classroom-page.import.ts
  core/templates/pages/classroom-page/classroom-page.mainpage.html
  core/templates/pages/classroom-page/classroom-page.module.ts
  core/templates/pages/license-page/license-page-root.component.html
  core/templates/pages/license-page/license-page-root.component.ts
  core/templates/pages/license-page/license.import.ts
  core/templates/pages/license-page/license.mainpage.html
  core/templates/pages/license-page/license.module.ts
  core/templates/pages/logout-page/logout-page-root.component.html
  core/templates/pages/logout-page/logout-page-root.component.ts
  core/templates/pages/logout-page/logout-page.import.ts
  core/templates/pages/logout-page/logout-page.mainpage.html
  core/templates/pages/logout-page/logout-page.module.ts
  core/templates/pages/maintenance-page/maintenance-page.component.ts
  core/templates/pages/maintenance-page/maintenance-page.import.ts
  core/templates/pages/maintenance-page/maintenance-page.mainpage.html
  core/templates/pages/maintenance-page/maintenance-page.module.ts
  core/templates/pages/participation-playbook/playbook-page-root.component.html
  core/templates/pages/participation-playbook/playbook-page-root.component.ts
  core/templates/pages/participation-playbook/playbook.import.ts
  core/templates/pages/participation-playbook/playbook.mainpage.html
  core/templates/pages/participation-playbook/playbook.module.ts
  core/templates/pages/preferences-page/preferences-page-root.component.html
  core/templates/pages/preferences-page/preferences-page-root.component.ts
  core/templates/pages/preferences-page/preferences-page.component.ts
  core/templates/pages/preferences-page/preferences-page.import.ts
  core/templates/pages/preferences-page/preferences-page.mainpage.html
  core/templates/pages/preferences-page/preferences-page.module.ts
  core/templates/pages/profile-page/profile-page-root.component.html
  core/templates/pages/profile-page/profile-page-root.component.ts
  core/templates/pages/profile-page/profile-page.import.ts
  core/templates/pages/profile-page/profile-page.mainpage.html
  core/templates/pages/profile-page/profile-page.module.ts
  core/templates/pages/release-coordinator-page/release-coordinator-page-root.component.html
  core/templates/pages/release-coordinator-page/release-coordinator-page-root.component.ts
  core/templates/pages/release-coordinator-page/release-coordinator-page.import.ts
  core/templates/pages/release-coordinator-page/release-coordinator-page.mainpage.html
  core/templates/pages/release-coordinator-page/release-coordinator-page.module.ts
  core/templates/pages/story-viewer-page/story-viewer-page-root.component.html
  core/templates/pages/story-viewer-page/story-viewer-page-root.component.ts
  core/templates/pages/story-viewer-page/story-viewer-page.import.ts
  core/templates/pages/story-viewer-page/story-viewer-page.mainpage.html
  core/templates/pages/story-viewer-page/story-viewer-page.module.ts
  webpack.common.config.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#13433 Fix interpolation of html tags on get started page.
  core/templates/pages/get-started-page/get-started-page-root.component.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#13445 Fixed the E2E flake introduced in #13325
  core/tests/protractor_desktop/additionalEditorFeatures.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13423 Frontend Unit Tests(5): Cover multiple component files
  core/templates/domain/skill/ConceptCardObjectFactorySpec.ts
  core/templates/domain/story/StoryContentsObjectFactorySpec.ts
  core/templates/domain/topic/TopicObjectFactorySpec.ts
  core/templates/services/messenger.service.spec.ts
  core/templates/services/promo-bar-backend-api.service.spec.ts
  core/templates/services/request-interceptor.service.spec.ts
  core/templates/services/state-top-answers-stats.service.spec.ts
  core/templates/services/utils.service.spec.ts
  core/templates/services/utils.service.ts
  extensions/classifiers/svm-prediction.service.spec.ts
  extensions/classifiers/svm-prediction.service.ts
  extensions/interactions/CodeRepl/directives/code-repl-interaction.component.html
  extensions/interactions/CodeRepl/directives/oppia-interactive-code-repl.component.spec.ts
  extensions/interactions/CodeRepl/directives/oppia-response-code-repl.component.spec.ts
  extensions/interactions/CodeRepl/directives/oppia-short-response-code-repl.component.spec.ts
  extensions/interactions/FractionInput/directives/fraction-input-validation.service.spec.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-validation.service.spec.ts
  extensions/interactions/LogicProof/directives/logic-proof-interaction.component.html
  extensions/interactions/LogicProof/directives/oppia-interactive-logic-proof.component.spec.ts
  extensions/interactions/LogicProof/directives/oppia-response-logic-proof.component.spec.ts
  extensions/interactions/LogicProof/directives/oppia-short-response-logic-proof.component.spec.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-rules.service.spec.ts
  extensions/interactions/MusicNotesInput/directives/music-phrase-player.service.spec.ts
  extensions/interactions/base-validator.spec.ts
  extensions/objects/templates/code-string-editor.component.spec.ts
  extensions/objects/templates/coord-two-dim-editor.component.spec.ts
  extensions/objects/templates/translatable-html-content-id.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13458 Add frontend-test-reviewers team to codeowners file
  .github/CODEOWNERS
Labels: PR: LGTM

#13457 Fix part of #10474: Cover ExplorationImprovementsModel with strict TypeScript checks
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13384 fixes part of #12792 implement the _get_change_domain_class for topic, subtopic validation
  jobs/transforms/subtopic_validation.py
  jobs/transforms/subtopic_validation_test.py
  jobs/transforms/topic_validation.py
  jobs/transforms/topic_validation_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#13414 Fix part of #9749: Migrate Signup page
  assets/i18n/ar.json
  assets/i18n/ast.json
  assets/i18n/bn.json
  assets/i18n/de.json
  assets/i18n/en.json
  assets/i18n/es.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/hu.json
  assets/i18n/id.json
  assets/i18n/ja.json
  assets/i18n/kab.json
  assets/i18n/mk.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/sk.json
  assets/i18n/tr.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  core/templates/css/oppia.css
  core/templates/pages/signup-page/modal-templates/license-explanation-modal.controller.spec.ts
  core/templates/pages/signup-page/modal-templates/license-explanation-modal.controller.ts
  core/templates/pages/signup-page/modal-templates/license-explanation-modal.template.directive.html
  core/templates/pages/signup-page/modal-templates/registration-session-expired-modal.controller.spec.ts
  core/templates/pages/signup-page/modal-templates/registration-session-expired-modal.controller.ts
  core/templates/pages/signup-page/modals/license-explanation-modal.component.html
  core/templates/pages/signup-page/modals/license-explanation-modal.component.spec.ts
  core/templates/pages/signup-page/modals/license-explanation-modal.component.ts
  core/templates/pages/signup-page/modals/registration-session-expired-modal.component.html
  core/templates/pages/signup-page/modals/registration-session-expired-modal.component.spec.ts
  core/templates/pages/signup-page/modals/registration-session-expired-modal.component.ts
  core/templates/pages/signup-page/services/signup-page-backend-api.service.spec.ts
  core/templates/pages/signup-page/services/signup-page-backend-api.service.ts
  core/templates/pages/signup-page/signup-page-root.component.html
  core/templates/pages/signup-page/signup-page-root.component.ts
  core/templates/pages/signup-page/signup-page.component.html
  core/templates/pages/signup-page/signup-page.component.spec.ts
  core/templates/pages/signup-page/signup-page.component.ts
  core/templates/pages/signup-page/signup-page.import.ts
  core/templates/pages/signup-page/signup-page.mainpage.html
  core/templates/pages/signup-page/signup-page.module.ts
  core/templates/services/angular-services.index.ts
  core/templates/tests/unit-test-utils.ts
  webpack.common.config.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13407 Components and modals on the exploration editor page will be preloaded. [Milestone2.1]
  .lighthouserc.js
  core/templates/components/forms/custom-forms-directives/html-select.directive.ts
  core/templates/components/forms/custom-forms-directives/select2-dropdown.directive.ts
  core/templates/components/forms/schema-viewers/schema-based-custom-viewer.directive.ts
  core/templates/components/forms/schema-viewers/schema-based-dict-viewer.directive.ts
  core/templates/components/forms/schema-viewers/schema-based-html-viewer.directive.ts
  core/templates/components/forms/schema-viewers/schema-based-list-viewer.directive.ts
  core/templates/components/forms/schema-viewers/schema-based-primitive-viewer.directive.ts
  core/templates/components/forms/schema-viewers/schema-based-unicode-viewer.directive.ts
  core/templates/components/forms/schema-viewers/schema-based-viewer.directive.ts
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.ts
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/components/ratings/rating-display/rating-display.directive.ts
  core/templates/components/review-material-editor/review-material-editor.directive.ts
  core/templates/components/skills-mastery-list/skills-mastery-list.directive.ts
  core/templates/components/state-directives/hint-editor/hint-editor.directive.ts
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.directive.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.directive.ts
  core/templates/components/state-directives/response-header/response-header.directive.ts
  core/templates/components/state-directives/rule-editor/rule-editor.directive.ts
  core/templates/components/state-directives/solution-editor/solution-editor.directive.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.directive.ts
  core/templates/components/state-editor/state-content-editor/state-content-editor.directive.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.directive.ts
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.directive.ts
  core/templates/pages/exploration-editor-page/ckeditor_dependency.html
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/exploration-graph.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/unresolved-answers-overview/unresolved-answers-overview.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/pages/exploration-editor-page/improvements-tab/services/improvement-modal.service.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-states.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
  core/templates/pages/exploration-editor-page/suggestion-modal-for-editor-view/suggestion-modal-for-exploration-editor.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.ts
  core/templates/services/rte-helper.service.ts
  extensions/interactions/dependency_html.html
  extensions/interactions/thumbnails.html
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13455 Resolving "https://pencilcode.net/lib/pencilcodeembed.js - Failed to load resource: net::ERR_CERT_DATE_INVALID" error
  core/tests/protractor_utils/general.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13286 Add unit test for top-navigation-bar and fix flake
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13354 Fix part of #10474: Enables strict typescript checks for some files - (2.1)
  assets/constants.ts
  core/domain/html_validation_service.py
  core/templates/components/state-directives/outcome-editor/outcome-feedback-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-feedback-editor.component.ts
  core/templates/domain/skill/skill-rights-backend-api.service.spec.ts
  core/templates/domain/skill/skill-rights.model.ts
  core/templates/domain/suggestion/SuggestionThreadObjectFactory.ts
  core/templates/domain/suggestion/SuggestionThreadObjectFactorySpec.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.spec.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/pages/exploration-player-page/services/prediction-algorithm-registry.service.spec.ts
  core/templates/pages/exploration-player-page/services/prediction-algorithm-registry.service.ts
  core/templates/pages/learner-dashboard-page/modal-templates/learner-playlist-modal.component.ts
  core/templates/pages/learner-dashboard-page/modal-templates/remove-activity-modal.component.ts
  core/templates/services/svg-sanitizer.service.spec.ts
  core/templates/services/svg-sanitizer.service.ts
  core/templates/services/utils.service.spec.ts
  core/templates/services/utils.service.ts
  extensions/objects/templates/coord-two-dim-editor.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13464 Updating codeowner
  .github/CODEOWNERS
Labels: PR: LGTM

#13482 Updates codeowners for jobs/transforms and jobs/types folder
  .github/CODEOWNERS
Labels: PR: LGTM

#13439 Milestone 2.2: Adds Backend Api services for blog dashboard.
  .github/CODEOWNERS
  core/controllers/blog_admin.py
  core/controllers/blog_admin_test.py
  core/controllers/blog_dashboard.py
  core/controllers/blog_dashboard_test.py
  core/domain/config_domain.py
  core/templates/domain/blog/blog-dashboard-backend-api.service.spec.ts
  core/templates/domain/blog/blog-dashboard-backend-api.service.ts
  core/templates/domain/blog/blog-post-editor-backend-api.service.spec.ts
  core/templates/domain/blog/blog-post-editor-backend-api.service.ts
  core/templates/domain/blog/blog-post-summary.model.spec.ts
  core/templates/domain/blog/blog-post-summary.model.ts
  core/templates/domain/blog/blog-post-update.service.spec.ts
  core/templates/domain/blog/blog-post-update.service.ts
  core/templates/domain/blog/blog-post.model.spec.ts
  core/templates/domain/blog/blog-post.model.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.constants.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.import.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.mainpage.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.module.ts
  core/templates/pages/blog-dashboard-page/navbar/blog-dashboard-navbar-breadcrumb.component.html
  core/templates/pages/blog-dashboard-page/navbar/blog-dashboard-navbar-breadcrumb.component.ts
  core/templates/services/angular-services.index.ts
  main.py
  schema_utils_test.py
  webpack.common.config.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13355 Adds schema for handler classes creator_dashboard, learner_dashboard, learner_playlist modules
  core/controllers/creator_dashboard.py
  core/controllers/learner_dashboard.py
  core/controllers/learner_playlist.py
  core/controllers/payload_validator.py
  schema_utils.py
  schema_utils_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#13394 Fix part of #10474: Enables strict typescript checks for some files - (2.2)
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/components/state-editor/state-editor-properties-services/state-hints.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-hints.service.ts
  core/templates/components/state-editor/state-editor-properties-services/state-interaction-id.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-param-changes.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/classroom/classroom-backend-api.service.spec.ts
  core/templates/domain/classroom/classroom-backend-api.service.ts
  core/templates/domain/classroom/classroom-data.model.spec.ts
  core/templates/domain/collection/collection-rights-backend-api.service.spec.ts
  core/templates/domain/collection/collection-rights-backend-api.service.ts
  core/templates/domain/collection/search-explorations-backend-api.service.spec.ts
  core/templates/domain/story/StoryContentsObjectFactory.ts
  core/templates/domain/story/story-validation.service.spec.ts
  core/templates/domain/story/story-validation.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/solution-validity.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/solution-validity.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-language.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-language.service.ts
  extensions/rich_text_components/Link/directives/oppia-noninteractive-link.component.spec.ts
  extensions/rich_text_components/Link/directives/oppia-noninteractive-link.component.ts
  extensions/rich_text_components/Video/directives/oppia-noninteractive-video.component.spec.ts
  extensions/rich_text_components/Video/directives/oppia-noninteractive-video.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13402 Redesigning and Updating the Learner Dashboard Page Milestone-2.2
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/learner_dashboard.py
  core/controllers/learner_dashboard_test.py
  core/domain/learner_progress_services.py
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
  core/templates/components/summary-tile/learner-story-summary-tile.component.spec.ts
  core/templates/components/summary-tile/learner-story-summary-tile.component.ts
  core/templates/components/summary-tile/learner-topic-summary-tile.component.html
  core/templates/components/summary-tile/learner-topic-summary-tile.component.spec.ts
  core/templates/components/summary-tile/learner-topic-summary-tile.component.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/domain/topic/learner-topic-summary.model.spec.ts
  core/templates/domain/topic/learner-topic-summary.model.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.constants.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/home-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/home-tab.component.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/community-lessons-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/progress-tab.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13412 Fix part of #9749: Migrate library page.
  core/controllers/base_test.py
  core/controllers/library_test.py
  core/templates/base-components/base-content.component.ts
  core/templates/domain/summary/exploration-summary-backend-api.service.ts
  core/templates/pages/library-page/library-footer/library-footer.component.html
  core/templates/pages/library-page/library-footer/library-footer.component.spec.ts
  core/templates/pages/library-page/library-footer/library-footer.component.ts
  core/templates/pages/library-page/library-page-root.component.html
  core/templates/pages/library-page/library-page-root.component.ts
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/library-page.component.ts
  core/templates/pages/library-page/library-page.constants.ajs.ts
  core/templates/pages/library-page/library-page.import.ts
  core/templates/pages/library-page/library-page.mainpage.html
  core/templates/pages/library-page/library-page.module.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.html
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.spec.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.ts
  core/templates/pages/library-page/search-results/search-results.component.html
  core/templates/pages/library-page/search-results/search-results.component.spec.ts
  core/templates/pages/library-page/search-results/search-results.component.ts
  core/templates/pages/library-page/services/library-page-backend-api.service.spec.ts
  core/templates/pages/library-page/services/library-page-backend-api.service.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/search-backend-api.service.ts
  core/templates/services/search.service.ts
  core/templates/tests/unit-test-utils.ts
  package.json
  webpack.common.config.ts
  yarn.lock
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13497 Revert "Fix part of #9749: Migrate library page."
  core/controllers/base_test.py
  core/controllers/library_test.py
  core/templates/base-components/base-content.component.ts
  core/templates/domain/summary/exploration-summary-backend-api.service.ts
  core/templates/pages/library-page/library-footer/library-footer.component.html
  core/templates/pages/library-page/library-footer/library-footer.component.spec.ts
  core/templates/pages/library-page/library-footer/library-footer.component.ts
  core/templates/pages/library-page/library-page-root.component.html
  core/templates/pages/library-page/library-page-root.component.ts
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/library-page.component.ts
  core/templates/pages/library-page/library-page.constants.ajs.ts
  core/templates/pages/library-page/library-page.import.ts
  core/templates/pages/library-page/library-page.mainpage.html
  core/templates/pages/library-page/library-page.module.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.html
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.spec.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.ts
  core/templates/pages/library-page/search-results/search-results.component.html
  core/templates/pages/library-page/search-results/search-results.component.spec.ts
  core/templates/pages/library-page/search-results/search-results.component.ts
  core/templates/pages/library-page/services/library-page-backend-api.service.spec.ts
  core/templates/pages/library-page/services/library-page-backend-api.service.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/search-backend-api.service.ts
  core/templates/services/search.service.ts
  core/templates/tests/unit-test-utils.ts
  package.json
  webpack.common.config.ts
  yarn.lock
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13468 Added subtopic mastery handler
  core/controllers/skill_mastery.py
  core/controllers/skill_mastery_test.py
  feconf.py
  main.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13498 Migrate Library page
  core/controllers/base_test.py
  core/controllers/library_test.py
  core/templates/base-components/base-content.component.ts
  core/templates/domain/summary/exploration-summary-backend-api.service.ts
  core/templates/pages/library-page/library-footer/library-footer.component.html
  core/templates/pages/library-page/library-footer/library-footer.component.spec.ts
  core/templates/pages/library-page/library-footer/library-footer.component.ts
  core/templates/pages/library-page/library-page-root.component.html
  core/templates/pages/library-page/library-page-root.component.ts
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/library-page.component.ts
  core/templates/pages/library-page/library-page.constants.ajs.ts
  core/templates/pages/library-page/library-page.import.ts
  core/templates/pages/library-page/library-page.mainpage.html
  core/templates/pages/library-page/library-page.module.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.html
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.spec.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.ts
  core/templates/pages/library-page/search-results/search-results.component.html
  core/templates/pages/library-page/search-results/search-results.component.spec.ts
  core/templates/pages/library-page/search-results/search-results.component.ts
  core/templates/pages/library-page/services/library-page-backend-api.service.spec.ts
  core/templates/pages/library-page/services/library-page-backend-api.service.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/search-backend-api.service.ts
  core/templates/services/search.service.ts
  core/templates/tests/unit-test-utils.ts
  package.json
  webpack.common.config.ts
  yarn.lock
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13493 Fixing the Embedding flake
  core/tests/protractor_desktop/embedding.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13470 Fix #13421: Run backend tests in core/tests
  core/tests/build_sources/extensions/models_test.py
  core/tests/gae_suite_test.py
  scripts/backend_test_shards.json
  scripts/run_backend_tests.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13510 Fixed failing skill-mastery test
  core/controllers/skill_mastery_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13307 fixes part of #12792 implement the _get_change_domain_class for skill, story validation
  jobs/transforms/skill_validation.py
  jobs/transforms/skill_validation_test.py
  jobs/transforms/story_validation.py
  jobs/transforms/story_validation_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#13253 Fix #13071: Removes logging unwanted errors in frontend test
  core/tests/karma.conf.ts
  scripts/run_frontend_tests.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13490 Fix #13249: Fix mypy pre-push checks
  scripts/run_mypy_checks.py
  scripts/run_mypy_checks_test.py
Labels: PR: LGTM

#13426 Fix Part of #10474: Cover some files with TS strict checks - 11
  core/templates/components/entity-creation-services/exploration-creation.service.spec.ts
  core/templates/components/entity-creation-services/exploration-creation.service.ts
  core/templates/domain/email-dashboard/email-dashboard-backend-api.service.ts
  core/templates/domain/exploration/stats-reporting-backend-api.service.ts
  core/templates/domain/recommendations/exploration-recommendations-backend-api.service.ts
  core/templates/domain/review_test/review-test-backend-api.service.spec.ts
  core/templates/domain/skill/concept-card-backend-api.service.spec.ts
  core/templates/domain/skill/concept-card-backend-api.service.ts
  core/templates/domain/statistics/playthrough-backend-api.service.spec.ts
  core/templates/domain/story/story-validation.service.spec.ts
  core/templates/domain/story/story-validation.service.ts
  core/templates/domain/story_viewer/story-viewer-backend-api.service.spec.ts
  core/templates/domain/topic/topic-creation-backend-api.service.spec.ts
  core/templates/domain/topic/topic-rights-backend-api.service.spec.ts
  core/templates/domain/topic/topic-rights-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-data.service.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-data.service.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts
  core/templates/pages/exploration-player-page/services/exploration-recommendations.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-recommendations.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.service.spec.ts
  core/templates/services/context.service.ts
  core/templates/services/contextual/url.service.ts
  core/templates/services/exploration-features-backend-api.service.spec.ts
  core/templates/services/playthrough-issues-backend-api.service.spec.ts
  core/templates/services/playthrough-issues-backend-api.service.ts
  extensions/interactions/InteractiveMap/directives/oppia-response-interactive-map.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13517 Routine update of translations.
  assets/i18n/ab.json
  assets/i18n/ar.json
  assets/i18n/ast.json
  assets/i18n/bn.json
  assets/i18n/br.json
  assets/i18n/ca.json
  assets/i18n/da.json
  assets/i18n/de.json
  assets/i18n/diq.json
  assets/i18n/el.json
  assets/i18n/eo.json
  assets/i18n/es.json
  assets/i18n/eu.json
  assets/i18n/fi.json
  assets/i18n/fit.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/hi.json
  assets/i18n/hu.json
  assets/i18n/id.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/kab.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/mk.json
  assets/i18n/nb.json
  assets/i18n/ne.json
  assets/i18n/nl.json
  assets/i18n/pl.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sk.json
  assets/i18n/sv.json
  assets/i18n/tr.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: LGTM

#13476 Frontend Unit Tests(6): Cover multiple component files
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.directive.html
  extensions/interactions/DragAndDropSortInput/DragAndDropSortInput.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-interaction.component.html
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-response.component.html
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-short-response.component.html
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.component.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.directive.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-response-drag-and-drop-sort-input.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-response-drag-and-drop-sort-input.component.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-response-drag-and-drop-sort-input.directive.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-short-response-drag-and-drop-sort-input.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-short-response-drag-and-drop-sort-input.component.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-short-response-drag-and-drop-sort-input.directive.ts
  extensions/interactions/InteractiveMap/directives/oppia-interactive-interactive-map.component.spec.ts
  extensions/interactions/InteractiveMap/directives/oppia-response-interactive-map.component.spec.ts
  extensions/interactions/InteractiveMap/directives/oppia-short-response-interactive-map.component.spec.ts
  extensions/interactions/ItemSelectionInput/ItemSelectionInput.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-interaction.component.html
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-response.component.html
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-short-response.component.html
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.directive.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-response-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-response-item-selection-input.component.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-short-response-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-short-response-item-selection-input.component.ts
  extensions/interactions/NumberWithUnits/NumberWithUnits.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-interaction.component.html
  extensions/interactions/NumberWithUnits/directives/number-with-units-response.component.html
  extensions/interactions/NumberWithUnits/directives/number-with-units-short-response.component.html
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.directive.ts
  extensions/interactions/NumberWithUnits/directives/oppia-response-number-with-units.component.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-response-number-with-units.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-short-response-number-with-units.component.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-short-response-number-with-units.component.ts
  extensions/interactions/NumericInput/directives/oppia-interactive-numeric-input.component.spec.ts
  extensions/interactions/NumericInput/directives/oppia-response-numeric-input.component.spec.ts
  extensions/interactions/NumericInput/directives/oppia-short-response-numeric-input.component.spec.ts
  extensions/interactions/SetInput/directives/oppia-interactive-set-input.component.spec.ts
  extensions/interactions/SetInput/directives/oppia-response-set-input.component.spec.ts
  extensions/interactions/SetInput/directives/oppia-short-response-set-input.component.spec.ts
  extensions/interactions/base_test.py
  extensions/objects/templates/logic-question-editor.component.spec.ts
  extensions/objects/templates/music-phrase-editor.component.spec.ts
  extensions/objects/templates/music-phrase-editor.component.ts
  extensions/objects/templates/set-of-translatable-html-content-ids-editor.component.spec.ts
  extensions/objects/templates/set-of-unicode-string-editor.component.spec.ts
  extensions/rich_text_components/Math/directives/oppia-noninteractive-math.component.spec.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13442 Added tests for question-editor & outcome-editor
  core/templates/components/question-directives/question-editor/question-editor.component.html
  core/templates/components/question-directives/question-editor/question-editor.component.spec.ts
  core/templates/components/question-directives/question-editor/question-editor.component.ts
  core/templates/components/question-directives/question-editor/question-editor.directive.ts
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.directive.ts
  core/templates/domain/question/question-update.service.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts
  core/templates/pages/skill-editor-page/services/question-creation.service.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13501 Frontend tests for topic-editor-navbar.component
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.spec.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
  core/templates/pages/topic-editor-page/topic-editor-page.import.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13502 Fix Multiple Choice Interaction shuffle
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13418 Added unit tests for version-diff-visualization & rule-editor
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.ts
  core/templates/components/state-directives/rule-editor/rule-editor.component.html
  core/templates/components/state-directives/rule-editor/rule-editor.component.spec.ts
  core/templates/components/state-directives/rule-editor/rule-editor.component.ts
  core/templates/components/state-directives/rule-editor/rule-editor.directive.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/components/version-diff-visualization/version-diff-visualization.component.html
  core/templates/components/version-diff-visualization/version-diff-visualization.component.spec.ts
  core/templates/components/version-diff-visualization/version-diff-visualization.component.ts
  core/templates/components/version-diff-visualization/version-diff-visualization.directive.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13472 Milestone 2.3: Adds Blog Card And Parts of Blog Dashboard Page
  assets/constants.ts
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/blog_homepage.py
  core/domain/blog_services_test.py
  core/templates/app.constants.ts
  core/templates/domain/blog/blog-dashboard-backend-api.service.spec.ts
  core/templates/domain/blog/blog-post-summary.model.spec.ts
  core/templates/domain/blog/blog-post-summary.model.ts
  core/templates/domain/blog/blog-post-update.service.spec.ts
  core/templates/domain/blog/blog-post.model.spec.ts
  core/templates/domain/blog/blog-post.model.ts
  core/templates/pages/blog-dashboard-page/blog-card/blog-card.component.html
  core/templates/pages/blog-dashboard-page/blog-card/blog-card.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-card/blog-card.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.import.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.mainpage.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.module.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.ts
  core/templates/pages/blog-dashboard-page/navbar/blog-dashboard-navbar-breadcrumb.component.html
  core/templates/tests/unit-test-utils.spec.ts
  core/templates/tests/unit-test-utils.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13419 Fix coverage flake introduced in #13219
  core/templates/base-components/base-content.component.spec.ts
  core/templates/base-components/base-content.component.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.spec.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#13479 Added units tests for outcome-destination-editor & state-hints-editor
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.directive.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.ts
  core/templates/components/state-editor/state-editor.component.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.html
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.spec.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.directive.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13492 Resolving "Creating topic takes too long" in topicAndStoryEditor.js
  core/tests/protractor_utils/waitFor.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13512 Update oppiabot to v1.4.0
  .github/workflows/oppiabot.yml
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM
