Repository oppia/oppia, pull requests merged in 2021-10, with the labels that each got.

#13962 Fix #13150: Upgraded guppy to the latest version.
  .gcloudignore
  core/templates/third-party-imports/guppy.import.ts
  extensions/interactions/guppy.html
  manifest.json
  typings/guppy-defs-f509e155dc66f6310737c328cbfbc35b85194be2.d.ts
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13857 Fix timeout issue in learner dashboard
  core/controllers/learner_dashboard.py
  core/controllers/learner_dashboard_test.py
  core/domain/learner_progress_domain.py
  core/domain/learner_progress_domain_test.py
  core/domain/learner_progress_services.py
  core/domain/learner_progress_services_test.py
  core/feconf.py
  core/platform/datastore/cloud_datastore_services.py
  core/platform/models_test.py
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/domain/learner_dashboard/non-existent-activities.model.spec.ts
  core/templates/domain/learner_dashboard/non-existent-activities.model.ts
  core/templates/domain/learner_dashboard/non-existent-collections.model.spec.ts
  core/templates/domain/learner_dashboard/non-existent-collections.model.ts
  core/templates/domain/learner_dashboard/non-existent-explorations.model.spec.ts
  core/templates/domain/learner_dashboard/non-existent-explorations.model.ts
  core/templates/domain/learner_dashboard/non-existent-topics-and-stories.model.spec.ts
  core/templates/domain/learner_dashboard/non-existent-topics-and-stories.model.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  main.py
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13916 Fix #11932 Sort translation opportunities by topic
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13937 Fix #10798: Fixing e2e tests for ExplorationEditorPage.js
  core/tests/protractor_utils/ExplorationEditorPage.js
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13805 Fix Part of #9749: Migrate state-diff-modal.controller into angular component
  core/templates/components/version-diff-visualization/version-diff-visualization.component.spec.ts
  core/templates/components/version-diff-visualization/version-diff-visualization.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.controller.ts
  core/templates/pages/exploration-editor-page/services/state-diff-modal-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/state-diff-modal-backend-api.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13907 Fix part of #9749: Migrate rating display directive
  .github/CODEOWNERS
  core/templates/components/ratings/rating-display/rating-display.component.html
  core/templates/components/ratings/rating-display/rating-display.component.spec.ts
  core/templates/components/ratings/rating-display/rating-display.component.ts
  core/templates/components/ratings/rating-display/rating-display.directive.html
  core/templates/components/ratings/rating-display/rating-display.directive.spec.ts
  core/templates/components/ratings/rating-display/rating-display.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13971 Fix part of #13956: Remove python_utils.url_join
  .pylintrc
  core/python_utils.py
  core/python_utils_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13963 Fix #13889: Gracefully handle missing backend library in pre-push
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13973 Fix part of #13956: Remove is_string and get_args_of_function from python_utils.py
  core/jobs/types/base_validation_errors.py
  core/python_utils.py
  core/python_utils_test.py
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @brianrodri

#13966 Add Ben and Sean as codeowners to rule_templates.json. Also fix inconsistency in dependency version for six library.
  .github/CODEOWNERS
  scripts/install_backend_python_libs_test.py
  scripts/install_third_party_libs.py
  scripts/linters/codeowner_linter.py
  scripts/script_import_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13887 Fix part of #10798: Use action.js and waitFor.js in TopicEditor.js
  core/tests/protractor_utils/TopicEditorPage.js
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13948 Opportunity summary job
  MANIFEST.in
  core/domain/action_registry.py
  core/domain/calculation_registry.py
  core/domain/interaction_registry.py
  core/domain/interaction_registry_test.py
  core/domain/object_registry.py
  core/domain/opportunity_services.py
  core/domain/playthrough_issue_registry.py
  core/domain/rules_registry.py
  core/domain/translatable_object_registry.py
  core/domain/value_generators_domain.py
  core/feconf.py
  core/jobs/batch_jobs/cron_jobs_test.py
  core/jobs/batch_jobs/opportunity_management_jobs.py
  core/jobs/batch_jobs/opportunity_management_jobs_test.py
  core/jobs/registry.py
  core/tests/build_sources/extensions/base.py
  extensions/interactions/base.py
  extensions/interactions/base_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13951 Fix flaky test checking window narrowness
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.spec.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#13981 Fix part for #13956: Removes "python utils.url_unquote_plus"
  core/python_utils.py
  core/python_utils_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13922 Fix part of #10616: Introduced typescript-eslint/method-signature-style rule
  .eslintrc
  core/templates/pages/exploration-player-page/services/prediction-algorithm-registry.service.ts
  core/templates/services/messenger.service.ts
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#13819 Fix part of #10474: Made typescript checks strict for filtered-choices-field.component.ts and spec
  core/templates/components/filter-fields/filtered-choices-field/filtered-choices-field.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#13989 Give jobs a standard module and naming convention
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/domain/beam_job_domain_test.py
  core/jobs/base_jobs.py
  core/jobs/base_jobs_test.py
  core/jobs/batch_jobs/blog_validation_jobs.py
  core/jobs/batch_jobs/blog_validation_jobs_test.py
  core/jobs/batch_jobs/cron_jobs.py
  core/jobs/batch_jobs/exp_recommendation_computation_jobs.py
  core/jobs/batch_jobs/exp_recommendation_computation_jobs_test.py
  core/jobs/batch_jobs/exp_search_indexing_jobs.py
  core/jobs/batch_jobs/exp_search_indexing_jobs_test.py
  core/jobs/batch_jobs/model_validation_jobs.py
  core/jobs/batch_jobs/model_validation_jobs_test.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs_test.py
  core/jobs/batch_jobs/user_stats_computation_jobs.py
  core/jobs/batch_jobs/user_stats_computation_jobs_test.py
  core/jobs/registry.py
  mypy_imports.py
  scripts/backend_test_shards.json
  scripts/run_mypy_checks.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Python Migration -- @brianrodri

#13987 Fix part of #13956 :Remove python_utils.url_split ( #13956 )
  .pylintrc
  core/controllers/base.py
  core/domain/html_cleaner.py
  core/python_utils.py
  core/python_utils_test.py
  core/schema_utils.py
  core/utils.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: don't merge - STALE BUILD

#13954 Remove enforcing python_utils function usage from pylint
  .pylintrc
Labels: PR: Affects datastore layer, PR CHANGELOG: Python Migration -- @brianrodri

#14140 Fix part of #10474: Cover profile-page-backend-api.service with strict checks
  core/templates/pages/profile-page/profile-page-backend-api.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14089 Fix part of #9749: Migrates editor reloading modal to angular
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/modal-templates/editor-reloading-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/editor-reloading-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/editor-reloading-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/editor-reloading-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/editor-reloading-modal.controller.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14104 Fix #13440: Make it clearer what language is being translated
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.html
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#14145 Quote webhook url in action
  .github/actions/send-webhook-notification/action.yml
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13980 Fix part of #13380: Fixed exploration player rtl formatting issues
  assets/constants.ts
  core/templates/base-components/base-content.component.html
  core/templates/base-components/base-content.component.ts
  core/templates/components/button-directives/hint-and-solution-buttons.component.html
  core/templates/components/button-directives/hint-and-solution-buttons.component.spec.ts
  core/templates/components/button-directives/hint-and-solution-buttons.component.ts
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.html
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/layout-directives/content-language-selector.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.html
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.ts
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
  core/templates/pages/learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/home-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/home-tab.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/services/i18n-language-code.service.spec.ts
  core/templates/services/i18n-language-code.service.ts
  extensions/interactions/GraphInput/directives/graph-input-interaction.component.html
  extensions/interactions/GraphInput/directives/graph-viz.component.html
  extensions/interactions/GraphInput/directives/graph-viz.component.spec.ts
  extensions/interactions/GraphInput/directives/graph-viz.component.ts
  extensions/interactions/GraphInput/directives/oppia-interactive-graph-input.component.spec.ts
  extensions/interactions/GraphInput/directives/oppia-interactive-graph-input.component.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-interaction.component.html
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-interaction.component.html
  extensions/interactions/MultipleChoiceInput/static/multiple_choice_input.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14035 Fix part of #13764: Add validation checks for Outcome, Hint and Solution Explanation
  core/templates/components/state-directives/hint-editor/hint-editor.component.html
  core/templates/components/state-directives/hint-editor/hint-editor.component.spec.ts
  core/templates/components/state-directives/hint-editor/hint-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.html
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.spec.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.ts
  core/templates/css/oppia.css
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14139 Fix #14055: Disables making changes to topic if user has no topic rights.
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681
