Repository oppia/oppia, pull requests merged in 2021-11, with the labels that each got.

#14125 Fix part of #8668: Documents suggestion-modal.service.ts file
  core/templates/services/suggestion-modal.service.ts
Labels: PR: LGTM, REVIEWERS: Please add changelog label

#14152 Fix part of issue #9749: migrate exploration-publish-modal to angular component
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/modal-templates/exploration-publish-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/exploration-publish-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/exploration-publish-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/exploration-publish-modal.template.html
  core/templates/pages/exploration-editor-page/services/exploration-save.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14133 Fix `--save_datastore` flag in start command
  scripts/servers.py
  scripts/servers_test.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14135 Introduce MyPy reviewers
  .github/CODEOWNERS
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep, PR: don't merge - STALE BUILD

#14160 Fix #14094: Reinstate codeownership of learner analytics files.
  .github/CODEOWNERS
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14039 Fix part of #10474: Enable strict mode in subtopic.model.ts
  core/templates/domain/topic/subtopic.model.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#14100 Adds "pending review notification" workflow
  .github/PENDING_REVIEW_NOTIFICATION_TEMPLATE.md
  .github/workflows/pending-review-notification.yml
  scripts/linters/other_files_linter.py
Labels: PR: LGTM

#14164 Fix multiple production issues
  app_dev.yaml
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/contributor_dashboard_admin_test.py
  core/controllers/suggestion.py
  core/feconf.py
  core/platform/email/mailgun_email_services.py
  core/platform/email/mailgun_email_services_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  index.yaml
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Bug fixes -- @nithusha21

#14167 Migrate confirm discard change modal template
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/modal-templates/confirm-discard-changes-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/confirm-discard-changes-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/confirm-discard-changes-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/confirm-discard-changes-modal.template.html
  core/templates/pages/exploration-editor-page/services/exploration-save.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14131 Fix Part of #13162: Add argument schema for LearnerIncompleteActivityHandler, RatingHandler and FlagExplorationHandler classes
  core/controllers/payload_validator.py
  core/controllers/reader.py
  core/templates/pages/learner-dashboard-page/modal-templates/remove-activity-modal.component.spec.ts
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#14175 Fix Part of #13162: Add argument schema for ReleaseCoordinatorPage, JobsHandler, JobOutputHandler, MemoryCacheHandler classes.
  core/controllers/payload_validator.py
  core/controllers/release_coordinator.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#14176 Fix tasks on production
  app_dev.yaml
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  main.py
Labels: PR: LGTM, PR CHANGELOG: Bug fixes -- @nithusha21

#14142 Addressed comments from PR 14101
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
Labels: PR: for current release

#14151 Fix part of #14072, 14027: Surface submit translation suggestion errors and admin dashboard cleanup
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/config_domain.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
  core/tests/protractor_desktop/contributorDashboard.js
  core/tests/protractor_utils/ContributorDashboardAdminPage.js
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee, REVIEWERS: Please add changelog label

#14081 Consolidating Backend Tests (2nd PR)
  .github/workflows/backend_tests.yml
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#14114 Fix part of #10798: Fix end to end tests for SkillEditorPage.js
  core/tests/protractor_utils/SkillEditorPage.js
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14185 Introduce Cloud Logging
  main.py
  main_test.py
  requirements.in
  requirements.txt
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#14183 Fix part of #12858: Add Dutch, Slovak and Ukrainian to the list of site-supported languages.
  assets/constants.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14182 Routine update of translations
  assets/i18n/bn.json
  assets/i18n/de.json
  assets/i18n/es.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/ja.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sk.json
  assets/i18n/uk.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#14181 Update note for pre-deletion page.
  assets/i18n/en.json
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#14174 Fix issues in release
  core/jobs/batch_jobs/opportunity_management_jobs.py
  core/jobs/batch_jobs/opportunity_management_jobs_test.py
  scripts/common.py
  scripts/common_test.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_changelog_and_credits_test.py
Labels: PR CHANGELOG: Release team -- @nithusha21

#14111 Fix part of #8016: Make Http Calls of history-tab.component.ts through service component
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/post-publish-modal.component.ts
  core/templates/pages/exploration-editor-page/services/history-tab-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/history-tab-backend-api.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14184 Fix #14009: adds animation to topic navbar and fixes background banner.
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14195 Fixes submitting answers using 'enter key' in Interactions.
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14149 Fix part of #14033: Mypy type annotations added to takeout_domain and translation_domian
  core/domain/takeout_domain.py
  core/domain/translation_domain.py
  core/domain/translation_domain_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM

#14117 Fix #14116: fixing typo in core/controllers/admin.py
  core/controllers/admin.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#14097 Fix #14004 Handle frontend display of skill opportunities correctly
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#14108 Fix part of #14033: Type annotate rights_domain
  core/domain/change_domain.py
  core/domain/rights_domain.py
  core/domain/rights_domain_test.py
  scripts/linters/pylint_extensions.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD, PR CHANGELOG: Typing -- @vojtechjelinek

#14191 Added same padding on both top and bottom of drag and drop answer fields.
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-interaction.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#14134 Fix part of #10474: Fixing typescript strict checks issues for StoryObjectFactory.ts
  core/templates/domain/story/StoryObjectFactory.ts
  core/templates/domain/story/StoryObjectFactorySpec.ts
  tsconfig-strict.json
Labels: PR: don't merge - STALE BUILD, PR CHANGELOG: Typing -- @vojtechjelinek

#14029 Fix part of #10616: Introduce @typesctript-eslint rules that extend eslint rules
  .eslintrc
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#14076 Add code to help with the Python 2 unavailable issue
  scripts/install_prerequisites.sh
  scripts/servers.py
  scripts/setup.py
  scripts/setup_test.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep, PR: don’t merge - TESTING NEEDED

#14180 Fix part of #14033: Type annotate value_generators_domain
  core/domain/value_generators_domain.py
  core/domain/value_generators_domain_test.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14166 Fix #13952: Per-file backend coverage tests
  .github/CODEOWNERS
  scripts/backend_tests_incomplete_coverage.txt
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#14124 Fix part of #10798: Fixed end-to-end tests for workflow.js
  core/tests/protractor_utils/ExplorationEditorSettingsTab.js
  core/tests/protractor_utils/workflow.js
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14153 Fix part of #8016: Make HTTP Calls of setting-tab.component.ts through service component
  core/templates/pages/exploration-editor-page/services/setting-tab-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/setting-tab-backend-api.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
  core/templates/services/angular-services.index.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14194 Fix #14189: Make translations editable for reviewers
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee

#14162 Fix part of #10616: Add eslint rule to ensure consistent type definitions
  .eslintrc
  core/templates/domain/recommendations/exploration-recommendations-backend-api.service.ts
  core/templates/services/messenger.service.ts
  extensions/interactions/TextInput/directives/oppia-interactive-text-input.component.ts
  extensions/objects/templates/algebraic-expression-editor.component.ts
  extensions/objects/templates/normalized-string-editor.component.ts
  extensions/objects/templates/set-of-translatable-html-content-ids-editor.component.ts
  extensions/objects/templates/unicode-string-editor.component.ts
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14216 Remove myself from oppia-web CODEOWNERS
  .github/CODEOWNERS
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#14163 Fix part of #14033: Added type annotations to wipeout_domain
  core/domain/wipeout_domain.py
  core/domain/wipeout_domain_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#14171 Fix part of #13162: Adds schema for the PromoBarHandler in resources.py
  core/controllers/payload_validator.py
  core/controllers/resources.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14192 Fix part of #8015: pretest-question-backend-api.service returns domain object instead of dict
  core/templates/domain/question/pretest-question-backend-api.service.spec.ts
  core/templates/domain/question/pretest-question-backend-api.service.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.ts
  core/templates/services/UpgradedServices.ts
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14201 Fix part of #10474: Cover translate-text.service.ts and music-phrase-player.service.ts with strict checks.
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14179 Fix part of #14187: Write frontend tests for some components
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar-breadcrumb.component.spec.ts
  core/templates/pages/collection-player-page/collection-footer/collection-footer.component.spec.ts
  core/templates/pages/collection-player-page/collection-navbar/collection-navbar.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14233 Fix #10315, #14200: Fixes white spacing issues in RTE
  core/templates/directives/angular-html-bind.directive.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14158 Add translation keys for interaction specific constant translations
  assets/constants.ts
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
  extensions/interactions/CodeRepl/CodeRepl.py
  extensions/interactions/DragAndDropSortInput/DragAndDropSortInput.py
  extensions/interactions/GraphInput/GraphInput.py
  extensions/interactions/ImageClickInput/ImageClickInput.py
  extensions/interactions/InteractiveMap/InteractiveMap.py
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.spec.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.ts
  extensions/interactions/MusicNotesInput/MusicNotesInput.py
  extensions/interactions/PencilCodeEditor/PencilCodeEditor.py
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-interaction.directive.html
  extensions/interactions/interaction_specs.json
  extensions/objects/templates/algebraic-expression-editor.component.spec.ts
  extensions/objects/templates/algebraic-expression-editor.component.ts
  extensions/objects/templates/math-equation-editor.component.spec.ts
  extensions/objects/templates/math-equation-editor.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14172 Fix part of #11314: Change "offset" from str to int, cursor to offset and address remaining TODO's
  core/controllers/collection_editor.py
  core/controllers/library.py
  core/domain/collection_services.py
  core/domain/exp_services.py
  core/domain/search_services.py
  core/domain/search_services_test.py
  core/domain/summary_services.py
  core/platform/search/elastic_search_services.py
  core/platform/search/elastic_search_services_test.py
  core/templates/services/search-backend-api.service.spec.ts
  core/templates/services/search-backend-api.service.ts
  core/templates/services/search.service.spec.ts
  core/templates/services/search.service.ts
Labels: PR: LGTM

#14127 Fix #14126: Pass the normalized values for url path elements to the handler
  core/controllers/base.py
  core/controllers/base_test.py
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#14128 Confirming before leaving practice tab to prevent accidental session close.
  core/templates/components/question-directives/question-player/question-player.component.spec.ts
  core/templates/components/question-directives/question-player/question-player.component.ts
Labels: PR: LGTM

#14123 Fix part of #14033: Type annotate opportunity domain
  core/domain/opportunity_domain.py
  core/domain/opportunity_domain_test.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14106 Fix part of #10474: Cover Top-Navigation-Bar component with strict checks
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#14120 Introduce helper transforms for jobs
  core/jobs/batch_jobs/exp_recommendation_computation_jobs.py
  core/jobs/batch_jobs/exp_recommendation_computation_jobs_test.py
  core/jobs/batch_jobs/exp_search_indexing_jobs.py
  core/jobs/batch_jobs/exp_search_indexing_jobs_test.py
  core/jobs/batch_jobs/opportunity_management_jobs.py
  core/jobs/batch_jobs/opportunity_management_jobs_test.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs_test.py
  core/jobs/batch_jobs/user_stats_computation_jobs.py
  core/jobs/batch_jobs/user_stats_computation_jobs_test.py
  core/jobs/transforms/job_result_transforms.py
  core/jobs/transforms/job_result_transforms_test.py
  requirements.in
  requirements.txt
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @brianrodri

#14252 Add voiceover admin role to admin user
  core/domain/rights_manager.py
  core/domain/user_services.py
  core/domain/wipeout_service_test.py
  scripts/run_backend_tests.py
Labels: PR: for current release, PR CHANGELOG: Data handling -- @vojtechjelinek

#14232 Implemented donate nav item according to the new navbar view
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14198 Mobile usability issues fix
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.html
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.ts
  core/templates/pages/library-page/library-page.component.html
Labels: PR: LGTM

#14193 Implemented the new UI for the results page
  assets/i18n/en.json
  core/templates/components/question-directives/question-player/question-player.component.html
  core/templates/components/question-directives/question-player/question-player.component.spec.ts
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/components/question-directives/question-player/question-player.constants.ts
  core/templates/components/score-ring/score-ring.component.html
  core/templates/pages/practice-session-page/practice-session-page.component.html
  core/templates/pages/practice-session-page/practice-session-page.component.spec.ts
  core/templates/pages/practice-session-page/practice-session-page.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14220 Disable GPU for Selenium to try and fix renderer timeout
  core/tests/protractor.conf.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14212 Fix #14103: Shifts handler schema constants to a separate file
  .github/CODEOWNERS
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/payload_validator.py
  core/handler_schema_constants.py
  scripts/linters/pylint_extensions.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek, PR: require post-merge sync to HEAD

#14242 Fix part of #14187: Cover some files with frontend tests
  core/templates/pages/exploration-player-page/services/player-correctness-feedback-enabled.service.spec.ts
  core/templates/pages/exploration-player-page/services/player-transcript.service.spec.ts
  core/templates/pages/release-coordinator-page/release-coordinator-page.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14266 Fix lang param not working due to mulitple lang cookies.
  core/templates/i18n/i18n.module.ts
  core/templates/i18n/i18n.service.spec.ts
  core/templates/i18n/i18n.service.ts
Labels: PR: for current release, PR CHANGELOG: Bug fixes -- @nithusha21

#14213 Fix #13974: Remove unneeded constants
  assets/constants.ts
  core/controllers/access_validators.py
  core/controllers/access_validators_test.py
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/templates/pages/oppia-root/routing/access-validation-backend-api.service.spec.ts
  core/templates/pages/oppia-root/routing/access-validation-backend-api.service.ts
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page-root.component.spec.ts
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page-root.component.ts
  core/templates/pages/preferences-page/preferences-page.component.html
  core/templates/pages/preferences-page/preferences-page.component.ts
  main.py
  scripts/run_lighthouse_tests.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14273 Add Azerbaijani language to contributor dashboard.
  assets/constants.ts
Labels: PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee

#14286 Temporarily remove @BenHenning from codeowners
  .github/CODEOWNERS
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#14254 Fix translation stats job to work with sets
  core/controllers/suggestion_test.py
  core/domain/state_domain.py
  core/domain/suggestion_registry.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs_test.py
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee

#14222 Fix part of #13162: Add schemas to validate ExplorationStartEventHandler and ExplorationActualStartEventHandler class arguments
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/handler_schema_constants.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14251 Fix part of #13162: Added schema for the SkillRightsHandler and SkillEditorPage class in skill_editor.py
  core/controllers/skill_editor.py
  core/handler_schema_constants.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14275 Fix part of #13467: Fixes frontend coverage issue with `save-validation-fail-modal.component.ts`
  core/templates/pages/exploration-editor-page/modal-templates/save-validation-fail-modal.component.spec.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#14264 Fix part of #13764: page title fragment for web should have min-length 5 characters
  assets/constants.ts
  core/templates/domain/topic/TopicObjectFactory.ts
  core/templates/domain/topic/TopicObjectFactorySpec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14283 Fix #14234 Unable to accept/reject a suggestions during reviews.
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#14297 Fix #14227: Disable "Add Thumbnail" button when user has not uploaded new thumbnail
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.html
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.spec.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14224 Fix - Hints visible on results page, #13248: Adding href to topic viewer page urls
  core/templates/components/question-directives/question-player/question-player.component.spec.ts
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/components/question-directives/question-player/services/question-player-state.service.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14270 Fix #14228 and #14253: Set classroom filter choices in skills tab and fix change detection/propagation issue in the supplemental card component
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14268 Fix #14265: Make translation language selector to show selected language correctly
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee

#14291 Fix #14225: Move modal creation logic from service to component for remove from play later playlist modal
  core/templates/domain/learner_dashboard/learner-dashboard-activity-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-activity-backend-api.service.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-icons.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-icons.component.ts
Labels: PR: for current release, PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#14319 Remove Brian for codeowners
  .github/CODEOWNERS
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14321 Fix some errors and omissions in the lint script.
  .eslintignore
  .pylintrc
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/pre_commit_linter.py
Labels: PR: require post-merge sync to HEAD

#14203 Fix issue #12165 overflow of skill description
  core/templates/components/question-difficulty-selector/question-difficulty-selector.component.html
  core/templates/components/question-directives/questions-list/questions-list.component.html
  core/templates/css/oppia.css
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14292 Adding a “Create exploration” button to the top bar of creator-dashboard
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14058 Fix part of #14033: Add Mypy type annotations to domain files
  core/domain/auth_domain.py
  core/domain/auth_domain_test.py
  core/domain/blog_domain.py
  core/domain/blog_domain_test.py
  core/domain/caching_domain.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
  core/platform/cache/redis_cache_services.py
  scripts/run_mypy_checks.py
  stubs/firebase_admin/auth.pyi
Labels: PR: LGTM, PR: don't merge - STALE BUILD, PR CHANGELOG: Typing -- @vojtechjelinek

#14289 Fix #14235: Enable to submit question suggestions with image region interations
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/resources_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
  extensions/objects/templates/image-with-regions-editor.component.spec.ts
  extensions/objects/templates/image-with-regions-editor.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14263 Fixes part of #9749: Migrate few instances of angular-html-bind
  .github/CODEOWNERS
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-content.service.spec.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-content.service.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/components/state-editor/state-content-editor/state-content-editor.directive.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/services/angular-services.index.ts
  core/templates/services/oppia-rte-parser.service.spec.ts
  core/templates/services/oppia-rte-parser.service.ts
  core/tests/protractor_utils/forms.js
  extensions/objects/templates/math-expression-content-editor.component.ts
  extensions/rich_text_components/rich-text-components.module.ts
  extensions/rich_text_components/rte-output-display.component.html
  extensions/rich_text_components/rte-output-display.component.spec.ts
  extensions/rich_text_components/rte-output-display.component.ts
Labels: PR: for current release, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14317 Fixed part of #13956: Remove python_utils.zip_longest function
  core/python_utils.py
  core/python_utils_test.py
  core/tests/test_utils.py
  core/utils.py
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @brianrodri

#14336 Fix part of #13935: Remove python_utils.url_parse function
  core/python_utils.py
  core/python_utils_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#14349 Routine update of translations.
  assets/i18n/fa.json
  assets/i18n/fi.json
  assets/i18n/fit.json
  assets/i18n/fr.json
  assets/i18n/kab.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/my.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/sk.json
  assets/i18n/uk.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#14334 Update CONTRIBUTING.md to be the same as our wiki
  .github/CONTRIBUTING.md
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep
