Repository oppia/oppia, pull requests merged in 2021-09, with the labels that each got.

#13783 Fix #13657: Fetch additional skill opportunities to fulfill page size as necessary
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/opportunity_services.py
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#13791 Replace SVG parsing library with a more robust one
  core/domain/html_validation_service.py
  requirements.in
  requirements.txt
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13747 Address comments on #13746
  scripts/run_e2e_tests.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#13777 Fixes part of #13764: Exploration title should have max length of 36
  android_validation_constants.py
  android_validation_constants_test.py
  assets/constants.ts
  core/domain/story_domain.py
  core/templates/pages/exploration-editor-page/exploration-title-editor/exploration-title-editor.component.html
  core/templates/pages/exploration-editor-page/exploration-title-editor/exploration-title-editor.component.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
  core/tests/protractor_desktop/explorationFeedbackTab.js
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13776 Allow marking individual translations as stale
  core/domain/exp_domain.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/state_domain.py
  core/templates/domain/exploration/exploration-draft.model.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.spec.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-diff.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-states.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.html
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
Labels: PR: LGTM

#13740 Implement job indexing explorations in search
  core/domain/exp_domain.py
  core/domain/exp_fetchers.py
  core/domain/search_services.py
  core/platform/search/elastic_search_services.py
  jobs/batch_jobs/cron_jobs.py
  jobs/batch_jobs/cron_jobs_test.py
  jobs/job_utils.py
  jobs/job_utils_test.py
  jobs/registry.py
  scripts/backend_test_shards.json
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13781 Checking memory usage of e2e runs
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features_and_library.yml
  .github/workflows/e2e_user_profile.yml
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13749 Implement job collecting weekly dashboard stats
  core/domain/user_services.py
  jobs/batch_jobs/cron_jobs.py
  jobs/batch_jobs/cron_jobs_test.py
  jobs/job_utils.py
  scripts/linters/pylint_extensions.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Python Migration -- @brianrodri

#13765 Resolving 'Type a number' to equal 'Ingresa un n��mero' flake in users suite.
  core/tests/protractor_desktop/userJourneys.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13780 Resolving Expected 0 to equal 1 flake in creatorDashboard.js
  core/tests/protractor_desktop/creatorDashboard.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13804 Resolving Expected False to equal to True flake in topicAndStoryEditor.js
  core/tests/protractor_utils/StoryEditorPage.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13809 Temporarily remove @vojtechjelinek from CODEOWNERS
  .github/CODEOWNERS
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13754 Implement job generating exploration recommendations
  core/domain/recommendations_services.py
  core/domain/recommendations_services_test.py
  jobs/batch_jobs/cron_jobs.py
  jobs/batch_jobs/cron_jobs_test.py
  jobs/registry.py
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @brianrodri, PR: don't merge - STALE BUILD

#13770 added .python-version dynamically created file to .gitignore
  .gitignore
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#13811 Implement job generating translation contribution stats
  core/domain/suggestion_registry.py
  jobs/batch_jobs/cron_jobs.py
  jobs/batch_jobs/cron_jobs_test.py
  jobs/registry.py
  jobs/transforms/validation/blog_validation.py
  scripts/linters/pylint_extensions.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13812 Add Prod-behavior for running Apache Beam jobs
  core/controllers/beam_jobs.py
  core/controllers/beam_jobs_test.py
  core/domain/beam_job_domain.py
  core/domain/beam_job_domain_test.py
  core/domain/beam_job_services.py
  core/domain/beam_job_services_test.py
  core/storage/beam_job/gae_models.py
  core/storage/beam_job/gae_models_test.py
  core/templates/domain/jobs/beam-job-run.model.spec.ts
  core/templates/domain/jobs/beam-job-run.model.ts
  core/templates/domain/jobs/beam-job.model.spec.ts
  core/templates/domain/jobs/beam-job.model.ts
  core/templates/pages/release-coordinator-page/beam-jobs-tab/beam-jobs-tab.component.spec.ts
  core/templates/pages/release-coordinator-page/components/cancel-beam-job-dialog.component.spec.ts
  core/templates/pages/release-coordinator-page/components/start-new-beam-job-dialog.component.spec.ts
  core/templates/pages/release-coordinator-page/components/start-new-beam-job-dialog.component.ts
  core/templates/pages/release-coordinator-page/components/view-beam-job-output-dialog.component.spec.ts
  core/templates/pages/release-coordinator-page/services/release-coordinator-backend-api.service.spec.ts
  core/templates/pages/release-coordinator-page/services/release-coordinator-backend-api.service.ts
  feconf.py
  jobs/base_jobs.py
  jobs/base_jobs_test.py
  jobs/batch_jobs/blog_validation_jobs.py
  jobs/batch_jobs/validation_jobs.py
  jobs/io/ndb_io.py
  jobs/job_options.py
  jobs/jobs_manager.py
  jobs/jobs_manager_test.py
  jobs/registry.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13842 Fix frontend test failures: undefined message mismatch and failure to set URL
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.spec.ts
  core/templates/pages/library-page/search-bar/search-bar.component.spec.ts
  core/templates/pages/library-page/search-bar/search-bar.component.ts
  core/templates/services/math-interactions.service.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#13785 Fix part of #13449: Image Caption and Skill Review Text Validation Checks
  assets/rich_text_components_definitions.ts
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/components/forms/validators/has-length-at-most.filter.spec.ts
  core/templates/components/forms/validators/has-length-at-most.filter.ts
  core/templates/services/rte-helper.service.spec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#13816 Fixes part of #13764: Skill misconceptions must have unique names
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.controller.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.controller.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#13807 Fix part of #13764: thumbnail filename validation check
  assets/constants.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.html
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.spec.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13845 Use Dataflow Library to query status of Dataflow Jobs
  core/domain/beam_job_services.py
  core/domain/beam_job_services_test.py
  jobs/jobs_manager.py
  jobs/jobs_manager_test.py
  requirements.in
  requirements.txt
  stubs/google/cloud/dataflow.pyi
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13792 Decode result from run_cmd with UTF-8
  scripts/common.py
  scripts/common_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13836 Output backend test and installation messages as unicode instead of bytes
  scripts/install_backend_python_libs.py
  scripts/install_backend_python_libs_test.py
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13823 Fix encoding issues in HTML fields
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/html_validation_service.py
  core/domain/question_domain.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services_test.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_services_test.py
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  feconf.py
Labels: PR: LGTM

#13851 Fix #13850: Lazy loaded pages are scrollable now on mobile device.
  core/templates/base-components/base.module.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/blog-admin-page/blog-admin-page.module.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.module.ts
  core/templates/pages/collection-editor-page/collection-editor-page.module.ts
  core/templates/pages/collection-player-page/collection-player-page.module.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.module.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.module.ts
  core/templates/pages/error-pages/error-iframed-page/error-iframed-page.module.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/maintenance-page/maintenance-page.module.ts
  core/templates/pages/moderator-page/moderator-page.module.ts
  core/templates/pages/oppia-root/app.module.ts
  core/templates/pages/practice-session-page/practice-session-page.module.ts
  core/templates/pages/review-test-page/review-test-page.module.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/pages/story-editor-page/story-editor-page.module.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.module.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.module.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  core/templates/tests/console_errors.module.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#13817 Fixing parts of #13327: Improvements in the blog dashboard interface.
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.ts
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.html
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.ts
  core/templates/pages/blog-dashboard-page/navbar/navbar-pre-logo-action/blog-post-editor-pre-logo-action.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13854 Fix #13741: Do not merge from develop in backend CI workflow
  .github/workflows/backend_tests.yml
  scripts/linters/other_files_linter.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13847 Transfer kevintab95 codeowner files to other contributors
  .github/CODEOWNERS
Labels: PR: LGTM

#13767 Fix part of #13162: Adds schema for the DeleteAccountHandler
  core/controllers/payload_validator.py
  core/controllers/profile.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#13858 Undo use of netloc to check redirection.
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/cron.py
  core/controllers/cron_test.py
  main.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13855 Add refresh interval for beam jobs tab
  core/templates/pages/release-coordinator-page/beam-jobs-tab/beam-jobs-tab.component.spec.ts
  core/templates/pages/release-coordinator-page/beam-jobs-tab/beam-jobs-tab.component.ts
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @brianrodri

#13861 Update codeowners for contributor experience team to use code review team assignment
  .github/CODEOWNERS
Labels: PR: LGTM

#12978 Cache yarn packages
  .github/actions/install-oppia-dependencies/action.yml
  .github/workflows/backend_tests.yml
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features_and_library.yml
  .github/workflows/e2e_user_profile.yml
  .github/workflows/eslint_tests.yml
  .github/workflows/frontend_tests.yml
  .github/workflows/lighthouse_accessibility.yml
  .github/workflows/lighthouse_performance.yml
  .github/workflows/lint.yml
  .yarnrc
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13860 Fix #13596: Use team review for automated QA codeowner files
  .github/CODEOWNERS
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13577 Fix #13568: Numeric captions in images are ignored for translation validation
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
Labels: PR: LGTM

#13868 Don't update timestamps of Apache Beam Jobs when status is unknown
  jobs/jobs_manager.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13865 Introduce generics for ndb.Query
  core/platform/datastore/cloud_datastore_services.py
  core/storage/app_feedback_report/gae_models.py
  core/storage/auth/gae_models.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/classifier/gae_models.py
  core/storage/collection/gae_models.py
  core/storage/email/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/improvements/gae_models.py
  core/storage/job/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/question/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/statistics/gae_models.py
  core/storage/story/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/topic/gae_models.py
  core/storage/user/gae_models.py
  stubs/google/cloud/ndb/__init__.pyi
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#13772 Fix #13162: Add argument schema for ProfilePictureHandler and ProfilePictureHandlerByUsernameHandler classes
  core/controllers/payload_validator.py
  core/controllers/profile.py
  core/domain/user_domain.py
  schema_utils.py
  schema_utils_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#13818 Add pyenv libs to prerequisites
  scripts/install_prerequisites.sh
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep, PR: don't merge - STALE BUILD

#13871 Fix #13808: Revert files in codeowners back to @vojtechjelinek
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13878 Install typing extensions
  .pylintrc
  requirements.in
  requirements.txt
  scripts/create_topological_sort_of_all_services_test.py
  scripts/linters/pre_commit_linter.py
  scripts/linters/python_linter.py
  scripts/linters/python_linter_test.py
  utils.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13877 Update the codeowner
  .github/CODEOWNERS
Labels: PR: LGTM

#13853 Fix part of #8016: Make Http Calls of creator-dashboard-page.component.ts from external backend API service.
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.spec.ts
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.ts
Labels: PR: LGTM, REVIEWERS: Please add changelog label

#13874 Improve performance of Beam Jobs tab
  core/templates/pages/release-coordinator-page/beam-jobs-tab/beam-jobs-tab.component.spec.ts
  core/templates/pages/release-coordinator-page/beam-jobs-tab/beam-jobs-tab.component.ts
  jobs/job_options.py
  jobs/jobs_manager.py
  jobs/jobs_manager_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13875 Update contributor's email address.
  AUTHORS
  CONTRIBUTORS
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13844 Fix part of #11496: Lint Check for no use of forEach
  core/tests/protractor_utils/ExplorationEditorHistoryTab.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/ProfilePage.js
  scripts/linters/custom_eslint_checks/rules/protractor-practices.js
  scripts/linters/custom_eslint_checks/rules/protractor-practices.spec.js
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13763 Fix #13762 : Replacing "Test Complete" with "Session Complete" on Practice Page
  assets/i18n/en.json
  core/tests/protractor_desktop/topicAndStoryViewer.js
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13856 Fix part of #10798: Fix end-to-end tests for ExplorationEditorTranslationTab.js
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
  core/tests/protractor_utils/action.js
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13896 Cherry-pickable copy of #13892
  core/controllers/base.py
  core/controllers/base_test.py
  core/templates/pages/delete-account-page/services/delete-account-backend-api.service.spec.ts
  core/templates/pages/delete-account-page/services/delete-account-backend-api.service.ts
  core/templates/pages/logout-page/logout-page.component.ts
  core/templates/pages/signup-page/signup-page.component.ts
  core/templates/services/utils.service.spec.ts
  core/templates/services/utils.service.ts
Labels: PR: for current release, PR CHANGELOG: Bug fixes -- @nithusha21

#13897 Lazy loaded pages are scrollable now on mobile device
  core/templates/base-components/base.module.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/classroom-page/classroom-page.module.ts
  core/templates/pages/collection-editor-page/collection-editor-page.module.ts
  core/templates/pages/collection-player-page/collection-player-page.module.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.module.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.module.ts
  core/templates/pages/delete-account-page/delete-account-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.module.ts
  core/templates/pages/error-pages/error-iframed-page/error-iframed-page.module.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.module.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/library-page/library-page.module.ts
  core/templates/pages/maintenance-page/maintenance-page.module.ts
  core/templates/pages/moderator-page/moderator-page.module.ts
  core/templates/pages/oppia-root/app.module.ts
  core/templates/pages/oppia-root/index.ts
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.module.ts
  core/templates/pages/practice-session-page/practice-session-page.module.ts
  core/templates/pages/preferences-page/preferences-page.module.ts
  core/templates/pages/profile-page/profile-page.module.ts
  core/templates/pages/review-test-page/review-test-page.module.ts
  core/templates/pages/signup-page/signup-page.module.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/pages/splash-page/splash-page.module.ts
  core/templates/pages/story-editor-page/story-editor-page.module.ts
  core/templates/pages/story-viewer-page/story-viewer-page.module.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.module.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.module.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  core/templates/tests/console_errors.module.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#13885 Introduce a simple test job for educational purposes and practical testing
  core/controllers/access_validators_test.py
  core/controllers/beam_jobs_test.py
  core/platform/auth/firebase_auth_services_test.py
  core/platform/bulk_email/mailchimp_bulk_email_services_test.py
  core/platform/datastore/cloud_datastore_services.py
  core/storage/app_feedback_report/gae_models.py
  core/storage/app_feedback_report/gae_models_test.py
  core/storage/audit/gae_models_test.py
  core/storage/auth/gae_models_test.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/classifier/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/email/gae_models_test.py
  core/storage/exploration/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
  core/storage/job/gae_models.py
  core/storage/job/gae_models_test.py
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
  core/storage/question/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/statistics/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/storage/topic/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  core/tests/test_utils.py
  jobs/batch_jobs/cron_jobs.py
  jobs/batch_jobs/cron_jobs_test.py
  jobs/batch_jobs/test_jobs.py
  jobs/batch_jobs/test_jobs_test.py
  jobs/io/ndb_io.py
  jobs/job_test_utils.py
  jobs/job_utils.py
  jobs/job_utils_test.py
  jobs/jobs_manager_test.py
  jobs/registry.py
  scripts/backend_test_shards.json
  scripts/run_mypy_checks.py
  stubs/google/cloud/datastore.pyi
  stubs/google/cloud/ndb/__init__.pyi
  stubs/google/cloud/ndb/model.pyi
  stubs/google/cloud/ndb/query.pyi
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13886 Stop printing backend test errors twice
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13684 Update set/getPageTitle to set/getDocumentTitle in PageTitleService
  core/templates/base-components/base-content.component.spec.ts
  core/templates/base-components/base-content.component.ts
  core/templates/pages/about-foundation-page/about-foundation-page.component.ts
  core/templates/pages/classroom-page/classroom-page.component.spec.ts
  core/templates/pages/classroom-page/classroom-page.component.ts
  core/templates/pages/collection-editor-page/collection-editor-page.directive.spec.ts
  core/templates/pages/collection-editor-page/collection-editor-page.directive.ts
  core/templates/pages/collection-player-page/collection-player-page.directive.ts
  core/templates/pages/donate-page/donate-page.component.ts
  core/templates/pages/error-pages/error-404/error-404-page.component.spec.ts
  core/templates/pages/error-pages/error-404/error-404-page.component.ts
  core/templates/pages/error-pages/error-page-root.component.spec.ts
  core/templates/pages/error-pages/error-page-root.component.ts
  core/templates/pages/error-pages/error-page.component.spec.ts
  core/templates/pages/error-pages/error-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-player-page/exploration-player-page.component.spec.ts
  core/templates/pages/exploration-player-page/exploration-player-page.component.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.spec.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.ts
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/library-page.component.ts
  core/templates/pages/partnerships-page/partnerships-page.component.ts
  core/templates/pages/practice-session-page/practice-session-page.component.spec.ts
  core/templates/pages/practice-session-page/practice-session-page.component.ts
  core/templates/pages/review-test-page/review-test-page.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/story-editor-page/story-editor-page.component.spec.ts
  core/templates/pages/story-editor-page/story-editor-page.component.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.spec.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.spec.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/services/topic-editor-routing.service.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.ts
  core/templates/pages/volunteer-page/volunteer-page.component.ts
  core/templates/services/page-head.service.spec.ts
  core/templates/services/page-head.service.ts
  core/templates/services/page-title.service.spec.ts
  core/templates/services/page-title.service.ts
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#13904 Adds missing styles to story viewer page.
  core/templates/pages/story-viewer-page/story-viewer-page-root.component.html
  core/templates/pages/story-viewer-page/story-viewer-page-root.component.ts
Labels: PR: LGTM, PR CHANGELOG: Bug fixes -- @nithusha21

#12992 Adding Customization_Arg to Numeric Input
  core/controllers/classifier_test.py
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/question_domain.py
  core/domain/question_services_test.py
  core/domain/suggestion_registry.py
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-float-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-float-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-float-editor.directive.ts
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactorySpec.ts
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_desktop/explorationHistoryTab.js
  extensions/interactions/NumericInput/NumericInput.py
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.spec.ts
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.ts
  extensions/interactions/NumericInput/directives/oppia-interactive-numeric-input.component.spec.ts
  extensions/interactions/NumericInput/directives/oppia-interactive-numeric-input.component.ts
  extensions/interactions/NumericInput/protractor.js
  extensions/interactions/customization-args-defs.ts
  extensions/interactions/interaction_specs.json
  feconf.py
  typings/tests/customization-args-defs-test.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13898 Link concept card when user is not signed in
  core/templates/components/question-directives/question-player/question-player.component.html
  core/templates/components/question-directives/question-player/skill-mastery-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13867 Upgrade libraries
  .gitignore
  core/controllers/base.py
  core/controllers/learner_dashboard.py
  core/domain/learner_progress_services.py
  core/platform/taskqueue/cloud_taskqueue_services.py
  core/platform/taskqueue/cloud_taskqueue_services_test.py
  core/templates/app-events/event-bus.service.spec.ts
  core/templates/app-events/event-bus.service.ts
  core/templates/domain/exploration/stats-reporting-backend-api.service.ts
  core/templates/domain/objects/NumberWithUnitsObjectFactorySpec.ts
  core/templates/domain/objects/UnitsObjectFactory.ts
  core/templates/domain/objects/UnitsObjectFactorySpec.ts
  core/templates/domain/platform_feature/platform-feature-dummy-backend-api.service.ts
  core/templates/pages/login-page/login-page.component.ts
  core/templates/services/assets-backend-api.service.spec.ts
  core/templates/services/assets-backend-api.service.ts
  core/templates/services/auth.service.ts
  core/templates/services/math-interactions.service.ts
  core/templates/services/platform-feature.service.ts
  core/templates/services/prevent-page-unload-event.service.spec.ts
  core/templates/services/request-interceptor.service.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.spec.ts
  extensions/objects/templates/fraction-editor.component.ts
  extensions/objects/templates/number-with-units-editor.component.spec.ts
  extensions/objects/templates/number-with-units-editor.component.ts
  extensions/objects/templates/ratio-expression-editor.component.ts
  extensions/rich_text_components/Image/protractor.js
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.component.spec.ts
  requirements.in
  requirements.txt
  stubs/google/cloud/tasks_v2/types.pyi
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12367 Fix android #3016 Create domain object, domain services, cron scrubber, and controller for receiving feedback reports
  .github/CODEOWNERS
  android_validation_constants.py
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/controllers/incoming_app_feedback_report.py
  core/controllers/incoming_app_feedback_report_test.py
  core/domain/app_feedback_report_constants.py
  core/domain/app_feedback_report_domain.py
  core/domain/app_feedback_report_domain_test.py
  core/domain/app_feedback_report_services.py
  core/domain/app_feedback_report_services_test.py
  core/domain/takeout_service_test.py
  core/domain/wipeout_service_test.py
  core/storage/app_feedback_report/gae_models.py
  core/storage/app_feedback_report/gae_models_test.py
  core/tests/test_utils.py
  cron.yaml
  feconf.py
  main.py
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#13870 Change link to the release rota wiki
  release_constants.json
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21, PR: don't merge - STALE BUILD

#13892 Secure manual URL redirection in the frontend
  core/controllers/base.py
  core/controllers/base_test.py
  core/templates/pages/delete-account-page/services/delete-account-backend-api.service.spec.ts
  core/templates/pages/delete-account-page/services/delete-account-backend-api.service.ts
  core/templates/pages/logout-page/logout-page.component.ts
  core/templates/pages/signup-page/signup-page.component.ts
  core/templates/services/utils.service.spec.ts
  core/templates/services/utils.service.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#13913 Complete the API of Apache Beam jobs
  core/controllers/beam_jobs.py
  core/controllers/beam_jobs_test.py
  core/domain/beam_job_domain.py
  core/domain/beam_job_domain_test.py
  core/domain/beam_job_services.py
  core/domain/beam_job_services_test.py
  jobs/job_utils.py
  jobs/job_utils_test.py
  jobs/jobs_manager.py
  jobs/jobs_manager_test.py
  mypy_imports.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @brianrodri

#13796 Fixes question player issues
  assets/i18n/en.json
  core/templates/base-components/base-content.component.html
  core/templates/components/question-directives/question-player/question-player.component.html
  core/templates/directives/angular-html-bind.directive.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.ts
  extensions/rich_text_components/Skillreview/directives/skillreview.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13902 [Contributor Dashboard] Use supported languages list when computing incomplete translation languages on opportunity update
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: don't merge - STALE BUILD

#12918 Fix part of #9749: Migrate supplemental card directive
  core/templates/components/angular-html-bind/angular-html-bind-wrapper.directive.spec.ts
  core/templates/components/angular-html-bind/angular-html-bind-wrapper.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.ts
  core/templates/pages/exploration-player-page/services/player-position.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12863 Fix part of #9749: Migrate learner view info directive
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/exploration-player-page.import.ts
  core/templates/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.html
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.directive.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.directive.ts
  core/templates/pages/exploration-player-page/services/learner-view-info-backend-api.service.ts
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.html
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.spec.ts
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.ts
  core/templates/pages/exploration-player-page/templates/information-card-modal.controller.spec.ts
  core/templates/pages/exploration-player-page/templates/information-card-modal.controller.ts
  core/templates/pages/exploration-player-page/templates/information-card-modal.directive.html
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#13866 Send notification to chat-room for frontend test failure on develop
  .github/actions/send-webhook-notification/action.yml
  .github/workflows/frontend_tests.yml
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep, PR: don't merge - STALE BUILD

#13941 Fix #13153: Use different color for CTA 'go'
  core/templates/pages/library-page/search-bar/search-bar.component.html
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13943 Only report frontend test status on failure
  .github/workflows/frontend_tests.yml
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13939 Warn users about using query_everything()
  core/platform/datastore/cloud_datastore_services.py
  jobs/base_jobs.py
  jobs/base_jobs_test.py
  jobs/io/job_io.py
  jobs/io/job_io_test.py
  jobs/io/ndb_io_test.py
  jobs/job_options.py
  jobs/job_options_test.py
  jobs/job_test_utils_test.py
  jobs/registry_test.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#13950 Checking the memory usage even when e2e tests fails.
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features_and_library.yml
  .github/workflows/e2e_user_profile.yml
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13936 Fix production wipeout error
  core/domain/rights_manager.py
  core/domain/wipeout_service_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#13931 Fix #10798: Fixes End-to-End Tests for core/tests/protractor_utils/StoryEditorPage.js
  core/tests/protractor_utils/StoryEditorPage.js
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13947 Schedule Apache Beam jobs with CRON
  core/controllers/beam_jobs.py
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/domain/beam_job_services.py
  core/domain/beam_job_services_test.py
  cron.yaml
  main.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Python Migration -- @brianrodri

#13899 Remove terser from build
  package.json
  scripts/build.py
  scripts/build_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  webpack.terser.config.ts
  yarn.lock
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#13835 Fix #12888: Improve status of translation progress bar
  core/controllers/contributor_dashboard_test.py
  core/domain/opportunity_domain.py
  core/domain/opportunity_domain_test.py
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/templates/domain/opportunity/exploration-opportunity-summary.model.spec.ts
  core/templates/domain/opportunity/exploration-opportunity-summary.model.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.html
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.ts
  core/templates/pages/contributor-dashboard-page/voiceover-opportunities/voiceover-opportunities.component.spec.ts
Labels: PR: LGTM

#13945 Fix #13864: Remove empty cards from settings tab
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13946 Fix #12013: Show latest exploration content in translation review modal
  core/controllers/suggestion.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee
