Repository oppia/oppia, pull requests merged in 2021-01, with the labels that each got.

#11525 Show all topics that a skill has been assigned to in the dashboard page
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/templates/domain/skill/augmented-skill-summary.model.spec.ts
  core/templates/domain/skill/augmented-skill-summary.model.ts
  core/templates/pages/donate-page/donate-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
  core/tests/protractor_desktop/navigation.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#11558 Fix part of #8472: Migrate Editable Exploration Backend Api Service
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/exploration/editable-exploration-backend-api.service.spec.ts
  core/templates/domain/exploration/editable-exploration-backend-api.service.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11553 Fixes issue which caused Skill Editor to not load completely unless a digest loop was triggered
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.spec.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.controller.spec.ts
Labels: PR: LGTM

#11409 Fixes Part of #8472: Migrate Search Service to Angular 8
  core/templates/components/oppia-angular-root.component.ts
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/search-bar/search-bar.component.spec.ts
  core/templates/pages/library-page/search-bar/search-bar.component.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.spec.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/search-backend-api.service.spec.ts
  core/templates/services/search-backend-api.service.ts
  core/templates/services/search.service.spec.ts
  core/templates/services/search.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM, PR: don't merge - STALE BUILD

#11540 Fix part of #11462: Define Firebase-specific constants with empty values
  assets/constants.ts
  scripts/pre_commit_hook.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#11555 Fix part of #11462: Introduce Firebase emulator to dev workflow
  .gitignore
  feconf.py
  package.json
  scripts/common.py
  scripts/common_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/run_lighthouse_tests.py
  scripts/start.py
  yarn.lock
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#11429 Fix part of #11202: Add retry to queue.yaml and remove retry from Cloud Tasks
  core/platform/taskqueue/cloud_taskqueue_services.py
  core/platform/taskqueue/cloud_taskqueue_services_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM, PR: don't merge - STALE BUILD

#11570 Fix #11559: Fixed Promo looking wonky on the library page
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/library-page/library-page.mainpage.html
  core/templates/pages/library-page/search-bar/search-bar.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11537 Fix part of #11462: Add wipeout hooks for auth-related data
  core/domain/wipeout_service.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
  core/tests/test_utils.py
  core/tests/test_utils_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#11489 Fix part of #4057: Adds unit test for collection-playthrough.model.ts
  core/templates/domain/collection/collection-playthrough.model.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#11340 Fixes part of #10415: Refactor feedback validators
  core/domain/feedback_validators.py
  core/domain/feedback_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
Labels: PR: LGTM

#11596 Revert "Fix part of #8472: Migrate Editable Exploration Backend Api Service"
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/exploration/editable-exploration-backend-api.service.spec.ts
  core/templates/domain/exploration/editable-exploration-backend-api.service.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21

#11599 Fix success toast showing before a topic is saved
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11270 Fix #11527: Add base human maintained model
  core/platform/datastore/gae_datastore_services.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/collection/gae_models.py
  core/storage/exploration/gae_models.py
  core/tests/test_utils.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_put_async.py
  scripts/linters/test_files/invalid_put_multi_async.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#11245 Allow system users as committers and add jobs to fix issues in SkillSnapshotMetadataModelAuditOneOffJob
  core/domain/audit_validators.py
  core/domain/auth_validators.py
  core/domain/base_model_validators.py
  core/domain/base_model_validators_test.py
  core/domain/collection_validators.py
  core/domain/collection_validators_test.py
  core/domain/config_validators.py
  core/domain/config_validators_test.py
  core/domain/email_validators.py
  core/domain/email_validators_test.py
  core/domain/feedback_validators.py
  core/domain/feedback_validators_test.py
  core/domain/improvements_validators.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  core/domain/question_validators.py
  core/domain/question_validators_test.py
  core/domain/skill_jobs_one_off.py
  core/domain/skill_jobs_one_off_test.py
  core/domain/skill_validators.py
  core/domain/skill_validators_test.py
  core/domain/story_validators.py
  core/domain/story_validators_test.py
  core/domain/suggestion_validators.py
  core/domain/suggestion_validators_test.py
  core/domain/topic_validators.py
  core/domain/topic_validators_test.py
  core/domain/user_validators.py
Labels: PR: LGTM

#11460 Fix part of #10474: Cover Few Services with strict checks
  core/templates/services/debouncer.service.spec.ts
  core/templates/services/debouncer.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11571 Fix #9642: Changes the title Things to do to Available Tasks
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM, PR: don't merge - STALE BUILD

#11604 Fix links in CONTRIBUTORS file.
  CONTRIBUTORS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11565 Wait for Oppia Server To Shut Down Before Running E2E Tests
  scripts/common.py
  scripts/common_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: don't merge - STALE BUILD

#11524 Fix #8801: Fixed number overlapping in creator dashboard's navbar
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
Labels: PR: LGTM

#11580 Fixes #11566: Added flexbox for fixing overflow of text
  core/templates/pages/donate-page/donate-page.component.html
Labels: PR: LGTM

#11589 Fix part of #5914: Remove Takeout variable redeclaration
  core/controllers/profile.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11613 Wait for language selector to be present before clicking on it
  core/tests/protractor_desktop/userJourneys.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11382 Fix part of #5914: Add Controller Level Gating Against User ID Export
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/domain/base_model_validators.py
  core/domain/email_validators.py
  core/domain/feedback_validators.py
  core/domain/prod_validators.py
  feconf.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#11598 Fix part of #10798 : Fixed End-to-End Tests with action.js and waitFor.js inSubscriptionDashboardPage.js
  core/tests/protractor_utils/SubscriptionDashboardPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11600 Unblur and enable by default all chapters in the story viewer page
  core/templates/components/summary-tile/story-summary-tile.directive.html
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.component.spec.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.ts
  core/tests/protractor_desktop/topicAndStoryViewer.js
  core/tests/protractor_utils/TopicAndStoryViewerPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11506 Fixes issue #11454: Footer in preview changes tab looks odd in mobile.
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.html
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.html
Labels: PR: LGTM

#11575 Fix part of #10474: Enable strict checks for graph input
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11612 Update skill only after fetchSkill and fetchSkillRightsAsync have returned
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11546 Fix part of #11314: add local ElasticSearch server for dev mode and testing
  core/controllers/collection_editor.py
  core/controllers/library.py
  core/domain/collection_services.py
  core/domain/collection_services_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/search_services.py
  core/domain/search_services_test.py
  core/domain/summary_services.py
  core/platform/models_test.py
  core/platform/search/elastic_search_services.py
  core/platform/search/elastic_search_services_test.py
  core/platform/search/gae_search_services.py
  core/platform/search/gae_search_services_test.py
  core/tests/test_utils.py
  feconf.py
  scripts/common.py
  scripts/common_test.py
  scripts/install_third_party.py
  scripts/install_third_party_test.py
  scripts/linters/pylint_extensions_test.py
  scripts/pre_push_hook.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/run_lighthouse_tests.py
  scripts/start.py
Labels: PR: LGTM

#11628 Handles Concept card backdrop click and fixes an e2e flake
  core/tests/protractor_utils/TopicEditorPage.js
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11499 Fix part of #11367: Switch translation opportunity editor to RTL when translating into an RTL language
  assets/constants.ts
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/domain/utilities/language-util.service.spec.ts
  core/templates/domain/utilities/language-util.service.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-language.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-language.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#11437 Fix #10386: Fix `created_on` in `UserSettingsModel`
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer

#11406 Fix part of #11329: admin-navbar-directive (remove: addclass and removeclass)
  core/templates/pages/admin-page/navbar/admin-navbar.directive.html
  core/templates/pages/admin-page/navbar/admin-navbar.directive.ts
Labels: PR: LGTM

#11637 Fix #6292: This PR fixes #6292 as per #11635
  core/templates/components/state-editor/state-content-editor/state-content-editor.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11641 Fix external fetcher error reporting
  core/domain/base_model_validators.py
  core/domain/base_model_validators_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM, PR: for current release

#11648 Adds correct release constants for migration job names list
  release_constants.json
Labels: PR CHANGELOG: Release team -- @nithusha21, PR: LGTM

#11658 Adds the Pashto language for exploration translation and voiceover
  assets/constants.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: for current release

#11662 Clean up ElasticSearch server after e2e run.
  scripts/common.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11672 Fix css linter chekcs never stops because of re.sub() call
  scripts/linters/css_linter.py
  scripts/linters/js_ts_linter.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11622 Disable accept/reject button while resolving translation suggestion and fixes other contributor dashbaord issues
  core/domain/suggestion_services.py
  core/templates/components/ck-editor-helpers/ck-editor-copy-content-service.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#11656 Fix #11519: Removes "Uncategorized Skills" from topic editor if all skills have been categorized
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11638 Fix #11389: Updates margin of the supplemental card in exploration player page
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11579 Fix part of #10728: Move python regex lint check to pylint
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
  scripts/linters/python_linter.py
  scripts/linters/python_linter_test.py
  scripts/linters/test_files/invalid_test_only.py
  scripts/linters/test_files/valid_test_file_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11669 fix preferencePages as part of #10798
  core/tests/protractor_utils/PreferencesPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#11651 Fix #11536: Fix overflowing map container in exploration editor
  extensions/interactions/InteractiveMap/directives/interactive-map-interaction.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11619 Fix part of #10798: Fix end to end tests for ExplorationEditorImprovementsTab.js
  core/tests/protractor_utils/ExplorationEditorImprovementsTab.js
Labels: PR: LGTM

#11567 Fix part of #11464 task 20 and 21 fixing border-bottom
  core/templates/css/oppia.css
Labels: PR: don't merge - STALE BUILD

#11719 Fixes minor syntax issues in the correctness footer
  core/templates/pages/exploration-player-page/layout-directives/correctness-footer.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11650 Fix part of #8038: Changes translation-file-hash-loader.service.ts name to translation-file-hash-loader-backend-api.service.ts
  .github/CODEOWNERS
  core/templates/App.ts
  core/templates/I18nFooter.ts
  core/templates/services/translation-file-hash-loader-backend-api.service.ts
  scripts/check_frontend_coverage.py
Labels: PR: LGTM

#11712 Audit job to list all interaction ids in a topic
  core/domain/topic_jobs_one_off.py
  core/domain/topic_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR: Affects datastore layer, PR: LGTM

#11710 Fix part of #10306: Added async keyword to functions that return a promise
  core/templates/pages/exploration-editor-page/statistics-tab/statistics-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/statistics-tab.component.ts
  core/templates/services/exploration-improvements.service.spec.ts
  core/templates/services/exploration-improvements.service.ts
  core/templates/services/exploration-stats.service.spec.ts
  core/templates/services/exploration-stats.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11745 Fix #11727: Update the CODEOWNERS file and lint check to ensure new files don’t fall under blanket code owners
  .github/CODEOWNERS
  core/domain/rules_registry_test.py
  core/templates/pages/community-dashboard-page/modal-templates/login-required-modal.directive.html
  scripts/linters/codeowner_linter.py
  scripts/linters/codeowner_linter_test.py
  scripts/linters/test_files/invalid_file_path_with_blanket_codeowner_only
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11640 Fix #11632: Resolve nits from #11499 and fix one bug from #11499
  constants_test.py
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/domain/utilities/language-util.service.spec.ts
  core/templates/domain/utilities/language-util.service.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-language.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: LGTM, PR: for current release

#11674 Fix part of #11464 task 12 highlighting interaction selection modal
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: don't merge - STALE BUILD

#11670 Hide create topic/skill buttons for users with insufficient access rights; Update page title guidelines;
  core/controllers/topic_editor.py
  core/templates/domain/topic/editable-topic-backend-api.service.spec.ts
  core/templates/domain/topic/editable-topic-backend-api.service.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11646 Fix #11469, #11623: Fix audit jobs, adding ID validation and reducing shards for audit jobs
  core/domain/base_model_validators.py
  core/domain/base_model_validators_test.py
  core/domain/email_validators_test.py
  core/domain/improvements_validators_test.py
  core/domain/recommendations_validators.py
  core/domain/recommendations_validators_test.py
  core/domain/story_validators.py
  core/domain/story_validators_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11733 Fix of #11676 placing button inside the banner
  core/templates/pages/library-page/library-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: don't merge - STALE BUILD, PR: for current release

#11760 Fix part of #8472: Migrate translation-tab-active-content-id.service
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-content-id.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-content-id.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11568 Fix part of #10306: Adds async keyword in read-only-collection-backend-api.service
  core/templates/domain/collection/read-only-collection-backend-api.service.spec.ts
  core/templates/domain/collection/read-only-collection-backend-api.service.ts
  core/templates/pages/collection-player-page/collection-player-page.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  extensions/interactions/EndExploration/directives/oppia-interactive-end-exploration.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: don't merge - STALE BUILD

#11740 Fix part of #10306 adding async in ansynchronous functions of Translations-backend-api.service
  core/templates/services/translate.service.ts
  core/templates/services/translations-backend-api.service.spec.ts
  core/templates/services/translations-backend-api.service.ts
Labels: PR: LGTM

#11597 Fix part of #10049: Remove deprecated field from `UserSubscriptionsModel`
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR: Affects datastore layer, PR: LGTM, PR: don't merge - STALE BUILD

#11728 Fix part of #11572: Tighten some try/excepts and use `exception` instead of `error` in some places
  core/controllers/admin.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/controllers/resources.py
  core/domain/collection_jobs_one_off.py
  core/domain/exp_services_test.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/improvements_validators.py
  core/domain/interaction_registry.py
  core/domain/interaction_registry_test.py
  core/domain/param_domain.py
  core/domain/param_domain_test.py
  core/domain/question_jobs_one_off.py
  core/domain/skill_jobs_one_off.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/story_fetchers.py
  core/domain/taskqueue_services.py
  core/domain/topic_jobs_one_off.py
  core/domain/topic_jobs_one_off_test.py
  core/jobs.py
  core/jobs_test.py
  core/storage/base_model/gae_models.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11773 Added code snippet for Google Optimize
  core/templates/pages/header_js_libs.html
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: LGTM, PR: for current release

#11746 Fix #11630: Changed 'Goal' to 'Chapter description' in story editor
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11729 Relocated sidebar-status.service.ts file from domain to services directory.
  .github/CODEOWNERS
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/pages/Base.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/sidebar-status.service.spec.ts
  core/templates/services/sidebar-status.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11350 Fix part of #10049: Remove deprecated fields from `CollectionModel` and `CollectionRightsModel`
  core/domain/collection_domain.py
  core/domain/collection_jobs_one_off.py
  core/domain/collection_jobs_one_off_test.py
  core/domain/collection_services.py
  core/jobs_registry.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#11754 Upgrade libraries
  core/templates/combined-tests.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.spec.ts
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  extensions/objects/templates/svg-filename-editor.component.ts
  extensions/rich_text_components/Svgdiagram/protractor.js
  package.json
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11794 Pin webdriver-manager package to ^12.1.8
  package.json
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: LGTM

#11801 fix "confirm delete skill button is not clickable" flake in topicsAndSkillsDashboard
  core/templates/pages/topics-and-skills-dashboard-page/delete-skill-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/unassign-skill-from-topics-modal.controller.ts
Labels: PR: LGTM

#11793 Optimizes the exploration save process and defers the summary generation call
  core/controllers/library_test.py
  core/controllers/profile_test.py
  core/controllers/tasks.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/prod_validators_test.py
  core/domain/state_domain.py
  core/domain/summary_services_test.py
  core/domain/taskqueue_services.py
  core/domain/user_validators_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11573 Fix question editor issues
  core/templates/components/question-difficulty-selector/question-difficulty-selector.directive.html
  core/templates/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.directive.html
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.html
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.html
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.directive.html
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/question/QuestionObjectFactorySpec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.directive.html
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review.directive.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
  core/templates/pages/skill-editor-page/services/question-creation-service.spec.ts
  core/templates/pages/skill-editor-page/services/question-creation.service.ts
  core/templates/pages/topic-editor-page/modal-templates/select-skill-and-difficulty-modal.template.html
  core/tests/protractor_desktop/contributorDashboard.js
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11775 Add notification email when Wipeout fails
  core/domain/email_manager.py
  core/domain/wipeout_jobs_one_off_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11465 Fix part of #5914: Truncate commit_message lengths to enable projection queries for Takeout
  assets/constants.ts
  core/controllers/collection_editor.py
  core/controllers/collection_editor_test.py
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/controllers/story_editor.py
  core/controllers/story_editor_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/domain/activity_jobs_one_off.py
  core/domain/activity_jobs_one_off_test.py
  core/jobs_registry.py
  core/templates/app.constants.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.ts
  core/templates/components/question-directives/modal-templates/question-editor-save-modal.template.html
  core/templates/pages/collection-editor-page/templates/collection-editor-save-modal.controller.ts
  core/templates/pages/collection-editor-page/templates/collection-editor-save-modal.directive.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.controller.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.directive.html
  core/templates/pages/exploration-editor-page/modal-templates/exploration-save-modal.controller.ts
  core/templates/pages/exploration-editor-page/modal-templates/exploration-save-modal.template.html
  core/templates/pages/exploration-editor-page/suggestion-modal-for-editor-view/exploration-editor-suggestion-modal.controller.ts
  core/templates/pages/exploration-editor-page/suggestion-modal-for-editor-view/exploration-editor-suggestion-modal.template.html
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.directive.html
  core/templates/pages/skill-editor-page/skill-editor-page.component.ts
  core/templates/pages/story-editor-page/modal-templates/story-editor-save-modal.template.html
  core/templates/pages/story-editor-page/story-editor-page.component.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-save-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-save-modal.template.html
  feconf.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#11796 Fix part of #11462: Initialize AngularFire with Firebase constants
  assets/constants.ts
  core/templates/App.ts
  core/templates/components/oppia-angular-root.component.spec.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/css/oppia.css
  core/templates/pages/header_css_libs.html
  core/templates/services/auth.service.spec.ts
  core/templates/services/auth.service.ts
  package.json
  scripts/pre_commit_hook.py
  yarn.lock
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#11513 Deprecating parameters in exploration editor settings
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11803 Fix #11015 & #11603: show warning sign in the default answer group; fix date issues in the history tab;
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.html
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/services/date-time-format.service.spec.ts
  core/templates/services/date-time-format.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#11799 Add metrics for 'curated lesson completed'
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
Labels: PR: LGTM, PR: don't merge - STALE BUILD, PR: for current release

#11810 Fix #11477: Update codeowners in preparation for vacation.
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11813 Fix part of #10474: Enable strict check on audio language model
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11574 Fix part of #10474: Cover more files with strict checks
  core/templates/filters/string-utility-filters/normalize-whitespace-punctuation-and-case.pipe.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-rules.service.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-rules.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11625 Fix part of #11464:Changes question editor flow in skill editor tab and Fixes task 7
  core/templates/components/question-directives/modal-templates/question-editor-modal.directive.html
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/skill-editor-page/services/skill-editor-routing.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-routing.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11732 Fixes #11675: Adding limit to story description
  assets/constants.ts
  core/domain/story_jobs_one_off.py
  core/domain/story_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/story/gae_models.py
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-story-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-story-modal.template.html
Labels: PR: Affects datastore layer, PR: for current release

#11797 Fix part of #7450: Modify private methods in SuggestionIntegrationTests
  core/domain/suggestion_services_test.py
Labels: PR: LGTM

#11774 Fix part of #11314: Switch over to elasticsearch in dev and prod.
  core/controllers/editor_test.py
  core/domain/exp_services_test.py
  core/platform/models.py
  core/platform/models_test.py
  core/platform/search/elastic_search_services.py
  core/platform/search/elastic_search_services_test.py
  core/tests/protractor/learnerFlow.js
  core/tests/protractor_desktop/additionalPlayerFeatures.js
  core/tests/protractor_desktop/collections.js
  core/tests/protractor_desktop/explorationFeedbackTab.js
  core/tests/protractor_utils/CollectionEditorPage.js
  feconf.py
  scripts/common.py
  scripts/common_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/run_lighthouse_tests.py
  scripts/start.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri
