Repository oppia/oppia, pull requests merged in 2021-08, with the labels that each got.

#13527 Only include images from the current exp version for download
  core/domain/exp_services.py
  core/domain/exp_services_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13530 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13485 Consolidate Image RTE components
  assets/rich_text_components_definitions.ts
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/html_cleaner.py
  core/domain/html_cleaner_test.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/question_domain.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_fetchers_test.py
  core/domain/skill_services_test.py
  core/domain/state_domain.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_services_test.py
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/jobs_registry.py
  core/templates/components/oppia-angular-root.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/exploration-editor-page/ckeditor_dependency.html
  core/templates/services/rte-helper.service.spec.ts
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/protractor_desktop/fileUploadExtensions.js
  core/tests/protractor_utils/forms.js
  extensions/objects/object-components.module.ts
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/templates/filepath-editor.component.html
  extensions/objects/templates/filepath-editor.component.spec.ts
  extensions/objects/templates/filepath-editor.component.ts
  extensions/objects/templates/image-editor.component.html
  extensions/objects/templates/image-editor.component.spec.ts
  extensions/objects/templates/image-editor.component.ts
  extensions/objects/templates/svg-editor.component.html
  extensions/objects/templates/svg-editor.component.spec.ts
  extensions/objects/templates/svg-editor.component.ts
  extensions/objects/templates/svg-editor.constants.ajs.ts
  extensions/objects/templates/svg-editor.constants.ts
  extensions/objects/templates/svg-file-fetcher-backend-api.service.ts
  extensions/rich_text_components/Image/circle.svg
  extensions/rich_text_components/Image/directives/image.component.html
  extensions/rich_text_components/Image/protractor.js
  extensions/rich_text_components/Svgdiagram/Svgdiagram.png
  extensions/rich_text_components/Svgdiagram/directives/oppia-noninteractive-svgdiagram.component.spec.ts
  extensions/rich_text_components/Svgdiagram/directives/oppia-noninteractive-svgdiagram.component.ts
  extensions/rich_text_components/Svgdiagram/directives/svgdiagram.component.html
  extensions/rich_text_components/Svgdiagram/protractor.js
  extensions/rich_text_components/components.py
  extensions/rich_text_components/components_test.py
  extensions/rich_text_components/protractor.js
  extensions/rich_text_components/rich-text-components.module.ts
  extensions/rich_text_components/richTextComponentsRequires.ts
  feconf.py
  scripts/check_frontend_test_coverage.py
  tsconfig-strict.json
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Affects datastore layer

#13505 Tighten rerun policies based on e2e metrics
  scripts/run_e2e_tests.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13466 Fix part of #10474: Made strict typescript checks for image-upload-helper
  core/templates/services/image-upload-helper.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13525 Fix part of #13467 Fixes frontend test flake in noninteractiveimage.component
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.component.spec.ts
Labels: PR: don't merge - STALE BUILD

#13441 Fix part of #8423: Implement lint check for keeping element selectors at the tops of files.
  .eslintrc
  core/tests/protractor_utils/AdminPage.js
  core/tests/protractor_utils/CreatorDashboardPage.js
  core/tests/protractor_utils/ExplorationEditorFeedbackTab.js
  core/tests/protractor_utils/ExplorationEditorHistoryTab.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/ExplorationEditorPage.js
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
  core/tests/protractor_utils/LibraryPage.js
  core/tests/protractor_utils/PreferencesPage.js
  core/tests/protractor_utils/ReleaseCoordinatorPage.js
  core/tests/protractor_utils/SkillEditorPage.js
  core/tests/protractor_utils/TopicEditorPage.js
  core/tests/protractor_utils/TopicViewerPage.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  core/tests/protractor_utils/forms.js
  core/tests/protractor_utils/workflow.js
  scripts/linters/custom_eslint_checks/rules/check-element-selector-at-top.js
  scripts/linters/custom_eslint_checks/rules/check-element-selector-at-top.spec.js
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13526 Fix #13509: Bug fixes related to item select
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts
  core/templates/components/state-directives/rule-editor/rule-editor.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
  extensions/objects/templates/set-of-translatable-html-content-ids-editor.component.html
Labels: PR: LGTM

#13369 Fixes part of #10474: add some files in ts-strict
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactorySpec.ts
  core/templates/domain/exploration/SolutionObjectFactory.ts
  core/templates/domain/exploration/SolutionObjectFactorySpec.ts
  core/templates/domain/exploration/WrittenTranslationObjectFactory.ts
  core/templates/domain/exploration/WrittenTranslationsObjectFactory.ts
  core/templates/domain/exploration/exploration-draft.model.spec.ts
  core/templates/domain/objects/NumberWithUnitsObjectFactory.ts
  core/templates/services/extension-tag-assembler.service.spec.ts
  core/templates/services/extension-tag-assembler.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13473 Fix part of #10474: Enables strict typescript checks for some files - (2.3)
  core/templates/app-events/event-bus.service.spec.ts
  core/templates/app-events/event-bus.service.ts
  core/templates/components/entity-creation-services/exploration-creation.service.spec.ts
  core/templates/components/on-screen-keyboard/on-screen-keyboard.component.spec.ts
  core/templates/components/on-screen-keyboard/on-screen-keyboard.component.ts
  core/templates/components/ratings/rating-computation/rating-computation.service.spec.ts
  core/templates/components/ratings/rating-computation/rating-computation.service.ts
  core/templates/components/summary-tile/exploration-summary-tile.component.spec.ts
  core/templates/components/summary-tile/exploration-summary-tile.component.ts
  core/templates/directives/focus-on.directive.ts
  core/templates/domain/learner_dashboard/learner-dashboard-activity-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-activity-backend-api.service.ts
  core/templates/domain/summary/creator-exploration-summary.model.ts
  core/templates/pages/creator-dashboard-page/modal-templates/create-activity-modal.component.spec.ts
  core/templates/pages/creator-dashboard-page/modal-templates/create-activity-modal.component.ts
  core/templates/services/guppy-initialization.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.spec.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.spec.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.spec.ts
  extensions/objects/templates/algebraic-expression-editor.component.spec.ts
  extensions/objects/templates/algebraic-expression-editor.component.ts
  extensions/objects/templates/math-equation-editor.component.spec.ts
  extensions/objects/templates/numeric-expression-editor.component.spec.ts
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.component.spec.ts
  tsconfig-strict.json
  typings/guppy-defs-7509f31c3f6e1205763d605ab41098cf6ac9d738.d.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#13553 Fix #13220: Math interaction regex fix for Safari
  core/templates/services/math-interactions.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13558 Fix #13168: dnd rule editor issues
  core/templates/components/state-directives/rule-editor/rule-editor.component.ts
  extensions/objects/object-components.module.ts
  extensions/objects/templates/translatable-html-content-id.component.html
  extensions/objects/templates/translatable-html-content-id.component.spec.ts
  extensions/objects/templates/translatable-html-content-id.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#13560 Fix #13448: Show placeholder text in Numeric Input interaction
  extensions/interactions/NumericInput/directives/numeric-input-interaction.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13511 Fix #13447: Removes roles related flags from the response
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/base.py
  core/controllers/library_test.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/learner_dashboard/learner-dashboard-activity-backend-api.service.ts
  core/templates/domain/question/editable-question-backend-api.service.ts
  core/templates/pages/admin-page/config-tab/admin-config-tab.component.spec.ts
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.html
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.spec.ts
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.ts
  core/templates/pages/admin-page/roles-tab/roles-and-actions-visualizer.component.html
  core/templates/pages/admin-page/roles-tab/roles-and-actions-visualizer.component.spec.ts
  core/templates/pages/admin-page/roles-tab/roles-and-actions-visualizer.component.ts
  core/templates/pages/admin-page/services/admin-data.service.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13503 Frontend Unit Tests(7): Add frontend tests for multiple files
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.directive.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar-breadcrumb.component.spec.ts
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/templates/graph-property-editor.component.spec.ts
  extensions/objects/templates/list-of-sets-of-translatable-html-content-ids-editor.component.spec.ts
  extensions/objects/templates/parameter-name-editor.component.html
  extensions/objects/templates/parameter-name-editor.component.spec.ts
  extensions/objects/templates/parameter-name-editor.component.ts
  extensions/objects/templates/parameter-name-editor.directive.ts
  extensions/objects/templates/real-editor.component.spec.ts
  extensions/objects/templates/skill-selector-editor.component.spec.ts
  extensions/objects/templates/subtitled-unicode-editor.component.spec.ts
  extensions/value_generators/templates/random-selector.directive.spec.ts
  extensions/visualizations/oppia-visualization-enumerated-frequency-table.directive.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#13571 Fix #13463 and #13460: Linking more questions in question editor and mailchimp api key error
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_service_test.py
  core/templates/components/question-directives/questions-list/questions-list.component.spec.ts
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.html
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.ts
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.component.html
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13368 Fix Part of #10474: Cover some files with TS strict checks - 10
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.ts
  core/templates/components/entity-creation-services/collection-creation.service.spec.ts
  core/templates/domain/summary/exploration-summary-backend-api.service.spec.ts
  core/templates/domain/summary/exploration-summary-backend-api.service.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  core/templates/services/messenger.service.spec.ts
  core/templates/services/messenger.service.ts
  core/templates/services/prevent-page-unload-event.service.spec.ts
  core/templates/services/prevent-page-unload-event.service.ts
  core/templates/services/services.constants.ts
  core/templates/services/speech-synthesis-chunker.service.spec.ts
  core/templates/services/speech-synthesis-chunker.service.ts
  extensions/interactions/FractionInput/directives/oppia-response-fraction-input.component.spec.ts
  extensions/interactions/GraphInput/directives/graph-input-rules.service.spec.ts
  extensions/interactions/GraphInput/directives/graph-input-rules.service.ts
  extensions/interactions/GraphInput/directives/graph-utils.service.ts
  extensions/interactions/ImageClickInput/directives/oppia-short-response-image-click-input.component.spec.ts
  extensions/interactions/ImageClickInput/directives/oppia-short-response-image-click-input.component.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.spec.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13413 M2.1: Add type annotations
  .github/CODEOWNERS
  .isort.cfg
  core/platform/datastore/gae_datastore_services.py
  core/platform/datastore/gae_datastore_services_test.py
  core/platform/models.py
  core/platform/models_test.py
  core/platform/transactions/gae_transaction_services.py
  core/storage/activity/gae_models.py
  core/storage/activity/gae_models_test.py
  core/storage/app_feedback_report/gae_models.py
  core/storage/app_feedback_report/gae_models_test.py
  core/storage/audit/gae_models.py
  core/storage/audit/gae_models_test.py
  core/storage/auth/gae_models.py
  core/storage/auth/gae_models_test.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/classifier/gae_models.py
  core/storage/classifier/gae_models_test.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/config/gae_models.py
  core/storage/config/gae_models_test.py
  feconf.py
  jobs/blog_validation_errors_test.py
  jobs/blog_validation_jobs.py
  jobs/blog_validation_jobs_test.py
  jobs/transforms/blog_validation.py
  jobs/transforms/blog_validation_test.py
  jobs/transforms/skill_validation.py
  jobs/transforms/skill_validation_test.py
  jobs/transforms/story_validation.py
  jobs/transforms/story_validation_test.py
  jobs/transforms/subtopic_validation.py
  jobs/transforms/subtopic_validation_test.py
  main.py
  main_cron.py
  main_taskqueue.py
  mypy_imports.py
  scripts/linters/pylint_extensions.py
  scripts/run_mypy_checks.py
  stubs/google/appengine/ext/__init__.pyi
  stubs/google/appengine/ext/ndb/__init__.pyi
  stubs/google/appengine/ext/ndb/google_imports.pyi
  stubs/google/appengine/ext/vendor.pyi
Labels: PR: Affects datastore layer

#13536 Fix part of #13449: RTE validation for checking if the url for a link begins with https://
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/components/forms/validators/is-regex-matched.filter.spec.ts
  core/templates/components/forms/validators/is-regex-matched.filter.ts
  core/tests/protractor_desktop/extensions.js
  extensions/objects/templates/sanitized-url-editor.component.spec.ts
  extensions/objects/templates/sanitized-url-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13588 Fix #13451: import -> require toastr.css
  core/templates/components/common-layout-directives/common-elements/alert-message.component.ts
Labels: PR: for current release

#13535 Frontend Unit Tests(8): Add frontend tests for multiple files
  core/templates/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  extensions/interactions/MusicNotesInput/directives/oppia-response-music-notes-input.directive.spec.ts
  extensions/interactions/MusicNotesInput/directives/oppia-short-response-music-notes-input.directive.spec.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-response-pencil-code-editor.directive.spec.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-short-response-pencil-code-editor.directive.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13446 Fixing a Flake in Topic and Story Editor File Upload Features
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_utils/StoryEditorPage.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13570 Remove @brianrodri from CODEOWNERS
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13583 Fix #13545, #13546, #13547: Fixes editor facing bugs
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/components/forms/custom-forms-directives/html-select.directive.html
  core/templates/services/rte-helper-modal.controller.spec.ts
  core/templates/services/rte-helper-modal.controller.ts
  extensions/objects/templates/set-of-translatable-html-content-ids-editor.component.ts
  extensions/objects/templates/translatable-html-content-id.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13579 Fix part of #13596: Temporary codeowner removal
  .github/CODEOWNERS
Labels: PR: LGTM

#13552 Added unit tests for the following files.
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.directive.spec.ts
  core/templates/pages/collection-editor-page/settings-tab/collection-details-editor.directive.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM

#13584 Allow marking translations as stale in the editor
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.html
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13513 Redesigning and Updating the Learner Dashboard Page Milestone-2.1
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/images/learner_dashboard/book.svg
  assets/images/learner_dashboard/book_icon.png
  assets/images/learner_dashboard/bronze.png
  assets/images/learner_dashboard/dropdown.svg
  assets/images/learner_dashboard/empty_badge.png
  assets/images/learner_dashboard/gold.png
  assets/images/learner_dashboard/info.svg
  assets/images/learner_dashboard/silver.png
  assets/images/learner_dashboard/up.svg
  core/templates/app.constants.ts
  core/templates/components/shared-component.module.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/progress-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/progress-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/progress-tab.component.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.module.ts
  feconf.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13524 M2.2: Add type annotations
  core/storage/auth/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/email/gae_models.py
  core/storage/email/gae_models_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
  core/storage/improvements/gae_models.py
  core/storage/improvements/gae_models_test.py
  core/storage/job/gae_models.py
  core/storage/job/gae_models_test.py
  core/storage/opportunity/gae_models.py
  core/storage/opportunity/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  mypy_imports.py
  scripts/run_mypy_checks.py
  stubs/google/cloud/ndb/__init__.pyi
Labels: PR: Affects datastore layer

#13599 Update authors and changelog for v3.1.3
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
  package.json
Labels: PR CHANGELOG: Release team -- @nithusha21

#13450 Adds schems in email_dashboard and feedback modules.
  assets/constants.ts
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/email_dashboard.py
  core/controllers/email_dashboard_test.py
  core/controllers/feedback.py
  core/controllers/feedback_test.py
  core/controllers/learner_dashboard.py
  core/controllers/learner_dashboard_test.py
  core/controllers/payload_validator.py
  core/domain/feedback_services_test.py
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.html
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.ts
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#13616 Increase max-old-space-size for karma process to 4096 KB
  core/tests/karma.conf.ts
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#13580 Fix #12959: Enable translations of rules in the contributor dashboard
  core/controllers/contributor_dashboard_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/exp_domain_test.py
  core/domain/opportunity_services_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/templates/domain/opportunity/translatable-content.model.ts
  core/templates/domain/opportunity/translatable-texts.model.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
  core/templates/services/schema-default-value.service.ts
  core/templates/services/user-backend-api.service.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#13587 Added unit tests and converted AJS directives to AJS components
  .github/CODEOWNERS
  assets/images/teach/yamama.webp
  core/templates/components/entity-creation-services/story-creation.service.spec.ts
  core/templates/components/entity-creation-services/topic-creation.service.spec.ts
  core/templates/components/forms/custom-forms-directives/html-select.component.html
  core/templates/components/forms/custom-forms-directives/html-select.component.spec.ts
  core/templates/components/forms/custom-forms-directives/html-select.component.ts
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/components/review-material-editor/review-material-editor.component.html
  core/templates/components/review-material-editor/review-material-editor.component.spec.ts
  core/templates/components/review-material-editor/review-material-editor.component.ts
  core/templates/components/review-material-editor/review-material-editor.directive.ts
  core/templates/components/score-ring/score-ring.component.html
  core/templates/components/score-ring/score-ring.component.spec.ts
  core/templates/components/score-ring/score-ring.component.ts
  core/templates/components/score-ring/score-ring.directive.ts
  core/templates/components/skills-mastery-list/skills-mastery-list.component.html
  core/templates/components/skills-mastery-list/skills-mastery-list.component.spec.ts
  core/templates/components/skills-mastery-list/skills-mastery-list.component.ts
  core/templates/components/skills-mastery-list/skills-mastery-list.directive.ts
  core/templates/components/state-directives/response-header/response-header.component.html
  core/templates/components/state-directives/response-header/response-header.component.spec.ts
  core/templates/components/state-directives/response-header/response-header.component.ts
  core/templates/components/state-directives/response-header/response-header.directive.ts
  core/templates/components/state-directives/rule-editor/rule-editor.component.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.directive.ts
  core/templates/components/summary-tile/subtopic-summary-tile.component.spec.ts
  core/templates/components/summary-tile/topic-summary-tile.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.ts
  core/tests/karma.conf.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13604 Fix part of #13603: Interaction validation for EndExploration
  extensions/interactions/EndExploration/EndExploration.py
  extensions/interactions/interaction_specs.json
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13618 Logic proof job
  .github/CODEOWNERS
  core/domain/interaction_jobs_one_off.py
  core/domain/interaction_jobs_one_off_test.py
  core/jobs_registry.py
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer

#13544 Enabling editor tab to work offline and save changes when there is reliable network source.
  .github/CODEOWNERS
  assets/rich_text_components_definitions.ts
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.html
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.html
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.html
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/internet-connectivity.service.spec.ts
  core/templates/services/internet-connectivity.service.ts
  core/templates/services/rte-helper.service.spec.ts
  core/templates/services/rte-helper.service.ts
  core/templates/services/server-connection-backend-api.service.spec.ts
  core/templates/services/server-connection-backend-api.service.ts
  extensions/interactions/thumbnails.html
  main.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13554 Add frontend unit tests for 5 directives
  core/templates/components/concept-card/concept-card.directive.spec.ts
  core/templates/components/state-directives/hint-editor/hint-editor.component.html
  core/templates/components/state-directives/hint-editor/hint-editor.component.spec.ts
  core/templates/components/state-directives/hint-editor/hint-editor.component.ts
  core/templates/components/state-directives/hint-editor/hint-editor.directive.ts
  core/templates/components/state-directives/solution-editor/solution-editor.component.html
  core/templates/components/state-directives/solution-editor/solution-editor.component.spec.ts
  core/templates/components/state-directives/solution-editor/solution-editor.component.ts
  core/templates/components/state-directives/solution-editor/solution-editor.directive.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.html
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.spec.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.directive.ts
  core/templates/components/state-editor/state-editor.component.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.html
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.spec.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.directive.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13565 M2.3: Add type annotations
  core/domain/stats_services.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/recommendations/gae_models.py
  core/storage/recommendations/gae_models_test.py
  core/storage/skill/gae_models.py
  core/storage/skill/gae_models_test.py
  core/storage/statistics/gae_models.py
  core/storage/statistics/gae_models_test.py
  core/storage/story/gae_models.py
  core/storage/story/gae_models_test.py
  core/storage/subtopic/gae_models.py
  core/storage/subtopic/gae_models_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/storage/translation/gae_models.py
  core/storage/translation/gae_models_test.py
  feconf.py
  mypy_imports.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR: Affects datastore layer

#13593 Fix part of #13449: RTE validation for Image alt tag
  assets/rich_text_components_definitions.ts
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/components/forms/schema-based-editors/schema-based-unicode-editor.directive.html
  core/templates/components/forms/validators/has-length-at-least.filter.spec.ts
  core/templates/components/forms/validators/has-length-at-least.filter.ts
  core/templates/css/oppia.css
  core/templates/services/rte-helper.service.spec.ts
  schema_utils_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#13459 Fix part of #10474: Enables strict typescript checks for some files - (2.4)
  core/templates/base-components/base-content.component.spec.ts
  core/templates/base-components/base-content.component.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/domain/collection/guest-collection-progress.service.spec.ts
  core/templates/domain/collection/guest-collection-progress.service.ts
  core/templates/domain/collection/read-only-collection-backend-api.service.spec.ts
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.spec.ts
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.ts
  core/templates/domain/exploration/exploration-id-validation.service.spec.ts
  core/templates/domain/summary/exploration-summary-backend-api.service.ts
  core/templates/domain/topic/creator-topic-summary.model.spec.ts
  core/templates/expressions/expression-interpolation.service.spec.ts
  core/templates/expressions/expression-interpolation.service.ts
  core/templates/pages/admin-page/services/admin-data.service.spec.ts
  core/templates/pages/admin-page/services/admin-data.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/pages/exploration-editor-page/services/state-tutorial-first-time.service.spec.ts
  core/templates/pages/exploration-editor-page/services/user-exploration-permissions.service.spec.ts
  core/templates/pages/exploration-editor-page/services/user-exploration-permissions.service.ts
  core/templates/pages/exploration-player-page/services/prediction-algorithm-registry.service.ts
  core/templates/services/navigation.service.spec.ts
  core/templates/services/navigation.service.ts
  core/templates/services/page-title.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13634 Fix refresh of page when hitting enter on a TextInput interaction
  extensions/interactions/TextInput/text-input-interactions.module.ts
Labels: PR: LGTM, PR: for current release

#13644 Try to fix backend tests failing on develop.
  .gitignore
  scripts/common.py
  scripts/install_backend_python_libs.py
  scripts/install_backend_python_libs_test.py
  scripts/linters/python_linter.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13522 Milestone 2.4A: Adds blog post editor
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/blog_dashboard.py
  core/controllers/blog_dashboard_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/resources.py
  core/domain/blog_domain.py
  core/domain/blog_domain_test.py
  core/domain/blog_services.py
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.html
  core/templates/components/forms/custom-forms-directives/image-uploader.component.html
  core/templates/components/forms/custom-forms-directives/image-uploader.component.spec.ts
  core/templates/components/forms/custom-forms-directives/image-uploader.component.ts
  core/templates/css/oppia.css
  core/templates/domain/blog/blog-post-editor-backend-api.service.spec.ts
  core/templates/domain/blog/blog-post-editor-backend-api.service.ts
  core/templates/domain/blog/blog-post-update.service.spec.ts
  core/templates/domain/blog/blog-post-update.service.ts
  core/templates/domain/blog/blog-post.model.spec.ts
  core/templates/domain/blog/blog-post.model.ts
  core/templates/pages/blog-dashboard-page/blog-card/blog-card.component.html
  core/templates/pages/blog-dashboard-page/blog-card/blog-card.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.constants.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.module.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.ts
  core/templates/pages/blog-dashboard-page/blog-post-action-confirmation/blog-post-action-confirmation.component.html
  core/templates/pages/blog-dashboard-page/blog-post-action-confirmation/blog-post-action-confirmation.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-post-action-confirmation/blog-post-action-confirmation.component.ts
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.html
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.ts
  core/templates/pages/blog-dashboard-page/modal-templates/blog-card-preview-modal.component.html
  core/templates/pages/blog-dashboard-page/modal-templates/blog-card-preview-modal.component.spec.ts
  core/templates/pages/blog-dashboard-page/modal-templates/blog-card-preview-modal.component.ts
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail-modal.component.html
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail-modal.component.spec.ts
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail-modal.component.ts
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.html
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.spec.ts
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.ts
  core/templates/pages/blog-dashboard-page/services/blog-dashboard-page.service.spec.ts
  core/templates/pages/blog-dashboard-page/services/blog-dashboard-page.service.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.html
  core/templates/services/angular-services.index.ts
  core/templates/services/context.service.spec.ts
  core/templates/services/context.service.ts
  core/templates/services/contextual/url.service.spec.ts
  core/templates/services/contextual/url.service.ts
  core/templates/services/services.constants.ts
  extensions/objects/templates/svg-editor.component.html
  utils.py
  utils_test.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13610 Frontend Unit Tests(9): Add frontend tests for multiple files
  core/templates/filters/format-timer.pipe.spec.ts
  core/templates/filters/remove-duplicates-in-array.pipe.spec.ts
  core/templates/filters/string-utility-filters/convert-to-plain-text.pipe.spec.ts
  core/templates/filters/string-utility-filters/truncate.pipe.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.spec.ts
  extensions/interactions/GraphInput/directives/graph-input-validation.service.spec.ts
  extensions/objects/templates/coord-two-dim-editor.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13615 Send CD emails to admins based on suggestion type; Empty translations should show in CD
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/state_domain.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
Labels: PR: for current release, PR: Affects datastore layer

#13532 Fix part of #10474: Enables strict typescript checks for some files - (2.5)
  core/templates/components/forms/custom-forms-directives/thumbnail-display.component.ts
  core/templates/pages/exploration-editor-page/services/populate-rule-content-ids.service.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-icons.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-icons.component.ts
  core/templates/pages/library-page/search-bar/search-bar.component.ts
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.ts
  core/templates/services/image-local-storage.service.spec.ts
  core/templates/services/image-local-storage.service.ts
  core/templates/services/search.service.spec.ts
  core/templates/services/search.service.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.ts
  extensions/objects/templates/image-with-regions-editor.component.html
  extensions/objects/templates/image-with-regions-editor.component.spec.ts
  extensions/objects/templates/image-with-regions-editor.component.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep, PR: don't merge - STALE BUILD

#13456 Adds schema in improvements, features & review_tests modules
  assets/constants.ts
  core/controllers/base.py
  core/controllers/domain_objects_validator.py
  core/controllers/features.py
  core/controllers/improvements.py
  core/controllers/payload_validator.py
  core/controllers/review_tests.py
  core/controllers/review_tests_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#13597 Added E2E to check the feature that enable offline exploration editing.
  core/templates/base-components/base.module.ts
  core/templates/pages/exploration-editor-page/ckeditor_dependency.html
  core/tests/protractor_desktop/additionalEditorFeaturesModals.js
  core/tests/protractor_utils/ExplorationEditorPage.js
  core/tests/protractor_utils/general.js
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13606 Unit test for schema files
  core/templates/components/forms/schema-based-editors/schema-based-choices-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-dict-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-expression-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-float-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-html-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-int-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-list-editor.directive.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-unicode-editor.directive.spec.ts
  core/templates/components/forms/schema-viewers/schema-based-dict-viewer.directive.spec.ts
  core/templates/components/forms/schema-viewers/schema-based-primitive-viewer.directive.spec.ts
  core/templates/components/forms/schema-viewers/schema-based-unicode-viewer.directive.spec.ts
  core/templates/components/forms/schema-viewers/schema-based-viewer.directive.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13633 Fix part of #10474: Enables strict typescript checks for thread-data-backend-api.service
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13673 Added unit tests for 6 files
  core/templates/components/forms/custom-forms-directives/image-uploader.component.spec.ts
  core/templates/pages/collection-editor-page/collection-editor-page.directive.spec.ts
  core/templates/pages/collection-editor-page/editor-tab/collection-editor-tab.directive.spec.ts
  core/templates/pages/exploration-editor-page/suggestion-modal-for-editor-view/suggestion-modal-for-exploration-editor.service.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/learner-answer-info-card.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13675 Fix part of #13467: This fixes the conversation-skin.directive frontend test flake
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.spec.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13685 Added remaining tests for top-navigation-bar.component.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13515 Redesigning and Updating the Learner Dashboard Page Milestone-2.3
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/images/learner_dashboard/home.svg
  assets/images/learner_dashboard/progress.svg
  assets/images/learner_dashboard/todolist.svg
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
  core/templates/components/summary-tile/learner-topic-summary-tile.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.constants.ajs.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.constants.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/community-lessons-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/community-lessons-tab.component.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/progress-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/progress-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/progress-tab.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
  core/tests/protractor/learnerFlow.js
  core/tests/protractor_desktop/learnerDashboard.js
  core/tests/protractor_utils/LearnerDashboardPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13589 M2.4: Add type annotations
  core/platform/app_identity/gae_app_identity_services.py
  core/platform/app_identity/gae_app_identity_services_test.py
  core/platform/bulk_email/dev_mode_bulk_email_services.py
  core/platform/bulk_email/dev_mode_bulk_email_services_test.py
  core/platform/bulk_email/mailchimp_bulk_email_services.py
  core/platform/bulk_email/mailchimp_bulk_email_services_test.py
  core/platform/cache/redis_cache_services.py
  core/platform/cache/redis_cache_services_test.py
  core/platform/email/dev_mode_email_services.py
  core/platform/email/dev_mode_email_services_test.py
  core/platform/email/mailgun_email_services.py
  core/platform/email/mailgun_email_services_test.py
  core/platform/taskqueue/cloud_taskqueue_services.py
  core/platform/taskqueue/cloud_taskqueue_services_test.py
  core/platform/taskqueue/cloud_tasks_emulator.py
  core/platform/taskqueue/cloud_tasks_emulator_test.py
  core/platform/taskqueue/dev_mode_taskqueue_services.py
  core/platform/taskqueue/dev_mode_taskqueue_services_test.py
  core/platform/translate/cloud_translate_emulator.py
  core/platform/translate/cloud_translate_emulator_test.py
  core/platform/translate/cloud_translate_services.py
  core/platform/translate/cloud_translate_services_test.py
  core/platform/translate/dev_mode_translate_services.py
  core/platform/translate/dev_mode_translate_services_test.py
  mypy_requirements.txt
  scripts/run_mypy_checks.py
  stubs/google/api_core/retry.pyi
  stubs/google/appengine/api/__init__.pyi
  stubs/google/appengine/api/app_identity/__init__.pyi
  stubs/google/auth/__init__.pyi
  stubs/google/auth/_default.pyi
  stubs/google/auth/credentials.pyi
  stubs/google/auth/transport/__init__.pyi
  stubs/google/cloud/tasks_v2/__init__.pyi
  stubs/google/cloud/tasks_v2/types.pyi
  stubs/google/cloud/translate_v2/__init__.pyi
  stubs/mailchimp3/__init__.pyi
  stubs/mailchimp3/mailchimpclient.pyi
Labels: PR: LGTM, PR: Affects datastore layer

#13575 Milestone 2.5 : Completes the blog dashboard frontend.
  assets/constants.ts
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/blog_dashboard.py
  core/domain/blog_services.py
  core/domain/blog_services_test.py
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  core/templates/domain/blog/blog-post.model.spec.ts
  core/templates/domain/blog/blog-post.model.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.import.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.mainpage.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.module.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.ts
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.html
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.ts
  core/templates/pages/blog-dashboard-page/navbar/blog-dashboard-navbar-breadcrumb.component.html
  core/templates/pages/blog-dashboard-page/navbar/navbar-breadcrumb/blog-dashboard-navbar-breadcrumb.component.html
  core/templates/pages/blog-dashboard-page/navbar/navbar-breadcrumb/blog-dashboard-navbar-breadcrumb.component.spec.ts
  core/templates/pages/blog-dashboard-page/navbar/navbar-breadcrumb/blog-dashboard-navbar-breadcrumb.component.ts
  core/templates/pages/blog-dashboard-page/navbar/navbar-pre-logo-action/blog-post-editor-pre-logo-action.component.html
  core/templates/pages/blog-dashboard-page/navbar/navbar-pre-logo-action/blog-post-editor-pre-logo-action.component.spec.ts
  core/templates/pages/blog-dashboard-page/navbar/navbar-pre-logo-action/blog-post-editor-pre-logo-action.component.ts
  core/templates/pages/blog-dashboard-page/services/blog-dashboard-page.service.spec.ts
  core/templates/pages/blog-dashboard-page/services/blog-dashboard-page.service.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13669 Py3 related changes release cut and hotfix
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
Labels: PR: LGTM, PR: for current release

#13623 Add SameSite=None and Secure to cookie options to support iframe
  .lighthouserc-accessibility-2.js
  core/templates/base-components/base-content.component.html
  core/templates/base-components/base-content.component.spec.ts
  core/templates/base-components/base-content.component.ts
  core/templates/pages/moderator-page/moderator-page.component.html
  core/tests/protractor_desktop/embedding.js
  core/tests/protractor_utils/users.js
  core/tests/puppeteer/lighthouse_setup.js
  scripts/install_chrome_for_ci.py
  scripts/install_chrome_for_ci_test.py
Labels: PR: LGTM, PR: for current release

#13529 Fix part of #13475: Only create exploration opportunities for published stories
  core/controllers/topic_viewer_test.py
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/domain/story_services.py
  core/domain/topic_services.py
  core/templates/pages/story-editor-page/modal-templates/story-editor-unpublish-modal.component.html
  core/templates/pages/story-editor-page/modal-templates/story-editor-unpublish-modal.component.spec.ts
  core/templates/pages/story-editor-page/modal-templates/story-editor-unpublish-modal.component.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.ts
  core/templates/pages/story-editor-page/story-editor-page.module.ts
  core/tests/protractor_utils/StoryEditorPage.js
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee, PR: don't merge - STALE BUILD

#13649 Frontend Unit Tests(10): Add frontend tests for multiple files
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.directive.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar-breadcrumb.component.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar-breadcrumb.component.spec.ts
  core/templates/services/audio-player.service.spec.ts
  core/templates/services/audio-player.service.ts
  core/templates/third-party-imports/gif-frames.import.ts
  extensions/objects/templates/image-editor.component.spec.ts
  extensions/objects/templates/image-editor.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13519 Fix part of #4057: Fully cover player-correctness-feedback-enabled.service.ts
  core/templates/pages/exploration-player-page/services/player-correctness-feedback-enabled.service.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#13555 Fix Part of #10474: Cover some files with TS strict checks - 13
  core/templates/components/entity-creation-services/skill-creation.service.spec.ts
  core/templates/domain/blog-admin/blog-admin-backend-api.service.spec.ts
  core/templates/domain/blog/blog-dashboard-backend-api.service.spec.ts
  core/templates/domain/blog/blog-post-editor-backend-api.service.spec.ts
  core/templates/domain/blog/blog-post.model.ts
  core/templates/domain/utilities/url-interpolation.service.spec.ts
  core/templates/i18n/missing-translation-custom-handler.spec.ts
  core/templates/i18n/missing-translation-custom-handler.ts
  core/templates/i18n/translate-cache.factory.spec.ts
  core/templates/i18n/translate-custom-parser.spec.ts
  core/templates/pages/about-page/about-page.component.spec.ts
  core/templates/pages/blog-admin-page/blog-admin-page.component.spec.ts
  core/templates/pages/blog-admin-page/blog-admin-page.component.ts
  core/templates/pages/blog-admin-page/services/blog-admin-data.service.spec.ts
  core/templates/pages/blog-admin-page/services/blog-admin-data.service.ts
  core/templates/pages/blog-dashboard-page/blog-card/blog-card.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-card/blog-card.component.ts
  core/templates/pages/classroom-page/classroom-page.component.ts
  core/templates/pages/review-test-page/review-test-engine.service.spec.ts
  core/templates/services/exploration-stats.service.spec.ts
  core/templates/services/exploration-stats.service.ts
  core/templates/services/page-title.service.spec.ts
  core/templates/services/suggestion-modal.service.spec.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#13518 Redesigning and Updating the Learner Dashboard Page E2e tests.
  assets/i18n/en.json
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/new-learner-dashboard/progress-tab.component.html
  core/tests/protractor_desktop/learnerDashboard.js
  core/tests/protractor_utils/LearnerDashboardPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13520 Fix Part of #10474: Cover some files with TS strict checks - 12
  core/templates/components/button-directives/create-activity-button.component.spec.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-content.service.spec.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-content.service.ts
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.ts
  core/templates/domain/skill/SkillObjectFactory.ts
  core/templates/domain/skill/SkillObjectFactorySpec.ts
  core/templates/domain/skill/skill-backend-api.service.spec.ts
  core/templates/domain/summary/exploration-summary-backend-api.service.ts
  core/templates/domain/summary/learner-exploration-summary.model.ts
  core/templates/pages/exploration-editor-page/services/tutorial-events-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-content-id.service.ts
  core/templates/pages/learner-dashboard-page/suggestion-modal/learner-dashboard-suggestion-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-skill-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-skill-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/unassign-skill-from-topics-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/unassign-skill-from-topics-modal.component.ts
  core/templates/services/attribution.service.ts
  core/templates/services/audio-player.service.spec.ts
  core/templates/services/audio-player.service.ts
  core/templates/services/keyboard-shortcut.service.spec.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13671 Fix #13656: Make Topic Landing Pages accessible.
  core/templates/pages/error-pages/error-404/error-404-page-root.component.spec.ts
  core/templates/pages/error-pages/error-404/error-404-page-root.component.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/tests/protractor_desktop/publicationAndLibrary.js
  core/tests/protractor_desktop/wipeout.js
Labels: PR: for current release, PR CHANGELOG: Angular Migration -- @srijanreddy98

#13585 Fix part of #10474: Enables strict typescript checks for some files - (2.6)
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/components/state-editor/state-editor-properties-services/state-solution.service.ts
  core/templates/domain/exploration/AnswerGroupObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactorySpec.ts
  core/templates/domain/exploration/LostChangeObjectFactory.ts
  core/templates/domain/exploration/LostChangeObjectFactorySpec.ts
  core/templates/domain/exploration/RuleObjectFactory.ts
  core/templates/domain/exploration/SolutionObjectFactory.ts
  core/templates/domain/exploration/SolutionObjectFactorySpec.ts
  core/templates/domain/exploration/StatesObjectFactory.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/state/StateObjectFactorySpec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.ts
  core/templates/pages/exploration-editor-page/changes-in-human-readable-form/changes-in-human-readable-form.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/services/version-tree.service.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/services/version-tree.service.ts
  core/templates/pages/interaction-specs.constants.ts
  core/templates/services/compute-graph.service.ts
  core/templates/services/exploration-html-formatter.service.spec.ts
  core/templates/services/improvements.service.spec.ts
  core/templates/services/improvements.service.ts
  core/templates/services/interaction-rules-registry.service.spec.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.spec.ts
  extensions/objects/templates/fraction-editor.component.ts
  extensions/objects/templates/math-equation-editor.component.spec.ts
  extensions/objects/templates/math-equation-editor.component.ts
  extensions/objects/templates/math-expression-content-editor.component.spec.ts
  extensions/objects/templates/math-expression-content-editor.component.ts
  extensions/objects/templates/numeric-expression-editor.component.spec.ts
  extensions/objects/templates/numeric-expression-editor.component.ts
  extensions/objects/templates/ratio-expression-editor.component.spec.ts
  extensions/objects/templates/ratio-expression-editor.component.ts
  extensions/objects/templates/set-of-algebraic-identifier-editor.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13682 Upgrade frontend and backend libs
  core/platform/auth/firebase_auth_services_test.py
  core/tests/test_utils_test.py
  extensions/rich_text_components/Image/protractor.js
  jobs/blog_validation_jobs.py
  jobs/io/job_io.py
  jobs/job_test_utils_test.py
  requirements.in
  requirements.txt
  scripts/servers_test.py
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13692 Routine update of translations.
  assets/i18n/bn.json
  assets/i18n/diq.json
  assets/i18n/eo.json
  assets/i18n/es.json
  assets/i18n/fa.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/id.json
  assets/i18n/it.json
  assets/i18n/ko.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sk.json
  assets/i18n/tr.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#13661 Fix #13664: Remove sudo from pip install
  scripts/install_prerequisites.sh
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#13481 Adds schema in platform_feature & practice_sessions modules
  core/controllers/payload_validator.py
  core/controllers/platform_feature.py
  core/controllers/platform_feature_test.py
  core/controllers/practice_sessions.py
  core/controllers/practice_sessions_test.py
  core/templates/pages/practice-session-page/practice-session-page.component.spec.ts
  core/templates/pages/practice-session-page/practice-session-page.component.ts
  core/templates/pages/practice-session-page/practice-session-page.constants.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts
  extensions/objects/models/objects.py
  extensions/objects/models/objects_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#13690 Moves all the new components to the learner dashboard folder
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.html
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.ts
  core/templates/pages/learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/goals-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/goals-tab.component.ts
  core/templates/pages/learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/home-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/home-tab.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/learner-dashboard-page/progress-tab.component.html
  core/templates/pages/learner-dashboard-page/progress-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/progress-tab.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#13640 Fix #13619: Remove Google Analytics require from mock-ajs.ts and introduce a common import file.
  .github/CODEOWNERS
  core/templates/pages/classroom-page/classroom-page.import.ts
  core/templates/pages/common-imports.ts
  core/templates/pages/delete-account-page/delete-account-page.import.ts
  core/templates/pages/error-pages/error-iframed-page/error-iframed-page.import.ts
  core/templates/pages/error-pages/error-page.import.ts
  core/templates/pages/library-page/library-page.import.ts
  core/templates/pages/maintenance-page/maintenance-page.import.ts
  core/templates/pages/mock-ajs.ts
  core/templates/pages/oppia-root/index.ts
  core/templates/pages/participation-playbook/playbook.import.ts
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.import.ts
  core/templates/pages/preferences-page/preferences-page.import.ts
  core/templates/pages/profile-page/profile-page.import.ts
  core/templates/pages/release-coordinator-page/release-coordinator-page.import.ts
  core/templates/pages/splash-page/splash-page.import.ts
  core/templates/pages/story-viewer-page/story-viewer-page.import.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#13578 Fix Part of #10474: Cover some files with TS strict checks - 14
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.spec.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.ts
  core/templates/components/question-difficulty-selector/question-difficulty-selector.component.spec.ts
  core/templates/components/question-difficulty-selector/question-difficulty-selector.component.ts
  core/templates/domain/exploration/InteractionObjectFactorySpec.ts
  core/templates/domain/state_card/state-card.model.spec.ts
  core/templates/domain/state_card/state-card.model.ts
  core/templates/pages/exploration-player-page/services/content-translation-language.service.spec.ts
  core/templates/pages/exploration-player-page/services/content-translation-language.service.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.spec.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.ts
  core/templates/pages/exploration-player-page/services/hints-and-solution-manager.service.spec.ts
  core/templates/pages/exploration-player-page/services/hints-and-solution-manager.service.ts
  core/templates/pages/exploration-player-page/services/player-position.service.spec.ts
  core/templates/pages/exploration-player-page/services/player-position.service.ts
  core/templates/pages/exploration-player-page/services/player-transcript.service.spec.ts
  core/templates/services/guppy-initialization.service.spec.ts
  core/templates/services/local-storage.service.spec.ts
  core/templates/services/local-storage.service.ts
  extensions/interactions/interaction-attributes-extractor.service.spec.ts
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/objects/templates/custom-osk-letters-editor.component.ts
  extensions/objects/templates/number-with-units-editor.component.spec.ts
  extensions/objects/templates/number-with-units-editor.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#13665 Explain why an E2E suite does not get rerun
  scripts/run_e2e_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13698 Added event listener to avoid navigation when offline and disable tabs which are not workable offline.
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13422 Adds schema for handler classes editor, library modules
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/library.py
  core/controllers/library_test.py
  core/controllers/payload_validator.py
  core/controllers/payload_validator_test.py
  core/controllers/reader.py
  core/controllers/resources_test.py
  core/controllers/voice_artist_test.py
  core/tests/protractor_desktop/embedding.js
  main.py
  schema_utils.py
  schema_utils_test.py
  scripts/run_mypy_checks.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#13706 Fix #13691: Added default init value for position of terms.
  extensions/objects/templates/algebraic-expression-editor.component.ts
  extensions/objects/templates/math-equation-editor.component.ts
  extensions/objects/templates/numeric-expression-editor.component.ts
  extensions/objects/templates/position-of-terms-editor.component.spec.ts
  extensions/objects/templates/position-of-terms-editor.component.ts
  extensions/objects/templates/ratio-expression-editor.component.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13720 Fixing the lint issue: 'use {} instead of dict()'
  core/domain/takeout_service.py
  core/storage/app_feedback_report/gae_models.py
  core/storage/blog/gae_models.py
  core/storage/feedback/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/user/gae_models.py
  scripts/build.py
  scripts/build_test.py
  scripts/flake_checker_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/js_ts_linter.py
Labels: PR: LGTM

#13683 Milestone2.6: Adds pages to lighthouse and adds e2e tests for blog dashboard.
  .github/workflows/e2e_miscellaneous_tests.yml
  .lighthouserc-1.js
  .lighthouserc-accessibility-1.js
  .lighthouserc-base.js
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/button-directives/create-activity-button.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  core/templates/components/forms/custom-forms-directives/image-uploader.component.html
  core/templates/domain/user/user-info.model.spec.ts
  core/templates/domain/user/user-info.model.ts
  core/templates/pages/blog-admin-page/blog-admin-page.component.html
  core/templates/pages/blog-dashboard-page/blog-card/blog-card.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.mainpage.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.html
  core/templates/pages/blog-dashboard-page/blog-post-action-confirmation/blog-post-action-confirmation.component.html
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.html
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.ts
  core/templates/pages/blog-dashboard-page/modal-templates/blog-card-preview-modal.component.html
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.html
  core/templates/pages/blog-dashboard-page/navbar/navbar-breadcrumb/blog-dashboard-navbar-breadcrumb.component.html
  core/templates/pages/blog-dashboard-page/navbar/navbar-pre-logo-action/blog-post-editor-pre-logo-action.component.html
  core/templates/pages/blog-dashboard-page/navbar/navbar-pre-logo-action/blog-post-editor-pre-logo-action.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/blogDashboard.js
  core/tests/protractor_utils/BlogDashboardPage.js
  puppeteer-login-script.js
  scripts/run_e2e_tests.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13713 Fix #13653, #13630, #13666, #13651
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.controller.spec.ts
  core/templates/services/context.service.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#13643 About foundation page.
  .github/CODEOWNERS
  .lighthouserc-1.js
  .lighthouserc-base.js
  assets/constants.ts
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/images/about_foundation/20180826_161603.jpg
  assets/images/about_foundation/20180826_161603.webp
  assets/images/about_foundation/equity-infographic-3-we-need-data.jpg
  assets/images/about_foundation/equity-infographic-3-we-need-data.webp
  assets/images/about_foundation/home_get_involved.png
  assets/images/about_foundation/home_get_involved.webp
  assets/images/about_foundation/home_impact.jpg
  assets/images/about_foundation/home_impact.webp
  assets/images/about_foundation/home_partner.png
  assets/images/about_foundation/home_partner.webp
  assets/images/about_foundation/oppia_big_logo.png
  assets/images/about_foundation/oppia_big_logo.webp
  assets/sitemap.xml
  core/controllers/pages.py
  core/controllers/pages_test.py
  core/templates/base-components/oppia-footer.component.html
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/pages/about-foundation-page/about-foundation-page-root.component.html
  core/templates/pages/about-foundation-page/about-foundation-page-root.component.spec.ts
  core/templates/pages/about-foundation-page/about-foundation-page-root.component.ts
  core/templates/pages/about-foundation-page/about-foundation-page-routing.module.ts
  core/templates/pages/about-foundation-page/about-foundation-page.component.html
  core/templates/pages/about-foundation-page/about-foundation-page.component.spec.ts
  core/templates/pages/about-foundation-page/about-foundation-page.component.ts
  core/templates/pages/about-foundation-page/about-foundation-page.module.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/tests/protractor_desktop/navigation.js
  feconf.py
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13538 Fix part of #9749: Migrate subtopic viewer page
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.spec.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.import.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.mainpage.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.module.ts
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.component.html
  core/templates/services/context.service.spec.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#13722 Adding Changes in index.yaml
  index.yaml
Labels: PR: LGTM

#13695 Fix mypy in platform folder
  core/platform/datastore/cloud_datastore_services.py
  core/platform/storage/cloud_storage_emulator.py
  core/storage/base_model/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/user/gae_models.py
  scripts/run_mypy_checks.py
  stubs/google/cloud/datastore.pyi
  stubs/google/cloud/ndb/__init__.pyi
  stubs/google/cloud/ndb/context.pyi
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#13708 Fix part of #10474: Removing nits from files covered in Milestone 2
  core/templates/components/forms/custom-forms-directives/thumbnail-display.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-feedback-editor.component.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/components/state-editor/state-editor-properties-services/state-property.service.ts
  core/templates/components/summary-tile/exploration-summary-tile.component.html
  core/templates/components/summary-tile/exploration-summary-tile.component.spec.ts
  core/templates/components/summary-tile/exploration-summary-tile.component.ts
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.ts
  core/templates/domain/exploration/LostChangeObjectFactory.ts
  core/templates/domain/exploration/LostChangeObjectFactorySpec.ts
  core/templates/domain/exploration/StatesObjectFactory.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/state/StateObjectFactorySpec.ts
  core/templates/domain/suggestion/SuggestionThreadObjectFactory.ts
  core/templates/domain/utilities/language-util.service.ts
  core/templates/pages/collection-player-page/collection-node-list/collection-node-list.component.html
  core/templates/pages/collection-player-page/collection-player-page.directive.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.ts
  core/templates/pages/exploration-editor-page/history-tab/services/version-tree.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/preview-summary-tile-modal.template.html
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-language.service.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/services/state-classifier-mapping.service.spec.ts
  core/templates/pages/exploration-player-page/services/state-classifier-mapping.service.ts
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.html
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/library-page/search-bar/search-bar.component.spec.ts
  core/templates/pages/library-page/search-bar/search-bar.component.ts
  core/templates/pages/library-page/search-results/activity-tiles-infinity-grid.component.html
  core/templates/pages/profile-page/profile-page.component.html
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.ts
  core/templates/services/compute-graph.service.ts
  core/templates/services/image-local-storage.service.ts
  core/templates/services/image-upload-helper.service.ts
  core/templates/services/improvements.service.spec.ts
  core/templates/services/utils.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.ts
  extensions/objects/templates/image-with-regions-editor.component.ts
  extensions/objects/templates/math-equation-editor.component.spec.ts
  extensions/objects/templates/numeric-expression-editor.component.spec.ts
  extensions/objects/templates/ratio-expression-editor.component.spec.ts
  extensions/objects/templates/set-of-algebraic-identifier-editor.component.spec.ts
  extensions/objects/templates/set-of-algebraic-identifier-editor.component.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#13700 Merge from develop on CI
  .github/workflows/backend_tests.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/eslint_tests.yml
  .github/workflows/frontend_tests.yml
  .github/workflows/lighthouse_accessibility.yml
  .github/workflows/lighthouse_performance.yml
  .github/workflows/lint.yml
  .github/workflows/oppiabot.yml
  scripts/linters/other_files_linter.py
  scripts/linters/other_files_linter_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13729 Fix #13723: Do not redirect partially-logged-in users from /logout
  core/controllers/base.py
  core/controllers/base_test.py
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13728 Fix #13724: Hide username validation error once username is valid
  core/templates/pages/signup-page/signup-page.component.html
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#13731 Fix site-analytics-service frontend flake
  core/templates/services/site-analytics.service.spec.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13756 Remove casts to `Key` by modyfiing stubs
  core/platform/datastore/cloud_datastore_services.py
  core/storage/auth/gae_models.py
  core/storage/feedback/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/user/gae_models.py
  stubs/google/cloud/ndb/__init__.pyi
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#13750 Add libbz2-dev to install_prerequisites.sh
  scripts/install_prerequisites.sh
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#13758 Fix #13757: Fix rubric alignment when submitting questions
  core/templates/pages/topic-editor-page/modal-templates/select-skill-and-difficulty-modal.template.html
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Automated QA Team -- @U8NWXD

#13537 Fix part of #9749: Migrate email dashboard pages to angular
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/domain/email-dashboard/email-dashboard-backend-api.service.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.html
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.mainpage.html
  core/templates/pages/email-dashboard-pages/email-dashboard-page.module.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result-backend-api.service.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result-backend-api.service.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result-page-root.component.html
  core/templates/pages/email-dashboard-pages/email-dashboard-result-page-root.component.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.html
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.import.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.mainpage.html
  core/templates/pages/email-dashboard-pages/email-dashboard-result.module.ts
  core/templates/services/angular-services.index.ts
  tsconfig-strict.json
  webpack.common.config.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13718 Fix #13717: Refactor site analytics service and introduce a mock gtag function when app can't send analytics.
  assets/constants.ts
  core/templates/App.ts
  core/templates/components/button-directives/create-activity-button.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/entity-creation-services/collection-creation.service.spec.ts
  core/templates/components/entity-creation-services/exploration-creation.service.spec.ts
  core/templates/google-analytics.initializer.ts
  core/templates/pages/about-page/about-page.component.spec.ts
  core/templates/pages/common-imports.ts
  core/templates/pages/contributor-dashboard-page/login-required-message/login-required-message.component.spec.ts
  core/templates/pages/delete-account-page/services/delete-account-backend-api.service.spec.ts
  core/templates/pages/delete-account-page/services/delete-account-backend-api.service.ts
  core/templates/pages/donate-page/donate-page.component.spec.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.spec.ts
  core/templates/pages/library-page/search-results/search-results.component.spec.ts
  core/templates/pages/participation-playbook/playbook.component.spec.ts
  core/templates/pages/signup-page/signup-page.component.spec.ts
  core/templates/pages/signup-page/signup-page.component.ts
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/teach-page/teach-page.component.spec.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
  core/tests/build_sources/assets/constants.js
  tsconfig-strict.json
  tsconfig.json
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21

#13771 Fix organization of Beam Jobs
  jobs/batch_jobs/blog_validation_jobs.py
  jobs/batch_jobs/blog_validation_jobs_test.py
  jobs/batch_jobs/validation_jobs.py
  jobs/batch_jobs/validation_jobs_test.py
  jobs/registry.py
  jobs/transforms/validation/__init__.py
  jobs/transforms/validation/auth_validation.py
  jobs/transforms/validation/auth_validation_test.py
  jobs/transforms/validation/base_validation.py
  jobs/transforms/validation/base_validation_registry.py
  jobs/transforms/validation/base_validation_registry_test.py
  jobs/transforms/validation/base_validation_test.py
  jobs/transforms/validation/blog_validation.py
  jobs/transforms/validation/blog_validation_test.py
  jobs/transforms/validation/collection_validation.py
  jobs/transforms/validation/collection_validation_test.py
  jobs/transforms/validation/config_validation.py
  jobs/transforms/validation/config_validation_test.py
  jobs/transforms/validation/exp_validation.py
  jobs/transforms/validation/exp_validation_test.py
  jobs/transforms/validation/feedback_validation.py
  jobs/transforms/validation/feedback_validation_test.py
  jobs/transforms/validation/improvements_validation.py
  jobs/transforms/validation/improvements_validation_test.py
  jobs/transforms/validation/question_validation.py
  jobs/transforms/validation/question_validation_test.py
  jobs/transforms/validation/skill_validation.py
  jobs/transforms/validation/skill_validation_test.py
  jobs/transforms/validation/story_validation.py
  jobs/transforms/validation/story_validation_test.py
  jobs/transforms/validation/subtopic_validation.py
  jobs/transforms/validation/subtopic_validation_test.py
  jobs/transforms/validation/topic_validation.py
  jobs/transforms/validation/topic_validation_test.py
  jobs/transforms/validation/user_validation.py
  jobs/transforms/validation/user_validation_test.py
  jobs/types/blog_validation_errors.py
  jobs/types/blog_validation_errors_test.py
  scripts/backend_test_shards.json
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12563 Fix part of #9749: Migrate topics and skills dashboard page
  .github/CODEOWNERS
  core/templates/components/entity-creation-services/topic-creation.service.spec.ts
  core/templates/components/entity-creation-services/topic-creation.service.ts
  core/templates/components/filter-fields/filtered-choices-field/filtered-choices-field.component.html
  core/templates/components/filter-fields/filtered-choices-field/filtered-choices-field.component.spec.ts
  core/templates/components/filter-fields/filtered-choices-field/filtered-choices-field.component.ts
  core/templates/components/filter-fields/multi-selection-field/multi-selection-field.component.html
  core/templates/components/filter-fields/multi-selection-field/multi-selection-field.component.spec.ts
  core/templates/components/filter-fields/multi-selection-field/multi-selection-field.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/topic-editor-page/services/create-new-skill-modal.service.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-topic-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-skill-modal.component.html
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-skill-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-skill-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-topic-modal.component.html
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-topic-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-topic-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.mainpage.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  core/templates/services/angular-services.index.ts
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#13715 Fix #13655 and #13639
  core/platform/bulk_email/mailchimp_bulk_email_services.py
  core/platform/bulk_email/mailchimp_bulk_email_services_test.py
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.component.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681
