Repository oppia/oppia, pull requests merged in 2021-05, with the labels that each got.

#12618 Fix Part of #11572: Stack Traces for exceptions are correctly thrown
  core/controllers/topic_editor.py
Labels: PR: LGTM

#12675 Fix part of #8472: Migrate exploration engine service.
  core/templates/domain/exploration/ExplorationObjectFactory.ts
  core/templates/domain/exploration/ParamChangeObjectFactory.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12701 Fix #12512: Fixes import error after cleanup
  scripts/start.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12603 Fix Part of #10914: Adds progress indicator in save button.
  extensions/objects/templates/svg-filename-editor.component.html
  extensions/objects/templates/svg-filename-editor.component.ts
Labels: PR: LGTM

#12696 Distribute nithusha21's codeowner files
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12690 Fix part of #10798: Add action to learnerFlow.js file
  core/tests/protractor/learnerFlow.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12693 Fix part of #12691: Swap codeowners for contributor dashboard files until 2021-05-10
  .github/CODEOWNERS
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: LGTM

#12488 Fix part of #9749: Migrate rubrics editor directive along with dependencies
  core/templates/components/entity-creation-services/skill-creation.service.ts
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/components/rubrics-editor/rubrics-editor.component.html
  core/templates/components/rubrics-editor/rubrics-editor.component.spec.ts
  core/templates/components/rubrics-editor/rubrics-editor.component.ts
  core/templates/components/rubrics-editor/rubrics-editor.directive.html
  core/templates/components/rubrics-editor/rubrics-editor.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/domain/skill/SkillObjectFactory.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-rubrics-editor/skill-rubrics-editor.directive.html
  core/templates/pages/topic-editor-page/services/create-new-skill-modal.service.spec.ts
  core/templates/pages/topic-editor-page/services/create-new-skill-modal.service.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.component.html
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  core/templates/services/angular-services.index.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12673 Fix part of #11475: Migrates validate_draft_change_list_last_updated
  jobs/transforms/user_audits.py
  jobs/transforms/user_audits_test.py
  jobs/types/audit_errors.py
  jobs/types/audit_errors_test.py
Labels: PR: LGTM

#12669 Fix part of #11475: migrate validate_canonical_name_matches_name_in_lowercase to beam job
  jobs/transforms/topic_audits.py
  jobs/transforms/topic_audits_test.py
  jobs/types/audit_errors.py
  jobs/types/audit_errors_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12666 Fix #12590: Do not allow empty commits in question editor
  core/templates/components/question-directives/questions-list/questions-list.directive.html
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#12646 Fixes #12641: Browse our lessons button fixed.
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/learner-dashboard-page/suggestion-modal/learner-dashboard-suggestion-modal.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#12579 Fix part of #11475: migrate validate_activity_mapping_contains_only_allowed_keys to beam job
  jobs/transforms/user_audits.py
  jobs/transforms/user_audits_test.py
  jobs/types/audit_errors.py
  jobs/types/audit_errors_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12455 Fix part of #8423: Add lint check to ensure that functions with "testOnly" in their names are only called from "spec" files.
  .eslintrc
  scripts/linters/custom_eslint_checks/rules/no-testonly.js
  scripts/linters/custom_eslint_checks/rules/no-testonly.spec.js
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12720 Fix part of #10474: Cover MisconceptionObjectFactory with strict typescript checks
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12668 Fix Running E2E Tests Locally
  scripts/common.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12681 Fix part of #9749: Migrate Learner answer info card
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/learner-answer-info-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/learner-answer-info-card.component.ts
  core/templates/pages/exploration-player-page/learner-experience/learner-answer-info-card.directive.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12602 Fix part of #9749: Migrate moderator page
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/pages/moderator-page/moderator-page.component.html
  core/templates/pages/moderator-page/moderator-page.component.spec.ts
  core/templates/pages/moderator-page/moderator-page.component.ts
  core/templates/pages/moderator-page/moderator-page.mainpage.html
  core/templates/pages/moderator-page/moderator-page.module.ts
  core/templates/pages/moderator-page/services/moderator-page-backend-api.service.spec.ts
  core/templates/pages/moderator-page/services/moderator-page-backend-api.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12710 Redirect away from login page when already signed in
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.mainpage.html
  core/templates/pages/login-page/login-page.component.spec.ts
  core/templates/pages/login-page/login-page.component.ts
  core/templates/pages/login-page/login-page.mainpage.html
  core/templates/pages/signup-page/signup-page.mainpage.html
  core/templates/services/user.service.spec.ts
  core/templates/services/user.service.ts
  core/tests/protractor_desktop/navigation.js
  core/tests/protractor_utils/users.js
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#12702 Fixes #12575 : Fixes audio bar position on small screens.
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#12648 Fix #12610 : Changes the logic for copying a concept card
  core/templates/components/ck-editor-helpers/ck-editor-copy-content-service.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.directive.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: LGTM, PR: for current release

#12684 Fix part of #11462: Permit auth-related pages and handlers in maintenance mode
  core/controllers/base.py
  core/controllers/base_test.py
  core/tests/test_utils.py
  feconf.py
  scripts/build.py
  scripts/build_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: for current release, PR: require post-merge sync to HEAD

#12685 Refactor try-except in exp_services.py
  core/domain/exp_services.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12727 Fix #12396: Fixes issues with translation "go back" and "skip" flow
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: for current release

#12734 Update backend libraries
  requirements.in
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12704 Fix part of #9749: Migrate Learner local nav directive along with dependencies.
  core/templates/components/question-directives/question-player/question-player.directive.ts
  core/templates/pages/exploration-player-page/exploration-player-page.import.ts
  core/templates/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.component.html
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.component.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.html
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.html
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.ts
  core/templates/pages/exploration-player-page/modals/exploration-successfully-flagged-modal.component.html
  core/templates/pages/exploration-player-page/modals/exploration-successfully-flagged-modal.component.spec.ts
  core/templates/pages/exploration-player-page/modals/exploration-successfully-flagged-modal.component.ts
  core/templates/pages/exploration-player-page/modals/flag-exploration-modal.component.html
  core/templates/pages/exploration-player-page/modals/flag-exploration-modal.component.spec.ts
  core/templates/pages/exploration-player-page/modals/flag-exploration-modal.component.ts
  core/templates/pages/exploration-player-page/services/feedback-popup-backend-api.service.spec.ts
  core/templates/pages/exploration-player-page/services/feedback-popup-backend-api.service.ts
  core/templates/pages/exploration-player-page/services/learner-local-nav-backend-api.service.spec.ts
  core/templates/pages/exploration-player-page/services/learner-local-nav-backend-api.service.ts
  core/templates/pages/exploration-player-page/templates/exploration-successfully-flagged-modal.template.html
  core/templates/pages/exploration-player-page/templates/flag-exploration-modal.controller.spec.ts
  core/templates/pages/exploration-player-page/templates/flag-exploration-modal.controller.ts
  core/templates/pages/exploration-player-page/templates/flag-exploration-modal.template.html
  core/templates/services/angular-services.index.ts
  core/tests/protractor_utils/ExplorationPlayerPage.js
  extensions/interactions/LogicProof/directives/logic-proof-interaction.directive.html
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12676 Fix part of #8472: Learner view rating Service Migrated
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/services/learner-view-rating-backend-api.service.spec.ts
  core/templates/pages/exploration-player-page/services/learner-view-rating-backend-api.service.ts
  core/templates/pages/exploration-player-page/services/learner-view-rating.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12723 Fix Part of #12586: Prevents merging of questions when merging skills are failed.
  core/controllers/topics_and_skills_dashboard.py
Labels: PR: LGTM

#12737 Remove self code owners until 2021-05-24
  .github/CODEOWNERS
Labels: PR: LGTM

#12620 Merging SVG-Diagram and Image plugins in RTE : Adds function for converting tags
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12705 Fix part of #9749: Migrate Privacy page
  .github/CODEOWNERS
  core/templates/pages/privacy-page/privacy-page.component.html
  core/templates/pages/privacy-page/privacy-page.component.ts
  core/templates/pages/privacy-page/privacy-page.mainpage.html
  core/templates/pages/privacy-page/privacy-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12651 Python 3 compatibility for base64 encoding
  utils.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12745 Wait for Moderator or 401 Error Page to load in e2e test
  core/templates/pages/error-pages/error-page.component.html
  core/templates/pages/moderator-page/moderator-page.mainpage.html
  core/tests/protractor_desktop/navigation.js
  core/tests/protractor_desktop/publicationAndLibrary.js
  core/tests/protractor_desktop/userJourneys.js
  core/tests/protractor_desktop/wipeout.js
  core/tests/protractor_utils/ModeratorPage.js
  core/tests/protractor_utils/general.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#12749 Added exp ID logging for StoryExplorationsAuditOneOffJob
  core/domain/story_services.py
  core/domain/story_services_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: don't merge - STALE BUILD

#12677 Fix Part of #11496: Add lint check for `.then()` method
  scripts/linters/custom_eslint_checks/rules/protractor-practices.js
  scripts/linters/custom_eslint_checks/rules/protractor-practices.spec.js
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM, PR: don't merge - STALE BUILD

#12569 Fix Part Of #10474: Make typescript checks strict for some services
  core/templates/domain/collection/collection-node.model.spec.ts
  core/templates/domain/collection/collection-node.model.ts
  core/templates/domain/exploration/ParamSpecsObjectFactory.ts
  core/templates/domain/exploration/ParamSpecsObjectFactorySpec.ts
  core/templates/domain/exploration/ParamTypeObjectFactory.ts
  core/templates/domain/exploration/ParamTypeObjectFactorySpec.ts
  core/templates/domain/story/StoryContentsObjectFactory.ts
  core/templates/domain/story/StoryContentsObjectFactorySpec.ts
  core/templates/domain/story/story-update.service.spec.ts
  core/templates/services/contextual/device-info.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12680 Fixes part of #9749: Migrate continue button directive
  core/templates/components/shared-component.module.ts
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/continue-button.component.html
  core/templates/pages/exploration-player-page/learner-experience/continue-button.component.ts
  core/templates/pages/exploration-player-page/learner-experience/continue-button.directive.html
  core/templates/pages/exploration-player-page/learner-experience/continue-button.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.directive.html
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#12762 Display learner-facing pages in RTL when the site language is an RTL language.
  assets/constants.ts
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/Base.ts
  core/templates/pages/about-page/about-page.mainpage.html
  core/templates/pages/classroom-page/classroom-page.mainpage.html
  core/templates/pages/collection-player-page/collection-player-page.mainpage.html
  core/templates/pages/contact-page/contact-page.mainpage.html
  core/templates/pages/delete-account-page/delete-account-page.mainpage.html
  core/templates/pages/donate-page/donate-page.mainpage.html
  core/templates/pages/error-pages/error-iframed.mainpage.html
  core/templates/pages/error-pages/error-page.mainpage.html
  core/templates/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/pages/get-started-page/get-started-page.mainpage.html
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.mainpage.html
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.mainpage.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.mainpage.html
  core/templates/pages/library-page/library-page.mainpage.html
  core/templates/pages/login-page/login-page.mainpage.html
  core/templates/pages/logout-page/logout-page.mainpage.html
  core/templates/pages/maintenance-page/maintenance-page.mainpage.html
  core/templates/pages/participation-playbook/playbook.mainpage.html
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.mainpage.html
  core/templates/pages/practice-session-page/practice-session-page.mainpage.html
  core/templates/pages/preferences-page/preferences-page.mainpage.html
  core/templates/pages/profile-page/profile-page.mainpage.html
  core/templates/pages/review-test-page/review-test-page.mainpage.html
  core/templates/pages/signup-page/signup-page.mainpage.html
  core/templates/pages/splash-page/splash-page.mainpage.html
  core/templates/pages/story-viewer-page/story-viewer-page.mainpage.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.mainpage.html
  core/templates/pages/teach-page/teach-page.mainpage.html
  core/templates/pages/thanks-page/thanks-page.mainpage.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.mainpage.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12761 Handle all server management with managed_process()
  core/platform/cache/redis_cache_services_test.py
  scripts/backend_test_shards.json
  scripts/build.py
  scripts/common.py
  scripts/common_test.py
  scripts/install_backend_python_libs_test.py
  scripts/linters/css_linter_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/run_lighthouse_tests.py
  scripts/scripts_test_utils.py
  scripts/scripts_test_utils_test.py
  scripts/servers.py
  scripts/servers_test.py
  scripts/start.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12706 Fix #12598 Added padding above skill description in Question Editor
  core/templates/components/question-difficulty-selector/question-difficulty-selector.directive.html
Labels: PR: LGTM, PR: for current release

#12784 Replace fetch_page of 'get_translation_suggestion_ids_with_exp_ids' with fetch
  core/storage/suggestion/gae_models.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#12752 Fix #12580: Makes exploration content Tabbable.
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12777 Fixes #12776 : Fixes Type Errors in Promise rejections in admin page.
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.component.spec.ts
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.component.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12686 Changes the existing hierarchical roles system to independent roles to actions system
  core/controllers/admin.py
  core/domain/role_services.py
  core/domain/role_services_test.py
  core/domain/user_domain.py
  core/domain/user_services.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/admin-page/jobs-tab/admin-jobs-tab.component.spec.ts
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.directive.html
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.directive.ts
  core/templates/pages/admin-page/roles-tab/role-graph.directive.html
  core/templates/pages/admin-page/roles-tab/role-graph.directive.ts
  core/templates/pages/admin-page/roles-tab/roles-and-actions-visualizer.component.html
  core/templates/pages/admin-page/roles-tab/roles-and-actions-visualizer.component.spec.ts
  core/templates/pages/admin-page/roles-tab/roles-and-actions-visualizer.component.ts
  core/templates/pages/admin-page/services/admin-data.service.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM

#12796 Fixing e2e flake in Settings tab(No element found using locator: By(css selector, option:checked)) and (No element found using locator: By(css selector, .select2-dropdown)))
  core/tests/protractor_utils/ExplorationEditorSettingsTab.js
  core/tests/protractor_utils/forms.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#12782 Fix #12691: Revert codeowners for contributor dashboard files
  .github/CODEOWNERS
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: LGTM

#12568 Fix part of #11475: migrate _validate_commit_cmds_schema to Beam job
  jobs/transforms/base_validation.py
  jobs/transforms/base_validation_test.py
  jobs/transforms/exp_validation.py
  jobs/transforms/exp_validation_test.py
  jobs/types/base_validation_errors.py
  jobs/types/base_validation_errors_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12758 Adding python3 compatibility for zip largest
  core/tests/test_utils.py
  python_utils.py
  python_utils_test.py
  utils.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: don't merge - STALE BUILD

#12785 Fix part of #11735: feature edited by reviewer flag for suggestions
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR: LGTM

#12759 Adding a Video Recorder for E2E Tests
  .circleci/config.yml
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_email_dashboard_features.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features.yml
  .github/workflows/e2e_user_profile.yml
  core/tests/protractor.conf.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12715 Fix part of N/A: Migrate ng-audio. Fix part of #8742: Audio Player Service
  core/templates/components/forms/shared-forms.module.ts
  core/templates/components/forms/slider/audio-slider.component.spec.ts
  core/templates/components/forms/slider/audio-slider.component.ts
  core/templates/components/material.module.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.directive.html
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.directive.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/audio-player.service.ts
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
  package.json
  yarn.lock
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12809 Fixes Enum bug
  python_utils.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12787 Migrates _validate_post_commit_status_is_public
  jobs/transforms/base_validation.py
  jobs/transforms/base_validation_test.py
  jobs/types/base_validation_errors.py
  jobs/types/base_validation_errors_test.py
Labels: PR: LGTM

#12683 Adds new fields in userSettings model with corresponding one-off job to populate those fields
  core/domain/role_services_test.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/user_validators.py
  core/domain/user_validators_test.py
  core/domain/wipeout_service_test.py
  core/jobs_registry.py
  core/storage/user/gae_models.py
  feconf.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#12548 Fix #12528: Fixes server error in the DragAndDropSortInput interaction.
  extensions/objects/templates/list-of-sets-of-translatable-html-content-ids-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12803 Fix #12642: topicName is interpolated properly now.
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#12730 Resolving katex parser error in Numeric Expression Input interaction
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.spec.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12838 Fix #12656: Reclaim @brianrodri's ownership
  .github/CODEOWNERS
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12678 Replace fetch_page of 'query_new_and_pending_training_jobs' with fetch
  core/domain/classifier_services.py
  core/storage/classifier/gae_models.py
  core/storage/classifier/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM, PR: don't merge - STALE BUILD

#12805 Fix #12804: Social buttons are now showing correctly.
  core/templates/components/button-directives/social-buttons.component.html
  core/templates/components/button-directives/social-buttons.component.ts
  core/templates/pages/oppia_footer_directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#12757 Fix #9320: Remove jinja
  .github/CODEOWNERS
  .isort.cfg
  app_dev.yaml
  core/controllers/reader_test.py
  extensions/value_generators/models/generators.py
  extensions/value_generators/models/generators_test.py
  jinja_utils.py
  jinja_utils_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#12826 Fix part of #11475: implement the _get_change_domain_class for other models: collection, config, question
  jobs/transforms/collection_validation.py
  jobs/transforms/collection_validation_test.py
  jobs/transforms/config_validation.py
  jobs/transforms/config_validation_test.py
  jobs/transforms/exp_validation_test.py
  jobs/transforms/question_validation.py
  jobs/transforms/question_validation_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12800 Handle all server management with managed_process()
  core/platform/cache/redis_cache_services_test.py
  scripts/backend_test_shards.json
  scripts/build.py
  scripts/common.py
  scripts/common_test.py
  scripts/install_backend_python_libs_test.py
  scripts/linters/css_linter_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/run_lighthouse_tests.py
  scripts/run_portserver.py
  scripts/scripts_test_utils.py
  scripts/scripts_test_utils_test.py
  scripts/servers.py
  scripts/servers_test.py
  scripts/start.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12679 Fix part of #8472: Migrate Exploration player state service
  core/templates/domain/exploration/ExplorationObjectFactory.ts
  core/templates/domain/exploration/ExplorationObjectFactorySpec.ts
  core/templates/domain/exploration/editable-exploration-backend-api.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-data-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data-backend-api.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/pages/exploration-player-page/services/audio-preloader.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/pages/exploration-player-page/services/image-preloader.service.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/exploration-features.service.spec.ts
  core/templates/services/exploration-features.service.ts
  scripts/check_frontend_test_coverage.py
  tsconfig-strict.json
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12843 Fix #12841: Exploration player i18n bug fixes
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.ts
Labels: PR: LGTM

#12825 Add google-cloud-translate fix for deployed server
  appengine_config.py
  appengine_config_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#12778 Fix Remaining comments from #12569 and #12561
  core/templates/domain/exploration/AnswerGroupObjectFactory.ts
  core/templates/domain/story/StoryContentsObjectFactory.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.spec.ts
  tsconfig-strict.json
Labels: PR: don't merge - STALE BUILD

#12827 Fix #11462: Cleanup Firebase TODOs and leftover code
  assets/constants.ts
  core/controllers/base.py
  core/controllers/base_test.py
  core/domain/auth_jobs_one_off.py
  core/domain/auth_jobs_one_off_test.py
  core/domain/auth_services.py
  core/domain/platform_feature_services.py
  core/domain/user_services.py
  core/jobs_registry.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
  core/platform/auth/gae_auth_services.py
  core/platform/auth/gae_auth_services_test.py
  core/platform/models.py
  core/platform/models_test.py
  core/platform/users/__init__.py
  core/platform/users/gae_current_user_services.py
  core/platform/users/gae_current_user_services_test.py
  core/storage/auth/gae_models.py
  core/templates/components/shared-component.module.ts
  core/templates/pages/login-page/login-page.component.spec.ts
  core/templates/pages/login-page/login-page.component.ts
  core/templates/services/auth.service.spec.ts
  core/templates/services/auth.service.ts
  core/tests/test_utils.py
  main.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12748 Fix part of #9749, #8472: Refresher exploration confirmation service and modal migrated.
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/modals/refresher-exploration-confirmation-modal.component.html
  core/templates/pages/exploration-player-page/modals/refresher-exploration-confirmation-modal.component.spec.ts
  core/templates/pages/exploration-player-page/modals/refresher-exploration-confirmation-modal.component.ts
  core/templates/pages/exploration-player-page/services/refresher-exploration-confirmation-modal.service.ts
  core/templates/pages/exploration-player-page/templates/refresher-exploration-confirmation-modal.controller.spec.ts
  core/templates/pages/exploration-player-page/templates/refresher-exploration-confirmation-modal.controller.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12674 Fix #12587 : Back arrow works fine on skill and topic editor page
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.component.ts
Labels: PR: don't merge - STALE BUILD

#12837 Fix Part Of #9749: Migrates Collection-Linearizer-Service to Angular
  core/templates/pages/collection-editor-page/collection-editor-page.module.ts
  core/templates/pages/collection-editor-page/editor-tab/collection-editor-tab.directive.html
  core/templates/pages/collection-editor-page/editor-tab/collection-editor-tab.directive.ts
  core/templates/pages/collection-editor-page/editor-tab/collection-node-editor.component.html
  core/templates/pages/collection-editor-page/editor-tab/collection-node-editor.component.ts
  core/templates/pages/collection-editor-page/editor-tab/collection-node-editor.directive.ts
  core/templates/pages/collection-editor-page/services/collection-linearizer.service.spec.ts
  core/templates/pages/collection-editor-page/services/collection-linearizer.service.ts
  core/templates/services/angular-services.index.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12773 Fix part of #11474: Move contextlib2 API into python_utils
  .pylintrc
  core/controllers/base_test.py
  core/domain/auth_jobs_one_off_test.py
  core/domain/state_domain_test.py
  core/jobs_test.py
  core/platform/auth/firebase_auth_services_test.py
  core/tests/test_utils.py
  jobs/job_test_utils.py
  python_utils.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/run_lighthouse_tests.py
  scripts/servers.py
  scripts/servers_test.py
  scripts/start.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12607 Fix HTML caching
  core/controllers/base.py
  core/controllers/base_test.py
Labels: PR CHANGELOG: Server Errors -- @kevintab95, PR: LGTM

#12750 Fix Part Of #9749: Migrates Delete-Account-Page to Angular
  core/controllers/profile_test.py
  core/templates/pages/delete-account-page/delete-account-page.component.html
  core/templates/pages/delete-account-page/delete-account-page.component.spec.ts
  core/templates/pages/delete-account-page/delete-account-page.component.ts
  core/templates/pages/delete-account-page/delete-account-page.import.ts
  core/templates/pages/delete-account-page/delete-account-page.mainpage.html
  core/templates/pages/delete-account-page/delete-account-page.module.ts
  core/templates/pages/delete-account-page/services/delete-account-backend-api.service.spec.ts
  core/templates/pages/delete-account-page/services/delete-account-backend-api.service.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.component.html
  core/templates/pages/delete-account-page/templates/delete-account-modal.component.spec.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.component.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.controller.spec.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.controller.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.template.html
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12816 Fix #12671: Generate signature migration
  core/controllers/acl_decorators_test.py
  core/controllers/base_test.py
  core/controllers/classifier_test.py
  core/domain/classifier_services.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12834 Fix #12830: Add ContentLanguageSelectorComponent to entryComponents and declarations in review-test module
  core/templates/pages/review-test-page/review-test-page.module.ts
Labels: PR CHANGELOG: Server Errors -- @kevintab95, PR: LGTM, PR: don't merge - STALE BUILD

#12810 Fix #12657: Enable translation of interactions in contributor dashboard
  core/domain/state_domain.py
  core/domain/state_domain_test.py
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: LGTM, PR: don't merge - STALE BUILD

#12854 Fix part of #11475: Migrates _validate_entity_type
  jobs/transforms/feedback_validation.py
  jobs/transforms/feedback_validation_test.py
  jobs/types/feedback_validation_errors.py
  jobs/types/feedback_validation_errors_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12578 Transfer codeownership of filepath-editor to kevintab95.
  .github/CODEOWNERS
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: LGTM, PR: don't merge - STALE BUILD

#12741 Fix Part Of #9749: Migrates Navbar Of Story-Editor-Page to Angular
  core/templates/pages/story-editor-page/modal-templates/story-editor-save-modal.component.html
  core/templates/pages/story-editor-page/modal-templates/story-editor-save-modal.component.spec.ts
  core/templates/pages/story-editor-page/modal-templates/story-editor-save-modal.component.ts
  core/templates/pages/story-editor-page/modal-templates/story-editor-save-modal.template.html
  core/templates/pages/story-editor-page/modal-templates/story-save-pending-changes-modal.component.html
  core/templates/pages/story-editor-page/modal-templates/story-save-pending-changes-modal.component.spec.ts
  core/templates/pages/story-editor-page/modal-templates/story-save-pending-changes-modal.component.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar-breadcrumb.component.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar-breadcrumb.component.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar-breadcrumb.directive.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar-breadcrumb.directive.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
  core/templates/pages/story-editor-page/story-editor-page.component.ts
  core/templates/pages/story-editor-page/story-editor-page.import.ts
  core/templates/pages/story-editor-page/story-editor-page.mainpage.html
  core/templates/pages/story-editor-page/story-editor-page.module.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#12851 Fix part of #11475: Use SimpleXMLRPCServer to implement the datastoreio stub
  jobs/base_validation_jobs.py
  jobs/base_validation_jobs_test.py
  jobs/io/stub_io.py
  jobs/io/stub_io_test.py
  jobs/job_options.py
  jobs/job_options_test.py
  jobs/job_test_utils.py
  jobs/job_utils.py
  jobs/job_utils_test.py
  python_utils.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12880 Fix part of #11475: Add query support to the datastoreio stub
  core/platform/datastore/gae_datastore_services.py
  jobs/base_validation_jobs.py
  jobs/io/stub_io.py
  jobs/io/stub_io_test.py
  jobs/job_utils.py
  jobs/job_utils_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12904 Add waitFor in forms.js to Fix Extensions Suite E2E Flake
  core/tests/protractor_utils/forms.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12890 Fix part of #11475: Add RelationshipsOf unit tests and stabalize ModelProperty implementation
  jobs/decorators/validation_decorators.py
  jobs/decorators/validation_decorators_test.py
  jobs/job_utils.py
  jobs/job_utils_test.py
  jobs/transforms/auth_validation_test.py
  jobs/transforms/user_validation_test.py
  jobs/types/model_property.py
  jobs/types/model_property_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12906 Introduces a check for whether a PR is low risk in `e2e Admin Page Test` and `e2e Publication Test`
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#12895 Routine update of translations.
  assets/i18n/da.json
  assets/i18n/de.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/it.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/my.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/sk.json
  assets/i18n/tr.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM, PR: for current release

#12842 Resolving e2e flake "no element found using locator: by(css selector, option:checked)"
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navbar-breadcrumb.component.html
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_utils/waitFor.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#12611 Fix part of #11572: Using exception instead of error in controllers
  core/controllers/admin.py
  core/controllers/base.py
  core/controllers/creator_dashboard.py
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/library.py
  core/controllers/library_test.py
  core/controllers/profile.py
  core/controllers/question_editor.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/controllers/suggestion.py
  core/controllers/topic_viewer.py
  core/controllers/topics_and_skills_dashboard.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12905 Fix rule input voiceover status
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.ts
Labels: PR: LGTM, PR: for current release

#12902 Fix translation flow issue
  core/controllers/contributor_dashboard.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR: LGTM, PR: for current release

#12915 Add @krishnarao22 to Automated QA CODEOWNER files
  .github/CODEOWNERS
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12294 Fix part of #9749: Migrate all oppia-non-interactive-*
  core/domain/rte_component_registry_test.py
  core/templates/components/angular-html-bind/angular-html-bind-wrapper.directive.ts
  core/templates/components/concept-card/concept-card.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/css/oppia.css
  core/templates/services/image-local-storage.service.spec.ts
  core/tests/protractor_desktop/extensions.js
  extensions/objects/protractor.js
  extensions/objects/templates/set-of-translatable-html-content-ids-editor.component.html
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  extensions/rich_text_components/Collapsible/directives/collapsible.component.html
  extensions/rich_text_components/Collapsible/directives/collapsible.directive.html
  extensions/rich_text_components/Collapsible/directives/oppia-noninteractive-collapsible.component.ts
  extensions/rich_text_components/Collapsible/directives/oppia-noninteractive-collapsible.directive.ts
  extensions/rich_text_components/Collapsible/protractor.js
  extensions/rich_text_components/Image/directives/image.component.html
  extensions/rich_text_components/Image/directives/image.directive.html
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.component.ts
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.directive.ts
  extensions/rich_text_components/Link/directives/link.component.html
  extensions/rich_text_components/Link/directives/link.directive.html
  extensions/rich_text_components/Link/directives/oppia-noninteractive-link.component.ts
  extensions/rich_text_components/Link/directives/oppia-noninteractive-link.directive.ts
  extensions/rich_text_components/Math/directives/math.component.html
  extensions/rich_text_components/Math/directives/math.directive.html
  extensions/rich_text_components/Math/directives/oppia-noninteractive-math.component.ts
  extensions/rich_text_components/Math/directives/oppia-noninteractive-math.directive.ts
  extensions/rich_text_components/Skillreview/directives/noninteractive-skillreview-concept-card-modal.component.html
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview-concept-card-modal.component.spec.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview-concept-card-modal.component.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview-concept-card-modal.controller.spec.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview-concept-card-modal.controller.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.component.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.directive.ts
  extensions/rich_text_components/Skillreview/directives/skillreview.component.html
  extensions/rich_text_components/Skillreview/protractor.js
  extensions/rich_text_components/Svgdiagram/directives/oppia-noninteractive-svgdiagram.component.spec.ts
  extensions/rich_text_components/Svgdiagram/directives/oppia-noninteractive-svgdiagram.component.ts
  extensions/rich_text_components/Svgdiagram/directives/svgdiagram.component.html
  extensions/rich_text_components/Tabs/directives/oppia-noninteractive-tabs.component.ts
  extensions/rich_text_components/Tabs/directives/tabs.component.html
  extensions/rich_text_components/Tabs/directives/tabs.directive.html
  extensions/rich_text_components/Tabs/protractor.js
  extensions/rich_text_components/Video/directives/oppia-noninteractive-video.component.ts
  extensions/rich_text_components/Video/directives/oppia-noninteractive-video.directive.ts
  extensions/rich_text_components/Video/directives/video.component.html
  extensions/rich_text_components/Video/directives/video.directive.html
  extensions/rich_text_components/Video/protractor.js
  extensions/rich_text_components/rich-text-components.module.ts
  extensions/rich_text_components/richTextComponentsRequires.ts
  package.json
  scripts/check_frontend_test_coverage.py
  tsconfig.json
  typings/tests/tsconfig.json
  yarn.lock
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12923 Export JSON from Karma coverage reports
  core/tests/karma.conf.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12870 Fix part of #9749: Migrate Preview thumbnail.
  core/templates/components/shared-component.module.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.html
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12931 Fix #12903: Optimize exploration-summary-tile.component change detection cycles.
  core/templates/components/summary-tile/exploration-summary-tile.component.html
  core/templates/components/summary-tile/exploration-summary-tile.component.ts
Labels: PR: LGTM, PR: for current release

#12756 Fix part of #9749, #8472: Migrate Display hint modal service and dependencies.
  core/templates/domain/exploration/SolutionObjectFactory.ts
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/modals/display-hint-modal.component.html
  core/templates/pages/exploration-player-page/modals/display-hint-modal.component.spec.ts
  core/templates/pages/exploration-player-page/modals/display-hint-modal.component.ts
  core/templates/pages/exploration-player-page/modals/display-solution-interstitial-modal.component.html
  core/templates/pages/exploration-player-page/modals/display-solution-interstitial-modal.component.spec.ts
  core/templates/pages/exploration-player-page/modals/display-solution-interstitial-modal.component.ts
  core/templates/pages/exploration-player-page/modals/display-solution-modal.component.html
  core/templates/pages/exploration-player-page/modals/display-solution-modal.component.spec.ts
  core/templates/pages/exploration-player-page/modals/display-solution-modal.component.ts
  core/templates/pages/exploration-player-page/services/hint-and-solution-modal.service.spec.ts
  core/templates/pages/exploration-player-page/services/hint-and-solution-modal.service.ts
  core/templates/pages/exploration-player-page/templates/display-hint-modal.controller.spec.ts
  core/templates/pages/exploration-player-page/templates/display-hint-modal.controller.ts
  core/templates/pages/exploration-player-page/templates/display-solution-modal.controller.spec.ts
  core/templates/pages/exploration-player-page/templates/display-solution-modal.controller.ts
  core/templates/pages/exploration-player-page/templates/hint-and-solution-modal.template.html
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12716 Fix part of #10474: Cover GraphUtilsService with strict checks
  extensions/interactions/GraphInput/directives/graph-utils.service.spec.ts
  extensions/interactions/GraphInput/directives/graph-utils.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12861 Fix #12630: Force pasting plain text in RTE editor
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#12740 Fix #12426: Show "Loading..." text when RTE toolbar is loading
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/tests/protractor_utils/StoryEditorPage.js
  core/tests/puppeteer/lighthouse_setup.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11420 New About page
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/images/about/background_dsk_1.svg
  assets/images/about/background_dsk_2.svg
  assets/images/about/background_mobile_1.svg
  assets/images/about/background_mobile_2.svg
  assets/images/about/books_dsk.png
  assets/images/about/books_dsk.webp
  assets/images/about/cc.svg
  assets/images/about/fraction_lesson.png
  assets/images/about/fraction_lesson.webp
  assets/images/about/graph.svg
  assets/images/about/language_icon.svg
  assets/images/about/lesson_icon.svg
  assets/images/about/library_layout.png
  assets/images/about/library_layout.webp
  assets/images/about/mobile_alt_solid.svg
  assets/images/about/study.png
  assets/images/about/study.webp
  assets/images/about/wifi_solid.svg
  core/templates/pages/about-page/about-page.component.html
  core/templates/pages/about-page/about-page.component.spec.ts
  core/templates/pages/about-page/about-page.component.ts
  core/templates/services/site-analytics.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12839 Implement Suite-Specific E2E Test Rerun Policy
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12924 Refactoring of filter_skills_by_mastery
  core/domain/skill_services.py
  core/domain/skill_services_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#12742 Fix #12698 Migrates files to use preventpageunload service
  core/templates/pages/skill-editor-page/skill-editor-page.component.spec.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.ts
  core/templates/pages/story-editor-page/story-editor-page.component.spec.ts
  core/templates/pages/story-editor-page/story-editor-page.component.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.ts
  core/templates/services/prevent-page-unload-event.service.spec.ts
  core/templates/services/prevent-page-unload-event.service.ts
Labels: PR: LGTM

#12860 Fix #12824: Make allowKeywords property set to True in .eslintrc file
  .eslintrc
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/exploration/editable-exploration-backend-api.service.ts
  core/templates/domain/learner_dashboard/learner-dashboard-activity-backend-api.service.ts
  core/templates/domain/skill/skill-backend-api.service.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/statistics/exploration-stats.model.ts
  core/templates/domain/story/editable-story-backend-api.service.ts
  core/templates/domain/topic/editable-topic-backend-api.service.ts
  core/templates/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.service.ts
  core/templates/pages/delete-account-page/services/delete-account-backend-api.service.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights.service.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.ts
  core/templates/services/exploration-improvements-task-registry.service.ts
  core/templates/services/math-interactions.service.ts
  core/templates/services/rte-helper.service.ts
  core/templates/services/state-top-answers-stats.service.ts
  extensions/interactions/LogicProof/static/js/conversion.ts
  extensions/interactions/LogicProof/static/js/tools/logic-demo-test.controller.ts
Labels: PR: don't merge - STALE BUILD

#12853 Fix part of #9749: Migrate input response pair.
  core/templates/components/shared-component.module.ts
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.html
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.ts
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.directive.html
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.directive.ts
  core/templates/pages/exploration-player-page/templates/answer-popup-container.template.html
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12845 Fix #12451 The review modal title does not update when reviewing multiple suggestions
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
Labels: PR: LGTM
