Repository oppia/oppia, pull requests merged in 2021-03, with the labels that each got.

#11923 Classroom page tasks adding topic in lesson player
  core/templates/components/summary-tile/subtopic-summary-tile.directive.html
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.directive.html
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.directive.ts
  core/templates/services/contextual/url.service.spec.ts
  core/templates/services/contextual/url.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12055 Update fractions placeholder text.
  assets/i18n/de.json
  assets/i18n/en.json
  assets/i18n/eo.json
  assets/i18n/es.json
  assets/i18n/eu.json
  assets/i18n/fi.json
  assets/i18n/fit.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/hi.json
  assets/i18n/it.json
  assets/i18n/kab.json
  assets/i18n/lb.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/tr.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12035 Fix #12026: Skip E2E Tests for Changelog Update PRs
  .circleci/config.yml
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11955 Fix part of #11475: Migrate Base Model Validator to Apache Beam
  .github/CODEOWNERS
  .isort.cfg
  jobs/__init__.py
  jobs/base_model_validator.py
  jobs/base_model_validator_errors.py
  jobs/base_model_validator_errors_test.py
  jobs/base_model_validator_test.py
  jobs/jobs_utils.py
  jobs/jobs_utils_test.py
  requirements.in
  requirements.txt
  scripts/backend_test_shards.json
  scripts/third_party_size_check.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12010 Added e2e test for student user journey
  core/templates/components/forms/schema-based-editors/schema-based-html-editor.directive.html
  core/templates/components/question-directives/question-player/question-player.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_desktop/topicAndStoryViewer.js
  core/tests/protractor_utils/SubTopicViewerPage.js
  core/tests/protractor_utils/TopicEditorPage.js
  core/tests/protractor_utils/TopicViewerPage.js
  core/tests/protractor_utils/workflow.js
  extensions/rich_text_components/Skillreview/directives/skillreview.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12034 Fix #12029: Escape Protractor Screenshot File Names
  core/tests/protractor.conf.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#12019 Fix part of #9749: Summary list header directive migrated to angular
  core/templates/components/shared-component.module.ts
  core/templates/components/state-directives/answer-group-editor/summary-list-header.component.html
  core/templates/components/state-directives/answer-group-editor/summary-list-header.component.ts
  core/templates/components/state-directives/answer-group-editor/summary-list-header.directive.html
  core/templates/components/state-directives/answer-group-editor/summary-list-header.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR: don't merge - STALE BUILD, REVIEWERS: Please add changelog label

#11306 Fix part of #8472: Migrate image-upload-helper.service
  .github/CODEOWNERS
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.controller.spec.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.controller.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.template.html
  core/templates/components/forms/custom-forms-directives/thumbnail-display.component.html
  core/templates/components/forms/custom-forms-directives/thumbnail-display.component.spec.ts
  core/templates/components/forms/custom-forms-directives/thumbnail-display.component.ts
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.directive.html
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.directive.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.spec.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-story-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/preview-thumbnail.component.html
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/image-upload-helper.service.spec.ts
  core/templates/services/image-upload-helper.service.ts
  core/templates/services/rte-helper-modal.controller.spec.ts
  core/templates/services/svg-sanitizer.service.spec.ts
  core/templates/services/svg-sanitizer.service.ts
  extensions/objects/templates/filepath-editor.directive.ts
  extensions/objects/templates/math-expression-content-editor.directive.ts
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  extensions/objects/templates/svg-filename-editor.component.ts
  scripts/check_frontend_coverage.py
  scripts/check_frontend_coverage_test.py
  scripts/linters/codeowner_linter.py
  scripts/linters/warranted_angular_security_bypasses.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12051 Fix #11431 and fix part of #8510: Clean-up unneeded code
  core/domain/activity_jobs_one_off_test.py
  core/jobs_test.py
  core/platform/transactions/gae_transaction_services.py
  core/storage/collection/gae_models.py
  core/storage/exploration/gae_models.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#11949 User email preferences service migration from angularjs to angular fixes part of (#8472)
  core/templates/pages/exploration-editor-page/services/user-email-preferences-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/user-email-preferences-backend-api.service.ts
  core/templates/pages/exploration-editor-page/services/user-email-preferences.service.spec.ts
  core/templates/pages/exploration-editor-page/services/user-email-preferences.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12054 Fix part of #11462: Transition backend to manage Firebase authentication using HTTP cookies
  .isort.cfg
  appengine_config.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/domain/auth_services.py
  core/domain/user_services_test.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
  core/platform/auth/gae_auth_services.py
  core/platform/auth/gae_auth_services_test.py
  core/templates/services/auth-backend-api.service.spec.ts
  core/templates/services/auth-backend-api.service.ts
  core/tests/data/third_party/ignorable_requirements_test.txt
  core/tests/test_utils.py
  feconf.py
  main.py
  requirements.in
  requirements.txt
  scripts/common.py
  scripts/common_test.py
  scripts/install_backend_python_libs.py
  scripts/install_backend_python_libs_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12048 Fix #10919, #8800 & #4932: Making "Play later" section tiles consistent with other sections.
  core/templates/components/summary-tile/collection-summary-tile.directive.html
  core/templates/components/summary-tile/exploration-summary-tile.directive.html
  core/templates/css/oppia.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
Labels: PR: LGTM

#12072 Fix part of #4057: Added a unit test for Graph Utils Service
  extensions/interactions/GraphInput/directives/graph-input-rules.service.spec.ts
  extensions/interactions/GraphInput/directives/graph-utils.service.spec.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#12080 Fix #12061: Add email message check to resolve server error when submitting question suggestions
  core/domain/feedback_services.py
Labels: PR: LGTM

#12068 Clear old drafts and fix format of content suggestions.
  core/domain/draft_upgrade_services.py
  core/domain/suggestion_jobs_one_off.py
  core/domain/suggestion_jobs_one_off_test.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/jobs_registry.py
  main.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#12093 Fix part of #11462: Only start firebase emulator in EMULATOR_MODE
  scripts/run_e2e_tests.py
  scripts/run_lighthouse_tests.py
  scripts/start.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12081 Fix part of #10306 add async to `story-viewer-backend-api.service.ts`
  core/templates/domain/story_viewer/story-viewer-backend-api.service.spec.ts
  core/templates/domain/story_viewer/story-viewer-backend-api.service.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.spec.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12063 Preload functionality for images in state writtenTranslations
  core/templates/pages/exploration-player-page/layout-directives/content-language-selector.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/content-language-selector.component.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.spec.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.ts
  core/templates/pages/exploration-player-page/services/extract-image-filenames-from-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/extract-image-filenames-from-state.service.ts
  core/templates/pages/exploration-player-page/services/image-preloader.service.spec.ts
  core/templates/services/UpgradedServices.ts
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.directive.ts
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.directive.ts
  extensions/rich_text_components/Math/directives/oppia-noninteractive-math.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11942 Fixes Part of #10700: Refactor Suggestions object factory
  core/templates/components/oppia-angular-root.component.ts
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.ts
  core/templates/domain/suggestion/SuggestionThreadObjectFactory.ts
  core/templates/domain/suggestion/suggestion.model.spec.ts
  core/templates/domain/suggestion/suggestion.model.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/suggestions.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12012 Adds correct filename for the script checking frontened coverage
  .github/CODEOWNERS
  scripts/backend_test_shards.json
  scripts/check_frontend_test_coverage.py
  scripts/check_frontend_test_coverage_test.py
  scripts/run_frontend_tests.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM, PR: don't merge - STALE BUILD

#12105 Fix css linter script issue
  scripts/linters/css_linter.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12096 Remove suggestion submission functionality from the learner view.
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.html
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.ts
  core/templates/pages/exploration-player-page/suggestion-modal-for-learner-local-view/suggestion-modal-for-exploration-player.service.ts
  core/tests/protractor_desktop/additionalPlayerFeatures.js
  core/tests/protractor_desktop/explorationFeedbackTab.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM

#12086 Fix part of #11462: Add one-off job to populate Firebase servers
  core/domain/auth_jobs_one_off.py
  core/domain/auth_jobs_one_off_test.py
  core/jobs_registry.py
  core/platform/auth/firebase_auth_services_test.py
  core/tests/test_utils.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: Affects datastore layer

#12095 Fix part of #5097: Add length-zero-no-unit rule for CSS lint check
  .stylelintrc
  core/templates/components/button-directives/hint-and-solution-buttons.directive.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-list-editor.directive.html
  core/templates/components/on-screen-keyboard/on-screen-keyboard.component.html
  core/templates/components/question-directives/question-player/question-player.directive.html
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.directive.html
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.directive.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.directive.html
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
  core/templates/pages/donate-page/donate-page.component.html
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.html
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/teach-oppia-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/training-data-editor.template.html
  core/templates/pages/exploration-editor-page/improvements-tab/improvements-tab.component.html
  core/templates/pages/exploration-editor-page/modal-templates/post-publish-modal.template.html
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.html
  core/templates/pages/exploration-editor-page/preview-tab/templates/preview-set-parameters-modal.template.html
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.html
  core/templates/pages/exploration-player-page/layout-directives/content-language-selector.component.html
  core/templates/pages/exploration-player-page/layout-directives/correctness-footer.directive.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.directive.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/splash-page/splash-page.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.mainpage.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.html
  core/templates/pages/teach-page/teach-page.component.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-interaction.directive.html
  extensions/interactions/GraphInput/directives/graph-input-response.directive.html
  extensions/interactions/GraphInput/directives/graph-viz.directive.html
  extensions/objects/templates/custom-osk-letters-editor.component.html
  extensions/objects/templates/filepath-editor.directive.html
  extensions/objects/templates/svg-filename-editor.component.html
  extensions/objects/templates/translatable-html-content-id.component.html
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12027 Fix part of #8472: collection-editor-state.service.ts along with spec migrated
  core/templates/domain/collection/editable-collection-backend-api.service.ts
  core/templates/pages/collection-editor-page/collection-editor-page.directive.ts
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.directive.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.spec.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12101 Introduce wipeout related utils to admin page
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.html
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.ts
  main.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12039 Fix part of #11919 : Added styles to prevent errors from looking clickable
  core/templates/pages/skill-editor-page/skill-editor-page.component.html
  core/templates/pages/story-editor-page/story-editor-page.component.html
  core/templates/pages/topic-editor-page/topic-editor-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#12111 Improve Elasticsearch process management
  scripts/common.py
  scripts/common_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12094 Fix part of #4057: Added a unit test for Hint-and-solution-modal Service
  core/templates/pages/exploration-player-page/services/hint-and-solution-modal.service.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM

#12123 Run Elasticsearch server in quiet mode
  scripts/common.py
  scripts/common_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12112 Fix Part of #10110: Removes todo 10110 comments
  core/controllers/acl_decorators_test.py
Labels: PR: LGTM

#12047 Fix #10717 Surfacing translation meta deta
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
Labels: PR: LGTM

#11998 Fix part of #10049: Remove deprecated fields from ExplorationModel
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#12099 Fix Part of #10474: makes typescript check strict
  core/templates/domain/exploration/OutcomeObjectFactory.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#12118 Fix part of #11462: Always logout in end-to-end tests
  core/tests/protractor/accessibility.js
  core/tests/protractor/featureGatingFlow.js
  core/tests/protractor/learnerFlow.js
  core/tests/protractor/libraryFlow.js
  core/tests/protractor/profileMenuFlow.js
  core/tests/protractor_desktop/additionalPlayerFeatures.js
  core/tests/protractor_desktop/adminTabFeatures.js
  core/tests/protractor_desktop/classroomPage.js
  core/tests/protractor_desktop/classroomPageFileUploadFeatures.js
  core/tests/protractor_desktop/contributorDashboard.js
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_desktop/creatorDashboard.js
  core/tests/protractor_desktop/embedding.js
  core/tests/protractor_desktop/explorationFeedbackTab.js
  core/tests/protractor_desktop/explorationImprovementsTab.js
  core/tests/protractor_desktop/explorationTranslationTab.js
  core/tests/protractor_desktop/playVoiceovers.js
  core/tests/protractor_desktop/profileFeatures.js
  core/tests/protractor_desktop/publicationAndLibrary.js
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_desktop/topicAndStoryViewer.js
  core/tests/protractor_desktop/topicsAndSkillsDashboard.js
  core/tests/protractor_desktop/userJourneys.js
  core/tests/protractor_desktop/voiceoverUploadFeatures.js
  core/tests/protractor_desktop/wipeout.js
  core/tests/protractor_utils/users.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#11757 Fix #10721 Refactor translation-text-service
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.directive.html
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
Labels: PR: LGTM

#12000 Thread table component migrated fixes part of (#9749)
  core/templates/components/shared-component.module.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.html
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/thread-table/thread-table.component.html
  core/templates/pages/exploration-editor-page/feedback-tab/thread-table/thread-table.component.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/thread-table/thread-table.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12038 Fixing Teach Page : Makes teach page responsive and removes broken link.
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/pages/exploration-editor-page/modal-templates/exploration-publish-modal.template.html
  core/templates/pages/oppia_footer_directive.html
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/splash-page/splash-page.component.ts
  core/templates/pages/teach-page/teach-page.component.html
  core/templates/pages/teach-page/teach-page.component.spec.ts
  core/templates/pages/teach-page/teach-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#11748 Fix part of #9632: Stats server error fix
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/domain/exp_fetchers.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/stats_domain.py
  core/domain/stats_services.py
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.html
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.ts
Labels: PR: Affects datastore layer, PR: LGTM, PR: for current release

#12001 Migrate skill editor navbar breadcrumb to Angular
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar-breadcrumb.component.html
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar-breadcrumb.component.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar-breadcrumb.directive.html
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar-breadcrumb.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.ts
  core/templates/pages/skill-editor-page/skill-editor-page.import.ts
  core/templates/pages/skill-editor-page/skill-editor-page.mainpage.html
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12052 Fix part of #10049: Remove deprecated fields from ExplorationRightsModel
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/jobs_registry.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#12124 Lift minimal App Engine setup to new base classes
  core/domain/auth_jobs_one_off_test.py
  core/domain/auth_validators_test.py
  core/domain/user_jobs_one_off_test.py
  core/platform/app_identity/gae_app_identity_services_test.py
  core/platform/auth/firebase_auth_services_test.py
  core/platform/auth/gae_auth_services_test.py
  core/tests/test_utils.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12083 Fix part of #10798 : End-to-End tests for libraryFlow.js
  core/tests/protractor/libraryFlow.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#12060 Fix Part Of #10700 Refractor ThreadMessageSummaryObjectFactory and ThreadMessageObjectFactory to Model
  core/templates/App.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/domain/feedback_message/ThreadMessage.model.spec.ts
  core/templates/domain/feedback_message/ThreadMessage.model.ts
  core/templates/domain/feedback_message/ThreadMessageSummary.model.spec.ts
  core/templates/domain/feedback_message/ThreadMessageSummary.model.ts
  core/templates/domain/feedback_thread/FeedbackThreadObjectFactory.ts
  core/templates/domain/feedback_thread/FeedbackThreadObjectFactorySpec.ts
  core/templates/domain/suggestion/SuggestionThreadObjectFactory.ts
  core/templates/domain/suggestion/SuggestionThreadObjectFactorySpec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.ts
  core/templates/pages/moderator-page/moderator-page.component.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12090 Fix part of #9749: Migrate graph interaction
  core/templates/components/shared-component.module.ts
  core/templates/directives/focus-on.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.spec.ts
  core/templates/services/exploration-html-formatter.service.spec.ts
  core/templates/services/exploration-html-formatter.service.ts
  extensions/interactions/GraphInput/GraphInput.ts
  extensions/interactions/GraphInput/directives/graph-input-interaction.component.html
  extensions/interactions/GraphInput/directives/graph-input-interaction.directive.html
  extensions/interactions/GraphInput/directives/graph-input-response.component.html
  extensions/interactions/GraphInput/directives/graph-input-response.directive.html
  extensions/interactions/GraphInput/directives/graph-input-short-response.component.html
  extensions/interactions/GraphInput/directives/graph-input-short-response.directive.html
  extensions/interactions/GraphInput/directives/graph-viz.component.html
  extensions/interactions/GraphInput/directives/graph-viz.component.ts
  extensions/interactions/GraphInput/directives/graph-viz.directive.html
  extensions/interactions/GraphInput/directives/graph-viz.directive.ts
  extensions/interactions/GraphInput/directives/oppia-interactive-graph-input.component.ts
  extensions/interactions/GraphInput/directives/oppia-interactive-graph-input.directive.ts
  extensions/interactions/GraphInput/directives/oppia-response-graph-input.component.ts
  extensions/interactions/GraphInput/directives/oppia-response-graph-input.directive.ts
  extensions/interactions/GraphInput/directives/oppia-short-response-graph-input.component.ts
  extensions/interactions/GraphInput/directives/oppia-short-response-graph-input.directive.ts
  extensions/interactions/GraphInput/graph-input-interactions.module.ts
  extensions/interactions/base_test.py
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/interactions/interactions.module.ts
  extensions/objects/templates/graph-editor.directive.html
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12145 Use pip 20 and explain `deparallelize_terser` param more
  scripts/install_prerequisites.sh
  scripts/run_e2e_tests.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11926 Fix part of #10415: Refactor activity validators
  core/domain/exploration_validators.py
  core/domain/exploration_validators_test.py
  core/domain/feedback_jobs_one_off.py
  core/domain/feedback_services.py
  core/domain/feedback_validators.py
  core/domain/feedback_validators_test.py
  core/domain/prod_validators.py
  core/domain/prod_validators_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12092 Use default log level Error for e2e_new_structure_tests
  .circleci/config.yml
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#12075 Resolve 'Element Click Intercepted' Flake with the 'Settings Tab' button in the Publications suite
  core/tests/protractor_desktop/publicationAndLibrary.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#12159 Add a waitFor for saving story drafts.
  core/tests/protractor_utils/StoryEditorPage.js
Labels: PR CHANGELOG: QA Team -- @nithusha21

#12162 Use EditabilityService to determine when solution can be edited
  core/templates/components/state-directives/solution-editor/solution-editor.directive.html
  core/templates/components/state-directives/solution-editor/solution-editor.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12129 Fix part of #12117: Remove loop from html linter file
  scripts/linters/html_linter.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12138 Upgrade component wrapper for Angular html Bind.
  .github/CODEOWNERS
  core/templates/components/angular-html-bind/angular-html-bind-wrapper.directive.spec.ts
  core/templates/components/angular-html-bind/angular-html-bind-wrapper.directive.ts
  core/templates/components/angular-html-bind/dynamic-content.module.ts
  core/templates/components/shared-component.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#11861 Fix #10349: Move getter methods from topic_services to topic_fetchers
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/classroom.py
  core/controllers/classroom_test.py
  core/controllers/creator_dashboard.py
  core/controllers/feedback_test.py
  core/controllers/questions_list_test.py
  core/controllers/reader_test.py
  core/controllers/resources_test.py
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/controllers/story_editor_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/classroom_services_test.py
  core/domain/skill_services_test.py
  core/domain/story_fetchers_test.py
  core/domain/story_jobs_one_off_test.py
  core/domain/story_services_test.py
  core/domain/subtopic_page_services_test.py
  core/domain/topic_fetchers.py
  core/domain/topic_fetchers_test.py
  core/domain/topic_jobs_one_off_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/domain/topic_validators.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#12119 Fix #11070: empty docstring linter error
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12166 Fix erroneous image on splash page with mirror-image fractions.
  assets/images/splash/student_desk.png
  assets/images/splash/student_desk.webp
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#12183 Relax Lighthouse Accessibility Assertions
  .lighthouserc-accessibility.js
Labels: PR: LGTM

#12136 Fix v34 to v35 conversion fn
  core/domain/exp_domain.py
  core/domain/exp_fetchers.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
Labels: PR: LGTM

#12103 New Ratio Input: ensure `n`-th term of ratio equals `x`
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.directive.ts
  core/templates/filters/parameterize-rule-description.filter.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-rules.service.spec.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-rules.service.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.spec.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.ts
  extensions/interactions/RatioExpressionInput/protractor.js
  extensions/interactions/interaction_specs.json
  extensions/interactions/rule-input-defs.ts
  extensions/interactions/rule_templates.json
  extensions/objects/models/objects.py
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/object_defaults.json
  extensions/objects/protractor.js
  extensions/objects/templates/positive-int-editor.component.html
  extensions/objects/templates/positive-int-editor.component.spec.ts
  extensions/objects/templates/positive-int-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12193 Fixes #12185: Review bugs in the contributor dashboard
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/domain/feedback_services.py
  core/domain/suggestion_services.py
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review.directive.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
  feconf.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12213 Fix errors in gtag installation.
  core/templates/google-analytics.initializer.ts
  core/templates/services/site-analytics.service.ts
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: for current release

#12220 Fixes the e2e failure "Expected 'Rejected' to be 'Revisions Requested'."
  core/tests/protractor_desktop/contributorDashboard.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM, PR: for current release

#12050 Fix part of #10306: Added async keyword to a function that return promise
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.spec.ts
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.ts
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: LGTM

#12216 Added unit tests for skill-mastery.component.ts and collection-local-nav.component.ts
  core/templates/components/skill-mastery/skill-mastery.component.spec.ts
  core/templates/pages/collection-player-page/collection-local-nav/collection-local-nav.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#12127 Fix part of #10306 : Add "async" keyword to asynchronous functions in "playthrough-issues-backend-api.service.ts"
  core/templates/services/exploration-improvements.service.spec.ts
  core/templates/services/playthrough-issues-backend-api.service.spec.ts
  core/templates/services/playthrough-issues-backend-api.service.ts
  core/templates/services/playthrough-issues.service.spec.ts
  core/templates/services/playthrough-issues.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11974 Fixes part of #8472: Migrate Exploration Rights Service
  core/templates/components/state-editor/state-editor-properties-services/state-property.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/unresolved-answers-overview/unresolved-answers-overview.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.ts
  core/templates/pages/exploration-editor-page/services/exploration-category.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-objective.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights-backend-api.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-title.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/exploration-improvements.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12131 Fix part of #9749: Topics and skills dashboard navbar breadcrumb
  core/templates/components/shared-component.module.ts
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar-breadcrumb.component.html
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar-breadcrumb.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/navbar/topics-and-skills-dashboard-navbar-breadcrumb.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.import.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.mainpage.html
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12167 Update the year to 2021
  NOTICE
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: LGTM

#12023 Fix part of #8472: question-validation.service.ts along with spec migrated to angular
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
  core/templates/pages/skill-editor-page/services/question-creation.service.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/question-validation.service.spec.ts
  core/templates/services/question-validation.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12204 Number of elements in ratio expression input should not be more than 10
  extensions/interactions/RatioExpressionInput/RatioExpressionInput.py
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.spec.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.ts
  extensions/interactions/interaction_specs.json
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11738 Fixes #11438: Made contributor dashboard header sticky with reducing the size of user details container
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
Labels: PR: LGTM

#12153 Migrate ConfirmOrCancelModal to Angular and use it in a modal.
  .github/CODEOWNERS
  .gitignore
  core/templates/components/common-layout-directives/common-elements/confirm-or-cancel-modal.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/confirm-or-cancel-modal.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.ts
  core/templates/pages/skill-editor-page/modal-templates/delete-misconception-modal.component.html
  core/templates/pages/skill-editor-page/modal-templates/delete-misconception-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/delete-misconception-modal.component.ts
  core/templates/pages/skill-editor-page/modal-templates/delete-misconception-modal.controller.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/delete-misconception-modal.controller.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/services/ngb-modal.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM, PR: don't merge - STALE BUILD

#12097 editStateButton click intercepted by welcome modal
  core/tests/protractor/accessibility.js
  core/tests/protractor/learnerFlow.js
  core/tests/protractor/libraryFlow.js
  core/tests/protractor_desktop/additionalEditorFeatures.js
  core/tests/protractor_desktop/additionalPlayerFeatures.js
  core/tests/protractor_desktop/classroomPage.js
  core/tests/protractor_desktop/collections.js
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_desktop/creatorDashboard.js
  core/tests/protractor_desktop/embedding.js
  core/tests/protractor_desktop/explorationFeedbackTab.js
  core/tests/protractor_desktop/explorationHistoryTab.js
  core/tests/protractor_desktop/explorationImprovementsTab.js
  core/tests/protractor_desktop/explorationStatisticsTab.js
  core/tests/protractor_desktop/explorationTranslationTab.js
  core/tests/protractor_desktop/extensions.js
  core/tests/protractor_desktop/fileUploadExtensions.js
  core/tests/protractor_desktop/learnerDashboard.js
  core/tests/protractor_desktop/playVoiceovers.js
  core/tests/protractor_desktop/profileFeatures.js
  core/tests/protractor_desktop/publicationAndLibrary.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_desktop/topicAndStoryViewer.js
  core/tests/protractor_desktop/userJourneys.js
  core/tests/protractor_desktop/voiceoverUploadFeatures.js
  core/tests/protractor_desktop/wipeout.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/ExplorationEditorTranslationTab.js
  core/tests/protractor_utils/general.js
  core/tests/protractor_utils/workflow.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#12154 Reassign @Hudda as codeowner
  .github/CODEOWNERS
Labels: PR: LGTM

#12217 Follow up fixes contributor dashboard review
  core/domain/feedback_services.py
  core/domain/suggestion_services.py
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM, PR: for current release

#12176 Fix part of #10306: Adds 'async' keyword to asynchronous function in pretest-question-backend-api.service
  core/templates/domain/question/pretest-question-backend-api.service.spec.ts
  core/templates/domain/question/pretest-question-backend-api.service.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12207 Fix #12171 : Removed redundant position property from classroom banner
  core/templates/pages/library-page/library-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12175 Fix #12174 : Added extra margin to the bottom of the search bar component in the library page
  core/templates/pages/library-page/library-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11971 Fix part of #9749: `audio-file-uploader.directive.ts` migrated to angular.
  core/templates/components/forms/custom-forms-directives/audio-file-uploader.component.html
  core/templates/components/forms/custom-forms-directives/audio-file-uploader.component.spec.ts
  core/templates/components/forms/custom-forms-directives/audio-file-uploader.component.ts
  core/templates/components/forms/custom-forms-directives/audio-file-uploader.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/add-audio-translation-modal.controller.ts
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/add-audio-translation-modal.template.html
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, REVIEWERS: Please add changelog label

#12021 Fixes part of #10306 : Added async keyword to asynchronous functions that return a promise
  core/templates/domain/question/question-backend-api.service.spec.ts
  core/templates/domain/question/question-backend-api.service.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.controller.spec.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12110 Fix part of #9749: Migrated promo-bar-directive
  .github/CODEOWNERS
  core/templates/App.ts
  core/templates/base-components/base-content.directive.html
  core/templates/components/common-layout-directives/common-elements/promo-bar.component.html
  core/templates/components/common-layout-directives/common-elements/promo-bar.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/promo-bar.component.ts
  core/templates/components/common-layout-directives/common-elements/promo-bar.directive.html
  core/templates/components/common-layout-directives/common-elements/promo-bar.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12192 Fix the pause voice-over issue in audio bar.
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12245 Fix #10798: Fixing End-to-End Tests with action.js and waitFor.js for ExplorationEditorHistoryTab.js
  core/tests/protractor_utils/ExplorationEditorHistoryTab.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12148 Fix #10798: Fixes failure of e2e tests with action.js
  core/tests/protractor_utils/LearnerDashboardPage.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM, PR: don't merge - STALE BUILD

#12239 Fix part of #10306: added async to createTopic in topic-creation-backend-api.service.ts
  core/templates/components/entity-creation-services/topic-creation.service.ts
  core/templates/domain/topic/topic-creation-backend-api.service.spec.ts
  core/templates/domain/topic/topic-creation-backend-api.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12268 Adds a polyfill for globalThis
  core/templates/App.ts
  core/templates/Polyfills.ts
  core/templates/pages/about-page/about-page.import.ts
  core/templates/pages/admin-page/admin-page.import.ts
  core/templates/pages/classroom-page/classroom-page.import.ts
  core/templates/pages/collection-editor-page/collection-editor-page.import.ts
  core/templates/pages/collection-player-page/collection-player-page.import.ts
  core/templates/pages/contact-page/contact-page.import.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.import.ts
  core/templates/pages/delete-account-page/delete-account-page.import.ts
  core/templates/pages/donate-page/donate-page.import.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.import.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.import.ts
  core/templates/pages/error-pages/error-page.import.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.import.ts
  core/templates/pages/exploration-player-page/exploration-player-page.import.ts
  core/templates/pages/get-started-page/get-started-page.import.ts
  core/templates/pages/landing-pages/stewards-landing-page/stewards-landing-page.import.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.import.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.import.ts
  core/templates/pages/library-page/library-page.import.ts
  core/templates/pages/maintenance-page/maintenance-page.import.ts
  core/templates/pages/moderator-page/moderator-page.import.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.import.ts
  core/templates/pages/participation-playbook/playbook.import.ts
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.import.ts
  core/templates/pages/practice-session-page/practice-session-page.import.ts
  core/templates/pages/preferences-page/preferences-page.import.ts
  core/templates/pages/privacy-page/privacy-page.import.ts
  core/templates/pages/profile-page/profile-page.import.ts
  core/templates/pages/review-test-page/review-test-page.import.ts
  core/templates/pages/signup-page/signup-page.import.ts
  core/templates/pages/skill-editor-page/skill-editor-page.import.ts
  core/templates/pages/splash-page/splash-page.import.ts
  core/templates/pages/story-editor-page/story-editor-page.import.ts
  core/templates/pages/story-viewer-page/story-viewer-page.import.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.import.ts
  core/templates/pages/teach-page/teach-page.import.ts
  core/templates/pages/terms-page/terms-page.import.ts
  core/templates/pages/thanks-page/thanks-page.import.ts
  core/templates/pages/topic-editor-page/topic-editor-page.import.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.import.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.import.ts
  core/templates/tests/console_errors.import.ts
  package.json
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: for current release

#12231 Fix issue with share button in exploration viewer
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.html
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.ts
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12218 Update classroom card to show # of chapters instead of # of stories
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/story_editor.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_fetchers.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/storage/topic/gae_models.py
  core/templates/components/summary-tile/story-summary-tile.directive.html
  core/templates/components/summary-tile/topic-summary-tile.directive.html
  core/templates/domain/classroom/classroom-backend-api.service.spec.ts
  core/templates/domain/topic/topic-summary.model.spec.ts
  core/templates/domain/topic/topic-summary.model.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.service.spec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#12226 Fix e2e flake:No element found using locator: by.cssContainingText("option" , "moderator")
  core/tests/protractor_utils/action.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12234 Fix #11909: make footer responsive in smaller view
  core/templates/pages/oppia_footer_directive.html
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#12284 Rename release constant key
  release_constants.json
Labels: PR CHANGELOG: Release team -- @nithusha21, PR: for current release

#12257 New navigational structure: Foundation site and Oppia.org Integration
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/pages/oppia_footer_directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12248 Fix part of #11496: Adds lint check to disallow browser.sleep() calls
  .eslintrc
  core/tests/protractor_desktop/embedding.js
  scripts/linters/custom_eslint_checks/rules/protractor-practices.js
  scripts/linters/custom_eslint_checks/rules/protractor-practices.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_sleep.js
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12271 Increase logging on the publications suite
  .circleci/config.yml
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#12057 Fixes part of #11464: Populate interactions with the saved solution.
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.spec.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.ts
  core/templates/services/exploration-html-formatter.service.spec.ts
  core/templates/services/exploration-html-formatter.service.ts
  core/templates/services/guppy-initialization.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.directive.ts
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.component.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.directive.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.ts
  extensions/interactions/NumericInput/directives/oppia-interactive-numeric-input.directive.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.spec.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.ts
  extensions/interactions/SetInput/directives/oppia-interactive-set-input.directive.ts
  extensions/interactions/TextInput/directives/oppia-interactive-text-input.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12222 Fix part of #8423 Add eslint check to ensure space between type and : [e.g: const variableName:<space>TYPE]
  .eslintrc
  core/templates/components/forms/custom-forms-directives/image-uploader.directive.ts
  core/templates/components/skill-selector/skill-selector.directive.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/collection/collection-update.service.ts
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/StatesObjectFactory.ts
  core/templates/domain/exploration/editable-exploration-backend-api.service.ts
  core/templates/domain/question/editable-question-backend-api.service.ts
  core/templates/domain/skill/MisconceptionObjectFactory.ts
  core/templates/domain/skill/skill-creation-backend-api.service.ts
  core/templates/domain/skill/skill-rights-backend-api.service.spec.ts
  core/templates/domain/skill/skill-rights.model.ts
  core/templates/domain/story/editable-story-backend-api.service.ts
  core/templates/domain/story/story-update.service.spec.ts
  core/templates/domain/story/story-update.service.ts
  core/templates/domain/story_viewer/story-viewer-backend-api.service.ts
  core/templates/domain/topic/topic-creation-backend-api.service.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/domain/utilities/stopwatch.model.ts
  core/templates/expressions/expression-parser.service.spec.ts
  core/templates/pages/about-page/about-page.component.spec.ts
  core/templates/pages/error-pages/error-page.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  core/templates/pages/exploration-editor-page/feedback-tab/thread-table/thread-table.component.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.ts
  core/templates/pages/exploration-editor-page/services/state-tutorial-first-time.service.ts
  core/templates/pages/exploration-editor-page/services/user-email-preferences-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/user-email-preferences.service.spec.ts
  core/templates/pages/exploration-editor-page/services/user-email-preferences.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-mode.service.spec.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  core/templates/pages/participation-playbook/playbook.component.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-routing.service.ts
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/splash-page/splash-page.component.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
  core/templates/pages/teach-page/teach-page.component.spec.ts
  core/templates/pages/teach-page/teach-page.component.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  core/templates/services/alerts.service.ts
  core/templates/services/construct-translation-ids.service.spec.ts
  core/templates/services/exploration-features.service.ts
  core/templates/services/exploration-html-formatter.service.ts
  core/templates/services/id-generation.service.spec.ts
  core/templates/services/search.service.spec.ts
  core/templates/services/search.service.ts
  core/templates/services/state-top-answers-stats-backend-api.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-rules.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-rules.service.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-rules.service.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.spec.ts
  extensions/interactions/interaction-attributes-extractor.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12073 Shard Lint Tests
  .github/workflows/lint.yml
  scripts/linters/pre_commit_linter.py
  scripts/linters/pre_commit_linter_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12209 Move Users E2E Tests to GitHub Actions
  .circleci/config.yml
  .github/workflows/e2e_user_features.yml
  .github/workflows/e2e_user_profile.yml
  scripts/check_e2e_tests_are_captured_in_ci.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12256 Remove old conversion functions and upgrade all exploration demo yaml files to the latest schema versions.
  core/controllers/editor_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_fetchers.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/question_services_test.py
  core/domain/state_domain_test.py
  core/domain/stats_jobs_one_off_test.py
  core/domain/user_jobs_continuous_test.py
  core/tests/data/string_classifier_test.yaml
  core/tests/test_utils.py
  data/explorations/about_oppia.yaml
  data/explorations/adventure.yaml
  data/explorations/all_interactions/all_interactions.yaml
  data/explorations/audio_test/audio_test.yaml
  data/explorations/binary_search/The Lazy Magician.yaml
  data/explorations/boot_verbs.yaml
  data/explorations/classifier_demo_exploration.yaml
  data/explorations/example_exploration_in_collection1.yaml
  data/explorations/example_exploration_in_collection2.yaml
  data/explorations/example_exploration_in_collection3.yaml
  data/explorations/exploration_player_test.yaml
  data/explorations/hola.yaml
  data/explorations/learner_flow_test.yaml
  data/explorations/modeling_graphs/Graph Modeling.yaml
  data/explorations/multiples.yaml
  data/explorations/pitch_perfect.yaml
  data/explorations/protractor_mobile_test_exploration.yaml
  data/explorations/protractor_test_1.yaml
  data/explorations/rating_test.yaml
  data/explorations/root_linear_coefficient_theorem/root_linear_coefficient_theorem.yaml
  data/explorations/solar_system/The Solar System.yaml
  data/explorations/test_interactions/Test of expressions and interactions.yaml
  data/explorations/three_balls/Three Balls.yaml
  data/explorations/welcome/welcome.yaml
  feconf.py
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: LGTM

#12189 Fix part of #9749: Migrate admin-navbar and admin-dev-mode-activities-tab & added api service for admin-navbar
  core/templates/components/forms/custom-forms-directives/thumbnail-display.component.spec.ts
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.component.html
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.component.spec.ts
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.component.ts
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.directive.html
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.directive.ts
  core/templates/pages/admin-page/admin-page.directive.html
  core/templates/pages/admin-page/admin-page.directive.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/admin-page/navbar/admin-navbar.component.html
  core/templates/pages/admin-page/navbar/admin-navbar.component.spec.ts
  core/templates/pages/admin-page/navbar/admin-navbar.component.ts
  core/templates/pages/admin-page/navbar/admin-navbar.directive.html
  core/templates/pages/admin-page/navbar/admin-navbar.directive.spec.ts
  core/templates/pages/admin-page/navbar/admin-navbar.directive.ts
  extensions/objects/templates/filepath-editor.directive.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12128 Fix part of #9749: Migrates image-uploader.directive.ts to angular
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.template.html
  core/templates/components/forms/custom-forms-directives/image-uploader.component.html
  core/templates/components/forms/custom-forms-directives/image-uploader.component.ts
  core/templates/components/forms/custom-forms-directives/image-uploader.directive.ts
  core/templates/components/review-material-editor/review-material-editor.directive.ts
  core/templates/components/rubrics-editor/rubrics-editor.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.directive.html
  core/templates/pages/preferences-page/preferences-page.component.ts
  extensions/objects/templates/filepath-editor.directive.html
  extensions/objects/templates/filepath-editor.directive.ts
  extensions/objects/templates/svg-filename-editor.component.html
  extensions/objects/templates/svg-filename-editor.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12289 Fix #12252 : Make search bar in classroom page more responsive for mobile screens
  core/templates/pages/library-page/search-bar/search-bar.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#12283 Add permission decorator for primary admin
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/admin_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12076 Fix part of #9749: Admin jobs tab component migrated
  core/templates/pages/admin-page/admin-page.directive.html
  core/templates/pages/admin-page/admin-page.directive.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/admin-page/jobs-tab/admin-jobs-tab.component.html
  core/templates/pages/admin-page/jobs-tab/admin-jobs-tab.component.spec.ts
  core/templates/pages/admin-page/jobs-tab/admin-jobs-tab.component.ts
  core/templates/pages/admin-page/jobs-tab/admin-jobs-tab.directive.html
  core/templates/pages/admin-page/jobs-tab/admin-jobs-tab.directive.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12281 Fix #12260 : Adds media queries to prevent overflow of tabs in question editor
  core/templates/components/forms/custom-forms-directives/html-select.directive.html
  core/templates/components/state-directives/rule-editor/rule-editor.directive.html
  core/templates/components/state-directives/rule-editor/rule-type-selector.directive.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.directive.html
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: LGTM, PR: for current release

#12151 Fix part of #10306: Add "async" keyword to asynchronous functions that return a promise
  core/templates/domain/exploration/state-interaction-stats-backend-api.service.spec.ts
  core/templates/domain/exploration/state-interaction-stats-backend-api.service.ts
  core/templates/services/state-interaction-stats.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12272 Fix part of #11475: Migrate _validate_post_commit_is_private to Apache Beam
  jobs/base_model_validator.py
  jobs/base_model_validator_errors.py
  jobs/base_model_validator_errors_test.py
  jobs/base_model_validator_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12295 Fix #12178: Make questions appear on practice session
  core/templates/components/question-directives/question-player/question-player-concept-card-modal.controller.spec.ts
  core/templates/components/question-directives/question-player/question-player-concept-card-modal.controller.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#12302 Fix part of #10306: Add "async" keyword to asynchronous functions that return a promise
  core/templates/domain/question/question-backend-api.service.spec.ts
  core/templates/domain/question/question-backend-api.service.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.spec.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts
  core/templates/services/questions-list.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12133 Fix part of #7450 : Modified private methods in "jobs_test.ContinuousComputationTests"
  core/jobs_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12309 Additional Classroom Page Fixes (change "Chapters" to "Lessons")
  core/controllers/topic_editor.py
  core/domain/story_services.py
  core/templates/components/summary-tile/topic-summary-tile.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#12082 Fix part of #10798 : End-to-End tests for profileMenuFlow.js
  core/tests/protractor/profileMenuFlow.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12089 Autofocus editors:Adds autofocus to topic,skill and exploration editor.
  core/templates/components/question-directives/questions-list/questions-list.directive.html
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/css/oppia.css
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.html
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-title-editor/exploration-title-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-title-editor/exploration-title-editor.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.html
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/templates/create-feedback-thread-modal.template.html
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.html
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/help-modal.template.html
  core/templates/pages/exploration-editor-page/modal-templates/welcome-modal.template.html
  core/templates/pages/exploration-editor-page/translation-tab/modal-templates/welcome-translation-modal.template.html
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.html
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.html
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12041 Email dashboard - Send emails by custom predicates
  .github/workflows/e2e_email_dashboard_features.yml
  assets/constants.ts
  core/controllers/email_dashboard.py
  core/controllers/email_dashboard_test.py
  core/domain/user_query_domain.py
  core/domain/user_query_domain_test.py
  core/domain/user_query_jobs_one_off.py
  core/domain/user_query_jobs_one_off_test.py
  core/domain/user_query_services.py
  core/domain/user_query_services_test.py
  core/domain/user_validators_test.py
  core/storage/user/gae_models.py
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/components/forms/schema-based-editors/schema-based-int-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-int-editor.directive.ts
  core/templates/domain/email-dashboard/email-dashboard-backend-api.service.spec.ts
  core/templates/domain/email-dashboard/email-dashboard-backend-api.service.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-data.service.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.html
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.ts
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/emailDashboard.js
  core/tests/protractor_utils/PreferencesPage.js
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12325 Name CI Tests for Custom ESLint Checks
  .github/workflows/eslint_tests.yml
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12291 Fix part of #10306: Added async keyword to synchronous function that return a promise
  core/templates/services/exploration-improvements.service.ts
Labels: PR: LGTM, REVIEWERS: Please add changelog label

#12321 Fix #12224: Edit question flow fixes
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/domain/question/editable-question-backend-api.service.spec.ts
  core/templates/domain/question/editable-question-backend-api.service.ts
  core/templates/pages/topic-editor-page/modal-templates/select-skill-and-difficulty-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12331 Fix #12206: Modal will be opened after clicking clock icon
  core/templates/domain/learner_dashboard/learner-dashboard-icons.directive.ts
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: LGTM, PR: for current release

#12157 Audit Job to check for explorations with number of ratio terms greater than 10
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Affects datastore layer, PR: LGTM, PR: for current release

#12330 Fix #12306: Changes the order of headings on the Splash Page
  core/templates/pages/splash-page/splash-page.component.html
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#12287 Fix part of #11776. Adding/Updating 'Args' and 'Return' in docstrings
  constants.py
  python_utils.py
  schema_utils_test.py
  utils.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12340 Show skillreview RTE component when submitting a question via the community dashboard
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts
  core/templates/services/context.service.spec.ts
  core/templates/services/context.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#12320 Fix part of #10474: Make typescript checks strict in NumericInputRulesService
  extensions/interactions/NumericInput/directives/numeric-input-rules.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12077 Update to the Proof that changes are correct section.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: LGTM

#11690 Fix #11333: Correctly enable publish and transfer to community buttons in settings tab of exploration editor
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.html
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights.service.ts
  core/templates/pages/exploration-editor-page/services/user-exploration-permissions.service.spec.ts
  core/templates/pages/exploration-editor-page/services/user-exploration-permissions.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
Labels: PR: LGTM

#12308 Fix part of #11464: Fixes task 8 by allowing user to edit skill difficulty .
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.directive.html
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: for current release

#12357 Update authors and changelog for v3.0.9
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
  package.json
Labels: PR CHANGELOG: Release team -- @nithusha21

#12132 Fix part of #8016: Added a separate backend api service for learner-view-info-backend-api.service.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.directive.ts
  core/templates/pages/exploration-player-page/services/learner-view-info-backend-api-service.spec.ts
  core/templates/pages/exploration-player-page/services/learner-view-info-backend-api.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR: LGTM

#12329 Remove @darksun27 from CODEOWNERS
  .github/CODEOWNERS
Labels: PR: LGTM

#11791 Fix part of #9749: Migrate skill selector to angular
  core/templates/components/material.module.ts
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/components/skill-selector/merge-skill-modal.controller.spec.ts
  core/templates/components/skill-selector/merge-skill-modal.controller.ts
  core/templates/components/skill-selector/select-skill-modal.controller.spec.ts
  core/templates/components/skill-selector/select-skill-modal.controller.ts
  core/templates/components/skill-selector/select-skill-modal.template.html
  core/templates/components/skill-selector/skill-selector.component.html
  core/templates/components/skill-selector/skill-selector.component.ts
  core/templates/components/skill-selector/skill-selector.directive.html
  core/templates/components/skill-selector/skill-selector.directive.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/filters/string-utility-filters/filter-for-matching-substring.pipe.spec.ts
  core/templates/filters/string-utility-filters/filter-for-matching-substring.pipe.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.directive.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/services/angular-services.index.ts
  extensions/objects/templates/skill-selector-editor.directive.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12114 Autofocus: Adds autofocus to learner dashboard, contributor dashboard and story editor.
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/preferences-page/preferences-page.component.html
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12307 Clarify Port Open/Closed Language in scripts/common.py
  scripts/common.py
  scripts/common_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/run_lighthouse_tests.py
  scripts/start.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12345 Log 404 from base handler without raising exceptions
  core/controllers/base.py
Labels: PR: don't merge - STALE BUILD

#12342 Standardize handling of translatable objects.
  .github/CODEOWNERS
  core/domain/exp_domain_test.py
  core/domain/object_registry.py
  core/domain/object_registry_test.py
  core/domain/param_domain.py
  core/domain/rte_component_registry_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/translatable_object_registry.py
  core/domain/translatable_object_registry_test.py
  core/templates/pages/exploration-player-page/layout-directives/content-language-selector.component.ts
  core/templates/pages/exploration-player-page/services/content-translation-language.service.ts
  core/tests/build_sources/extensions/base.py
  extensions/interactions/base.py
  extensions/interactions/base_test.py
  extensions/objects/models/objects.py
  extensions/objects/models/objects_test.py
  schema_utils.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: LGTM

#12338 Part of #11475: Update beam conventions
  .github/CODEOWNERS
  core/domain/base_model_validators.py
  core/domain/cron_services.py
  core/domain/user_validators.py
  core/platform/datastore/gae_datastore_services.py
  feconf.py
  jobs/base_model_validator.py
  jobs/base_model_validator_errors.py
  jobs/base_model_validator_errors_test.py
  jobs/base_model_validator_test.py
  jobs/jobs_test_utils.py
  jobs/jobs_utils.py
  jobs/jobs_utils_test.py
  python_utils.py
  python_utils_test.py
  requirements.in
  requirements.txt
  scripts/third_party_size_check.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12359 Add a check for whether a server is running on the elasticsearch port when running e2e tests.
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#12368 Fix #12372: Pin and Assert Lighthouse Chrome Versions
  .circleci/config.yml
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_email_dashboard_features.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features.yml
  .github/workflows/e2e_user_profile.yml
  .github/workflows/lighthouse_accessibility.yml
  .github/workflows/lighthouse_performance.yml
  scripts/backend_test_shards.json
  scripts/common.py
  scripts/install_chrome_for_ci.py
  scripts/install_chrome_for_ci_test.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12351 Fix part of #9749 :On screen keyboard Migrated
  core/templates/components/on-screen-keyboard/on-screen-keyboard.component.html
  core/templates/components/on-screen-keyboard/on-screen-keyboard.component.spec.ts
  core/templates/components/on-screen-keyboard/on-screen-keyboard.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-player-page/exploration-player-page.component.html
  core/templates/services/guppy-initialization.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98
