Repository oppia/oppia, pull requests merged in 2021-02, with the labels that each got.

#11808 Fix #11696: Replace skill id with the new one for all topics that the skill was assigned to; fixes a feedback editor bug
  core/controllers/topics_and_skills_dashboard.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/templates/components/state-directives/outcome-editor/outcome-editor.directive.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#11766 Fix #11679: Success alert on merging two skills
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11809 Fix #11677: Allow reordering of chapters as they are created
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11375 Fix part of #10667: Prevent duplicate skill creation
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/skill_fetchers.py
  core/domain/skill_fetchers_test.py
  core/domain/skill_services.py
  core/storage/skill/gae_models.py
  core/templates/domain/skill/skill-backend-api.service.spec.ts
  core/templates/domain/skill/skill-backend-api.service.ts
  core/templates/domain/skill/skill-domain.constants.ajs.ts
  core/templates/domain/skill/skill-domain.constants.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/create-new-skill-modal.template.html
  feconf.py
  main.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11835 Fix #9887: Adds inline comment checker for codeowner
  scripts/linters/codeowner_linter.py
  scripts/linters/codeowner_linter_test.py
  scripts/linters/test_files/invalid_inline_comment_codeowner_filepath
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11664 Fixes issue #11247: Duplicated Number Input interaction into General tab
  assets/constants.ts
  core/domain/interaction_registry_test.py
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
  core/tests/build_sources/assets/constants.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
Labels: PR: LGTM

#11842 Increase duration that success toast stays on the screen (save exp)
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
  core/tests/protractor_utils/ExplorationEditorPage.js
Labels: PR: LGTM

#11790 Fixes #11694: Resolving console errors in Skill preview tab
  core/templates/pages/exploration-player-page/services/exploration-engine.service.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/pages/practice-session-page/practice-session-page.module.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/services/context.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11701 End-to-end test for topic and story viewer page
  core/templates/components/summary-tile/story-summary-tile.directive.html
  core/templates/components/summary-tile/subtopic-summary-tile.directive.html
  core/templates/components/summary-tile/topic-summary-tile.directive.html
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
  core/tests/protractor_desktop/topicAndStoryViewer.js
  core/tests/protractor_utils/SubTopicViewerPage.js
  core/tests/protractor_utils/TopicViewerPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11741 Fix part of #11431: Replace run_in_transaction call with decorator
  core/controllers/feedback.py
  core/controllers/tasks.py
  core/domain/feedback_services.py
  core/domain/feedback_services_test.py
  core/domain/rating_services.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11855 Remove deleted skills from skillIdToRubricsObject in the topic editor
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11667 Fix #11181: Changed button CSS
  core/templates/css/oppia.css
  core/templates/pages/about-page/about-page.component.html
  core/templates/pages/donate-page/donate-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: don't merge - STALE BUILD, stale

#11673 Refactor controllers to not user storage models directly
  .pylintrc
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/controllers/email_dashboard.py
  core/controllers/email_dashboard_test.py
  core/domain/base_model_validators.py
  core/domain/base_model_validators_test.py
  core/domain/email_validators_test.py
  core/domain/feedback_validators.py
  core/domain/feedback_validators_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_validators.py
  core/domain/suggestion_validators_test.py
  core/domain/user_query_domain.py
  core/domain/user_query_domain_test.py
  core/domain/user_query_jobs_one_off_test.py
  core/domain/user_query_services.py
  core/domain/user_query_services_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/user_validators_test.py
  core/jobs.py
  core/storage/job/gae_models.py
  core/storage/user/gae_models.py
  feconf.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
  utils.py
  utils_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#11846 Use waitFor.invisibilityOf immediately after waitFor.visibilityOf for toast messages in ExplorationEditorPage.saveChanges
  core/tests/protractor_utils/ExplorationEditorPage.js
Labels: PR: LGTM

#11859 Update authors and changelog for v3.0.7
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
  package.json
Labels: PR CHANGELOG: Release team -- @nithusha21

#11845 Fix part of #11462: Avoid initializing AngularFire by default
  assets/constants.ts
  core/templates/components/shared-component.module.ts
  core/templates/services/auth.service.spec.ts
  core/templates/services/auth.service.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#11832 Make categories visible
  core/templates/pages/library-page/search-bar/search-bar.component.html
Labels: PR: LGTM

#11860 Fix #8174: Remove duplicate DIRS_TO_ADD_TO_SYS_PATH from the code base
  core/tests/gae_suite.py
  scripts/common.py
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#11621 Fixes issue #11212: Added "Hint tip" dialogue box
  core/templates/components/button-directives/hint-and-solution-buttons.directive.html
  core/templates/components/button-directives/hint-and-solution-buttons.directive.ts
  core/templates/pages/exploration-player-page/services/hints-and-solution-manager.service.ts
Labels: PR: LGTM

#11826 Fix part of #9749: Migrating Splash page to angular
  core/templates/pages/splash-page/splash-page.component.html
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/splash-page/splash-page.component.ts
  core/templates/pages/splash-page/splash-page.import.ts
  core/templates/pages/splash-page/splash-page.module.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11781 Fix Part of #11431: Adds decorator in run_in_transaction
  core/domain/email_manager.py
  core/domain/feedback_jobs_continuous.py
Labels: PR: LGTM

#11857 Fix #10201 and #11682: Editor and translation tutorials fully working
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.html
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.html
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.ts
  core/templates/services/editability.service.spec.ts
  core/templates/services/editability.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#11875 Fix part of #10667 - Blocked profile icon and commit message for topics
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.directive.html
  core/templates/pages/topic-editor-page/modal-templates/topic-editor-save-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11858 Fix part of #N/A: Fix missing login required modal
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/contributor-dashboard-page/login-required-message/login-required-message.component.html
  core/templates/pages/contributor-dashboard-page/login-required-message/login-required-message.component.spec.ts
  core/templates/pages/contributor-dashboard-page/login-required-message/login-required-message.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/login-required-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/login-required-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/login-required-modal.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: LGTM

#11865 Hide previously assigned topics for a skill in the 'Assign Skill to Topic' modal
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/assign-skill-to-topic-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11882 Upgrade GA version to use gtag.
  core/templates/google-analytics.initializer.ts
  core/templates/pages/header_js_libs.html
Labels: PR: for current release

#11352 Fix part of #9749:Migrates Collection Local Nav to Angular
  core/templates/components/shared-component.module.ts
  core/templates/pages/collection-player-page/collection-local-nav/collection-local-nav.component.html
  core/templates/pages/collection-player-page/collection-local-nav/collection-local-nav.component.ts
  core/templates/pages/collection-player-page/collection-local-nav/collection-local-nav.directive.html
  core/templates/pages/collection-player-page/collection-local-nav/collection-local-nav.directive.ts
  core/templates/pages/collection-player-page/collection-player-page.import.ts
  core/templates/pages/collection-player-page/collection-player-page.module.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11368 Fix part of #8472 : Migrate state-tutorial-first-time.service.ts to Angular 8
  core/templates/pages/exploration-editor-page/services/state-tutorial-first-time.service.ts
  core/templates/pages/exploration-editor-page/services/tutorial-events-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/tutorial-events-backend-api.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM, PR: don't merge - STALE BUILD

#11731 Fixes #11639: Improve style of navbar-menu:focus
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11879 Fix #10474 : Added augmented-skill-summary files to tsconfig-strict.json
  tsconfig-strict.json
Labels: PR: LGTM

#11818 Fix #11779. Added a width which can fit its content.
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
Labels: PR: LGTM

#11780 Fix #3984: Change tooltip from "Add to playlist" to "Watch later" in exploration library
  assets/i18n/en.json
  core/tests/protractor_utils/LibraryPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11762 Fix part of #11721: Adds i18n for delete button text on preferences page
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/preferences-page/preferences-page.component.html
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: LGTM

#11770 Fix part of #8423: Adds Args to docstrings in some files
  core/controllers/concept_card_viewer.py
  core/controllers/custom_landing_pages.py
  core/controllers/suggestion.py
  python_utils.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11759 Fix part of #10798: Fix end to end tests in GetStartedPage.js
  core/tests/protractor_utils/GetStartedPage.js
Labels: PR: LGTM

#11563 Fix part of #11485: Revisit old completed lessons in story
  core/controllers/topic_editor.py
  core/controllers/topic_viewer.py
  core/controllers/topic_viewer_test.py
  core/domain/story_fetchers.py
  core/domain/story_services_test.py
  core/templates/components/summary-tile/story-summary-tile.directive.ts
  core/templates/domain/story/story-summary.model.spec.ts
  core/templates/domain/story/story-summary.model.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.spec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.ts
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.spec.ts
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11852 Fix #9008: FetchIssuesHandler responds with a JSON object instead of an array
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/templates/services/playthrough-issues-backend-api.service.spec.ts
  core/templates/services/playthrough-issues-backend-api.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11798 Modifications added for fixing the position of SIGN IN icon on page reloading
  core/templates/css/oppia.css
Labels: PR: LGTM

#11557 Fix part of #10728: Migrate disallowed python functions regex to custom checker
  .pylintrc
  python_utils.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
  scripts/linters/test_files/invalid_assert_equals.py
  scripts/linters/test_files/invalid_basestring.py
  scripts/linters/test_files/invalid_datetime_now.py
  scripts/linters/test_files/invalid_input.py
  scripts/linters/test_files/invalid_iteritems.py
  scripts/linters/test_files/invalid_iterkeys.py
  scripts/linters/test_files/invalid_itervalues.py
  scripts/linters/test_files/invalid_next.py
  scripts/linters/test_files/invalid_open.py
  scripts/linters/test_files/invalid_parse_qs.py
  scripts/linters/test_files/invalid_print.py
  scripts/linters/test_files/invalid_put_async.py
  scripts/linters/test_files/invalid_put_multi_async.py
  scripts/linters/test_files/invalid_range.py
  scripts/linters/test_files/invalid_round.py
  scripts/linters/test_files/invalid_str.py
  scripts/linters/test_files/invalid_stringio.py
  scripts/linters/test_files/invalid_unquote.py
  scripts/linters/test_files/invalid_urljoin.py
  scripts/linters/test_files/invalid_urlparse.py
  scripts/linters/test_files/invalid_urlsplit.py
  scripts/linters/test_files/invalid_urlunsplit.py
  scripts/linters/test_files/invalid_zip.py
  scripts/linters/test_files/valid_py_ignore_pragma.py
Labels: PR: LGTM

#11405 Fix part of #11329: image-uploader-directive(remove: addclass and removeclass)
  core/templates/components/forms/custom-forms-directives/image-uploader.directive.html
  core/templates/components/forms/custom-forms-directives/image-uploader.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11871 Fix part of #11693: Adds validation for MAX_COMMIT_MESSAGE_LENGTH
  core/domain/base_model_validators.py
  core/domain/base_model_validators_test.py
  core/domain/prod_validators_test.py
Labels: PR: LGTM

#11792 Shard backend tests
  .github/CODEOWNERS
  .github/workflows/backend_tests.yml
  scripts/backend_test_shards.json
  scripts/run_backend_tests.py
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11824 Fix docstring in InteractionInstance
  core/domain/state_domain.py
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: LGTM

#11893 Fixes #11886 : Added padding at the bottom of the search bar container to make it visible
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/library-page/search-bar/search-bar.component.html
  core/templates/pages/library-page/search-results/search-results.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11862 Fix #11840 and #11899: Allow admin to view, add, and remove users to use submit question tab on contributor dashboard + misc admin roles fixes
  assets/constants.ts
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/user_domain.py
  core/domain/user_domain_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/user_validators.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.directive.ts
  core/templates/pages/admin-page/roles-tab/role-graph.directive.html
  core/tests/protractor_desktop/contributorDashboard.js
  core/tests/protractor_utils/AdminPage.js
  main.py
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep

#11908 Fix installation issues with gtag
  core/templates/google-analytics.initializer.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
  typings/custom-window-defs.d.ts
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: for current release

#11844 Fixed Classroom sub issue of changing skills font style and adding margin
  core/templates/css/oppia.css
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11869 Fix #9427: Remove email access in admin-page
  core/templates/pages/admin-page/admin-page.directive.html
  core/templates/pages/admin-page/admin-page.directive.ts
  core/templates/pages/admin-page/navbar/admin-navbar.directive.html
  core/templates/pages/admin-page/navbar/admin-navbar.directive.ts
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#11907 Fix frontend test failing flakily due to coverage
  extensions/objects/templates/svg-filename-editor.component.spec.ts
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11663 Fix part of #8472: Migrate Collection Update Service
  core/templates/domain/collection/collection-update.service.spec.ts
  core/templates/domain/collection/collection-update.service.ts
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/pages/collection-editor-page/templates/collection-editor-pre-publish-modal.controller.spec.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11787 Fix part of #9749 : Migrate admin-prod-mode-activities-tab directive to angular component
  core/templates/components/shared-component.module.ts
  core/templates/pages/admin-page/activities-tab/admin-prod-mode-activities-tab.component.html
  core/templates/pages/admin-page/activities-tab/admin-prod-mode-activities-tab.component.ts
  core/templates/pages/admin-page/activities-tab/admin-prod-mode-activities-tab.directive.html
  core/templates/pages/admin-page/admin-page.directive.html
  core/templates/pages/admin-page/admin-page.directive.ts
  core/templates/pages/admin-page/admin-page.module.ts
  scripts/check_frontend_coverage.py
Labels: PR: LGTM, REVIEWERS: Please add changelog label

#11863 Fix Part of #4057 : Adds test for some methods
  core/templates/pages/exploration-player-page/services/audio-translation-manager.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR: LGTM

#11902 Fix Part of #10700: Convert Object factory to Model Class
  core/templates/App.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/domain/question/question-backend-api.service.ts
  core/templates/domain/question/question-summary-for-one-skill-object.model.spec.ts
  core/templates/domain/question/question-summary-for-one-skill-object.model.ts
  core/templates/domain/question/question-summary-object.model.spec.ts
  core/templates/domain/question/question-summary-object.model.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/questions-list.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, REVIEWERS: Please add changelog label

#11915 Fix part of #10306: Added async keyword to asynchronous functions that return a promise
  core/templates/domain/exploration/exploration-permissions-backend-api.service.spec.ts
  core/templates/domain/exploration/exploration-permissions-backend-api.service.ts
  core/templates/pages/exploration-editor-page/services/user-exploration-permissions.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, REVIEWERS: Please add changelog label

#11894 Fix #11885: added media query to change to mobile view
  core/templates/pages/collection-player-page/collection-player-page.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11878 Fix part of #10474: Added computation-data-model files to tsconfig-strict.json
  core/templates/domain/admin/computation-data.model.spec.ts
  tsconfig-strict.json
Labels: PR: LGTM

#11937 Fix part of #11433: Add new TranslatableHtml and TranslatableUnicode objects.
  extensions/objects/models/objects.py
  extensions/objects/models/objects_test.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#11940 Fixes #11919 : Refactor CSS styles to prevent errors from looking clickable
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#11872 Resolving the Back Button Flake in additionalPlayerFeatures
  core/tests/protractor_desktop/additionalPlayerFeatures.js
Labels: PR: LGTM

#11938 Log process info before terminating or killing.
  scripts/common.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11917 Add hi-en to SUPPORTED_CONTENT_LANGUAGES and fixes revision card not showing content
  assets/constants.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.spec.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: for current release

#11889 Fix part of #8472: Migrate story-update.service
  core/templates/domain/story/story-update.service.spec.ts
  core/templates/domain/story/story-update.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11913 Fixes issue #11898: The social media icons are missaligned and different sizes
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.html
Labels: PR: don't merge - STALE BUILD, PR: for current release

#11941 Fix #11918: Added text to that conveys the interaction used
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#11107 Fix #9456 (macOS SSL Errors): Use Certify for CA Roots
  python_utils.py
  scripts/install_third_party_libs.py
  scripts/script_import_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11854 Switching order of panes in the history view
  core/templates/components/version-diff-visualization/version-diff-visualization.directive.ts
  core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.controller.ts
  core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.template.html
  core/tests/protractor_desktop/explorationHistoryTab.js
  core/tests/protractor_utils/ExplorationEditorHistoryTab.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11936 Upgrade libraries and enable TS checks for Google Analytics
  core/templates/google-analytics.initializer.ts
  extensions/rich_text_components/Svgdiagram/protractor.js
  package.json
  tsconfig.json
  typings/custom-window-defs.d.ts
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11734 Fix Part of #11496: Lint Check for E2E Action Functions
  .eslintrc
  core/tests/protractor_utils/CollectionEditorPage.js
  scripts/linters/custom_eslint_checks/rules/e2e-action.js
  scripts/linters/custom_eslint_checks/rules/e2e-action.spec.js
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11964 Fix images not loading when offline
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.directive.ts
Labels: PR: for current release

#11821 Fix part of #11431: Replace run_in_transaction call with decorator
  core/domain/wipeout_service.py
  core/platform/datastore/gae_datastore_services.py
  core/storage/base_model/gae_models.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: don't merge - STALE BUILD

#11946 Fix signup process for user marked as deleted
  core/platform/auth/gae_auth_services.py
  core/platform/auth/gae_auth_services_test.py
  core/storage/auth/gae_models.py
  core/tests/protractor_desktop/wipeout.js
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: for current release

#11864 Move _check_extra_js_files to the general linter
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/js_ts_linter.py
  scripts/linters/js_ts_linter_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM, PR: don't merge - STALE BUILD

#11873 Fix Classroom Page : Fixes Classroom page navbar in mobile view.
  core/templates/pages/story-viewer-page/story-viewer-page.mainpage.html
  core/templates/pages/topic-viewer-page/navbar-breadcrumb/topic-viewer-navbar-breadcrumb.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.mainpage.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11948 Fix #11887: fixes audio player position in tablet,mobile view
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11982 Fix part of #11900: Disable opportunities list next button if there are no more results to display
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: LGTM

#11952 Fix part of #11950: Add jobs for migrating all snapshots of explorations and questions to the latest schema version.
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/fs_domain.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/question_jobs_one_off.py
  core/domain/question_jobs_one_off_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#11931 Fix #11912: Implements delay before cards can be rearranged.
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
Labels: PR: LGTM, PR: for current release

#11981 Address comments from #11946
  core/storage/auth/gae_models.py
  core/storage/auth/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#11958 Fixes part of #9749: Migrates all the Algebraic Interactions to angular components.
  extensions/interactions/AlgebraicExpressionInput/algebraic-expression-input-extensions.module.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-interaction.component.html
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-response.component.html
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-short-response.component.html
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-response-algebraic-expression-input.component.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-response-algebraic-expression-input.component.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-short-response-algebraic-expression-input.component.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-short-response-algebraic-expression-input.component.ts
  extensions/interactions/interactions.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11994 Fix #11584: Upgrade Redis CLI to 6.0.10
  scripts/common.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11976 Fix #11901: aligns bullets points properly.
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.directive.html
Labels: PR CHANGELOG: Contributor Pages -- @DubeySandeep, PR: don't merge - STALE BUILD, PR: for current release

#11956 Fixed some minor changes for the Update-Audio-Translation window
  core/templates/components/forms/forms-templates/mark-all-audio-and-translations-as-needing-update-modal.directive.html
  core/templates/components/forms/forms-templates/mark-audio-as-needing-update-modal.directive.html
  core/templates/components/question-directives/question-editor/question-editor.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#11962 Admin navbar test
  core/templates/pages/admin-page/navbar/admin-navbar.directive.spec.ts
  core/templates/pages/admin-page/navbar/admin-navbar.directive.ts
  scripts/check_frontend_coverage.py
Labels: PR: LGTM

#11995 Fix #11947 and #11993: Fix URLs Reported to E2E Logging Server and Report Branch Name
  scripts/flake_checker.py
  scripts/flake_checker_test.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#11991 Fix part of #4057: added tests in image-upload-helper.service.spec.ts
  core/templates/services/image-upload-helper.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#11911 Fix #11892:Added a specific height to the cards.
  core/templates/css/oppia.css
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD, PR: for current release

#11999 Fixes part of #10798: Fixing E2E tests for accessibility.js
  core/tests/protractor/accessibility.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#12007 Fix part of #4057: Added a test file for state-tutorial-first-time.service.ts
  core/templates/pages/exploration-editor-page/services/state-tutorial-first-time.service.spec.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#12008 Contributor dashboard bug fixes
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review.directive.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
Labels: PR: for current release

#11970 Replace deprecated waitFor with corresponding waitForX functions 11843
  core/tests/puppeteer/lighthouse_setup.js
  puppeteer-login-script.js
Labels: PR: LGTM

#11930 Fixing End-to-End Tests with action.js and waitFor.js for protractor_utils/users.js fixes part of #10798
  core/tests/protractor/learnerFlow.js
  core/tests/protractor_utils/users.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#12009 Fix part of #11920: Add `RatioExpressionInputRulesService` to `UpgradedServices.ts`
  core/templates/services/UpgradedServices.ts
  core/templates/services/interaction-rules-registry.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#11989 Skill editor console
  core/templates/components/question-directives/questions-list/questions-list.directive.html
  core/templates/components/question-directives/questions-list/questions-list.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM, PR: for current release

#11965 Fix of part of #10798 end-to-end test general.js file
  core/tests/protractor_utils/general.js
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11990 Fix part of #9749: Migrate all fraction interactions
  core/templates/domain/objects/FractionObjectFactory.ts
  core/templates/domain/objects/FractionObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/test-interaction-panel/test-interaction-panel.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/test-interaction-panel/test-interaction-panel.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/services/current-interaction.service.ts
  extensions/interactions/AlgebraicExpressionInput/algebraic-expression-input-interactions.module.ts
  extensions/interactions/Continue/continue-interactions.module.ts
  extensions/interactions/Continue/directives/oppia-interactive-continue.component.ts
  extensions/interactions/FractionInput/FractionInput.ts
  extensions/interactions/FractionInput/directives/fraction-input-interaction.component.html
  extensions/interactions/FractionInput/directives/fraction-input-interaction.directive.html
  extensions/interactions/FractionInput/directives/fraction-input-response.component.html
  extensions/interactions/FractionInput/directives/fraction-input-response.directive.html
  extensions/interactions/FractionInput/directives/fraction-input-short-response.component.html
  extensions/interactions/FractionInput/directives/fraction-input-short-response.directive.html
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.component.ts
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.directive.ts
  extensions/interactions/FractionInput/directives/oppia-response-fraction-input.component.ts
  extensions/interactions/FractionInput/directives/oppia-response-fraction-input.directive.ts
  extensions/interactions/FractionInput/directives/oppia-short-response-fraction-input.component.ts
  extensions/interactions/FractionInput/directives/oppia-short-response-fraction-input.directive.ts
  extensions/interactions/FractionInput/fraction-input-interactions.module.ts
  extensions/interactions/base_test.py
  extensions/interactions/customization-args-defs.ts
  extensions/interactions/interaction-attributes-extractor.service.spec.ts
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/interactions/interactions.module.ts
  scripts/check_frontend_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#11973 Fix part of #11462: Transition frontend to manage Firebase authentication using HTTP cookies
  .github/CODEOWNERS
  assets/constants.ts
  core/templates/components/oppia-angular-root.component.spec.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/auth-backend-api.service.spec.ts
  core/templates/services/auth-backend-api.service.ts
  core/templates/services/auth-interceptor.service.spec.ts
  core/templates/services/auth-interceptor.service.ts
  core/templates/services/auth.service.spec.ts
  core/templates/services/auth.service.ts
  core/templates/tests/unit-test-utils.ts
  package.json
  yarn.lock
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: don't merge - STALE BUILD

#11954 Delete learner-answer-details-data service as it was dead code.
  core/templates/pages/exploration-editor-page/services/learner-answer-details-data.service.spec.ts
  core/templates/pages/exploration-editor-page/services/learner-answer-details-data.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#11906 Add emulator mode
  .circleci/config.yml
  assets/constants.ts
  core/controllers/resources.py
  core/controllers/resources_test.py
  core/platform/app_identity/gae_app_identity_services.py
  core/platform/app_identity/gae_app_identity_services_test.py
  core/platform/models.py
  core/platform/models_test.py
  core/platform/taskqueue/dev_mode_taskqueue_services.py
  core/templates/domain/utilities/url-interpolation.service.spec.ts
  core/templates/domain/utilities/url-interpolation.service.ts
  core/templates/services/assets-backend-api.service.spec.ts
  core/templates/services/assets-backend-api.service.ts
  scripts/build.py
  scripts/build_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  utils.py
  utils_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM, PR: require post-merge sync to HEAD

#12037 Fix #12036: Add Link to Wiki for Shards-Filesystem Mismatch
  scripts/run_backend_tests.py
Labels: PR CHANGELOG: QA Team -- @nithusha21

#12022 Fixes part of #10306 : Added async keyword to asynchronous functions that return a promise
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/services/exploration-features-backend-api.service.spec.ts
  core/templates/services/exploration-features-backend-api.service.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12014 Resolving the Error in Adding Screenshots (Github Actions)
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
Labels: PR CHANGELOG: QA Team -- @nithusha21, PR: LGTM

#11951 Placing the lesson image in center of lesson card and removing text with 0 story
  core/templates/components/summary-tile/topic-summary-tile.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12032 Fixes part of #10306: Added async keyword to functions that return a promise in topic-viewer-backend-api.service.ts
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.spec.ts
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.ts
  core/templates/pages/topic-viewer-page/navbar-breadcrumb/topic-viewer-navbar-breadcrumb.component.spec.ts
  core/templates/pages/topic-viewer-page/navbar-breadcrumb/topic-viewer-navbar-breadcrumb.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#11985 Add 'Classroom' option in the sidebar menu (mobile specific) with 'Basic Mathematics' option in submenu.
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.directive.html
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.directive.ts
  core/tests/protractor_mobile/navigation.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12033 Fix part of #3446: Add frontend validators to PencilCodeEditor.
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.spec.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.ts
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek
