Repository oppia/oppia, pull requests merged in 2021-04, with the labels that each got.

#12262 Fix Part of #4057: Fully cover context.service.ts
  core/templates/services/context.service.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM

#12328 Fix #12322 : Makes subheading aligned with heading in translation modal
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: LGTM

#12414 Fix #12380: Exploration statistics pie charts now show on page load
  core/templates/pages/exploration-editor-page/statistics-tab/charts/pie-chart.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12337 Fix part of #9749: Image uploader is migrated and fixed
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.template.html
  core/templates/components/forms/custom-forms-directives/image-uploader.component.html
  core/templates/components/forms/custom-forms-directives/image-uploader.component.ts
  core/templates/components/forms/custom-forms-directives/image-uploader.directive.ts
  core/templates/components/review-material-editor/review-material-editor.directive.ts
  core/templates/components/rubrics-editor/rubrics-editor.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.directive.html
  core/templates/pages/preferences-page/preferences-page.component.ts
  extensions/objects/templates/filepath-editor.directive.html
  extensions/objects/templates/filepath-editor.directive.ts
  extensions/objects/templates/svg-filename-editor.component.html
  extensions/objects/templates/svg-filename-editor.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12415 Removed pretest question, fixed attribution text and added more comments to preferences page
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.html
  core/templates/pages/preferences-page/preferences-page.component.html
  feconf.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12409 Fix #12379: Changes regex to support case insensitive process names
  scripts/common_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12419 Fix part of #11472: Note the idempotency of super-admin privilege handlers
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.html
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12413 Fix part of #11475: Rearchitect the code in /jobs/
  .github/CODEOWNERS
  jobs/decorators/__init__.py
  jobs/decorators/audit_decorators.py
  jobs/decorators/audit_decorators_test.py
  jobs/jobs_test_base.py
  jobs/jobs_utils_test.py
  jobs/transforms/__init__.py
  jobs/transforms/base_model_audits.py
  jobs/transforms/base_model_audits_test.py
  jobs/transforms/user_audits.py
  jobs/transforms/user_audits_test.py
  jobs/types/__init__.py
  jobs/types/audit_errors.py
  jobs/types/audit_errors_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12391 Remove lowest supported role
  core/domain/wipeout_service.py
  core/storage/auth/gae_models.py
  core/storage/auth/gae_models_test.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12430 Fix part of #11462: Add missing await
  core/templates/services/auth.service.ts
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: for current release

#12423 Fix Part of #10474 : Make checks strict for SchemaFormSubmittedService and SetInputRulesService
  core/templates/services/schema-form-submitted.service.spec.ts
  extensions/interactions/SetInput/directives/set-input-rules.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12411 Fix Part of #10474 : Make typescript checks strict for MathEquationInputRulesService
  extensions/interactions/MathEquationInput/directives/math-equation-input-rules.service.spec.ts
  extensions/interactions/MathEquationInput/directives/math-equation-input-rules.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12387 Fix part of #9749: Migrate topic-selector directive to angular
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/templates/assign-skill-to-topic-modal.template.html
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/select-topics.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/select-topics.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/select-topics.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/topic-selector.directive.html
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/topic-selector.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12406 Fix #11581: Enable rule inputs to be translated in the translation tab and these translations to be used in the learner view.
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/templates/domain/exploration/StatesObjectFactory.ts
  core/templates/domain/exploration/StatesObjectFactorySpec.ts
  core/templates/domain/exploration/WrittenTranslationObjectFactory.ts
  core/templates/domain/exploration/WrittenTranslationObjectFactorySpec.ts
  core/templates/domain/exploration/WrittenTranslationsObjectFactory.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/state/StateObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.html
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.html
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.spec.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#12358 Fix Admin Page Flake: expected 0 to equal 2
  core/tests/protractor_desktop/adminTabFeatures.js
  core/tests/protractor_utils/AdminPage.js
  core/tests/protractor_utils/action.js
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12417 Fix part of #11462: Add SyncFirebaseAccountsOneOffJob
  core/domain/auth_jobs_one_off.py
  core/domain/auth_jobs_one_off_test.py
  core/jobs_registry.py
  core/platform/auth/firebase_auth_services_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: Affects datastore layer, PR: for current release

#12416 Fix left over stats server errors
  core/domain/event_services.py
  core/domain/event_services_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
Labels: PR: LGTM, PR: for current release

#12360 Fix part of #9749: Migrate Algebraic Expression Editor, boolean-editor, code-string-editor, coord-two-dim
  core/templates/App.ts
  core/templates/components/forms/custom-forms-directives/object-editor.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/pages/about-page/about-page.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
  core/templates/services/guppy-configuration.service.spec.ts
  extensions/objects/object-components.module.ts
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/templates/algebraic-expression-editor.component.html
  extensions/objects/templates/algebraic-expression-editor.component.spec.ts
  extensions/objects/templates/algebraic-expression-editor.component.ts
  extensions/objects/templates/boolean-editor.component.html
  extensions/objects/templates/boolean-editor.component.ts
  extensions/objects/templates/boolean-editor.directive.html
  extensions/objects/templates/boolean-editor.directive.ts
  extensions/objects/templates/code-string-editor.component.html
  extensions/objects/templates/code-string-editor.component.ts
  extensions/objects/templates/code-string-editor.directive.html
  extensions/objects/templates/code-string-editor.directive.ts
  extensions/objects/templates/coord-two-dim-editor.component.html
  extensions/objects/templates/coord-two-dim-editor.component.ts
  extensions/objects/templates/coord-two-dim-editor.directive.ts
  package.json
  scripts/check_frontend_test_coverage.py
  scripts/check_frontend_test_coverage_test.py
  tsconfig.json
  typings/tests/tsconfig.json
  yarn.lock
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12438 Fix part of #11462: Hide user menu on login and logout pages
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
  core/templates/pages/login-page/login-page.component.ts
  core/templates/pages/login-page/login-page.mainpage.html
  core/templates/pages/logout-page/logout-page.component.spec.ts
  core/templates/pages/logout-page/logout-page.component.ts
  core/templates/pages/logout-page/logout-page.mainpage.html
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM, PR: for current release

#12408 Fix part of #11476: Introduce process manager for Cloud Datastore Emulator
  feconf.py
  scripts/common.py
  scripts/common_test.py
  scripts/setup_gae.py
Labels: PR: LGTM

#12441 Fix part of #11462: Remove logging from SyncFirebaseAccountsOneOffJob
  core/domain/auth_jobs_one_off.py
Labels: PR: LGTM

#12397 Allow skillreview RTE component globally
  assets/rich_text_components_definitions.ts
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts
  core/templates/services/context.service.spec.ts
  core/templates/services/context.service.ts
  core/templates/services/rte-helper.service.spec.ts
  core/templates/services/rte-helper.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#12439 Fix #11904: Reset "local storage" image destination before closing the translation suggestion modal
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.ts
Labels: PR: for current release

#12429 Fix Part of #10474: Make TS checks strict for StateEditorRefreshService, StateNameService, StoryNodeModel
  core/templates/components/state-editor/state-editor-properties-services/state-name.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-name.service.ts
  core/templates/domain/story/story-node.model.spec.ts
  core/templates/domain/story/story-node.model.ts
  core/templates/pages/exploration-editor-page/services/state-editor-refresh.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12298 Create android feedback reporting storage models
  .github/CODEOWNERS
  core/domain/app_feedback_report_validators.py
  core/domain/app_feedback_report_validators_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/takeout_service_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/jobs_registry.py
  core/platform/datastore/gae_datastore_services.py
  core/platform/models.py
  core/storage/app_feedback_report/__init__.py
  core/storage/app_feedback_report/gae_models.py
  core/storage/app_feedback_report/gae_models_test.py
  feconf.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer

#12398 Fix prod validation errors
  core/controllers/tasks.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_jobs_one_off_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/interaction_jobs_one_off_test.py
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/domain/rights_manager.py
  core/domain/rights_manager_test.py
  core/domain/stats_jobs_one_off_test.py
  core/domain/story_jobs_one_off.py
  core/domain/story_jobs_one_off_test.py
  core/domain/story_services.py
  core/domain/taskqueue_services.py
  core/domain/user_jobs_one_off.py
  core/domain/user_jobs_one_off_test.py
  core/domain/user_validators_test.py
  core/domain/wipeout_service_test.py
  core/jobs_registry.py
  core/platform/taskqueue/cloud_taskqueue_services_test.py
  core/platform/taskqueue/dev_mode_taskqueue_services_test.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/collection/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/question/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/story/gae_models.py
  core/storage/subtopic/gae_models.py
  core/storage/topic/gae_models.py
  core/storage/user/gae_models.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Affects datastore layer, PR: LGTM

#12285 Fix part of #8423: Restrict use of px with 0
  core/templates/css/.stylelintrc
  core/templates/css/oppia.css
  extensions/visualizations/oppia-visualization-sorted-tiles.directive.css
Labels: PR: LGTM, REVIEWERS: Please add changelog label

#12453 Fix an incorrect comment in context.service.ts
  core/templates/services/context.service.ts
Labels: PR: LGTM

#12244 Fix #6219: Fixes checkbox CSS
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.directive.html
Labels: PR: LGTM

#12428 Fix part of #11475: Implement AuditAllStorageModelsJob with Apache Beam
  jobs/audit_jobs.py
  jobs/audit_jobs_test.py
  jobs/base_jobs.py
  jobs/base_jobs_test.py
  jobs/decorators/audit_decorators.py
  jobs/decorators/audit_decorators_test.py
  jobs/io/__init__.py
  jobs/io/stub_io.py
  jobs/io/stub_io_test.py
  jobs/job_options.py
  jobs/job_options_test.py
  jobs/job_test_utils.py
  jobs/job_utils.py
  jobs/job_utils_test.py
  jobs/jobs_test_base.py
  jobs/registry.py
  jobs/registry_test.py
  jobs/transforms/audits_registry.py
  jobs/transforms/audits_registry_test.py
  jobs/transforms/base_model_audits.py
  jobs/transforms/base_model_audits_test.py
  jobs/transforms/user_audits.py
  jobs/transforms/user_audits_test.py
  jobs/types/audit_errors.py
  jobs/types/audit_errors_test.py
  python_utils.py
  python_utils_test.py
  scripts/backend_test_shards.json
  scripts/docstrings_checker.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12403 Fix part of #11464: Applies code-owner suggestion on PR #12308
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee, PR: LGTM

#12456 Changes gae version to 335.0.0
  core/tests/gae_suite.py
  scripts/common.py
  scripts/setup_gae.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12442 Fix #12378: Images in exploration tabs and collapsibles correctly preload
  core/templates/pages/exploration-player-page/services/extract-image-filenames-from-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/extract-image-filenames-from-state.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12431 Fixes New Nav Structure and Focus on exploration editor.
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.html
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.html
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: for current release

#12473 Routine update of translations.
  assets/i18n/ab.json
  assets/i18n/ar.json
  assets/i18n/ast.json
  assets/i18n/bn.json
  assets/i18n/br.json
  assets/i18n/bs.json
  assets/i18n/ca.json
  assets/i18n/da.json
  assets/i18n/de.json
  assets/i18n/diq.json
  assets/i18n/el.json
  assets/i18n/eo.json
  assets/i18n/es.json
  assets/i18n/eu.json
  assets/i18n/fa.json
  assets/i18n/fi.json
  assets/i18n/fit.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/hi.json
  assets/i18n/hu.json
  assets/i18n/id.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/kab.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/lt.json
  assets/i18n/mk.json
  assets/i18n/my.json
  assets/i18n/nb.json
  assets/i18n/ne.json
  assets/i18n/nl.json
  assets/i18n/pl.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sk.json
  assets/i18n/skr-arab.json
  assets/i18n/sr-ec.json
  assets/i18n/sv.json
  assets/i18n/tr.json
  assets/i18n/uk.json
  assets/i18n/ur.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: LGTM

#12476 Fix part of N/A: Fix flaky frontend test.
  core/templates/services/guppy-configuration.service.spec.ts
Labels: PR: LGTM

#12420 Fix Part of #4057: Frontend test to fully cover collection-node.model.ts
  core/templates/domain/collection/collection-node.model.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12364 Fix #11903: Removes unnecessary height property from left navbar buttons of Contributor Dashboard
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#12191 Fix part of #9749: Migrate translation opportunity modal
  core/templates/components/angular-html-bind/angular-html-bind-wrapper.directive.ts
  core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/domain/opportunity/translatable-texts.model.spec.ts
  core/templates/domain/opportunity/translatable-texts.model.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/login-required-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.html
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.html
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.ts
  core/templates/pages/contributor-dashboard-page/voiceover-opportunities/voiceover-opportunities.component.html
  core/templates/pages/exploration-editor-page/services/user-exploration-permissions.service.spec.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/image-local-storage.service.spec.ts
  core/templates/services/image-local-storage.service.ts
  extensions/interactions/CodeRepl/code-repl-prediction.service.spec.ts
  extensions/objects/templates/svg-filename-editor.component.spec.ts
  scripts/build.py
  scripts/build_test.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12465 Fix part of #11475: Migrates _validate_old_models_marked_deleted
  jobs/transforms/user_audits.py
  jobs/transforms/user_audits_test.py
  jobs/types/audit_errors.py
  jobs/types/audit_errors_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, REVIEWERS: Please add changelog label

#12462 Fix Part of #4057: Fully cover NumericInputValidationService with unit tests
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12418 Fix #12389: Disallow usage of xdescribe and xit in frontend unit test
  .eslintrc
  scripts/linters/custom_eslint_checks/rules/no-test-blockers.js
  scripts/linters/custom_eslint_checks/rules/no-test-blockers.spec.js
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/test_files/invalid_ddescribe_fdescribe.ts
  scripts/linters/test_files/invalid_iit_fit.ts
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM, PR: don't merge - STALE BUILD

#12233 Restrict exploration editor for explorations in story
  android_validation_constants.py
  android_validation_constants_test.py
  assets/constants.ts
  core/controllers/editor.py
  core/domain/exp_services.py
  core/domain/story_jobs_one_off.py
  core/domain/story_jobs_one_off_test.py
  core/domain/story_services.py
  core/domain/suggestion_services_test.py
  core/jobs_registry.py
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.directive.ts
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.html
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/css/oppia.css
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.controller.ts
  core/templates/pages/exploration-editor-page/services/exploration-language-code.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-language-code.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
  core/templates/services/context.service.spec.ts
  core/tests/test_utils.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Affects datastore layer, PR: LGTM, PR: for current release

#12461 Changes try except to not fail for python3
  python_utils.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12471 Add {Model.property: Model.ID} relationship checks to AuditAllStorageModelsJob
  core/domain/auth_validators.py
  core/platform/datastore/gae_datastore_services.py
  feconf.py
  jobs/audit_jobs.py
  jobs/audit_jobs_test.py
  jobs/decorators/audit_decorators.py
  jobs/decorators/audit_decorators_test.py
  jobs/job_test_utils.py
  jobs/job_test_utils_test.py
  jobs/job_utils.py
  jobs/job_utils_test.py
  jobs/transforms/audits_registry.py
  jobs/transforms/audits_registry_test.py
  jobs/transforms/auth_audits.py
  jobs/transforms/auth_audits_test.py
  jobs/transforms/user_audits.py
  jobs/transforms/user_audits_test.py
  jobs/types/audit_errors.py
  jobs/types/audit_errors_test.py
  jobs/types/model_property.py
  jobs/types/model_property_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Python Migration -- @brianrodri

#12225 Fix part of #8423: Implement new linter checks (Check for space before and after = in HTML)
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.directive.html
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
  core/templates/pages/oppia_footer_directive.html
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
  extensions/interactions/GraphInput/directives/graph-input-response.component.html
  extensions/interactions/GraphInput/directives/graph-viz.component.html
  scripts/linters/html_linter.py
  scripts/linters/html_linter_test.py
  scripts/linters/test_files/invalid_space_around_attribute.html
  scripts/linters/test_files/invalid_space_around_duplicate_attribute.html
  scripts/linters/test_files/invalid_space_around_innerhtml_attribute.html
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12486 Fix librarypage test #10798
  core/tests/protractor_utils/LibraryPage.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#12410 Fix part of #9749: Topics list directive migrated
  core/templates/pages/topics-and-skills-dashboard-page/delete-topic-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/delete-topic-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-topic-modal.component.html
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-topic-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-topic-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.directive.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12479 Fix part of #9749 Migrating outcome-feedback-editor.directive.ts to Angular
  core/templates/components/question-directives/question-editor/question-editor.directive.html
  core/templates/components/shared-component.module.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.directive.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.directive.ts
  core/templates/components/state-directives/outcome-editor/outcome-feedback-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-feedback-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-feedback-editor.directive.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-panel.component.html
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-panel.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12487 Fix part of #10474: Make TS checks strict for CollectionPlaythrough CollectionRights CollectionSummary
  core/templates/domain/collection/collection-playthrough.model.ts
  core/templates/domain/collection/collection-rights.model.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12230 Fix #12106 : Creates seperate variables to store different results in admin roles tab
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.directive.ts
  core/templates/pages/admin-page/roles-tab/role-graph.directive.html
Labels: PR: LGTM

#12065 Add Cloud Translate Services
  core/platform/cloud_translate/__init__.py
  core/platform/cloud_translate/cloud_translate_emulator.py
  core/platform/cloud_translate/cloud_translate_emulator_test.py
  core/platform/cloud_translate/cloud_translate_services.py
  core/platform/cloud_translate/cloud_translate_services_test.py
  core/platform/cloud_translate/dev_mode_cloud_translate_services.py
  core/platform/cloud_translate/dev_mode_cloud_translate_services_test.py
  core/platform/models.py
  core/platform/models_test.py
  requirements.in
  requirements.txt
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: LGTM

#12394 Fix part of #10728: Migrate metaclass python regex to custom Astroid checker
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
  scripts/linters/test_files/invalid_metaclass.py
Labels: PR: don't merge - STALE BUILD

#12483 Fix #11692: Adds a customization arg for math interactions that allow selecting division symbol.
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/question_domain.py
  core/domain/question_services_test.py
  core/domain/suggestion_registry.py
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactorySpec.ts
  core/templates/services/guppy-configuration.service.ts
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/protractor_desktop/extensions.js
  extensions/interactions/AlgebraicExpressionInput/AlgebraicExpressionInput.py
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-validation.service.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
  extensions/interactions/MathEquationInput/MathEquationInput.py
  extensions/interactions/MathEquationInput/directives/math-equation-input-validation.service.spec.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.spec.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.ts
  extensions/interactions/NumericExpressionInput/NumericExpressionInput.py
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-validation.service.spec.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.spec.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.ts
  extensions/interactions/customization-args-defs.ts
  extensions/interactions/interaction_specs.json
  extensions/objects/templates/math-equation-editor.component.spec.ts
  extensions/objects/templates/numeric-expression-editor.component.spec.ts
  feconf.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#12510 Updated gcloud version in release_constants
  release_constants.json
  scripts/setup_gae.py
Labels: PR CHANGELOG: Release team -- @nithusha21, PR: LGTM

#12495 Moving Tests To Github Actions
  .circleci/config.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  scripts/check_e2e_tests_are_captured_in_ci.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12489 Fix #6069 : Added top margin to "Start New Thread" button
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12515 Add MachineTranslatedText storage model and domain object
  .github/CODEOWNERS
  core/domain/prod_validation_jobs_one_off.py
  core/domain/translation_domain.py
  core/domain/translation_domain_test.py
  core/domain/translation_fetchers.py
  core/domain/translation_fetchers_test.py
  core/domain/translation_validators.py
  core/domain/translation_validators_test.py
  core/jobs_registry.py
  core/platform/models.py
  core/storage/translation/__init__.py
  core/storage/translation/gae_models.py
  core/storage/translation/gae_models_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#12317 Fix part of #11475: Migrate validate_model_domain_object_instances to beam jobs
  jobs/transforms/base_model_audits.py
  jobs/transforms/base_model_audits_test.py
  jobs/types/audit_errors.py
  jobs/types/audit_errors_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12491 Fix part of #10474: Strict type checks for NeedsGuidingResponsesTaskModal and its spec file
  core/templates/domain/improvements/needs-guiding-responses-task.model.spec.ts
  core/templates/domain/improvements/task-entry.model.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12511 Fix part of #7450: Modify private method in SuggestionServicesUnitTests
  core/domain/suggestion_services_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12530 Fixes e2e Flake in story Editor
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.directive.ts
Labels: REVIEWERS: Please add changelog label

#12534 Fix part of #11462: Add one-off job to detect accounts with duplicate emails
  core/domain/auth_jobs_one_off.py
  core/domain/auth_jobs_one_off_test.py
  core/jobs_registry.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: Affects datastore layer, PR: LGTM

#12535 Add Urdu to list of supported languages
  assets/constants.ts
Labels: PR: LGTM, PR: for current release

#12532 Create NgInit and mathjax Directive and Fix part of #9749: Migrate int, list-of-sets-of-translatable, list-of-tabs, list-of-unicode-string, set-of-unicode-string, logic-error, logic-question, math equation, math expression, muisc-phrase, nonnegative and number-units editors
  .github/CODEOWNERS
  core/templates/components/forms/custom-forms-directives/object-editor.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/directives/directives.module.ts
  core/templates/directives/mathjax.directive.spec.ts
  core/templates/directives/mathjax.directive.ts
  core/templates/directives/ng-init.directive.spec.ts
  core/templates/directives/ng-init.directive.ts
  extensions/interactions/GraphInput/graph-input-interactions.module.ts
  extensions/objects/object-components.module.ts
  extensions/objects/objectComponentsRequires.ts
  extensions/objects/objectComponentsRequiresForPlayers.ts
  extensions/objects/templates/int-editor.component.html
  extensions/objects/templates/int-editor.component.ts
  extensions/objects/templates/int-editor.directive.html
  extensions/objects/templates/int-editor.directive.ts
  extensions/objects/templates/list-editor.component.html
  extensions/objects/templates/list-editor.directive.html
  extensions/objects/templates/list-of-sets-of-translatable-html-content-ids-editor.component.html
  extensions/objects/templates/list-of-sets-of-translatable-html-content-ids-editor.component.ts
  extensions/objects/templates/list-of-tabs-editor.component.ts
  extensions/objects/templates/list-of-tabs-editor.directive.ts
  extensions/objects/templates/list-of-unicode-string-editor.component.ts
  extensions/objects/templates/list-of-unicode-string-editor.directive.ts
  extensions/objects/templates/logic-error-category-editor.component.html
  extensions/objects/templates/logic-error-category-editor.component.ts
  extensions/objects/templates/logic-error-category-editor.directive.html
  extensions/objects/templates/logic-error-category-editor.directive.ts
  extensions/objects/templates/logic-question-editor.component.html
  extensions/objects/templates/logic-question-editor.component.ts
  extensions/objects/templates/logic-question-editor.directive.html
  extensions/objects/templates/logic-question-editor.directive.ts
  extensions/objects/templates/math-equation-editor.component.html
  extensions/objects/templates/math-equation-editor.component.spec.ts
  extensions/objects/templates/math-equation-editor.component.ts
  extensions/objects/templates/math-expression-content-editor.component.html
  extensions/objects/templates/math-expression-content-editor.component.ts
  extensions/objects/templates/math-expression-content-editor.directive.html
  extensions/objects/templates/math-expression-content-editor.directive.ts
  extensions/objects/templates/music-phrase-editor.component.html
  extensions/objects/templates/music-phrase-editor.component.ts
  extensions/objects/templates/music-phrase-editor.directive.html
  extensions/objects/templates/music-phrase-editor.directive.ts
  extensions/objects/templates/nonnegative-int-editor.component.html
  extensions/objects/templates/nonnegative-int-editor.component.ts
  extensions/objects/templates/nonnegative-int-editor.directive.html
  extensions/objects/templates/nonnegative-int-editor.directive.ts
  extensions/objects/templates/number-with-units-editor.component.html
  extensions/objects/templates/number-with-units-editor.component.ts
  extensions/objects/templates/number-with-units-editor.directive.html
  extensions/objects/templates/number-with-units-editor.directive.ts
  extensions/objects/templates/set-of-unicode-string-editor.component.ts
  extensions/objects/templates/set-of-unicode-string-editor.directive.ts
  package.json
  scripts/check_frontend_test_coverage.py
  scripts/linters/general_purpose_linter.py
  tsconfig-strict.json
  tsconfig.json
  typings/tests/tsconfig.json
  yarn.lock
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12546 Emit object form validity event in list-of-sets-of-translatable-html-content-ids-editor.component.ts
  core/templates/components/state-directives/rule-editor/rule-editor.directive.html
  extensions/objects/templates/list-of-sets-of-translatable-html-content-ids-editor.component.ts
Labels: PR: LGTM

#12551 Add Dari to SUPPORTED_CONTENT_LANGUAGES
  assets/constants.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#12553 Fix part of #7450: Modify private method in ContinuousComputationTests
  core/jobs_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12521 Fix #11706 : Cursor should revert to normal when translation modal is closed
  core/templates/components/ck-editor-helpers/ck-editor-copy-toolbar/ck-editor-copy-toolbar.component.spec.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-toolbar/ck-editor-copy-toolbar.component.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#12555 Fix part of #11462: Include users marked for deletion when managing deleted users
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM, PR: for current release

#12493 Revert ownership to darksun27
  .github/CODEOWNERS
Labels: PR: LGTM

#12545 Fix part of #9749: Migrate pending account deletion page.
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.component.html
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.component.ts
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.mainpage.html
  core/templates/pages/pending-account-deletion-page/pending-account-deletion-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12485 Shard error fix for issue #12422
  scripts/run_backend_tests.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12562 Fix #12382 : Contribution Dashboard users with the SUBMIT_QUESTION or REVIEW_QUESTION permission should now be shown
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#12497 Fix part of #10474: Adds strict typing to `GuestCollectionProgressObjectFactory`
  core/templates/domain/collection/guest-collection-progress.model.spec.ts
  core/templates/domain/collection/guest-collection-progress.model.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM, PR: don't merge - STALE BUILD

#12561 Fix Part Of #10474: Make typescript checks strict for some services
  core/templates/domain/exploration/RuleObjectFactory.ts
  core/templates/domain/exploration/RuleObjectFactorySpec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-ids-backend-api.service.spec.ts
  core/templates/pages/exploration-player-page/services/learner-view-info-backend-api.service.spec.ts
  extensions/classifiers/winnowing-preprocessing.service.spec.ts
  extensions/classifiers/winnowing-preprocessing.service.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12432 Fix part of #9749: skills list directive and dependencies migrated
  core/templates/components/shared-component.module.ts
  core/templates/components/skill-selector/merge-skill-modal.component.html
  core/templates/components/skill-selector/merge-skill-modal.component.spec.ts
  core/templates/components/skill-selector/merge-skill-modal.component.ts
  core/templates/components/skill-selector/merge-skill-modal.controller.spec.ts
  core/templates/components/skill-selector/merge-skill-modal.controller.ts
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/topic/editable-topic-backend-api.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/delete-skill-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/delete-skill-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/assign-skill-to-topic-modal.component.html
  core/templates/pages/topics-and-skills-dashboard-page/modals/assign-skill-to-topic-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/assign-skill-to-topic-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-skill-modal.component.html
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-skill-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-skill-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/unassign-skill-from-topics-modal.component.html
  core/templates/pages/topics-and-skills-dashboard-page/modals/unassign-skill-from-topics-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/unassign-skill-from-topics-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/assign-skill-to-topic-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/assign-skill-to-topic-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.html
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.directive.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/unassign-skill-from-topics-modal.controller.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/unassign-skill-from-topics-modal.controller.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12516 Remove incoming emails
  .github/CODEOWNERS
  core/controllers/incoming_emails.py
  core/controllers/incoming_emails_test.py
  core/controllers/tasks.py
  core/controllers/tasks_test.py
  core/domain/email_domain.py
  core/domain/email_domain_test.py
  core/domain/email_manager.py
  core/domain/email_services.py
  core/domain/email_services_test.py
  core/domain/email_validators.py
  core/domain/email_validators_test.py
  core/domain/feedback_services.py
  core/domain/feedback_services_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/takeout_service_test.py
  core/domain/user_validators_test.py
  core/domain/wipeout_service_test.py
  core/jobs_registry.py
  core/storage/email/gae_models.py
  core/storage/email/gae_models_test.py
  core/tests/test_utils.py
  core/tests/test_utils_test.py
  main_mail.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12347 Fix part of #11475: Migrate _validate_post_commit_status to Apache Beam
  jobs/transforms/base_model_audits.py
  jobs/transforms/base_model_audits_test.py
  jobs/types/audit_errors.py
  jobs/types/audit_errors_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12524 Add MachineTranslatedStateTextsHandler and translation domain services
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/translation_domain.py
  core/domain/translation_domain_test.py
  core/domain/translation_fetchers.py
  core/domain/translation_fetchers_test.py
  core/domain/translation_services.py
  core/domain/translation_services_test.py
  core/domain/translation_validators.py
  core/domain/translation_validators_test.py
  core/jobs_registry.py
  core/platform/cloud_translate/cloud_translate_services.py
  core/storage/translation/gae_models.py
  core/storage/translation/gae_models_test.py
  feconf.py
  main.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep, PR: Affects datastore layer, PR: LGTM

#12572 Fix #12571: Update filepath editor to set correct width, height and offset on initialisation.
  extensions/objects/templates/filepath-editor.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: for current release

#12356 Add additional predicates to email dashboard
  assets/constants.ts
  core/controllers/email_dashboard.py
  core/controllers/email_dashboard_test.py
  core/domain/user_query_jobs_one_off.py
  core/domain/user_query_jobs_one_off_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  core/templates/domain/email-dashboard/email-dashboard-backend-api.service.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.html
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-page.component.ts
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12395 Fix Part of #9749:Migrates skill-description-editor directive to Angular
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#12240 Fix part of #11475: Migrate validate_commit_type to Apache Beam
  jobs/transforms/base_model_audits.py
  jobs/transforms/base_model_audits_test.py
  jobs/types/audit_errors.py
  jobs/types/audit_errors_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12477 Fix part of #10415: Refactor activity validators
  .github/CODEOWNERS
  core/domain/job_validators_test.py
  core/domain/prod_validation_jobs_one_off.py
  core/domain/subtopic_validators.py
  core/domain/subtopic_validators_test.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: LGTM

#12470 Migrates creation of enum to the inbuilt Enum method
  core/controllers/admin_test.py
  core/controllers/platform_feature.py
  core/controllers/platform_feature_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_domain_test.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_registry.py
  core/domain/platform_parameter_registry_test.py
  core/domain/storage_model_audit_jobs_test.py
  core/domain/user_validators.py
  core/domain/user_validators_test.py
  core/domain/wipeout_domain.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/platform/models.py
  core/platform_feature_list_test.py
  core/storage/base_model/gae_models.py
  core/storage/storage_models_test.py
  core/tests/test_utils.py
  jobs/transforms/base_model_audits.py
  python_utils.py
  python_utils_test.py
  utils.py
  utils_test.py
Labels: PR CHANGELOG: Python Migration -- @brianrodri, PR: LGTM

#12608 Fix #12400 and #12505: Add imports for modules that requires 'interactionsQuestionsRequires.ts'
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/practice-session-page/practice-session-page.module.ts
  core/templates/pages/review-test-page/review-test-page.module.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: for current release

#12574 Fixes #12142 Flake Fixed in Edit thumbnail Controller
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.controller.spec.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.controller.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12595 Fix console errors for duplicate skill description
  core/templates/components/entity-creation-services/skill-creation.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/create-new-skill-modal.controller.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12504 Fixes an error when uploading GIFs with transparent bg and add removes GIF from COMPRESSIBLE_IMAGE_FORMATS
  extensions/objects/templates/filepath-editor.component.ts
  feconf.py
Labels: PR: LGTM, PR: for current release

#12559 Fix #12550: Allow metadata with py2.7 suffix
  scripts/install_backend_python_libs.py
  scripts/install_backend_python_libs_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12600 Fix part of #11462: Give Firebase accounts --save_datastore support
  feconf.py
  scripts/common.py
  scripts/common_test.py
  scripts/start.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#12605 Fix #11811: remove remaining TODOs.
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12583 Removes unused codecov config file
  .github/CODEOWNERS
  codecov.yml
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12593 Update ProfilePage.js
  core/tests/protractor_utils/ProfilePage.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12614 Fix Part of #10798: Fixed e2e test file to resolve non-deterministic behavior
  core/tests/protractor_utils/ExplorationEditorSettingsTab.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12529 Add card_is_checkpoint field in state model
  assets/constants.ts
  core/controllers/editor_test.py
  core/domain/caching_services_test.py
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_fetchers.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_jobs_one_off.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/question_domain.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/suggestion_jobs_one_off_test.py
  core/templates/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/state/StateObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-player-page/services/audio-preloader.service.spec.ts
  core/templates/pages/exploration-player-page/services/image-preloader.service.spec.ts
  core/templates/pages/exploration-player-page/services/learner-answer-info.service.spec.ts
  core/templates/services/exploration-improvements-task-registry.service.spec.ts
  core/templates/services/exploration-improvements.service.spec.ts
  core/templates/services/improvements.service.spec.ts
  core/templates/services/state-interaction-stats.service.spec.ts
  core/templates/services/state-top-answers-stats.service.spec.ts
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/data/string_classifier_test.yaml
  core/tests/protractor_desktop/explorationHistoryTab.js
  core/tests/test_utils.py
  data/explorations/classifier_demo_exploration.yaml
  feconf.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#12544 Fix part of #9749: Migrate Notifications dashboard page
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page-backend-api.service.spec.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page-backend-api.service.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.component.html
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.component.spec.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.component.ts
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.mainpage.html
  core/templates/pages/notifications-dashboard-page/notifications-dashboard-page.module.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#12541 Fix part of #9749: Loading message directive migrated
  core/templates/base-components/base-content.directive.html
  core/templates/base-components/loading-message.component.html
  core/templates/base-components/loading-message.component.ts
  core/templates/components/shared-component.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#12513 Fix Part of #9749: Migrated Story-Preview-Tab with Spec
  core/templates/pages/story-editor-page/story-editor-page.component.html
  core/templates/pages/story-editor-page/story-editor-page.module.ts
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.html
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.spec.ts
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#12567 Fix Part of #9271: Remains in skills tab after merging two or more skills.
  core/templates/components/skill-selector/skill-selector.component.html
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12113 Fix #12292 and part of #9749: Migrate image click interaction
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.ts
  core/templates/pages/exploration-player-page/services/image-preloader.service.ts
  core/templates/services/exploration-html-formatter.service.spec.ts
  core/templates/services/exploration-html-formatter.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.directive.ts
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.component.ts
  extensions/interactions/ImageClickInput/ImageClickInput.ts
  extensions/interactions/ImageClickInput/directives/image-click-input-interaction.component.html
  extensions/interactions/ImageClickInput/directives/image-click-input-interaction.directive.html
  extensions/interactions/ImageClickInput/directives/image-click-input-response.component.html
  extensions/interactions/ImageClickInput/directives/image-click-input-response.directive.html
  extensions/interactions/ImageClickInput/directives/image-click-input-short-response.component.html
  extensions/interactions/ImageClickInput/directives/image-click-input-short-response.directive.html
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.component.ts
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.directive.ts
  extensions/interactions/ImageClickInput/directives/oppia-response-image-click-input.component.ts
  extensions/interactions/ImageClickInput/directives/oppia-response-image-click-input.directive.ts
  extensions/interactions/ImageClickInput/directives/oppia-short-response-image-click-input.component.ts
  extensions/interactions/ImageClickInput/directives/oppia-short-response-image-click-input.directive.ts
  extensions/interactions/ImageClickInput/image-click-input-interactions.module.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.directive.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.ts
  extensions/interactions/NumericInput/directives/oppia-interactive-numeric-input.directive.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.spec.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.ts
  extensions/interactions/SetInput/directives/oppia-interactive-set-input.directive.ts
  extensions/interactions/TextInput/directives/oppia-interactive-text-input.directive.ts
  extensions/interactions/base_test.py
  extensions/interactions/customization-args-defs.ts
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/interactions/interactions.module.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12542 Fix part of #9749: Migrate warnings-and-alerts and alert-message directives
  .github/CODEOWNERS
  core/templates/App.ts
  core/templates/base-components/base-content.directive.html
  core/templates/base-components/base-content.directive.ts
  core/templates/base-components/warnings-and-alerts.component.html
  core/templates/base-components/warnings-and-alerts.component.spec.ts
  core/templates/base-components/warnings-and-alerts.component.ts
  core/templates/base-components/warnings-and-alerts.directive.html
  core/templates/base-components/warnings-and-alerts.directive.ts
  core/templates/components/common-layout-directives/common-elements/alert-message.component.spec.ts
  core/templates/components/common-layout-directives/common-elements/alert-message.component.ts
  core/templates/components/common-layout-directives/common-elements/alert-message.directive.ts
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/filters/limit-to.pipe.spec.ts
  core/templates/filters/limit-to.pipe.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/pages/splash-page/splash-page.module.ts
  extensions/objects/templates/logic-question-editor.component.html
  package.json
  scripts/check_frontend_test_coverage.py
  yarn.lock
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12573 Update the custom entity context when reviewing translations
  core/templates/App.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD, PR: for current release

#12543 Fix part of #9749: Migrate side navigation bar
  core/templates/App.ts
  core/templates/base-components/base-content.directive.html
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.ts
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.directive.html
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.directive.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.mainpage.html
  core/templates/services/translate.service.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12376 Fix Part of #9749:Migrates response-header directive to Angular
  core/templates/components/shared-component.module.ts
  core/templates/components/state-directives/response-header/response-header.component.html
  core/templates/components/state-directives/response-header/response-header.component.ts
  core/templates/components/state-directives/response-header/response-header.directive.html
  core/templates/components/state-directives/response-header/response-header.directive.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.directive.html
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.directive.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.html
  core/templates/components/state-editor/state-responses-editor/state-responses.directive.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.directive.html
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.directive.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.html
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: LGTM

#12388 Fix part of #10474: Cover exploration-feature service with strict typescript checks
  core/templates/domain/utilities/url-interpolation.service.ts
  core/templates/services/contextual/url.service.ts
  core/templates/services/exploration-features-backend-api.service.ts
  core/templates/services/exploration-features.service.spec.ts
  core/templates/services/utils.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: LGTM

#12472 Fix Part Of #9749: Migrates Story-Viewer-Page to Angular
  core/templates/components/shared-component.module.ts
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/story-viewer-page/navbar-breadcrumb/story-viewer-navbar-breadcrumb.component.html
  core/templates/pages/story-viewer-page/navbar-breadcrumb/story-viewer-navbar-breadcrumb.component.spec.ts
  core/templates/pages/story-viewer-page/navbar-breadcrumb/story-viewer-navbar-breadcrumb.component.ts
  core/templates/pages/story-viewer-page/navbar-pre-logo-action/story-viewer-navbar-pre-logo-action.component.html
  core/templates/pages/story-viewer-page/navbar-pre-logo-action/story-viewer-navbar-pre-logo-action.component.spec.ts
  core/templates/pages/story-viewer-page/navbar-pre-logo-action/story-viewer-navbar-pre-logo-action.component.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.component.spec.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.ts
  core/templates/pages/story-viewer-page/story-viewer-page.mainpage.html
  core/templates/pages/story-viewer-page/story-viewer-page.module.ts
  scripts/linters/ts_ignore_exceptions.json
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#12236 Fix #10892: Fixes long skill names bug in the subtopic editor
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
Labels: PR: LGTM

#12597 Resolving the 'Page Takes > 15 seconds to load' Flake
  .circleci/config.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  scripts/check_e2e_tests_are_captured_in_ci.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12658 Fix part of #12656: Temporarily transfer codeowners for @brianrodri
  .github/CODEOWNERS
Labels: PR: LGTM

#12440 Skip Selected CI Checks for Low-Risk PRs
  .circleci/config.yml
  .github/CODEOWNERS
  .github/actions/check-if-pr-is-low-risk/action.yml
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_email_dashboard_features.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features.yml
  .github/workflows/e2e_user_profile.yml
  scripts/backend_test_shards.json
  scripts/check_if_pr_is_low_risk.py
  scripts/check_if_pr_is_low_risk_test.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: LGTM

#12670 Fix part of #10798: Fix end to end tests for ClassroomPage.js
  core/tests/protractor_utils/ClassroomPage.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#12538 Adds Autofocus on exploration interactions
  core/templates/components/forms/schema-based-editors/schema-based-expression-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-expression-editor.directive.ts
  core/templates/components/forms/schema-based-editors/schema-based-float-editor.directive.ts
  core/templates/components/forms/schema-based-editors/schema-based-int-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-int-editor.directive.ts
  core/templates/components/forms/schema-based-editors/schema-based-unicode-editor.directive.html
  core/templates/components/forms/schema-based-editors/schema-based-unicode-editor.directive.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-title-editor/exploration-title-editor.component.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/continue-button.directive.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/services/stateful/focus-manager.service.spec.ts
  core/templates/services/stateful/focus-manager.service.ts
  extensions/interactions/FractionInput/directives/fraction-input-interaction.component.html
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM

#12570 Fix part of #11462: Revoke session cookies after granting/revoking super admin privileges
  core/controllers/base.py
  core/controllers/base_test.py
  core/domain/auth_domain.py
  core/domain/auth_services.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
  core/platform/auth/gae_auth_services.py
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.html
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#12384 Fix #12265: Search input and review div for topic selector
  core/templates/pages/topics-and-skills-dashboard-page/modals/assign-skill-to-topic-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/select-topics.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/select-topics.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/select-topics.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: LGTM
