Repository oppia/oppia, pull requests merged in 2022-12, with the labels that each got.

#16616 Fix #16542: Changes required for improved deploy process
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/domain/user_services.py
  core/feconf.py
  core/feconf_test.py
  core/templates/pages/terms-page/terms-page.component.html
  scripts/common.py
  scripts/common_test.py
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
  scripts/run_frontend_tests.py
  scripts/run_lighthouse_tests.py
  scripts/servers.py
  scripts/setup.py
  scripts/setup_test.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16651 Make incomplete per-file coverage error clearer
  scripts/run_backend_tests.py
  scripts/run_backend_tests_test.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#16658 Fix part of #16641: Remove secret logging from acl_decorators.py
  core/controllers/acl_decorators.py
  core/controllers/profile_test.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16659 Fix part of #14219: Increase backend test coverage of `core.domain.param_domain_test` to 100%
  core/domain/param_domain_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#16653 Fixed: #15168 Helper-box-card was showing blank box in the skill editor due to some wrong media query
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16636 Fix #16170: increase audio bar width
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16665 Fix #16319: Fixed math OSK change detections.
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.spec.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.spec.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.ts
  extensions/objects/templates/algebraic-expression-editor.component.ts
  extensions/objects/templates/math-equation-editor.component.ts
  extensions/objects/templates/numeric-expression-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#16652 Fix issue #16121: Removed slideUp transition for the Save Progress Modal
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.css
Labels: PR: LGTM

#16668 Fix #15402: Fixed single word with a lot of char
  core/templates/css/oppia.css
Labels: REVIEWERS: Please add changelog label

#16674 Fix part of #14219 improve domain_objects_validator_test from 61 to 73
  core/controllers/domain_objects_validator_test.py
Labels: REVIEWERS: Please add changelog label

#16654 Fix part of #14219: Increase backend test coverage of core.domain.learner_group_domain to 100%
  core/domain/learner_group_domain_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#16650 Fix donate issues
  core/templates/pages/donate-page/donate-page.component.html
  core/templates/pages/donate-page/donate-page.component.spec.ts
  core/templates/pages/donate-page/donate-page.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16671 Fix #16588 Warning shown to User on Merging Skills of same topic
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#16692 Fix #16593 Added condition to use Checkpoint-Celebration-Modal
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#16696 Fix part of #10616: added the eslint rule @typescript-eslint/no-namespace and ensured the…
  .eslintrc
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16693 Fix part of #10616: Introduced 'typescript-eslint/quotes' rule
  .eslintrc
  assets/constants.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-content.service.spec.ts
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#16466 Fix #16465: Add language filtering to /getreviewableopportunitieshandler
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#16691 Increase backend test coverage of core.domain.auth_services_test to 100%
  core/domain/auth_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD, PR: don't merge - STALE BUILD

#16720 Fix part of #15968 Changed icon in noscript from MUI to Emoji
  core/templates/base-components/no-script.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16700 Fix #14368: Fix for rte output display showing residual text nodes.
  extensions/rich_text_components/rte-output-display.component.spec.ts
  extensions/rich_text_components/rte-output-display.component.ts
Labels: PR: for current release, PR CHANGELOG: Angular Migration -- @srijanreddy98

#16726 Fix #16712: Fix deletion process for UserSubscriptionsModel and UserSubscribersModel
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#16733 Fix constants to access files in correct folder
  core/feconf.py
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21

#16704 Fix #16366 : Remove ExplicitKeywordArgsChecker
  core/utils.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD, PR: don't merge - STALE BUILD

#16732 Fix Part of #16600: Add debugging information for invalid start byte flake
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#16681 Fix part of #14219: Increasing backend test coverage of core.domain.story_domain_test to 100%.
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#16729 Fix #16308: Cache third_party/static in CI tests
  .github/workflows/backend_associated_test_file_check.yml
  .github/workflows/backend_tests.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/eslint_tests.yml
  .github/workflows/frontend_tests.yml
  .github/workflows/lint.yml
  .github/workflows/typescript_and_e2e_coverage.yml
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#16719 Updates to GA methods
  core/templates/components/question-directives/question-player/question-player.component.spec.ts
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/components/summary-tile/story-summary-tile.component.html
  core/templates/components/summary-tile/story-summary-tile.component.spec.ts
  core/templates/components/summary-tile/story-summary-tile.component.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.spec.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#16754 Fix #16751: [FE Flake] I18n service should reload the website if language direction changes when cookies acknowledged
  core/templates/i18n/i18n.service.spec.ts
Labels: PR: LGTM

#16746 Fix #16590: trigger 'change' event when manually removing a widget from ckeditor
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16745 Change codeowners
  .github/CODEOWNERS
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16730 Update Python to 3.8.15
  .github/workflows/backend_associated_test_file_check.yml
  .github/workflows/backend_tests.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/eslint_tests.yml
  .github/workflows/frontend_tests.yml
  .github/workflows/lighthouse_accessibility.yml
  .github/workflows/lighthouse_performance.yml
  .github/workflows/lint.yml
  .github/workflows/pending-review-notification.yml
  .github/workflows/python_type_checks.yml
  .github/workflows/typescript_and_e2e_coverage.yml
  .pylintrc
  scripts/setup.py
  scripts/setup_test.py
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD, PR: require post-merge sync to HEAD

#16711 Fixed iframe exploration player
  assets/scripts/embedding_tests_dev_i18n_0.0.1.html
  assets/scripts/oppia-player-0.0.1.js
  core/templates/components/shared-component.module.ts
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/exploration-player-page.component.html
  core/templates/pages/exploration-player-page/layout-directives/content-language-selector.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/tests/webdriverio_desktop/embedding.js
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16748 Fix wipeout and takeout
  core/controllers/improvements_test.py
  core/domain/cron_services.py
  core/domain/improvements_services.py
  core/domain/improvements_services_test.py
  core/domain/takeout_service_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/feconf.py
  core/jobs/transforms/validation/improvements_validation.py
  core/jobs/transforms/validation/improvements_validation_test.py
  core/jobs/transforms/validation/user_validation.py
  core/jobs/transforms/validation/user_validation_test.py
  core/jobs/types/improvements_validation_errors.py
  core/jobs/types/improvements_validation_errors_test.py
  core/jobs/types/user_validation_errors.py
  core/jobs/types/user_validation_errors_test.py
  core/storage/beam_job/gae_models.py
  core/storage/improvements/gae_models.py
  core/storage/improvements/gae_models_test.py
  core/storage/job/gae_models.py
  core/storage/user/gae_models.py
  core/templates/domain/improvements/task-entry.model.spec.ts
  index.yaml
Labels: PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#16767 Solved issue of explore tiles sticking in community library
  core/templates/components/summary-tile/exploration-summary-tile.component.html
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#16774 Highlight the progress bar of exploration editor
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16773 Fix package build
  setup.py
Labels: PR CHANGELOG: Release team -- @nithusha21

#16614 Small update to conversion function 52 to 53 regarding math RTE tag
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
Labels: PR: for current release

#16724 Fix part of #14219: Increase Per-File Backend Test Coverage for dockstrings_checker
  scripts/backend_tests_incomplete_coverage.txt
  scripts/docstrings_checker_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#16786 Filtered list
  core/templates/components/filter-fields/filtered-choices-field/filtered-choices-field.component.html
  core/templates/components/filter-fields/filtered-choices-field/filtered-choices-field.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681
