Repository oppia/oppia, pull requests merged in 2022-05, with the labels that each got.

#15361 Fix #15346: Align the "Schools and Organizations" text properly, and fix some other related issues
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.rtl.css
  core/templates/css/oppia.css
  core/templates/pages/splash-page/splash-page.component.css
  core/templates/pages/splash-page/splash-page.component.html
  core/templates/pages/splash-page/splash-page.component.rtl.css
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15416 Extend failure notifications to backend, lint, and type checks
  .github/workflows/backend_tests.yml
  .github/workflows/eslint_tests.yml
  .github/workflows/lint.yml
  .github/workflows/python_type_checks.yml
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15389 Frontend time flake and other miscellaneous fixes
  .github/ISSUE_TEMPLATE/bug_report.md
  core/templates/components/summary-tile/collection-summary-tile.component.spec.ts
  core/templates/components/summary-tile/exploration-summary-tile.component.spec.ts
  core/tests/karma.conf.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#15325 Fix part of #15318: Exploration player page UI issues
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.html
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.css
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.html
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.rtl.css
  core/tests/data/third_party/css/third_party.css
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15433 Update authors and changelog for v3.2.5
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/feconf.py
  core/templates/pages/about-page/about-page.constants.ts
  package.json
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21

#15437 Fix #15425: Increase max_old_space_size for webpack
  scripts/build.py
  scripts/build_test.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#15434 Relax Lighthouse uses-responsive-images assertion
  .lighthouserc-1.js
  .lighthouserc-2.js
  .lighthouserc-base.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#15449 Routine update of translations
  assets/i18n/ar.json
  assets/i18n/bn.json
  assets/i18n/de.json
  assets/i18n/diq.json
  assets/i18n/el.json
  assets/i18n/es.json
  assets/i18n/fa.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/tr.json
  assets/i18n/uk.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#15397 Admin utility to rollback explorations
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.html
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.spec.ts
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15048 Refactor param domain file
  core/domain/param_domain.py
  core/domain/param_domain_test.py
  core/feconf.py
  core/tests/test_utils.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#15304 Fix part of #14960: Page title translations - 1
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/about-foundation-page/about-foundation-page.component.spec.ts
  core/templates/pages/about-foundation-page/about-foundation-page.component.ts
  core/templates/pages/classroom-page/classroom-page.component.spec.ts
  core/templates/pages/classroom-page/classroom-page.component.ts
  core/templates/pages/collection-editor-page/collection-editor-page.component.spec.ts
  core/templates/pages/collection-editor-page/collection-editor-page.component.ts
  core/templates/pages/collection-player-page/collection-player-page.component.spec.ts
  core/templates/pages/collection-player-page/collection-player-page.component.ts
  core/templates/pages/donate-page/donate-page.component.spec.ts
  core/templates/pages/donate-page/donate-page.component.ts
  core/templates/pages/error-pages/error-404/error-404-page.component.spec.ts
  core/templates/pages/error-pages/error-404/error-404-page.component.ts
  core/templates/pages/error-pages/error-page-root.component.spec.ts
  core/templates/pages/error-pages/error-page-root.component.ts
  core/templates/pages/error-pages/error-page.component.spec.ts
  core/templates/pages/error-pages/error-page.component.ts
  core/templates/pages/exploration-player-page/exploration-player-page.component.spec.ts
  core/templates/pages/exploration-player-page/exploration-player-page.component.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.spec.ts
  core/templates/pages/landing-pages/topic-landing-page/topic-landing-page.component.ts
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/library-page.component.ts
  core/templates/pages/partnerships-page/partnerships-page.component.spec.ts
  core/templates/pages/partnerships-page/partnerships-page.component.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.spec.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.spec.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.ts
  core/templates/pages/volunteer-page/volunteer-page.component.spec.ts
  core/templates/pages/volunteer-page/volunteer-page.component.ts
  core/templates/services/page-title.service.spec.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#15448 Prevent page from reloading when attempting to navigate to the learner dashboard while currently on the learner dashboard
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15258 Fix part of #13341: Type annotate common.py
  mypy_imports.py
  scripts/build.py
  scripts/common.py
  scripts/common_test.py
  scripts/create_expression_parser.py
  scripts/install_chrome_for_ci.py
  scripts/run_frontend_tests.py
  scripts/run_mypy_checks.py
  scripts/start.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15464 Removed parentheticals from certain site language descriptions.
  assets/constants.ts
Labels: REVIEWERS: Please add changelog label

#15465 Upgrade pip-tools to v6.6.1 for pip 22.1 support
  scripts/common.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD, PR: require post-merge sync to HEAD

#15450 Fix #15431: Update skill opportunity progress percentage denominator to 10
  assets/constants.ts
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.ts
  core/tests/protractor_desktop/contributorDashboard.js
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee, PR: Needs to be hotfixed

#15294 Learner checkpoint : Frontend implementation of saved progress
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/reader.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/templates/css/oppia.css
  core/templates/domain/exploration/editable-exploration-backend-api.service.spec.ts
  core/templates/domain/exploration/editable-exploration-backend-api.service.ts
  core/templates/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/domain/exploration/read-only-exploration-backend-api.service.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.css
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.rtl.css
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.rtl.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.rtl.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.css
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.html
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.rtl.css
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.spec.ts
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.ts
  scripts/rtl_css.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15446 Revert updates to the wiki made through the web interface
  .github/workflows/revert-web-wiki-updates.yml
  scripts/linters/other_files_linter.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#15471 Fix flakes in frontend karma tests introduced after merging PR #15294
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15454 Fix deployment issue on MacOS
  .gcloudignore
Labels: PR CHANGELOG: Release team -- @nithusha21, PR: don't merge - STALE BUILD

#15373 Added Mypy type annotations to pending files of jobs/types directory.
  core/jobs/types/base_validation_errors_test.py
  core/jobs/types/blog_validation_errors.py
  core/jobs/types/feedback_validation_errors.py
  core/jobs/types/feedback_validation_errors_test.py
  core/jobs/types/improvements_validation_errors.py
  core/jobs/types/improvements_validation_errors_test.py
  core/jobs/types/model_property.py
  core/jobs/types/model_property_test.py
  core/jobs/types/topic_validation_errors.py
  core/jobs/types/topic_validation_errors_test.py
  core/jobs/types/user_validation_errors.py
  core/jobs/types/user_validation_errors_test.py
  scripts/run_mypy_checks.py
  stubs/google/cloud/ndb/__init__.pyi
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15423 Fix part of #13822: Added backend validation for 'page_title_fragment_for_web' (Topic)
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/android_e2e_config.py
  core/controllers/classroom_test.py
  core/controllers/contributor_dashboard_admin_test.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/practice_sessions_test.py
  core/controllers/suggestion_test.py
  core/controllers/topic_viewer_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/caching_services_test.py
  core/domain/learner_progress_services_test.py
  core/domain/opportunity_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_fetchers_test.py
  core/domain/topic_services_test.py
  core/domain/voiceover_services_test.py
  core/jobs/batch_jobs/opportunity_management_jobs_test.py
  core/jobs/batch_jobs/story_migration_jobs_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/templates/components/entity-creation-services/topic-creation.service.spec.ts
  core/templates/domain/topic/topic-creation-backend-api.service.spec.ts
  core/templates/domain/topic/topic-creation-backend-api.service.ts
  core/templates/domain/topics_and_skills_dashboard/newly-created-topic.model.spec.ts
  core/templates/domain/topics_and_skills_dashboard/newly-created-topic.model.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-topic-modal.component.html
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-topic-modal.component.ts
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
  core/tests/puppeteer/lighthouse_setup.js
  core/utils.py
  core/utils_test.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15418 Fix #15376: Make classroom page responsive
  core/templates/pages/classroom-page/classroom-page.component.css
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/classroom-page/classroom-page.component.rtl.css
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15469 Fix #13725: Added space after checkbox
  core/templates/pages/signup-page/signup-page.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15315 Fix #14261: Voiceover of multiple choice components
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.component.ts
  core/templates/pages/exploration-player-page/services/audio-translation-manager.service.spec.ts
  core/templates/pages/exploration-player-page/services/audio-translation-manager.service.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15442 Fix #15246: Prerequisite skills from other topics now load properly in the chapter editor
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15424 Fix part of #14033: Added Mypy type annotations to `fs_services` and `rating_services`
  core/domain/exp_domain.py
  core/domain/exp_fetchers.py
  core/domain/fs_services.py
  core/domain/fs_services_test.py
  core/domain/image_services.py
  core/domain/rating_services.py
  core/domain/rating_services_test.py
  core/domain/topic_domain.py
  core/platform/storage/cloud_storage_emulator.py
  core/platform/storage/dev_mode_storage_services.py
  core/storage/app_feedback_report/gae_models.py
  core/storage/app_feedback_report/gae_models_test.py
  core/storage/audit/gae_models_test.py
  core/storage/auth/gae_models.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/classifier/gae_models_test.py
  core/storage/collection/gae_models_test.py
  core/storage/exploration/gae_models_test.py
  core/storage/feedback/gae_models.py
  core/storage/feedback/gae_models_test.py
  core/storage/question/gae_models_test.py
  core/storage/statistics/gae_models_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/storage/translation/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  mypy_imports.py
  scripts/run_mypy_checks.py
Labels: PR: don't merge - STALE BUILD, PR CHANGELOG: Typing -- @vojtechjelinek

#15485 Fix #15484: Minor changes to convertAnswerToLocalFormat implementation
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.ts
  core/templates/services/exploration-html-formatter.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#15490 Fix #15489: Upgrade pip-tools to v6.6.2 for pip 22.1.1 support
  scripts/common.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD, PR: require post-merge sync to HEAD

#15173 Fix part of #13822: Validation for rubric explanations
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/handler_schema_constants.py
  core/templates/domain/skill/skill-creation-backend-api.service.spec.ts
  core/templates/domain/skill/skill-creation-backend-api.service.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/image-local-storage.service.ts
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#15342 Fix part of #13822: Added Validation for Curated Lesson Category
  core/controllers/contributor_dashboard_test.py
  core/controllers/library_test.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/opportunity_services_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/domain/summary_services_test.py
  core/domain/voiceover_services_test.py
  core/templates/domain/exploration/exploration-id-validation.service.spec.ts
  core/templates/domain/exploration/exploration-id-validation.service.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
  core/tests/protractor/learnerFlow.js
  core/tests/protractor_desktop/learnerDashboard.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_desktop/topicAndStoryViewer.js
  core/tests/test_utils.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15488 Fix #15370: Can report an exploration from the keyboard
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15474 Fix part of #15444: Add delay to fix issue with dropdowns on the exploration-settings-page
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15492 fix svg sanitization logic to handle mixed camelCase attrs correctly
  core/templates/services/svg-sanitizer.service.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15443 Fix part of #14702: Add the stale tab and unsaved changes detection functionality for story editor page
  .github/CODEOWNERS
  assets/images/favicon_alert/favicon_alert.ico
  core/templates/components/shared-component.module.ts
  core/templates/components/stale-tab-info/stale-tab-info-modal.component.html
  core/templates/components/stale-tab-info/stale-tab-info-modal.component.spec.ts
  core/templates/components/stale-tab-info/stale-tab-info-modal.component.ts
  core/templates/components/unsaved-changes-status-info/unsaved-changes-status-info-modal.component.html
  core/templates/components/unsaved-changes-status-info/unsaved-changes-status-info-modal.component.ts
  core/templates/domain/story/story-update.service.spec.ts
  core/templates/domain/story/story-update.service.ts
  core/templates/pages/story-editor-page/services/story-editor-staleness-detection.service.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-staleness-detection.service.ts
  core/templates/pages/story-editor-page/story-editor-page.component.spec.ts
  core/templates/pages/story-editor-page/story-editor-page.component.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15440 Fix part of #14702: Add the stale tab and unsaved changes detection functionality for skill editor page
  assets/constants.ts
  core/templates/components/stale-tab-info/stale-tab-info-modal.component.html
  core/templates/components/unsaved-changes-status-info/unsaved-changes-status-info-modal.component.html
  core/templates/domain/skill/skill-update.service.spec.ts
  core/templates/domain/skill/skill-update.service.ts
  core/templates/pages/skill-editor-page/services/skill-editor-staleness-detection.service.spec.ts
  core/templates/pages/skill-editor-page/services/skill-editor-staleness-detection.service.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.spec.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.spec.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.html
  core/templates/services/angular-services.index.ts
  core/tests/protractor_desktop/skillEditor.js
  core/tests/protractor_utils/SkillEditorPage.js
  core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15510 fix edits allowed banner showing when the page hasn't loaded
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681
