Repository oppia/oppia, pull requests merged in 2022-07, with the labels that each got.

#15500 Fix part of #13822: Added backend validation for sub-topic url fragment
  core/android_validation_constants.py
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/android_e2e_config.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/question_editor_test.py
  core/controllers/questions_list_test.py
  core/controllers/resources_test.py
  core/controllers/review_tests_test.py
  core/controllers/skill_editor_test.py
  core/controllers/skill_mastery_test.py
  core/controllers/story_viewer_test.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topic_viewer_test.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/learner_progress_services_test.py
  core/domain/opportunity_services_test.py
  core/domain/question_services_test.py
  core/domain/skill_services_test.py
  core/domain/subtopic_page_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_fetchers_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/domain/wipeout_service_test.py
  core/jobs/transforms/validation/topic_validation_test.py
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.ts
Labels: PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#15658 Allow bigger JobRunResult
  core/jobs/io/job_io_test.py
  core/jobs/types/job_run_result.py
  core/jobs/types/job_run_result_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#15604 Fix part of 9749: Migration of training-data.service.ts, training-panel, exploration-warnings.service.ts, parameter-metadata.service.ts and more.
  core/templates/components/shared-component.module.ts
  core/templates/domain/editor/undo_redo/question-undo-redo.service.ts
  core/templates/domain/question/question-update.service.ts
  core/templates/filters/string-utility-filters/string-utility-pipes.module.ts
  core/templates/filters/truncate-input-based-on-interaction-answer-type.pipe.spec.ts
  core/templates/filters/truncate-input-based-on-interaction-answer-type.pipe.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/teach-oppia-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/teach-oppia-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/training-unresolved-answer-modal.template.html
  core/templates/pages/exploration-editor-page/editor-tab/test-interaction-panel/test-interaction-panel.component.html
  core/templates/pages/exploration-editor-page/editor-tab/test-interaction-panel/test-interaction-panel.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/test-interaction-panel/test-interaction-panel.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.service.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-panel.component.html
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-panel.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-panel.component.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.ts
  core/templates/pages/exploration-editor-page/services/parameter-metadata.service.spec.ts
  core/templates/pages/exploration-editor-page/services/parameter-metadata.service.ts
  core/templates/services/angular-services.index.ts
  extensions/interactions/TextInput/directives/text-input-rules.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.ts
  extensions/interactions/rule-input-defs.ts
  scripts/typescript_checks.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#15607 Milestone 1.2 (Improving the lesson creation experience): Create the new storage model and implement its lifecycle
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  requirements.in
  requirements.txt
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#15649 Fix #15648: Remove limit from in-review translation suggestion query
  core/controllers/contributor_dashboard.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.html
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee, PR: Needs to be hotfixed

#15666 Fix #15552 and part of #15639: Fix contributor dashboard
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
Labels: PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee

#15651 Fix #15650 and #15591: Update progress nav when state content changes; Update z-index for modals that need to be stacked
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD, PR: Needs to be hotfixed

#15618 Fix part of #14033: Added Mypy type annotations to some files of `domain` folder. -- M1.4
  core/domain/blog_domain_test.py
  core/domain/blog_services.py
  core/domain/blog_services_test.py
  core/domain/caching_services_test.py
  core/domain/change_domain.py
  core/domain/collection_services.py
  core/domain/exp_services.py
  core/domain/interaction_registry_test.py
  core/domain/rights_domain.py
  core/domain/rights_manager.py
  core/domain/search_services.py
  core/domain/search_services_test.py
  core/domain/skill_domain.py
  core/domain/skill_fetchers.py
  core/domain/skill_fetchers_test.py
  core/domain/skill_services.py
  core/domain/state_domain.py
  core/domain/story_domain_test.py
  core/domain/story_fetchers.py
  core/domain/story_fetchers_test.py
  core/domain/story_services.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_services.py
  core/domain/subtopic_page_services_test.py
  core/domain/takeout_domain.py
  core/domain/takeout_service.py
  core/domain/takeout_service_test.py
  core/domain/value_generators_domain_test.py
  core/domain/visualization_registry.py
  core/domain/visualization_registry_test.py
  core/storage/question/gae_models_test.py
  core/tests/test_utils.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15596 Fix part of #14033: Added Mypy type annotations to some files of `domain` folder. -- M1.3
  core/domain/caching_services.py
  core/domain/caching_services_test.py
  core/domain/classifier_domain_test.py
  core/domain/feedback_domain_test.py
  core/domain/html_cleaner.py
  core/domain/image_validation_services.py
  core/domain/image_validation_services_test.py
  core/domain/learner_playlist_services.py
  core/domain/learner_playlist_services_test.py
  core/domain/moderator_services.py
  core/domain/moderator_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_domain_test.py
  core/domain/platform_parameter_registry.py
  core/domain/platform_parameter_registry_test.py
  core/domain/rte_component_registry.py
  core/domain/rte_component_registry_test.py
  core/domain/rules_registry.py
  core/domain/rules_registry_test.py
  core/storage/config/gae_models.py
  core/storage/config/gae_models_test.py
  core/tests/test_utils.py
  scripts/run_mypy_checks.py
  stubs/imghdr/__init__.pyi
  stubs/pkgutil/__init__.pyi
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15675 Update authors and changelog for v3.2.6
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/feconf.py
  core/templates/pages/about-page/about-page.constants.ts
  package.json
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21

#15678 Fix #15676: Fixes the flake in ImageWithRegionsEditorComponent
  extensions/objects/templates/image-with-regions-editor.component.spec.ts
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15673 Fix #15147: filter box toggle issue on /topics-and-skill-dashboard
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15667 Changes in logged-out User Checkpoints backend (Follow-up to #15422)
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15643 Milestone 1.2 (Improve line and branch coverage for the frontend and the backend): Add new test files for some scripts
  scripts/backend_test_shards.json
  scripts/create_expression_parser.py
  scripts/create_expression_parser_test.py
  scripts/run_frontend_tests.py
  scripts/run_frontend_tests_test.py
Labels: PR: LGTM

#15683 Add gtag.js to the app
  core/templates/pages/header_js_libs.html
  core/tests/protractor_utils/general.js
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Miscellaneous -- @vojtechjelinek, PR: Needs to be hotfixed

#15652 Fix Part of #10700: Refactor Object Factories
  core/templates/domain/topic/TopicObjectFactory.ts
  core/templates/domain/topic/TopicObjectFactorySpec.ts
  core/templates/domain/topic/story-reference-object.model.spec.ts
  core/templates/domain/topic/story-reference-object.model.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15640 Fix part of #14033: Added Mypy type annotations to some files of domain folder. -- M1.5
  core/domain/change_domain.py
  core/domain/classifier_domain.py
  core/domain/classifier_domain_test.py
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  core/domain/event_services.py
  core/domain/exp_domain.py
  core/domain/exp_fetchers.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_services_test.py
  core/domain/platform_parameter_domain_test.py
  core/domain/platform_parameter_list_test.py
  core/domain/question_domain.py
  core/domain/question_fetchers.py
  core/domain/question_fetchers_test.py
  core/domain/rating_services.py
  core/domain/rating_services_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services.py
  core/domain/subtopic_page_services_test.py
  core/storage/classifier/gae_models.py
  core/storage/classifier/gae_models_test.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15656 Milestone 1.3 (Learner group MVP): Add frontend models and backend service api for Learner groups
  .github/CODEOWNERS
  core/templates/domain/learner_group/learner-group-backend-api.service.spec.ts
  core/templates/domain/learner_group/learner-group-backend-api.service.ts
  core/templates/domain/learner_group/learner-group-subtopic-summary.model.spec.ts
  core/templates/domain/learner_group/learner-group-subtopic-summary.model.ts
  core/templates/domain/learner_group/learner-group-syllabus-backend-api.service.spec.ts
  core/templates/domain/learner_group/learner-group-syllabus-backend-api.service.ts
  core/templates/domain/learner_group/learner-group-syllabus.model.spec.ts
  core/templates/domain/learner_group/learner-group-syllabus.model.ts
  core/templates/domain/learner_group/learner-group-user-progress.model.spec.ts
  core/templates/domain/learner_group/learner-group-user-progress.model.ts
  core/templates/domain/learner_group/learner-group.model.spec.ts
  core/templates/domain/learner_group/learner-group.model.ts
  core/templates/domain/learner_group/short-learner-group-summary.model.spec.ts
  core/templates/domain/learner_group/short-learner-group-summary.model.ts
  core/templates/domain/learner_group/teacher-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_group/teacher-dashboard-backend-api.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15691 Rearrange import order to fix typing_extensions error when deploying
  scripts/build.py
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#15611 (Celebrating learners' accomplishments) Milestone 1.2: Modify the ratings-and-recommendations component and make sign up section dismissable
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/summary-tile/exploration-summary-tile.component.html
  core/templates/components/summary-tile/exploration-summary-tile.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.html
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
  core/templates/services/local-storage.service.spec.ts
  core/templates/services/local-storage.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15625 Milestone 1.1 (Improve line and branch coverage for the frontend and the backend): Checks to ensure that every backend file has an associated test file
  .github/CODEOWNERS
  .github/workflows/backend_associated_test_file_check.yml
  core/domain/app_feedback_report_constants_test.py
  core/domain/caching_domain_test.py
  core/domain/change_domain_test.py
  core/domain/classroom_domain_test.py
  core/domain/takeout_domain_test.py
  core/handler_schema_constants_test.py
  extensions/actions/AnswerSubmit/AnswerSubmit_test.py
  extensions/actions/ExplorationQuit/ExplorationQuit_test.py
  extensions/actions/ExplorationStart/ExplorationStart_test.py
  extensions/interactions/AlgebraicExpressionInput/AlgebraicExpressionInput_test.py
  extensions/interactions/CodeRepl/CodeRepl_test.py
  extensions/interactions/Continue/Continue_test.py
  extensions/interactions/DragAndDropSortInput/DragAndDropSortInput_test.py
  extensions/interactions/EndExploration/EndExploration_test.py
  extensions/interactions/FractionInput/FractionInput_test.py
  extensions/interactions/GraphInput/GraphInput_test.py
  extensions/interactions/ImageClickInput/ImageClickInput_test.py
  extensions/interactions/InteractiveMap/InteractiveMap_test.py
  extensions/interactions/ItemSelectionInput/ItemSelectionInput_test.py
  extensions/interactions/MathEquationInput/MathEquationInput_test.py
  extensions/interactions/MultipleChoiceInput/MultipleChoiceInput_test.py
  extensions/interactions/MusicNotesInput/MusicNotesInput_test.py
  extensions/interactions/NumberWithUnits/NumberWithUnits_test.py
  extensions/interactions/NumericExpressionInput/NumericExpressionInput_test.py
  extensions/interactions/NumericInput/NumericInput_test.py
  extensions/interactions/PencilCodeEditor/PencilCodeEditor_test.py
  extensions/interactions/RatioExpressionInput/RatioExpressionInput_test.py
  extensions/interactions/SetInput/SetInput_test.py
  extensions/interactions/TextInput/TextInput_test.py
  extensions/interactions/base_test.py
  extensions/issues/CyclicStateTransitions/CyclicStateTransitions_test.py
  extensions/issues/EarlyQuit/EarlyQuit_test.py
  extensions/issues/MultipleIncorrectSubmissions/MultipleIncorrectSubmissions_test.py
  extensions/visualizations/models_test.py
  mypy_imports_test.py
  scripts/backend_test_shards.json
  scripts/backend_tests_incomplete_coverage.txt
  scripts/check_backend_associated_test_file.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/pre_commit_linter.py
  scripts/linters/pre_commit_linter_test.py
  scripts/linters/test_files/invalid_datastore.py
  scripts/linters/warranted_angular_security_bypasses_test.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15687 Added Mypy type annotations to the files of `core/jobs/transforms/validation` directory.
  core/jobs/decorators/validation_decorators.py
  core/jobs/transforms/validation/auth_validation.py
  core/jobs/transforms/validation/auth_validation_test.py
  core/jobs/transforms/validation/base_validation.py
  core/jobs/transforms/validation/base_validation_registry.py
  core/jobs/transforms/validation/base_validation_registry_test.py
  core/jobs/transforms/validation/base_validation_test.py
  core/jobs/transforms/validation/blog_validation.py
  core/jobs/transforms/validation/blog_validation_test.py
  core/jobs/transforms/validation/collection_validation.py
  core/jobs/transforms/validation/collection_validation_test.py
  core/jobs/transforms/validation/config_validation.py
  core/jobs/transforms/validation/config_validation_test.py
  core/jobs/transforms/validation/exp_validation.py
  core/jobs/transforms/validation/exp_validation_test.py
  core/jobs/transforms/validation/feedback_validation.py
  core/jobs/transforms/validation/feedback_validation_test.py
  core/jobs/transforms/validation/improvements_validation.py
  core/jobs/transforms/validation/improvements_validation_test.py
  core/jobs/transforms/validation/question_validation.py
  core/jobs/transforms/validation/question_validation_test.py
  core/jobs/transforms/validation/skill_validation.py
  core/jobs/transforms/validation/story_validation.py
  core/jobs/transforms/validation/story_validation_test.py
  core/jobs/transforms/validation/subtopic_validation.py
  core/jobs/transforms/validation/subtopic_validation_test.py
  core/jobs/transforms/validation/topic_validation.py
  core/jobs/transforms/validation/topic_validation_test.py
  core/jobs/transforms/validation/user_validation.py
  core/jobs/transforms/validation/user_validation_test.py
  core/jobs/types/base_validation_errors.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15626 Milestone 1.2 (Learner group MVP): Add learner group related handlers and services
  .github/CODEOWNERS
  assets/constants.ts
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/learner_group.py
  core/controllers/learner_group_test.py
  core/domain/config_domain.py
  core/domain/learner_group_domain.py
  core/domain/learner_group_fetchers.py
  core/domain/learner_group_fetchers_test.py
  core/domain/learner_group_services.py
  core/domain/learner_group_services_test.py
  core/domain/role_services.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/domain/story_domain.py
  core/domain/story_fetchers.py
  core/domain/story_fetchers_test.py
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_domain_test.py
  core/domain/subtopic_page_services.py
  core/domain/subtopic_page_services_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/feconf.py
  core/storage/learner_group/gae_models.py
  core/storage/learner_group/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  main.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15655 Milestone 1.3 (Migrate away from protractor): Migrated few test suite from protractor to webdriverIO.
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_user_features_and_library.yml
  core/tests/downloads/oppia_takeout_data.zip
  core/tests/protractor.conf.js
  core/tests/protractor_desktop/embedding.js
  core/tests/protractor_utils/PreferencesPage.js
  core/tests/wdio.conf.js
  core/tests/webdriverio/subscriptionsFlow.js
  core/tests/webdriverio_desktop/creatorDashboard.js
  core/tests/webdriverio_desktop/learnerDashboard.js
  core/tests/webdriverio_desktop/preferences.js
  core/tests/webdriverio_desktop/profileFeatures.js
  core/tests/webdriverio_desktop/userJourneys.js
  core/tests/webdriverio_utils/AdminPage.js
  core/tests/webdriverio_utils/CreatorDashboardPage.js
  core/tests/webdriverio_utils/ExplorationEditorMainTab.js
  core/tests/webdriverio_utils/ExplorationPlayerPage.js
  core/tests/webdriverio_utils/LearnerDashboardPage.js
  core/tests/webdriverio_utils/LibraryPage.js
  core/tests/webdriverio_utils/PreferencesPage.js
  core/tests/webdriverio_utils/SkillEditorPage.js
  core/tests/webdriverio_utils/StoryEditorPage.js
  core/tests/webdriverio_utils/SubscriptionDashboardPage.js
  core/tests/webdriverio_utils/TopicAndStoryViewerPage.js
  core/tests/webdriverio_utils/TopicEditorPage.js
  core/tests/webdriverio_utils/TopicsAndSkillsDashboardPage.js
  core/tests/webdriverio_utils/action.js
  core/tests/webdriverio_utils/forms.js
  core/tests/webdriverio_utils/general.js
  core/tests/webdriverio_utils/waitFor.js
  scripts/install_chrome_for_ci.py
  scripts/install_chrome_for_ci_test.py
  scripts/run_e2e_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#15731 Fixes backend flake introduced by #15626
  core/domain/subtopic_page_services.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: require post-merge sync to HEAD

#15627 (Making Contributor Dashboard UI Responsive) Milestone 1.2: Implement the mobile UI for list item components
  assets/constants.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
  core/tests/protractor_desktop/contributorDashboard.js
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15734 Fix #15728, #15729, #15720, #15721 frontend flakes introduced by #15674
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/services/router.service.spec.ts
  core/templates/pages/exploration-editor-page/services/router.service.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#15479 #14033: Adding mypy type annotations to stats_domain.py
  core/domain/event_services_test.py
  core/domain/stats_domain.py
  core/domain/stats_domain_test.py
  core/domain/stats_services_test.py
  core/storage/statistics/gae_models.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15727 Fix #15480: Orientation of donate page not correct
  core/templates/pages/donate-page/donate-page.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15634 (Celebrating learners' accomplishments) Milestone 1.3: Add milestone message and post chapter recommendations
  .github/CODEOWNERS
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/images/general/milestone-message-star-icon.svg
  core/controllers/learner_dashboard.py
  core/controllers/learner_dashboard_test.py
  core/domain/platform_parameter_list.py
  core/feconf.py
  core/platform_feature_list.py
  core/templates/components/recommendations/post-chapter-recommendations.component.html
  core/templates/components/recommendations/post-chapter-recommendations.component.spec.ts
  core/templates/components/recommendations/post-chapter-recommendations.component.ts
  core/templates/components/recommendations/recommendations.module.ts
  core/templates/components/shared-component.module.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.html
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
  main.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15694 Update topic model and its related domain methods for accommodating diagnostic test skills.
  core/controllers/admin_test.py
  core/controllers/android_e2e_config.py
  core/controllers/classroom_test.py
  core/controllers/contributor_dashboard_admin_test.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/learner_group_test.py
  core/controllers/practice_sessions_test.py
  core/controllers/suggestion_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topic_viewer_test.py
  core/domain/learner_group_services_test.py
  core/domain/learner_progress_services_test.py
  core/domain/opportunity_services_test.py
  core/domain/subtopic_page_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_fetchers.py
  core/domain/topic_fetchers_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/domain/voiceover_services_test.py
  core/storage/topic/gae_models.py
  core/storage/topic/gae_models_test.py
  core/tests/test_utils.py
Labels: PR: LGTM

#15629 Fix issue with 'Cancel Button' on customization modal when using the 'Copy Tool'
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-content.service.spec.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-content.service.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-toolbar/ck-editor-copy-toolbar.component.html
  core/templates/components/ck-editor-helpers/customize-rte-component-modal.template.html
  core/tests/protractor_desktop/contributorDashboard.js
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15602 Install Python Dev Dependencies to Virtual Environment
  .github/CODEOWNERS
  core/utils.py
  requirements.txt
  requirements_dev.in
  requirements_dev.txt
  scripts/backend_test_shards.json
  scripts/backend_tests_incomplete_coverage.txt
  scripts/common.py
  scripts/common_test.py
  scripts/create_topological_sort_of_all_services.py
  scripts/docstrings_checker.py
  scripts/install_python_dev_dependencies.py
  scripts/install_python_dev_dependencies_test.py
  scripts/install_python_prod_dependencies.py
  scripts/install_python_prod_dependencies_test.py
  scripts/install_third_party.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/install_third_party_test.py
  scripts/linters/codeowner_linter.py
  scripts/linters/js_ts_linter.py
  scripts/linters/js_ts_linter_test.py
  scripts/linters/pre_commit_linter.py
  scripts/linters/python_linter.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  scripts/regenerate_requirements.py
  scripts/regenerate_requirements_test.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_configs.py
  scripts/run_backend_tests.py
  scripts/run_mypy_checks.py
  scripts/script_import_test.py
  scripts/servers.py
  scripts/setup_gae.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15716 Address pending review comments of #15475
  core/domain/change_domain.py
  core/domain/classroom_services_test.py
  core/domain/learner_group_services.py
  core/domain/story_fetchers.py
  core/domain/story_fetchers_test.py
  core/domain/subtopic_page_services.py
  core/domain/subtopic_page_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_fetchers.py
  core/domain/topic_fetchers_test.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15771 Fix #15716: MyPy's failing tests on develop.
  core/domain/topic_fetchers_test.py
Labels: PR: require post-merge sync to HEAD, PR CHANGELOG: Typing -- @vojtechjelinek

#15774 Fix bug in check_backend_associated_test_file script
  scripts/check_backend_associated_test_file.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15769 Fix part of #12912: Reenable `consider-using-dict-items` pylint rule
  .pylintrc
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @vojtechjelinek, PR: don't merge - STALE BUILD

#15670 (Making Contributor Dashboard UI Responsive) Milestone 1.3: Implement the new UI for translation review modal
  core/templates/css/oppia.css
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.ts
  extensions/rich_text_components/rte-output-display.component.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15777 Routine update of translations.
  assets/i18n/ar.json
  assets/i18n/es.json
  assets/i18n/fa.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/nb.json
  assets/i18n/nl.json
  assets/i18n/pl.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sw.json
  assets/i18n/tr.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#15776 Attempt to suppress ev_epollex_linux error
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15725 (Celebrating learners' accomplishments) Milestone 1.4: Add E2E tests
  core/templates/components/recommendations/post-chapter-recommendations.component.html
  core/templates/pages/admin-page/features-tab/admin-features-tab.component.html
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/tests/protractor_desktop/topicAndStoryViewer.js
  core/tests/protractor_utils/AdminPage.js
  core/tests/protractor_utils/TopicAndStoryViewerPage.js
  core/tests/webdriverio_utils/TopicAndStoryViewerPage.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15786 Make pre_push_hook_test.py assertRaisesRegex stricter
  scripts/pre_push_hook_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15788 Fix 'ExplorationTitleInput is not visible' flake in the exploration editor.
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.ts
  core/templates/pages/exploration-editor-page/services/router.service.ts
  core/tests/protractor.conf.js
  core/tests/protractor_utils/waitFor.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15689 Milestone 1.8 (Improving the lesson creation experience): Make changes in the controller layer and also create the backend api service.
  assets/constants.ts
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_fetchers.py
  core/domain/exp_fetchers_test.py
  core/domain/state_domain.py
  core/feconf.py
  core/templates/domain/exploration/ExplorationMetadataObjectFactory.ts
  core/templates/domain/exploration/ExplorationMetadataObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/services/version-history-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/version-history-backend-api.service.ts
  core/templates/services/angular-services.index.ts
  main.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15789 Add a waitFor to try and address "successful report" flake.
  core/tests/protractor_utils/ExplorationPlayerPage.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15787 Update CODEOWNERS to use teams
  .github/CODEOWNERS
  scripts/linters/codeowner_linter.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#15766 Text no longer floats outside the answering box
  extensions/interactions/guppy.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#15782 Fix #13357: Rerun Downloads in scripts/
  .circleci/config.yml
  .github/CODEOWNERS
  .github/README.md
  scripts/common.py
  scripts/common_test.py
  scripts/install_third_party.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/install_third_party_test.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/test_files/valid_codeowners
  scripts/run_backend_tests.py
  scripts/setup.py
  scripts/setup_gae.py
  scripts/setup_gae_test.py
  scripts/setup_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15701 Milestone 1.4 (Migrate away from protractor): Migrated few test suite from protractor to webdriverIO.
  .github/CODEOWNERS
  .github/workflows/e2e_topic_tests.yml
  core/templates/components/summary-tile/topic-summary-tile.component.html
  core/templates/pages/exploration-player-page/modals/flag-exploration-modal.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/tests/protractor.conf.js
  core/tests/protractor_utils/LearnerDashboardPage.js
  core/tests/protractor_utils/TopicAndStoryViewerPage.js
  core/tests/wdio.conf.js
  core/tests/webdriverio/profileMenuFlow.js
  core/tests/webdriverio_desktop/topicAndStoryEditor.js
  core/tests/webdriverio_desktop/topicAndStoryViewer.js
  core/tests/webdriverio_utils/AdminPage.js
  core/tests/webdriverio_utils/CreatorDashboardPage.js
  core/tests/webdriverio_utils/ExplorationEditorFeedbackTab.js
  core/tests/webdriverio_utils/ExplorationEditorHistoryTab.js
  core/tests/webdriverio_utils/ExplorationEditorImprovementsTab.js
  core/tests/webdriverio_utils/ExplorationEditorMainTab.js
  core/tests/webdriverio_utils/ExplorationEditorPage.js
  core/tests/webdriverio_utils/ExplorationEditorStatsTab.js
  core/tests/webdriverio_utils/ExplorationEditorTranslationTab.js
  core/tests/webdriverio_utils/ExplorationPlayerPage.js
  core/tests/webdriverio_utils/LearnerDashboardPage.js
  core/tests/webdriverio_utils/LibraryPage.js
  core/tests/webdriverio_utils/PreferencesPage.js
  core/tests/webdriverio_utils/ProfilePage.js
  core/tests/webdriverio_utils/StoryEditorPage.js
  core/tests/webdriverio_utils/SubTopicViewerPage.js
  core/tests/webdriverio_utils/SubscriptionDashboardPage.js
  core/tests/webdriverio_utils/TopicAndStoryViewerPage.js
  core/tests/webdriverio_utils/TopicEditorPage.js
  core/tests/webdriverio_utils/TopicViewerPage.js
  core/tests/webdriverio_utils/TopicsAndSkillsDashboardPage.js
  core/tests/webdriverio_utils/forms.js
  core/tests/webdriverio_utils/waitFor.js
  core/tests/webdriverio_utils/workflow.js
  extensions/interactions/TextInput/webdriverio.js
  package.json
  scripts/run_e2e_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#15773 Fix #15745 and #15744: Fix UI issues on learner-facing pages.
  core/templates/pages/classroom-page/classroom-page.component.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.css
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15798 Fix #15739: Link author list items to profile page in the lesson info modal
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.html
Labels: PR: LGTM

#15778 Fix #15743 and #15685: UI issues with the search bar on the Math classroom page
  core/templates/pages/classroom-page/classroom-page.component.css
  core/templates/pages/library-page/search-bar/search-bar.component.css
  core/templates/pages/library-page/search-bar/search-bar.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15791 Upload frontend coverage reports and webpack bundles as artifacts for debugging
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features_and_library.yml
  .github/workflows/e2e_user_profile.yml
  .github/workflows/frontend_tests.yml
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15711 Added Mypy type annotations to the files of `core/jobs/batch_jobs` directory.
  core/domain/search_services.py
  core/domain/skill_domain.py
  core/domain/skill_services.py
  core/domain/story_services.py
  core/jobs/batch_jobs/blog_validation_jobs.py
  core/jobs/batch_jobs/blog_validation_jobs_test.py
  core/jobs/batch_jobs/collection_info_jobs.py
  core/jobs/batch_jobs/collection_info_jobs_test.py
  core/jobs/batch_jobs/email_deletion_jobs_test.py
  core/jobs/batch_jobs/exp_recommendation_computation_jobs.py
  core/jobs/batch_jobs/exp_recommendation_computation_jobs_test.py
  core/jobs/batch_jobs/exp_search_indexing_jobs.py
  core/jobs/batch_jobs/exp_search_indexing_jobs_test.py
  core/jobs/batch_jobs/mailchimp_population_jobs.py
  core/jobs/batch_jobs/mailchimp_population_jobs_test.py
  core/jobs/batch_jobs/math_interactions_audit_jobs.py
  core/jobs/batch_jobs/math_interactions_audit_jobs_test.py
  core/jobs/batch_jobs/model_validation_jobs.py
  core/jobs/batch_jobs/model_validation_jobs_test.py
  core/jobs/batch_jobs/opportunity_management_jobs.py
  core/jobs/batch_jobs/opportunity_management_jobs_test.py
  core/jobs/batch_jobs/skill_migration_jobs.py
  core/jobs/batch_jobs/skill_migration_jobs_test.py
  core/jobs/batch_jobs/story_migration_jobs.py
  core/jobs/batch_jobs/story_migration_jobs_test.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs_test.py
  core/jobs/batch_jobs/user_stats_computation_jobs.py
  core/jobs/batch_jobs/user_stats_computation_jobs_test.py
  core/jobs/types/base_validation_errors.py
  core/jobs/types/blog_validation_errors.py
  scripts/run_mypy_checks.py
  stubs/mailchimp3/__init__.pyi
  stubs/mailchimp3/mailchimpclient.pyi
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15806 Remove unnecessary state-editor-content code in e2e test.
  core/templates/components/entity-creation-services/exploration-creation.service.ts
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/webdriverio_utils/ExplorationEditorMainTab.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15724 Fix CSS scoping
  core/templates/components/button-directives/hint-and-solution-buttons.component.css
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.css
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.css
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.css
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.css
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.css
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.css
  core/templates/pages/library-page/library-page.component.css
  core/templates/pages/library-page/search-bar/search-bar.component.css
  core/templates/pages/participation-playbook/playbook.component.css
  core/templates/pages/story-viewer-page/story-viewer-page-root.component.css
  core/templates/pages/story-viewer-page/story-viewer-page.component.css
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.css
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.css
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.component.css
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.css
Labels: PR: for current release, PR CHANGELOG: Bug fixes -- @nithusha21

#15780 (Celebrating learners' accomplishments) Make changes based on Web PMs' feedback
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/recommendations/post-chapter-recommendations.component.html
  core/templates/components/recommendations/post-chapter-recommendations.component.spec.ts
  core/templates/components/recommendations/post-chapter-recommendations.component.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.html
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15709 Milestone 1.4 (Learner group MVP): Add facilitator dashboard and learner group creation journey
  .github/CODEOWNERS
  assets/constants.ts
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/images/avatar/oppia_avatar_large_100px.svg
  core/controllers/learner_group.py
  core/controllers/learner_group_test.py
  core/domain/config_domain.py
  core/domain/learner_group_services.py
  core/domain/learner_group_services_test.py
  core/feconf.py
  core/templates/domain/learner_group/facilitator-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_group/facilitator-dashboard-backend-api.service.ts
  core/templates/domain/learner_group/learner-group-backend-api.service.spec.ts
  core/templates/domain/learner_group/learner-group-backend-api.service.ts
  core/templates/domain/learner_group/learner-group-syllabus-backend-api.service.spec.ts
  core/templates/domain/learner_group/learner-group-syllabus-backend-api.service.ts
  core/templates/domain/learner_group/learner-group-user-info.model.spec.ts
  core/templates/domain/learner_group/learner-group-user-info.model.ts
  core/templates/pages/facilitator-dashboard-page/facilitator-dashboard-page.component.css
  core/templates/pages/facilitator-dashboard-page/facilitator-dashboard-page.component.html
  core/templates/pages/facilitator-dashboard-page/facilitator-dashboard-page.component.spec.ts
  core/templates/pages/facilitator-dashboard-page/facilitator-dashboard-page.component.ts
  core/templates/pages/facilitator-dashboard-page/facilitator-dashboard-page.import.ts
  core/templates/pages/facilitator-dashboard-page/facilitator-dashboard-page.mainpage.html
  core/templates/pages/facilitator-dashboard-page/facilitator-dashboard-page.module.ts
  core/templates/pages/learner-group-pages/create-group/add-syllabus-items.component.css
  core/templates/pages/learner-group-pages/create-group/add-syllabus-items.component.html
  core/templates/pages/learner-group-pages/create-group/add-syllabus-items.component.spec.ts
  core/templates/pages/learner-group-pages/create-group/add-syllabus-items.component.ts
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page.component.css
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page.component.html
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page.component.spec.ts
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page.component.ts
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page.import.ts
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page.mainpage.html
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page.module.ts
  core/templates/pages/learner-group-pages/create-group/invite-students.component.css
  core/templates/pages/learner-group-pages/create-group/invite-students.component.html
  core/templates/pages/learner-group-pages/create-group/invite-students.component.spec.ts
  core/templates/pages/learner-group-pages/create-group/invite-students.component.ts
  core/templates/pages/learner-group-pages/create-group/learner-group-details.component.css
  core/templates/pages/learner-group-pages/create-group/learner-group-details.component.html
  core/templates/pages/learner-group-pages/create-group/learner-group-details.component.spec.ts
  core/templates/pages/learner-group-pages/create-group/learner-group-details.component.ts
  core/templates/pages/learner-group-pages/learner-group-pages.constants.ajs.ts
  core/templates/pages/learner-group-pages/learner-group-pages.constants.ts
  core/templates/pages/library-page/search-bar/search-bar.component.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/construct-translation-ids.service.spec.ts
  core/templates/services/construct-translation-ids.service.ts
  main.py
  scripts/typescript_checks.py
  webpack.common.config.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15818 Fix #14280: Try to fix blog page flake: "Cannot read property 'getDirection' of undefined"
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.ts
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15726 Milestone 1.5 (Migrate away from protractor): Migrated few test suite from protractor to webdriverIO.
  .github/workflows/e2e_miscellaneous_tests.yml
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.html
  core/tests/protractor.conf.js
  core/tests/protractor_utils/StoryEditorPage.js
  core/tests/wdio.conf.js
  core/tests/webdriverio_desktop/blogDashboard.js
  core/tests/webdriverio_desktop/contributorDashboard.js
  core/tests/webdriverio_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/webdriverio_utils/BlogDashboardPage.js
  core/tests/webdriverio_utils/ContributorDashboardAdminPage.js
  core/tests/webdriverio_utils/ContributorDashboardPage.js
  core/tests/webdriverio_utils/ContributorDashboardTranslateTextTab.js
  core/tests/webdriverio_utils/ExplorationEditorMainTab.js
  core/tests/webdriverio_utils/ExplorationEditorSettingsTab.js
  core/tests/webdriverio_utils/StoryEditorPage.js
  core/tests/webdriverio_utils/SubTopicViewerPage.js
  core/tests/webdriverio_utils/SubscriptionDashboardPage.js
  core/tests/webdriverio_utils/TopicEditorPage.js
  core/tests/webdriverio_utils/TopicViewerPage.js
  core/tests/webdriverio_utils/action.js
  extensions/interactions/MultipleChoiceInput/webdriverio.js
  extensions/interactions/TextInput/webdriverio.js
  scripts/run_e2e_tests.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#15815 Fix E2E Metrics Reporting and Reruns
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features_and_library.yml
  .github/workflows/e2e_user_profile.yml
  scripts/flake_checker.py
  scripts/flake_checker_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/servers.py
  scripts/servers_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD
