Repository oppia/oppia, pull requests merged in 2022-09, with the labels that each got.

#15974 Fix #15883: fix html select component logic
  core/templates/components/forms/custom-forms-directives/html-select.component.html
  core/templates/components/forms/custom-forms-directives/html-select.component.spec.ts
  core/templates/components/forms/custom-forms-directives/html-select.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15940 (Contributor Recognition Infrastructure) Milestone 1.4: Add required email services to notify contributors about levels they achieved
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/feconf.py
  core/storage/email/gae_models.py
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15977 Fix #15892: Handle CD bugs
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15979 Pin pylint-quotes version
  requirements_dev.in
  requirements_dev.txt
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#15981 Update authors and changelog for v3.2.8
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/feconf.py
  core/templates/pages/about-page/about-page.constants.ts
  package.json
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#15956 (Making Contributor Dashboard UI Responsive) Milestone 2.2: Implement the new UI for translation submission modal
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.html
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts
  core/templates/components/ck-editor-helpers/ck-editor-copy-toolbar/ck-editor-copy-toolbar.component.html
  core/templates/components/ck-editor-helpers/customize-rte-component-modal.template.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/services/contextual/window-dimensions.service.spec.ts
  core/templates/services/contextual/window-dimensions.service.ts
  core/templates/services/rte-helper-modal.controller.spec.ts
  core/templates/services/rte-helper-modal.controller.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15742 Functionality to add diagnostic test skills
  assets/constants.ts
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/feconf.py
  core/jobs/batch_jobs/exp_migration_jobs_test.py
  core/templates/components/question-directives/modal-templates/remove-question-skill-link-modal.comonent.spec.ts
  core/templates/components/question-directives/modal-templates/remove-question-skill-link-modal.component.html
  core/templates/components/question-directives/modal-templates/remove-question-skill-link-modal.component.ts
  core/templates/components/question-directives/questions-list/questions-list.component.html
  core/templates/components/question-directives/questions-list/questions-list.component.spec.ts
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/skill/skill-backend-api.service.spec.ts
  core/templates/domain/skill/skill-backend-api.service.ts
  core/templates/domain/skill/skill-domain.constants.ts
  core/templates/domain/topic/TopicObjectFactory.ts
  core/templates/domain/topic/TopicObjectFactorySpec.ts
  core/templates/domain/topic/topic-domain.constants.ajs.ts
  core/templates/domain/topic/topic-domain.constants.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.spec.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-skill-modal.component.html
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-skill-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/delete-skill-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/unassign-skill-from-topics-modal.component.html
  core/templates/pages/topics-and-skills-dashboard-page/modals/unassign-skill-from-topics-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/unassign-skill-from-topics-modal.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.module.ts
  core/tests/protractor_utils/TopicEditorPage.js
  core/tests/webdriverio_desktop/checkpointFeatures.js
  core/tests/webdriverio_desktop/classroomPageFileUploadFeatures.js
  core/tests/webdriverio_desktop/learnerDashboard.js
  core/tests/webdriverio_desktop/topicAndStoryEditor.js
  core/tests/webdriverio_desktop/topicAndStoryViewer.js
  core/tests/webdriverio_utils/TopicEditorPage.js
  main.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15938 M1.4 & M1.5 (Helping learners when they get stuck): Add support for preventing learners from being directed back more than 3 cards in the lesson)
  core/templates/app.constants.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.ts
  package.json
  yarn.lock
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15700 Milestone 1.4 (Improve line and branch coverage for the frontend and the backend): Added associated test file for some scripts
  scripts/backend_test_shards.json
  scripts/check_backend_associated_test_file.py
  scripts/check_backend_associated_test_file_test.py
  scripts/run_backend_tests.py
  scripts/run_backend_tests_test.py
  scripts/run_custom_eslint_tests.py
  scripts/run_custom_eslint_tests_test.py
  scripts/run_presubmit_checks.py
  scripts/run_presubmit_checks_test.py
  scripts/run_tests.py
  scripts/run_tests_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15999 Fix part of #15753: Fix frontend validation for image caption length
  assets/rich_text_components_definitions.ts
  core/templates/services/rte-helper.service.spec.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15931 Fix part of #14419, changing the Enum class from screaming SNAKECASE to PascalCase.
  core/domain/app_feedback_report_constants.py
  core/domain/app_feedback_report_domain.py
  core/domain/app_feedback_report_domain_test.py
  core/domain/app_feedback_report_services.py
  core/domain/app_feedback_report_services_test.py
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#15967 Fixes several server errors
  core/controllers/practice_sessions.py
  core/templates/domain/utilities/stopwatch.model.spec.ts
  core/templates/domain/utilities/stopwatch.model.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/pages/story-editor-page/story-editor-page.component.html
  core/templates/services/rte-helper-modal.controller.ts
  extensions/rich_text_components/rte-output-display.component.spec.ts
  extensions/rich_text_components/rte-output-display.component.ts
  index.yaml
Labels: PR: LGTM, PR CHANGELOG: Server Errors -- @kevintab95

#16011 Fix #16010: Remove index.yaml order deduplication
  scripts/extend_index_yaml.py
  scripts/extend_index_yaml_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#16000 Fix part of #15753: Fix frontend validation for editing hint
  core/templates/components/state-directives/hint-editor/hint-editor.component.spec.ts
  core/templates/components/state-directives/hint-editor/hint-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15925 Fix #15880 and #15924
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15980 Fixes some assert issues.
  core/domain/draft_upgrade_services.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/learner_group_fetchers.py
  core/domain/learner_group_fetchers_test.py
  core/domain/learner_group_services.py
  core/domain/learner_progress_services.py
  core/domain/recommendations_services.py
  core/domain/rules_registry.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
  core/domain/story_fetchers.py
  core/domain/story_fetchers_test.py
  core/domain/subtopic_page_services.py
  core/domain/topic_fetchers.py
  core/domain/topic_fetchers_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15983 Fix part of #15753: Fix frontend validation for numeric input
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.spec.ts
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#15984 Fix part of #15753: Fix validation for outcome labelled as correct
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.ts
  core/tests/webdriverio_desktop/coreEditorAndPlayerFeatures.js
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#15809 Fix #11686: Add filtering to the language selector drop-down in the Contributor Dashboard
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15958 Fixing ChangeDomain typing issue in the backend type annotations.
  core/domain/change_domain.py
  core/domain/classifier_services.py
  core/domain/collection_domain.py
  core/domain/collection_services.py
  core/domain/config_domain.py
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/question_domain.py
  core/domain/question_services.py
  core/domain/rights_domain.py
  core/domain/skill_domain.py
  core/domain/skill_services.py
  core/domain/story_domain.py
  core/domain/story_services.py
  core/domain/subtopic_page_domain.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_services.py
  mypy_imports.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#16030 Fix #15413: ViewDestroyedError Frontend flake and other flakes also present.
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.spec.ts
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.spec.ts
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#15914 Milestone 1.2: Adding Storage, Domain and Service layer for Blog Post Search functionality
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/blog_homepage.py
  core/controllers/blog_homepage_test.py
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/controllers/library.py
  core/domain/blog_domain.py
  core/domain/blog_services.py
  core/domain/blog_services_test.py
  core/domain/search_services.py
  core/domain/search_services_test.py
  core/feconf.py
  core/jobs/batch_jobs/blog_post_search_indexing_jobs.py
  core/jobs/batch_jobs/blog_post_search_indexing_jobs_test.py
  core/jobs/batch_jobs/blog_validation_jobs.py
  core/platform/search/elastic_search_services.py
  core/platform/search/elastic_search_services_test.py
  core/tests/test_utils.py
  core/utils.py
  core/utils_test.py
  cron.yaml
  main.py
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16032 Fix a flake in the question editor player.
  assets/constants.ts
  core/constants_test.py
  core/templates/components/question-directives/questions-list/questions-list.component.spec.ts
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/components/question-directives/questions-list/questions-list.constants.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.spec.ts
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.html
  core/templates/pages/topic-editor-page/modal-templates/questions-list-select-skill-and-difficulty-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/questions-opportunities-select-difficulty-modal.component.spec.ts
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.component.html
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15964 Milestone 1.6 (Improve line and branch coverage for the frontend and the backend): Added associated test file for some scripts
  .github/CODEOWNERS
  core/domain/cron_services_test.py
  core/feconf.py
  core/feconf_test.py
  core/platform/datastore/cloud_datastore_services_test.py
  core/platform/transactions/cloud_transaction_services_test.py
  scripts/backend_test_shards.json
  scripts/check_backend_associated_test_file.py
  scripts/run_portserver.py
  scripts/run_portserver_test.py
  scripts/third_party_size_check.py
  scripts/third_party_size_check_test.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#16034 Fix a case of `First RTE element is not visible`
  core/tests/webdriverio_desktop/additionalPlayerFeatures.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#16043 Fixed delete topic button is partially clickable
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15928 Introduce audit migration jobs
  core/jobs/batch_jobs/exp_migration_jobs.py
  core/jobs/batch_jobs/exp_migration_jobs_test.py
  core/jobs/batch_jobs/skill_migration_jobs.py
  core/jobs/batch_jobs/skill_migration_jobs_test.py
  core/jobs/batch_jobs/story_migration_jobs.py
  core/jobs/batch_jobs/story_migration_jobs_test.py
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#16025 Fix part of #16020: Fix UI issues on the Contributor Dashboard
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#15872 Added schema to QuestionsListHandler of questions_list.py
  core/controllers/questions_list.py
  core/handler_schema_constants.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#16007 Fix: #15994 added bootstrap class for close button
  core/templates/components/concept-card/concept-card-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16023 Fix part of #15968: Replaces Material icons with Font Awesome icons in some "skill editor" and "story editor" pages.
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16038 Introduce GA4 alongside UA analytics
  assets/analytics-constants.json
  assets/constants.ts
  core/templates/google-analytics.initializer.ts
  core/templates/pages/delete-account-page/services/delete-account-backend-api.service.ts
  core/templates/pages/header_js_libs.html
  core/templates/pages/signup-page/signup-page.component.ts
  core/tests/build_sources/assets/constants.js
  scripts/common.py
  scripts/pre_commit_hook.py
  scripts/pre_commit_hook_test.py
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
  tsconfig-strict.json
  tsconfig.json
  webpack.common.config.ts
  webpack.prod.config.ts
Labels: PR: LGTM

#15917 (Contributor Recognition Infrastructure) Milestone 1.3: Add required suggestion services to handle contributor stats
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/storage/suggestion/gae_models.py
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee, PR: Affects datastore layer

#16014 Fix part of #15753: Hide default feedback for multiple choice input when all choices addressed
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#15960 (Contributor Recognition Infrastructure) Milestone 1.5: Write asynchronous tasks to send new rank notifying emails
  core/controllers/tasks.py
  core/controllers/tasks_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/feconf.py
  main.py
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#16044 (Contributor Recognition Infrastructure) Milestone 1.6: Implement controller layer for the project
  core/controllers/acl_decorators.py
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/suggestion_services.py
  core/feconf.py
  main.py
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#16050 Fix #16015: Corrects the placeholder text
  extensions/objects/templates/math-expression-content-editor.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16072 Fix #16058: Fraction rule input is not connected properly in the answer group input form
  core/templates/components/state-directives/rule-editor/rule-editor.component.html
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#16074 Drop obsolete todos for issue 14419 from the codebase.
  core/domain/platform_parameter_list.py
  core/storage/app_feedback_report/gae_models.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16082 Routine update of translations
  assets/i18n/bn.json
  assets/i18n/diq.json
  assets/i18n/es.json
  assets/i18n/fa.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/hu.json
  assets/i18n/id.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/mk.json
  assets/i18n/ne.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR: LGTM, PR CHANGELOG: Translations -- @DubeySandeep

#16036 Fixed the end of the exploration dialog box not seems to be clickable
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16071 Introduce initial android landing page
  .github/CODEOWNERS
  assets/constants.ts
  assets/i18n/en.json
  assets/i18n/qqq.json
  assets/images/android/android-landing-0.svg
  assets/images/android/android-landing-1.svg
  assets/images/android/android-landing-2.svg
  assets/images/android/android-landing-4.svg
  assets/images/android/android-landing-google-play.svg
  assets/images/android/android-landing-speech-bubble.svg
  assets/images/logo/48x48_logo_mint.svg
  assets/sitemap.xml
  core/templates/components/button-directives/social-buttons.component.css
  core/templates/components/button-directives/social-buttons.component.html
  core/templates/pages/android-page/android-page-root.component.html
  core/templates/pages/android-page/android-page-root.component.spec.ts
  core/templates/pages/android-page/android-page-root.component.ts
  core/templates/pages/android-page/android-page-routing.module.ts
  core/templates/pages/android-page/android-page.component.css
  core/templates/pages/android-page/android-page.component.html
  core/templates/pages/android-page/android-page.component.spec.ts
  core/templates/pages/android-page/android-page.component.ts
  core/templates/pages/android-page/android-page.module.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/templates/pages/splash-page/splash-page.component.css
  core/templates/pages/splash-page/splash-page.component.html
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/splash-page/splash-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15969 Milestone 2.3 and 2.4 (Migrate away from protractor): Migrated few test suite from protractor to webdriverIO.
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  core/tests/protractor.conf.js
  core/tests/wdio.conf.js
  core/tests/webdriverio_desktop/embedding.js
  core/tests/webdriverio_desktop/explorationFeedbackTab.js
  core/tests/webdriverio_desktop/explorationHistoryTab.js
  core/tests/webdriverio_desktop/explorationImprovementsTab.js
  core/tests/webdriverio_desktop/explorationStatisticsTab.js
  core/tests/webdriverio_desktop/explorationTranslationTab.js
  core/tests/webdriverio_desktop/extensions.js
  core/tests/webdriverio_utils/AdminPage.js
  core/tests/webdriverio_utils/ExplorationEditorFeedbackTab.js
  core/tests/webdriverio_utils/ExplorationEditorHistoryTab.js
  core/tests/webdriverio_utils/ExplorationEditorTranslationTab.js
  core/tests/webdriverio_utils/forms.js
  core/tests/webdriverio_utils/waitFor.js
  extensions/interactions/GraphInput/webdriverio.js
  extensions/interactions/ItemSelectionInput/webdriverio.js
  extensions/interactions/MathEquationInput/webdriverio.js
  extensions/objects/webdriverio.js
  extensions/rich_text_components/Link/webdriverio.js
  scripts/run_e2e_tests.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#16056 Bug fix in `run_backend_test.py`
  scripts/run_backend_tests.py
  scripts/run_backend_tests_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#16103 Fix part of #16020: Fixed issue with lazy loading on CD
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#16144 Add tags to incoming issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/server_error_template.md
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15833 Remove instances of `$.ajax`
  core/templates/components/entity-creation-services/exploration-creation-backend-api.service.spec.ts
  core/templates/components/entity-creation-services/exploration-creation-backend-api.service.ts
  core/templates/components/entity-creation-services/exploration-creation.service.spec.ts
  core/templates/components/entity-creation-services/exploration-creation.service.ts
  core/templates/services/csrf-token.service.spec.ts
  core/templates/services/csrf-token.service.ts
  extensions/objects/templates/image-editor.component.spec.ts
  extensions/objects/templates/image-editor.component.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#15953 UI for the Classroom Admin Page
  .github/CODEOWNERS
  assets/constants.ts
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/classroom.py
  core/controllers/classroom_test.py
  core/domain/classroom_config_domain.py
  core/domain/classroom_config_domain_test.py
  core/feconf.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/classroom/classroom-backend-api.service.spec.ts
  core/templates/domain/classroom/classroom-backend-api.service.ts
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.component.html
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.component.spec.ts
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.component.ts
  core/templates/pages/classroom-admin-page/classroom-admin-page.component.html
  core/templates/pages/classroom-admin-page/classroom-admin-page.component.spec.ts
  core/templates/pages/classroom-admin-page/classroom-admin-page.component.ts
  core/templates/pages/classroom-admin-page/classroom-admin-page.import.ts
  core/templates/pages/classroom-admin-page/classroom-admin-page.mainpage.html
  core/templates/pages/classroom-admin-page/classroom-admin-page.module.ts
  core/templates/pages/classroom-admin-page/existing-classroom.model.spec.ts
  core/templates/pages/classroom-admin-page/existing-classroom.model.ts
  core/templates/pages/classroom-admin-page/modals/classroom-editor-confirm-modal.component.html
  core/templates/pages/classroom-admin-page/modals/classroom-editor-confirm-modal.component.spec.ts
  core/templates/pages/classroom-admin-page/modals/classroom-editor-confirm-modal.component.ts
  core/templates/pages/classroom-admin-page/modals/create-new-classroom-modal.component.html
  core/templates/pages/classroom-admin-page/modals/create-new-classroom-modal.component.spec.ts
  core/templates/pages/classroom-admin-page/modals/create-new-classroom-modal.component.ts
  core/templates/pages/classroom-admin-page/modals/delete-classroom-confirm-modal.component.html
  core/templates/pages/classroom-admin-page/modals/delete-classroom-confirm-modal.component.spec.ts
  core/templates/pages/classroom-admin-page/modals/delete-classroom-confirm-modal.component.ts
  core/templates/pages/classroom-admin-page/navbar/classroom-admin-navbar.component.html
  core/templates/pages/classroom-admin-page/navbar/classroom-admin-navbar.component.spec.ts
  core/templates/pages/classroom-admin-page/navbar/classroom-admin-navbar.component.ts
  core/templates/pages/classroom-admin-page/new-classroom.model.spec.ts
  core/templates/pages/classroom-admin-page/new-classroom.model.ts
  core/templates/pages/classroom-admin-page/services/classroom-admin-data.service.spec.ts
  core/templates/pages/classroom-admin-page/services/classroom-admin-data.service.ts
  core/templates/services/angular-services.index.ts
  main.py
  webpack.common.config.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16161 Add pt-br translations and few more CTAs for android beta launch page
  assets/i18n/en.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/images/android/android-landing-3.svg
  core/templates/components/button-directives/social-buttons.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  core/templates/pages/about-page/about-page.component.css
  core/templates/pages/about-page/about-page.component.html
  core/templates/pages/about-page/about-page.component.spec.ts
  core/templates/pages/about-page/about-page.component.ts
  core/templates/pages/android-page/android-page-root.component.spec.ts
  core/templates/pages/android-page/android-page.component.html
  core/templates/pages/splash-page/splash-page.component.html
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/teach-page/teach-page.component.html
  core/templates/pages/teach-page/teach-page.component.spec.ts
  core/templates/pages/teach-page/teach-page.component.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16054 Fix part of #13162: Added schemas to TopicViewerPage of topic_viewer.py
  core/controllers/topic_viewer.py
  core/handler_schema_constants.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek
