Repository oppia/oppia, pull requests merged in 2022-08, with the labels that each got.

#15816 Replace JS `fetch` with Angular `http`
  core/templates/pages/exploration-editor-page/services/autosave-info-modals.service.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/csrf-token.service.spec.ts
  core/templates/services/csrf-token.service.ts
  core/templates/services/request-interceptor.service.spec.ts
  core/templates/services/request-interceptor.service.ts
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15703 (Making Contributor Dashboard UI Responsive) Milestone 1.4: Implement the new UI for question review modal
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.html
  core/templates/components/state-directives/response-header/response-header.component.html
  core/templates/components/state-editor/state-editor.component.html
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.html
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.html
  core/templates/css/oppia.css
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.html
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15781 Merge the Lesson information modal on the top-navbar with the one on the footer
  assets/i18n/ar.json
  assets/i18n/en.json
  assets/i18n/fr.json
  assets/i18n/qqq.json
  assets/i18n/sw.json
  assets/i18n/zh-hant.json
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.css
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.css
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.html
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.spec.ts
  core/templates/pages/exploration-player-page/services/player-position.service.spec.ts
  core/templates/pages/exploration-player-page/services/player-position.service.ts
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.css
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.html
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.spec.ts
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.ts
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.css
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.html
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.spec.ts
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.ts
  core/templates/pages/exploration-player-page/templates/progress-reminder-modal.component.css
  core/templates/pages/exploration-player-page/templates/progress-reminder-modal.component.html
  core/templates/pages/exploration-player-page/templates/progress-reminder-modal.component.spec.ts
  core/templates/pages/exploration-player-page/templates/progress-reminder-modal.component.ts
  core/tests/protractor/libraryFlow.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
  core/tests/webdriverio_utils/ExplorationPlayerPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15829 Update a string for item selection input
  assets/i18n/en.json
Labels: PR: LGTM, PR CHANGELOG: Translations -- @DubeySandeep

#15823 Fix part of #9749: contributorDashboard ui fix
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.mainpage.html
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#15819 Fix E2E flake: Trying to fix "Cannot read property 'getDirection' of undefined" flake in state content editor
  core/templates/components/state-editor/state-content-editor/state-content-editor.component.ts
  core/templates/components/state-editor/state-editor.component.spec.ts
  core/templates/components/state-editor/state-editor.component.ts
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15775 Adding Comment To Explain- Why Blog Post Models are not Versioned
  core/storage/blog/gae_models.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15808 Fix part of #15757: Fix graph and image click interaction
  extensions/interactions/GraphInput/directives/graph-viz.component.spec.ts
  extensions/interactions/GraphInput/directives/graph-viz.component.ts
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.component.spec.ts
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.component.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15843 Fix #15730: the category language button was incorrectly placed. I needed to adjust the CSS
  core/templates/pages/classroom-page/classroom-page.component.css
  core/templates/pages/library-page/search-bar/search-bar.component.css
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15741 Fix #15684: Resolve topic and skill editor dashboard UI issue on smaller screen sizes
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15811 Fix #15654: Remove e2e classname used for styling in core/templates/css/oppia.css
  core/templates/css/oppia.css
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/test-interaction-panel/test-interaction-panel.component.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.html
  core/templates/pages/exploration-player-page/learner-experience/continue-button.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15847 Avoid Collisions of Backend Coverage Filenames
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15836 Milestone 1.5 (Migrate away from protractor): Migrated few test suite from protractor to webdriverIO.
  .github/workflows/e2e_miscellaneous_tests.yml
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.html
  core/tests/protractor.conf.js
  core/tests/protractor_utils/StoryEditorPage.js
  core/tests/wdio.conf.js
  core/tests/webdriverio_desktop/blogDashboard.js
  core/tests/webdriverio_desktop/contributorDashboard.js
  core/tests/webdriverio_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/webdriverio_utils/BlogDashboardPage.js
  core/tests/webdriverio_utils/ContributorDashboardAdminPage.js
  core/tests/webdriverio_utils/ContributorDashboardPage.js
  core/tests/webdriverio_utils/ContributorDashboardTranslateTextTab.js
  core/tests/webdriverio_utils/ExplorationEditorMainTab.js
  core/tests/webdriverio_utils/ExplorationEditorSettingsTab.js
  core/tests/webdriverio_utils/StoryEditorPage.js
  core/tests/webdriverio_utils/SubTopicViewerPage.js
  core/tests/webdriverio_utils/SubscriptionDashboardPage.js
  core/tests/webdriverio_utils/TopicEditorPage.js
  core/tests/webdriverio_utils/TopicViewerPage.js
  core/tests/webdriverio_utils/action.js
  core/tests/webdriverio_utils/waitFor.js
  extensions/interactions/MultipleChoiceInput/webdriverio.js
  extensions/interactions/TextInput/webdriverio.js
  scripts/run_e2e_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15844 Fixed customization arg rename migration issue.
  core/domain/exp_domain.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15839 Changed color of pagination buttons on the modals on the contributor dashboard.
  core/templates/components/state-directives/response-header/response-header.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.css
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.html
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#15810 [Backend]: Adds classroom model
  core/feconf.py
  core/platform/models.py
  core/storage/classroom/gae_models.py
  core/storage/classroom/gae_models_test.py
  mypy_imports.py
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR: Affects datastore layer

#15697 Milestone 1.3 (Improve line and branch coverage for the frontend and the backend): Updated run_backend_test script to calculate per-file branch coverage
  .github/workflows/backend_tests.yml
  scripts/backend_test_shards.json
  scripts/backend_tests_incomplete_coverage.txt
  scripts/check_overall_backend_test_coverage.py
  scripts/check_overall_backend_test_coverage_test.py
  scripts/run_backend_tests.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15845 (Contributor Recognition Infrastructure) Milestone 1.2: Introduce required domain objects for the contributor recognition infrastructure
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
Labels: PR: LGTM, REVIEWERS: Please add changelog label

#15762 Fix part of #14033: Added Mypy type annotations to some files of domain folder. -- M1.8
  core/domain/activity_services_test.py
  core/domain/change_domain.py
  core/domain/collection_domain_test.py
  core/domain/collection_services.py
  core/domain/collection_services_test.py
  core/domain/event_services.py
  core/domain/event_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_fetchers.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/image_validation_services.py
  core/domain/learner_playlist_services_test.py
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/domain/question_domain.py
  core/domain/question_fetchers.py
  core/domain/question_fetchers_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/rating_services.py
  core/domain/state_domain.py
  core/domain/story_domain.py
  core/domain/story_fetchers_test.py
  core/domain/story_services.py
  core/domain/subscription_services_test.py
  core/domain/user_services_test.py
  core/domain/value_generators_domain.py
  core/feconf.py
  core/jobs/batch_jobs/opportunity_management_jobs.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/collection/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/exploration/gae_models.py
  core/storage/opportunity/gae_models.py
  core/storage/question/gae_models.py
  core/storage/skill/gae_models.py
  core/storage/story/gae_models.py
  core/storage/subtopic/gae_models.py
  core/storage/topic/gae_models.py
  core/tests/test_utils.py
  core/utils.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15790 Milestone 1.6 and 1.7 (Migrate away from protractor): Migrated few test suite from protractor to webdriverIO.
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/e2e_user_profile.yml
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
  core/tests/protractor.conf.js
  core/tests/wdio.conf.js
  core/tests/webdriverio_desktop/classroomPage.js
  core/tests/webdriverio_desktop/classroomPageFileUploadFeatures.js
  core/tests/webdriverio_desktop/navigation.js
  core/tests/webdriverio_desktop/skillEditor.js
  core/tests/webdriverio_desktop/topicsAndSkillsDashboard.js
  core/tests/webdriverio_desktop/wipeout.js
  core/tests/webdriverio_utils/ClassroomPage.js
  core/tests/webdriverio_utils/DeleteAccountPage.js
  core/tests/webdriverio_utils/ExplorationEditorSettingsTab.js
  core/tests/webdriverio_utils/GetStartedPage.js
  core/tests/webdriverio_utils/LibraryPage.js
  core/tests/webdriverio_utils/TopicsAndSkillsDashboardPage.js
  core/tests/webdriverio_utils/forms.js
  core/tests/webdriverio_utils/general.js
  core/tests/webdriverio_utils/workflow.js
  package.json
  scripts/run_e2e_tests.py
  scripts/servers.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#15859 FixPart of 9749: `?` removed + unknown removed + added some comments
  core/templates/components/graph-services/graph-layout.service.spec.ts
  core/templates/components/graph-services/graph-layout.service.ts
  core/templates/components/question-directives/question-editor/question-editor.component.spec.ts
  core/templates/components/question-directives/question-editor/question-editor.component.ts
  core/templates/components/question-directives/question-player/question-player.component.spec.ts
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/components/question-directives/questions-list/questions-list.component.spec.ts
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.spec.ts
  core/templates/components/state-directives/rule-editor/rule-editor.component.spec.ts
  core/templates/components/state-directives/rule-editor/rule-editor.component.ts
  core/templates/components/state-editor/state-editor.component.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/components/version-diff-visualization/version-diff-visualization.component.spec.ts
  core/templates/components/version-diff-visualization/version-diff-visualization.component.ts
  core/templates/domain/question/editable-question-backend-api.service.ts
  core/templates/domain/question/question-update.service.ts
  core/templates/domain/suggestion/SuggestionThreadObjectFactorySpec.ts
  core/templates/domain/suggestion/suggestion.model.spec.ts
  core/templates/domain/suggestion/suggestion.model.ts
  core/templates/filters/parameterize-rule-description.pipe.spec.ts
  core/templates/filters/truncate-input-based-on-interaction-answer-type.pipe.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.component.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
  core/templates/pages/contributor-dashboard-page/services/question-suggestion-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/question-suggestion-backend-api.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-modal.service.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.ts
  core/templates/pages/exploration-editor-page/services/graph-data.service.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/statistics-tab.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/services/compute-graph.service.ts
  core/templates/services/suggestions.service.spec.ts
  extensions/objects/templates/code-string-editor.component.ts
  extensions/objects/templates/number-with-units-editor.component.ts
Labels: PR: LGTM

#15801 Fix part of #14033: Added Mypy type annotations to some files of domain folder. -- M1.9
  core/controllers/acl_decorators.py
  core/controllers/cron_test.py
  core/controllers/feedback.py
  core/controllers/learner_dashboard.py
  core/domain/app_feedback_report_domain.py
  core/domain/change_domain.py
  core/domain/collection_services.py
  core/domain/email_manager_test.py
  core/domain/email_subscription_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/expression_parser.py
  core/domain/expression_parser_test.py
  core/domain/learner_group_services_test.py
  core/domain/moderator_services_test.py
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_fetchers.py
  core/domain/question_fetchers_test.py
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/domain/state_domain.py
  core/domain/story_domain_test.py
  core/domain/story_fetchers_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/domain/summary_services.py
  core/domain/summary_services_test.py
  core/domain/topic_fetchers_test.py
  core/domain/topic_services_test.py
  core/domain/user_services_test.py
  core/domain/voiceover_services.py
  core/domain/voiceover_services_test.py
  core/feconf.py
  core/jobs/batch_jobs/math_interactions_audit_jobs_test.py
  core/jobs/batch_jobs/opportunity_management_jobs_test.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/jobs/transforms/validation/base_validation_test.py
  core/schema_utils.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/tests/test_utils.py
  scripts/run_mypy_checks.py
  stubs/heapq/__init__.pyi
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Typing -- @vojtechjelinek

#15849 (Celebrating learners' accomplishments) Milestone 2.1: Add a utility service for checkpoint celebration
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/exploration-player-page/services/checkpoint-celebration-utility.service.spec.ts
  core/templates/pages/exploration-player-page/services/checkpoint-celebration-utility.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15835 Fix #15772: set correct image context in question player; fix decoding of foreign chars in SVGs
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.ts
  core/templates/services/image-local-storage.service.spec.ts
  core/templates/services/image-upload-helper.service.spec.ts
  core/templates/services/image-upload-helper.service.ts
  core/templates/services/svg-sanitizer.service.ts
  extensions/objects/templates/svg-editor.component.spec.ts
  extensions/objects/templates/svg-editor.component.ts
Labels: PR: LGTM

#15868 Fixed UI issues on the Contributor Dashboard raised by the translation team
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15869 FixPart of #9749:?. removed from html files
  core/templates/components/question-directives/question-player/question-player.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/domain/objects/fraction.model.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  extensions/objects/templates/fraction-editor.component.ts
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15867 Fix "Failed: undefined" Flake
  core/tests/protractor_desktop/additionalEditorFeatures.js
  core/tests/protractor_desktop/additionalPlayerFeatures.js
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_desktop/embedding.js
  core/tests/protractor_desktop/explorationHistoryTab.js
  core/tests/protractor_desktop/explorationTranslationTab.js
  core/tests/protractor_desktop/playVoiceovers.js
  core/tests/protractor_desktop/voiceoverUploadFeatures.js
  core/tests/protractor_utils/ExplorationEditorMainTab.js
  core/tests/protractor_utils/forms.js
  core/tests/protractor_utils/waitFor.js
  core/tests/webdriverio_utils/ExplorationEditorMainTab.js
  core/tests/webdriverio_utils/forms.js
  core/tests/webdriverio_utils/waitFor.js
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15853 Fix topicAndStoryEditor flake: create chapter button is not clickable.
  core/tests/webdriverio_utils/StoryEditorPage.js
  core/tests/webdriverio_utils/TopicsAndSkillsDashboardPage.js
  core/tests/webdriverio_utils/waitFor.js
Labels: PR: LGTM

#15584 Fix part of N/A: Frontend validation for curated explorations
  assets/constants.ts
  core/android_validation_constants.py
  core/controllers/admin.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/state_domain_test.py
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#15824 Check for Validation Errors Before Reverting an Exploration
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.html
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/history-tab.component.ts
  core/templates/pages/exploration-editor-page/history-tab/modal-templates/check-revert-exploration-modal.component.html
  core/templates/pages/exploration-editor-page/history-tab/modal-templates/check-revert-exploration-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/modal-templates/check-revert-exploration-modal.component.ts
  core/templates/pages/exploration-editor-page/history-tab/services/check-revert.service.spec.ts
  core/templates/pages/exploration-editor-page/history-tab/services/check-revert.service.ts
  core/templates/pages/exploration-editor-page/services/history-tab-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/services/history-tab-backend-api.service.ts
  core/templates/services/angular-services.index.ts
  main.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#15821 (Contributor Recognition Infrastructure) Milestone 1.1: Introduce storage models for contribution stats
  core/domain/takeout_service_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee, PR: Affects datastore layer

#15879 Moving from Ubuntu 18.04 to 22.04 in Github actions
  .github/actions/install-oppia-dependencies/action.yml
  .github/workflows/backend_associated_test_file_check.yml
  .github/workflows/backend_tests.yml
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_coverage_and_typescript_tests.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features_and_library.yml
  .github/workflows/e2e_user_profile.yml
  .github/workflows/eslint_tests.yml
  .github/workflows/frontend_tests.yml
  .github/workflows/lighthouse_accessibility.yml
  .github/workflows/lighthouse_performance.yml
  .github/workflows/lint.yml
  .github/workflows/pending-review-notification.yml
  .github/workflows/python_type_checks.yml
  .github/workflows/revert-web-wiki-updates.yml
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD, PR: don't merge - STALE BUILD

#15842 Fix issue #14815: change padding in oppia-classroom-view-container, the search container
  core/templates/pages/classroom-page/classroom-page.component.css
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15865 [Backend]: Adds the domain class for the classroom model
  .github/CODEOWNERS
  core/domain/classroom_config_domain.py
  core/domain/classroom_config_domain_test.py
  core/storage/classroom/gae_models.py
  core/storage/classroom/gae_models_test.py
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15862 Fix #13397: Milestone 1.1 - Change 'published_on' to None if Blog Post is Draft
  core/domain/blog_domain.py
  core/domain/blog_services.py
  core/domain/blog_services_test.py
  core/jobs/transforms/validation/blog_validation.py
  core/jobs/transforms/validation/blog_validation_test.py
  core/jobs/types/blog_validation_errors.py
  core/jobs/types/blog_validation_errors_test.py
  core/storage/blog/gae_models.py
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15881 Fix skill delete issue
  core/templates/components/state-editor/state-editor-properties-services/state-skill.service.ts
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.spec.ts
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15893 Fixes fade in flake for statecontent editor.
  core/tests/webdriverio_desktop/contributorDashboard.js
  core/tests/webdriverio_desktop/learnerDashboard.js
  core/tests/webdriverio_desktop/topicAndStoryEditor.js
  core/tests/webdriverio_desktop/topicAndStoryViewer.js
  core/tests/webdriverio_desktop/userJourneys.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15851 Fix #11905, #15892: Navigate to initial page after closing suggestion review modal
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15841 Fix #15746: Don't set active topic to 'ALL' in contributor dashboard page.
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#15837 Add exploration migration job
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/interaction_registry.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/rating_services_test.py
  core/feconf.py
  core/jobs/batch_jobs/exp_migration_jobs.py
  core/jobs/batch_jobs/exp_migration_jobs_test.py
  core/jobs/batch_jobs/skill_migration_jobs.py
  core/jobs/batch_jobs/story_migration_jobs.py
  core/jobs/registry.py
  core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip
  core/tests/protractor_desktop/explorationHistoryTab.js
  scripts/backend_test_shards.json
Labels: PR: for current release, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#15908 Fix #13824: Clarify backend test shard error messages
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15903 Alert when E2E or Lighthouse tests fail on develop
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features_and_library.yml
  .github/workflows/e2e_user_profile.yml
  .github/workflows/lighthouse_accessibility.yml
  .github/workflows/lighthouse_performance.yml
  core/tests/webdriverio_utils/BlogDashboardPage.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15906 Fix #15874: Console error on trying to tag misconception to a question on skill editor page
  core/templates/components/shared-component.module.ts
Labels: PR: for current release

#15854 Fix Part of #10700: Refactor Object Factories
  core/templates/base-components/oppia-root.directive.ts
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.ts
  core/templates/domain/suggestion/suggestion-thread-object.model.spec.ts
  core/templates/domain/suggestion/suggestion-thread-object.model.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.ts
  core/templates/pages/exploration-editor-page/feedback-tab/thread-table/thread-table.component.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#15784 (Making Contributor Dashboard UI Responsive) Milestone 2.1: Implement the new UI for question submission modal
  core/templates/components/question-difficulty-selector/question-difficulty-selector.component.html
  core/templates/components/shared-component.module.ts
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-feedback-editor.component.html
  core/templates/components/state-directives/response-header/response-header.component.html
  core/templates/components/state-directives/response-header/response-header.component.spec.ts
  core/templates/components/state-directives/response-header/response-header.component.ts
  core/templates/components/state-directives/rule-editor/rule-editor.component.html
  core/templates/components/state-directives/solution-editor/solution-editor.component.html
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.html
  core/templates/components/state-editor/state-content-editor/state-content-editor.component.html
  core/templates/components/state-editor/state-editor.component.html
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.html
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-outcome-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-outcome-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-outcome-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/questions-opportunities-select-difficulty-modal.component.html
  extensions/objects/templates/filepath-editor.component.html
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15900 Fix #15749 Display the topic name on top of the subtopic name on smaller screens
  core/templates/pages/admin-page/roles-tab/topic-manager-role-editor-modal.component.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.css
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.spec.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15907 Fix release issues
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.css
  core/templates/pages/preferences-page/form-fields/subject-interests.component.html
  core/templates/pages/topic-editor-page/modal-templates/create-new-story-modal.template.html
  extensions/objects/templates/image-with-regions-editor.component.html
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#15717 Fix #15386: Improve experience for untranslatable cards
  core/controllers/contributor_dashboard.py
  core/domain/state_domain.py
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15912 Fix part of #10474: Make typescript checks strict left in PR #15799 & #15620
  core/templates/app-events/event-bus.service.ts
  core/templates/components/forms/schema-based-editors/schema-based-custom-editor.component.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-dict-editor.component.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-expression-editor.component.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-expression-editor.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.ts
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.ts
  core/templates/pages/learner-dashboard-page/goals-tab.component.ts
  core/templates/pages/library-page/library-footer/library-footer.component.ts
  core/templates/pages/release-coordinator-page/beam-jobs-tab/beam-jobs-tab.component.html
  core/templates/pages/release-coordinator-page/beam-jobs-tab/beam-jobs-tab.component.spec.ts
  core/templates/pages/release-coordinator-page/beam-jobs-tab/beam-jobs-tab.component.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.component.ts
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.component.spec.ts
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.component.ts
  extensions/interactions/GraphInput/directives/oppia-interactive-graph-input.component.ts
  extensions/interactions/InteractiveMap/directives/oppia-interactive-interactive-map.component.spec.ts
  extensions/interactions/InteractiveMap/directives/oppia-interactive-interactive-map.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.ts
  extensions/objects/templates/coord-two-dim-editor.component.ts
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15916 (Celebrating learners' accomplishments) Milestones 2.2 & 2.3: Add a congratulatory checkpoint message modal which is linked to the lesson info modal
  .github/CODEOWNERS
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/platform_feature_list.py
  core/templates/components/checkpoint-celebration-modal/checkpoint-celebration-modal.component.css
  core/templates/components/checkpoint-celebration-modal/checkpoint-celebration-modal.component.html
  core/templates/components/checkpoint-celebration-modal/checkpoint-celebration-modal.component.spec.ts
  core/templates/components/checkpoint-celebration-modal/checkpoint-celebration-modal.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/domain/platform_feature/feature-status-summary.model.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/services/checkpoint-celebration-utility.service.spec.ts
  core/templates/pages/exploration-player-page/services/checkpoint-celebration-utility.service.ts
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.css
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.html
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.spec.ts
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.ts
  core/templates/services/platform-feature.service.spec.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15902 Add a test to detect breakages in the error reporting flow
  core/tests/wdio.conf.js
  core/tests/webdriverio_desktop/navigation.js
  core/tests/webdriverio_utils/PreferencesPage.js
  package.json
  yarn.lock
Labels: PR: LGTM

#15934 Fix #15885: fix image region interaction drag offset to account for scroll location
  core/templates/pages/classroom-page/classroom-page.component.css
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.ts
  extensions/objects/templates/image-with-regions-editor.component.spec.ts
  extensions/objects/templates/image-with-regions-editor.component.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15949 Print overall backend coverage report
  scripts/check_overall_backend_test_coverage.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#15926 Replace material icons
  core/templates/components/button-directives/hint-and-solution-buttons.component.html
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.css
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.ts
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/forms/custom-forms-directives/audio-file-uploader.component.html
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.html
  core/templates/components/forms/custom-forms-directives/image-uploader.component.html
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.component.html
  core/templates/components/forms/schema-based-editors/schema-based-list-editor.component.html
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.html
  core/templates/components/question-directives/questions-list/questions-list.component.html
  core/templates/components/rubrics-editor/rubrics-editor.component.html
  core/templates/components/state-directives/answer-group-editor/summary-list-header.component.html
  core/templates/components/state-directives/hint-editor/hint-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/components/state-directives/response-header/response-header.component.html
  core/templates/components/state-editor/state-content-editor/state-content-editor.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/css/oppia.css
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.html
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.html
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.html
  core/templates/pages/blog-dashboard-page/navbar/navbar-pre-logo-action/blog-post-editor-pre-logo-action.component.html
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.html
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.html
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.component.html
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.html
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.html
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.html
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.html
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.html
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.html
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.html
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.html
  core/templates/pages/preferences-page/preferences-page.component.html
  core/templates/pages/profile-page/profile-page.component.html
  core/templates/pages/skill-editor-page/skill-editor-page.component.html
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.html
  core/templates/pages/story-editor-page/story-editor-page.component.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.html
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
  core/templates/pages/topic-editor-page/topic-editor-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topic-selector/select-topics.component.html
  extensions/interactions/MusicNotesInput/directives/music-notes-input-interaction.component.html
  extensions/objects/templates/image-editor.component.html
  extensions/objects/templates/image-with-regions-editor.component.html
  extensions/objects/templates/svg-editor.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15939 Fix #15756 : adjusted the carousel arrow position
  core/templates/pages/library-page/library-page.component.css
  core/templates/pages/library-page/library-page.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15946 (Celebrating learners' accomplishments) Milestone 2.4: Add E2E tests
  .github/workflows/e2e_other_tests.yml
  core/templates/components/checkpoint-celebration-modal/checkpoint-celebration-modal.component.html
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.html
  core/tests/wdio.conf.js
  core/tests/webdriverio_desktop/checkpointFeatures.js
  core/tests/webdriverio_utils/AdminPage.js
  core/tests/webdriverio_utils/ExplorationEditorMainTab.js
  core/tests/webdriverio_utils/ExplorationPlayerPage.js
  core/tests/webdriverio_utils/workflow.js
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15919 Milestone 1.5 (Improve line and branch coverage for the frontend and the backend): Added associated test file for some scripts
  .github/CODEOWNERS
  scripts/backend_test_shards.json
  scripts/check_backend_associated_test_file.py
  scripts/run_lighthouse_tests.py
  scripts/run_lighthouse_tests_test.py
  scripts/start.py
  scripts/start_test.py
  setup.py
  setup_test.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15882 Milestone 2.1 and 2.2 (Migrate away from protractor): Migrated few test suite from protractor to webdriverIO.
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  core/tests/protractor.conf.js
  core/tests/wdio.conf.js
  core/tests/webdriverio/accessibility.js
  core/tests/webdriverio_desktop/additionalEditorFeatures.js
  core/tests/webdriverio_desktop/additionalEditorFeaturesModals.js
  core/tests/webdriverio_desktop/additionalPlayerFeatures.js
  core/tests/webdriverio_desktop/adminTabFeatures.js
  core/tests/webdriverio_desktop/coreEditorAndPlayerFeatures.js
  core/tests/webdriverio_desktop/topicsAndSkillsDashboard.js
  core/tests/webdriverio_utils/AdminPage.js
  core/tests/webdriverio_utils/ExplorationEditorMainTab.js
  core/tests/webdriverio_utils/ExplorationEditorPage.js
  core/tests/webdriverio_utils/ExplorationEditorSettingsTab.js
  core/tests/webdriverio_utils/ExplorationPlayerPage.js
  core/tests/webdriverio_utils/LibraryPage.js
  core/tests/webdriverio_utils/StoryEditorPage.js
  core/tests/webdriverio_utils/TopicEditorPage.js
  core/tests/webdriverio_utils/TopicsAndSkillsDashboardPage.js
  core/tests/webdriverio_utils/action.js
  core/tests/webdriverio_utils/forms.js
  core/tests/webdriverio_utils/waitFor.js
  core/tests/webdriverio_utils/workflow.js
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/check_e2e_tests_are_captured_in_ci_test.py
  scripts/run_e2e_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15966 Fix #15875: Fixes a bug that was preventing displaying / tagging of misconceptions
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/domain/skill/MisconceptionObjectFactory.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681
