Repository oppia/oppia, pull requests merged in 2022-03, with the labels that each got.

#14988 Fix part of #10474: Make typescript checks strict for few files
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/confirm-delete-state-modal.component.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#14993 Fix part of #14960: Center aligning this text with their images.
  core/templates/pages/splash-page/splash-page.component.css
  core/templates/pages/splash-page/splash-page.component.rtl.css
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#14996 Fix part of #14219: Add backend tests to achieve 100% per-file backend coverage with classifier_domain_test
  core/domain/classifier_domain_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14439 Fix #12219: Migrate typescript tests to Github actions and filter circle ci tests to run only on develop branch
  .circleci/config.yml
  .github/workflows/e2e_coverage_and_typescript_tests.yml
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#14515 Adds Base structure for the new translation architecture
  core/domain/translation_domain.py
  core/domain/translation_domain_test.py
  core/feconf.py
  core/storage/translation/gae_models.py
  core/storage/translation/gae_models_test.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Translations -- @DubeySandeep

#14925 Check uniqueness of topic name without considering leading and trailing spaces
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-topic-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-topic-modal.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14534 Registers translatable fields in Exploration, Question & State based on new translation architecture.
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
Labels: PR: LGTM, PR: Affects datastore layer

#15025 Fixes #15005: Topic prerequisite skill checking is broken and prevents topic being published.
  core/controllers/story_editor.py
  core/controllers/story_editor_test.py
  core/templates/domain/story/story-validation.service.spec.ts
  core/templates/domain/story/story-validation.service.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14962 Fix part of #13822: Backend validation for non-duplicate exploration rights user IDs
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15059 Fix #15058: Prevent event bubbling on navbar dropdown
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15067 Fix #15024: fixes feedback's reload behaviour.
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15032 Fix part of #14033: Added MyPy type annotation to the file image_services.py
  core/domain/image_services.py
  core/domain/image_services_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15026 Fix part of #14219: Increasing backend test coverage of core.domain.playthrough_issue_registry_test to 100%
  core/domain/playthrough_issue_registry_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14931 Fix part of #14033: Type annotate user_query_domain
  core/domain/user_query_domain.py
  core/domain/user_query_domain_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15019 Fix part of #14702: Add entity editor browser tabs info domain object
  .github/CODEOWNERS
  core/templates/domain/entity_editor_browser_tabs_info/entity-editor-browser-tabs-info-domain.constants.ts
  core/templates/domain/entity_editor_browser_tabs_info/entity-editor-browser-tabs-info.model.spec.ts
  core/templates/domain/entity_editor_browser_tabs_info/entity-editor-browser-tabs-info.model.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15008 Fix part of #14033: Added Mypy type annotations to some files.
  core/domain/action_registry.py
  core/domain/action_registry_test.py
  core/domain/calculation_registry.py
  core/domain/calculation_registry_test.py
  core/domain/config_services.py
  core/domain/config_services_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15043 Add CORS header to app.yaml
  app_dev.yaml
  scripts/common.py
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21, PR: don't merge - STALE BUILD

#15092 Routine update of translations.
  assets/i18n/ar.json
  assets/i18n/diq.json
  assets/i18n/eo.json
  assets/i18n/es.json
  assets/i18n/fa.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/hi.json
  assets/i18n/ja.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/mk.json
  assets/i18n/nl.json
  assets/i18n/pl.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sk.json
  assets/i18n/tr.json
  assets/i18n/uk.json
  assets/i18n/zh-hant.json
Labels: PR: LGTM, PR CHANGELOG: Translations -- @DubeySandeep

#15069 Fix part of #13341: Type annotate third_party_size_check.py, start.py, setup_gae.py
  scripts/run_mypy_checks.py
  scripts/setup_gae.py
  scripts/setup_gae_test.py
  scripts/start.py
  scripts/third_party_size_check.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#15061 Fix #14944: Copy text in translation mode
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15010 Fixed #15009: Scroll to the top while navigating to the static pages.
  core/templates/base-components/base-content.component.spec.ts
  core/templates/base-components/base-content.component.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  core/templates/hybrid-router-module-provider.spec.ts
  core/templates/hybrid-router-module-provider.ts
Labels: PR CHANGELOG: Bug fixes -- @nithusha21

#14979 Fix part of #14960: UI improvements on exploration and classroom pages
  core/templates/components/button-directives/hint-and-solution-buttons.component.css
  core/templates/components/button-directives/hint-and-solution-buttons.component.rtl.css
  core/templates/pages/classroom-page/classroom-page.component.css
  core/templates/pages/classroom-page/classroom-page.component.rtl.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15081 Fix #15011: Replace choppy animation and introduce fade in out as a short term fix
  .github/CODEOWNERS
  core/templates/components/shared-component.module.ts
  core/templates/components/smooth-height/smooth-height-animator.component.spec.ts
  core/templates/components/smooth-height/smooth-height-animator.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
Labels: PR: don't merge - STALE BUILD

#15046 Fix part of #10474: Make typescript checks strict for few more files.
  core/templates/domain/exploration/ExplorationObjectFactory.ts
  core/templates/domain/exploration/ExplorationObjectFactorySpec.ts
  core/templates/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/domain/exploration/read-only-exploration-backend-api.service.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/pages/exploration-editor-page/modal-templates/help-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/lost-changes-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/post-publish-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/post-publish-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-validation-fail-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/save-version-mismatch-modal.controller.ts
  core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/welcome-modal.component.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/pages/exploration-player-page/services/image-preloader.service.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14959 Fix Part of #11496: Add lint check for browser.switchTo().activeElement() method
  scripts/linters/custom_eslint_checks/rules/protractor-practices.js
  scripts/linters/custom_eslint_checks/rules/protractor-practices.spec.js
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#15068 fixes broken UI on lessons tab.
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.css
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.rtl.css
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.css
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.rtl.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14799 Fix part of #13764: set minimum number of questions for Topic until practice tab can be displayed
  assets/constants.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/tests/protractor_desktop/learnerDashboard.js
  core/tests/protractor_desktop/topicAndStoryViewer.js
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15072 Fix #14826: Implement pagination in Contributor Dashboard Contributions tab.
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/handler_schema_constants.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#15038 Fix part of #13822: Add backend validation check for story description.
  core/android_validation_constants.py
  core/android_validation_constants_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#15060 Fix tests/methods that refer to private functions in Python inside core.domain.exp_services_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#14887 Investigating server error described in issue #14707
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.ts
Labels: PR: LGTM, PR CHANGELOG: Server Errors -- @kevintab95

#15070 Fix part of #14355 Allow filtering reviewable translation suggestions by topic [Backend]
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/opportunity_services.py
  core/domain/opportunity_services_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/feconf.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#14933 Fix #14845: Problems related to skill editor component in the exploration editor
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/templates/components/skill-selector/merge-skill-modal.component.spec.ts
  core/templates/components/skill-selector/select-skill-modal.component.html
  core/templates/components/skill-selector/select-skill-modal.component.spec.ts
  core/templates/components/skill-selector/select-skill-modal.component.ts
  core/templates/components/skill-selector/skill-selector.component.html
  core/templates/components/skill-selector/skill-selector.component.spec.ts
  core/templates/components/skill-selector/skill-selector.component.ts
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.html
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.spec.ts
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.spec.ts
  core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts
  core/templates/services/user.service.spec.ts
  core/templates/services/user.service.ts
  main.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14876 Fix #14793: Strip invalid tags and attribute from SVGs instead of showing a warning.
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.html
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.spec.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.ts
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.html
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.spec.ts
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.html
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.spec.ts
  core/templates/pages/preferences-page/modal-templates/edit-profile-picture-modal.component.ts
  core/templates/services/svg-sanitizer.service.spec.ts
  core/templates/services/svg-sanitizer.service.ts
  extensions/objects/templates/image-editor.component.html
  extensions/objects/templates/image-editor.component.spec.ts
  extensions/objects/templates/image-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15045 Fix #14855: Edits navbar to ensure learning view does not break
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.rtl.css
  core/templates/pages/splash-page/splash-page.component.css
  core/templates/pages/splash-page/splash-page.component.rtl.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15114 Fixes scroll issues
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15109 Fix base64 parsing issue in svg editor upload functionality
  extensions/objects/templates/svg-editor.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15074 Fix part of #14355 Allow filtering reviewable translation suggestions by topic [Frontend]
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15116 Improve speed
  core/templates/components/shared-component.module.ts
  core/templates/pages/classroom-page/classroom-page.module.ts
  core/templates/pages/splash-page/splash-page.module.ts
  tsconfig-strict.json
  tsconfig.json
  webpack.common.config.ts
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek

#15127 Upgrade libs
  requirements.in
  requirements.txt
  scripts/common.py
  yarn.lock
Labels: PR: LGTM

#15125 Fix #15123: Show classroom promo in navbar regardless of user state
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15107 Fix path for app yaml file
  scripts/common.py
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21

#14380 Fix #14354, #14328 and #57 (on release-scripts): Multiple Release script fixes
  assets/release_constants.json
  scripts/common.py
  scripts/common_test.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
  scripts/release_scripts/repo_specific_changes_fetcher.py
  scripts/release_scripts/update_changelog_and_credits.py
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21

#14816 Fix part of #14219: Increasing backend test coverage of core.domain.exp_services_test to 100%
  core/domain/exp_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15020 Fix part of #7450: Replace testing of private methods in BuildTests
  scripts/build_test.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#15051 exploration-improvements.service.ts from AngularJS to Angular
  core/templates/pages/exploration-editor-page/services/exploration-states.service.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/exploration-improvements.service.spec.ts
  core/templates/services/exploration-improvements.service.ts
  core/templates/services/playthrough-issues.service.spec.ts
  core/templates/services/playthrough-issues.service.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#15001 Fix part of #7450: Replaced private methods in SuggestionServicesUnitTests
  core/domain/suggestion_services_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: don't merge - STALE BUILD

#15053 Fix #14715 Stop update requests when no changes are detected
  core/templates/domain/editor/undo_redo/base-undo-redo.service.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15142 Improve speed of splash and learn/math
  core/templates/components/shared-component.module.ts
  core/templates/pages/classroom-page/classroom-page.module.ts
  core/templates/pages/splash-page/splash-page.module.ts
  tsconfig-strict.json
  tsconfig.json
  webpack.common.config.ts
Labels: PR CHANGELOG: Speed improvement -- @vojtechjelinek

#14897 Add logs to debug server error in rte parser
  core/templates/services/oppia-rte-parser.service.spec.ts
  core/templates/services/oppia-rte-parser.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15154 Removed unnecessary calls to analytics service
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15167 Fix #15166: Add hacky translation support for breadcrumbs on classroom related pages
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.html
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.ts
  core/templates/pages/story-viewer-page/navbar-breadcrumb/story-viewer-navbar-breadcrumb.component.html
  core/templates/pages/story-viewer-page/navbar-breadcrumb/story-viewer-navbar-breadcrumb.component.spec.ts
  core/templates/pages/story-viewer-page/navbar-breadcrumb/story-viewer-navbar-breadcrumb.component.ts
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.component.html
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.component.spec.ts
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.component.ts
  core/templates/pages/topic-viewer-page/navbar-breadcrumb/topic-viewer-navbar-breadcrumb.component.html
  core/templates/pages/topic-viewer-page/navbar-breadcrumb/topic-viewer-navbar-breadcrumb.component.spec.ts
  core/templates/pages/topic-viewer-page/navbar-breadcrumb/topic-viewer-navbar-breadcrumb.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14958 Fix part of #14033: Added Mypy type annotations to `collection_domain.py`
  core/domain/activity_services_test.py
  core/domain/caching_services.py
  core/domain/caching_services_test.py
  core/domain/collection_domain.py
  core/domain/collection_domain_test.py
  core/domain/improvements_domain_test.py
  core/domain/rights_domain_test.py
  core/feconf.py
  core/storage/collection/gae_models_test.py
  core/storage/user/gae_models_test.py
  core/tests/test_utils.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15039 Fix part of #13822: Added beam jobs for skill misconception ID validation
  core/domain/skill_domain.py
  core/domain/skill_domain_test.py
Labels: PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#14841 Fix Part of #9749: Migrates Music-Notes Input Interaction to Angular
  core/templates/services/exploration-html-formatter.service.ts
  extensions/interactions/MusicNotesInput/MusicNotesInput.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-interaction.component.html
  extensions/interactions/MusicNotesInput/directives/music-notes-input-interaction.directive.html
  extensions/interactions/MusicNotesInput/directives/music-notes-input-response.component.html
  extensions/interactions/MusicNotesInput/directives/music-notes-input-response.directive.html
  extensions/interactions/MusicNotesInput/directives/music-notes-input-short-response.component.html
  extensions/interactions/MusicNotesInput/directives/music-notes-input-short-response.directive.html
  extensions/interactions/MusicNotesInput/directives/oppia-interactive-music-notes-input.component.ts
  extensions/interactions/MusicNotesInput/directives/oppia-interactive-music-notes-input.directive.ts
  extensions/interactions/MusicNotesInput/directives/oppia-response-music-notes-input.component.spec.ts
  extensions/interactions/MusicNotesInput/directives/oppia-response-music-notes-input.component.ts
  extensions/interactions/MusicNotesInput/directives/oppia-response-music-notes-input.directive.spec.ts
  extensions/interactions/MusicNotesInput/directives/oppia-response-music-notes-input.directive.ts
  extensions/interactions/MusicNotesInput/directives/oppia-short-response-music-notes-input.component.spec.ts
  extensions/interactions/MusicNotesInput/directives/oppia-short-response-music-notes-input.component.ts
  extensions/interactions/MusicNotesInput/directives/oppia-short-response-music-notes-input.directive.spec.ts
  extensions/interactions/MusicNotesInput/directives/oppia-short-response-music-notes-input.directive.ts
  extensions/interactions/MusicNotesInput/music-notes-input-interactions.module.ts
  extensions/interactions/base_test.py
  extensions/interactions/customization-args-defs.ts
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/interactions/interactions.module.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#15062 Fix part of of #14033: Type annotate email_services file
  core/domain/email_services.py
  core/domain/email_services_test.py
  core/tests/test_utils.py
  mypy_imports.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD, PR CHANGELOG: Typing -- @vojtechjelinek

#15151 Fix part of #11329: oppia-interactive-music-notes-input.directive (remove addClass)
  extensions/interactions/MusicNotesInput/directives/oppia-interactive-music-notes-input.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14866 Fix part of #14537: Refactor improvements domain
  core/controllers/improvements.py
  core/controllers/improvements_test.py
  core/domain/improvements_domain.py
  core/domain/improvements_domain_test.py
  core/domain/improvements_services.py
  core/domain/improvements_services_test.py
  core/domain/takeout_service_test.py
  core/feconf.py
  core/storage/improvements/gae_models.py
  core/storage/improvements/gae_models_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#15100 Fix part of #14702: Add favicon and staleness detection services and add some functions in local storage service.
  .github/CODEOWNERS
  core/templates/domain/entity_editor_browser_tabs_info/entity-editor-browser-tabs-info.model.spec.ts
  core/templates/domain/entity_editor_browser_tabs_info/entity-editor-browser-tabs-info.model.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/favicon.service.spec.ts
  core/templates/services/favicon.service.ts
  core/templates/services/local-storage.service.spec.ts
  core/templates/services/local-storage.service.ts
  core/templates/services/staleness-detection.service.spec.ts
  core/templates/services/staleness-detection.service.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15119 Fix part of #14033: Added Mypy type annotations to some files.
  core/domain/email_subscription_services.py
  core/domain/email_subscription_services_test.py
  core/domain/translation_fetchers.py
  core/domain/translation_fetchers_test.py
  core/domain/translation_services.py
  core/domain/translation_services_test.py
  mypy_imports.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15216 Use our fork of pylint-quotes
  scripts/common.py
  scripts/install_third_party_libs.py
  scripts/linters/pylint_extensions.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: require post-merge sync to HEAD

#15192 Fixes 15159, 15156, 15163, 15180, 14752
  core/domain/exp_services.py
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14987 Goals tab based on learner dashboard doc
  assets/i18n/en.json
  assets/i18n/fa.json
  assets/i18n/fr.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/uk.json
  assets/i18n/zh-hant.json
  core/templates/components/summary-tile/learner-topic-goals-summary-tile.component.html
  core/templates/components/summary-tile/learner-topic-goals-summary-tile.component.spec.ts
  core/templates/components/summary-tile/learner-topic-goals-summary-tile.component.ts
  core/templates/pages/learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14766 Fix Part of #9749: Migrate End exploration interaction with separate backend-api-service.
  core/templates/services/angular-services.index.ts
  core/templates/services/exploration-html-formatter.service.spec.ts
  core/templates/services/exploration-html-formatter.service.ts
  extensions/interactions/EndExploration/directives/end-exploration-backend-api.service.spec.ts
  extensions/interactions/EndExploration/directives/end-exploration-backend-api.service.ts
  extensions/interactions/EndExploration/directives/end-exploration-interaction.component.html
  extensions/interactions/EndExploration/directives/oppia-interactive-end-exploration.component.spec.ts
  extensions/interactions/EndExploration/directives/oppia-interactive-end-exploration.component.ts
  extensions/interactions/EndExploration/directives/oppia-response-end-exploration.component.ts
  extensions/interactions/EndExploration/directives/oppia-short-response-end-exploration.component.ts
  extensions/interactions/EndExploration/end-exploration-interactions.module.ts
  extensions/interactions/interaction-attributes-extractor.service.spec.ts
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/interactions/interactions.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#15065 Fix #11560: Add "Lesson Info" Modal.
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.css
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.rtl.css
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.html
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.spec.ts
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.ts
  core/tests/protractor_desktop/userJourneys.js
  tsconfig-strict.json
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15210 Update maintenance mode to return status code as 200 instead of 503
  core/controllers/base.py
  core/controllers/base_test.py
  core/tests/test_utils.py
Labels: PR CHANGELOG: Release team -- @nithusha21

#15211 Fix #15188: Fix Drag and Drop interaction short response html so it displays _html instead of _contentId
  core/templates/domain/exploration/SolutionObjectFactorySpec.ts
  core/templates/services/exploration-html-formatter.service.spec.ts
  core/templates/services/exploration-html-formatter.service.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-short-response.component.html
  extensions/interactions/DragAndDropSortInput/directives/oppia-short-response-drag-and-drop-sort-input.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-short-response-drag-and-drop-sort-input.component.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-short-response.component.html
  extensions/interactions/ItemSelectionInput/directives/oppia-response-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-response-item-selection-input.component.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-short-response-multiple-choice-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-short-response-multiple-choice-input.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15118 Fix part of #14033: Type annotate translatable_object_registry
  core/domain/translatable_object_registry.py
  core/domain/translatable_object_registry_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15220 Fix #15023, #15037: Hide learner suggestions in the feedback tab and show correct open feedback count; Fix errors in skill questions tab
  core/controllers/feedback.py
  core/controllers/feedback_test.py
  core/domain/opportunity_services.py
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.rtl.css
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.html
  core/templates/css/oppia.css
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.html
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/feedback-tab.component.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.spec.ts
  core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data-backend-api.service.ts
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.spec.ts
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15230 fix race condition causing fe test to be flaky
  core/templates/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.spec.ts
Labels: PR: LGTM

#15229 Fix #15225: Skip pylint cyclic import check
  .github/workflows/lint.yml
  .pylintrc
  scripts/linters/pre_commit_linter.py
  scripts/linters/pre_commit_linter_test.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#15219 Transfer code ownership from @DubeySandeep
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#15187 Fix #13991: Fix flaky build tests
  scripts/build_test.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#15247 fix change detection issue in skill review editor
  core/templates/components/review-material-editor/review-material-editor.component.html
  core/templates/components/review-material-editor/review-material-editor.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15049 Fix part of #10474: Make typescript checks strict for some files.
  core/templates/components/skill-selector/select-skill-modal.component.spec.ts
  core/templates/components/skill-selector/select-skill-modal.component.ts
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.html
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.spec.ts
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.ts
  core/templates/domain/utilities/stopwatch.model.spec.ts
  core/templates/domain/utilities/stopwatch.model.ts
  core/templates/pages/admin-page/roles-tab/topic-manager-role-editor-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-content-id.service.ts
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.component.ts
  core/templates/pages/exploration-player-page/services/audio-preloader.service.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.spec.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
  core/templates/services/generate-content-id.service.ts
  core/templates/services/playthrough.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15218 Fixed some UI issues in sidenav and topnav
  assets/i18n/en.json
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15243 Upgrade frontend and backend libs
  package.json
  requirements.in
  requirements.txt
  yarn.lock
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15054 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD
