Repository oppia/oppia, pull requests merged in 2022-02, with the labels that each got.

#14818 Fix "Wait timed out after 10001ms" flake in wipeout suite.
  core/tests/protractor_utils/users.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#13970 Fix part of #13956: Remove `yaml_from_dict` from python_utils.py
  core/domain/collection_domain.py
  core/domain/exp_domain.py
  core/domain/exp_services.py
  core/domain/state_domain.py
  core/python_utils.py
  core/utils.py
  core/utils_test.py
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @vojtechjelinek

#14595 Fix part of #14033: Type annotate Topic domain
  core/domain/app_feedback_report_domain.py
  core/domain/caching_services.py
  core/domain/caching_services_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/storage/topic/gae_models_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#14523 Fix #13566: Updates languages names in voiceover dropdown and other fixes.
  assets/constants.ts
  assets/i18n/en.json
  core/controllers/contributor_dashboard_admin_test.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/suggestion_test.py
  core/domain/email_manager_test.py
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.spec.ts
  core/templates/services/keyboard-shortcut.service.spec.ts
  core/templates/services/keyboard-shortcut.service.ts
  core/tests/protractor/accessibility.js
  core/tests/protractor_desktop/contributorDashboard.js
  core/tests/protractor_desktop/preferences.js
  core/tests/protractor_desktop/userJourneys.js
  core/tests/protractor_utils/ContributorDashboardPage.js
  core/tests/protractor_utils/ContributorDashboardTranslateTextTab.js
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14758 Fix #14751: Allow int in float ininstance checks
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Data handling -- @vojtechjelinek

#14749 Fix Part of #13162: Adds schema for handler FetchSkillsHandler class
  core/controllers/skill_editor.py
  core/handler_schema_constants.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#14577 Fix #14206: Unable to remove question contribution rights in admin dashboard
  core/controllers/contributor_dashboard_admin_test.py
  core/controllers/payload_validator.py
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-backend-api.service.ts
  core/templates/services/request-interceptor.service.spec.ts
  core/templates/services/request-interceptor.service.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#14790 Fix part of #9749: Migrated state-solution-editor component
  core/templates/components/shared-component.module.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.html
  core/templates/components/state-editor/state-editor.component.html
  core/templates/components/state-editor/state-editor.component.spec.ts
  core/templates/components/state-editor/state-editor.component.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.html
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.spec.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14661 Fixes Part of #9749: Migrate Whole RatioExpressionInput directive interaction
  core/templates/services/exploration-html-formatter.service.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.spec.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-response-ratio-expression-input.component.spec.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-response-ratio-expression-input.component.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-short-response-ratio-expression-input.component.spec.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-short-response-ratio-expression-input.component.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-interaction.component.html
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-response.component.html
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-short-response.component.html
  extensions/interactions/RatioExpressionInput/ratio-expression-input-interactions.module.ts
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/interactions/interactions.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14824 Remove codeowner for the pylint files
  .github/CODEOWNERS
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#14561 Fixed length of filter by topics container
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.html
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#14801 Fix part of #14219: Increasing backend test coverage of `core.domain.skill_services_test` to 100%
  core/domain/skill_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14724 Fix #14705: Allow any param dict, add more files to GCoud ignore file, fix MyPy bug by adding stubs
  .gcloudignore
  .gitignore
  core/controllers/reader.py
  core/controllers/reader_test.py
  stubs/google/cloud/logging.pyi
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14623 Fix part of #13162: Added Schema for EditableSkillDataHandler
  core/controllers/profile.py
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/domain/change_domain.py
  core/handler_schema_constants.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#14632 Fix part of #14219: Increasing backend test coverage of core.domain.story_fetchers_test to 100%
  core/domain/story_fetchers_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14657 Fix part of #13956: Replaced python_utils.divide with "//" python3 operator
  core/controllers/skill_mastery.py
  core/controllers/skill_mastery_test.py
  core/domain/collection_services_test.py
  core/domain/event_services.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/python_utils.py
  core/python_utils_test.py
  core/storage/question/gae_models.py
  core/tests/test_utils_test.py
  core/utils.py
  core/utils_test.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
Labels: PR CHANGELOG: Python Migration -- @vojtechjelinek

#14637 Fixes #14636: Bug on collection player page on mobile devices
  core/templates/pages/collection-player-page/collection-player-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14774 Fix Part of #9749: Migrate and Redesign DragAndDrop interaction
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/services/exploration-html-formatter.service.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-interaction.component.html
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-response.component.html
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-short-response.component.html
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.component.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-response-drag-and-drop-sort-input.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-response-drag-and-drop-sort-input.component.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-short-response-drag-and-drop-sort-input.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-short-response-drag-and-drop-sort-input.component.ts
  extensions/interactions/DragAndDropSortInput/drag-and-drop-sort-input-interactions.module.ts
  extensions/interactions/interaction-attributes-extractor.service.spec.ts
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/interactions/interactions.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14650 Fix part of #14187: Add remaining frontend tests for three files
  core/templates/domain/state_card/state-card.model.spec.ts
  core/templates/pages/collection-player-page/collection-player-page.component.spec.ts
  core/templates/pages/collection-player-page/collection-player-page.component.ts
  core/templates/pages/exploration-player-page/services/answer-classification.service.spec.ts
  core/templates/pages/exploration-player-page/services/answer-classification.service.ts
  scripts/check_frontend_test_coverage.py
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14836 Minor UI changes in side-navbar.
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14696 Fix part of #14187: Adds frontend tests for `subtopic.model.ts`
  core/templates/domain/topic/subtopic.model.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14594 Fix part of #14219: 100% per-file backend test coverage for editor.py
  core/controllers/editor_test.py
  core/controllers/resources_test.py
  core/controllers/suggestion_test.py
  core/feconf.py
  main.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14471 Fix part of #14187: Migrate contribution-and-review-service to angular and fully cover it with frontend tests
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
  core/templates/services/angular-services.index.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14701 Migrate ExplorationStatesService and GraphDataService to Angular 2+
  .eslintrc
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.ts
  core/templates/domain/exploration/exploration-draft.model.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/services/angular-name.service.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.spec.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-init-state-name.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-states.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-states.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-editor-page/services/graph-data.service.spec.ts
  core/templates/pages/exploration-editor-page/services/graph-data.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/compute-graph.service.ts
  core/templates/services/exploration-improvements.service.spec.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14860 Upgrade to fixed version of pip-tools
  scripts/common.py
  scripts/install_third_party_libs.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14759 fixed part of #14219: 100% per-file backend test coverage for question_domain.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14729 Fix part of #14187: Cover some files with frontend tests
  core/templates/components/forms/schema-viewers/schema-based-custom-viewer.directive.spec.ts
  core/templates/components/forms/schema-viewers/schema-based-custom-viewer.directive.ts
  core/templates/components/forms/schema-viewers/schema-based-list-viewer.directive.spec.ts
  core/templates/components/forms/schema-viewers/schema-based-list-viewer.directive.ts
  core/templates/filters/string-utility-filters/truncate-and-capitalize.filter.spec.ts
  core/templates/filters/string-utility-filters/truncate.filter.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14756 Fix part of #14219: Increasing backend test coverage of core.domain.feedback_services_test to 100%
  core/domain/feedback_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14822 Resolving Add to 'play later' list icon taking too long to load flake in learner dashboard
  core/templates/components/summary-tile/exploration-summary-tile.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-icons.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-icons.component.ts
  core/tests/protractor_utils/LibraryPage.js
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14798 Fix part of 9749: customize-interaction-modal.component migrated from AngularJS to Angular
  core/templates/components/shared-component.module.ts
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.template.html
  core/templates/pages/exploration-editor-page/modal-templates/confirm-leave-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/confirm-leave-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/confirm-leave-modal.component.ts
  extensions/interactions/ItemSelectionInput/protractor.js
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14546 Fix part of #9749: Migrate translation-suggestion-review-modal
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14835 Fix part of #14219: Increasing backend test coverage of core.domain.skill_fetchers_test to 100%
  core/domain/skill_fetchers_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14834 Fix part of #14219: Increasing backend test coverage of core.controllers.blog_homepage_test to 100%
  core/controllers/blog_homepage_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#14699 Fix part of #14187: Add remaining frontend tests for `truncate-and-capitalize.pipe.ts`
  core/templates/filters/string-utility-filters/truncate-and-capitalize.pipe.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14773 Fix part of #14187: Add fronted tests for `normalize-whitespace-punctuation-and-case.pipe.ts`
  core/templates/filters/string-utility-filters/normalize-whitespace-punctuation-and-case.pipe.spec.ts
  core/templates/filters/string-utility-filters/normalize-whitespace-punctuation-and-case.pipe.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14719 Fix part of #12912: Enables raise-missing-from pylint check
  .pylintrc
  core/controllers/base.py
  core/controllers/classifier.py
  core/controllers/contributor_dashboard.py
  core/controllers/editor.py
  core/controllers/question_editor.py
  core/controllers/questions_list.py
  core/controllers/reader.py
  core/controllers/skill_editor.py
  core/controllers/skill_mastery.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/voice_artist.py
  core/domain/change_domain.py
  core/domain/param_domain.py
  core/domain/recommendations_services.py
  core/domain/rules_registry.py
  core/domain/state_domain.py
  core/domain/stats_domain.py
  core/domain/story_services.py
  core/domain/taskqueue_services.py
  core/jobs/job_test_utils.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
  core/platform/bulk_email/mailchimp_bulk_email_services.py
  core/python_utils.py
  core/schema_utils.py
  core/schema_utils_test.py
  core/tests/test_utils.py
  core/utils.py
  extensions/objects/models/objects.py
  scripts/build.py
  scripts/install_backend_python_libs.py
  scripts/install_third_party_libs.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/html_linter.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_configs.py
  scripts/run_backend_tests.py
  scripts/run_portserver.py
  scripts/servers.py
  scripts/setup_gae.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14882 Fix #14881: Extended hacky translations for navbar topic titles
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Translations -- @DubeySandeep

#14873 Fix Part of #9749: state-interaction-editor from AngularJS to Angular
  core/templates/components/shared-component.module.ts
  core/templates/components/state-editor/state-editor.component.html
  core/templates/components/state-editor/state-editor.component.ts
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.component.html
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.component.spec.ts
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.component.ts
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.html
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.spec.ts
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14862 Fixed different behavior of navbar items.
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
Labels: PR: LGTM

#14868 Fixes The order of In-progress lessons.
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14850 Fixes #14713: ngModel:numfmt error in the editor page
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/forms/custom-forms-directives/object-editor.directive.ts
  core/templates/css/oppia.css
Labels: PR CHANGELOG: Server Errors -- @kevintab95, PR: don't merge - STALE BUILD

#14880 Fix part of #13162: Added Schema for ExportAccountHandler
  core/controllers/profile.py
  core/handler_schema_constants.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14865 Fix part of #9749: Migrated outcome-destination-editor
  core/templates/components/shared-component.module.ts
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14324 Skill opportunity job
  core/jobs/batch_jobs/opportunity_management_jobs.py
  core/jobs/batch_jobs/opportunity_management_jobs_test.py
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#14846 Skip regenerating summary with new contributor if exp is not found
  core/domain/exp_services.py
  core/domain/exp_services_test.py
Labels: PR: LGTM

#14762 Fix #14788: Results page now doesn't show skills with no questions
  core/templates/components/question-directives/question-player/question-player.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14837 Minor UI improvements in Navbar
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14591 Align lesson titles on collection page so they don't overlap with the path line
  core/templates/pages/collection-player-page/collection-player-page.component.html
  core/templates/pages/collection-player-page/collection-player-page.component.spec.ts
  core/templates/pages/collection-player-page/collection-player-page.component.ts
  core/templates/pages/collection-player-page/collection-player-page.mainpage.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14747 Fix #14634: Add checks to validate explorations before adding them as chapters
  core/domain/exp_services.py
  core/domain/story_services_test.py
  core/templates/domain/exploration/exploration-id-validation.service.spec.ts
  core/templates/domain/exploration/exploration-id-validation.service.ts
  core/templates/domain/exploration/read-only-exploration-backend-api.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
  core/tests/protractor_utils/workflow.js
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#14852 Change hover behaviour of cards on the learner's dashboard
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14863 Minor UI enhancements in Goals Tab on Learner Dashboard.
  core/templates/pages/learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/goals-tab.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14802 Fix part of #14537: Refactor feedback domain file.
  core/controllers/feedback.py
  core/controllers/feedback_test.py
  core/domain/feedback_domain.py
  core/domain/feedback_domain_test.py
  core/domain/feedback_services_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#14898 Learner dahsboard fixes based on learner dashboard doc
  core/templates/pages/learner-dashboard-page/goals-tab.component.css
  core/templates/pages/learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/goals-tab.component.rtl.css
  core/templates/pages/learner-dashboard-page/goals-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/goals-tab.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#14911 Remove usage of credits form for changelog generation
  assets/release_constants.json
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_changelog_and_credits_test.py
Labels: PR CHANGELOG: Release team -- @nithusha21, PR: don't merge - STALE BUILD

#14927 Fix part of #14187: Add frontend test for audio-preloader.service.ts
  core/templates/pages/exploration-player-page/services/audio-preloader.service.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#14746 Switch default values of autogenerated text-to-speech and correctness feedback for explorations
  core/controllers/editor_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_services_test.py
  core/feconf.py
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_utils/ExplorationEditorSettingsTab.js
  core/tests/protractor_utils/workflow.js
  core/tests/test_utils.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14849 Catch errors at the time of javascript compilation
  scripts/linters/js_ts_linter.py
  scripts/linters/js_ts_linter_test.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14894 Allow multiple remote urls to be used for release
  assets/release_constants.json
  scripts/common.py
  scripts/common_test.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21

#14844 Topic domain refactor
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14764 Fix part of #14537: Refactor wipeout domain
  core/domain/wipeout_domain.py
  core/feconf.py
  core/platform/models.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#14867 Fix #14714: Modified conditional checks for adding content ids
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.ts
  core/templates/domain/question/question-update.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-states.service.ts
  core/templates/pages/exploration-editor-page/services/populate-rule-content-ids.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
Labels: PR: LGTM, PR CHANGELOG: Server Errors -- @kevintab95

#14901 Replace validation method with object class
  core/controllers/collection_editor.py
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/editor.py
  core/controllers/suggestion.py
  core/controllers/topic_editor.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14883 Fix part of #14219: Increasing backend test coverage of core.domain.exp_fetchers_test to 100%
  core/domain/exp_fetchers_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14890 Fix part of #14219: Increasing backend test coverage of core.domain.summary_services_test to 100%
  core/domain/summary_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14854 Fix part of #14219: Increasing backend test coverage of core.domain.blog_services_test to 100%
  core/domain/blog_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14891 Fix part of #14219: Increasing backend test coverage of core.domain.topic_services_test to 100%
  core/domain/topic_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14948 Fix #14947: Mcq options translations not showing up
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.ts
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#14902 Upgrade frontend and backend libs
  requirements.in
  requirements.txt
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep, PR: don't merge - STALE BUILD

#14919 Fixes UI Inconsistencies in the Review Player
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.css
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.rtl.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14940 Fix #13624: Limit number of characters that can be entered in the skill description text field
  core/templates/pages/skill-editor-page/editor-tab/skill-description-editor/skill-description-editor.component.html
Labels: PR CHANGELOG: Server Errors -- @kevintab95

#14748 Fix part of #13822: Exploration title should have max length of 36
  core/jobs/batch_jobs/exp_title_validation_jobs.py
  core/jobs/batch_jobs/exp_title_validation_jobs_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#14926 Fix #14711: Unsubscribe from observables to prevent detectChanges calls after component destruction
  core/templates/pages/exploration-editor-page/exploration-title-editor/exploration-title-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-title-editor/exploration-title-editor.component.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
Labels: PR: LGTM, PR CHANGELOG: Server Errors -- @kevintab95

#14963 Fix #10383: fix nerdamer typing
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-rules.service.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-rules.service.ts
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#14938 Include additional data when error is thrown to better understand issue #14709 should it arise again
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.spec.ts
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.ts
Labels: PR: LGTM, PR CHANGELOG: Server Errors -- @kevintab95

#14983 Fix part of #10474: Make typescript checks strict for few files.
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.component.ts
  core/templates/pages/skill-editor-page/modal-templates/add-worked-example.component.ts
  core/templates/pages/skill-editor-page/modal-templates/delete-misconception-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/delete-misconception-modal.component.ts
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14964 Fix part of #14960: Remove extra margin from beneath the lesson completion card
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14961 Added new menu item `about oppia foundation`
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14923 Fix part of #14187: Add frontend test for story-node.model.ts
  core/templates/domain/story/story-node.model.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#14978 Fix part of #14960: Updated UI of preferred languages chip
  core/templates/pages/preferences-page/form-fields/preferred-languages.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14892 Fixed part of #14219: 100% per-file backend test coverage for acl_decorators.py
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14934 Fix part of #14829: Added RTL formatting for remaining files.
  .github/CODEOWNERS
  core/templates/components/button-directives/hint-and-solution-buttons.component.css
  core/templates/components/button-directives/hint-and-solution-buttons.component.html
  core/templates/components/button-directives/hint-and-solution-buttons.component.rtl.css
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.css
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.html
  core/templates/components/common-layout-directives/common-elements/attribution-guide.component.rtl.css
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.rtl.css
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.css
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.rtl.css
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.css
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.rtl.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.rtl.css
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.css
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.html
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.rtl.css
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/supplemental-card.component.rtl.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.rtl.css
  core/templates/pages/learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/home-tab.component.css
  core/templates/pages/learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/home-tab.component.rtl.css
  scripts/rtl_css.py
  scripts/rtl_css_test.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14970 Add error message to debug flaky test
  scripts/build_test.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14879 Fix part of #13162: Added Urlhandler schema with required changes
  core/controllers/base_test.py
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/handler_schema_constants.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14976 Fix part of #14960: Open chapter from the topic page in the same tab instead of opening in a new tab.
  core/templates/components/summary-tile/story-summary-tile.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#14939 Fixed part of #9749: Migrated concept-card-editor and skill-preview modal
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-preview-modal.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-preview-modal.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-preview-modal.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-preview-modal.controller.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-preview-modal.controller.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14812 Fix part of #14219: Increase backend coverage for `classifer_services.py` to 100%
  core/domain/classifier_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14991 Fix #14982, Fix part of #14960: Fixing search bar's language and categories drop-down and repetition of search results.
  core/templates/pages/library-page/library-page.component.css
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/library-page/library-page.component.rtl.css
  core/templates/pages/library-page/search-bar/search-bar.component.html
  core/templates/pages/library-page/search-bar/search-bar.component.ts
  core/templates/services/search-backend-api.service.spec.ts
  core/templates/services/search-backend-api.service.ts
  core/templates/services/search.service.spec.ts
  core/templates/services/search.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14884 Add more tests to SVG editor
  extensions/objects/templates/svg-editor.component.spec.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#14942 Fix part of #14219: Increasing backend test coverage of core.domain.story_services_test to 100%
  core/domain/story_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14986 Fix part of #14033: Added Mypy type annotations to `activity_services.py`
  core/domain/activity_services.py
  core/domain/activity_services_test.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14990 Fix part of #10474: Make typescript checks strict for few more files
  core/templates/pages/exploration-player-page/exploration-player-page.component.ts
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.spec.ts
  core/templates/pages/exploration-player-page/templates/information-card-modal.component.ts
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/library-page.component.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#14989 Fix part of #10474: Make typescript checks strict for subtopic_viewer/*.ts folder
  core/templates/domain/subtopic_viewer/read-only-subtopic-page-data.model.spec.ts
  core/templates/domain/subtopic_viewer/subtopic-viewer-backend-api.service.spec.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15015 Fix part of #14419: ANDROID_TEXT_SIZE and ANDROID_NETWORK_TYPE enums refactored
  core/domain/app_feedback_report_constants.py
  core/domain/app_feedback_report_domain.py
  core/domain/app_feedback_report_domain_test.py
  core/domain/app_feedback_report_services.py
  core/domain/app_feedback_report_services_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14981 Fix part of #14219: Increasing backend test coverage of core.domain.topic_fetchers_test to 100%
  core/domain/topic_fetchers_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14920 Fixes part of #14219: 100% test coverage for skill_domain and suggestion_services
  core/domain/skill_domain_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#14973 Fix part of #14187: Added frontend coverage for `oppia-footer.component.ts`
  core/templates/base-components/oppia-footer.component.spec.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14999 Fix #14998: Extended hacky translations for next recommended chapter name translation
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
Labels: PR: LGTM, PR CHANGELOG: Translations -- @DubeySandeep

#15028 dead code
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.ts
  core/templates/domain/statistics/LearnerActionObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/answer-submit-action.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/answer-submit-action.component.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/answer-submit-action.component.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/cyclic-transitions-issue.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/cyclic-transitions-issue.component.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/cyclic-transitions-issue.component.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/early-quit-issue.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/early-quit-issue.component.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/early-quit-issue.component.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-issue.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-issue.component.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-issue.component.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-submissions-issue.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-submissions-issue.component.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/multiple-incorrect-submissions-issue.component.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/playthrough-issues.component.html
  core/templates/pages/exploration-editor-page/statistics-tab/issues/playthrough-issues.component.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/issues/playthrough-issues.component.ts
  core/templates/pages/exploration-editor-page/statistics-tab/services/learner-action-render.service.spec.ts
  core/templates/pages/exploration-editor-page/statistics-tab/services/learner-action-render.service.ts
  core/templates/services/playthrough-issues.service.spec.ts
  core/templates/services/playthrough-issues.service.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14775 Fix Part of #13015: Removing use of `unknown` as a type in Interactions
  core/templates/domain/classifier/answer-classification-result.model.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.ts
  core/templates/pages/exploration-player-page/services/answer-classification.service.spec.ts
  core/templates/pages/exploration-player-page/services/answer-classification.service.ts
  core/templates/pages/exploration-player-page/services/current-interaction.service.spec.ts
  core/templates/pages/exploration-player-page/services/current-interaction.service.ts
  core/templates/pages/exploration-player-page/services/prediction-algorithm-registry.service.spec.ts
  core/templates/pages/exploration-player-page/services/prediction-algorithm-registry.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
  extensions/interactions/CodeRepl/directives/oppia-interactive-code-repl.component.ts
  extensions/interactions/Continue/directives/oppia-interactive-continue.component.ts
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.component.ts
  extensions/interactions/GraphInput/directives/oppia-interactive-graph-input.component.ts
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.component.ts
  extensions/interactions/InteractiveMap/directives/oppia-interactive-interactive-map.component.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.ts
  extensions/interactions/NumericInput/directives/oppia-interactive-numeric-input.component.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-interactive-pencil-code-editor.component.ts
  extensions/interactions/SetInput/directives/oppia-interactive-set-input.component.ts
  extensions/interactions/TextInput/directives/oppia-interactive-text-input.component.ts
  extensions/interactions/TextInput/text-input-prediction.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15033 Upgrade elasticsearch and limit its memory usage
  requirements.in
  requirements.txt
  scripts/common.py
  scripts/install_third_party.py
  scripts/servers.py
  scripts/servers_test.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep
