Repository oppia/oppia, pull requests merged in 2022-04, with the labels that each got.

#14952 Fix part of #14085: Added audit job for math interactions.
  core/feconf.py
  core/jobs/batch_jobs/math_interactions_audit_jobs.py
  core/jobs/batch_jobs/math_interactions_audit_jobs_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#15237 Fix #15234: Fixed issue with slider
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14977 Fix part of #14085: Added MatchesUpToTrivialManipulations rule for math interactions.
  core/templates/services/UpgradedServices.ts
  core/templates/services/math-interactions.service.spec.ts
  core/templates/services/math-interactions.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-rules.service.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-rules.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-validation.service.ts
  extensions/interactions/MathEquationInput/directives/math-equation-input-rules.service.spec.ts
  extensions/interactions/MathEquationInput/directives/math-equation-input-rules.service.ts
  extensions/interactions/MathEquationInput/directives/math-equation-input-validation.service.spec.ts
  extensions/interactions/MathEquationInput/directives/math-equation-input-validation.service.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-rules.service.spec.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-rules.service.ts
  extensions/interactions/interaction_specs.json
  extensions/interactions/rule_templates.json
  extensions/interactions/rules.spec.ts
  typings/karma-fixtures.d.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15250 Fail noisily if a process crashes.
  .gitignore
  scripts/build.py
  scripts/servers.py
  scripts/servers_test.py
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15254 Fix #15253: update skill editor when state changes; Add discard button in SVG editor
  core/templates/components/state-editor/state-editor-properties-services/state-property.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-property.service.ts
  core/templates/components/state-editor/state-editor-properties-services/state-skill.service.ts
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.spec.ts
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.ts
  extensions/objects/templates/filepath-editor.component.html
  extensions/objects/templates/filepath-editor.component.spec.ts
  extensions/objects/templates/filepath-editor.component.ts
  extensions/objects/templates/svg-editor.component.html
  extensions/objects/templates/svg-editor.component.spec.ts
  extensions/objects/templates/svg-editor.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Needs to be hotfixed

#15267 Fix stacking issue with "tag misconceotion modal"
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.ts
Labels: PR: for current release, PR: Needs to be hotfixed

#15085 Fix part of #10474: Make typescript checks strict for few more files
  core/templates/domain/story/StoryObjectFactory.ts
  core/templates/domain/story/StoryObjectFactorySpec.ts
  core/templates/domain/story/editable-story-backend-api.service.spec.ts
  core/templates/domain/story/editable-story-backend-api.service.ts
  core/templates/domain/story/story-contents-object.model.ts
  core/templates/domain/story/story-node.model.spec.ts
  core/templates/domain/story/story-node.model.ts
  core/templates/domain/story/story-update.service.spec.ts
  core/templates/domain/story/story-update.service.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15181 Fix part of #13341: Type annotate clean.py, run_tests.py, scripts_test_utils.py
  scripts/clean.py
  scripts/clean_test.py
  scripts/run_mypy_checks.py
  scripts/run_tests.py
  scripts/scripts_test_utils.py
  scripts/scripts_test_utils_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#15186 Fix part of #13341: Type annotate create_expression_parser.py, create_topological_sort_of_all_services.py, install_chrome_for_ci.py
  scripts/create_expression_parser.py
  scripts/create_topological_sort_of_all_services.py
  scripts/create_topological_sort_of_all_services_test.py
  scripts/install_chrome_for_ci.py
  scripts/install_chrome_for_ci_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#15228 Removing all annotated files from core/jobs.
  core/jobs/job_utils_test.py
  core/jobs/jobs_manager.py
  core/jobs/types/base_validation_errors.py
  core/jobs/types/base_validation_errors_test.py
  core/jobs/types/job_run_result_test.py
  scripts/run_mypy_checks.py
  stubs/google/cloud/ndb/context.pyi
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15276 Use group in codeowners and remove Hardik
  .github/CODEOWNERS
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15264 Fix part of #13822: Add backend validation check for question state schema version.
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/suggestion_registry.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#15281 Update branch protection rule prompt
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
Labels: PR CHANGELOG: Release team -- @nithusha21

#15273 fix few learner exp quality issues and add 'more' button for feedback updates in the learner dashboard
  assets/constants.ts
  core/controllers/learner_dashboard.py
  core/controllers/learner_dashboard_test.py
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.rtl.css
  core/templates/components/summary-tile/story-summary-tile.component.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.rtl.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.rtl.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15249 Fix #15214: audioFinishedCallback is now being called after voiceover playback
  core/templates/services/speech-synthesis-chunker.service.spec.ts
  core/templates/services/speech-synthesis-chunker.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#15283 Fix #14943: Remove "GetNumberOfExpExceedsMaxTitleLengthJob" after the fix
  core/jobs/batch_jobs/exp_title_validation_jobs.py
  core/jobs/batch_jobs/exp_title_validation_jobs_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#15165 Implement 1.a.i. and 1.a.ii. of the Practice Questions Launch Plan: Add a confirmation modal to the practice tab
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/practice-session-page/practice-session-page.component.spec.ts
  core/templates/pages/practice-session-page/practice-session-page.component.ts
  core/templates/pages/topic-viewer-page/modals/practice-session-confirmation-modal.component.html
  core/templates/pages/topic-viewer-page/modals/practice-session-confirmation-modal.component.spec.ts
  core/templates/pages/topic-viewer-page/modals/practice-session-confirmation-modal.component.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.module.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15272 Fix part of #14219: Increase core.jobs.job_test_utils_test to 100% test coverage
  core/jobs/job_test_utils_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15290 Fix part of #14219 install_third_party_libs.py
  scripts/backend_tests_incomplete_coverage.txt
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15286 Fix part of #14033: Added MyPy type annotation to the file role_services.py
  core/domain/role_services.py
  core/domain/role_services_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15291 Fix part of #14419: Changed the format of PARAM_NAMES class
  core/controllers/admin_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#15303 Addresses comments in #15273
  core/controllers/learner_dashboard.py
  core/controllers/learner_dashboard_test.py
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#15241 Type annotate classroom_services
  core/domain/classroom_services.py
  core/domain/classroom_services_test.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15226 Fix bug in hanging indent checker
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD, PR: don't merge - STALE BUILD

#15333 Support legacy translation command in the translation suggestion review edit flow
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.ts
Labels: PR: for current release

#15213 Backend changes for Logged in user checkpoints
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/domain/exp_fetchers.py
  core/domain/exp_fetchers_test.py
  core/domain/takeout_service_test.py
  core/domain/user_domain.py
  core/domain/user_domain_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  main.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15317 Run clean up before build and ensure webpack_bundles is non empty
  scripts/build.py
  scripts/build_test.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#15310 Fix part of #10474: strict checks for skill-selector.component.ts
  tsconfig-strict.json
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15301 Fix urllib imports
  core/utils.py
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21

#14494 Fix part of #13162: Add Schema for AnswerSubmittedEventHandler
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/handler_schema_constants.py
  core/schema_utils.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#15289 Fix part of #13341: Type annotate typescript_checks
  scripts/run_mypy_checks.py
  scripts/typescript_checks.py
  scripts/typescript_checks_test.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15355 Make instructions for getting help clearer in the PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: LGTM

#15339 Fix part of #14219: Increase interaction_registry test coverage to 100%
  core/domain/interaction_registry_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15323 Fix some Navbar UI issues
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15364 Fix vocabulary mistakes in /assets/i18n/fr.json
  assets/i18n/fr.json
Labels: REVIEWERS: Please add changelog label

#15120 Add job to populate mailchimp database
  core/domain/config_domain.py
  core/jobs/batch_jobs/mailchimp_population_jobs.py
  core/jobs/batch_jobs/mailchimp_population_jobs_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#15379 Extend lighthouse timeout for retrieving sourcemaps
  .github/workflows/lighthouse_accessibility.yml
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15296 Fix part of #14419: Changed the format of REPORT_TYPE class
  core/domain/app_feedback_report_constants.py
  core/domain/app_feedback_report_domain.py
  core/domain/app_feedback_report_domain_test.py
  core/domain/app_feedback_report_services_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#15089 Fix part of #10474: Make typescript checks strict for few more files
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/about-foundation-page/about-foundation-page.component.spec.ts
  core/templates/pages/admin-page/admin-page.component.spec.ts
  core/templates/pages/admin-page/config-tab/admin-config-tab.component.spec.ts
  core/templates/pages/admin-page/config-tab/admin-config-tab.component.ts
  core/templates/pages/admin-page/features-tab/admin-features-tab.component.spec.ts
  core/templates/pages/admin-page/features-tab/admin-features-tab.component.ts
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.spec.ts
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.ts
  core/templates/pages/admin-page/navbar/admin-navbar.component.spec.ts
  core/templates/pages/admin-page/navbar/admin-navbar.component.ts
  core/templates/pages/admin-page/roles-tab/roles-and-actions-visualizer.component.ts
  core/templates/pages/admin-page/roles-tab/topic-manager-role-editor-modal.component.spec.ts
  core/templates/pages/admin-page/roles-tab/topic-manager-role-editor-modal.component.ts
  core/templates/pages/blog-admin-page/navbar/blog-admin-navbar.component.spec.ts
  core/templates/pages/blog-admin-page/navbar/blog-admin-navbar.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-tile/blog-dashboard-tile.component.ts
  core/templates/pages/blog-dashboard-page/blog-post-action-confirmation/blog-post-action-confirmation.component.ts
  core/templates/pages/blog-dashboard-page/modal-templates/blog-card-preview-modal.component.spec.ts
  core/templates/pages/blog-dashboard-page/modal-templates/blog-card-preview-modal.component.ts
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.spec.ts
  core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.ts
  core/templates/pages/blog-dashboard-page/navbar/navbar-breadcrumb/blog-dashboard-navbar-breadcrumb.component.spec.ts
  core/templates/pages/blog-dashboard-page/navbar/navbar-breadcrumb/blog-dashboard-navbar-breadcrumb.component.ts
  core/templates/pages/blog-dashboard-page/navbar/navbar-pre-logo-action/blog-post-editor-pre-logo-action.component.spec.ts
  core/templates/pages/blog-dashboard-page/navbar/navbar-pre-logo-action/blog-post-editor-pre-logo-action.component.ts
  core/templates/pages/blog-dashboard-page/services/blog-dashboard-page.service.spec.ts
  core/templates/pages/blog-dashboard-page/services/blog-dashboard-page.service.ts
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar-breadcrumb.component.spec.ts
  core/templates/pages/collection-editor-page/navbar/collection-editor-navbar-breadcrumb.component.ts
  core/templates/pages/collection-editor-page/services/collection-editor-routing.service.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.spec.ts
  core/templates/pages/collection-editor-page/services/collection-editor-state.service.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/pages/contributor-dashboard-page/services/question-suggestion-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.ts
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.ts
  core/templates/pages/delete-account-page/delete-account-page.component.spec.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.component.spec.ts
  core/templates/pages/delete-account-page/templates/delete-account-modal.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-topic.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-topic.service.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/question-player-engine.service.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.spec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15305 Fix part of #15134: Add a border to the language selector button
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/css/oppia.css
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15391 Fix #15375: make splash page's benefits subsection responsive on wider screens
  core/templates/pages/splash-page/splash-page.component.css
  core/templates/pages/splash-page/splash-page.component.rtl.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15257 Fix part of #10474: Make typescript checks strict for few more files
  core/templates/components/skill-selector/select-skill-modal.component.spec.ts
  core/templates/components/skill-selector/select-skill-modal.component.ts
  core/templates/components/state-editor/state-editor-properties-services/state-skill.service.ts
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.spec.ts
  core/templates/components/state-editor/state-skill-editor/state-skill-editor.component.ts
  core/templates/domain/utilities/stopwatch.model.spec.ts
  core/templates/domain/utilities/stopwatch.model.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-content-id.service.ts
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.component.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.spec.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
  core/templates/services/playthrough.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15104 Fix part of #13341: Type annotate build.py, check_e2e_tests_are_captured_in_ci.py, check_frontend_test_coverage.py
  core/tests/test_utils.py
  core/utils.py
  scripts/build.py
  scripts/build_test.py
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/check_e2e_tests_are_captured_in_ci_test.py
  scripts/check_frontend_test_coverage.py
  scripts/check_frontend_test_coverage_test.py
  scripts/run_mypy_checks.py
  scripts/start.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#15393 Fix part of #14219 :Increased coverage to 100% for user.gae_models_test
  core/storage/user/gae_models_test.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15208 Fix part of #13341: Type annotate regenerate_requirements.py, run_frontend_tests.py and run_custom_eslint_tests.py
  scripts/regenerate_requirements.py
  scripts/regenerate_requirements_test.py
  scripts/run_custom_eslint_tests.py
  scripts/run_frontend_tests.py
  scripts/run_mypy_checks.py
  scripts/run_tests.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15400 Upgrade Beam to 2.38.0
  requirements.in
  requirements.txt
  scripts/run_frontend_tests.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD, PR: require post-merge sync to HEAD

#15382 Update codeowners to swap Nithesh out (todo: #15381)
  .github/CODEOWNERS
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#15398 Fixes: Context Service Flake in Translation Tab Component
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.spec.ts
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15384 Fix part of #14219: Increase role_services test coverage to 100%
  core/domain/role_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#15359 Fix part of #15311: Fix takeout in app feedback and add more granular debugging
  core/controllers/profile.py
  core/domain/takeout_service.py
  core/domain/takeout_service_test.py
  core/domain/topic_services.py
  core/storage/app_feedback_report/gae_models.py
  core/storage/app_feedback_report/gae_models_test.py
  core/storage/base_model/gae_models.py
  core/storage/base_model/gae_models_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
Labels: PR: for current release, PR CHANGELOG: Data handling -- @vojtechjelinek

#15292 Fix part of #14219: Raise backend test coverage to 100% for core.constants.py
  core/constants_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: don't merge - STALE BUILD

#15221 Fix part of #14537: Refactor fs_domain
  core/controllers/android_e2e_config.py
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/resources.py
  core/controllers/resources_test.py
  core/controllers/suggestion_test.py
  core/controllers/voice_artist.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/fs_domain.py
  core/domain/fs_domain_test.py
  core/domain/fs_services.py
  core/domain/fs_services_test.py
  core/domain/html_validation_service.py
  core/domain/html_validation_service_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_services_test.py
  core/domain/suggestion_registry_test.py
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/tests/test_utils.py
  scripts/backend_test_shards.json
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#15395 Fix part of #14033: Type annotate user_query_services.py
  core/domain/user_query_services.py
  core/domain/user_query_services_test.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15383 Add step to inform server errors team before deploying release
  assets/release_constants.json
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_changelog_and_credits_test.py
Labels: PR CHANGELOG: Release team -- @nithusha21

#15387 Fixes part of #15318: Exploration page reload bug
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681, REVIEWERS: Please add changelog label, PR: don't merge - STALE BUILD

#15405 Fix #15321: Show review message for accepted suggestions
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/topic_fetchers.py
  core/domain/topic_fetchers_test.py
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-topic.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-topic.service.ts
  main.py
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee
