Repository oppia/oppia, pull requests merged in 2022-01, with the labels that each got.

#14477 Fix part of #9749: Migrated Add-worked-example and delete worked example modal
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.ts
  core/templates/pages/skill-editor-page/modal-templates/add-worked-example-modal.controller.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/add-worked-example-modal.controller.ts
  core/templates/pages/skill-editor-page/modal-templates/add-worked-example.component.html
  core/templates/pages/skill-editor-page/modal-templates/add-worked-example.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/add-worked-example.component.ts
  core/templates/pages/skill-editor-page/modal-templates/delete-worked-example-modal.component.html
  core/templates/pages/skill-editor-page/modal-templates/delete-worked-example-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/delete-worked-example-modal.component.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14435 Fixed part of #9749: Migrated preview set parameter modal
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.ts
  core/templates/pages/exploration-editor-page/preview-tab/templates/preview-set-parameters-modal.component.html
  core/templates/pages/exploration-editor-page/preview-tab/templates/preview-set-parameters-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/preview-tab/templates/preview-set-parameters-modal.component.ts
  core/templates/pages/exploration-editor-page/preview-tab/templates/preview-set-parameters-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/preview-tab/templates/preview-set-parameters-modal.controller.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14401 Fixed part of #9749: Migrated add-hint-modal component
  core/templates/components/shared-component.module.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.spec.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.controller.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14487 Fixed part of #9749: Migrated misconception editor directive
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14489 Fix part of #13162: Add backend test and schema to validate StoryUrlFragmentHandler class arguments
  core/controllers/story_editor.py
  core/controllers/story_editor_test.py
  core/handler_schema_constants.py
  core/tests/protractor_desktop/learnerDashboard.js
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/protractor_desktop/topicAndStoryViewer.js
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14526 Fix #14525: Fix incorrect error of no backend tests
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14490 Fixed part of #9749: Migrated Add-Worked Editor directive to component
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/worked-example-editor.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/worked-example-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/worked-example-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/worked-example-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/worked-example-editor.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/worked-example-editor.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14540 Fix #14397 : Contributors page not found
  core/templates/components/profile-link-directives/profile-link-image.component.ts
  core/templates/components/profile-link-directives/profile-link-text.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14509 Fix #14502 & Fix part of #9749: use one modal for save-pending-changes-modal.
  .github/CODEOWNERS
  core/templates/components/save-pending-changes/save-pending-changes-modal.component.html
  core/templates/components/save-pending-changes/save-pending-changes-modal.component.spec.ts
  core/templates/components/save-pending-changes/save-pending-changes-modal.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/skill-editor-page/modal-templates/save-pending-changes-modal.component.html
  core/templates/pages/skill-editor-page/modal-templates/save-pending-changes-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/save-pending-changes-modal.component.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.spec.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.spec.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts
  core/templates/pages/story-editor-page/modal-templates/story-save-pending-changes-modal.component.spec.ts
  core/templates/pages/story-editor-page/modal-templates/story-save-pending-changes-modal.component.ts
  core/templates/pages/story-editor-page/modal-templates/story-save-pending-changes-modal.template.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar-breadcrumb.component.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar-breadcrumb.component.ts
  core/templates/pages/story-editor-page/story-editor-page.component.spec.ts
  core/templates/pages/story-editor-page/story-editor-page.component.ts
  core/templates/pages/story-editor-page/story-editor-page.module.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/topic-save-pending-changes-modal.component.html
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14539 Added strict checking for more files
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.ts
  core/templates/services/exploration-html-formatter.service.spec.ts
  core/templates/services/exploration-html-formatter.service.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14528 Fix part of #14219: Increasing Backend Test Coverage of `extensions.rich_text_components.components_test` to 100%
  extensions/rich_text_components/components_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14452 Fix #14188: Fix the Score Circle on the results page so it animates properly
  core/templates/components/score-ring/score-ring.component.html
  core/templates/components/score-ring/score-ring.component.spec.ts
  core/templates/components/score-ring/score-ring.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14547 Update authors and changelog for v3.2.2
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
  package.json
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#14470 Fix part of #9749: Migrate to skill-editor-save-modal.component
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.html
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.ts
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.directive.html
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.spec.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14499 Fix part of #14219: Write tests to fix 100% per file coverage for collection_domain.py
  core/domain/collection_domain.py
  core/domain/collection_domain_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14545 Fix part of #14219: Increasing backend test coverage of `core.controllers.library_test` to 100%
  core/controllers/library_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14538 Fix part of #14219: Increasing backend test coverage of `core.controllers.questions_list_test` to 100%
  core/controllers/questions_list_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14570 Routine update of translations.
  assets/i18n/ab.json
  assets/i18n/bn.json
  assets/i18n/br.json
  assets/i18n/ca.json
  assets/i18n/de.json
  assets/i18n/es.json
  assets/i18n/fa.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sk.json
  assets/i18n/uk.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#14551 Fix parts of #12912: Enables `useless-object-inheritance`
  .pylintrc
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14517 Fix #14514: Remove dead code for voiceover tab on contributor dashboard page.
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/pages/contributor-dashboard-page/voiceover-opportunities/voiceover-opportunities.component.html
  core/templates/pages/contributor-dashboard-page/voiceover-opportunities/voiceover-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/voiceover-opportunities/voiceover-opportunities.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#14436 Fix #11898: Align social-media icons
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.html
  core/templates/pages/collection-player-page/collection-footer/collection-footer.component.html
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
  core/templates/pages/exploration-editor-page/modal-templates/post-publish-modal.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14535 Fix #14530: Change question-editor-container's position so it moves up when screen is scrolled
  core/templates/components/question-directives/questions-list/questions-list.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14257 Fix Part of #13162: Add argument schema for ProfileHandler, SignupHandler classes
  core/controllers/base_test.py
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/domain/email_manager_test.py
  core/handler_schema_constants.py
  core/tests/test_utils.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14557 Fix #14084: Allow resize image to 200%; Surface exp role editor error
  core/templates/pages/exploration-editor-page/services/exploration-rights.service.ts
  extensions/objects/templates/image-editor.component.ts
  extensions/objects/templates/svg-editor.component.spec.ts
  extensions/objects/templates/svg-editor.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14592 Fix part of #14419: Refactor ValidationModes class and values
  core/jobs/transforms/validation/base_validation.py
  core/jobs/transforms/validation/base_validation_test.py
  core/jobs/transforms/validation/blog_validation.py
Labels: PR: LGTM, PR CHANGELOG: Python Migration -- @vojtechjelinek

#14518 Fixes few server errors and addresses some follow-up comments from #14352
  core/controllers/base.py
  core/controllers/base_test.py
  core/domain/interaction_registry.py
  core/domain/state_domain.py
  core/templates/pages/creator-dashboard-page/modal-templates/upload-activity-modal.component.spec.ts
  core/templates/pages/creator-dashboard-page/modal-templates/upload-activity-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.ts
Labels: PR: don't merge - STALE BUILD

#14584 Fix part of #14219: Increasing backend test coverage of `core.storage.audit.gae_models_test` to 100%
  core/storage/audit/gae_models_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14508 Add support for E2E rerun overrides
  scripts/flake_checker.py
  scripts/flake_checker_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14613 Revert #14470
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.html
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.ts
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.directive.html
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.spec.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
Labels: PR: require post-merge sync to HEAD

#14606 Move import under third party exec code
  scripts/start.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#14614 Fix Part of #13162: Added Schema for SignUpPage
  core/controllers/profile.py
  core/handler_schema_constants.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14520 Fix part of #12912: Enables `consider-using-in` pylint check
  .pylintrc
  core/controllers/suggestion.py
  core/domain/activity_domain.py
  core/domain/skill_services.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14473 Enable screenshots on the develop branch of oppia/oppia
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features_and_library.yml
  .github/workflows/e2e_user_profile.yml
  core/tests/protractor.conf.js
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14564 Fixes part of 14219: Increasing backend test coverage of `core.domain.taskqueue_services_test` to 100%
  core/domain/taskqueue_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14585 Fix part of #14219: Increasing backend test coverage of `core.storage.blog.gae_models_test` to 100%
  core/storage/blog/gae_models_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14580 Fix part of #14219: Increasing backend test coverage of core.storage.improvements.gae_models_test to 100%
  core/storage/improvements/gae_models_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14589 Fix part of #14219: Increasing backend test coverage of `core.storage.config.gae_models_test`, `core.domain.html_validation_service_test` and `core.domain.stats_domain_test` to 100%
  core/domain/html_validation_service_test.py
  core/domain/stats_domain_test.py
  core/storage/config/gae_models_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14548 Fix part of #14219: Increasing backend test coverage of `core.platform.storage.cloud_storage_emulator_test` to 100%
  core/platform/storage/cloud_storage_emulator_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14590 Fix part of #9749: Migrated reviews-materials-editor component
  core/templates/components/review-material-editor/review-material-editor.component.html
  core/templates/components/review-material-editor/review-material-editor.component.spec.ts
  core/templates/components/review-material-editor/review-material-editor.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14486 Redesign Search bar and Fix #14447: Change dropdown buttons' z-index so they don't appear over the sidebar
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/library-page/search-bar/search-bar.component.html
  core/templates/pages/library-page/search-bar/search-bar.component.spec.ts
  core/templates/pages/library-page/search-bar/search-bar.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14583 Fixes practice tab's start button behaviour
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14493 Fix Part of #9749: Migrate change subtopic assignment modal
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/change-subtopic-assignment-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/change-subtopic-assignment-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/change-subtopic-assignment-modal.component.ts
  core/templates/pages/topic-editor-page/modal-templates/change-subtopic-assignment-modal.template.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/change-subtopic-assignment-modal.template.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/change-subtopic-assignment-modal.template.html
  core/templates/pages/topic-editor-page/topic-editor-page.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14610 Fix parts of #14219: Increasing backend test coverage of `core.storage.recommendations.gae_models_test` and `core.storage.subtopic.gae_models_test` to 100%
  core/storage/recommendations/gae_models_test.py
  core/storage/subtopic/gae_models_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14559 Fix #14431: Resolves all navbar related fixes for rtl languages
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/css/oppia.css
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14562 Fix #14519: Contributor profile page UI fixes
  core/templates/components/summary-tile/exploration-summary-tile.component.html
  core/templates/css/oppia.css
  core/templates/pages/profile-page/profile-page.component.html
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#14279 Fix part of #13956: Replaced python_utils.ZIP() with zip()
  core/controllers/learner_dashboard.py
  core/controllers/recent_commits.py
  core/domain/beam_job_services_test.py
  core/domain/caching_services.py
  core/domain/classifier_services.py
  core/domain/collection_services.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/exp_services.py
  core/domain/feedback_services.py
  core/domain/feedback_services_test.py
  core/domain/improvements_services.py
  core/domain/platform_parameter_domain.py
  core/domain/rights_domain.py
  core/domain/skill_fetchers.py
  core/domain/skill_services.py
  core/domain/stats_services_test.py
  core/domain/summary_services.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_service.py
  core/jobs/batch_jobs/model_validation_jobs.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
  core/storage/base_model/gae_models_test.py
  core/storage/collection/gae_models.py
  core/storage/exploration/gae_models.py
  core/storage/feedback/gae_models.py
  core/tests/test_utils.py
  scripts/linters/linter_utils.py
  scripts/pre_push_hook.py
Labels: PR CHANGELOG: Python Migration -- @vojtechjelinek

#14558 Fix part of 14219: Increasing backend test coverage of `core.domain.activity_domain_test` to 100%
  core/domain/activity_domain_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14642 Upgrade libraries
  requirements.in
  requirements.txt
  yarn.lock
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#14338 Fix part of #13956: python_utils.url_unsplit->urllib.unsplit
  core/python_utils.py
  core/python_utils_test.py
  core/schema_utils.py
  core/utils.py
Labels: PR CHANGELOG: Python Migration -- @vojtechjelinek

#14541 Fix part of #14219: Increasing backend test coverage of core.controllers.resources_test to 100%
  core/controllers/resources_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14588 Fix part of #9749: Migrated skill-misconception-editor directive
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.directive.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.html
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14578 Fix part of 14219: Increasing backend test coverage of `core.domain.rights_domain_test` to 100%
  core/domain/rights_domain_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14522 Fix shared component error for: Migrate delete-hint-modal.template, delete-interaction-modal.template, delete-last-hint-modal.template, delete-solution-modal.template, follow #14454 PR:
  core/templates/components/shared-component.module.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.ts
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.directive.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
Labels: PR: LGTM, PR CHANGELOG: Bug fixes -- @nithusha21

#14586 Fix part of #14219: Increasing backend test coverage of `core.storage.story.gae_models_test` to 100%
  core/storage/story/gae_models_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: REVIEWERS: Please add changelog label

#14529 Fix part of #14219: Increase backend test coverage of core.controllers.profile_test to 100%
  core/controllers/profile_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14553 Fix part of #14537: Introduce lint checks for importing services inside domain files
  .pylintrc
  core/domain/app_feedback_report_domain.py
  core/domain/beam_job_domain.py
  core/domain/blog_domain.py
  core/domain/change_domain.py
  core/domain/classifier_domain.py
  core/domain/config_domain.py
  core/domain/exp_domain.py
  core/domain/feedback_domain.py
  core/domain/fs_domain.py
  core/domain/improvements_domain.py
  core/domain/param_domain.py
  core/domain/question_domain.py
  core/domain/rights_domain.py
  core/domain/skill_domain.py
  core/domain/state_domain.py
  core/domain/stats_domain.py
  core/domain/story_domain.py
  core/domain/subtopic_page_domain.py
  core/domain/topic_domain.py
  core/domain/wipeout_domain.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#14649 Fix failing mypy checks of `core.domain.rights_domain_test`
  core/domain/rights_domain_test.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: require post-merge sync to HEAD

#14465 Fix part of #14351: Extended Schema validator
  core/controllers/base.py
  core/controllers/base_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#14616 Fix cloud sdk version and add a check to avoid this issue in future
  assets/release_constants.json
  scripts/pre_commit_hook.py
  scripts/pre_commit_hook_test.py
Labels: PR CHANGELOG: Release team -- @nithusha21

#14576 Fix part of issue #9749: State-hints-editor, hint-editor, response-header component from angularJS to angular
  core/templates/components/question-directives/question-editor/question-editor.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/components/state-directives/hint-editor/hint-editor.component.html
  core/templates/components/state-directives/hint-editor/hint-editor.component.spec.ts
  core/templates/components/state-directives/hint-editor/hint-editor.component.ts
  core/templates/components/state-directives/response-header/response-header.component.html
  core/templates/components/state-directives/response-header/response-header.component.spec.ts
  core/templates/components/state-directives/response-header/response-header.component.ts
  core/templates/components/state-editor/state-editor-properties-services/state-hints.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-hints.service.ts
  core/templates/components/state-editor/state-editor.component.html
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.html
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.spec.ts
  core/templates/components/state-editor/state-hints-editor/state-hints-editor.component.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.html
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.spec.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.html
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.html
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.ts
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.directive.html
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.spec.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.ts
  core/templates/pages/skill-editor-page/skill-editor-page.module.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14554 Fix translation stats job
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs_test.py
Labels: PR: LGTM, PR: for current release, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#14504 Fix parts of #12912: Enables `no-else-continue` and `no-else-raise` pylint checks
  .pylintrc
  core/controllers/acl_decorators.py
  core/controllers/admin.py
  core/controllers/android_e2e_config.py
  core/controllers/base.py
  core/controllers/domain_objects_validator.py
  core/controllers/payload_validator.py
  core/controllers/profile.py
  core/domain/beam_job_services.py
  core/domain/collection_services.py
  core/domain/email_manager.py
  core/domain/exp_domain.py
  core/domain/exp_services.py
  core/domain/platform_parameter_domain.py
  core/domain/rights_domain.py
  core/domain/skill_services.py
  core/domain/state_domain.py
  core/domain/stats_domain.py
  core/domain/story_services.py
  core/domain/subtopic_page_services.py
  core/domain/suggestion_registry.py
  core/domain/topic_services.py
  core/domain/user_domain.py
  core/domain/user_services.py
  core/jobs/types/model_property.py
  core/utils.py
  extensions/interactions/base.py
  scripts/common.py
  scripts/install_backend_python_libs.py
  scripts/install_third_party_test.py
  scripts/linters/js_ts_linter.py
  scripts/linters/pylint_extensions.py
  scripts/pre_push_hook.py
  scripts/run_backend_tests.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#14629 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14633 Fix part of #10474 : Make typescript checks strict for `core/templates/domain/editor/undo_redo/base-undo-redo.service.ts`
  core/templates/domain/editor/undo_redo/base-undo-redo.service.ts
  tsconfig-strict.json
Labels: PR: don't merge - STALE BUILD, PR CHANGELOG: Typing -- @vojtechjelinek

#14600 Fix part of #10474: Make typescript checks strict for ExplorationObjectFactory
  core/templates/domain/exploration/ExplorationObjectFactory.ts
  core/templates/domain/exploration/ExplorationObjectFactorySpec.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#14581 Fix part of #14219: Increasing backend test coverage of `core.domain.param_domain_test` to 100%
  core/domain/param_domain_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14563 Fix part of #14383: Refactor comma_separated_*_ids
  core/controllers/acl_decorators.py
  core/controllers/concept_card_viewer.py
  core/controllers/concept_card_viewer_test.py
  core/controllers/skill_mastery.py
  core/controllers/skill_mastery_test.py
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts
  core/templates/domain/skill/concept-card-backend-api.service.spec.ts
  core/templates/domain/skill/concept-card-backend-api.service.ts
  core/templates/domain/skill/skill-domain.constants.ts
  core/templates/pages/learner-dashboard-page/progress-tab.component.ts
  main.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14660 Fix #14432: Shows previous subtopic card when at last subtopic of the topic.
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/subtopic_viewer.py
  core/controllers/subtopic_viewer_test.py
  core/templates/domain/subtopic_viewer/read-only-subtopic-page-data.model.spec.ts
  core/templates/domain/subtopic_viewer/read-only-subtopic-page-data.model.ts
  core/templates/pages/subtopic-viewer-page/navbar-breadcrumb/subtopic-viewer-navbar-breadcrumb.component.spec.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.spec.ts
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14641 Fixed part of #14219: Increased backend test coverage of `core.storage.opportunity.gae_models_test`, `core.controllers.story_editor_test`, `core.controllers.skill_editor_test` and `core.storage.statistics.gae_models_test` to 100%
  core/controllers/skill_editor_test.py
  core/storage/opportunity/gae_models_test.py
  core/storage/statistics/gae_models.py
  core/storage/statistics/gae_models_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#14565 Fix part of #9749: Migrated select-skill-difficulty-modal, question-editor-save modal, confirm-question-exit-modal etc.
  core/templates/components/question-directives/modal-templates/confirm-question-exit-modal.component.html
  core/templates/components/question-directives/modal-templates/confirm-question-exit-modal.component.spec.ts
  core/templates/components/question-directives/modal-templates/confirm-question-exit-modal.component.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.spec.ts
  core/templates/components/question-directives/modal-templates/question-editor-modal.controller.ts
  core/templates/components/question-directives/modal-templates/question-editor-save-modal.component.html
  core/templates/components/question-directives/modal-templates/question-editor-save-modal.component.spec.ts
  core/templates/components/question-directives/modal-templates/question-editor-save-modal.component.ts
  core/templates/components/question-directives/modal-templates/question-editor-save-modal.template.html
  core/templates/components/question-directives/questions-list/questions-list.component.spec.ts
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.spec.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts
  core/templates/pages/skill-editor-page/services/question-creation-service.spec.ts
  core/templates/pages/skill-editor-page/services/question-creation.service.ts
  core/templates/pages/topic-editor-page/modal-templates/question-opportunities-select-skill-and-difficulty-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/question-opportunities-select-skill-and-difficulty-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/questions-list-select-skill-and-difficulty-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/questions-list-select-skill-and-difficulty-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/questions-list-select-skill-and-difficulty-modal.component.ts
  core/templates/pages/topic-editor-page/modal-templates/questions-list-select-skill-and-difficulty-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/questions-list-select-skill-and-difficulty-modal.controller.ts
  core/templates/pages/topic-editor-page/modal-templates/questions-opportunities-select-difficulty-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/questions-opportunities-select-difficulty-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/questions-opportunities-select-difficulty-modal.component.ts
  core/templates/pages/topic-editor-page/modal-templates/select-skill-and-difficulty-modal.template.html
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14654 Fixes Leaner Dashboard Issues
  assets/i18n/en.json
  assets/i18n/es.json
  assets/i18n/fr.json
  assets/i18n/it.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/sk.json
  assets/i18n/uk.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/progress-tab.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14670 Fix #14621: Change concept-card modal's z-index so it stacks correctly over other modals
  core/templates/css/oppia.css
  core/templates/services/rte-helper.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: don't merge - STALE BUILD

#14601 Fix part of #14219: Increasing backend test coverage of `core.domain.email_manager_test`, `core.domain.action_registry_test` and `core.domain.config_domain_test` to 100%
  core/domain/action_registry_test.py
  core/domain/config_domain_test.py
  core/domain/email_manager_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14582 Fix part of #14219: Increasing backend test coverage of `core.domain.learner_goals_services_test` and `core.domain.recommendations_services_test` to 100%
  core/domain/learner_goals_services_test.py
  core/domain/recommendations_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14665 Fix part of #14219: Increasing backend test coverage of `core.storage.auth.gae_models_test` to 100%
  core/storage/auth/gae_models.py
  core/storage/auth/gae_models_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14469 Fix part of #14033: Added Mypy type annotations to some files.
  .coveragerc
  .isort.cfg
  core/controllers/domain_objects_validator.py
  core/domain/caching_services.py
  core/domain/caching_services_test.py
  core/domain/change_domain.py
  core/domain/config_domain.py
  core/domain/config_domain_test.py
  core/domain/rights_domain_test.py
  core/storage/user/gae_models_test.py
  mypy_imports.py
  scripts/run_e2e_tests.py
  scripts/run_mypy_checks.py
  scripts/servers.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#14087 Fix part of #9749: Migrate conversation skin, conversation skin embed and exploration player page directives
  core/controllers/reader_test.py
  core/templates/components/question-directives/question-player/question-player.component.html
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/components/question-directives/question-player/services/question-player-state.service.spec.ts
  core/templates/components/question-directives/question-player/services/question-player-state.service.ts
  core/templates/components/shared-component.module.ts
  core/templates/css/oppia.css
  core/templates/pages/collection-player-page/collection-player-page.component.ts
  core/templates/pages/collection-player-page/services/collection-player-backend-api.service.ts
  core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.controller.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.html
  core/templates/pages/exploration-player-page/exploration-player-page.component.html
  core/templates/pages/exploration-player-page/exploration-player-page.component.spec.ts
  core/templates/pages/exploration-player-page/exploration-player-page.component.ts
  core/templates/pages/exploration-player-page/exploration-player-page.mainpage.html
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.directive.html
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.directive.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.directive.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.html
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/pages/exploration-player-page/templates/exploration-player-suggestion-modal.controller.spec.ts
  core/templates/pages/exploration-player-page/templates/exploration-player-suggestion-modal.controller.ts
  core/templates/pages/exploration-player-page/templates/exploration-player-suggestion-modal.directive.html
  core/templates/pages/exploration-player-page/templates/feedback-popup-container.template.html
  core/templates/pages/exploration-player-page/templates/learner-suggestion-submitted-modal.template.html
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14512 Implemented new UI changes in lessons page (mobile view).
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/summary-tile/story-summary-tile.component.html
  core/templates/components/summary-tile/story-summary-tile.component.spec.ts
  core/templates/components/summary-tile/story-summary-tile.component.ts
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.spec.ts
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14619 Fix #14524: Frontend testing
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.spec.ts
Labels: PR: don't merge - STALE BUILD

#14663 Fix #14022: Tidy-up admin related pages and remove remainders of MapReduce jobs
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/admin/job-status-summary.model.spec.ts
  core/templates/domain/admin/job-status-summary.model.ts
  core/templates/domain/admin/job.model.spec.ts
  core/templates/domain/admin/job.model.ts
  core/templates/pages/admin-page/admin-page.component.html
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.spec.ts
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.ts
  core/templates/pages/release-coordinator-page/components/view-beam-job-output-dialog.component.html
  core/templates/pages/release-coordinator-page/services/release-coordinator-backend-api.service.spec.ts
  core/templates/pages/release-coordinator-page/services/release-coordinator-backend-api.service.ts
  scripts/linters/test_files/invalid_duplicate_prod_validation_jobs_one_off.py
  scripts/run_mypy_checks.py
  scripts/run_mypy_checks_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14664 Added strict tests for more files
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts
  tsconfig-strict.json
Labels: PR: don't merge - STALE BUILD, PR CHANGELOG: Typing -- @vojtechjelinek

#14700 Update year to 2022
  NOTICE
Labels: PR: LGTM, REVIEWERS: Please add changelog label

#14685 Fix #14667: Adds I18N keys for preference page
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/preferences-page/form-fields/preferred-language-selector.component.html
  core/templates/pages/preferences-page/form-fields/preferred-language-selector.component.spec.ts
  core/templates/pages/preferences-page/form-fields/preferred-languages.component.html
  core/templates/pages/preferences-page/form-fields/preferred-languages.component.spec.ts
  core/templates/pages/preferences-page/form-fields/subject-interests.component.html
  core/templates/pages/preferences-page/form-fields/subject-interests.component.spec.ts
  core/templates/pages/preferences-page/preferences-page.component.html
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14680 Fix #14669: Translation modal and other UI fixes in Contributor Dashboard Page
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.html
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee

#14624 Fix Part of #9749: Migrates Interaction Pencil Code Editor to Angular
  core/templates/services/exploration-html-formatter.service.ts
  extensions/interactions/PencilCodeEditor/PencilCodeEditor.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-interactive-pencil-code-editor.component.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-interactive-pencil-code-editor.directive.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-response-pencil-code-editor.component.spec.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-response-pencil-code-editor.component.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-response-pencil-code-editor.directive.spec.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-response-pencil-code-editor.directive.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-short-response-pencil-code-editor.component.spec.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-short-response-pencil-code-editor.component.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-short-response-pencil-code-editor.directive.spec.ts
  extensions/interactions/PencilCodeEditor/directives/oppia-short-response-pencil-code-editor.directive.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-interaction.component.html
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-interaction.directive.html
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-response.component.html
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-response.directive.html
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-rules.service.spec.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-short-response.component.html
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-short-response.directive.html
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.spec.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-reset-confirmation.component.html
  extensions/interactions/PencilCodeEditor/directives/pencil-code-reset-confirmation.component.spec.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-reset-confirmation.component.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-reset-confirmation.directive.html
  extensions/interactions/PencilCodeEditor/pencil-code-editor-interactions.module.ts
  extensions/interactions/base_test.py
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/interactions/interactions.module.ts
  scripts/check_frontend_test_coverage.py
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14527 Change layout of exploration and collection cards on community-library for mobile UI
  assets/constants.ts
  core/templates/components/summary-tile/collection-summary-tile.component.html
  core/templates/components/summary-tile/collection-summary-tile.component.spec.ts
  core/templates/components/summary-tile/collection-summary-tile.component.ts
  core/templates/components/summary-tile/exploration-summary-tile.component.html
  core/templates/components/summary-tile/exploration-summary-tile.component.spec.ts
  core/templates/components/summary-tile/exploration-summary-tile.component.ts
  core/templates/css/oppia.css
  core/templates/pages/library-page/library-page.component.html
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/library-page.component.ts
  core/templates/services/date-time-format.service.spec.ts
  core/templates/services/date-time-format.service.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14197 Fix part of #14085: Making math interactions consistent with the android definitions.
  core/domain/expression_parser.py
  core/domain/expression_parser_test.py
  core/domain/question_domain.py
  core/domain/question_services_test.py
  core/schema_utils.py
  core/schema_utils_test.py
  core/templates/services/math-interactions.service.spec.ts
  core/templates/services/math-interactions.service.ts
  core/tests/protractor_desktop/extensions.js
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-rules.service.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-rules.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-validation.service.spec.ts
  extensions/interactions/AlgebraicExpressionInput/protractor.js
  extensions/interactions/MathEquationInput/directives/math-equation-input-rules.service.spec.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.spec.ts
  extensions/interactions/MathEquationInput/protractor.js
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-rules.service.spec.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-rules.service.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-validation.service.spec.ts
  extensions/interactions/NumericExpressionInput/protractor.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14406 Fix part of 9749: Migrate help-modal.controller
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-navigation/editor-navigation.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/modal-templates/help-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/help-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/help-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/help-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/help-modal.controller.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14356 Fix part of #13162: Setup schemas on topic editor
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/domain/change_domain.py
  core/domain/fs_services.py
  core/handler_schema_constants.py
  core/utils_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14656 Fix part of #9749: Migrate Solution-editor & solution-explanation-editor to angular
  core/templates/components/shared-component.module.ts
  core/templates/components/state-directives/solution-editor/solution-editor.component.html
  core/templates/components/state-directives/solution-editor/solution-editor.component.spec.ts
  core/templates/components/state-directives/solution-editor/solution-editor.component.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.html
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.spec.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.html
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.spec.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#14722 Fix #14692: Saving changes to a story without a commit message results in an error
  core/templates/pages/story-editor-page/modal-templates/story-editor-save-modal.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14672 Fix part of #9749: Migrated ques-misconception-editor
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.html
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.spec.ts
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.ts
  core/templates/components/question-directives/question-misconception-editor/tag-misconception-modal-component.spec.ts
  core/templates/components/question-directives/question-misconception-editor/tag-misconception-modal-component.ts
  core/templates/components/question-directives/question-misconception-editor/tag-misconception-modal.component.html
  core/templates/components/question-directives/question-misconception-editor/tag-misconception-modal.controller.spec.ts
  core/templates/components/question-directives/question-misconception-editor/tag-misconception-modal.controller.ts
  core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.html
  core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.spec.ts
  core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.html
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/tag-misconception-modal.template.html
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98

#14742 Refactor beam_job_domain file
  core/domain/beam_job_domain.py
  core/domain/beam_job_domain_test.py
  core/domain/beam_job_services.py
  core/domain/beam_job_services_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#14159 Fix part of #13764: Story notes and skill rubric explanation validation.
  core/templates/components/rubrics-editor/rubrics-editor.component.html
  core/templates/components/rubrics-editor/rubrics-editor.component.spec.ts
  core/templates/components/rubrics-editor/rubrics-editor.component.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14644 Fix part of #10474 : Make typescript checks strict for `core/templates/components/skill-selector/merge-skill-modal.component.ts`
  core/templates/components/skill-selector/merge-skill-modal.component.ts
  core/templates/components/skill-selector/skill-selector.component.ts
  core/templates/pages/skill-editor-page/services/skill-editor-state.service.ts
  core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.ts
  tsconfig-strict.json
Labels: PR: don't merge - STALE BUILD, PR CHANGELOG: Typing -- @vojtechjelinek

#14571 Fix part of #14555: Implement a schema type to validate variable no of keys in dict
  core/controllers/skill_mastery.py
  core/controllers/skill_mastery_test.py
  core/handler_schema_constants.py
  core/schema_utils.py
  core/schema_utils_test.py
  core/templates/domain/skill/skill-mastery-backend-api.service.spec.ts
  core/templates/domain/skill/skill-mastery-backend-api.service.ts
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#14682 fixed part of #14219: 100% per-file backend test coverage for event_services.py
  core/domain/event_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14716 Fix #14694: Stack skill name label and radio button container properly and add text explaining score calculation on the practice session results page
  core/templates/components/question-directives/question-player/question-player.component.html
  core/templates/components/question-directives/questions-list/questions-list.component.html
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14662 Fix part of #14219: Increasing backend test coverage of `core.storage.question.gae_models_test` and `core.jobs.job_utils_test` to 100%
  core/domain/question_services_test.py
  core/jobs/job_utils_test.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#14607 Changing the login overlay to have the new UI
  core/templates/pages/story-viewer-page/story-viewer-page.component.html
  core/templates/pages/story-viewer-page/story-viewer-page.component.spec.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#14608 Fixes unnecessary underlining on hover and focus on the top navigation bar
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14721 Fixes creator dashboard button's screen position, added hover effect on main menu and removed extra unit spaces.
  core/templates/components/button-directives/create-activity-button.component.html
  core/templates/components/button-directives/create-activity-button.component.ts
  core/templates/components/summary-tile/story-summary-tile.component.html
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14688 Fix #14683: Learner dashboard minor UI fixes for mobile view
  core/templates/pages/learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14789 Routine update of translations.
  assets/i18n/ar.json
  assets/i18n/de.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/ja.json
  assets/i18n/lb.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/tr.json
  assets/i18n/uk.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR: for current release, PR CHANGELOG: Translations -- @DubeySandeep

#14367 Fix #13737: Voiceover does not repeat when user submits answer before voiceover has finished
  core/templates/pages/exploration-player-page/services/audio-translation-manager.service.ts
  core/templates/services/audio-player.service.spec.ts
  core/templates/services/audio-player.service.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14731 Fix #14646: Make display of concept card link inline.
  core/templates/css/oppia.css
  extensions/rich_text_components/Skillreview/directives/skillreview.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14461 Job to extract email, collection id of users who created collection
  core/jobs/batch_jobs/collection_info_jobs.py
  core/jobs/batch_jobs/collection_info_jobs_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#14768 Added new empty lessons tab and fixes feedback tab's title position.
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/home-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/home-tab.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14783 Fix #14693: Allows changing thumbnail background color.
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.spec.ts
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.ts
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.component.html
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.component.spec.ts
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.component.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.directive.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.html
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14556 Fix part of #14419: SERVER_MODES refactored to ServerModes and values changed to UPPERCASE
  core/controllers/admin_test.py
  core/controllers/platform_feature_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_domain_test.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_registry.py
  core/domain/platform_parameter_registry_test.py
  core/platform_feature_list_test.py
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14640 Fix part of #13956: Replaced python_utils.parse_query_string with urllib.parse.parse_qs
  core/python_utils.py
  core/python_utils_test.py
  core/utils.py
Labels: PR CHANGELOG: Python Migration -- @vojtechjelinek

#14593 Fix Part of #9749: Migrate whole ItemSelectionInput directive inside interaction.
  core/templates/services/exploration-html-formatter.service.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-interaction.component.html
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-response.component.html
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-short-response.component.html
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-response-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-response-item-selection-input.component.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-short-response-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-short-response-item-selection-input.component.ts
  extensions/interactions/ItemSelectionInput/item-selection-input-interactions.module.ts
  extensions/interactions/ItemSelectionInput/protractor.js
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/interactions/interactions.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14737 Upgrade frontend libs
  yarn.lock
Labels: PR: LGTM, PR CHANGELOG: Developer UX -- @DubeySandeep

#14813 Fix pip compile
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/regenerate_requirements.py
Labels: PR CHANGELOG: Developer UX -- @DubeySandeep

#14777 Fix #14426: Resolved Multiple Choice Options Shuffling Between Attempts
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#14681 Fix part of #9749: Migrate whole NumberWithUnits interaction directive.
  core/templates/services/exploration-html-formatter.service.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-help-modal.component.html
  extensions/interactions/NumberWithUnits/directives/number-with-units-interaction.component.html
  extensions/interactions/NumberWithUnits/directives/number-with-units-response.component.html
  extensions/interactions/NumberWithUnits/directives/number-with-units-short-response.component.html
  extensions/interactions/NumberWithUnits/directives/oppia-help-modal-number-with-units.component.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-help-modal-number-with-units.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-response-number-with-units.component.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-response-number-with-units.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-short-response-number-with-units.component.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-short-response-number-with-units.component.ts
  extensions/interactions/NumberWithUnits/number-with-units-interactions.module.ts
  extensions/interactions/interaction-attributes-extractor.service.ts
  extensions/interactions/interactions.module.ts
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#14771 Fix part of #9749: Migrated add-or-update-solution modal component
  core/templates/components/shared-component.module.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.spec.ts
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.controller.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.template.html
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98
