Repository oppia/oppia, pull requests merged in 2022-11, with the labels that each got.

#16452 Modify issue forms to make it easier to use
  .github/ISSUE_TEMPLATE/bug_report_form.yml
  .github/ISSUE_TEMPLATE/bug_report_markdown.md
  .github/ISSUE_TEMPLATE/feature_request_form.yml
  .github/ISSUE_TEMPLATE/feature_request_markdown.md
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16342 Added Mypy type annotations to the `core/controller` directory's files.
  core/controllers/access_validators.py
  core/controllers/access_validators_test.py
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/android_e2e_config.py
  core/controllers/android_e2e_config_test.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/beam_jobs.py
  core/controllers/beam_jobs_test.py
  core/controllers/blog_admin.py
  core/controllers/blog_admin_test.py
  core/controllers/diagnostic_test_player.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/rights_manager.py
  core/domain/rights_manager_test.py
  core/domain/state_domain.py
  core/domain/summary_services_test.py
  core/domain/topic_fetchers.py
  core/domain/topic_fetchers_test.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/domain/user_domain.py
  core/domain/user_services.py
  core/feconf.py
  core/handler_schema_constants.py
  core/tests/test_utils.py
  core/tests/test_utils_test.py
  main.py
  scripts/linters/pylint_extensions.py
  scripts/run_mypy_checks.py
  stubs/webapp2/__init__.pyi
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#16399 Adds diagnostic test current topic status model
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-current-topic-status.model.spec.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-current-topic-status.model.ts
Labels: PR: LGTM

#16468 Learner Group UI improvements
  core/templates/pages/learner-group-pages/edit-group/learner-group-learner-specific-progress.component.css
  core/templates/pages/learner-group-pages/edit-group/learner-group-learner-specific-progress.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16425 Do not log unavailable Beam job as exception
  core/jobs/jobs_manager.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#16474 FIx #16446: Avoid installing pylint-quotes from GitHub fork
  requirements_dev.in
  requirements_dev.txt
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#16404 Fix #16008: Add custom elements polyfill
  core/templates/Polyfills.ts
  package.json
Labels: PR CHANGELOG: Server Errors -- @kevintab95, PR: don't merge - STALE BUILD

#16491 Learner Group learners' progress in stories view review update
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/learner-group-pages/edit-group/learner-group-learner-specific-progress.component.css
  core/templates/pages/learner-group-pages/edit-group/learner-group-learner-specific-progress.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16217 Add mailchimp android list support
  .github/CODEOWNERS
  assets/constants.ts
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/feconf.py
  core/platform/bulk_email/dev_mode_bulk_email_services.py
  core/platform/bulk_email/dev_mode_bulk_email_services_test.py
  core/platform/bulk_email/mailchimp_bulk_email_services.py
  core/platform/bulk_email/mailchimp_bulk_email_services_test.py
  core/templates/domain/android-updates/android-updates-backend-api.service.spec.ts
  core/templates/domain/android-updates/android-updates-backend-api.service.ts
  core/templates/pages/android-page/android-page.component.html
  core/templates/pages/android-page/android-page.component.spec.ts
  core/templates/pages/android-page/android-page.component.ts
  core/templates/pages/android-page/android-page.module.ts
  core/templates/services/angular-services.index.ts
  main.py
  stubs/mailchimp3/__init__.pyi
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16481 Adds validation for rte tags in translation html for translation suggestion
  core/controllers/acl_decorators_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
Labels: PR: for current release, PR CHANGELOG: Data handling -- @vojtechjelinek

#16352 Fixes part of #15942: Trigger stats model update during exp migration
  core/controllers/acl_decorators_test.py
  core/controllers/improvements_test.py
  core/controllers/library_test.py
  core/controllers/profile_test.py
  core/controllers/reader_test.py
  core/controllers/suggestion_test.py
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  core/domain/collection_services.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/opportunity_services.py
  core/domain/stats_services.py
  core/domain/stats_services_test.py
  core/domain/user_domain.py
  core/domain/user_domain_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/jobs/batch_jobs/exp_migration_jobs.py
  core/jobs/batch_jobs/exp_migration_jobs_test.py
  core/jobs/batch_jobs/exp_version_history_computation_job_test.py
  core/jobs/job_utils.py
  core/storage/base_model/gae_models.py
  core/storage/classifier/gae_models.py
  core/storage/statistics/gae_models_test.py
Labels: PR: for current release, PR CHANGELOG: Data handling -- @vojtechjelinek, PR: Needs to be hotfixed

#16457 Move some backend validations to execute in strict mode only.
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/question_fetchers.py
  core/domain/state_domain.py
  core/jobs/batch_jobs/rejecting_suggestion_for_invalid_content_ids_jobs.py
  core/jobs/batch_jobs/rejecting_suggestion_for_invalid_content_ids_jobs_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#16428 Fix part of #15753: Fix curated exploration frontend validation checks
  assets/constants.ts
  core/domain/exp_services.py
  core/templates/domain/exploration/curated-exploration-validation.service.spec.ts
  core/templates/domain/exploration/curated-exploration-validation.service.ts
  core/templates/domain/exploration/exploration-id-validation.service.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.template.html
  core/templates/services/angular-services.index.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-validation.service.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-validation.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16496 Learner group view: Mobile view Improvements
  core/templates/pages/learner-group-pages/edit-group/edit-learner-group-page.component.css
  core/templates/pages/learner-group-pages/edit-group/learner-group-learner-specific-progress.component.css
  core/templates/pages/learner-group-pages/edit-group/learner-group-learners-progress.component.css
  core/templates/pages/learner-group-pages/edit-group/learner-group-overview.component.css
  core/templates/pages/learner-group-pages/edit-group/learner-group-preferences.component.css
  core/templates/pages/learner-group-pages/edit-group/learner-group-syllabus.component.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16470 Fix #15826: Create SECURITY.md file
  .github/SECURITY.md
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16508 Remove markdown templates
  .github/ISSUE_TEMPLATE/bug_report_markdown.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request_markdown.md
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16408 Adds backend class and frontend API methods for the diagnostic test questions handler
  assets/constants.ts
  core/controllers/diagnostic_test_player.py
  core/controllers/diagnostic_test_player_test.py
  core/feconf.py
  core/templates/components/question-directives/modal-templates/remove-question-skill-link-modal.comonent.spec.ts
  core/templates/domain/question/diagnostic-test-questions.model.spec.ts
  core/templates/domain/question/diagnostic-test-questions.model.ts
  core/templates/domain/question/question-backend-api.service.spec.ts
  core/templates/domain/question/question-backend-api.service.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/services/UpgradedServices.ts
  core/tests/webdriverio_desktop/checkpointFeatures.js
  core/tests/webdriverio_desktop/classroomPageFileUploadFeatures.js
  core/tests/webdriverio_desktop/learnerDashboard.js
  core/tests/webdriverio_desktop/topicAndStoryEditor.js
  main.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16104 Added support to stop the usage of prohibited type ignores in the codebase.
  .pylintrc
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#16232 Fix #15992 : Removed extra '.' seen in the end of Item selection dialog box
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.html
  extensions/interactions/ItemSelectionInput/ItemSelectionInput.py
  extensions/interactions/interaction_specs.json
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16473 Added Mypy type annotations to the `core/controller` directory's files - 3.
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/base.py
  core/controllers/blog_dashboard.py
  core/controllers/blog_dashboard_test.py
  core/controllers/blog_homepage.py
  core/controllers/blog_homepage_test.py
  core/controllers/classifier.py
  core/controllers/classifier_test.py
  core/controllers/classroom.py
  core/controllers/classroom_test.py
  core/controllers/collection_editor.py
  core/controllers/collection_editor_test.py
  core/controllers/collection_viewer.py
  core/controllers/collection_viewer_test.py
  core/controllers/concept_card_viewer.py
  core/controllers/concept_card_viewer_test.py
  core/controllers/contributor_dashboard_admin.py
  core/controllers/contributor_dashboard_admin_test.py
  core/controllers/creator_dashboard.py
  core/controllers/creator_dashboard_test.py
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/controllers/custom_landing_pages.py
  core/controllers/custom_landing_pages_test.py
  core/controllers/learner_dashboard.py
  core/controllers/learner_dashboard_test.py
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  core/domain/config_domain.py
  core/domain/config_domain_test.py
  core/domain/fs_services.py
  core/domain/topic_fetchers.py
  core/domain/topic_fetchers_test.py
  core/domain/user_services.py
  core/tests/test_utils.py
  scripts/run_mypy_checks.py
  stubs/proto_files/__init__.pyi
  stubs/proto_files/text_classifier_pb2.pyi
  stubs/proto_files/training_job_response_payload_pb2.pyi
  stubs/webapp2/__init__.pyi
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Typing -- @vojtechjelinek

#16142 Use Cloud Secret
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/blog_homepage.py
  core/controllers/blog_homepage_test.py
  core/controllers/creator_dashboard.py
  core/controllers/creator_dashboard_test.py
  core/controllers/profile_test.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/feconf.py
  core/jobs/batch_jobs/mailchimp_population_jobs.py
  core/jobs/batch_jobs/mailchimp_population_jobs_test.py
  core/platform/bulk_email/mailchimp_bulk_email_services.py
  core/platform/bulk_email/mailchimp_bulk_email_services_test.py
  core/platform/email/mailgun_email_services.py
  core/platform/email/mailgun_email_services_test.py
  core/platform/models.py
  core/platform/search/elastic_search_services.py
  core/platform/secrets/__init__.py
  core/platform/secrets/cloud_secrets_services.py
  core/platform/secrets/cloud_secrets_services_test.py
  core/platform/taskqueue/cloud_taskqueue_services.py
  core/platform/translate/cloud_translate_services.py
  mypy_imports.py
  requirements.in
  requirements.txt
  scripts/backend_test_shards.json
  stubs/google/cloud/secretmanager.pyi
Labels: PR: Affects datastore layer, PR CHANGELOG: Release team -- @nithusha21

#16461 Added Mypy type annotations to the `core/controller` directory's files - 2.
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/email_dashboard.py
  core/controllers/email_dashboard_test.py
  core/controllers/features.py
  core/controllers/features_test.py
  core/controllers/feedback.py
  core/controllers/feedback_test.py
  core/controllers/improvements.py
  core/controllers/improvements_test.py
  core/controllers/incoming_app_feedback_report.py
  core/controllers/incoming_app_feedback_report_test.py
  core/controllers/learner_goals.py
  core/controllers/learner_goals_test.py
  core/controllers/learner_playlist.py
  core/controllers/learner_playlist_test.py
  core/controllers/library.py
  core/controllers/library_test.py
  core/controllers/moderator.py
  core/controllers/moderator_test.py
  core/controllers/oppia_root.py
  core/controllers/oppia_root_test.py
  core/controllers/pages.py
  core/controllers/pages_test.py
  core/domain/state_domain.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/domain/user_query_services.py
  core/handler_schema_constants.py
  core/tests/test_utils.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#16435 Milestone 2.5: Adding E2E tests for blog homepage, author profile page and blog post page.
  .github/workflows/e2e_miscellaneous_tests.yml
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts
  core/templates/pages/blog-author-profile-page/blog-author-profile-page.component.html
  core/templates/pages/blog-author-profile-page/blog-author-profile-page.component.ts
  core/templates/pages/blog-dashboard-page/blog-card/blog-card.component.html
  core/templates/pages/blog-home-page/blog-home-page.component.html
  core/templates/pages/blog-home-page/tag-filter/tag-filter.component.html
  core/templates/pages/blog-post-page/blog-post-page.component.html
  core/tests/wdio.conf.js
  core/tests/webdriverio_desktop/blog.js
  core/tests/webdriverio_utils/BlogDashboardPage.js
  core/tests/webdriverio_utils/BlogPages.js
  core/tests/webdriverio_utils/general.js
Labels: PR: Affects datastore layer, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16524 Fixed mailchimp web tag
  core/domain/user_services.py
Labels: PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16533 Add GitHub's Vulnerability Report as a reporting option
  .github/SECURITY.md
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#16493 Typing files from scripts folder
  scripts/concurrent_task_utils.py
  scripts/linters/codeowner_linter.py
  scripts/linters/codeowner_linter_test.py
  scripts/linters/css_linter.py
  scripts/linters/general_purpose_linter.py
  scripts/linters/general_purpose_linter_test.py
  scripts/linters/html_linter.py
  scripts/linters/html_linter_test.py
  scripts/linters/js_ts_linter.py
  scripts/linters/js_ts_linter_test.py
  scripts/linters/linter_utils.py
  scripts/linters/other_files_linter.py
  scripts/linters/other_files_linter_test.py
  scripts/linters/pre_commit_linter.py
  scripts/linters/pre_commit_linter_test.py
  scripts/linters/python_linter.py
  scripts/linters/python_linter_test.py
  scripts/run_backend_tests.py
  scripts/run_backend_tests_test.py
  scripts/run_mypy_checks.py
  scripts/run_presubmit_checks.py
  scripts/run_tests.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#16453 Adds diagnostic test engine service
  assets/constants.ts
  core/templates/domain/question/diagnostic-test-questions.model.ts
  core/templates/domain/question/question-backend-api.service.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-current-topic-status.model.spec.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-current-topic-status.model.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-player-status.service.spec.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-player-status.service.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-player.component.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-topic-tracker.model.spec.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-topic-tracker.model.ts
  core/templates/pages/exploration-player-page/services/diagnostic-test-player-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/diagnostic-test-player-engine.service.ts
  core/templates/services/angular-services.index.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16238 Fix Part of issue #3056 : Remove .nav from areas other than the navbar.
  core/templates/pages/admin-page/roles-tab/roles-and-actions-visualizer.component.html
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#16525 Remaining changes for the #15861
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/state_domain.py
Labels: PR: for current release, PR CHANGELOG: Data handling -- @vojtechjelinek

#16558 Fix for flaky exp_domain's backend test.
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#16537 Fixes #16514: Replaces unlink icon with trash icon
  core/templates/components/question-directives/questions-list/questions-list.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16114 M2.2 & M2.3 (Helping learners when they get stuck): Add functions to detect misspellings and render meaningful responses.
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/app.constants.ts
  core/templates/pages/exploration-player-page/exploration-player-page.constants.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/services/answer-classification.service.spec.ts
  core/templates/pages/exploration-player-page/services/answer-classification.service.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.spec.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16158 Introduce GA4 events
  core/templates/components/question-directives/question-player/question-player.component.spec.ts
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/components/summary-tile/story-summary-tile.component.html
  core/templates/components/summary-tile/story-summary-tile.component.spec.ts
  core/templates/components/summary-tile/story-summary-tile.component.ts
  core/templates/i18n/i18n.service.spec.ts
  core/templates/i18n/i18n.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-save.service.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.component.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.spec.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  core/templates/pages/library-page/search-results/search-results.component.ts
  core/templates/pages/signup-page/signup-page.component.ts
  core/templates/pages/splash-page/splash-page.component.html
  core/templates/pages/splash-page/splash-page.component.spec.ts
  core/templates/pages/splash-page/splash-page.component.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts
  core/templates/services/autogenerated-audio-player.service.spec.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16532 Added Mypy type annotations to the `core/controller` directory's files - 5.
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/base_test.py
  core/controllers/skill_mastery.py
  core/controllers/skill_mastery_test.py
  core/controllers/story_editor.py
  core/controllers/story_editor_test.py
  core/controllers/story_viewer.py
  core/controllers/story_viewer_test.py
  core/controllers/subscriptions.py
  core/controllers/subscriptions_test.py
  core/controllers/subtopic_viewer.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/controllers/tasks.py
  core/controllers/tasks_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/controllers/topic_viewer.py
  core/controllers/topic_viewer_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/controllers/voice_artist.py
  core/controllers/voice_artist_test.py
  core/domain/change_domain.py
  core/domain/question_domain.py
  core/domain/story_fetchers.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/handler_schema_constants.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#16548 [Scripts - 3] Added types for pylint and docstring_checker
  scripts/docstrings_checker.py
  scripts/docstrings_checker_test.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#16501 Added Mypy type annotations to the `core/controller` directory's files - 4
  assets/constants.ts
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/learner_group.py
  core/controllers/learner_group_test.py
  core/controllers/payload_validator.py
  core/controllers/payload_validator_test.py
  core/controllers/platform_feature.py
  core/controllers/platform_feature_test.py
  core/controllers/practice_sessions.py
  core/controllers/practice_sessions_test.py
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/controllers/question_editor.py
  core/controllers/question_editor_test.py
  core/controllers/questions_list.py
  core/controllers/questions_list_test.py
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/controllers/recent_commits.py
  core/controllers/recent_commits_test.py
  core/controllers/release_coordinator.py
  core/controllers/release_coordinator_test.py
  core/controllers/resources.py
  core/controllers/resources_test.py
  core/controllers/review_tests.py
  core/controllers/review_tests_test.py
  core/controllers/skill_editor.py
  core/controllers/skill_editor_test.py
  core/domain/email_manager_test.py
  core/domain/exp_fetchers.py
  core/domain/exp_services.py
  core/domain/learner_group_fetchers.py
  core/domain/learner_group_fetchers_test.py
  core/domain/platform_parameter_domain.py
  core/domain/stats_domain.py
  core/domain/stats_domain_test.py
  core/domain/stats_services.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/handler_schema_constants.py
  core/tests/test_utils.py
  main.py
  scripts/contributor_dashboard_debug.py
  scripts/run_mypy_checks.py
  stubs/webapp2/__init__.pyi
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#16544 [Scripts - 2] Added typing to install scripts files
  core/utils.py
  scripts/install_python_prod_dependencies.py
  scripts/install_python_prod_dependencies_test.py
  scripts/install_third_party.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/install_third_party_test.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
  scripts/pre_push_hook.py
  scripts/run_mypy_checks.py
  scripts/run_mypy_checks_test.py
  stubs/pkg_resources/__init__.pyi
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#16578 Fix #16536: Filter out obsolete translation suggestions in review contributor dashboard
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Contributor Pages -- @sagangwee, PR: Needs to be hotfixed

#16289 (Contributor Recognition Infrastructure) Milestone 2.2: Create contributor stats component to contributor dashboard with mobile view
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/platform_feature_list.py
  core/templates/app.constants.ts
  core/templates/domain/platform_feature/feature-status-summary.model.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/contributor-dashboard-page/contributor-stats/contributor-stats.component.html
  core/templates/pages/contributor-dashboard-page/contributor-stats/contributor-stats.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-stats/contributor-stats.component.ts
  core/templates/services/platform-feature.service.spec.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#16061 Add topic migration job
  core/domain/topic_domain.py
  core/domain/topic_services.py
  core/domain/topic_services_test.py
  core/jobs/batch_jobs/topic_migration_jobs.py
  core/jobs/batch_jobs/topic_migration_jobs_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#16551 Fix #15995: Adding more strict types to customization args.
  core/controllers/contributor_dashboard_test.py
  core/controllers/suggestion_test.py
  core/domain/customization_args_util.py
  core/domain/customization_args_util_test.py
  core/domain/draft_upgrade_services.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/html_cleaner.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/stats_domain.py
  core/domain/stats_services.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/jobs/batch_jobs/opportunity_management_jobs_test.py
  core/tests/test_utils.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#16290 Fix part of N/A: Added the button to fix the commit commands
  .github/CODEOWNERS
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/jobs/batch_jobs/exp_version_history_computation_job.py
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.html
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.spec.ts
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/fix-commit-command-backend-api.service.spec.ts
  core/templates/services/fix-commit-command-backend-api.service.ts
  main.py
Labels: PR: LGTM, PR: Affects datastore layer

#16374 Milestone 2.1 (Improving the lesson creation experience): Frontend changes for users to be able to explore the version history.
  assets/constants.ts
  core/domain/exp_services.py
  core/templates/domain/exploration/ExplorationObjectFactory.ts
  core/templates/domain/exploration/ExplorationObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.html
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/state-version-history/state-version-history.component.html
  core/templates/pages/exploration-editor-page/editor-tab/state-version-history/state-version-history.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/state-version-history/state-version-history.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/modal-templates/metadata-version-history-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/metadata-version-history-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/metadata-version-history-modal.component.ts
  core/templates/pages/exploration-editor-page/modal-templates/state-version-history-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/state-version-history-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/state-version-history-modal.component.ts
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-states.service.ts
  core/templates/pages/exploration-editor-page/services/version-history.service.spec.ts
  core/templates/pages/exploration-editor-page/services/version-history.service.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts
  core/templates/pages/exploration-player-page/services/audio-preloader.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/templates/pages/exploration-player-page/services/extract-image-filenames-from-model.service.spec.ts
  core/templates/pages/exploration-player-page/services/image-preloader.service.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/exploration-improvements-task-registry.service.ts
Labels: PR: LGTM

#16489 Diagnostic test session
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/classroom.py
  core/controllers/classroom_test.py
  core/feconf.py
  core/templates/domain/classroom/classroom-backend-api.service.spec.ts
  core/templates/domain/classroom/classroom-backend-api.service.ts
  core/templates/domain/classroom/classroom-domain.constants.ajs.ts
  core/templates/domain/classroom/classroom-domain.constants.ts
  core/templates/pages/admin-page/activities-tab/admin-dev-mode-activities-tab.component.html
  core/templates/pages/classroom-admin-page/classroom-admin-page.component.html
  core/templates/pages/classroom-admin-page/modals/create-new-classroom-modal.component.html
  core/templates/pages/classroom-page/classroom-page.component.css
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/classroom-page/classroom-page.component.spec.ts
  core/templates/pages/classroom-page/classroom-page.component.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-current-topic-status.model.spec.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-current-topic-status.model.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-player-page.module.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-player-status.service.spec.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-player-status.service.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-player.component.html
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-player.component.spec.ts
  core/templates/pages/diagnostic-test-player-page/diagnostic-test-player.component.ts
  core/templates/pages/exploration-player-page/exploration-player-page.constants.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.css
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.html
  core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
  core/templates/pages/exploration-player-page/services/diagnostic-test-player-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/diagnostic-test-player-engine.service.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
  core/tests/wdio.conf.js
  core/tests/webdriverio_desktop/diagnosticTestPage.js
  core/tests/webdriverio_utils/ClassroomPage.js
  core/tests/webdriverio_utils/DiagnosticTestPage.js
  core/tests/webdriverio_utils/ExplorationPlayerPage.js
  main.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16241 Fix part of #13162: Add schema for AudioUploadHandler
  core/controllers/resources_test.py
  core/controllers/voice_artist.py
  core/handler_schema_constants.py
  core/schema_utils.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#16459 (Contributor Recognition Infrastructure) Milestone2.3: Add contributor badges with the mobile view
  assets/images/contributor_dashboard/locked-badge.svg
  assets/images/contributor_dashboard/question-correction-badge.component.svg
  assets/images/contributor_dashboard/question-review-badge.component.svg
  assets/images/contributor_dashboard/question-submission-badge.component.svg
  assets/images/contributor_dashboard/translation-correction-badge.component.svg
  assets/images/contributor_dashboard/translation-review-badge.component.svg
  assets/images/contributor_dashboard/translation-submission-badge.component.svg
  core/templates/app.constants.ts
  core/templates/pages/contributor-dashboard-page/badge/badge.component.html
  core/templates/pages/contributor-dashboard-page/badge/badge.component.spec.ts
  core/templates/pages/contributor-dashboard-page/badge/badge.component.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributor-badges/contributor-badges.component.html
  core/templates/pages/contributor-dashboard-page/contributor-badges/contributor-badges.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-badges/contributor-badges.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#16617 Changes in GSoC Project (Helping learners when they get stuck)
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-if-stuck-destination-editor.component.html
  core/templates/domain/state_card/state-card.model.spec.ts
  core/templates/domain/state_card/state-card.model.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/services/player-transcript.service.spec.ts
  core/templates/pages/exploration-player-page/services/player-transcript.service.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16619 Fix: #13108: Changed `follow_imports` flag from `silent` to `normal` for more strict typing.
  mypy.ini
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#16623 Rerun frontend tests on PRs
  .github/workflows/frontend_tests.yml
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#16528 Add migration results filter to skill and story migration jobs
  core/jobs/batch_jobs/skill_migration_jobs.py
  core/jobs/batch_jobs/skill_migration_jobs_test.py
  core/jobs/batch_jobs/story_migration_jobs.py
  core/jobs/batch_jobs/story_migration_jobs_test.py
  core/jobs/transforms/results_transforms.py
  core/jobs/transforms/results_transforms_test.py
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek

#16624 Add Amharic (አማርኛ) to supported languages
  assets/constants.ts
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#16625 Fix #16606: Make topological sort creation deterministic
  scripts/create_topological_sort_of_all_services.py
  scripts/create_topological_sort_of_all_services_test.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#16502 Fix #15512: Add try/except to get_multi in datastore services
  core/platform/datastore/cloud_datastore_services.py
  core/platform/datastore/cloud_datastore_services_test.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#16628 Improving Blog Dashboard and Blog Homepage UI
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.html
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.html
  core/templates/pages/blog-dashboard-page/modal-templates/author-detail-editor-modal.component.html
  core/templates/pages/blog-home-page/blog-home-page.component.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16631 Changes on improving redirection to stuck state (Helping learners when they get stuck)
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16637 Fix #16634: Fix Draft migration error
  core/domain/draft_upgrade_services.py
  core/domain/draft_upgrade_services_test.py
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16629 Fix #16028 and #12647: Cache pip dependencies and make E2E tests use shared webpack build
  .github/workflows/e2e_additional_editor_and_player.yml
  .github/workflows/e2e_coverage_and_typescript_tests.yml
  .github/workflows/e2e_creator_learner_dashboard_and_editor_tabs.yml
  .github/workflows/e2e_history_statistics_tabs_and_extensions.yml
  .github/workflows/e2e_learner_flow_skill_editor_and_embedding.yml
  .github/workflows/e2e_miscellaneous_tests.yml
  .github/workflows/e2e_other_tests.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_topic_tests.yml
  .github/workflows/e2e_translation_classroom_and_core_features.yml
  .github/workflows/e2e_user_features_and_library.yml
  .github/workflows/e2e_user_profile.yml
  .github/workflows/lint.yml
  core/tests/data/dummy_ci_tests/e2e_actions_dummy.yml
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/check_e2e_tests_are_captured_in_ci_test.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD, PR: require post-merge sync to HEAD

#16639 Create new backend test shard for more parallelization
  .github/workflows/backend_tests.yml
  .github/workflows/typescript_and_e2e_coverage.yml
  scripts/backend_test_shards.json
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD, PR: require post-merge sync to HEAD

#16644 GA analytics updates
  core/templates/components/question-directives/question-player/question-player.component.spec.ts
  core/templates/components/question-directives/question-player/question-player.component.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.html
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Needs to be hotfixed

#16605 Introduce new Donate page
  .github/CODEOWNERS
  assets/constants.ts
  assets/i18n/ar.json
  assets/i18n/bn.json
  assets/i18n/de.json
  assets/i18n/en.json
  assets/i18n/es.json
  assets/i18n/fr.json
  assets/i18n/kab.json
  assets/i18n/nl.json
  assets/i18n/pl.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/sk.json
  assets/i18n/sw.json
  assets/i18n/tr.json
  assets/i18n/uk.json
  assets/i18n/vi.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  assets/images/donate/donate-page-banner.jpg
  assets/images/donate/donate-page-banner.webp
  assets/images/donate/oppia-donate-learner15x.png
  assets/images/donate/oppia-donate-learner15x.webp
  assets/images/donate/oppia-donate-learner1x.png
  assets/images/donate/oppia-donate-learner1x.webp
  assets/images/donate/oppia-donate-learner2x.png
  assets/images/donate/oppia-donate-learner2x.webp
  assets/images/donate/oppia-donate-maintenance.svg
  assets/images/donate/oppia-donate-outreach.svg
  assets/images/donate/oppia-donate-spread-word.svg
  assets/images/donate/thanks-for-donating.jpg
  assets/images/donate/thanks-for-donating.webp
  assets/images/donate/thanks-for-subscribing.jpg
  assets/images/donate/thanks-for-subscribing.webp
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/templates/components/shared-component.module.ts
  core/templates/domain/mailing-list/mailing-list-backend-api.service.spec.ts
  core/templates/domain/mailing-list/mailing-list-backend-api.service.ts
  core/templates/pages/android-page/android-page.component.spec.ts
  core/templates/pages/android-page/android-page.component.ts
  core/templates/pages/donate-page/donate-page.component.html
  core/templates/pages/donate-page/donate-page.component.spec.ts
  core/templates/pages/donate-page/donate-page.component.ts
  core/templates/pages/donate-page/donate-page.module.ts
  core/templates/pages/donate-page/thanks-for-donating-modal.component.html
  core/templates/pages/donate-page/thanks-for-donating-modal.component.spec.ts
  core/templates/pages/donate-page/thanks-for-donating-modal.component.ts
  core/templates/pages/donate-page/thanks-for-subscribing-modal.component.html
  core/templates/pages/donate-page/thanks-for-subscribing-modal.component.spec.ts
  core/templates/pages/donate-page/thanks-for-subscribing-modal.component.ts
  core/templates/services/angular-services.index.ts
  core/tests/webdriverio_desktop/navigation.js
  main.py
  package.json
  yarn.lock
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Learner/Creator Pages -- @aks681, PR: Needs to be hotfixed

#16645 Remove duplicate 'collections' suite from E2E workflow
  .github/workflows/e2e_tests.yml
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#16655 Edit .gcloudignore
  .gcloudignore
  assets/release_constants.json
Labels: PR CHANGELOG: Release team -- @nithusha21
