Repository oppia/oppia, pull requests merged in 2022-06, with the labels that each got.

#15513 Fixes the failing tests of PR #15421
  core/domain/cron_services.py
  core/platform/models.py
  scripts/run_mypy_checks.py
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15494 Fix how we revert wiki changes from web interface
  .github/workflows/revert-web-wiki-updates.yml
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15161 Fix part of #14219: Increasing backend test coverage of core.utils_test to 100%
  core/domain/platform_parameter_list_test.py
  core/tests/data/dummy_assets_yaml/assets/images/sample_Img.svg
  core/tests/data/dummy_assets_yaml/assets/images/sample_Img2.svg
  core/tests/data/dummy_assets_yaml/example.yaml
  core/tests/data/test_png_img.png
  core/utils.py
  core/utils_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15417 Fix part of #13822: Added backend validation for story_is_published to be boolean
  core/domain/topic_domain.py
  core/domain/topic_domain_test.py
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#15520 Fix #15507: The mobile UI for the answer selection modal is offset to the left
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.template.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15438 Fix Part of #9749: Migrate Outcome editor
  core/templates/components/shared-component.module.ts
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.html
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.ts
  core/tests/protractor_desktop/additionalEditorFeatures.js
Labels: PR: LGTM, PR CHANGELOG: Angular Migration -- @srijanreddy98

#15435 Fix part of #14033: Type annotate html_cleaner.py
  core/domain/blog_domain.py
  core/domain/html_cleaner.py
  core/domain/html_cleaner_test.py
  core/schema_utils.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15554 Fix bug preventing voiceover artists from editing
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.html
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15496 Fix #12425: Change Drag and Drop sort input so it displays the answer HTML instead of the contentID
  core/templates/components/state-editor/state-solution-editor/state-solution-editor.component.ts
  core/templates/domain/exploration/SolutionObjectFactory.ts
  core/templates/domain/exploration/SolutionObjectFactorySpec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-response.component.html
  extensions/interactions/DragAndDropSortInput/directives/oppia-response-drag-and-drop-sort-input.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-response-drag-and-drop-sort-input.component.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15295 Fix part of #15182: Organize translations in translation review page by lesson
  assets/constants.ts
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/feconf.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/tests/test_utils.py
  main.py
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee, PR: Affects datastore layer, PR: Needs to be hotfixed

#15356 Fix part of #14219: Increase Per-File Backend Test Coverage
  core/domain/user_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15556 Fix #15369: Users can now use the keyboard to navigate the Learner Dashboard
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.rtl.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.rtl.css
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15483 Fix part of #14033: Added Mypy type annotations to `param_domain` and `story_domain`
  core/domain/app_feedback_report_domain.py
  core/domain/app_feedback_report_domain_test.py
  core/domain/caching_services.py
  core/domain/caching_services_test.py
  core/domain/collection_domain.py
  core/domain/param_domain.py
  core/domain/param_domain_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_fetchers.py
  core/domain/story_fetchers_test.py
  core/domain/value_generators_domain.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15585 Fix #14199: Fixed math OSK UI for iOS devices.
  core/templates/components/on-screen-keyboard/on-screen-keyboard.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15566 Fix part of #14219: Increase Per-File Backend Test Coverage for tasks.py
  core/controllers/tasks_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#15549 Improve splash page loading speed : Remove material icons
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.rtl.css
  core/templates/pages/splash-page/splash-page.component.css
  core/templates/pages/splash-page/splash-page.component.html
  core/templates/pages/splash-page/splash-page.component.rtl.css
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15278 Fix part of #14702: Add the stale tab detection functionality for topic editor page
  core/templates/components/entity-creation-services/story-creation.service.spec.ts
  core/templates/components/entity-creation-services/story-creation.service.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.ts
  core/templates/pages/topic-editor-page/services/topic-editor-staleness-detection.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-staleness-detection.service.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.ts
  core/templates/services/angular-services.index.ts
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_utils/TopicEditorPage.js
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15573 Fix #15570: Fix change detection issue in question editor modal.
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15593 Revert "Fix part of #14702: Add the stale tab detection functionality for topic editor page"
  core/templates/components/entity-creation-services/story-creation.service.spec.ts
  core/templates/components/entity-creation-services/story-creation.service.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.ts
  core/templates/pages/topic-editor-page/services/topic-editor-staleness-detection.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-staleness-detection.service.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.ts
  core/templates/services/angular-services.index.ts
  core/tests/protractor_desktop/topicAndStoryEditor.js
  core/tests/protractor_utils/TopicEditorPage.js
Labels: REVIEWERS: Please add changelog label

#15553 Fix #15538, #15541, #15534, #15527: fixes console error when previewing a skill; fixes invalid profile URL in the history tab; fixes controller schema validation error
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/templates/app.constants.ts
  core/templates/components/profile-link-directives/profile-link-text.component.spec.ts
  core/templates/components/profile-link-directives/profile-link-text.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.ts
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.component.spec.ts
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.component.ts
  extensions/objects/templates/image-editor.component.ts
  extensions/objects/templates/image-with-regions-editor.component.spec.ts
  extensions/objects/templates/image-with-regions-editor.component.ts
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15557 Remove import from utils
  core/constants.py
  core/constants_test.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/utils.py
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/install_third_party_libs.py
  scripts/linters/pre_commit_linter.py
  scripts/rtl_css.py
  scripts/run_e2e_tests.py
  scripts/run_frontend_tests.py
  scripts/run_lighthouse_tests.py
  scripts/run_portserver.py
  scripts/third_party_size_check.py
  scripts/typescript_checks.py
Labels: PR: for current release, PR CHANGELOG: Dev Workflow -- @U8NWXD, PR: don't merge - STALE BUILD

#15564 Fix #15511: Add a Uploading animation when user clicks 'Use This Image'
  extensions/objects/templates/image-editor.component.html
  extensions/objects/templates/image-editor.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15582 Milestone 1.1 (Improving the lesson creation experience): Create the new domain objects
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/templates/domain/collection/search-explorations-backend-api.service.spec.ts
  core/templates/domain/collection/search-explorations-backend-api.service.ts
  core/templates/domain/exploration/ExplorationMetadataObjectFactory.ts
  core/templates/domain/exploration/ExplorationMetadataObjectFactorySpec.ts
  core/templates/domain/exploration/exploration-search-result.model.spec.ts
  core/templates/domain/exploration/exploration-search-result.model.ts
  core/templates/domain/state/state-version-history.model.spec.ts
  core/templates/domain/state/state-version-history.model.ts
  core/templates/services/angular-services.index.ts
  tsconfig-strict.json
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15578 Enable typescript strict mode for all the newly added files and number of errors along with errors log.
  .gitignore
  scripts/linters/other_files_linter.py
  scripts/linters/other_files_linter_test.py
  scripts/linters/test_files/invalid_strict_ts_config.json
  scripts/linters/test_files/valid_strict_ts_config.json
  scripts/typescript_checks.py
  scripts/typescript_checks_test.py
  tsconfig-strict.json
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15608 Fix pre-commit linter and release scripts
  scripts/pre_commit_hook.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/repo_specific_changes_fetcher.py
  scripts/release_scripts/update_changelog_and_credits.py
  scripts/release_scripts/update_configs.py
Labels: PR CHANGELOG: Bug fixes -- @nithusha21, PR: require post-merge sync to HEAD

#15589 (Celebrating learners' accomplishments) Milestone 1.1: Add end chapter check-mark and confetti
  assets/audio/end_chapter_celebratory_tadaa.mp3
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/platform_feature_list.py
  core/templates/components/shared-component.module.ts
  core/templates/domain/platform_feature/feature-status-summary.model.ts
  core/templates/domain/utilities/url-interpolation.service.spec.ts
  core/templates/domain/utilities/url-interpolation.service.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.html
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/end-chapter-check-mark.component.html
  core/templates/pages/exploration-player-page/learner-experience/end-chapter-check-mark.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/end-chapter-check-mark.component.ts
  core/templates/pages/exploration-player-page/learner-experience/end-chapter-confetti.component.html
  core/templates/pages/exploration-player-page/learner-experience/end-chapter-confetti.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/end-chapter-confetti.component.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.rtl.css
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.ts
  core/templates/services/platform-feature.service.spec.ts
  core/tests/data/hashes.json
  scripts/build.py
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15547 Learner checkpointing: Follow up changes
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/domain/exploration/read-only-exploration-backend-api.service.spec.ts
  core/templates/domain/exploration/read-only-exploration-backend-api.service.ts
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.rtl.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/tests/protractor/learnerFlow.js
  core/tests/protractor_desktop/additionalPlayerFeatures.js
  core/tests/protractor_desktop/coreEditorAndPlayerFeatures.js
  core/tests/protractor_utils/ExplorationPlayerPage.js
Labels: PR: LGTM

#15583 Milestone 1.1 (Learner group MVP): Add learner group related models and domains
  .github/CODEOWNERS
  core/domain/learner_group_domain.py
  core/domain/learner_group_domain_test.py
  core/domain/takeout_service_test.py
  core/domain/user_domain.py
  core/domain/user_domain_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/feconf.py
  core/platform/models.py
  core/platform/models_test.py
  core/storage/learner_group/__init__.py
  core/storage/learner_group/gae_models.py
  core/storage/learner_group/gae_models_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  mypy_imports.py
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Learner/Creator Pages -- @aks681

#15501 Added Mypy type annotations to `validation_decorators.py` and `job_result_transforms.py`
  core/jobs/decorators/validation_decorators.py
  core/jobs/decorators/validation_decorators_test.py
  core/jobs/transforms/job_result_transforms.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM, PR CHANGELOG: Typing -- @vojtechjelinek

#15575 Fix #15526 and #15523: Console errors when ENTER key is used in a numeric input field and Unable to enter numbers in formats using a comma as a decimal separator
  core/templates/components/forms/schema-based-editors/integration-tests/schema-based-editors.integration.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-float-editor.component.html
  core/templates/components/forms/schema-based-editors/schema-based-float-editor.component.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-float-editor.component.ts
Labels: PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#15580 Fix part of #14033: Added Mypy type annotations to some files of `domain` folder. -- M1.2
  core/domain/auth_domain.py
  core/domain/auth_domain_test.py
  core/domain/auth_services.py
  core/domain/auth_services_test.py
  core/domain/change_domain.py
  core/domain/config_domain.py
  core/domain/customization_args_util.py
  core/domain/customization_args_util_test.py
  core/domain/email_subscription_services_test.py
  core/domain/improvements_services.py
  core/domain/improvements_services_test.py
  core/domain/interaction_registry.py
  core/domain/interaction_registry_test.py
  core/domain/learner_goals_services.py
  core/domain/learner_goals_services_test.py
  core/domain/playthrough_issue_registry.py
  core/domain/playthrough_issue_registry_test.py
  core/domain/recommendations_services.py
  core/domain/recommendations_services_test.py
  core/domain/subscription_services.py
  core/domain/subscription_services_test.py
  core/domain/subtopic_page_domain.py
  core/domain/taskqueue_services.py
  core/domain/taskqueue_services_test.py
  core/domain/topic_domain.py
  core/domain/user_domain_test.py
  core/feconf.py
  core/storage/collection/gae_models_test.py
  core/storage/exploration/gae_models_test.py
  core/storage/improvements/gae_models.py
  extensions/interactions/base.py
  mypy_imports.py
  scripts/run_mypy_checks.py
  stubs/google/cloud/ndb/query.pyi
Labels: PR CHANGELOG: Typing -- @vojtechjelinek

#15460 Fix #15385: Added functionality to persist translator language on [CD - Translate Text].
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/domain/auth_services_test.py
  core/domain/takeout_service_test.py
  core/domain/user_domain.py
  core/domain/user_domain_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_service_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.ts
  core/templates/services/UpgradedServices.ts
  core/tests/protractor_desktop/contributorDashboard.js
  main.py
Labels: PR CHANGELOG: Contributor Pages -- @sagangwee

#15647 Fix #15646: Add SmartRouterModule to release-coordinator module
  core/templates/pages/release-coordinator-page/release-coordinator-page.module.ts
Labels: PR: for current release, PR CHANGELOG: Speed improvement -- @vojtechjelinek

#15619 Codeowner changes for LaCE team
  .github/CODEOWNERS
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15635 Add new flag "download_combined_frontend_file" to frontend test execution file
  scripts/run_frontend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15616 Fix #15150: Learner Dashboard fix for no scroll bar present to check the progress of community lessons if more than 3 lessons are present.
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.html
  core/templates/pages/learner-dashboard-page/home-tab.component.css
  core/templates/pages/learner-dashboard-page/home-tab.component.rtl.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.rtl.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#15598 Fix #13500: Data passed to platform storage service is always in bytes
  core/domain/fs_services.py
  core/domain/fs_services_test.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD, PR CHANGELOG: Typing -- @vojtechjelinek

#15594 (Making Contributor Dashboard UI Responsive) Milestone 1.1: Implement the mobile UI for dashboard tabs and navigation
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.ts
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.html
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#15628 Fix part of #8668: Document url-interpolation.service.ts with jsdoc
  core/templates/domain/utilities/url-interpolation.service.ts
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#15605 Fix Part of #13162: Add schema for UsernameCheckHandler and ReaderFeedbackHandler
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/controllers/reader.py
  core/handler_schema_constants.py
Labels: PR: LGTM, PR CHANGELOG: Data handling -- @vojtechjelinek

#15641 Fix #15638: Fix broken page and broken FA icons
  .gcloudignore
  core/templates/pages/email-dashboard-pages/email-dashboard-result.module.ts
  core/templates/pages/header_css_libs.html
  core/templates/pages/maintenance-page/maintenance-page.module.ts
  core/templates/pages/review-test-page/review-test-page.module.ts
  dependencies.json
Labels: PR: LGTM, PR: for current release, PR CHANGELOG: Bug fixes -- @nithusha21

#15422 Backend changes for Logged-out experience (User Checkpoints Project)
  assets/constants.ts
  core/controllers/reader.py
  core/controllers/reader_test.py
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
  core/domain/exp_fetchers.py
  core/domain/exp_fetchers_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/storage/exploration/gae_models.py
  core/storage/exploration/gae_models_test.py
  main.py
Labels: PR: LGTM, PR: Affects datastore layer, PR CHANGELOG: Learner/Creator Pages -- @aks681
