Repository oppia/oppia, pull requests merged in 2023-09, with the labels that each got.

#18823 Fix search bar container's alignment
  core/templates/pages/classroom-page/classroom-page.component.css
  core/templates/pages/classroom-page/classroom-page.component.html
Labels: PR: LGTM

#18739 Improve UI for platform parameters
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.html
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.spec.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.ts
Labels: PR: LGTM

#18395 Fix #18509: Adds the translation editing feature in the exploration editor page
  core/domain/change_domain.py
  core/domain/exp_domain.py
  core/domain/exp_services.py
  core/domain/translation_services.py
  core/domain/translation_services_test.py
  core/templates/domain/exploration/TranslatedContentObjectFactory.ts
  core/templates/domain/exploration/TranslatedContentObjectFactorySpec.ts
  core/templates/domain/exploration/exploration-draft.model.ts
  core/templates/domain/translation/EntityTranslationObjectFactory.spec.ts
  core/templates/domain/translation/EntityTranslationObjectFactory.ts
  core/templates/domain/translation/EntityTranslationObjectFactorySpec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.spec.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-diff.service.ts
  core/templates/pages/exploration-editor-page/services/exploration-states.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-tab-active-content-id.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.html
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.html
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.ts
Labels: PR: LGTM, PR: Needs to be hotfixed

#18833 Fix#18376: Mark display flex as important
  core/templates/base-components/base-content.component.css
  core/templates/base-components/base-content.component.html
Labels: PR: LGTM

#18564 Remove server mode filter from platform parameter filters
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/diagnostic_test_player.py
  core/controllers/diagnostic_test_player_test.py
  core/controllers/platform_feature_test.py
  core/controllers/release_coordinator.py
  core/controllers/release_coordinator_test.py
  core/controllers/resources.py
  core/domain/caching_services_test.py
  core/domain/learner_group_services_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_domain_test.py
  core/domain/platform_parameter_list_test.py
  core/domain/platform_parameter_registry_test.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.spec.ts
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.ts
  core/templates/domain/platform_feature/platform-parameter-filter.model.spec.ts
  core/templates/domain/platform_feature/platform-parameter-filter.model.ts
  core/templates/domain/platform_feature/platform-parameter-rule.model.spec.ts
  core/templates/domain/platform_feature/platform-parameter-rule.model.ts
  core/templates/domain/platform_feature/platform-parameter.model.spec.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.spec.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.ts
  core/templates/pages/admin-page/services/admin-data.service.spec.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.html
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.spec.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.constants.ts
  core/tests/webdriverio/featureGatingFlow.js
  core/tests/webdriverio_desktop/checkpointFeatures.js
  core/tests/webdriverio_desktop/explorationImprovementsTab.js
  core/tests/webdriverio_desktop/publicationAndLibrary.js
  core/tests/webdriverio_desktop/topicAndStoryViewer.js
  core/tests/webdriverio_utils/ReleaseCoordinatorPage.js
Labels: PR: LGTM

#18802 Add sanitization for text-nodes for computing length
  core/templates/services/html-length.service.spec.ts
  core/templates/services/html-length.service.ts
Labels: PR: LGTM

#18840 Fix #18690: Wrap skill descriptions in the skill selection modal
  core/templates/components/skill-selector/skill-selector.component.html
Labels: PR: LGTM

#18826 Fix #17722: Remove extra white space below the 'Review Translations' - Language Selector
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
Labels: PR: LGTM

#18755 Fix #18201: Math equation disappearing after opening concept card
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.component.spec.ts
  extensions/rich_text_components/Skillreview/directives/oppia-noninteractive-skillreview.component.ts
Labels: PR: LGTM

#18797 FIX#18785: Unexpected behavior of scroll bar #18785
  core/templates/pages/library-page/search-bar/search-bar.component.css
Labels: PR: LGTM

#18810 Fix : [Mobile][BUG]: Unable to select classroom in Topic filters dialogbox #18558
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.ts
Labels: PR: LGTM

#18768 Fix #18715: Story Editor's thumbnail editor is not responding
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.component.html
Labels: PR: LGTM

#18477 Migrate rest of the config properties
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/blog_admin.py
  core/controllers/blog_admin_test.py
  core/controllers/blog_dashboard.py
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/domain/config_domain.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_domain_test.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/domain/platform_parameter_registry.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/suggestion_services.py
  core/platform_feature_list.py
  core/templates/components/forms/schema-based-editors/schema-based-float-editor.component.html
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/blog-admin/blog-admin-backend-api.service.spec.ts
  core/templates/domain/blog-admin/blog-admin-backend-api.service.ts
  core/templates/pages/blog-admin-page/blog-admin-page.component.html
  core/templates/pages/blog-admin-page/blog-admin-page.component.spec.ts
  core/templates/pages/blog-admin-page/blog-admin-page.component.ts
  core/templates/pages/blog-admin-page/services/blog-admin-data.service.spec.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/blog-post-admin-utils.js
Labels: PR: LGTM, PR: Affects datastore layer

#18588 Migrate email related config properties to platform parameters
  core/controllers/classifier.py
  core/controllers/classifier_test.py
  core/controllers/cron_test.py
  core/controllers/editor_test.py
  core/domain/caching_services_test.py
  core/domain/config_domain.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/domain/platform_parameter_registry.py
  core/feconf.py
  core/platform_feature_list.py
  core/schema_utils_test.py
  core/storage/email/gae_models.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.html
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.spec.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.ts
Labels: PR: LGTM, PR: Affects datastore layer

#18830 Sort contribution dates of TranslationContributionStats when generating from the beam job
  core/domain/suggestion_services.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs_test.py
Labels: PR: LGTM, PR: Affects datastore layer

#18843 Fix part of #16535: Modify topic viewer page for learner
  core/controllers/topic_editor.py
  core/controllers/topic_viewer.py
  core/templates/components/summary-tile/story-summary-tile.component.css
  core/templates/components/summary-tile/story-summary-tile.component.html
  core/templates/components/summary-tile/story-summary-tile.component.spec.ts
  core/templates/components/summary-tile/story-summary-tile.component.ts
Labels: PR: LGTM

#18850 Fix #18682: Don't show default outcome feedback question validation error if default answer group is hidden
  core/templates/components/question-directives/questions-list/questions-list.component.html
  core/templates/components/question-directives/questions-list/questions-list.component.spec.ts
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/question/QuestionObjectFactorySpec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/services/responses.service.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/question-validation.service.spec.ts
  core/templates/services/question-validation.service.ts
Labels: PR: LGTM

#18750 Fix #10889: Add un-escaping of suggestion's translation content for display as translation suggestion heading
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
Labels: PR: LGTM

#18862 Fix #18844: Accordion panels not collapsing
  core/templates/pages/donate-page/donate-page.component.html
  core/templates/pages/partnerships-page/partnerships-page.component.html
Labels: PR: LGTM

#18857 Fix #18500: Add client-side validation for the Author Name with regex in place
  core/templates/pages/blog-dashboard-page/modal-templates/author-detail-editor-modal.component.spec.ts
  core/templates/pages/blog-dashboard-page/modal-templates/author-detail-editor-modal.component.ts
Labels: PR: LGTM

#18856 Fix #18709: Make the `subscribe/donate modal` responsive on all dimensions
  core/templates/pages/donate-page/thanks-for-donating-modal.component.html
  core/templates/pages/donate-page/thanks-for-subscribing-modal.component.html
Labels: PR: LGTM

#18825 Fix #18824: behaviour of next and previous buttons in translation review modal
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.ts
Labels: PR: LGTM

#18399 Fix part of #15927: Add question migration job
  core/domain/question_services.py
  core/domain/question_services_test.py
  core/jobs/batch_jobs/question_migration_jobs.py
  core/jobs/batch_jobs/question_migration_jobs_test.py
Labels: PR: LGTM, PR: Affects datastore layer

#18861 Fix #18860: Add ConnectionResetError to Exception Catch
  scripts/common.py
Labels: PR: LGTM

#18597 Beam Job for populating new models used in Contributor Admin Dashboard: GSoC M1.4
  core/jobs/batch_jobs/contributor_admin_stats_jobs.py
  core/jobs/batch_jobs/contributor_admin_stats_jobs_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
  scripts/linters/test_files/valid_job_imports.py
Labels: PR: LGTM, PR: Affects datastore layer, PR: don't merge - STALE BUILD

#18872 Migrates record_playthrough_probability config property | Adds frontend validation for the app-version filter | Improves backend test to use swap
  core/controllers/admin_test.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/reader.py
  core/domain/config_domain.py
  core/domain/config_domain_test.py
  core/domain/config_services_test.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/domain/platform_parameter_registry.py
  core/platform_feature_list.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.spec.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.ts
Labels: PR: LGTM

#18712 Fix part of #11776. Adding/Updating 'Args' and 'Return' in docstrings
  core/controllers/contributor_dashboard.py
  core/controllers/editor.py
  core/controllers/story_viewer.py
  core/controllers/subtopic_viewer.py
  core/controllers/suggestion.py
  core/controllers/topics_and_skills_dashboard.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18647 Fix part of #15927: Add subtopic migration job
  core/domain/subtopic_page_domain.py
  core/domain/subtopic_page_services.py
  core/domain/subtopic_page_services_test.py
  core/jobs/batch_jobs/subtopic_migration_jobs.py
  core/jobs/batch_jobs/subtopic_migration_jobs_test.py
  core/jobs/registry.py
  index.yaml
  scripts/backend_test_shards.json
  scripts/linters/test_files/valid_job_imports.py
Labels: PR: Affects datastore layer

#18891 Fix question summary version job
  core/domain/question_domain.py
  core/jobs/batch_jobs/question_migration_jobs.py
Labels: PR: LGTM, PR: Affects datastore layer

#18888 Fix #18848: Using i18n keys for internationalisation
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/about-foundation-page/about-foundation-page.component.html
  core/templates/pages/about-foundation-page/about-foundation-page.component.spec.ts
  core/templates/pages/partnerships-page/partnerships-page.component.html
  core/templates/pages/partnerships-page/partnerships-page.component.spec.ts
  core/templates/pages/volunteer-page/volunteer-page.component.html
  core/templates/pages/volunteer-page/volunteer-page.component.spec.ts
Labels: PR: LGTM

#18867 Introducing Translation Coodinator Role and e2e tests for new CD Admin Dashboard: GSoCM2.2
  .github/workflows/e2e_lighthouse_performance_acceptance_tests.yml
  core/domain/role_services.py
  core/feconf.py
  core/templates/components/button-directives/create-activity-button.component.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-unicode-editor.component.html
  core/templates/domain/user/user-info.model.spec.ts
  core/templates/domain/user/user-info.model.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/feedback-updates-page/feedback-updates-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/tests/wdio.conf.js
  core/tests/webdriverio_desktop/contributorAdminDashboard.js
  core/tests/webdriverio_utils/ContributorDashboardAdminPage.js
  core/tests/webdriverio_utils/ContributorDashboardPage.js
  core/tests/webdriverio_utils/ReleaseCoordinatorPage.js
Labels: PR: LGTM, PR: Affects datastore layer

#18873 Add new model for Pinning Lesson
  core/domain/takeout_service_test.py
  core/domain/wipeout_service_test.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
Labels: PR: LGTM, PR: Affects datastore layer
