Repository oppia/oppia, pull requests merged in 2023-07, with the labels that each got.

#18491 Added i18n for user facing texts in the question player and story revision page
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/question-directives/question-player/question-player.component.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.html
Labels: PR: LGTM

#18485 Fix #18153: Submit button text is visible properly.
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.component.html
Labels: PR: LGTM

#18547 issue #17997 Fixed Misaligned Text in blog-home-page.component.html ( synced pull )
  core/templates/pages/blog-home-page/blog-home-page.component.html
Labels: PR: LGTM

#18451 Fix auto-hover issue in Community Lessons section
  core/templates/css/oppia.css
Labels: PR: LGTM

#18455 Fix part of #16535: Modify chapter editor page: GSoC M: 1.5
  core/templates/app.constants.ts
  core/templates/pages/story-editor-page/chapter-editor/chapter-editor-tab.component.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.component.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.component.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.component.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-state.service.ts
Labels: PR: LGTM

#18569 Add feature flag for redesigned learner dashboard
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/platform_feature_list.py
  core/templates/domain/platform_feature/feature-status-summary.model.ts
Labels: PR: LGTM

#18574 Fix issue #18555: Ensure skills tab visibility on mobiles
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
Labels: PR: LGTM

#18568 Revert "Beam Job for populating new models used in Contributor Admin Dashboard: GSoC M1.4"
  core/jobs/batch_jobs/contributor_admin_stats_jobs.py
  core/jobs/batch_jobs/contributor_admin_stats_jobs_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
  scripts/linters/test_files/valid.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18563 Home page -- Fixes axeDev tools + lighthouse error and makes the lighthouse score to 1
  core/templates/pages/splash-page/splash-page.component.html
Labels: PR: LGTM

#18567 [Minor] Fix dropdown and navbar overlap in Exploration Editor
  core/templates/css/oppia.css
Labels: PR: LGTM

#18604 Tab alignment
  core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/skill-concept-card-editor.component.html
Labels: PR: LGTM

#18421 Fix #18012: This PR fixes the bug caused by #18169.
  core/templates/base-components/warnings-and-alerts.component.html
  core/templates/css/oppia.css
Labels: PR: LGTM

#18595 Fix#18603 eslint errors in typings
  typings/custom-element-defs.d.ts
  typings/guppy-defs-f509e155dc66f6310737c328cbfbc35b85194be2.d.ts
  typings/karma-fixtures.d.ts
  typings/pencil-code-embed-defs.d.ts
  typings/skulpt-defs-7b61d.d.ts
Labels: PR: LGTM

#18598 Fix part of #16535: Add backend domain changes for story node: GSoC M1.4 continued
  assets/constants.ts
  core/controllers/learner_group_test.py
  core/controllers/review_tests_test.py
  core/controllers/story_viewer_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_services_test.py
  core/jobs/batch_jobs/story_migration_jobs_test.py
  core/tests/test_utils.py
  core/utils.py
  core/utils_test.py
Labels: PR: LGTM

#18561 Fix 16825: Added ariaLabelInEnglish for the 17 languages dropdown present in the top navbar
  assets/constants.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
Labels: PR: LGTM

#18599 [GSoC'23] M1.2.1: Migrating guppy and midijs
  angular.json
  core/templates/pages/exploration-player-page/exploration-player-page-root.component.html
  core/templates/third-party-imports/guppy.import.ts
  core/templates/third-party-imports/midi-js.import.ts
  dependencies.json
  extensions/interactions/guppy.html
  package.json
  scripts/linters/other_files_linter.py
  scripts/linters/other_files_linter_test.py
  typings/guppy-defs-f509e.d.ts
  typings/midi-defs-c26eb.d.ts
  yarn.lock
Labels: PR: LGTM

#18641 Fix: #17306: Source: UNESCO' is not aligned properly in The Oppia Foundation page
  core/templates/pages/about-foundation-page/about-foundation-page.component.html
Labels: PR: LGTM

#17530 Fix #16649: Add contributor stats generation beam job
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_admin.py
  core/controllers/contributor_dashboard_admin_test.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs.py
  core/jobs/batch_jobs/suggestion_stats_computation_jobs_test.py
Labels: PR: LGTM, PR: Affects datastore layer

#18525 Added a new text area in the issue template for providing URL.
  .github/ISSUE_TEMPLATE/1_bug_report_form.yml
Labels: PR: LGTM

#18621 Fix #16020, #16630, #18122: Contributor dashboard UI bugs
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
Labels: PR: LGTM

#18639 Fix #18471: fixed the issue of the diagnostic test skills not wrapping properly
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
Labels: PR: LGTM

#18165 Upgrade PyPI development dependencies
  .pylintrc
  core/controllers/admin_test.py
  core/controllers/editor_test.py
  core/controllers/profile.py
  core/controllers/resources_test.py
  core/domain/email_manager.py
  core/domain/exp_domain.py
  core/domain/exp_services.py
  core/domain/fs_services.py
  core/domain/skill_services_test.py
  core/domain/takeout_service_test.py
  core/domain/user_services.py
  core/jobs/base_jobs.py
  core/jobs/base_jobs_test.py
  core/jobs/batch_jobs/exp_version_history_computation_job.py
  core/jobs/batch_jobs/math_interactions_audit_jobs_test.py
  core/jobs/batch_jobs/translation_migration_jobs_test.py
  core/jobs/job_utils.py
  core/jobs/transforms/validation/auth_validation.py
  core/platform/storage/cloud_storage_emulator_test.py
  core/storage/blog/gae_models.py
  core/storage/collection/gae_models_test.py
  core/storage/exploration/gae_models_test.py
  core/tests/gae_suite.py
  core/tests/test_utils.py
  core/tests/test_utils_test.py
  core/utils.py
  core/utils_test.py
  requirements.in
  requirements.txt
  requirements_dev.in
  requirements_dev.txt
  scripts/backend_tests_incomplete_coverage.txt
  scripts/build.py
  scripts/build_test.py
  scripts/check_backend_associated_test_file.py
  scripts/common_test.py
  scripts/docstrings_checker.py
  scripts/docstrings_checker_test.py
  scripts/install_python_dev_dependencies.py
  scripts/install_python_dev_dependencies_test.py
  scripts/linters/pylint_extensions.py
  scripts/linters/pylint_extensions_test.py
  scripts/linters/python_linter_test.py
  scripts/linters/test_files/valid.py
  scripts/linters/test_files/valid_job_imports.py
  scripts/populate_sample_contributor_data.py
  scripts/release_scripts/repo_specific_changes_fetcher.py
  scripts/release_scripts/update_configs_test.py
  scripts/script_import_test.py
Labels: PR: LGTM

#18576 Implemented Controller Changes for contributor Admin Dashboard: GSoC M1.6
  core/controllers/contributor_dashboard_admin.py
  core/controllers/contributor_dashboard_admin_test.py
  core/domain/contribution_stats_services.py
  core/domain/contribution_stats_services_test.py
  core/feconf.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  main.py
Labels: PR: LGTM

#18619 Set evaluation context for platform params and remove browser_type filter
  assets/constants.ts
  core/controllers/platform_feature.py
  core/controllers/platform_feature_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_domain_test.py
  core/domain/platform_parameter_registry_test.py
  core/templates/domain/platform_feature/client-context.model.spec.ts
  core/templates/domain/platform_feature/client-context.model.ts
  core/templates/domain/platform_feature/platform-feature-backend-api.service.spec.ts
  core/templates/domain/platform_feature/platform-parameter-filter.model.ts
  core/templates/domain/platform_feature/platform-parameter-rule.model.spec.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.constants.ts
  core/templates/services/platform-feature.service.ts
Labels: PR: LGTM

#18616 Fix navbar issues while navigating using screen reader + link is not focusable in progress tab + updated feedback warning position
  core/templates/base-components/base-content.component.html
  core/templates/base-components/base.module.ts
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts
  core/templates/pages/feedback-updates-page/feedback-updates-page.component.html
  core/templates/pages/learner-dashboard-page/progress-tab.component.html
Labels: PR: LGTM

#18610 Fix - #18043 - #18087 - #18108 - #18088 - #18045 : Added fixes for the topic editor related issues + Fixes axeDev tools & lighthouse error and makes the lighthouse score to 1
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.component.html
  core/templates/components/forms/custom-forms-directives/image-uploader.component.html
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.component.html
  core/templates/components/question-directives/questions-list/questions-list.component.html
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar-breadcrumb.component.html
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
  core/templates/pages/topic-editor-page/topic-editor-page.component.html
Labels: PR: LGTM

#18637 Fix screen reader issues while navigating Creator dashbard page
  core/templates/base-components/base-content.component.css
  core/templates/components/button-directives/exploration-embed-button-modal.component.html
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.html
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/home-tab.component.css
Labels: PR: LGTM

#18582 Fix #16890: Made the Drag and Drop interaction accessible so that Drag and Drop can be done using keyboard.
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-interaction.component.html
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.component.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/oppia-interactive-drag-and-drop-sort-input.component.ts
Labels: PR: LGTM

#18605 [GSoC'23] M1.2.2 - Migrated codemirror
  core/templates/third-party-imports/ui-codemirror.import.ts
  dependencies.json
  package.json
  scripts/linters/test_files/invalid_fileoverview.ts
  scripts/linters/test_files/valid.ts
  yarn.lock
Labels: PR: LGTM

#18644 [GSoC'23] M1.3.3 - Flags implementation in docker setup
  .gcloudignore
  .github/CODEOWNERS
  Makefile
  docker-compose.yml
  docker/Dockerfile.backend
  docker/angular-build.entrypoint.sh
  docker/datastore.entrypoint.sh
  docker/dev-server.entrypoint.sh
  docker/firebase.entrypoint.sh
  docker/webpack-compiler.entrypoint.sh
  scripts/build.py
  scripts/build_test.py
  scripts/linters/general_purpose_linter.py
Labels: PR: LGTM

#18650 [GSoC'23] M1.2.3 - Migrate diff match patch
  core/templates/third-party-imports/ui-codemirror.import.ts
  core/tests/webdriverio_desktop/explorationHistoryTab.js
  package.json
  requirements.txt
  scripts/linters/test_files/invalid_fileoverview.ts
  scripts/linters/test_files/valid.ts
  webpack.common.config.ts
  yarn.lock
Labels: PR: LGTM

#18562 Fix #17664 Fetch widget.js from donorbox only in the donate page
  .github/CODEOWNERS
  core/templates/pages/donate-page/donate-page.component.ts
  core/templates/pages/header_js_libs.html
  core/templates/services/angular-services.index.ts
  core/templates/services/insert-script.service.spec.ts
  core/templates/services/insert-script.service.ts
Labels: PR: LGTM

#18646 Fix #18502: Remove the right-click context menu in the CKeditor
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts
Labels: PR: LGTM

#18612 Fix #131 (release-scripts): Remove INCOMING_EMAILS_DOMAIN_NAME from the codebase
  core/feconf.py
  core/tests/release_sources/feconf.txt
  core/tests/release_sources/feconf_updates_with_extra_line.config
  core/tests/release_sources/invalid_feconf_updates.config
  core/tests/release_sources/valid_feconf_updates.config
  scripts/pre_commit_hook.py
  scripts/release_scripts/update_configs_test.py
Labels: PR: LGTM

#18691 Add mock to fix failing backend test
  core/domain/platform_feature_services_test.py
  scripts/servers_test.py
Labels: PR: LGTM

#18669 Implement new UI for contributor admin dashboard Desktop+Mobile: GSoC M1.7
  core/controllers/contributor_dashboard_admin.py
  core/controllers/contributor_dashboard_admin_test.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
  core/domain/user_services.py
  core/feconf.py
  core/platform_feature_list.py
  core/templates/domain/platform_feature/feature-status-summary.model.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-filter.model.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-filter.model.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.css
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.constants.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.import.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.module.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-summary.model.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-summary.model.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-stats-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-stats-backend-api.service.ts
  core/templates/services/angular-services.index.ts
  main.py
Labels: PR: LGTM

#18369 [#144] Release - Skip ci for develop commit
  .github/workflows/develop_commit_notification.yml
Labels: PR: LGTM

#18379 Fix#17701: Show an error and disable submit button if no response
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/css/oppia.css
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/state_card/state-card.model.spec.ts
  core/templates/domain/state_card/state-card.model.ts
  core/templates/pages/exploration-player-page/layout-directives/progress-nav.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/services/current-interaction.service.spec.ts
  core/templates/pages/exploration-player-page/services/current-interaction.service.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
  extensions/interactions/FractionInput/directives/fraction-input-interaction.component.html
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.component.spec.ts
  extensions/interactions/FractionInput/directives/oppia-interactive-fraction-input.component.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.spec.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-interaction.component.html
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/oppia-interactive-multiple-choice-input.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.spec.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.ts
  extensions/interactions/NumericInput/directives/numeric-input-interaction.component.html
  extensions/interactions/NumericInput/directives/oppia-interactive-numeric-input.component.spec.ts
  extensions/interactions/NumericInput/directives/oppia-interactive-numeric-input.component.ts
  extensions/interactions/NumericInput/numeric-input-interactions.module.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.spec.ts
  extensions/interactions/RatioExpressionInput/directives/oppia-interactive-ratio-expression-input.component.ts
  extensions/interactions/TextInput/directives/oppia-interactive-text-input.component.spec.ts
  extensions/interactions/TextInput/directives/oppia-interactive-text-input.component.ts
  extensions/interactions/TextInput/directives/text-input-interaction.component.html
Labels: PR: LGTM

#18623 Fix part of #16535: Modify story control panel: GSoC M1.6
  assets/constants.ts
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/domain/story_services.py
  core/domain/story_services_test.py
  core/templates/domain/story/story-summary.model.spec.ts
  core/templates/domain/story/story-summary.model.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.component.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.spec.ts
Labels: PR: LGTM

#18550 [GSoC_M1.6]: Add a seperate section in translation review modal to show images with their alt text images
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.ts
  extensions/rich_text_components/Image/directives/image.component.html
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.component.spec.ts
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.component.ts
  extensions/rich_text_components/rte-output-display.component.html
  extensions/rich_text_components/rte-output-display.component.ts
Labels: PR: LGTM

#18657 FIX#18248: [BUG]: Toolbar icons overlap when adding an Interaction with the image region #18248
  extensions/objects/templates/svg-editor.component.html
Labels: PR: LGTM

#18656 Fix #18542 : Fixes the alignment issue of the music notes and map interaction components
  extensions/interactions/InteractiveMap/directives/interactive-map-interaction.component.html
  extensions/interactions/MusicNotesInput/directives/music-notes-input-interaction.component.html
Labels: PR: LGTM

#18394 Fix #18376 Fixed The Problem That Publish Button and Save Draft Button disappear when screen size is reduce #18376
  core/templates/base-components/base-content.component.html
  core/templates/css/oppia.css
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.html
Labels: PR: LGTM

#18484 Fix : #18409 [BUG]: Data is being logged in the console in the create exploration page #18409.
  core/templates/pages/exploration-editor-page/services/exploration-data.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-data.service.ts
Labels: PR: LGTM

#18343 Fix #18027: '<li>' elements of navigation bar in exploration editor page must be contained in a '<ul>' or '<ol>' tags
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
Labels: PR: LGTM

#18602 Fix 16877 and 16875: Made the image interaction and graph interaction accessible using keyboard
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  extensions/interactions/GraphInput/directives/graph-viz.component.html
  extensions/interactions/GraphInput/directives/graph-viz.component.spec.ts
  extensions/interactions/GraphInput/directives/graph-viz.component.ts
  extensions/interactions/ImageClickInput/directives/image-click-input-interaction.component.html
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.component.spec.ts
  extensions/interactions/ImageClickInput/directives/oppia-interactive-image-click-input.component.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-interaction.component.html
Labels: PR: LGTM

#18707 Fix flaky test caused due to PR: [18550]
  extensions/rich_text_components/Image/directives/oppia-noninteractive-image.component.spec.ts
Labels: PR: LGTM

#18674 Fixed Issue #18593
  core/templates/pages/teach-page/teach-page.component.html
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18617 Fix : [BUG]: "Blog Dashboard and blog-title" div needs correct indentation on blog-dashboard page #18590
  core/templates/pages/blog-dashboard-page/navbar/navbar-breadcrumb/blog-dashboard-navbar-breadcrumb.component.html
Labels: PR: LGTM
