Repository oppia/oppia, pull requests merged in 2023-04, with the labels that each got.

#17840 Fix part of #16967: Select element must have an accessible name
  core/templates/pages/exploration-player-page/layout-directives/content-language-selector.component.html
Labels: PR: LGTM

#17848 Fix #17834: The focus now goes on the edit icon of introduction card in creator dashboard
  core/templates/components/state-editor/state-content-editor/state-content-editor.component.html
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#17860 Fix #17838: Able to select interactions with keyboard now.
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.html
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#17866 Concept card button is functioning #17759
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
Labels: PR: LGTM

#17727 Fix part of #11776. Adding/Updating 'Args' and 'Return' in docstrings
  core/tests/gae_suite.py
  core/tests/gae_suite_test.py
  core/tests/test_utils.py
  core/tests/test_utils_test.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#17428 Fix #16602: Remove console errors from Translation Modal
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
Labels: PR: LGTM

#17876 Fix #17874: The focus now goes to the "upload a file" button in creator dashboard
  core/templates/components/forms/custom-forms-directives/image-uploader.component.html
Labels: PR: LGTM

#17770 Fix #16863: Remove the dependency of start.py on contributor_dashboard_debug.py
  .github/CODEOWNERS
  scripts/backend_test_shards.json
  scripts/populate_sample_contributor_data.py
  scripts/populate_sample_contributor_data_test.py
  scripts/start.py
  scripts/start_test.py
Labels: PR: LGTM

#17738 Fix #17591 [Backend Flake] json.decoder.JSONDecodeError
  core/tests/test_utils.py
  scripts/build.py
  scripts/build_test.py
  scripts/common.py
  scripts/common_test.py
  scripts/run_e2e_tests.py
  scripts/run_e2e_tests_test.py
  scripts/start.py
  scripts/start_test.py
Labels: PR: LGTM

#17841 Fix #17214: Keyboard focus is going to Lesson, Practice and Revision tabs
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
Labels: PR: LGTM

#17978 Move create_topological_sort_of_all_services_test to incomplete backend tests
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR: require post-merge sync to HEAD

#17803 Fix part of #14219: Increase backend test coverage of wipeout_domain_test to 100%
  core/domain/wipeout_domain_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM

#17930 Fix #bugnum: 17188 - Add a label to the review message field on the review translate page
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#17799 Fix part of #13822: Adds a way to call backend validations for Question
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/state_domain.py
Labels: PR: don't merge - STALE BUILD

#17914 Fix #17886: Change style of save button in exploration for sufficient color contrast
  core/templates/css/oppia.css
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.html
Labels: PR: LGTM

#17976 Fix #17934: Fix exploration editor image interaction
  extensions/objects/templates/image-with-regions-editor.component.spec.ts
  extensions/objects/templates/image-with-regions-editor.component.ts
Labels: PR: LGTM

#18002 Fix #17912: Aligning drag and drop interaction elements
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-interaction.component.html
Labels: PR: LGTM

#17809 Fix #17423 : Fixed the problem of wrong warnings in exploration editor while assigning voice artist
  core/controllers/voice_artist.py
  core/controllers/voice_artist_test.py
  core/templates/pages/exploration-editor-page/services/exploration-rights.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-rights.service.ts
Labels: PR: LGTM

#17636 Fix #17068 Progressbars must have accessible name in Contributor dashboard
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
Labels: PR: LGTM

#18028 Fix #17883: Basic Mathematics title is does not display twice in the Learn tab
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
Labels: PR: LGTM

#18021 Fix 17940 Keyboard focus is not going to the edit icon of 'Oppia tells the learner' in Add Response dialogbox
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.component.html
Labels: PR: LGTM

#17891 Fix #17531: re-do build/dependency installation when build files not available
  .github/workflows/e2e_and lighthouse_performance_tests.yml
Labels: PR: LGTM

#17894 [BUG]: Chromevox is reading tooltips for all the options in Nav bar i…
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
Labels: PR: LGTM

#17915 Fix issue #17747: Navigation with keyboard on suggest question window in contributor dashboard.
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.html
Labels: PR: LGTM

#18077 Fix #17918 and fix #17949: adjust position of dropdowns in library page; prevent category dropdown falling behind the selected lessons.
  core/templates/pages/library-page/library-page.component.css
  core/templates/pages/library-page/search-bar/search-bar.component.css
  core/templates/pages/library-page/search-bar/search-bar.component.html
Labels: PR: for current release

#17806 Fix part of #14219: Increase backend test coverage of fs_services_test to 100%
  core/domain/fs_services_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#17946 [BUG]: Able to select values in dropdowns- All languages and All Categories using keyboard #16826
  core/templates/pages/library-page/search-bar/search-bar.component.html
Labels: PR: LGTM

#18082 FIX 17966 Chromevox doesnt read the labels in Initial graph
  extensions/interactions/GraphInput/directives/graph-viz.component.html
Labels: PR: LGTM

#18092 Fix #18035: Changes style for warning message in topic editor page
  core/templates/pages/topic-editor-page/topic-editor-page.component.html
Labels: PR: LGTM, PR: for current release

#18067 Fix #17025 Chromevox focus is going to empty space beside email preferences
  core/templates/pages/preferences-page/preferences-page.component.html
Labels: PR: LGTM

#18094 Fix #17472 Linter tests will not pass on develop branch when "python -m scripts.linters.pre_commit_linter --only-check-file-extensions=js --path=. --verbose" is run
  .eslintignore
Labels: PR: LGTM

#17884 Fix #17832: Add Style to Help link in exploration editor page
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.html
Labels: PR: LGTM

#18039 Fix #17882: Correctly set inapplicable misconception IDs in QuestionUpdateService
  core/templates/domain/question/question-update.service.spec.ts
  core/templates/domain/question/question-update.service.ts
Labels: PR: LGTM

#18081 Fix 18040 Keyboard Focus is not going on Thumbnail Image in Story Editor
  core/templates/components/forms/custom-forms-directives/thumbnail-uploader.component.html
Labels: PR: LGTM

#18054 Fix 18030 Keyboard focus is not going to the voice artists, roles section in Settings page in exploration editor page
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
Labels: PR: LGTM

#18093 Fix #16606 Backend test flake: Incomplete coverage of create_topological_sort_of_all_services
  scripts/backend_tests_incomplete_coverage.txt
  scripts/create_topological_sort_of_all_services.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18020 Fix part of #17934: Add image interaction e2e test
  core/tests/webdriverio_desktop/coreEditorAndPlayerFeatures.js
  extensions/objects/templates/image-editor.component.html
  extensions/objects/templates/image-with-regions-editor.component.html
Labels: PR: LGTM

#18121 Revert #16374: Reverting the flaky acceptance tests from CI tests
  .github/workflows/acceptance_tests.yml
  core/tests/puppeteer-acceptance-tests/spec/blog-editor-tests/create-draft-and-delete-draft-blog-post.spec.js
  core/tests/puppeteer-acceptance-tests/spec/blog-editor-tests/publish-blog-post-and-delete-published-blog-post.spec.js
  scripts/common.py
Labels: PR: LGTM

#18036 Fix #17938: Unable to Delete Question from Skill Editor Question Tab
  core/templates/components/question-directives/questions-list/questions-list.component.html
  core/templates/components/question-directives/questions-list/questions-list.component.ts
Labels: PR: LGTM

#18009 Fix 17920 Chromevox is not reading labels for components in Create image dialogbox
  extensions/objects/templates/svg-editor.component.html
Labels: PR: LGTM

#18131 Fix issue #17983: disable the SAVE button after its first click when creating a new question
  core/templates/components/question-directives/questions-list/questions-list.component.html
  core/templates/components/question-directives/questions-list/questions-list.component.ts
Labels: PR: LGTM

#18146 Fix #18075: Chromevox is not reading label for button '+' when focus is on it in Topics dashboard
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
Labels: PR: LGTM

#18037 Fix 17072 : Make submit question checkbox accessible
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.component.html
Labels: PR: LGTM

#17622 Fix part of #15927: Restore story and skill migration audit jobs
  core/jobs/batch_jobs/skill_migration_jobs.py
  core/jobs/batch_jobs/skill_migration_jobs_test.py
  core/jobs/batch_jobs/story_migration_jobs.py
  core/jobs/batch_jobs/story_migration_jobs_test.py
Labels: PR: LGTM, PR: Affects datastore layer
