Repository oppia/oppia, pull requests merged in 2023-05, with the labels that each got.

#18144 Fix #17975 Optimise Github action runner usage
  .github/workflows/acceptance_tests.yml
  .github/workflows/e2e_lighthouse_performance_acceptance_tests.yml
Labels: PR: LGTM

#18061 Fix #17959 - Added links to learner & contributor dashboards in admin page navbar.
  core/templates/pages/admin-page/navbar/admin-navbar.component.html
Labels: PR: LGTM

#18161 Remove obsolete rule for mapreduce images.
  app_dev.yaml
Labels: PR: LGTM

#18141 Fix #16922: Making Report exploration dialog box accessible via keyboard and chromevox
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.html
Labels: PR: LGTM

#18142 Fix #18133: Updated AuditProfilePictureFromGCSJob for correctly handling profile-pictures
  core/jobs/batch_jobs/store_profile_images_to_gcs_jobs.py
  core/jobs/batch_jobs/store_profile_images_to_gcs_jobs_test.py
Labels: PR: LGTM

#18191 Update authors since a48d41a
  AUTHORS
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
Labels: PR: LGTM

#17955 Fix #17162: Fixing blog admin page server error popup
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/templates/pages/blog-admin-page/blog-admin-page.component.spec.ts
  core/templates/pages/blog-admin-page/blog-admin-page.component.ts
Labels: PR: LGTM

#18100 Fix issue #17062: Add loading screen while skills are loading when submitting a question
  core/templates/pages/topic-editor-page/modal-templates/questions-opportunities-select-difficulty-modal.component.html
Labels: PR: LGTM

#18148 Fix #17991: All the modals which need to be displayed at the top displays at the top.
  core/templates/components/ck-editor-helpers/customize-rte-component-modal.template.html
Labels: PR: LGTM

#18053 Fix #17962 , Fix #18011 With chromevox user is unable to go back to editor page from any other tabs
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
Labels: PR: LGTM

#17922 Fix 17731: fixed the FE Context Service flake
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.spec.ts
Labels: PR: LGTM

#18042 Fix part of #14219: Increased backend test coverage of `core.controller.domain_objects_validator` to 100%
  core/controllers/domain_objects_validator_test.py
  scripts/backend_tests_incomplete_coverage.txt
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18183 Add CI flake Issue template
  .github/ISSUE_TEMPLATE/1_bug_report_form.yml
  .github/ISSUE_TEMPLATE/2_feature_request_form.yml
  .github/ISSUE_TEMPLATE/3_ci_error_template.yml
  .github/ISSUE_TEMPLATE/4_server_error_template.md
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#17964 Adds a test to raise an error if any feature flag has type other than boolean
  core/domain/platform_parameter_list_test.py
Labels: PR: LGTM

#18149 Fix #17319: changes to fix the accessibility problems with preferences page
  core/templates/base-components/base-content.component.html
  core/templates/base-components/oppia-footer.component.css
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/components/filter-fields/multi-selection-field/multi-selection-field.component.html
  core/templates/pages/preferences-page/preferences-page.component.css
  core/templates/pages/preferences-page/preferences-page.component.html
  core/templates/pages/skill-editor-page/skill-editor-page.component.html
  core/templates/pages/topics-and-skills-dashboard-page/topics-list/topics-list.component.html
Labels: PR: LGTM

#16584 M2.2.4: Remove profile_picture_data_url field from UserSettingsModel
  core/domain/takeout_service_test.py
  core/jobs/batch_jobs/remove_profile_picture_data_url_field_jobs.py
  core/jobs/batch_jobs/remove_profile_picture_data_url_field_jobs_test.py
  core/jobs/batch_jobs/store_profile_images_to_gcs_jobs.py
  core/jobs/batch_jobs/store_profile_images_to_gcs_jobs_test.py
  core/jobs/batch_jobs/user_settings_profile_picture_jobs.py
  core/jobs/batch_jobs/user_settings_profile_picture_jobs_test.py
  core/jobs/registry.py
  core/storage/user/gae_models.py
  core/storage/user/gae_models_test.py
  scripts/backend_test_shards.json
  scripts/linters/test_files/valid.py
Labels: PR: LGTM, PR: Affects datastore layer, PR: don't merge - STALE BUILD

#18134 Fix 16993 Chromevox is not reading learning progress instead it is reading numbers
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.html
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.spec.ts
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.ts
Labels: PR: LGTM

#18231 Fix #18055: Removes html stripping before checking empty content
  core/domain/opportunity_services.py
  core/domain/suggestion_registry_test.py
  core/domain/translation_domain.py
  core/domain/translation_domain_test.py
  core/domain/translation_services.py
  core/jobs/batch_jobs/opportunity_management_jobs.py
  core/jobs/batch_jobs/opportunity_management_jobs_test.py
Labels: PR: LGTM

#18238 Fix #18170. Make the profile edit icon visible
  core/templates/pages/preferences-page/preferences-page.component.css
  core/templates/pages/preferences-page/preferences-page.component.html
Labels: PR: LGTM

#18152 Fix #17956: Fixes context service frontend flake.
  core/templates/services/context.service.spec.ts
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18226 Remove some config properties with adding appropriate values to the codebase
  app_dev.yaml
  assets/constants.ts
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/base_test.py
  core/controllers/blog_admin.py
  core/controllers/blog_dashboard.py
  core/controllers/blog_homepage.py
  core/controllers/blog_homepage_test.py
  core/controllers/classifier_test.py
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/features.py
  core/controllers/features_test.py
  core/domain/classifier_services.py
  core/domain/classifier_services_test.py
  core/domain/config_domain.py
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.ts
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.spec.ts
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.ts
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/blog-admin/blog-admin-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.spec.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/services/exploration-features-backend-api.service.spec.ts
  core/templates/services/exploration-features-backend-api.service.ts
  core/templates/services/exploration-features.service.spec.ts
  core/templates/services/exploration-features.service.ts
  core/tests/puppeteer-acceptance-tests/spec/blog-admin-tests/assign-roles-to-users-and-change-tag-properties.spec.js
  core/tests/puppeteer-acceptance-tests/user-utilities/blog-post-admin-utils.js
  core/tests/webdriverio_desktop/contributorDashboard.js
  main.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18169 Fix #18012 : Fixes the overlapping of header and footer while scrolling the exploration editor page.
  core/templates/base-components/warnings-and-alerts.component.html
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
  core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.ts
Labels: PR: don't merge - STALE BUILD

#18281 [BUG]: 100% complete text is properly seen on the topic tile #18158
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
Labels: PR: LGTM

#17180 Fix #10211, #16416, #17012: Add 'test' running mode to the server for platform parameters.
  assets/i18n/en.json
  core/controllers/platform_feature_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
  core/feconf.py
  core/templates/base-components/base-content.component.html
  core/templates/services/platform-feature.service.spec.ts
  core/templates/services/platform-feature.service.ts
  core/tests/webdriverio/accessibility.js
  core/tests/webdriverio/subscriptionsFlow.js
  core/tests/webdriverio_desktop/checkpointFeatures.js
  core/tests/webdriverio_desktop/creatorDashboard.js
  core/tests/webdriverio_desktop/learnerDashboard.js
  core/tests/webdriverio_desktop/navigation.js
  core/tests/webdriverio_desktop/topicAndStoryViewer.js
  core/tests/webdriverio_utils/AdminPage.js
  core/tests/webdriverio_utils/ClassroomPage.js
  core/tests/webdriverio_utils/LibraryPage.js
  core/tests/webdriverio_utils/PreferencesPage.js
  core/tests/webdriverio_utils/StoryEditorPage.js
  core/tests/webdriverio_utils/SubscriptionDashboardPage.js
  core/tests/webdriverio_utils/waitFor.js
Labels: PR: LGTM
