Repository oppia/oppia, pull requests merged in 2023-10, with the labels that each got.

#18884 Fix #18883: Correct validity of artifact rebuild zip files
  .github/workflows/e2e_lighthouse_performance_acceptance_tests.yml
Labels: PR: LGTM

#18938 Fix part of #16535:Remove view all options from topic viewer page
  core/templates/components/summary-tile/story-summary-tile.component.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.ts
Labels: PR: LGTM

#18882 Fix #18684 : Category selection menu unexpectedly initiates a search
  core/templates/pages/library-page/search-bar/search-bar.component.spec.ts
  core/templates/pages/library-page/search-bar/search-bar.component.ts
Labels: PR: LGTM

#18971 Fix #18544: alignment of voice artists text in exploration editor
  core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.html
Labels: PR: LGTM

#18345 Implement part of #17712, #18893: Acceptance tests for translation admin users
  .github/workflows/e2e_lighthouse_performance_acceptance_tests.yml
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.html
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/puppeteer-utils.js
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/test-constants.js
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/user-factory.js
  core/tests/puppeteer-acceptance-tests/spec/translation-admin-tests/add-translation-rights.spec.js
  core/tests/puppeteer-acceptance-tests/spec/translation-admin-tests/remove-translation-rights.spec.js
  core/tests/puppeteer-acceptance-tests/user-utilities/translation-admin-utils.js
  scripts/common.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18649 Fix #18125: Eliminate duplicated actions of changing topic
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/review-translation-language-selector.component.ts
Labels: PR: LGTM

#18866 Fix Part of #10700: Refactor LearnerAction Object Factory
  core/templates/domain/statistics/PlaythroughObjectFactory.ts
  core/templates/domain/statistics/PlaythroughObjectFactorySpec.ts
  core/templates/domain/statistics/learner-action.model.spec.ts
  core/templates/domain/statistics/learner-action.model.ts
  core/templates/domain/statistics/playthrough-backend-api.service.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/playthrough.service.spec.ts
  core/templates/services/playthrough.service.ts
Labels: PR: LGTM

#18980 Fix navigation issues with the preferences page and implemented PM demo notes
  core/templates/css/oppia-material.css
  core/templates/pages/preferences-page/form-fields/preferred-languages.component.html
  core/templates/pages/preferences-page/form-fields/subject-interests.component.html
  core/templates/pages/preferences-page/preferences-page.component.html
  core/templates/pages/preferences-page/preferences-page.component.spec.ts
  core/templates/pages/preferences-page/preferences-page.component.ts
Labels: PR: LGTM

#18987 Add domain objects
  core/domain/opportunity_domain.py
  core/domain/opportunity_domain_test.py
Labels: PR: LGTM

#19002 Update authors since 3b87727
  AUTHORS
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
Labels: PR: LGTM

#19003 Routine update of translations
  assets/i18n/bn.json
  assets/i18n/br.json
  assets/i18n/ca.json
  assets/i18n/diq.json
  assets/i18n/es.json
  assets/i18n/fa.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/hu.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/lb.json
  assets/i18n/lt.json
  assets/i18n/nb.json
  assets/i18n/nl.json
  assets/i18n/oc.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/skr-arab.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR: LGTM

#19006 Fix 16856 : Make checkpoint lesson info popup accessible using keyboard
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts
  core/templates/pages/exploration-player-page/learner-experience/continue-button.component.html
Labels: PR: LGTM

#18960 Implementing filtering to new contributor admin dashboard: GSoCM2.4
  core/controllers/admin.py
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/classroom/classroom-backend-api.service.ts
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-filter.model.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-filter.model.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.css
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.constants.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.module.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-stats-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-stats-backend-api.service.ts
  core/templates/pages/contributor-dashboard-admin-page/topic-filter/topic-filter.component.html
  core/templates/pages/contributor-dashboard-admin-page/topic-filter/topic-filter.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/topic-filter/topic-filter.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.ts
  core/tests/webdriverio_desktop/adminTabFeatures.js
  core/tests/webdriverio_desktop/contributorAdminDashboard.js
  core/tests/webdriverio_utils/AdminPage.js
  core/tests/webdriverio_utils/ContributorDashboardAdminPage.js
Labels: PR: LGTM

#19009 Fix 16886: Fix scrolling lesson info modal
  core/templates/css/oppia.css
Labels: PR: LGTM

#18951 Trailing comments on PR #18867
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.spec.ts
  core/tests/webdriverio_desktop/contributorAdminDashboard.js
Labels: PR: LGTM

#18839 Blog Stats: Adding Storage models to store statistics
  core/domain/blog_statistics_domain.py
  core/domain/blog_statistics_domain_test.py
  core/feconf.py
  core/platform/models.py
  core/storage/blog_statistics/__init__.py
  core/storage/blog_statistics/gae_models.py
  core/storage/blog_statistics/gae_models_test.py
  mypy_imports.py
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer

#18959 Fix #18900: Filter None stories without raising exception
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
Labels: PR: LGTM

#19017 Different coordiantor actions enabled at /contributor-admin-dashboard.GSoC: M2.5
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.css
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.module.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.ts
  core/templates/pages/contributor-dashboard-admin-page/question-role-editor-modal/cd-admin-question-role-editor-modal.component.html
  core/templates/pages/contributor-dashboard-admin-page/question-role-editor-modal/cd-admin-question-role-editor-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/question-role-editor-modal/cd-admin-question-role-editor-modal.component.ts
  core/templates/pages/contributor-dashboard-admin-page/topic-filter/topic-filter.component.ts
  core/templates/pages/contributor-dashboard-admin-page/translation-role-editor-modal/cd-admin-translation-role-editor-modal.component.html
  core/templates/pages/contributor-dashboard-admin-page/translation-role-editor-modal/cd-admin-translation-role-editor-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/translation-role-editor-modal/cd-admin-translation-role-editor-modal.component.ts
  core/templates/pages/contributor-dashboard-admin-page/username-input-modal/username-input-modal.component.html
  core/templates/pages/contributor-dashboard-admin-page/username-input-modal/username-input-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/username-input-modal/username-input-modal.component.ts
Labels: PR: LGTM

#18875 Fix issue #18514: Clarify item selection interaction when minChoices == maxChoices
  assets/i18n/en.json
  assets/i18n/qqq.json
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-interaction.component.html
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.ts
Labels: PR: LGTM

#18964 Fix #18490: Strip non-standard characters from filenames when downloading explorations.
  core/controllers/editor_test.py
  core/domain/exp_services.py
  core/domain/exp_services_test.py
Labels: PR: LGTM

#19011 Fix - #17000 #16997 #16995 #16977 #16982 Fix the naviagtion issues with the lesson info modal
  core/templates/components/profile-link-directives/profile-link-image.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.css
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.html
Labels: PR: LGTM

#18775 [GSoC'23] - M1.4.2 - migrating local tests under docker
  .lighthouserc-1.js
  .lighthouserc-accessibility-1.js
  .lighthouserc-accessibility-2.js
  .lighthouserc-base.js
  Makefile
  core/tests/protractor-browserstack.conf.js
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/test-constants.js
  core/tests/puppeteer/lighthouse_setup.js
  core/tests/wdio.conf.js
  core/tests/webdriverio/accessibility.js
  core/tests/webdriverio/libraryFlow.js
  core/tests/webdriverio/profileMenuFlow.js
  core/tests/webdriverio_desktop/embedding.js
  core/tests/webdriverio_desktop/extensions.js
  core/tests/webdriverio_desktop/navigation.js
  core/tests/webdriverio_desktop/preferences.js
  core/tests/webdriverio_desktop/wipeout.js
  core/tests/webdriverio_utils/BlogDashboardPage.js
  core/tests/webdriverio_utils/DeleteAccountPage.js
  core/tests/webdriverio_utils/TopicsAndSkillsDashboardPage.js
  core/tests/webdriverio_utils/general.js
  docker-compose.yml
  docker/Dockerfile.backend
  docker/install_node.sh
  extensions/rich_text_components/Image/webdriverio.js
  extensions/rich_text_components/Math/webdriverio.js
  puppeteer-login-script.js
  scripts/backend_test_shards.json
  scripts/backend_tests_incomplete_coverage.txt
  scripts/build.py
  scripts/build_test.py
  scripts/check_backend_associated_test_file.py
  scripts/common.py
  scripts/generate_build_directory.py
  scripts/generate_build_directory_test.py
  scripts/install_dependencies_json_packages_test.py
  scripts/install_third_party_libs.py
  scripts/install_third_party_libs_test.py
  scripts/run_backend_tests.py
  scripts/run_backend_tests_test.py
  scripts/run_mypy_checks.py
  webpack.prod.config.ts
Labels: PR: LGTM

#19037 Fix parts of #13668: Inscreased lighthouse score for Volunteer page
  core/templates/pages/volunteer-page/volunteer-page.component.html
Labels: PR: LGTM

#18950 Fix part of #16535: Serial chapter Launch End to end test
  core/domain/platform_parameter_registry.py
  core/platform_feature_list.py
  core/templates/pages/story-editor-page/editor-tab/story-editor.component.html
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.component.html
  core/templates/pages/story-editor-page/modal-templates/story-editor-unpublish-modal.component.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-stories-list.component.html
  core/tests/webdriverio_utils/ReleaseCoordinatorPage.js
  core/tests/webdriverio_utils/StoryEditorPage.js
Labels: PR: LGTM

#19046 Fix #17939: Fix screen reader navigation for customize interaction
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.ts
Labels: PR: LGTM

#19015 Fix #16923: Fix a11y issues with the report exploration
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.html
Labels: PR: LGTM

#18805 Fix accessibility issues for the Community library page + make the lighthouse test score 1
  .lighthouserc-accessibility-1.js
  core/templates/components/summary-tile/exploration-summary-tile.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-icons.component.html
  core/templates/pages/library-page/library-page.component.html
Labels: PR: LGTM

#19051 Fix #13461 #17837 #17830 #17833: Fix taking a tour section with screen reader on and added h1 to editor page
  core/templates/components/state-editor/state-editor.component.html
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.html
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.html
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.html
  core/templates/pages/exploration-editor-page/modal-templates/welcome-modal.component.html
  core/templates/pages/exploration-editor-page/modal-templates/welcome-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/modal-templates/welcome-modal.component.ts
Labels: PR: LGTM

#19073 Fixed flake in contributorAdminDashboard e2e test
  core/tests/webdriverio_desktop/contributorAdminDashboard.js
Labels: PR: LGTM

#19041 [GSoC'23] - M1.4.2 - Added make command for lighthouse tests, added flags in e2e tests
  Makefile
Labels: PR: LGTM
