Repository oppia/oppia, pull requests merged in 2023-01, with the labels that each got.

#16806 Update authors and changelog for v3.2.9
  AUTHORS
  CHANGELOG
  CONTRIBUTORS
  core/feconf.py
  core/templates/pages/about-page/about-page.constants.ts
  package.json
Labels: PR CHANGELOG: Release team -- @nithusha21

#16497 M 2.1: GCS IO implementation.
  core/jobs/io/gcs_io.py
  core/jobs/io/gcs_io_test.py
  core/platform/app_identity/gae_app_identity_services.py
  core/platform/app_identity/gae_app_identity_services_test.py
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#16809 Add Account tag for mailchimp
  core/feconf.py
Labels: PR: Needs to be hotfixed

#16492 M 2.2.1: Audit and Fix invalid profile picture inside UserSettingsModel
  MANIFEST.in
  assets/images/avatar/user_blue_150px.png
  core/constants.py
  core/constants_test.py
  core/jobs/batch_jobs/user_settings_profile_picture_jobs.py
  core/jobs/batch_jobs/user_settings_profile_picture_jobs_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer, PR CHANGELOG: Data handling -- @vojtechjelinek, PR: don't merge - STALE BUILD

#16811 Fix issue #11653: Moved close button at the top-right to avoid hiding by interaction preview
  core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16804 Remove special-casing for low-risk PRs
  .github/actions/check-if-pr-is-low-risk/action.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/typescript_and_e2e_coverage.yml
  scripts/backend_test_shards.json
  scripts/check_if_pr_is_low_risk.py
  scripts/check_if_pr_is_low_risk_test.py
Labels: PR: don't merge - STALE BUILD

#16765 Fixes 16582: Removes other mode
  core/templates/pages/exploration-player-page/exploration-player-page.constants.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.spec.ts
  core/templates/pages/exploration-player-page/services/exploration-player-state.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16819 Fix #13139: Remove mapreduce handler comments.
  core/controllers/base_test.py
Labels: PR: LGTM, PR CHANGELOG: Miscellaneous -- @vojtechjelinek

#16747 Fix #16278 Provided default null value to avoid error raised because of undefined
  core/templates/pages/signup-page/signup-page.component.ts
Labels: PR: LGTM, PR CHANGELOG: Bug fixes -- @nithusha21

#16822 Fix #15968 : Replacing material icons with font-awesome icons
  core/templates/pages/teach-page/teach-page.component.html
Labels: REVIEWERS: Please add changelog label

#16749 Fix of #16586: Clicking on the add subtopic button shows console errors
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.ts
Labels: PR CHANGELOG: Angular Migration -- @srijanreddy98, PR: don't merge - STALE BUILD

#16821 Do not call skill contents validation when loading the skills.
  core/domain/skill_domain.py
Labels: PR: Needs to be hotfixed

#16802 Fix Topic Editor Navbar UI
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.css
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16812 Use one retention day for intermediary artifacts
  .github/workflows/backend_tests.yml
Labels: PR: LGTM

#16378 Fix #15735 Remove the Refresh modal class
  core/templates/pages/exploration-player-page/layout-directives/content-language-selector.component.spec.ts
  core/templates/pages/exploration-player-page/layout-directives/content-language-selector.component.ts
Labels: PR: LGTM, PR CHANGELOG: Bug fixes -- @nithusha21

#16832 Fix the notify GH Action
  .github/workflows/develop_commit_notification.yml
Labels: PR: LGTM, PR CHANGELOG: Release team -- @nithusha21

#16808 Fix Responsiveness of map
  extensions/interactions/InteractiveMap/directives/interactive-map-interaction.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16859 Use correct GH secret
  .github/workflows/develop_commit_notification.yml
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#16810 Remove backup for secrets
  core/controllers/acl_decorators_test.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/feconf.py
  core/jobs/batch_jobs/mailchimp_population_jobs.py
  core/jobs/batch_jobs/mailchimp_population_jobs_test.py
  core/platform/bulk_email/mailchimp_bulk_email_services.py
  core/platform/bulk_email/mailchimp_bulk_email_services_test.py
  core/platform/email/mailgun_email_services.py
  core/platform/email/mailgun_email_services_test.py
  core/tests/release_sources/feconf.txt
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
Labels: PR CHANGELOG: Data handling -- @vojtechjelinek

#16858 Routine update of translations.
  assets/i18n/ar.json
  assets/i18n/bn.json
  assets/i18n/ca.json
  assets/i18n/da.json
  assets/i18n/de.json
  assets/i18n/diq.json
  assets/i18n/es.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/id.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/kab.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/lt.json
  assets/i18n/my.json
  assets/i18n/ne.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/sk.json
  assets/i18n/skr-arab.json
  assets/i18n/sv.json
  assets/i18n/sw.json
  assets/i18n/tr.json
  assets/i18n/uk.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
Labels: PR CHANGELOG: Translations -- @DubeySandeep

#16805 Fix Part of #10700: Refactor Topic Object
  core/templates/base-components/oppia-root.directive.ts
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/topic/editable-topic-backend-api.service.spec.ts
  core/templates/domain/topic/editable-topic-backend-api.service.ts
  core/templates/domain/topic/topic-object.model.spec.ts
  core/templates/domain/topic/topic-object.model.ts
  core/templates/domain/topic/topic-update.service.spec.ts
  core/templates/domain/topic/topic-update.service.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-editor-main-tab.component.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar-breadcrumb.component.spec.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar-breadcrumb.component.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.spec.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.ts
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.ts
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.component.spec.ts
  core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.component.ts
  core/templates/pages/topic-editor-page/rearrange-skills-in-subtopics-modal.controller.spec.ts
  core/templates/pages/topic-editor-page/services/entity-creation.service.spec.ts
  core/templates/pages/topic-editor-page/services/subtopic-validation.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.spec.ts
  core/templates/pages/topic-editor-page/services/topic-editor-state.service.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.spec.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-preview-tab.component.spec.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-preview-tab.component.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
Labels: REVIEWERS: Please add changelog label

#16534 Fix #16069: Add a "Newest First" tag for reviewable questions
  assets/constants.ts
  core/controllers/contributor_dashboard.py
  core/controllers/suggestion.py
  core/controllers/suggestion_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/feconf.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
  index.yaml
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#16813 Fix #16780: Removes scrolling back to top of the page due to autofocus and also improves blog UI
  assets/i18n/en.json
  core/templates/components/forms/schema-based-editors/schema-based-list-editor.component.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-list-editor.component.ts
  core/templates/pages/blog-admin-page/blog-admin-page.module.ts
  core/templates/pages/blog-author-profile-page/blog-author-profile-page.component.css
  core/templates/pages/blog-author-profile-page/blog-author-profile-page.component.html
  core/templates/pages/blog-dashboard-page/modal-templates/author-detail-editor-modal.component.html
  core/templates/pages/blog-home-page/blog-home-page.component.css
  core/templates/pages/blog-home-page/blog-home-page.component.html
  core/templates/services/UpgradedServices.ts
  core/templates/services/stateful/focus-manager.service.spec.ts
  core/templates/services/stateful/focus-manager.service.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16888 Add debugging code for invalid continuation byte flake
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#16864 Fix #16494: Move /security.txt to /.well-known/security.txt
  app_dev.yaml
  assets/.well-known/security.txt
  assets/security.txt
Labels: PR CHANGELOG: Release team -- @nithusha21, PR: don't merge - STALE BUILD

#16881 Fix #16770: Content loading fixed in voiceover mode (in translations tab)
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#16918 Fixes #16903 : Brings the 'share' and 'feedback' buttons into the tab order so that they can be accessed using the keyboard.
  core/templates/pages/exploration-player-page/layout-directives/learner-local-nav.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16934 Fix #16781: Contents of Creator-Guidelines Page is missing
  core/templates/pages/participation-playbook/playbook.component.css
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16915 Fix #16933: Remove Gitter Chat Link and Badge from Readme
  .github/README.md
Labels: REVIEWERS: Please add changelog label

#16841 Fix #16611: Added Tooltip to the Save Draft button when it is disabled because of errors present the story
  core/templates/css/oppia.css
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.mainpage.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.html
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16688 Fix #16504: Android beta page fixes
  assets/i18n/de.json
  assets/i18n/en.json
  assets/i18n/fr.json
  assets/i18n/it.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/uk.json
  assets/i18n/zh-hant.json
  core/templates/components/button-directives/social-buttons.component.css
  core/templates/components/button-directives/social-buttons.component.html
  core/templates/pages/android-page/android-page-root.component.html
  core/templates/pages/android-page/android-page.component.css
  core/templates/pages/android-page/android-page.component.html
  core/templates/pages/android-page/android-page.component.spec.ts
  core/templates/pages/android-page/android-page.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16958 Fix #16648: Increases tick time to fix debounce frontend test flake
  core/templates/services/debouncer.service.spec.ts
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16954 FIX#16908 : Submit button in Feedback dialogbox must have layout indicating its a button
  core/templates/pages/exploration-player-page/layout-directives/feedback-popup.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16921 Fix yaml generation
  requirements_dev.in
  requirements_dev.txt
  scripts/extend_index_yaml.py
  scripts/extend_index_yaml_test.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16984 Fix part of #16600: Add debugging information when byte decoding fails
  scripts/run_backend_tests.py
Labels: PR CHANGELOG: Automated QA Team -- @U8NWXD

#16157 Fix #15493: Language filtering in translation review dashboard
  core/templates/domain/opportunity/exploration-opportunity-summary.model.spec.ts
  core/templates/domain/opportunity/exploration-opportunity-summary.model.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-opportunities.service.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/review-translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/review-translation-language-selector.component.spec.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/review-translation-language-selector.component.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.spec.ts
Labels: PR: LGTM

#16964 Fix #16344 No Scroll Forward Button For Review After Completing A Lesson
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#17059 Fix #16961: Added necessary h1 & h2 tags in community lessons page.
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.css
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.html
Labels: REVIEWERS: Please add changelog label

#17039 Fix #17023: Adds h1 to main heading and h2 to subheading in preferences.
  core/templates/pages/preferences-page/preferences-page.component.html
Labels: PR: LGTM, REVIEWERS: Please add changelog label

#16498 Fix #15899: Fix CodeQL Errors from https://github.com/U8NWXD/oppia/pull/17/files
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
  assets/scripts/oppia-player-0.0.1.js
  assets/scripts/oppia-player-0.0.2.js
  assets/scripts/oppia-player-0.0.3.js
  core/templates/components/ck-editor-helpers/ck-editor-copy-content.service.spec.ts
  core/templates/pages/exploration-editor-page/changes-in-human-readable-form/changes-in-human-readable-form.component.spec.ts
  core/templates/pages/exploration-player-page/services/image-preloader.service.ts
  core/templates/services/blog-search.service.ts
  core/templates/services/math-interactions.service.ts
  core/templates/services/search.service.ts
  yarn.lock
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD

#17097 Link text comes out of the text box in Save progress dialog box #16998
  core/templates/components/copy-url/copy-url.component.html
  core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.css
Labels: REVIEWERS: Please add changelog label

#17134 Fix #16600: Replace UTF8-invalid bytes in backend test output
  scripts/run_backend_tests.py
Labels: PR: LGTM, PR CHANGELOG: Automated QA Team -- @U8NWXD

#17088 Fixes topic addition in classroom admin page
  core/templates/pages/classroom-admin-page/classroom-admin-page.component.html
  core/templates/pages/classroom-admin-page/classroom-admin-page.component.spec.ts
  core/templates/pages/classroom-admin-page/classroom-admin-page.component.ts
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#17145 Fix Learner Tab visibility in mobile view
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
Labels: PR: LGTM, PR CHANGELOG: Learner/Creator Pages -- @aks681

#17139 Fix #13641: Remove some pragmas
  core/platform/datastore/cloud_datastore_services.py
  core/platform/models.py
  core/platform/taskqueue/cloud_tasks_emulator.py
  core/platform/taskqueue/dev_mode_taskqueue_services.py
  core/storage/exploration/gae_models.py
Labels: PR CHANGELOG: Dev Workflow -- @U8NWXD

#16939 Fix #16324: Enter key submits the answer in math expression input
  extensions/interactions/AlgebraicExpressionInput/directives/oppia-interactive-algebraic-expression-input.component.ts
  extensions/interactions/MathEquationInput/directives/oppia-interactive-math-equation-input.component.ts
  extensions/interactions/NumericExpressionInput/directives/oppia-interactive-numeric-expression-input.component.ts
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#17152 Request tokens with higher priviledges
  .github/workflows/develop_commit_notification.yml
Labels: PR: LGTM

#16513 (Contributor Recognition Infrastructure) Milestone2.4: Add certificate generation for contributors (including service method, API controller)
  assets/constants.ts
  assets/images/contributor_dashboard/locked-badge.svg
  assets/images/contributor_dashboard/oppia-logo.jpg
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/domain/suggestion_registry.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/feconf.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  core/templates/app.constants.ts
  core/templates/pages/contributor-dashboard-page/badge/badge.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/contributor-dashboard-page/contributor-stats/contributor-stats.component.html
  core/templates/pages/contributor-dashboard-page/contributor-stats/contributor-stats.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-stats/contributor-stats.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/certificate-download-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/certificate-download-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/certificate-download-modal.component.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review-backend-api.service.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.spec.ts
  core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts
  index.yaml
  main.py
Labels: PR: LGTM, PR CHANGELOG: Contributor Pages -- @sagangwee

#17140 Update new authors and contributors
  AUTHORS
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
Labels: PR CHANGELOG: Release team -- @nithusha21

#17106 Fix #16351 Text and header overlap.
  core/templates/pages/exploration-player-page/layout-directives/audio-bar.component.html
Labels: PR CHANGELOG: Learner/Creator Pages -- @aks681

#16794 Fix #10180 Added supplemental card to display all non inline interaction
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.html
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.spec.ts
  core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.component.ts
Labels: PR: LGTM, PR CHANGELOG: Bug fixes -- @nithusha21

#17194 Change hash in the _develop_commit_notification.yml_
  .github/workflows/develop_commit_notification.yml
Labels: PR: LGTM, PR CHANGELOG: Dev Workflow -- @U8NWXD
