Repository oppia/oppia, pull requests merged in 2023-06, with the labels that each got.

#18283 Add feature flag for serial chapter launch feature
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/platform_feature_list.py
  core/templates/domain/platform_feature/feature-status-summary.model.ts
Labels: PR: LGTM

#18298 Fix #18241: Update format of android handler response to correctly handle multiple items in the request. Also possibly fix e2e flake in navigation.js.
  core/controllers/android.py
  core/controllers/android_test.py
  core/tests/webdriverio_utils/PreferencesPage.js
Labels: PR: LGTM

#18300 [GSoC M1.1] : Add feature flag show translation size
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/platform_feature_list.py
  core/templates/domain/platform_feature/feature-status-summary.model.ts
Labels: PR: LGTM

#18293 Fix #18008: Elements must have sufficient color contrast in the exploration editor page with Numeric expression input interaction
  core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.html
Labels: PR: LGTM

#18003 Add version info to the footer
  assets/constants.ts
  core/templates/base-components/oppia-footer.component.css
  core/templates/base-components/oppia-footer.component.html
  core/templates/base-components/oppia-footer.component.spec.ts
  core/templates/base-components/oppia-footer.component.ts
  core/tests/webdriverio_desktop/userJourneys.js
  scripts/common.py
  scripts/common_test.py
Labels: PR: LGTM

#17797 Fix part of #15927: Add a beam job to populate version in question summary models
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/question_services.py
  core/jobs/batch_jobs/question_migration_jobs.py
  core/jobs/batch_jobs/question_migration_jobs_test.py
  core/jobs/registry.py
  core/storage/question/gae_models.py
  core/storage/question/gae_models_test.py
  scripts/backend_test_shards.json
  scripts/linters/test_files/valid.py
Labels: PR: Affects datastore layer

#18317 Introduced Question Coordinator Role: GSoC M1.1
  core/domain/role_services.py
  core/feconf.py
  core/templates/components/button-directives/create-activity-button.component.spec.ts
  core/templates/domain/user/user-info.model.spec.ts
  core/templates/domain/user/user-info.model.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
Labels: PR: LGTM

#18318 Fix#15149 Show reviewer name on the reviewed question and translation modals
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.ts
Labels: PR: LGTM

#18278 Improving Blog Homepage and Blog Dashboard Functionality
  assets/i18n/ar.json
  assets/i18n/bn.json
  assets/i18n/en.json
  assets/i18n/es.json
  assets/i18n/fr.json
  assets/i18n/ja.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/qqq.json
  assets/i18n/sk.json
  assets/i18n/sw.json
  assets/i18n/uk.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  core/templates/components/forms/custom-forms-directives/image-uploader.component.html
  core/templates/pages/blog-dashboard-page/blog-card/blog-card.component.html
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.html
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.ts
  core/templates/pages/blog-dashboard-page/modal-templates/blog-card-preview-modal.component.html
  core/templates/pages/blog-dashboard-page/modal-templates/blog-card-preview-modal.component.ts
Labels: PR: LGTM

#18325 Fix #17861: Adds heading tag in Contributor dashboard and changes h1 to h2 in the dashboard page
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
Labels: PR: LGTM

#18308 Moves features tab to release coordinator page
  .github/CODEOWNERS
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/release_coordinator.py
  core/controllers/release_coordinator_test.py
  core/feconf.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.spec.ts
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.ts
  core/templates/domain/platform_feature/platform-feature-domain.constants.ts
  core/templates/pages/admin-page/admin-page.component.html
  core/templates/pages/admin-page/admin-page.component.spec.ts
  core/templates/pages/admin-page/admin-page.component.ts
  core/templates/pages/admin-page/admin-page.constants.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/admin-page/config-tab/admin-config-tab.component.spec.ts
  core/templates/pages/admin-page/navbar/admin-navbar.component.html
  core/templates/pages/admin-page/navbar/admin-navbar.component.spec.ts
  core/templates/pages/admin-page/navbar/admin-navbar.component.ts
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.spec.ts
  core/templates/pages/admin-page/services/admin-data.service.spec.ts
  core/templates/pages/admin-page/services/admin-router.service.spec.ts
  core/templates/pages/admin-page/services/admin-router.service.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.html
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.spec.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.constants.ts
  core/templates/pages/release-coordinator-page/navbar/release-coordinator-navbar.component.html
  core/templates/pages/release-coordinator-page/navbar/release-coordinator-navbar.component.ts
  core/templates/pages/release-coordinator-page/release-coordinator-page.component.html
  core/templates/pages/release-coordinator-page/release-coordinator-page.component.ts
  core/templates/pages/release-coordinator-page/release-coordinator-page.constants.ts
  core/templates/pages/release-coordinator-page/release-coordinator-page.module.ts
  core/tests/webdriverio/featureGatingFlow.js
  core/tests/webdriverio_desktop/checkpointFeatures.js
  core/tests/webdriverio_desktop/topicAndStoryViewer.js
  core/tests/webdriverio_utils/AdminPage.js
  core/tests/webdriverio_utils/ReleaseCoordinatorPage.js
  main.py
Labels: PR: LGTM

#18224 Fix #18215. Constrain the error count within the warning icon
  core/templates/css/oppia.css
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18267 Fix #16985, #17958, #18240: Restore entity context of question-editor to avoid breakages in inserting images (both math and general imgs)
  extensions/objects/templates/skill-selector-editor.component.spec.ts
  extensions/objects/templates/skill-selector-editor.component.ts
Labels: PR: LGTM

#18342 #Fix 18299 Wiki Revert Failed and Cannot be Run Manually
  .github/workflows/revert-web-wiki-updates.yml
Labels: PR: LGTM

#18216 Fix part of #11776. Adding/Updating 'Args' and 'Return' in docstrings
  core/controllers/access_validators.py
  core/controllers/admin.py
  core/controllers/beam_jobs.py
  core/controllers/blog_dashboard.py
  core/controllers/blog_homepage.py
  core/controllers/classroom.py
  core/controllers/collection_editor.py
  core/controllers/collection_viewer.py
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_admin.py
  core/controllers/creator_dashboard.py
  core/controllers/diagnostic_test_player.py
  core/controllers/editor.py
  core/controllers/editor_test.py
  core/controllers/learner_goals.py
  core/controllers/practice_sessions.py
  core/controllers/release_coordinator.py
  core/controllers/resources.py
  core/controllers/skill_editor.py
  core/controllers/story_editor.py
  core/controllers/story_viewer.py
  core/controllers/subscriptions.py
  core/controllers/tasks.py
  core/controllers/topic_editor.py
  core/controllers/topic_viewer.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/voice_artist.py
  core/tests/test_utils.py
Labels: PR: LGTM

#18323 Fix axeDev tools + lighthouse error for learner dashboard and make the lighthouse score to 1
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
  core/templates/components/summary-tile/learner-topic-goals-summary-tile.component.html
  core/templates/components/summary-tile/learner-topic-summary-tile.component.html
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.html
  core/templates/pages/learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/progress-tab.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
Labels: PR: LGTM

#18340 Introducing new storage models required for Contributor Admin Dashboard: GSoC M1.2
  assets/constants.ts
  core/domain/takeout_service_test.py
  core/domain/wipeout_service_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  index.yaml
Labels: PR: LGTM, PR: Affects datastore layer

#18346 Fix #18202: Fixed the hierarchy of the ul and li in the creator dashboard exploration tile metrics
  core/templates/components/button-directives/create-activity-button.component.html
  core/templates/css/oppia.css
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
Labels: PR: LGTM

#18358 Introduced Domain Objects Needed for Contributor Admin Dashboard. GSoC M1.3
  core/domain/suggestion_registry.py
  core/domain/suggestion_registry_test.py
Labels: PR: LGTM

#18326 Adds a platform-parameters tab on the admin page
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/blog_admin_test.py
  core/controllers/resources.py
  core/controllers/resources_test.py
  core/domain/config_domain.py
  core/domain/config_domain_test.py
  core/domain/config_services_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/domain/platform_parameter_registry.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.spec.ts
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.ts
  core/templates/domain/platform_feature/platform-feature-domain.constants.ts
  core/templates/pages/admin-page/admin-page.component.html
  core/templates/pages/admin-page/admin-page.component.spec.ts
  core/templates/pages/admin-page/admin-page.component.ts
  core/templates/pages/admin-page/admin-page.constants.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/admin-page/config-tab/admin-config-tab.component.spec.ts
  core/templates/pages/admin-page/navbar/admin-navbar.component.html
  core/templates/pages/admin-page/navbar/admin-navbar.component.spec.ts
  core/templates/pages/admin-page/navbar/admin-navbar.component.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.html
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.spec.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.ts
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.spec.ts
  core/templates/pages/admin-page/services/admin-data.service.spec.ts
  core/templates/pages/admin-page/services/admin-router.service.spec.ts
  core/templates/pages/admin-page/services/admin-router.service.ts
  core/templates/pages/release-coordinator-page/release-coordinator-page.component.html
  core/templates/pages/release-coordinator-page/release-coordinator-page.component.spec.ts
  core/templates/pages/release-coordinator-page/release-coordinator-page.component.ts
  core/templates/services/promo-bar-backend-api.service.spec.ts
Labels: PR: LGTM

#18335 GSoC [M1.2] - New Service to compute Html length
  .github/CODEOWNERS
  core/templates/services/angular-services.index.ts
  core/templates/services/html-length.service.spec.ts
  core/templates/services/html-length.service.ts
Labels: PR: LGTM

#18367 Fix #18329: Fixed problem with the functionality of the topic removal feature #18329
  core/templates/pages/learner-dashboard-page/goals-tab.component.html
  core/templates/pages/learner-dashboard-page/goals-tab.component.ts
Labels: PR: LGTM

#18364 Fix - #18145 - #18116 - #18115 - #18120 - #17211 - #17948 - #17212 : Fixed a11y issues with the story player page
  core/templates/components/question-directives/question-player/question-player.component.html
  core/templates/components/summary-tile/story-summary-tile.component.html
  core/templates/components/summary-tile/subtopic-summary-tile.component.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
Labels: PR: LGTM

#18407 Try to fix lighthouse error on donate page.
  .lighthouserc-1.js
  .lighthouserc-2.js
  .lighthouserc-base.js
Labels: PR: LGTM

#18401 Make some updates to clarify issue and PR templates.
  .github/ISSUE_TEMPLATE/1_bug_report_form.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: LGTM

#17916 Fix part of #9749: Migrate rte modal controller and rte modal service
  .github/CODEOWNERS
  assets/rich_text_components_definitions.ts
  core/templates/App.ts
  core/templates/base-components/oppia-root.directive.ts
  core/templates/components/ck-editor-helpers/customize-rte-component-modal.template.html
  core/templates/components/forms/schema-based-editors/schema-based-custom-editor.component.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-custom-editor.component.ts
  core/templates/components/forms/schema-based-editors/schema-based-editor.component.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/assets-backend-api.service.spec.ts
  core/templates/services/assets-backend-api.service.ts
  core/templates/services/rte-helper-modal.component.html
  core/templates/services/rte-helper-modal.controller.spec.ts
  core/templates/services/rte-helper-modal.controller.ts
  core/templates/services/rte-helper.service.spec.ts
  core/templates/services/rte-helper.service.ts
  core/templates/utility/forms.ts
  extensions/objects/templates/math-expression-content-editor.component.html
  extensions/objects/templates/math-expression-content-editor.component.spec.ts
  extensions/objects/templates/math-expression-content-editor.component.ts
  extensions/objects/templates/sanitized-url-editor.component.html
  extensions/objects/templates/sanitized-url-editor.component.spec.ts
  extensions/objects/templates/sanitized-url-editor.component.ts
  scripts/check_frontend_test_coverage.py
  tsconfig.json
Labels: PR: LGTM

#18328 Fix the color contrast of the oppia lesson tile
  assets/constants.ts
  assets/images/activity/collection.svg
  assets/images/activity/exploration.svg
  assets/images/splash/books.svg
  core/domain/summary_services_test.py
  core/templates/domain/collection/collection-node.model.spec.ts
  core/templates/domain/collection/collection-summary.model.spec.ts
  core/templates/domain/collection/collection-update.service.spec.ts
  core/templates/domain/collection/collection-validation.service.spec.ts
  core/templates/domain/collection/collection.model.spec.ts
  core/templates/domain/collection/editable-collection-backend-api.service.spec.ts
  core/templates/domain/collection/guest-collection-progress.service.spec.ts
  core/templates/domain/collection/read-only-collection-backend-api.service.spec.ts
  core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/recommendations/exploration-recommendations-backend-api.service.spec.ts
  core/templates/domain/story_viewer/read-only-story-node.model.spec.ts
  core/templates/domain/story_viewer/story-playthrough.model.spec.ts
  core/templates/domain/story_viewer/story-viewer-backend-api.service.spec.ts
  core/templates/domain/summary/creator-exploration-summary.model.spec.ts
  core/templates/domain/summary/learner-exploration-summary.model.spec.ts
  core/templates/domain/user/user-profile.model.spec.ts
  core/templates/pages/collection-editor-page/editor-tab/collection-node-editor.component.spec.ts
  core/templates/pages/collection-player-page/collection-player-page.component.spec.ts
  core/templates/pages/collection-player-page/services/collection-player-backend-api.service.spec.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.spec.ts
  core/templates/pages/exploration-editor-page/settings-tab/templates/preview-summary-tile-modal.controller.spec.ts
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.spec.ts
  core/templates/pages/profile-page/profile-page-backend-api.service.spec.ts
  core/templates/pages/profile-page/profile-page.component.spec.ts
  core/templates/pages/story-viewer-page/story-viewer-page.component.spec.ts
  core/tests/build_sources/assets/constants.js
  core/tests/build_sources/assets/images/collection.svg
  core/utils_test.py
Labels: PR: LGTM

#18418 Fix issue #17191, #17190 and part of issue #18240, #18178: Add handling of image uploads from translation reviewers and question reviewers
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
Labels: PR: LGTM

#18414 Fix #17207: Add h1 in the math classroom page
  core/templates/pages/classroom-page/classroom-page.component.css
  core/templates/pages/classroom-page/classroom-page.component.html
Labels: PR: LGTM

#18363 Change story node frontend domain and chapter control UI: GSoC M1.2
  core/templates/components/summary-tile/learner-story-summary-tile.component.spec.ts
  core/templates/components/summary-tile/learner-topic-goals-summary-tile.component.spec.ts
  core/templates/components/summary-tile/learner-topic-summary-tile.component.spec.ts
  core/templates/components/summary-tile/story-summary-tile.component.spec.ts
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_group/learner-group-syllabus-backend-api.service.spec.ts
  core/templates/domain/learner_group/learner-group-syllabus.model.spec.ts
  core/templates/domain/learner_group/learner-group-user-progress.model.spec.ts
  core/templates/domain/story/editable-story-backend-api.service.spec.ts
  core/templates/domain/story/story-contents-object.model.spec.ts
  core/templates/domain/story/story-contents-object.model.ts
  core/templates/domain/story/story-domain.constants.ts
  core/templates/domain/story/story-node.model.spec.ts
  core/templates/domain/story/story-node.model.ts
  core/templates/domain/story/story-summary.model.spec.ts
  core/templates/domain/story/story-update.service.spec.ts
  core/templates/domain/story/story-update.service.ts
  core/templates/domain/story/story-validation.service.spec.ts
  core/templates/domain/story/story.model.spec.ts
  core/templates/domain/topic/learner-topic-summary.model.spec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.spec.ts
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.spec.ts
  core/templates/pages/learner-dashboard-page/goals-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/home-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/progress-tab.component.spec.ts
  core/templates/pages/learner-group-pages/edit-group/learner-group-learner-specific-progress.component.spec.ts
  core/templates/pages/learner-group-pages/edit-group/learner-group-learners-progress.component.spec.ts
  core/templates/pages/learner-group-pages/edit-group/learner-group-overview.component.spec.ts
  core/templates/pages/learner-group-pages/view-group/learner-group-view-assigned-syllabus.component.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.component.html
  core/templates/pages/story-editor-page/editor-tab/story-editor.component.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.component.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.component.ts
  core/templates/pages/story-editor-page/modal-templates/new-chapter-title-modal.controller.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar-breadcrumb.component.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-staleness-detection.service.spec.ts
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.spec.ts
Labels: PR: LGTM

#18387 Fixed the comment in the learner-dashboard
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
  core/templates/components/summary-tile/learner-topic-goals-summary-tile.component.html
  core/templates/components/summary-tile/learner-topic-summary-tile.component.html
Labels: PR: LGTM

#18400 Story player -- Fix axeDev tools + lighthouse error and make the lighthouse score to 1 (this is a stacked PR on top of #18364)
  core/templates/components/question-directives/question-player/question-player.component.html
  core/templates/components/summary-tile/story-summary-tile.component.html
  core/templates/pages/subtopic-viewer-page/subtopic-viewer-page.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/templates/pages/topic-viewer-page/stories-list/topic-viewer-stories-list.component.html
  core/templates/pages/topic-viewer-page/subtopics-list/subtopics-list.component.html
Labels: PR: LGTM

#18391 Creator dashboard -- Fixes axeDev tools + lighthouse error and makes the lighthouse score to 1
  core/templates/components/common-layout-directives/common-elements/sharing-links.component.html
  core/templates/components/summary-tile/exploration-summary-tile.component.html
  core/templates/css/oppia.css
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.html
Labels: PR: LGTM

#18327 Fix#17695 Invisibility of white text against white background
  core/templates/css/oppia.css
  core/templates/pages/exploration-player-page/layout-directives/learner-view-info.component.html
Labels: PR: LGTM

#18355 Adds a test that verifies the platform param appears once in the features or params list
  core/controllers/admin_test.py
  core/controllers/platform_feature_test.py
  core/controllers/release_coordinator_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18392 GSoC_M1.3 : Add translation Length label
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.spec.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.ts
Labels: PR: LGTM

#18354 Migrate some of the config properties to feature-flags/platform-params
  core/controllers/access_validators.py
  core/controllers/access_validators_test.py
  core/controllers/admin_test.py
  core/controllers/features.py
  core/controllers/improvements.py
  core/controllers/improvements_test.py
  core/controllers/learner_group.py
  core/controllers/learner_group_test.py
  core/domain/config_domain.py
  core/domain/learner_group_services.py
  core/domain/learner_group_services_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/platform_feature_list.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/domain/platform_feature/feature-status-summary.model.ts
  core/tests/webdriverio_desktop/explorationImprovementsTab.js
  core/tests/webdriverio_desktop/publicationAndLibrary.js
  core/tests/webdriverio_utils/ReleaseCoordinatorPage.js
Labels: PR: LGTM

#18393 Fix #18299 Wiki Revert Failed and Cannot be Run Manually
  .github/workflows/revert-web-wiki-updates.yml
Labels: PR: LGTM, PR: don't merge - STALE BUILD

#18554 Fix #18464: Present translated content to learners even if it requires update
  core/templates/domain/state_card/state-card.model.ts
Labels: PR: LGTM

#18406 Beam Job for populating new models used in Contributor Admin Dashboard: GSoC M1.4
  core/jobs/batch_jobs/contributor_admin_stats_jobs.py
  core/jobs/batch_jobs/contributor_admin_stats_jobs_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
  scripts/linters/test_files/valid.py
Labels: PR: Affects datastore layer

#18413 Edit default value for feature flag and platform parameter
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/diagnostic_test_player_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/platform_feature_test.py
  core/controllers/release_coordinator.py
  core/controllers/release_coordinator_test.py
  core/controllers/resources.py
  core/domain/learner_group_services_test.py
  core/domain/platform_feature_services.py
  core/domain/platform_feature_services_test.py
  core/domain/platform_parameter_domain.py
  core/domain/platform_parameter_domain_test.py
  core/domain/platform_parameter_registry.py
  core/domain/platform_parameter_registry_test.py
  core/storage/config/gae_models.py
  core/storage/config/gae_models_test.py
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.spec.ts
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.ts
  core/templates/domain/platform_feature/platform-feature-domain.constants.ts
  core/templates/domain/platform_feature/platform-parameter.model.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.html
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.spec.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.html
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.spec.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.ts
Labels: PR: LGTM

#18553 Complete some miscellaneous small fixes -- drop UA tag, add comments and update issue templates.
  .github/ISSUE_TEMPLATE/1_bug_report_form.yml
  .github/PENDING_REVIEW_NOTIFICATION_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/README.md
  assets/analytics-constants.json
  core/storage/blog/gae_models.py
  core/templates/google-analytics.initializer.ts
  core/templates/pages/header_js_libs.html
  scripts/release_scripts/update_configs.py
  scripts/release_scripts/update_configs_test.py
  webpack.prod.config.ts
Labels: PR: LGTM

#18397 Fix #18333 [Feature request]:Fixed The Problem Of Limited Text Formatting #18333
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.html
  core/templates/pages/blog-dashboard-page/modal-templates/author-detail-editor-modal.component.html
Labels: PR: LGTM

#18570 Fix #18540: Update modal labels to Publish Changes
  core/templates/pages/skill-editor-page/modal-templates/skill-editor-save-modal.component.html
Labels: PR: LGTM

#18454 Contributor dashboard -- Fixes axeDev tools + lighthouse error and makes the lighthouse score to 1
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review.component.html
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/review-translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.html
Labels: PR: LGTM
