Repository oppia/oppia, pull requests merged in 2024-09, with the labels that each got.

#20875 Fixes 20293: Removes the save-default button from platform parameters page
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.html
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.spec.ts
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.ts
  core/tests/puppeteer-acceptance-tests/specs/super-admin/edit-platform-parameters.spec.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/super-admin.ts
Labels: PR: LGTM

#20898 Fix published translations not being displayed in translations tab
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.html
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.ts
Labels: PR: LGTM

#20884 Fix #20531 Change ID for "The answers in this group are correct" label
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.component.html
Labels: PR: LGTM

#20369 Change configurable emails to platform parameters to make release build independent of these
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/classifier_test.py
  core/controllers/cron_test.py
  core/controllers/editor_test.py
  core/controllers/email_dashboard_test.py
  core/controllers/improvements_test.py
  core/controllers/moderator_test.py
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/controllers/reader_test.py
  core/controllers/release_coordinator_test.py
  core/controllers/tasks_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topic_viewer_test.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/email_services.py
  core/domain/email_services_test.py
  core/domain/email_subscription_services_test.py
  core/domain/exp_domain_test.py
  core/domain/feedback_services_test.py
  core/domain/moderator_services_test.py
  core/domain/platform_parameter_list.py
  core/domain/platform_parameter_list_test.py
  core/domain/platform_parameter_registry.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/wipeout_service_test.py
  core/platform/auth/firebase_auth_services.py
  core/platform/auth/firebase_auth_services_test.py
  core/platform/email/dev_mode_email_services_test.py
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/flush-and-get-profile-of-redis-cache.spec.ts
  core/tests/test_utils.py
  core/tests/test_utils_test.py
Labels: PR: LGTM, PR: Affects datastore layer

#20932 Allow uploading of .coverage file
  .github/workflows/backend_tests.yml
Labels: PR: LGTM, PR: for current release, PR: Needs to be hotfixed

#20930 Fixes part of #20902: The Watch A Video button should open the right page.
  core/tests/puppeteer-acceptance-tests/utilities/common/test-constants.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/logged-out-user.ts
Labels: PR: LGTM

#20948 Fix #20947: Fix backend flake for check_tests_are_captured_in_ci_test.
  scripts/check_tests_are_captured_in_ci.py
Labels: PR: LGTM

#20544 Fix #20399: Added tests for POST, PUT and DELETE and error handling for invalid method using 405 status code.
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/profile_test.py
  core/tests/test_utils.py
  core/tests/test_utils_test.py
Labels: PR: LGTM

#20780 Fix #20779: Makefile env PATH fix on WSL
  Makefile
Labels: PR: LGTM

#20790 Fix part of #19435: Review test page migration
  assets/constants.ts
  core/controllers/access_validators.py
  core/controllers/access_validators_test.py
  core/controllers/review_tests.py
  core/controllers/review_tests_test.py
  core/templates/pages/oppia-root/routing/access-validation-backend-api.service.spec.ts
  core/templates/pages/oppia-root/routing/access-validation-backend-api.service.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/templates/pages/review-test-page/review-test-auth.guard.spec.ts
  core/templates/pages/review-test-page/review-test-auth.guard.ts
  core/templates/pages/review-test-page/review-test-page-root.component.html
  core/templates/pages/review-test-page/review-test-page-root.component.spec.ts
  core/templates/pages/review-test-page/review-test-page-root.component.ts
  core/templates/pages/review-test-page/review-test-page.component.ts
  core/templates/pages/review-test-page/review-test-page.mainpage.html
  core/templates/pages/review-test-page/review-test-page.module.ts
  core/templates/services/angular-services.index.ts
  main.py
  webpack.common.config.ts
Labels: PR: LGTM

#20904 Fix part of#19849: Multiple classrooms bug fixes
  assets/i18n/ar.json
  assets/i18n/bn.json
  assets/i18n/br.json
  assets/i18n/el.json
  assets/i18n/en.json
  assets/i18n/es.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/id.json
  assets/i18n/it.json
  assets/i18n/ko.json
  assets/i18n/pcm.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/sw.json
  assets/i18n/uk.json
  assets/i18n/zh-hant.json
  core/domain/learner_progress_services.py
  core/domain/topic_fetchers.py
  core/domain/topic_fetchers_test.py
  core/templates/components/forms/custom-forms-directives/thumbnail-display.component.html
  core/templates/components/forms/custom-forms-directives/thumbnail-display.component.ts
  core/templates/components/summary-tile/learner-story-summary-tile.component.html
  core/templates/components/summary-tile/learner-topic-goals-summary-tile.component.html
  core/templates/components/summary-tile/learner-topic-goals-summary-tile.component.spec.ts
  core/templates/components/summary-tile/learner-topic-summary-tile.component.spec.ts
  core/templates/components/summary-tile/learner-topic-summary-tile.component.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/story/story-summary.model.ts
  core/templates/domain/topic/learner-topic-summary.model.spec.ts
  core/templates/domain/topic/learner-topic-summary.model.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.ts
  core/templates/pages/classroom-page/classroom-page.component.html
  core/templates/pages/classrooms-page/classrooms-page.component.html
  core/templates/pages/learner-dashboard-page/goals-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/goals-tab.component.ts
  core/templates/pages/learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/home-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/progress-tab.component.html
  core/templates/pages/learner-dashboard-page/progress-tab.component.spec.ts
Labels: PR: LGTM

#20905 Fix part of #20001: Make pre-push hook more efficient.
  scripts/git_changes_utils.py
  scripts/git_changes_utils_test.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  scripts/run_backend_tests_test.py
  scripts/run_frontend_tests.py
  scripts/run_frontend_tests_test.py
Labels: PR: LGTM

#20919 Fix #19650: Fixes limit error
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
Labels: PR: LGTM

#20929 Fix part of #18384: Added classroom & toggle buttons, no lessons screen in progress tab for learner dashboard redesign
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/learner-dashboard-page/card-display/card-display.component.html
  core/templates/pages/learner-dashboard-page/card-display/card-display.component.spec.ts
  core/templates/pages/learner-dashboard-page/card-display/card-display.component.ts
  core/templates/pages/learner-dashboard-page/classroom-button/classroom-button.component.html
  core/templates/pages/learner-dashboard-page/classroom-button/classroom-button.component.spec.ts
  core/templates/pages/learner-dashboard-page/classroom-button/classroom-button.component.ts
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.css
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.html
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.ts
  core/templates/pages/learner-dashboard-page/content-toggle-button/content-toggle-button.component.html
  core/templates/pages/learner-dashboard-page/content-toggle-button/content-toggle-button.component.spec.ts
  core/templates/pages/learner-dashboard-page/content-toggle-button/content-toggle-button.component.ts
  core/templates/pages/learner-dashboard-page/home-tab.component.css
  core/templates/pages/learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
Labels: PR: LGTM

#20981 Update versions to 3.4.2
  core/feconf.py
  package.json
Labels: PR: LGTM

#20895 Fix part of #19849: Show hint to create classroom in navbar
  core/templates/components/common-layout-directives/common-elements/classroom-navigation-links.component.html
Labels: PR: LGTM

#20969 Fix part of #19435: Removed the Console Error Page
  core/controllers/base_test.py
  core/controllers/pages.py
  core/templates/tests/console_errors.html
  core/templates/tests/console_errors.import.ts
  core/tests/webdriverio/accessibility.js
  main.py
  webpack.common.config.ts
Labels: PR: LGTM

#20962 Fix #20759: ‘Lesson Info’ Text in Footer Breaks and Cuts Off on MacBook at Screen Widths 580px-875px
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
Labels: PR: LGTM

#21002 Fix part of #19435: Console page module removed
  core/controllers/base_test.py
  core/templates/tests/console_errors.module.ts
Labels: PR: LGTM

#20998 Fix #20922 : Ensure 'Create New Topics/Skills' button is always visible on mobile
  core/templates/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.component.html
Labels: PR: LGTM

#20999 Fix #20923: Display Character Limits in Chapter Editor
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.component.ts
Labels: PR: LGTM

#20968 Fix part of #19435: Removed the Email Dashboard Result Page
  core/controllers/email_dashboard.py
  core/controllers/email_dashboard_test.py
  core/templates/pages/email-dashboard-pages/email-dashboard-result-backend-api.service.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result-backend-api.service.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result-page-root.component.html
  core/templates/pages/email-dashboard-pages/email-dashboard-result-page-root.component.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.html
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.spec.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.component.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.import.ts
  core/templates/pages/email-dashboard-pages/email-dashboard-result.mainpage.html
  core/templates/pages/email-dashboard-pages/email-dashboard-result.module.ts
  core/templates/services/angular-services.index.ts
  core/tests/test-dependencies/route-to-module-mapping-generator.ts
  main.py
  webpack.common.config.ts
Labels: PR: LGTM

#20952 Fix part of #19435: Migrate Blog Dashboard Page to Angular
  assets/constants.ts
  core/controllers/blog_dashboard.py
  core/controllers/blog_dashboard_test.py
  core/feconf.py
  core/templates/components/oppia-angular-root.component.spec.ts
  core/templates/components/oppia-angular-root.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page-auth.guard.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page-auth.guard.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page-root.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page-root.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page-root.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.mainpage.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.module.ts
  core/templates/pages/oppia-root/app.module.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/templates/services/angular-services.index.ts
  main.py
  webpack.common.config.ts
Labels: PR: LGTM

#20931 Fix #20221: Enforce strict typescript checks on puppeteer acceptance tests
  core/tests/puppeteer-acceptance-tests/specs/logged-out-user/share-and-give-feedback-for-exploration-but-not-report-and-rate-it.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/logged-out-user/track-and-resume-exploration-progress-via-url.spec.ts
  core/tests/puppeteer-acceptance-tests/utilities/common/test-constants.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/logged-out-user.ts
  tsconfig-strict.json
Labels: PR: LGTM
