Repository oppia/oppia, pull requests merged in 2024-02, with the labels that each got.

#19609 fix additionalEditorFeaturesModals
  core/tests/webdriverio_utils/ExplorationEditorMainTab.js
  core/tests/webdriverio_utils/waitFor.js
Labels: PR: LGTM

#19660 Fix #14425 : Previewing Exploration from Middle Card Produces Floating Box.
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.html
Labels: PR: LGTM

#19661 Fix#19597:Add Hover effect to buttons in the Topic Viewer within Oppia Classroom's Chapter.
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.css
Labels: PR: LGTM

#19619 Fix #9063: Add functionality to get the set of interactions that are used in an exploration
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/admin-page/admin-page.constants.ts
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.html
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.spec.ts
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.ts
  main.py
Labels: PR: LGTM

#19662 Fix #19171: Pass Language to URL when navigating from Translation Review Modal to Exploration Editor Page.
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
  core/templates/pages/exploration-editor-page/services/router.service.spec.ts
  core/templates/pages/exploration-editor-page/services/router.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.ts
Labels: PR: LGTM

#18819 Introduces new model for feature-flags and implementation of rollout-percentage property for features
  .github/CODEOWNERS
  core/controllers/access_validators.py
  core/controllers/access_validators_test.py
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/diagnostic_test_player.py
  core/controllers/diagnostic_test_player_test.py
  core/controllers/feature_flag.py
  core/controllers/feature_flag_test.py
  core/controllers/improvements.py
  core/controllers/improvements_test.py
  core/controllers/learner_group.py
  core/controllers/learner_group_test.py
  core/controllers/platform_feature.py
  core/controllers/platform_feature_test.py
  core/controllers/release_coordinator.py
  core/controllers/release_coordinator_test.py
  core/domain/caching_services.py
  core/domain/feature_flag_domain.py
  core/domain/feature_flag_domain_test.py
  core/domain/feature_flag_registry.py
  core/domain/feature_flag_registry_test.py
  core/domain/feature_flag_services.py
  core/domain/feature_flag_services_test.py
  core/domain/learner_group_services.py
  core/domain/learner_group_services_test.py
  core/domain/platform_feature_services.py
  core/platform_feature_list.py
  core/platform_feature_list_test.py
  core/storage/config/gae_models.py
  core/storage/config/gae_models_test.py
  core/templates/components/checkpoint-celebration-modal/checkpoint-celebration-modal.component.spec.ts
  core/templates/components/forms/schema-based-editors/schema-based-int-editor.component.html
  core/templates/domain/feature-flag/feature-flag-backend-api.service.spec.ts
  core/templates/domain/feature-flag/feature-flag-backend-api.service.ts
  core/templates/domain/feature-flag/feature-flag-domain.constants.ts
  core/templates/domain/feature-flag/feature-flag-dummy-backend-api.service.spec.ts
  core/templates/domain/feature-flag/feature-flag-dummy-backend-api.service.ts
  core/templates/domain/feature-flag/feature-flag.model.spec.ts
  core/templates/domain/feature-flag/feature-flag.model.ts
  core/templates/domain/feature-flag/feature-status-summary.model.spec.ts
  core/templates/domain/feature-flag/feature-status-summary.model.ts
  core/templates/domain/platform_feature/client-context.model.ts
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.spec.ts
  core/templates/domain/platform_feature/platform-feature-admin-backend-api.service.ts
  core/templates/domain/platform_feature/platform-parameter-domain.constants.ts
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.spec.ts
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.spec.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.html
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.spec.ts
  core/templates/pages/release-coordinator-page/features-tab/features-tab.component.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/platform-feature.service.spec.ts
  core/templates/services/platform-feature.service.ts
  core/tests/webdriverio/featureGatingFlow.js
  core/tests/webdriverio_utils/ReleaseCoordinatorPage.js
  main.py
  scripts/backend_test_shards.json
Labels: PR: LGTM, PR: Affects datastore layer

#19580 Fix #19406: Corrected responsive design and general styling issues with About Foundation page
  core/templates/pages/about-foundation-page/about-foundation-page.component.html
Labels: PR: LGTM

#19606 Fix #19550: Exploration editor settings fields not showing up until clicking on the tab button
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
  core/templates/pages/exploration-editor-page/services/router.service.spec.ts
  core/templates/pages/exploration-editor-page/services/router.service.ts
Labels: PR: LGTM

#19563 Fix part of #19415: send events on submitting an answer
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts
  core/templates/pages/exploration-player-page/services/exploration-engine.service.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.spec.ts
  core/templates/pages/exploration-player-page/services/stats-reporting.service.ts
  core/templates/services/site-analytics.service.spec.ts
  core/templates/services/site-analytics.service.ts
Labels: PR: LGTM

#19677 Routine update of translations; also fix an error with test logs being truncated too early.
  assets/i18n/bn.json
  assets/i18n/da.json
  assets/i18n/de.json
  assets/i18n/eu.json
  assets/i18n/fa.json
  assets/i18n/fr.json
  assets/i18n/he.json
  assets/i18n/hi.json
  assets/i18n/it.json
  assets/i18n/ja.json
  assets/i18n/ko.json
  assets/i18n/lb.json
  assets/i18n/nl.json
  assets/i18n/pcm.json
  assets/i18n/pt-br.json
  assets/i18n/pt.json
  assets/i18n/qqq.json
  assets/i18n/ru.json
  assets/i18n/skr-arab.json
  assets/i18n/sr-ec.json
  assets/i18n/sw.json
  assets/i18n/zh-hans.json
  assets/i18n/zh-hant.json
  core/controllers/base_test.py
  core/controllers/editor_test.py
  core/domain/exp_services_test.py
  core/domain/improvements_domain_test.py
  core/domain/improvements_services_test.py
  core/domain/takeout_service_test.py
  core/tests/test_utils.py
Labels: PR: LGTM

#19508 Fix part of #19435: Learner dashboard and curriculum admin page migration
  assets/constants.ts
  core/controllers/classroom.py
  core/controllers/classroom_test.py
  core/controllers/learner_dashboard.py
  core/controllers/learner_dashboard_test.py
  core/feconf.py
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/pages/classroom-admin-page/classroom-admin-auth.guard.spec.ts
  core/templates/pages/classroom-admin-page/classroom-admin-auth.guard.ts
  core/templates/pages/classroom-admin-page/classroom-admin-page-root.component.html
  core/templates/pages/classroom-admin-page/classroom-admin-page-root.component.spec.ts
  core/templates/pages/classroom-admin-page/classroom-admin-page-root.component.ts
  core/templates/pages/classroom-admin-page/classroom-admin-page.component.ts
  core/templates/pages/classroom-admin-page/classroom-admin-page.mainpage.html
  core/templates/pages/classroom-admin-page/classroom-admin-page.module.ts
  core/templates/pages/classroom-admin-page/navbar/classroom-admin-navbar.component.html
  core/templates/pages/classroom-admin-page/navbar/classroom-admin-navbar.component.ts
  core/templates/pages/classroom-admin-page/services/classroom-admin-data.service.ts
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.html
  core/templates/pages/learner-dashboard-page/home-tab.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-icons.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page-root.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page-root.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page-root.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.mainpage.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
  core/templates/pages/learner-dashboard-page/modal-templates/learner-playlist-modal.component.ts
  core/templates/pages/learner-dashboard-page/modal-templates/remove-activity-modal.component.ts
  core/templates/pages/learner-dashboard-page/suggestion-modal/suggestion-modal-for-learner-dashboard.service.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/templates/services/angular-services.index.ts
  main.py
  webpack.common.config.ts
Labels: PR: LGTM

#19715 Fix #19125 : [BUG]: Missing "Changelog" Section in Website's Side Content of Terms of Use
  core/templates/pages/terms-page/terms-page.component.html
Labels: PR: LGTM

#19678 Fix #19651: Hints and solution are not popping in exploration editor's preview
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.html
  core/templates/pages/exploration-player-page/exploration-player-page.module.ts
  core/templates/pages/exploration-player-page/exploration-player-viewer-common.module.ts
Labels: PR: LGTM

#19587 Fix #18508: Improve the experience of adding concept cards in the exploration editor.
  assets/rich_text_components_definitions.ts
  core/domain/rte_component_registry.py
  core/domain/rte_component_registry_test.py
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
  core/templates/services/rte-helper-modal.component.html
  core/templates/services/rte-helper-modal.controller.ts
  core/templates/services/rte-helper.service.spec.ts
  core/templates/services/rte-helper.service.ts
  core/tests/webdriverio_desktop/extensions.js
  core/tests/webdriverio_utils/forms.js
  core/tests/webdriverio_utils/general.js
  core/tests/webdriverio_utils/workflow.js
  extensions/objects/templates/skill-selector-editor.component.html
  extensions/objects/webdriverio.js
  extensions/rich_text_components/Skillreview/directives/noninteractive-skillreview-concept-card-modal.component.html
  extensions/rich_text_components/Skillreview/webdriverio.js
Labels: PR: LGTM

#19591 Added new volunteers
  assets/images/volunteer/profile_images/aanuoluwapo.jpg
  assets/images/volunteer/profile_images/aanuoluwapo.webp
  assets/images/volunteer/profile_images/abha.jpg
  assets/images/volunteer/profile_images/abha.webp
  assets/images/volunteer/profile_images/anubhuti.jpg
  assets/images/volunteer/profile_images/anubhuti.webp
  assets/images/volunteer/profile_images/diana.jpg
  assets/images/volunteer/profile_images/diana.webp
  assets/images/volunteer/profile_images/erio.jpg
  assets/images/volunteer/profile_images/erio.webp
  assets/images/volunteer/profile_images/giovana.jpg
  assets/images/volunteer/profile_images/giovana.webp
  assets/images/volunteer/profile_images/jackson.jpg
  assets/images/volunteer/profile_images/jackson.webp
  assets/images/volunteer/profile_images/jay.jpg
  assets/images/volunteer/profile_images/jay.webp
  assets/images/volunteer/profile_images/jennifer.jpg
  assets/images/volunteer/profile_images/jennifer.webp
  assets/images/volunteer/profile_images/kanupriya.jpg
  assets/images/volunteer/profile_images/kanupriya.webp
  assets/images/volunteer/profile_images/liwei.jpg
  assets/images/volunteer/profile_images/liwei.webp
  assets/images/volunteer/profile_images/molly.jpg
  assets/images/volunteer/profile_images/molly.webp
  assets/images/volunteer/profile_images/pearl.jpg
  assets/images/volunteer/profile_images/pearl.webp
  assets/images/volunteer/profile_images/pretty.jpg
  assets/images/volunteer/profile_images/pretty.webp
  assets/images/volunteer/profile_images/vanessa.jpg
  assets/images/volunteer/profile_images/vanessa.webp
  assets/images/volunteer/profile_images/viksar.jpg
  assets/images/volunteer/profile_images/viksar.webp
  assets/images/volunteer/profile_images/yiga.jpg
  assets/images/volunteer/profile_images/yiga.webp
  core/templates/pages/volunteer-page/volunteer-page.component.html
  core/templates/pages/volunteer-page/volunteer-page.component.ts
Labels: PR: LGTM

#19663 Creates Voice artist metadata model.
  core/domain/takeout_service_test.py
  core/storage/voiceover/gae_models.py
  core/storage/voiceover/gae_models_test.py
Labels: PR: LGTM, PR: Affects datastore layer

#19045 Add a new cron job to send email notifications of new suggestions to reviewers.
  core/controllers/cron.py
  core/controllers/cron_test.py
  core/domain/email_manager.py
  core/domain/email_manager_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
  core/storage/suggestion/gae_models.py
  core/storage/suggestion/gae_models_test.py
  cron.yaml
  main.py
Labels: PR: LGTM, PR: Affects datastore layer

#19432 Updates to the contributor admin dashboard
  core/controllers/classroom.py
  core/controllers/classroom_test.py
  core/domain/user_domain.py
  core/domain/user_domain_test.py
  core/domain/user_services.py
  core/feconf.py
  core/templates/domain/classroom/classroom-backend-api.service.spec.ts
  core/templates/domain/classroom/classroom-backend-api.service.ts
  core/templates/domain/classroom/classroom-domain.constants.ajs.ts
  core/templates/domain/classroom/classroom-domain.constants.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.css
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-stats-backend-api.service.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/services/contributor-dashboard-admin-stats-backend-api.service.ts
  core/templates/pages/contributor-dashboard-admin-page/topic-filter/topic-filter.component.ts
  core/tests/webdriverio_desktop/contributorAdminDashboard.js
  main.py
Labels: PR: Affects datastore layer

#19764 Fix #19731: "Error: Play record button is not clickable." in fileUploadFeatures
  core/tests/webdriverio_utils/ExplorationEditorTranslationTab.js
Labels: PR: LGTM

#19665 add retries for flaky tests
  .github/workflows/e2e_lighthouse_performance_acceptance_tests.yml
  core/tests/data/dummy_ci_tests/e2e_actions_dummy.yml
  scripts/check_e2e_tests_are_captured_in_ci.py
  scripts/check_e2e_tests_are_captured_in_ci_test.py
Labels: PR: LGTM

#19594 Fix part of #19570: language name in language dropdown list in contributor admin dashboard
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.ts
  core/tests/webdriverio_desktop/contributorAdminDashboard.js
Labels: PR: LGTM, PR: Affects datastore layer

#19736 Fix #16620 : [BUG]: Shifted checkboxes and misaligned text on the exploration editor page.
  core/templates/components/state-directives/outcome-editor/outcome-destination-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
  core/templates/components/state-directives/outcome-editor/outcome-if-stuck-destination-editor.component.html
  core/templates/components/state-directives/response-header/response-header.component.html
  core/templates/components/state-editor/state-responses-editor/state-responses.component.html
  core/templates/pages/exploration-editor-page/editor-tab/state-name-editor/state-name-editor.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.component.html
Labels: PR: LGTM

#19735 Fix #19690: Correctly align author name in profile section.
  core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.html
  core/templates/css/oppia.css
  core/templates/pages/profile-page/profile-page.component.css
  core/tests/data/third_party/css/third_party.css
Labels: PR: LGTM

#19761 Fix part of #19435: Learner group editor page migration
  assets/constants.ts
  core/controllers/access_validators.py
  core/controllers/access_validators_test.py
  core/controllers/learner_group.py
  core/controllers/learner_group_test.py
  core/templates/pages/learner-group-pages/edit-group/edit-learner-group-page-auth.guard.spec.ts
  core/templates/pages/learner-group-pages/edit-group/edit-learner-group-page-auth.guard.ts
  core/templates/pages/learner-group-pages/edit-group/edit-learner-group-page-root.component.html
  core/templates/pages/learner-group-pages/edit-group/edit-learner-group-page-root.component.spec.ts
  core/templates/pages/learner-group-pages/edit-group/edit-learner-group-page-root.component.ts
  core/templates/pages/learner-group-pages/edit-group/edit-learner-group-page.component.ts
  core/templates/pages/learner-group-pages/edit-group/edit-learner-group-page.mainpage.html
  core/templates/pages/learner-group-pages/edit-group/edit-learner-group-page.module.ts
  core/templates/pages/learner-group-pages/edit-group/learner-group-learners-progress.component.ts
  core/templates/pages/learner-group-pages/edit-group/learner-group-preferences.component.ts
  core/templates/pages/learner-group-pages/edit-group/learner-group-syllabus.component.ts
  core/templates/pages/oppia-root/routing/access-validation-backend-api.service.spec.ts
  core/templates/pages/oppia-root/routing/access-validation-backend-api.service.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/templates/services/angular-services.index.ts
  main.py
  webpack.common.config.ts
Labels: PR: LGTM

#19769 Fix: [BUG] 404 Not Found on Blog Dashboard #19734
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.ts
Labels: PR: LGTM

#19754 Fix part of #19570: Making headers of stats table in contributor admin dashboard more meaningful
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-tables/contributor-admin-stats-table.component.html
Labels: PR: LGTM

#19756 Decorator to enable feature flag
  core/controllers/access_validators_test.py
  core/controllers/acl_decorators_test.py
  core/controllers/diagnostic_test_player_test.py
  core/controllers/feature_flag_test.py
  core/controllers/improvements_test.py
  core/controllers/learner_group_test.py
  core/domain/learner_group_services_test.py
  core/tests/test_utils.py
  core/tests/test_utils_test.py
Labels: PR: LGTM

#19815 Fix part of #19435: Blog dashboard page migration
  assets/constants.ts
  core/controllers/blog_dashboard.py
  core/controllers/blog_dashboard_test.py
  core/feconf.py
  core/templates/domain/user/user-info.model.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page-auth.guard.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page-auth.guard.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page-root.component.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page-root.component.spec.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page-root.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.component.ts
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.mainpage.html
  core/templates/pages/blog-dashboard-page/blog-dashboard-page.module.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/templates/services/angular-services.index.ts
  main.py
  webpack.common.config.ts
Labels: PR: LGTM

#19713 Fix #19607: Update InteractiveSetInputComponent to dynamically handle duplicates
  assets/i18n/en.json
  extensions/interactions/SetInput/directives/oppia-interactive-set-input.component.spec.ts
  extensions/interactions/SetInput/directives/oppia-interactive-set-input.component.ts
Labels: PR: LGTM

#19703 Fix part of issue #19435: Migrate contributor dashboard Admin Page
  assets/constants.ts
  core/controllers/contributor_dashboard_admin.py
  core/controllers/contributor_dashboard_admin_test.py
  core/templates/domain/utilities/url-interpolation.service.spec.ts
  core/templates/domain/utilities/url-interpolation.service.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-auth.guard.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-auth.guard.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page-root.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page-root.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page-root.component.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.spec.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.component.ts
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.mainpage.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-dashboard-admin-page.module.ts
  core/templates/pages/contributor-dashboard-admin-page/navbar/contributor-dashboard-admin-navbar.component.html
  core/templates/pages/contributor-dashboard-admin-page/navbar/contributor-dashboard-admin-navbar.component.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/templates/services/angular-services.index.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/question-admin-utils.js
  core/tests/puppeteer-acceptance-tests/user-utilities/translation-admin-utils.js
  main.py
  webpack.common.config.ts
Labels: PR: LGTM

#19801 Add acceptance testing team as code-owner for relevant files
  .github/CODEOWNERS
Labels: PR: LGTM

#19832 Fix #19789: Input path in valid and does not contain dimensions' error when adding math RTE component
  core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts
Labels: PR: for current release

#19826 Fix part of #19435: Migrate Learner Group Creator page
  assets/constants.ts
  core/controllers/access_validators.py
  core/controllers/access_validators_test.py
  core/controllers/learner_group.py
  core/controllers/learner_group_test.py
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page-auth.guard.spec.ts
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page-auth.guard.ts
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page-root.component.html
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page-root.component.spec.ts
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page-root.component.ts
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page.component.ts
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page.mainpage.html
  core/templates/pages/learner-group-pages/create-group/create-learner-group-page.module.ts
  core/templates/pages/oppia-root/routing/access-validation-backend-api.service.spec.ts
  core/templates/pages/oppia-root/routing/access-validation-backend-api.service.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/templates/services/angular-services.index.ts
  main.py
  webpack.common.config.ts
Labels: PR: LGTM

#19833 Fix #2377 : Implement scroll functionality in intro card box to access rte toolbar.
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.html
Labels: PR: LGTM

#19835 Fix #19817: A student cannot able to remove explorations from the “play later” list on the learner dashboard.
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.module.ts
Labels: PR: for current release

#19838 Fix #19640: Developer console error while viewing your question suggestion
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.component.ts
Labels: PR: LGTM, PR: for current release

#19839 Revert "Fix part of #19435: Migrate Contributor Dashboard (#19467)"
  assets/constants.ts
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/templates/components/oppia-angular-root.component.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page-root.component.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page-root.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page-root.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.mainpage.html
  core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.module.ts
  core/templates/pages/contributor-dashboard-page/contributor-stats/contributor-stats.component.ts
  core/templates/pages/contributor-dashboard-page/login-required-message/login-required-message.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/certificate-download-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/login-required-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
  core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/review-translation-language-selector.component.ts
  core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.ts
  core/templates/pages/contributor-dashboard-page/translation-opportunities/translation-opportunities.component.ts
  core/templates/pages/contributor-dashboard-page/translation-topic-selector/translation-topic-selector.component.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  main.py
  webpack.common.config.ts
Labels: PR: for current release
