Repository oppia/oppia, pull requests merged in 2024-03, with the labels that each got.

#19857 Fix #19847 : Remove overflow bars when hieght is less than max-hieght.
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.html
Labels: PR: LGTM

#19518 Fix #18505 : Corrected character-counting logic in the hint editor
  core/templates/components/state-directives/hint-editor/hint-editor.component.spec.ts
  core/templates/components/state-directives/hint-editor/hint-editor.component.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.component.ts
  core/templates/services/html-length.service.spec.ts
  core/templates/services/html-length.service.ts
Labels: PR: LGTM, PR: Needs to be hotfixed

#19772 Fix part of #19570: change url from /contributor-dashboard-admin to /…
  assets/constants.ts
  core/feconf.py
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/test-constants.js
  core/tests/webdriverio_utils/ContributorDashboardAdminPage.js
Labels: PR: LGTM

#19879 Routine update of translations
  assets/i18n/br.json
  assets/i18n/fi.json
  assets/i18n/fr.json
  assets/i18n/hi.json
  assets/i18n/lb.json
  assets/i18n/lt.json
  assets/i18n/nl.json
  assets/i18n/pt-br.json
  assets/i18n/sr-ec.json
  assets/i18n/zh-hant.json
Labels: PR: LGTM

#19744 Fix #19741 : [Feature ]: Adds LinkedIn to the website's footer section.
  core/templates/components/button-directives/social-buttons.component.css
  core/templates/components/button-directives/social-buttons.component.html
Labels: PR: LGTM

#19867 Fix #18879: Updated solution length logic
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.html
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.spec.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.ts
Labels: PR: LGTM

#19878 Update authors since 7f6c6b6
  AUTHORS
  CONTRIBUTORS
  core/templates/pages/about-page/about-page.constants.ts
Labels: PR: LGTM

#19853 Minor updates to issue and PR templates
  .github/ISSUE_TEMPLATE/2_feature_request_form.yml
  .github/ISSUE_TEMPLATE/4_server_error_template.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: LGTM

#19877 Fix #18268: Migrate acceptance tests to Typescript
  .github/workflows/e2e_lighthouse_performance_acceptance_tests.yml
  .gitignore
  core/templates/combined-tests.spec.ts
  core/tests/karma.conf.ts
  core/tests/puppeteer-acceptance-tests/jasmine.json
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/puppeteer-utils.ts
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/show-message-utils.ts
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/test-constants.ts
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/user-factory.js
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/user-factory.ts
  core/tests/puppeteer-acceptance-tests/spec/blog-admin-tests/assign-roles-to-users-and-change-tag-properties.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/blog-editor-tests/try-to-publish-a-duplicate-blog-post-and-get-blocked.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/helpers/reporter.ts
  core/tests/puppeteer-acceptance-tests/spec/logged-in-user-tests/click-all-buttons-in-about-foundation-page.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/logged-in-user-tests/click-all-buttons-in-about-page.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/logged-in-user-tests/click-all-buttons-in-thanks-for-donating-page.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/logged-in-user-tests/click-all-buttons-on-navbar.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/practice-question-admin-tests/add-and-remove-contribution-rights.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/translation-admin-tests/add-translation-rights.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/translation-admin-tests/remove-translation-rights.spec.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/blog-admin-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/blog-post-admin-utils.js
  core/tests/puppeteer-acceptance-tests/user-utilities/blog-post-editor-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/logged-in-users-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/question-admin-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/super-admin-utils.js
  core/tests/puppeteer-acceptance-tests/user-utilities/super-admin-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/translation-admin-utils.ts
  package.json
  scripts/common.py
  scripts/linters/general_purpose_linter.py
  scripts/run_acceptance_tests.py
  scripts/run_acceptance_tests_test.py
  scripts/servers.py
  scripts/servers_test.py
  tsconfig-lint.json
  tsconfig.puppeteer-acceptance-tests.json
  typings/puppeteer-acceptance-tests/index.d.ts
  yarn.lock
Labels: PR: LGTM

#19652 Fixes part of #19810: Removes classroom config
  .github/CODEOWNERS
  core/controllers/access_validators_test.py
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/classroom.py
  core/controllers/classroom_test.py
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_test.py
  core/controllers/domain_objects_validator.py
  core/controllers/domain_objects_validator_test.py
  core/controllers/learner_dashboard_test.py
  core/controllers/topic_editor_test.py
  core/controllers/topics_and_skills_dashboard.py
  core/controllers/topics_and_skills_dashboard_test.py
  core/domain/android_services.py
  core/domain/android_services_test.py
  core/domain/classroom_config_domain.py
  core/domain/classroom_config_domain_test.py
  core/domain/classroom_config_services.py
  core/domain/classroom_services.py
  core/domain/classroom_services_test.py
  core/domain/config_domain.py
  core/domain/config_domain_test.py
  core/domain/config_services.py
  core/domain/config_services_test.py
  core/domain/learner_group_services.py
  core/domain/learner_group_services_test.py
  core/domain/learner_progress_services.py
  core/domain/learner_progress_services_test.py
  core/domain/skill_services.py
  core/domain/skill_services_test.py
  core/tests/webdriverio_desktop/checkpointFeatures.js
  core/tests/webdriverio_desktop/classroomPageFileUploadFeatures.js
  core/tests/webdriverio_desktop/contributorAdminDashboard.js
  core/tests/webdriverio_desktop/contributorDashboard.js
  core/tests/webdriverio_desktop/learnerDashboard.js
  core/tests/webdriverio_desktop/topicAndStoryViewer.js
  core/tests/webdriverio_desktop/topicsAndSkillsDashboard.js
  scripts/backend_test_shards.json
  scripts/populate_sample_contributor_data.py
Labels: PR: LGTM

#19762 In voiceover mode, the text is translated into its respective language.
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.html
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
Labels: PR: LGTM

#19900 Fix #19793: All languages functionality not working
  core/templates/pages/library-page/search-bar/search-bar.component.ts
Labels: PR: LGTM

#19874 Fix #19281: Updating the logic to compute translation lengths while for type list of strings.
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list-item/opportunities-list-item.component.ts
  core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts
Labels: PR: LGTM

#19883 Fix #18505: Updated empty string error log
  core/templates/services/html-length.service.spec.ts
  core/templates/services/html-length.service.ts
Labels: PR: LGTM, PR: for current release, PR: Needs to be hotfixed

#19859 fix(homepage): favicon asset path
  src/index.html
Labels: PR: LGTM

#19921 Fix part of #18268: Migrate acceptance tests to Typescript
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/puppeteer-utils.ts
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/user-factory.ts
  core/tests/puppeteer-acceptance-tests/spec/blog-admin-tests/assign-roles-to-users-and-change-tag-properties.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/blog-editor-tests/try-to-publish-a-duplicate-blog-post-and-get-blocked.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/logged-in-user-tests/click-all-buttons-in-about-foundation-page.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/logged-in-user-tests/click-all-buttons-in-about-page.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/logged-in-user-tests/click-all-buttons-in-thanks-for-donating-page.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/logged-in-user-tests/click-all-buttons-on-navbar.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/practice-question-admin-tests/add-and-remove-contribution-rights.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/translation-admin-tests/add-translation-rights.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/translation-admin-tests/remove-translation-rights.spec.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/blog-admin-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/blog-post-editor-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/logged-in-users-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/question-admin-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/super-admin-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/translation-admin-utils.ts
Labels: PR: LGTM

#19854 fix part of #19499: add prettier
  .eslintrc
  .github/CODEOWNERS
  .prettierignore
  .prettierrc.json
  package.json
  scripts/pre_commit_hook.py
  typings/tests/tslint.json
  yarn.lock
Labels: PR: LGTM

#19932 Revert #19705
  Makefile
  docker/Dockerfile.frontend
Labels: PR: LGTM

#19759 Fix #19718: Create a pre-push script that runs current pre-push hook in docker container
  Makefile
  docker/pre_push_hook.sh
  scripts/pre_push_hook.py
Labels: PR: LGTM

#19912 Fix #15353 Text not overlapping with icons in the community library
  core/templates/css/oppia.css
Labels: PR: LGTM

#19906 Fixes #19810: Remove config page from the Admin tab
  .github/CODEOWNERS
  core/controllers/admin.py
  core/domain/caching_services.py
  core/domain/config_domain.py
  core/domain/config_domain_test.py
  core/domain/takeout_service_test.py
  core/domain/wipeout_service.py
  core/domain/wipeout_service_test.py
  core/jobs/transforms/validation/config_validation.py
  core/jobs/transforms/validation/config_validation_test.py
  core/storage/config/gae_models.py
  core/storage/config/gae_models_test.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/admin-page/admin-page.component.html
  core/templates/pages/admin-page/admin-page.component.spec.ts
  core/templates/pages/admin-page/admin-page.component.ts
  core/templates/pages/admin-page/admin-page.constants.ts
  core/templates/pages/admin-page/admin-page.module.ts
  core/templates/pages/admin-page/config-tab/admin-config-tab.component.html
  core/templates/pages/admin-page/config-tab/admin-config-tab.component.spec.ts
  core/templates/pages/admin-page/config-tab/admin-config-tab.component.ts
  core/templates/pages/admin-page/navbar/admin-navbar.component.html
  core/templates/pages/admin-page/navbar/admin-navbar.component.spec.ts
  core/templates/pages/admin-page/navbar/admin-navbar.component.ts
  core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.spec.ts
  core/templates/pages/admin-page/services/admin-data.service.spec.ts
  core/templates/pages/admin-page/services/admin-router.service.spec.ts
  core/templates/pages/admin-page/services/admin-router.service.ts
  core/tests/webdriverio_utils/AdminPage.js
  index.yaml
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer

#19674 Fix part of #18384: Menu and general layout for learner dashboard redesign
  core/templates/pages/learner-dashboard-page/home-tab.component.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.css
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.spec.ts
  core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.ts
Labels: PR: LGTM

#19917 Fixes #19916 : Adds openExternalPDFLink() Method for Anchor Tag Verification for puppeteer acceptance tests.
  assets/i18n/en.json
  assets/i18n/hi.json
  assets/i18n/pcm.json
  assets/i18n/pt-br.json
  assets/i18n/sw.json
  assets/i18n/zh-hant.json
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/puppeteer-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/logged-in-users-utils.ts
Labels: PR: LGTM

#19947 Fix #19271: Fix Docker Failures on macOS from Failed Syscalls
  docker/dev-server.entrypoint.sh
  docker/patched_wsgi_server.py
  scripts/check_backend_associated_test_file.py
  scripts/linters/general_purpose_linter.py
  scripts/run_mypy_checks.py
Labels: PR: LGTM

#19846 Fix #19840: Added E2E tests for removing play later explorations.
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.html
  core/tests/webdriverio_desktop/learnerDashboard.js
  core/tests/webdriverio_utils/LearnerDashboardPage.js
Labels: PR: LGTM

#19931 fix part of #19499: add error message with wiki; remove unused script
  .github/CODEOWNERS
  .github/workflows/prettier.yml
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.spec.ts
  scripts/backend_test_shards.json
  scripts/backend_tests_incomplete_coverage.txt
  scripts/check_frontend_test_coverage.py
  scripts/create_topological_sort_of_all_services.py
  scripts/create_topological_sort_of_all_services_test.py
Labels: PR: LGTM

#19974 Fixes #19961 : Resolves the issue of Touching Cards/Tiles.
  core/templates/pages/classroom-page/classroom-page.component.css
Labels: PR: LGTM

#19901 Fix part of issue #19435: Migrate the Collection Player page to Angular Router
  assets/constants.ts
  core/controllers/access_validators.py
  core/controllers/access_validators_test.py
  core/controllers/collection_viewer.py
  core/controllers/collection_viewer_test.py
  core/templates/pages/collection-player-page/collection-footer/collection-footer.component.ts
  core/templates/pages/collection-player-page/collection-local-nav/collection-local-nav.component.ts
  core/templates/pages/collection-player-page/collection-navbar/collection-navbar.component.ts
  core/templates/pages/collection-player-page/collection-node-list/collection-node-list.component.ts
  core/templates/pages/collection-player-page/collection-player-auth.guard.spec.ts
  core/templates/pages/collection-player-page/collection-player-auth.guard.ts
  core/templates/pages/collection-player-page/collection-player-page-root.component.css
  core/templates/pages/collection-player-page/collection-player-page-root.component.html
  core/templates/pages/collection-player-page/collection-player-page-root.component.spec.ts
  core/templates/pages/collection-player-page/collection-player-page-root.component.ts
  core/templates/pages/collection-player-page/collection-player-page.component.ts
  core/templates/pages/collection-player-page/collection-player-page.mainpage.html
  core/templates/pages/collection-player-page/collection-player-page.module.ts
  core/templates/pages/oppia-root/routing/access-validation-backend-api.service.spec.ts
  core/templates/pages/oppia-root/routing/access-validation-backend-api.service.ts
  core/templates/pages/oppia-root/routing/app.routing.module.ts
  core/templates/services/angular-services.index.ts
  main.py
  webpack.common.config.ts
Labels: PR: LGTM

#20021 Fix #20018: (Flake) Classroom config tile selector is not visible.
  .github/workflows/e2e_lighthouse_performance_acceptance_tests.yml
  core/tests/webdriverio_utils/DiagnosticTestPage.js
Labels: PR: LGTM

#19938 Fix part of #18457: Add support for mobile acceptance tests.
  .github/workflows/e2e_lighthouse_performance_acceptance_tests.yml
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
  core/tests/puppeteer-acceptance-tests/functions/is-element-clickable.ts
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/console-reporter.ts
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/puppeteer-utils.ts
  core/tests/puppeteer-acceptance-tests/puppeteer-testing-utilities/test-constants.ts
  core/tests/puppeteer-acceptance-tests/spec/blog-editor-tests/try-to-publish-a-duplicate-blog-post-and-get-blocked.spec.ts
  core/tests/puppeteer-acceptance-tests/spec/helpers/reporter.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/blog-post-editor-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/logged-in-users-utils.ts
  core/tests/puppeteer-acceptance-tests/user-utilities/super-admin-utils.ts
  scripts/run_acceptance_tests.py
  scripts/run_acceptance_tests_test.py
  scripts/servers.py
  scripts/servers_test.py
  src/index.prod.html
  tsconfig.puppeteer-acceptance-tests.json
Labels: PR: LGTM

#19919 Fix #19387: Make it possible to generate certificate when the contributor has rule translation contributions.
  core/controllers/contributor_dashboard_test.py
  core/domain/suggestion_services.py
  core/domain/suggestion_services_test.py
Labels: PR: LGTM

#19948 Fixes #19066 : Scrolling vertically in menu.
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.css
  core/templates/components/common-layout-directives/navigation-bars/side-navigation-bar.component.html
Labels: PR: LGTM

#19963 Miscellaneous Fixes for Docker
  .github/CODEOWNERS
  Makefile
  assets/release_constants.json
  scripts/linters/general_purpose_linter.py
  scripts/pre_commit_hook.py
  scripts/pre_commit_hook_test.py
  tsconfig-strict.json
Labels: PR: LGTM

#20024 Fix #19552 and #19738 : Inconsistent margin in similar buttons and missing hover type on other
  core/templates/base-components/base.module.ts
  core/templates/components/button-directives/create-activity-button.component.html
  core/templates/components/button-directives/create-activity-button.component.spec.ts
  core/templates/components/button-directives/create-activity-button.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/learner-dashboard-page/community-lessons-tab.component.html
Labels: PR: LGTM

#20042 Fix #19866: Core exploration functionality should be able to create new category which is not in the dropdown menu.
  core/templates/pages/exploration-editor-page/exploration-editor-page.component.ts
Labels: PR: LGTM

#20058 Fix #20057: Prevent question editor buttons from being overlapped
  core/templates/components/question-directives/questions-list/questions-list.component.html
Labels: PR: LGTM

#20020 Update InteractionsByExplorationIdHandler to return a list of strings
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/templates/domain/admin/admin-backend-api.service.spec.ts
  core/templates/domain/admin/admin-backend-api.service.ts
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.html
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.spec.ts
  core/templates/pages/admin-page/misc-tab/admin-misc-tab.component.ts
Labels: PR: LGTM

#20060 Fix #20059: Console errors are not thrown inside acceptance tests.
  core/tests/puppeteer-acceptance-tests/spec/helpers/reporter.ts
Labels: PR: LGTM

#19973 Fix #19645: User with given username does not exist
  core/controllers/access_validators.py
  core/controllers/acl_decorators.py
  core/controllers/acl_decorators_test.py
  core/controllers/admin.py
  core/controllers/admin_test.py
  core/controllers/base.py
  core/controllers/blog_dashboard.py
  core/controllers/blog_homepage.py
  core/controllers/classifier.py
  core/controllers/classroom.py
  core/controllers/contributor_dashboard.py
  core/controllers/diagnostic_test_player.py
  core/controllers/editor.py
  core/controllers/learner_group.py
  core/controllers/library.py
  core/controllers/practice_sessions.py
  core/controllers/profile.py
  core/controllers/profile_test.py
  core/controllers/question_editor.py
  core/controllers/questions_list.py
  core/controllers/reader.py
  core/controllers/resources.py
  core/controllers/review_tests.py
  core/controllers/skill_editor.py
  core/controllers/skill_mastery.py
  core/controllers/story_viewer.py
  core/controllers/subtopic_viewer_test.py
  core/controllers/topic_editor.py
Labels: PR: LGTM, PR: Affects datastore layer

#20067 Fixes CSS issue in classroom admin page
  core/templates/pages/classroom-admin-page/classroom-admin-page.component.html
Labels: PR: LGTM

#20036 Remove Per-File Backend Coverage Checks
  .github/CODEOWNERS
  scripts/backend_tests_incomplete_coverage.txt
  scripts/run_backend_tests.py
  scripts/run_backend_tests_test.py
Labels: PR: LGTM

#20096 Make updates to clarify PR and issue templates.
  .github/ISSUE_TEMPLATE/1_bug_report_form.yml
  .github/ISSUE_TEMPLATE/3_ci_error_template.yml
  .github/ISSUE_TEMPLATE/4_server_error_template.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: LGTM

#20081 Fixes #20080 : Multiple Input Fields Exceeding MaxLength in Topic and Subtopic Editor.
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.html
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.spec.ts
  core/templates/pages/topic-editor-page/editor-tab/topic-editor-tab.directive.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/rearrange-skills-in-subtopics-modal.component.html
  core/templates/pages/topic-editor-page/modal-templates/rearrange-skills-in-subtopics-modal.component.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-topic-modal.component.html
Labels: PR: LGTM

#19954 Fix #19167: Allow reviewers to undo most recent submitted translation review.
  .github/CODEOWNERS
  core/templates/components/custom-snackbar/undo-snackbar.component.html
  core/templates/components/custom-snackbar/undo-snackbar.component.spec.ts
  core/templates/components/custom-snackbar/undo-snackbar.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.ts
Labels: PR: LGTM
