Repository oppia/oppia, pull requests merged in 2025-09, with the labels that each got.

#23198 [GSoC 2025] M2.12 - Fix part of #19217: Implement terminal card and response history functionality
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/components/recommendations/post-chapter-recommendations.component.css
  core/templates/components/recommendations/post-chapter-recommendations.component.html
  core/templates/components/recommendations/post-chapter-recommendations.component.spec.ts
  core/templates/components/recommendations/post-chapter-recommendations.component.ts
  core/templates/components/shared-component.module.ts
  core/templates/components/summary-tile/exploration-summary-tile.component.css
  core/templates/components/summary-tile/exploration-summary-tile.component.html
  core/templates/components/summary-tile/exploration-summary-tile.component.ts
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/conversation-display-components/conversation-display.component.css
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/conversation-display-components/conversation-display.component.html
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/conversation-display-components/conversation-display.component.spec.ts
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/conversation-display-components/conversation-display.component.ts
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/conversation-display-components/new-input-response-pair.component.html
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/conversation-display-components/new-ratings-and-recommendations.component.css
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/conversation-display-components/new-ratings-and-recommendations.component.html
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/conversation-display-components/new-ratings-and-recommendations.component.spec.ts
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/conversation-display-components/new-ratings-and-recommendations.component.ts
  core/templates/pages/exploration-player-page/new-lesson-player/header-components/player-header.component.ts
  core/templates/pages/exploration-player-page/new-lesson-player/lesson-player-page.component.css
Labels: PR: LGTM

#23224 [GSoC 2025] M2 - Fix part of #19217: Product demo fixes
  core/templates/components/shared-component.module.ts
  core/templates/css/oppia.css
  core/templates/pages/exploration-editor-page/preview-tab/preview-tab.component.html
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/conversation-display-components/conversation-display.component.css
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/new-conversation-skin.component.css
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/new-conversation-skin.component.html
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/supplemental-card.component.css
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/supplemental-card.component.html
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/supplemental-card.component.spec.ts
  core/templates/pages/exploration-player-page/new-lesson-player/conversation-skin-components/supplemental-card.component.ts
  core/templates/pages/exploration-player-page/new-lesson-player/sidebar-components/lesson-feedback-modal.component.spec.ts
  core/templates/pages/exploration-player-page/new-lesson-player/sidebar-components/lesson-feedback-modal.component.ts
  core/templates/pages/exploration-player-page/new-lesson-player/sidebar-components/lesson-player-sidebar.component.spec.ts
  core/templates/pages/exploration-player-page/new-lesson-player/sidebar-components/lesson-player-sidebar.component.ts
  core/templates/pages/exploration-player-page/new-lesson-player/sidebar-components/share-lesson-modal.component.css
  core/templates/pages/exploration-player-page/new-lesson-player/sidebar-components/share-lesson-modal.component.html
Labels: PR: LGTM

#23188 Always run the latest version of Oppiabot
  .github/workflows/oppiabot.yml
Labels: PR: LGTM

#23168 [GSoC 2025 - Acceptance Tests] M2.4 (Fixes part of #22716) - Implement Acceptance tests for Translation Coordinator (TC) and Practice Question Coordinator (QC)
  core/templates/pages/admin-page/roles-tab/translation-coordinator-role-editor-modal.component.html
  core/templates/pages/contributor-dashboard-admin-page/contributor-admin-dashboard-page.component.html
  core/templates/pages/contributor-dashboard-admin-page/question-role-editor-modal/cd-admin-question-role-editor-modal.component.html
  core/templates/pages/contributor-dashboard-admin-page/translation-role-editor-modal/cd-admin-translation-role-editor-modal.component.html
  core/templates/pages/contributor-dashboard-admin-page/username-input-modal/username-input-modal.component.html
  core/tests/ci-test-suite-configs/acceptance.json
  core/tests/puppeteer-acceptance-tests/specs/practice-question-coordinator/add-and-remove-question-rights.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/practice-question-coordinator/dev-desktop-screenshots/addQuestionRightsModal-snap.png
  core/tests/puppeteer-acceptance-tests/specs/practice-question-coordinator/dev-mobile-screenshots/addQuestionRightsModal-snap.png
  core/tests/puppeteer-acceptance-tests/specs/practice-question-coordinator/prod-desktop-screenshots/addQuestionRightsModal-snap.png
  core/tests/puppeteer-acceptance-tests/specs/practice-question-coordinator/prod-mobile-screenshots/addQuestionRightsModal-snap.png
  core/tests/puppeteer-acceptance-tests/specs/translation-coordinator/add-remove-translation-rights.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/translation-coordinator/dev-desktop-screenshots/addTranslationRightsModal-snap.png
  core/tests/puppeteer-acceptance-tests/specs/translation-coordinator/dev-mobile-screenshots/addTranslationRightsModal-snap.png
  core/tests/puppeteer-acceptance-tests/specs/translation-coordinator/prod-desktop-screenshots/addTranslationRightsModal-snap.png
  core/tests/puppeteer-acceptance-tests/specs/translation-coordinator/prod-mobile-screenshots/addTranslationRightsModal-snap.png
  core/tests/puppeteer-acceptance-tests/specs/voiceover-submitter/create-delete-and-update-status-of-voiceovers-of-the-explorations.spec.ts
  core/tests/puppeteer-acceptance-tests/utilities/common/puppeteer-utils.ts
  core/tests/puppeteer-acceptance-tests/utilities/common/test-constants.ts
  core/tests/puppeteer-acceptance-tests/utilities/common/user-factory.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/contributor-admin.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/practice-question-coordinator.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/super-admin.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/translation-coordinator.ts
Labels: PR: LGTM

#23252 Fix #23249: Added error message for when skill is not selected while adding a skillreview component
  core/templates/services/rte-helper-modal.component.spec.ts
  core/templates/services/rte-helper-modal.component.ts
Labels: PR: LGTM

#23329 [GSoC 2025] M2 - Fix part of #19851: Update rte_components to rte_component_config_id
  assets/rich_text_components_definitions.ts
  core/schema_utils_test.py
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts
  core/templates/components/review-material-editor/review-material-editor.component.spec.ts
  core/templates/components/review-material-editor/review-material-editor.component.ts
  core/templates/components/rubrics-editor/rubrics-editor.component.ts
  core/templates/components/state-directives/hint-editor/hint-editor.component.spec.ts
  core/templates/components/state-directives/hint-editor/hint-editor.component.ts
  core/templates/components/state-directives/outcome-editor/outcome-feedback-editor.component.spec.ts
  core/templates/components/state-directives/outcome-editor/outcome-feedback-editor.component.ts
  core/templates/components/state-directives/solution-editor/solution-editor.component.spec.ts
  core/templates/components/state-directives/solution-editor/solution-editor.component.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.spec.ts
  core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.ts
  core/templates/components/state-editor/state-content-editor/state-content-editor.component.ts
  core/templates/pages/blog-dashboard-page/blog-post-editor/blog-post-editor.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-hint-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.component.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.component.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.component.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.component.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.spec.ts
  core/templates/pages/topic-editor-page/modal-templates/create-new-subtopic-modal.component.ts
  core/templates/pages/topic-editor-page/subtopic-editor/add-study-guide-section.component.spec.ts
  core/templates/pages/topic-editor-page/subtopic-editor/add-study-guide-section.component.ts
  core/templates/pages/topic-editor-page/subtopic-editor/study-guide-section-editor.component.spec.ts
  core/templates/pages/topic-editor-page/subtopic-editor/study-guide-section-editor.component.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.spec.ts
  core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-skill-modal.component.spec.ts
  core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-skill-modal.component.ts
  core/templates/services/rte-helper.service.spec.ts
  extensions/interactions/DragAndDropSortInput/DragAndDropSortInput.py
  extensions/interactions/ItemSelectionInput/ItemSelectionInput.py
  extensions/interactions/MultipleChoiceInput/MultipleChoiceInput.py
  extensions/interactions/interaction_specs.json
  extensions/objects/templates/list-of-tabs-editor.component.spec.ts
  extensions/objects/templates/list-of-tabs-editor.component.ts
Labels: PR: LGTM

#23170 Fix #23015 : Ensure Practice Tab visibility matches learner view in topic preview
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.html
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.spec.ts
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.spec.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.ts
Labels: PR: LGTM

#23184 Fixes #20924: Add warning modal on exiting Question editor with unsaved changes
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.component.spec.ts
  core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.component.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.spec.ts
  core/templates/pages/skill-editor-page/skill-editor-page.component.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.spec.ts
  core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.spec.ts
  core/templates/pages/topic-editor-page/topic-editor-page.component.ts
Labels: PR: LGTM

#23283 Fixes part of #22793:Add a method to find the content of a given content ID
  core/domain/exp_domain.py
  core/domain/exp_domain_test.py
Labels: PR: LGTM

#23279 Upgrade as many 3rd party python libraries as possible, and drop some that are no longer used.
  .gcloudignore
  core/constants.py
  core/domain/platform_parameter_services.py
  core/jobs/batch_jobs/blog_post_search_indexing_jobs.py
  core/jobs/batch_jobs/exp_search_indexing_jobs.py
  core/jobs/batch_jobs/question_migration_jobs.py
  core/jobs/batch_jobs/skill_migration_jobs.py
  core/jobs/batch_jobs/story_migration_jobs.py
  core/jobs/batch_jobs/subtopic_migration_jobs.py
  core/jobs/batch_jobs/topic_migration_jobs.py
  core/jobs/jobs_manager.py
  core/utils.py
  core/utils_test.py
  extensions/objects/models/objects_test.py
  requirements.in
  requirements.txt
  requirements_dev.in
  requirements_dev.txt
  scripts/common.py
  scripts/common_test.py
  scripts/install_dependencies_json_packages_test.py
  scripts/install_python_prod_dependencies.py
  scripts/install_python_prod_dependencies_test.py
  scripts/linters/other_files_linter.py
  scripts/pre_push_hook.py
  scripts/pre_push_hook_test.py
  scripts/release_scripts/cut_release_or_hotfix_branch.py
  scripts/release_scripts/cut_release_or_hotfix_branch_test.py
  scripts/run_backend_tests_test.py
  scripts/run_mypy_checks.py
  scripts/servers.py
  scripts/servers_test.py
  setup_test.py
Labels: PR: Affects datastore layer

#23360 Fixes #23332 : Corrects the anchor link for the "BROWSE OUR LESSONS" button on Home tab in learner dashboard
  core/templates/pages/learner-dashboard-page/home-tab.component.ts
Labels: PR: LGTM

#23288 Fixes - 23264, 23268, 23272 : Resolve Learner Dashboard responsive issues and console errors
  assets/i18n/ar.json
  assets/i18n/en.json
  assets/i18n/qqq.json
  core/templates/pages/learner-dashboard-page/goal-list/goal-list.component.html
  core/templates/pages/learner-dashboard-page/goal-list/goal-list.component.spec.ts
  core/templates/pages/learner-dashboard-page/goal-list/goal-list.component.ts
  core/templates/pages/learner-dashboard-page/home-tab.component.ts
  core/tests/puppeteer-acceptance-tests/specs/logged-in-learner/choose-new-lesson-to-play-from-learner-dashboard.spec.ts
Labels: PR: LGTM

#23262 [GSoC 2025 - Acceptance Tests] M2.8 (Fixes part of #22716) - Implement Acceptance tests for RC, SM, and SA (from CUJ v3 Doc).
  core/templates/components/common-layout-directives/common-elements/promo-bar.component.html
  core/templates/pages/admin-page/platform-parameters-tab/admin-platform-parameters-tab.component.html
  core/templates/pages/moderator-page/moderator-page.component.html
  core/templates/pages/release-coordinator-page/beam-jobs-tab/beam-jobs-tab.component.html
  core/templates/pages/release-coordinator-page/navbar/release-coordinator-navbar.component.html
  core/templates/pages/release-coordinator-page/release-coordinator-page.component.html
  core/tests/ci-test-suite-configs/acceptance.json
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/dev-desktop-screenshots/releaseCoordinatorPage-snap.png
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/dev-mobile-screenshots/releaseCoordinatorPage-snap.png
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/enable-feature-flag.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/enable-the-promo-bar.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/flush-and-get-profile-of-redis-cache.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/flush-the-memory-cache.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/navigate-to-the-release-coordinator-page-beam-jobs-tab.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/prod-desktop-screenshots/releaseCoordinatorPage-snap.png
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/prod-mobile-screenshots/releaseCoordinatorPage-snap.png
  core/tests/puppeteer-acceptance-tests/specs/release-coordinator/update-promo-bar-message.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/check-recent-commits.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/check-recent-feedback-messages.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/dev-desktop-screenshots/moderatorPageFeaturedActivitiesTab-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/dev-desktop-screenshots/moderatorPageRecentFeedbackMessagesTab-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/dev-desktop-screenshots/siteModeratorPage-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/dev-mobile-screenshots/moderatorPageFeaturedActivitiesTab-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/dev-mobile-screenshots/moderatorPageRecentFeedbackMessagesTab-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/dev-mobile-screenshots/siteModeratorPage-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/featured-activities-section.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/prod-desktop-screenshots/moderatorPageFeaturedActivitiesTab-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/prod-desktop-screenshots/moderatorPageRecentFeedbackMessagesTab-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/prod-desktop-screenshots/siteModeratorPage-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/prod-mobile-screenshots/moderatorPageFeaturedActivitiesTab-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/prod-mobile-screenshots/moderatorPageRecentFeedbackMessagesTab-snap.png
  core/tests/puppeteer-acceptance-tests/specs/site-moderator/prod-mobile-screenshots/siteModeratorPage-snap.png
  core/tests/puppeteer-acceptance-tests/specs/super-admin/edit-platform-parameter.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/super-admin/edit-users-role.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/super-admin/use-misc-tab-feature.spec.ts
  core/tests/puppeteer-acceptance-tests/utilities/common/puppeteer-utils.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/exploration-editor.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/logged-in-user.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/logged-out-user.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/moderator.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/release-coordinator.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/super-admin.ts
Labels: PR: LGTM

#23367 Fix #23250: Fixed Rich Text Editor display error on Contributor Dashboard
  assets/constants.ts
  assets/rich_text_components_definitions.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.ts
  core/templates/services/rte-helper.service.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/curriculum-admin/dev-desktop-screenshots/sectionTileThreeContentEditable-snap.png
  core/tests/puppeteer-acceptance-tests/specs/curriculum-admin/dev-mobile-screenshots/sectionTileThreeContentEditable-snap.png
  core/tests/puppeteer-acceptance-tests/specs/curriculum-admin/prod-desktop-screenshots/sectionTileThreeContentEditable-snap.png
  core/tests/puppeteer-acceptance-tests/specs/curriculum-admin/prod-mobile-screenshots/sectionTileThreeContentEditable-snap.png
Labels: PR: LGTM, PR: Needs to be hotfixed

#23232 Handles unknown rte tags during voiceover regeneration
  core/domain/voiceover_regeneration_services.py
  core/domain/voiceover_regeneration_services_test.py
Labels: PR: LGTM

#23328 Fix #21889 inconsistent blog URLs between footer and teach page
  core/templates/app.constants.ts
  core/tests/puppeteer-acceptance-tests/utilities/common/test-constants.ts
Labels: PR: LGTM

#23373 [GSoC 2025 - Acceptance Tests] M2.9.1 (Fixes part of #22716) - Remove E2E tests covered by acceptance tests.
  core/tests/ci-test-suite-configs/e2e.json
  core/tests/wdio.conf.js
  core/tests/webdriverio/subscriptionsFlow.js
  core/tests/webdriverio_desktop/additionalEditorFeatures.js
  core/tests/webdriverio_desktop/blogDashboard.js
  core/tests/webdriverio_desktop/contributorAdminDashboard.js
  core/tests/webdriverio_desktop/explorationTranslationTab.js
  core/tests/webdriverio_desktop/navigation.js
  core/tests/webdriverio_desktop/profileFeatures.js
  core/tests/webdriverio_desktop/publicationAndLibrary.js
  core/tests/webdriverio_desktop/topicAndStoryEditorFileUploadFeatures.js
  core/tests/webdriverio_desktop/topicsAndSkillsDashboard.js
  core/tests/webdriverio_desktop/voiceoverUploadFeatures.js
  core/tests/webdriverio_utils/ProfilePage.js
Labels: PR: LGTM

#23076 Fix part of #15913: Upgrade mypy version from 0.812 to 1.0.1
  core/controllers/admin.py
  core/controllers/base.py
  core/controllers/base_test.py
  core/controllers/contributor_dashboard.py
  core/controllers/contributor_dashboard_admin.py
  core/controllers/editor.py
  core/controllers/question_editor_test.py
  core/controllers/reader_test.py
  core/controllers/voiceover_test.py
  core/domain/android_services_test.py
  core/domain/collection_domain.py
  core/domain/exp_domain.py
  core/domain/html_cleaner.py
  core/domain/question_domain.py
  core/domain/question_domain_test.py
  core/domain/rating_services_test.py
  core/domain/rte_component_registry.py
  core/domain/rte_component_registry_test.py
  core/domain/skill_domain.py
  core/domain/state_domain.py
  core/domain/state_domain_test.py
  core/domain/stats_domain.py
  core/domain/suggestion_services_test.py
  core/domain/user_domain_test.py
  core/domain/user_services.py
  core/domain/user_services_test.py
  core/domain/voiceover_domain.py
  core/domain/voiceover_domain_test.py
  core/domain/voiceover_services.py
  core/domain/voiceover_services_test.py
  core/jobs/base_jobs.py
  core/jobs/batch_jobs/exp_migration_jobs_test.py
  core/jobs/batch_jobs/story_migration_jobs_test.py
  core/jobs/job_utils.py
  core/platform/cache/redis_cache_services.py
  core/platform/storage/cloud_storage_emulator.py
  core/storage/base_model/gae_models.py
  core/storage/feedback/gae_models.py
  core/storage/suggestion/gae_models.py
  core/storage/user/gae_models.py
  core/storage/voiceover/gae_models.py
  core/storage/voiceover/gae_models_test.py
  core/tests/test_utils.py
  core/utils.py
  extensions/value_generators/models/generators.py
  requirements.txt
  requirements_dev.in
  requirements_dev.txt
  scripts/linters/python_linter_test.py
  scripts/linters/run_lint_checks.py
  scripts/run_portserver.py
  scripts/run_portserver_test.py
  stubs/bleach/__init__.pyi
  stubs/google/cloud/ndb/__init__.pyi
  stubs/google/cloud/ndb/context.pyi
  stubs/google/protobuf/__init__.pyi
  stubs/google/protobuf/timestamp_pb2.pyi
  stubs/requests/__init__.pyi
  stubs/yaml/__init__.pyi
Labels: PR: Affects datastore layer

#23419 [GSoC 2025 - Acceptance Tests] M2.9.2 (Fixes part of #22716) - Remove E2E tests covered by acceptance tests.
  core/tests/puppeteer-acceptance-tests/specs/exploration-creator/create-an-exploration-with-all-interactions.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/exploration-creator/exploration-history.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/exploration-creator/exploration-settings.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/logged-in-learner/edit-the-profile.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/logged-out-learner/use-the-feedback-and-help-cards.spec.ts
  core/tests/puppeteer-acceptance-tests/specs/topic-manager/edit-and-republish-a-skill.spec.ts
  core/tests/puppeteer-acceptance-tests/utilities/common/puppeteer-utils.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/exploration-editor.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/logged-in-user.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/logged-out-user.ts
  core/tests/puppeteer-acceptance-tests/utilities/user/topic-manager.ts
Labels: PR: LGTM
