Repository oppia/oppia, pull requests merged in 2025-05, with the labels that each got.

#22430 Fix Part of #10260 Remove the third party libs once they are not needed.
  core/templates/karma.module.ts
  core/templates/third-party-imports/dnd-lists.import.ts
  core/tests/root-files-config.json
  dependencies.json
Labels: PR: LGTM

#22580 Fix Part of #10260 Remove the third party libs once they are not needed. (Remove the remaning libs)
  core/templates/domain/exploration/hint-object.model.spec.ts
  core/templates/karma.module.ts
  core/templates/pages/teach-page/teach-page.component.spec.ts
  core/templates/third-party-imports/ui-tree.import.ts
  dependencies.json
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-rules.service.spec.ts
  extensions/objects/templates/normalized-string-editor.component.spec.ts
  extensions/objects/templates/unicode-string-editor.component.spec.ts
  package.json
  typings/angular-ui-validate-defs.d.ts
  yarn.lock
Labels: PR: LGTM

#22507 Fix the part #10700 of Refactor all migrated object factories to model.ts files in angular. (UnitsObjectFactory)
  core/templates/domain/exploration/SolutionObjectFactory.ts
  core/templates/domain/objects/NumberWithUnitsObjectFactory.ts
  core/templates/domain/objects/NumberWithUnitsObjectFactorySpec.ts
  core/templates/domain/objects/units.model.spec.ts
  core/templates/domain/objects/units.model.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/tests/root-files-config.json
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.spec.ts
Labels: PR: LGTM

#22382 Fix #19132: Resolve drag-and-drop console error when switching interaction rules
  core/templates/components/state-directives/rule-editor/rule-editor.component.ts
Labels: PR: LGTM

#22477 Fix #11371 Remove jquery events and .css constructs used in angularJS code
  core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/creator-dashboard-page/creator-dashboard-page.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.component.ts
  core/templates/pages/library-page/library-page.component.spec.ts
  core/templates/pages/library-page/library-page.component.ts
  core/templates/third-party-imports/midi-js.import.ts
  extensions/interactions/MusicNotesInput/directives/oppia-interactive-music-notes-input.component.ts
Labels: PR: LGTM

#22512 Fix the part #10700 of Refactor all migrated object factories to model.ts files in angular. (NumberWithUnitsObjectFactory)
  .github/codeql/codeql-config.yml
  core/templates/domain/exploration/SolutionObjectFactory.ts
  core/templates/domain/objects/number-with-units.model.spec.ts
  core/templates/domain/objects/number-with-units.model.ts
  core/templates/domain/objects/objects-domain.constants.spec.ts
  core/templates/filters/parameterize-rule-description.pipe.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/tests/root-files-config.json
  extensions/interactions/NumberWithUnits/directives/number-with-units-rules.service.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.spec.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.spec.ts
  extensions/interactions/NumberWithUnits/directives/oppia-interactive-number-with-units.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-response-number-with-units.component.ts
  extensions/interactions/NumberWithUnits/directives/oppia-short-response-number-with-units.component.ts
  extensions/objects/templates/number-with-units-editor.component.ts
Labels: PR: LGTM

#22534 Fix the part #10700 of Refactor all migrated object factories to model.ts files in angular. (MisconceptionObjectFactory)
  core/templates/components/question-directives/question-editor/question-editor.component.ts
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.spec.ts
  core/templates/components/question-directives/question-misconception-editor/question-misconception-editor.component.ts
  core/templates/components/question-directives/question-misconception-editor/tag-misconception-modal-component.spec.ts
  core/templates/components/question-directives/question-misconception-editor/tag-misconception-modal-component.ts
  core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.spec.ts
  core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.ts
  core/templates/components/question-directives/questions-list/questions-list.component.spec.ts
  core/templates/components/question-directives/questions-list/questions-list.component.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.spec.ts
  core/templates/components/state-editor/state-responses-editor/state-responses.component.ts
  core/templates/domain/editor/undo_redo/change.model.ts
  core/templates/domain/question/QuestionObjectFactory.ts
  core/templates/domain/skill/SkillObjectFactory.ts
  core/templates/domain/skill/SkillObjectFactorySpec.ts
  core/templates/domain/skill/misconception.model.spec.ts
  core/templates/domain/skill/misconception.model.ts
  core/templates/domain/skill/skill-update.service.spec.ts
  core/templates/domain/skill/skill-update.service.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.spec.ts
  core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.component.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.component.spec.ts
  core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.component.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/misconception-editor.component.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.component.spec.ts
  core/templates/pages/skill-editor-page/editor-tab/skill-misconceptions-editor/skill-misconceptions-editor.component.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.component.spec.ts
  core/templates/pages/skill-editor-page/modal-templates/add-misconception-modal.component.ts
  core/templates/pages/topic-editor-page/modal-templates/questions-opportunities-select-difficulty-modal.component.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/question-validation.service.spec.ts
  core/templates/services/question-validation.service.ts
Labels: PR: LGTM

#22615 Fix #22358: Practice session tab page name changed
  core/templates/pages/practice-session-page/practice-session-page.component.ts
Labels: PR: LGTM

#22493 Fix part of #18384 & #21489: Implemented explorations (community lessons) setup for learner dashboard redesign acceptance test
  core/templates/pages/learner-dashboard-page/home-tab.component.html
  core/tests/ci-test-suite-configs/acceptance.json
  core/tests/puppeteer-acceptance-tests/specs/logged-in-user/manage-exploration-progress-in-learner-dashboard.spec.ts
  scripts/common.py
Labels: PR: LGTM

#22598 Fix the Part of ##10260 remove angularLeaflet and Ui_codemirror
  core/templates/components/forms/schema-based-editors/schema-based-unicode-editor.component.ts
  core/templates/third-party-imports/codemirror.import.ts
  core/templates/third-party-imports/leaflet.import.ts
  core/templates/third-party-imports/midi-js.import.ts
  dependencies.json
  extensions/interactions/InteractiveMap/InteractiveMap.py
  scripts/linters/test_files/invalid_fileoverview.ts
  scripts/linters/test_files/valid.ts
Labels: PR: LGTM

#22611 Fix part of #10700: Refactor of SubtitledUnicodeObjectFactory
  core/templates/components/state-editor/state-editor-properties-services/state-editor.service.spec.ts
  core/templates/domain/exploration/ExplorationObjectFactorySpec.ts
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactorySpec.ts
  core/templates/domain/exploration/StatesObjectFactorySpec.ts
  core/templates/domain/exploration/subtitled-unicode.model.spec.ts
  core/templates/domain/exploration/subtitled-unicode.model.ts
  core/templates/domain/objects/BaseTranslatableObject.model.spec.ts
  core/templates/domain/objects/BaseTranslatableObject.model.ts
  core/templates/domain/state_card/state-card.model.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/customize-interaction-modal.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/state-translation/state-translation.component.ts
  core/templates/pages/exploration-player-page/services/content-translation-manager.service.spec.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/angular-services.index.ts
  core/templates/services/exploration-html-formatter.service.spec.ts
  core/templates/services/extension-tag-assembler.service.ts
  core/templates/services/schema-default-value.service.spec.ts
  core/templates/services/schema-default-value.service.ts
  core/tests/root-files-config.json
  extensions/interactions/Continue/directives/continue-validation.service.spec.ts
  extensions/interactions/FractionInput/directives/fraction-input-validation.service.spec.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-validation.service.spec.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.spec.ts
  extensions/interactions/SetInput/directives/set-input-validation.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.ts
  extensions/interactions/customization-args-defs.ts
  extensions/objects/templates/subtitled-unicode-editor.component.spec.ts
  extensions/objects/templates/subtitled-unicode-editor.component.ts
  typings/tests/customization-args-defs-test.ts
Labels: PR: LGTM

#22062 Fix issue #20405: Add Duplicate answer group in the validation warning list, Display warning message for all interaction error
  core/templates/app.constants.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.spec.ts
  core/templates/pages/exploration-editor-page/services/exploration-warnings.service.ts
  core/templates/services/question-validation.service.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-validation.service.spec.ts
  extensions/interactions/AlgebraicExpressionInput/directives/algebraic-expression-input-validation.service.ts
  extensions/interactions/CodeRepl/directives/code-repl-validation.service.spec.ts
  extensions/interactions/CodeRepl/directives/code-repl-validation.service.ts
  extensions/interactions/Continue/directives/continue-validation.service.spec.ts
  extensions/interactions/Continue/directives/continue-validation.service.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.spec.ts
  extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-validation.service.ts
  extensions/interactions/EndExploration/directives/end-exploration-validation.service.spec.ts
  extensions/interactions/EndExploration/directives/end-exploration-validation.service.ts
  extensions/interactions/FractionInput/directives/fraction-input-validation.service.spec.ts
  extensions/interactions/FractionInput/directives/fraction-input-validation.service.ts
  extensions/interactions/ImageClickInput/directives/image-click-input-validation.service.spec.ts
  extensions/interactions/ImageClickInput/directives/image-click-input-validation.service.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-validation.service.spec.ts
  extensions/interactions/ItemSelectionInput/directives/item-selection-input-validation.service.ts
  extensions/interactions/MathEquationInput/directives/math-equation-input-validation.service.spec.ts
  extensions/interactions/MathEquationInput/directives/math-equation-input-validation.service.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-validation.service.spec.ts
  extensions/interactions/MultipleChoiceInput/directives/multiple-choice-input-validation.service.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-validation.service.spec.ts
  extensions/interactions/MusicNotesInput/directives/music-notes-input-validation.service.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.spec.ts
  extensions/interactions/NumberWithUnits/directives/number-with-units-validation.service.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-validation.service.spec.ts
  extensions/interactions/NumericExpressionInput/directives/numeric-expression-input-validation.service.ts
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.spec.ts
  extensions/interactions/NumericInput/directives/numeric-input-validation.service.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.spec.ts
  extensions/interactions/PencilCodeEditor/directives/pencil-code-editor-validation.service.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.spec.ts
  extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.ts
  extensions/interactions/SetInput/directives/set-input-validation.service.spec.ts
  extensions/interactions/SetInput/directives/set-input-validation.service.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.spec.ts
  extensions/interactions/TextInput/directives/text-input-validation.service.ts
Labels: PR: LGTM

#22495 Fix #20640: Resolve flakiness in language selection acceptance test.
  core/tests/puppeteer-acceptance-tests/utilities/user/exploration-editor.ts
Labels: PR: LGTM

#21874 Fix #21623 [BUG]: Discrepancy Between Topic Preview and Learner View
  core/templates/pages/learner-dashboard-page/old-progress-tab.component.html
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.html
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.spec.ts
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.html
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.spec.ts
  core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts
  core/templates/pages/topic-viewer-page/topic-viewer-page.component.html
Labels: PR: LGTM

#22447 Remove reference of md-* and replace with Angular Material
  core/templates/base-components/no-script.template.html
  core/templates/components/button-directives/hint-and-solution-buttons.component.css
  core/templates/components/button-directives/hint-and-solution-buttons.component.html
  core/templates/components/forms/schema-based-editors/schema-based-int-editor.component.html
  core/templates/components/question-difficulty-selector/question-difficulty-selector.component.html
  core/templates/css/oppia.css
  core/templates/pages/admin-page/navbar/admin-navbar.component.html
  core/templates/pages/blog-admin-page/navbar/blog-admin-navbar.component.html
  core/templates/pages/collection-player-page/collection-player-page-root.component.css
  core/templates/pages/exploration-editor-page/editor-tab/exploration-editor-tab.component.html
  core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-or-update-solution-modal.component.html
  core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.component.html
  core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.css
  core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
  core/templates/pages/exploration-player-page/learner-experience/ratings-and-recommendations.component.html
  core/templates/pages/exploration-player-page/learner-experience/tutor-card.component.css
  core/templates/pages/exploration-player-page/modals/display-hint-modal.component.html
  core/templates/pages/exploration-player-page/modals/display-solution-interstitial-modal.component.html
  core/templates/pages/exploration-player-page/modals/display-solution-modal.component.html
  core/templates/pages/exploration-player-page/modals/refresher-exploration-confirmation-modal.component.html
  core/templates/pages/skill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-editor.component.html
  core/templates/pages/story-viewer-page/story-viewer-page-root.component.css
  core/templates/pages/story-viewer-page/story-viewer-page.component.css
  core/templates/pages/topic-editor-page/preview-tab/topic-preview-tab.component.html
  extensions/interactions/ItemSelectionInput/static/item_selection_input.css
Labels: PR: LGTM

#22537 Fix#21294: Added logging code to print logs.
  scripts/inactive_issue_checker.py
Labels: PR: LGTM

#22662 Fix #22651: Revert "Fix #18795: Remove the function convert_millisecs_time_to_datetime_object and its uses (#21205)"
  core/controllers/access_validators_test.py
  core/controllers/learner_group_test.py
  core/controllers/review_tests_test.py
  core/controllers/story_viewer_test.py
  core/controllers/topic_editor.py
  core/controllers/topic_editor_test.py
  core/domain/story_domain.py
  core/domain/story_domain_test.py
  core/domain/story_services_test.py
  core/domain/topic_services_test.py
  core/jobs/batch_jobs/story_migration_jobs_test.py
  core/templates/components/summary-tile/learner-story-summary-tile.component.spec.ts
  core/templates/components/summary-tile/learner-topic-goals-summary-tile.component.spec.ts
  core/templates/components/summary-tile/learner-topic-summary-tile.component.spec.ts
  core/templates/components/summary-tile/lesson-card.component.spec.ts
  core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.spec.ts
  core/templates/domain/learner_group/learner-group-syllabus-backend-api.service.spec.ts
  core/templates/domain/learner_group/learner-group-syllabus.model.spec.ts
  core/templates/domain/learner_group/learner-group-user-progress.model.spec.ts
  core/templates/domain/story/editable-story-backend-api.service.spec.ts
  core/templates/domain/story/story-contents-object.model.spec.ts
  core/templates/domain/story/story-node.model.spec.ts
  core/templates/domain/story/story-summary.model.spec.ts
  core/templates/domain/story/story-update.service.spec.ts
  core/templates/domain/story/story-validation.service.spec.ts
  core/templates/domain/story/story.model.spec.ts
  core/templates/domain/topic/learner-topic-summary.model.spec.ts
  core/templates/domain/topic_viewer/read-only-topic-object.factory.spec.ts
  core/templates/domain/topic_viewer/topic-viewer-backend-api.service.spec.ts
  core/templates/pages/learner-dashboard-page/goal-list/goal-list.component.spec.ts
  core/templates/pages/learner-dashboard-page/goals-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/home-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/progress-tab.component.spec.ts
  core/templates/pages/learner-dashboard-page/skill-card/skill-card.component.spec.ts
  core/templates/pages/learner-group-pages/edit-group/learner-group-learner-specific-progress.component.spec.ts
  core/templates/pages/learner-group-pages/edit-group/learner-group-learners-progress.component.spec.ts
  core/templates/pages/learner-group-pages/edit-group/learner-group-overview.component.spec.ts
  core/templates/pages/learner-group-pages/view-group/learner-group-view-assigned-syllabus.component.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-editor.component.spec.ts
  core/templates/pages/story-editor-page/editor-tab/story-node-editor.component.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar-breadcrumb.component.spec.ts
  core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.spec.ts
  core/templates/pages/story-editor-page/services/story-editor-staleness-detection.service.spec.ts
  core/templates/pages/story-editor-page/story-preview-tab/story-preview-tab.component.spec.ts
  core/utils.py
  core/utils_test.py
Labels: PR: LGTM

#22592 Deletes stale voiceover data from models
  core/jobs/batch_jobs/delete_voiceover_models_data_job.py
  core/jobs/batch_jobs/delete_voiceover_models_data_job_test.py
  core/jobs/registry.py
  scripts/backend_test_shards.json
Labels: PR: Affects datastore layer

#22600 Automatic voiceover regeneration for exploration contents
  .github/CODEOWNERS
  assets/constants.ts
  core/controllers/voiceover.py
  core/controllers/voiceover_test.py
  core/domain/voiceover_domain.py
  core/domain/voiceover_domain_test.py
  core/domain/voiceover_regeneration_services.py
  core/domain/voiceover_regeneration_services_test.py
  core/domain/voiceover_services.py
  core/feconf.py
  core/platform/models.py
  core/platform/models_test.py
  core/platform/speech_synthesis/azure_speech_synthesis_services.py
  core/platform/speech_synthesis/azure_speech_synthesis_services_test.py
  core/templates/app.constants.ts
  core/templates/domain/exploration/InteractionObjectFactory.ts
  core/templates/domain/exploration/InteractionObjectFactorySpec.ts
  core/templates/domain/exploration/SolutionObjectFactory.ts
  core/templates/domain/exploration/SolutionObjectFactorySpec.ts
  core/templates/domain/exploration/hint-object.model.spec.ts
  core/templates/domain/exploration/hint-object.model.ts
  core/templates/domain/exploration/voiceover.model.ts
  core/templates/domain/state/StateObjectFactory.ts
  core/templates/domain/state/StateObjectFactorySpec.ts
  core/templates/domain/voiceover/entity-voiceovers.model.spec.ts
  core/templates/domain/voiceover/entity-voiceovers.model.ts
  core/templates/domain/voiceover/voiceover-backend-api.service.spec.ts
  core/templates/domain/voiceover/voiceover-backend-api.service.ts
  core/templates/domain/voiceover/voiceover-domain.constants.ts
  core/templates/pages/exploration-editor-page/exploration-editor-page.module.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.spec.ts
  core/templates/pages/exploration-editor-page/services/change-list.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.ts
  core/templates/pages/exploration-editor-page/translation-tab/translator-overview/translator-overview.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/voiceover-card/modals/automatic-voiceover-regeneration-confirm-modal.component.html
  core/templates/pages/exploration-editor-page/translation-tab/voiceover-card/modals/automatic-voiceover-regeneration-confirm-modal.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/voiceover-card/modals/automatic-voiceover-regeneration-confirm-modal.component.ts
  core/templates/pages/exploration-editor-page/translation-tab/voiceover-card/voiceover-card.component.html
  core/templates/pages/exploration-editor-page/translation-tab/voiceover-card/voiceover-card.component.spec.ts
  core/templates/pages/exploration-editor-page/translation-tab/voiceover-card/voiceover-card.component.ts
  core/templates/pages/voiceover-admin-page/voiceover-admin-page.component.html
  core/templates/pages/voiceover-admin-page/voiceover-admin-page.component.spec.ts
  core/templates/pages/voiceover-admin-page/voiceover-admin-page.component.ts
  core/templates/services/UpgradedServices.ts
  core/templates/services/entity-voiceovers.services.spec.ts
  core/templates/services/entity-voiceovers.services.ts
  core/templates/services/voiceover-language-management-service.spec.ts
  core/templates/services/voiceover-language-management-service.ts
  main.py
Labels: PR: LGTM, PR: Affects datastore layer

#22453 Fix Issue #20463: Adds Warning Message for Invalid Activity IDs entered on Moderator Page Featured Activities Tab
  core/controllers/moderator.py
  core/controllers/moderator_test.py
  core/domain/summary_services.py
  core/domain/summary_services_test.py
  core/templates/pages/moderator-page/moderator-page.component.spec.ts
  core/templates/pages/moderator-page/moderator-page.component.ts
Labels: PR: LGTM

#22658 Fix part of #22514: Allow submitting answers with the Enter key in item selection input
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.spec.ts
  extensions/interactions/ItemSelectionInput/directives/oppia-interactive-item-selection-input.component.ts
Labels: PR: LGTM
